-most-aware-soI9WCENl3v66XBW.json
{"createdAt":"2025-09-03T01:42:22.262Z","updatedAt":"2025-10-16T06:36:35.823Z","id":"soI9WCENl3v66XBW","name":"EDIT 8 - Unaware / Problem Aware / Solution Aware / Product Aware / Most Aware","active":false,"isArchived":false,"nodes":[{"parameters":{"tableId":"awareness_stages","fieldsUi":{"fieldValues":[{"fieldId":"client_id","fieldValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"},{"fieldId":"company","fieldValue":"={{ $('Get Business Profile').item.json.company }}"},{"fieldId":"problem_unaware","fieldValue":"={{ $json.output.stages[0] }}"},{"fieldId":"problem_aware","fieldValue":"={{ $json.output.stages[1] }}"},{"fieldId":"solution_aware","fieldValue":"={{ $json.output.stages[2] }}"},{"fieldId":"product_aware","fieldValue":"={{ $json.output.stages[3] }}"},{"fieldId":"most_aware","fieldValue":"={{ $json.output.stages[4] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[640,560],"id":"25b1b450-58f6-4713-b561-76c7b1d0729b","name":"Supabase1","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}},"onError":"continueErrorOutput"},{"parameters":{"promptType":"define","text":"=ALWAYS USE THE TOOL TO PULL CHUNKS FROM THE VECTOR DATABASE\n\n**Analyze the provided context from THE COMPANY:**\n\n- **Company Name:** \n{{ $('Get Business Profile').item.json.company }}\n\n- **Offer:** \n{{ $('Get Business Profile').item.json.offer }}\n\n- **Industry:** \n{{ $('Get Business Profile').item.json.industry }}\n\n- **Primary Target Market:**\n{{ JSON.stringify($('Get Target Market').item.json.primary_target_market, null, 2) }}\n\n- **Secondary Target Market:**\n-{{ JSON.stringify($('Get Target Market').item.json.secondary_target_market, null, 2) }}\n\n","hasOutputParser":true,"options":{"systemMessage":"=**Role and Objective**\nYou are a marketing strategist with deep expertise in target market segmentation and digital marketing. Your objective is to analyze the provided context, inputs, and vector database outputs to build a detailed awareness matrix. This matrix should segment the target market into five awareness stages: Unaware, Problem Aware, Solution Aware, Product Aware, and Most Aware. For each stage, generate specific insights into audience mindset, objections, behaviors, and content recommendations.\n\n**Instructions**\n\nAlways use the tool provided to extract relevant data chunks from the vector database.\n\nCarefully review all input context, testimonials, interviews, onboarding questionnaires, competitor analysis, and any supporting documentation.\n\nFor each awareness stage, provide actionable, specific outputs as described below:\n\n**Problem Unaware Stage**\n\nWhat problem they mistakenly believe they have.\n\nTheir common misconceptions or lack of awareness regarding the problem.\n\nTheir behavioral habits and how they interact with the market.\n\n**Problem Aware Stage**\n\nHow they articulate their frustrations and pain points.\n\nCommon search queries or questions they might use.\n\nRelevant jargon they use to describe their problem.\n\n**Solution Aware Stage**\n\nWhat they are looking for in a solution.\n\nThe solutions they are considering and how they compare them.\n\nTheir primary objections or concerns.\n\n**Product Aware Stage**\n\nThe competing solution options they are comparing.\n\nTheir main objections or concerns and decision factors.\n\n**Most Aware Stage**\n\nThe final questions or barriers that need to be addressed.\n\nThe type of incentive or messaging needed to close the deal.\n\nExplicitly identify any common misconceptions about the solution, offer, industry, and company within your analysis.\n\nReturn your findings as a valid JSON schema object. Do not include any extra fields beyond those required.\n\n**Reasoning Steps**\n\nStart by reviewing and understanding the input context, including all data sources provided.\n\nUse the tool to search the vector database for insights relevant to each awareness stage. Focus on internal dialogue, objections, actions/inactions, and behavioral habits described in customer-facing documents.\n\nAddress both the input context and relevant chunks retrieved from the vector database in your analysis.\n\nSynthesize actionable insights, content recommendations, and stage-specific objections and misconceptions for each awareness level.\n\nEnsure that your output meets all content and structural requirements as specified.\n\n**Context**\nYou have access to input context, supporting documentation, and a vector database containing detailed contextual insights and data chunks about the business, its target market, and competitors. Use all available information to ensure a thorough and accurate analysis. The awareness matrix will inform messaging, content planning, and campaign strategy.\n\n**Final instructions and prompt to think step by step**\nCarefully review all available input context and tool outputs from the vector database before generating your awareness matrix.\nThink step by step: first, break down the target market by awareness stage; second, detail their mindset, behaviors, objections, and content needs; third, explicitly document misconceptions at each stage.\nReturn your findings as a valid JSON schema object, ensuring your output is complete and strictly adheres to the required structure. Do not yield control until all requirements are fully met.\n\n\n\n**Output Requirements:**\n        \nYour final answer must be in valid JSON following the schema below:\n\n**Analysis:**\n**YOU MUST ALWAYS USE THE TOOL** to extract relevant chunks from the vector database. Examine all provided context and inputs.\n        \n    {\n  \"stages\": [\n    {\n      \"stage\": \"Problem Unaware\",\n      \"description\": \"Detailed description of the stage including behaviors, context, and internal dialogue.\",\n      \"outputs\": {\n        \"perceivedProblem\": \"What problem they mistakenly believe they have.\",\n        \"behaviors\": \"Common behaviors and habits at this stage.\",\n        \"interactionExamples\": \"Examples of how they interact with the market.\"\n      }\n    },\n    {\n      \"stage\": \"Problem Aware\",\n      \"description\": \"Detailed description of the stage including how they articulate their problem and internal dialogue.\",\n      \"outputs\": {\n        \"articulatedPainPoints\": \"Pain points and frustrations as expressed by the target market.\",\n        \"searchQueries\": \"Common search terms or questions they might use.\"\n      }\n    },\n    {\n      \"stage\": \"Solution Aware\",\n      \"description\": \"Detailed description of the stage including comparison of potential solutions and customer thought process.\",\n      \"outputs\": {\n        \"solutionCriteria\": \"Features or benefits they are seeking in a solution.\",\n        \"competingSolutions\": \"List of other solutions they are considering.\",\n        \"primaryObjections\": \"Key objections or concerns at this stage.\"\n      }\n    },\n    {\n      \"stage\": \"Product Aware\",\n      \"description\": \"Detailed description of the stage focusing on comparisons with competitors and internal concerns.\",\n      \"outputs\": {\n        \"comparisonOptions\": \"Competing solution options they are evaluating.\",\n        \"decisionFactors\": \"Factors they consider when comparing options.\"\n      }\n    },\n    {\n      \"stage\": \"Most Aware\",\n      \"description\": \"Detailed description of the stage where the customer is close to purchasing, including their final internal dialogue.\",\n      \"outputs\": {\n        \"finalBarriers\": \"Final questions or barriers that need to be overcome.\"\n      }\n    }\n  ]\n}\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[48,592],"id":"03f15417-c4f6-4e23-b78c-89e0b0e44d23","name":"AI Agent","onError":"continueErrorOutput"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"stages\": [\n    {\n      \"stage\": \"Problem Unaware\",\n      \"description\": \"Detailed description of the stage including behaviors, context, and internal dialogue.\",\n      \"outputs\": {\n        \"perceivedProblem\": \"What problem they mistakenly believe they have.\",\n        \"behaviors\": \"Common behaviors and habits at this stage.\",\n        \"interactionExamples\": \"Examples of how they interact with the market.\"\n      }\n    },\n    {\n      \"stage\": \"Problem Aware\",\n      \"description\": \"Detailed description of the stage including how they articulate their problem and internal dialogue.\",\n      \"outputs\": {\n        \"articulatedPainPoints\": \"Pain points and frustrations as expressed by the target market.\",\n        \"searchQueries\": \"Common search terms or questions they might use.\"\n      }\n    },\n    {\n      \"stage\": \"Solution Aware\",\n      \"description\": \"Detailed description of the stage including comparison of potential solutions and customer thought process.\",\n      \"outputs\": {\n        \"solutionCriteria\": \"Features or benefits they are seeking in a solution.\",\n        \"competingSolutions\": \"List of other solutions they are considering.\",\n        \"primaryObjections\": \"Key objections or concerns at this stage.\"\n      }\n    },\n    {\n      \"stage\": \"Product Aware\",\n      \"description\": \"Detailed description of the stage focusing on comparisons with competitors and internal concerns.\",\n      \"outputs\": {\n        \"comparisonOptions\": \"Competing solution options they are evaluating.\",\n        \"decisionFactors\": \"Factors they consider when comparing options.\"\n      }\n    },\n    {\n      \"stage\": \"Most Aware\",\n      \"description\": \"Detailed description of the stage where the customer is close to purchasing, including their final internal dialogue.\",\n      \"outputs\": {\n        \"finalBarriers\": \"Final questions or barriers that need to be overcome.\"\n      }\n    }\n  ]\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[368,832],"id":"7e31fbca-243f-4d19-80d8-2b37aeef4ed5","name":"Structured Output Parser"},{"parameters":{"mode":"retrieve-as-tool","toolName":"misconceptions","toolDescription":"=Retrieves relevant content from the vector store to find testimonials, interviews, onboarding questionnaires that help to Create a detailed breakdown of our target market based on the stages of problem-solution awareness.","pineconeIndex":{"__rl":true,"value":"=onboarding","mode":"id"},"topK":10,"options":{"pineconeNamespace":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[80,1072],"id":"723ad36f-eb1b-4100-8346-15556ed9f713","name":"Pinecone Vector Store1","credentials":{"pineconeApi":{"id":"axuYyU6grhcC8CQp","name":"PineconeApi account"}}},{"parameters":{"model":"text-embedding-3-large","options":{"dimensions":3072}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[208,1264],"id":"748de76c-4950-43e6-8634-02b24d7cc28c","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{"content":"## Bubble webhook\n**Need to have Client ID sent via webhook","height":360,"width":260},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1504,448],"id":"fdb39441-dd5f-4a13-be01-42d66bbc368a","name":"Sticky Note"},{"parameters":{"content":"## Change Search to ClientID In Production\n\nCurrently We are just searching for \"Tonic Living\"","height":380,"width":440},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1024,400],"id":"0df26c8f-0899-48c8-bd18-1f8caf15ce3a","name":"Sticky Note1"},{"parameters":{"content":"## AI Model \nCurrently set\nto 4.1","height":220,"width":360,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-256,752],"id":"cf550136-385d-4511-84b2-1ce955accb1f","name":"Sticky Note3"},{"parameters":{"content":"## Handle Error\nIn production add error handling for data duplication with same ID\n","height":280,"width":380},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[528,448],"id":"0186016e-b8f7-42e1-832d-5df4604524fc","name":"Sticky Note4"},{"parameters":{"content":"## Prompt Notes\n- Am not using \"solution\" \n- Need prompt for solution\n","color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[48,432],"id":"8ef7e15a-2c92-4b17-897b-c0374a25aee5","name":"Sticky Note5"},{"parameters":{"content":"## Notes about run\n\nRun Time: \n\n## Analyze outputs\n- Determine with Client if outputs need to be more specific\n- Possibly break up each agent for a specific output to pull relevant chunks\n- Double check inputs for user prompt as well","height":380,"width":700,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1200,944],"id":"5adc613d-67a9-4b36-8bde-b5440ca061e9","name":"Sticky Note6"},{"parameters":{"content":"\n\nHave error handling if fails\n","height":80,"width":150},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[352,640],"id":"229a6e49-9076-434f-9993-59f88001e260","name":"Sticky Note7"},{"parameters":{"operation":"get","tableId":"target_market_profiles","filters":{"conditions":[{"keyName":"client_id","keyValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1008,608],"id":"eddd97a5-f276-4a18-9fb7-7a207a02e714","name":"Get Target Market","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"operation":"get","tableId":"business_profiles","filters":{"conditions":[{"keyName":"client_id","keyValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-736,608],"id":"3e933cd4-af09-4550-a808-cee66dd92b2b","name":"Get Business Profile","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"content":"## Change search ID\n","height":200,"width":480},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-48,992],"id":"62598269-0758-470e-8481-94e981f88bd8","name":"Sticky Note8"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-16,832],"id":"353e5966-c904-4c09-bf67-20906b2c0bae","name":"AI","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{"httpMethod":"POST","path":"8c6fe5c3-d21e-44b4-b6e5-5c33269b9611","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1408,560],"id":"b6683c22-2931-440b-8f26-bfc1c92c9e00","name":"Webhook","webhookId":"8c6fe5c3-d21e-44b4-b6e5-5c33269b9611"},{"parameters":{"workflowInputs":{"values":[{"name":"client_id"},{"name":"Overwrite"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1424,720],"id":"43238cf6-3e37-4ae2-9dfe-d82baff44ff7","name":"When Executed by Another Workflow"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0b01e0ec-c766-4b22-9f4a-9c95f327539e","leftValue":"={{ $('When Executed by Another Workflow').item.json['Overwrite'] }}","rightValue":"no","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[432,576],"id":"752f7efe-5506-4137-81c9-071a9f5c2c5b","name":"If"},{"parameters":{"operation":"update","tableId":"awareness_stages","filters":{"conditions":[{"keyName":"client_id","condition":"eq","keyValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"company","fieldValue":"={{ $('Get Business Profile').item.json.company }}"},{"fieldId":"problem_unaware","fieldValue":"={{ $json.output.stages[0] }}"},{"fieldId":"problem_aware","fieldValue":"={{ $json.output.stages[1] }}"},{"fieldId":"solution_aware","fieldValue":"={{ $json.output.stages[2] }}"},{"fieldId":"product_aware","fieldValue":"={{ $json.output.stages[3] }}"},{"fieldId":"most_aware","fieldValue":"={{ $json.output.stages[4] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[640,736],"id":"77a9c120-98f0-4a02-b224-494d44759704","name":"Supabase","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}},"onError":"continueErrorOutput"}],"connections":{"AI Agent":{"main":[[{"node":"If","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Pinecone Vector Store1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store1","type":"ai_embedding","index":0}]]},"Get Target Market":{"main":[[{"node":"Get Business Profile","type":"main","index":0}]]},"Get Business Profile":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Webhook":{"main":[[]]},"When Executed by Another Workflow":{"main":[[{"node":"Get Target Market","type":"main","index":0}]]},"If":{"main":[[{"node":"Supabase1","type":"main","index":0}],[{"node":"Supabase","type":"main","index":0}]]},"Supabase1":{"main":[[],[{"node":"Supabase","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"primary-production-cea5.up.railway.app","user-agent":"Bubble","content-length":"196","accept-encoding":"gzip, deflate","baggage":"bubblegroup.client.version=b3f89cf0e5d18b3c8f061626f6a124f0b4e87a58,bubblegroup.client.commit_timestamp=1752262815000,bubblegroup.http.route=apiservice%2Fdoapicallfromserver,bubblegroup.http.host=bubble.io","content-type":"multipart/form-data; boundary=--------------------------934813071373632797181793","traceparent":"00-adc16807612ecd0c7d2cad630b10b42e-d5d4e8ef545515be-01","x-bubble-depth":"1","x-forwarded-for":"44.243.64.12","x-forwarded-host":"primary-production-cea5.up.railway.app","x-forwarded-proto":"https","x-railway-edge":"railway/us-west1","x-railway-request-id":"P1wtlBHCQD63Fa_zI_7sxw","x-real-ip":"44.243.64.12","x-request-start":"1752272276914"},"params":{},"query":{},"body":{"client_id":"1650987991917x277951650850529760"},"webhookUrl":"https://primary-production-cea5.up.railway.app/webhook/1e5df81b-cda3-4d70-b513-2282ca3a9d5c","executionMode":"production"}}],"When Executed by Another Workflow":[{"json":{"client_id":"1650987991917x277951650850529760","Overwrite":"no"}}]},"versionId":"b2fd31e6-0c7c-45b3-b752-04f5b1de2baa","triggerCount":1,"shared":[{"createdAt":"2025-09-03T01:42:22.262Z","updatedAt":"2025-09-03T01:42:22.262Z","role":"workflow:owner","workflowId":"soI9WCENl3v66XBW","projectId":"oeHwV8sNrbPNhUov"}],"tags":[{"createdAt":"2025-05-15T00:55:08.917Z","updatedAt":"2025-05-15T00:55:08.917Z","id":"g2UpVZ4k6adJ2S36","name":"Production"},{"createdAt":"2025-03-17T22:01:27.572Z","updatedAt":"2025-03-17T22:01:27.572Z","id":"8gp5kj24VYtRoQQF","name":"Awareness Matrix"}]}