-most-aware-tlsa7DEImnqyNMML.json
{"createdAt":"2025-03-17T22:01:29.379Z","updatedAt":"2025-08-14T23:31:54.376Z","id":"tlsa7DEImnqyNMML","name":"8 - Unaware / Problem Aware / Solution Aware / Product Aware / Most Aware","active":false,"isArchived":false,"nodes":[{"parameters":{"tableId":"awareness_stages","fieldsUi":{"fieldValues":[{"fieldId":"client_id","fieldValue":"={{ $('Get Target Market').item.json.client_id }}"},{"fieldId":"company","fieldValue":"={{ $('Get Business Profile').item.json.company }}"},{"fieldId":"problem_unaware","fieldValue":"={{ $json.output.stages[0] }}"},{"fieldId":"problem_aware","fieldValue":"={{ $json.output.stages[1] }}"},{"fieldId":"solution_aware","fieldValue":"={{ $json.output.stages[2] }}"},{"fieldId":"product_aware","fieldValue":"={{ $json.output.stages[3] }}"},{"fieldId":"most_aware","fieldValue":"={{ $json.output.stages[4] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[640,560],"id":"ad852b0b-cade-4167-a9b2-5deb71a424df","name":"Supabase1","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}},"onError":"continueErrorOutput"},{"parameters":{"promptType":"define","text":"=ALWAYS USE THE TOOL TO PULL CHUNKS FROM THE VECTOR DATABASE\n\n**Analyze the provided context from THE COMPANY:**\n\n- **Company Name:** \n{{ $('Get Business Profile').item.json.company }}\n\n- **Offer:** \n{{ $('Get Business Profile').item.json.offer }}\n\n- **Industry:** \n{{ $('Get Business Profile').item.json.industry }}\n\n- **Primary Target Market:**\n{{ JSON.stringify($('Get Target Market').item.json.primary_target_market, null, 2) }}\n\n- **Secondary Target Market:**\n-{{ JSON.stringify($('Get Target Market').item.json.secondary_target_market, null, 2) }}\n\n","hasOutputParser":true,"options":{"systemMessage":"=**Role and Objective**\nYou are a marketing strategist with deep expertise in target market segmentation and digital marketing. Your objective is to analyze the provided context, inputs, and vector database outputs to build a detailed awareness matrix. This matrix should segment the target market into five awareness stages: Unaware, Problem Aware, Solution Aware, Product Aware, and Most Aware. For each stage, generate specific insights into audience mindset, objections, behaviors, and content recommendations.\n\n**Instructions**\n\nAlways use the tool provided to extract relevant data chunks from the vector database.\n\nCarefully review all input context, testimonials, interviews, onboarding questionnaires, competitor analysis, and any supporting documentation.\n\nFor each awareness stage, provide actionable, specific outputs as described below:\n\n**Problem Unaware Stage**\n\nWhat problem they mistakenly believe they have.\n\nTheir common misconceptions or lack of awareness regarding the problem.\n\nTheir behavioral habits and how they interact with the market.\n\nThree examples of ideal content (specify channel/platform and topic ideas) to increase problem awareness.\n\n**Problem Aware Stage**\n\nHow they articulate their frustrations and pain points.\n\nCommon search queries or questions they might use.\n\nRelevant jargon they use to describe their problem.\n\nThree examples of ideal content (specify channel/platform and topic ideas) to increase solution awareness.\n\n**Solution Aware Stage**\n\nWhat they are looking for in a solution.\n\nThe solutions they are considering and how they compare them.\n\nTheir primary objections or concerns.\n\nThree examples of ideal content (specify channel/platform and topic ideas) to increase product awareness.\n\n**Product Aware Stage**\n\nThe competing solution options they are comparing.\n\nTheir main objections or concerns and decision factors.\n\nThree examples of ideal content (specify channel/platform and topic ideas) to move them toward the most-aware stage.\n\n**Most Aware Stage**\n\nThe final questions or barriers that need to be addressed.\n\nThe type of incentive or messaging needed to close the deal.\n\nThree examples of ideal content (specify channel/platform and topic ideas) to drive conversion.\n\nExplicitly identify any common misconceptions about the solution, offer, industry, and company within your analysis.\n\nReturn your findings as a valid JSON schema object. Do not include any extra fields beyond those required.\n\n**Reasoning Steps**\n\nStart by reviewing and understanding the input context, including all data sources provided.\n\nUse the tool to search the vector database for insights relevant to each awareness stage. Focus on internal dialogue, objections, actions/inactions, and behavioral habits described in customer-facing documents.\n\nAddress both the input context and relevant chunks retrieved from the vector database in your analysis.\n\nSynthesize actionable insights, content recommendations, and stage-specific objections and misconceptions for each awareness level.\n\nEnsure that your output meets all content and structural requirements as specified.\n\n**Context**\nYou have access to input context, supporting documentation, and a vector database containing detailed contextual insights and data chunks about the business, its target market, and competitors. Use all available information to ensure a thorough and accurate analysis. The awareness matrix will inform messaging, content planning, and campaign strategy.\n\n**Final instructions and prompt to think step by step**\nCarefully review all available input context and tool outputs from the vector database before generating your awareness matrix.\nThink step by step: first, break down the target market by awareness stage; second, detail their mindset, behaviors, objections, and content needs; third, explicitly document misconceptions at each stage.\nReturn your findings as a valid JSON schema object, ensuring your output is complete and strictly adheres to the required structure. Do not yield control until all requirements are fully met.\n\n\n\n**Output Requirements:**\n        \nYour final answer must be in valid JSON following the schema below:\n\n**Analysis:**\n**YOU MUST ALWAYS USE THE TOOL** to extract relevant chunks from the vector database. Examine all provided context and inputs.\n        \n    \n    ```json\n    {\n      \"stages\": [\n        {\n          \"stage\": \"Problem Unaware\",\n          \"description\": \"Detailed description of the stage including behaviors, context, and internal dialogue.\",\n          \"targetMarkets\": {\n            \"primary\": \"Description for primary target market (e.g., designers) including common misconceptions.\",\n            \"secondary\": \"Description for secondary target market (e.g., homeowners) including common misconceptions.\"\n          },\n          \"outputs\": {\n            \"perceivedProblem\": \"What problem they mistakenly believe they have.\",\n            \"behaviors\": \"Common behaviors and habits at this stage.\",\n            \"interactionExamples\": \"Examples of how they interact with the market.\",\n            \"idealContent\": [\n              {\n                \"contentType\": \"Type of content (e.g., Blog Post)\",\n                \"channel\": \"Best channel/platform (e.g., LinkedIn, Instagram)\",\n                \"topicIdea\": \"Content topic idea\"\n              },\n              {\n                \"contentType\": \"Type of content\",\n                \"channel\": \"Channel/platform\",\n                \"topicIdea\": \"Content topic idea\"\n              },\n              {\n                \"contentType\": \"Type of content\",\n                \"channel\": \"Channel/platform\",\n                \"topicIdea\": \"Content topic idea\"\n              }\n            ]\n          }\n        },\n        {\n          \"stage\": \"Problem Aware\",\n          \"description\": \"Detailed description of the stage including how they articulate their problem and internal dialogue.\",\n          \"targetMarkets\": {\n            \"primary\": \"Description for primary target market.\",\n            \"secondary\": \"Description for secondary target market.\"\n          },\n          \"outputs\": {\n            \"articulatedPainPoints\": \"Pain points and frustrations as expressed by the target market.\",\n            \"searchQueries\": \"Common search terms or questions they might use.\",\n            \"jargon\": \"Relevant industry or colloquial terms used.\",\n            \"idealContent\": [\n              {\n                \"contentType\": \"Type of content\",\n                \"channel\": \"Channel/platform\",\n                \"topicIdea\": \"Content topic idea\"\n              },\n              {\n                \"contentType\": \"Type of content\",\n                \"channel\": \"Channel/platform\",\n                \"topicIdea\": \"Content topic idea\"\n              },\n              {\n                \"contentType\": \"Type of content\",\n                \"channel\": \"Channel/platform\",\n                \"topicIdea\": \"Content topic idea\"\n              }\n            ]\n          }\n        },\n        {\n          \"stage\": \"Solution Aware\",\n          \"description\": \"Detailed description of the stage including comparison of potential solutions and customer thought process.\",\n          \"targetMarkets\": {\n            \"primary\": \"Description for primary target market.\",\n            \"secondary\": \"Description for secondary target market.\"\n          },\n          \"outputs\": {\n            \"solutionCriteria\": \"Features or benefits they are seeking in a solution.\",\n            \"competingSolutions\": \"List of other solutions they are considering.\",\n            \"primaryObjections\": \"Key objections or concerns at this stage.\",\n            \"idealContent\": [\n              {\n                \"contentType\": \"Type of content\",\n                \"channel\": \"Channel/platform\",\n                \"topicIdea\": \"Content topic idea\"\n              },\n              {\n                \"contentType\": \"Type of content\",\n                \"channel\": \"Channel/platform\",\n                \"topicIdea\": \"Content topic idea\"\n              },\n              {\n                \"contentType\": \"Type of content\",\n                \"channel\": \"Channel/platform\",\n                \"topicIdea\": \"Content topic idea\"\n              }\n            ]\n          }\n        },\n        {\n          \"stage\": \"Product Aware\",\n          \"description\": \"Detailed description of the stage focusing on comparisons with competitors and internal concerns.\",\n          \"targetMarkets\": {\n            \"primary\": \"Description for primary target market.\",\n            \"secondary\": \"Description for secondary target market.\"\n          },\n          \"outputs\": {\n            \"comparisonOptions\": \"Competing solution options they are evaluating.\",\n            \"primaryObjections\": \"Main objections or concerns regarding our solution.\",\n            \"decisionFactors\": \"Factors they consider when comparing options.\",\n            \"idealContent\": [\n              {\n                \"contentType\": \"Type of content\",\n                \"channel\": \"Channel/platform\",\n                \"topicIdea\": \"Content topic idea\"\n              },\n              {\n                \"contentType\": \"Type of content\",\n                \"channel\": \"Channel/platform\",\n                \"topicIdea\": \"Content topic idea\"\n              },\n              {\n                \"contentType\": \"Type of content\",\n                \"channel\": \"Channel/platform\",\n                \"topicIdea\": \"Content topic idea\"\n              }\n            ]\n          }\n        },\n        {\n          \"stage\": \"Most Aware\",\n          \"description\": \"Detailed description of the stage where the customer is close to purchasing, including their final internal dialogue.\",\n          \"targetMarkets\": {\n            \"primary\": \"Description for primary target market.\",\n            \"secondary\": \"Description for secondary target market.\"\n          },\n          \"outputs\": {\n            \"finalBarriers\": \"Final questions or barriers that need to be overcome.\",\n            \"incentiveStrategies\": \"Incentives or messaging needed to close the deal.\",\n            \"idealContent\": [\n              {\n                \"contentType\": \"Type of content\",\n                \"channel\": \"Channel/platform\",\n                \"topicIdea\": \"Content topic idea\"\n              },\n              {\n                \"contentType\": \"Type of content\",\n                \"channel\": \"Channel/platform\",\n                \"topicIdea\": \"Content topic idea\"\n              },\n              {\n                \"contentType\": \"Type of content\",\n                \"channel\": \"Channel/platform\",\n                \"topicIdea\": \"Content topic idea\"\n              }\n            ]\n          }\n        }\n      ]\n    }\n    \n    ```\n    \n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[40,580],"id":"10274866-03bd-4a02-b096-620d2aba43ea","name":"AI Agent","onError":"continueErrorOutput"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"stages\": [\n    {\n      \"stage\": \"Problem Unaware\",\n      \"description\": \"Detailed description of the stage including behaviors, context, and internal dialogue.\",\n      \"targetMarkets\": {\n        \"primary\": \"Description for primary target market (e.g., designers) including common misconceptions.\",\n        \"secondary\": \"Description for secondary target market (e.g., homeowners) including common misconceptions.\"\n      },\n      \"outputs\": {\n        \"perceivedProblem\": \"What problem they mistakenly believe they have.\",\n        \"behaviors\": \"Common behaviors and habits at this stage.\",\n        \"interactionExamples\": \"Examples of how they interact with the market.\",\n        \"idealContent\": [\n          {\n            \"contentType\": \"Type of content (e.g., Blog Post)\",\n            \"channel\": \"Best channel/platform (e.g., LinkedIn, Instagram)\",\n            \"topicIdea\": \"Content topic idea\"\n          },\n          {\n            \"contentType\": \"Type of content\",\n            \"channel\": \"Channel/platform\",\n            \"topicIdea\": \"Content topic idea\"\n          },\n          {\n            \"contentType\": \"Type of content\",\n            \"channel\": \"Channel/platform\",\n            \"topicIdea\": \"Content topic idea\"\n          }\n        ]\n      }\n    },\n    {\n      \"stage\": \"Problem Aware\",\n      \"description\": \"Detailed description of the stage including how they articulate their problem and internal dialogue.\",\n      \"targetMarkets\": {\n        \"primary\": \"Description for primary target market.\",\n        \"secondary\": \"Description for secondary target market.\"\n      },\n      \"outputs\": {\n        \"articulatedPainPoints\": \"Pain points and frustrations as expressed by the target market.\",\n        \"searchQueries\": \"Common search terms or questions they might use.\",\n        \"jargon\": \"Relevant industry or colloquial terms used.\",\n        \"idealContent\": [\n          {\n            \"contentType\": \"Type of content\",\n            \"channel\": \"Channel/platform\",\n            \"topicIdea\": \"Content topic idea\"\n          },\n          {\n            \"contentType\": \"Type of content\",\n            \"channel\": \"Channel/platform\",\n            \"topicIdea\": \"Content topic idea\"\n          },\n          {\n            \"contentType\": \"Type of content\",\n            \"channel\": \"Channel/platform\",\n            \"topicIdea\": \"Content topic idea\"\n          }\n        ]\n      }\n    },\n    {\n      \"stage\": \"Solution Aware\",\n      \"description\": \"Detailed description of the stage including comparison of potential solutions and customer thought process.\",\n      \"targetMarkets\": {\n        \"primary\": \"Description for primary target market.\",\n        \"secondary\": \"Description for secondary target market.\"\n      },\n      \"outputs\": {\n        \"solutionCriteria\": \"Features or benefits they are seeking in a solution.\",\n        \"competingSolutions\": \"List of other solutions they are considering.\",\n        \"primaryObjections\": \"Key objections or concerns at this stage.\",\n        \"idealContent\": [\n          {\n            \"contentType\": \"Type of content\",\n            \"channel\": \"Channel/platform\",\n            \"topicIdea\": \"Content topic idea\"\n          },\n          {\n            \"contentType\": \"Type of content\",\n            \"channel\": \"Channel/platform\",\n            \"topicIdea\": \"Content topic idea\"\n          },\n          {\n            \"contentType\": \"Type of content\",\n            \"channel\": \"Channel/platform\",\n            \"topicIdea\": \"Content topic idea\"\n          }\n        ]\n      }\n    },\n    {\n      \"stage\": \"Product Aware\",\n      \"description\": \"Detailed description of the stage focusing on comparisons with competitors and internal concerns.\",\n      \"targetMarkets\": {\n        \"primary\": \"Description for primary target market.\",\n        \"secondary\": \"Description for secondary target market.\"\n      },\n      \"outputs\": {\n        \"comparisonOptions\": \"Competing solution options they are evaluating.\",\n        \"primaryObjections\": \"Main objections or concerns regarding our solution.\",\n        \"decisionFactors\": \"Factors they consider when comparing options.\",\n        \"idealContent\": [\n          {\n            \"contentType\": \"Type of content\",\n            \"channel\": \"Channel/platform\",\n            \"topicIdea\": \"Content topic idea\"\n          },\n          {\n            \"contentType\": \"Type of content\",\n            \"channel\": \"Channel/platform\",\n            \"topicIdea\": \"Content topic idea\"\n          },\n          {\n            \"contentType\": \"Type of content\",\n            \"channel\": \"Channel/platform\",\n            \"topicIdea\": \"Content topic idea\"\n          }\n        ]\n      }\n    },\n    {\n      \"stage\": \"Most Aware\",\n      \"description\": \"Detailed description of the stage where the customer is close to purchasing, including their final internal dialogue.\",\n      \"targetMarkets\": {\n        \"primary\": \"Description for primary target market.\",\n        \"secondary\": \"Description for secondary target market.\"\n      },\n      \"outputs\": {\n        \"finalBarriers\": \"Final questions or barriers that need to be overcome.\",\n        \"incentiveStrategies\": \"Incentives or messaging needed to close the deal.\",\n        \"idealContent\": [\n          {\n            \"contentType\": \"Type of content\",\n            \"channel\": \"Channel/platform\",\n            \"topicIdea\": \"Content topic idea\"\n          },\n          {\n            \"contentType\": \"Type of content\",\n            \"channel\": \"Channel/platform\",\n            \"topicIdea\": \"Content topic idea\"\n          },\n          {\n            \"contentType\": \"Type of content\",\n            \"channel\": \"Channel/platform\",\n            \"topicIdea\": \"Content topic idea\"\n          }\n        ]\n      }\n    }\n  ]\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[360,820],"id":"38e32862-13ed-414f-9fd4-9099610881a0","name":"Structured Output Parser"},{"parameters":{"mode":"retrieve-as-tool","toolName":"misconceptions","toolDescription":"=Retrieves relevant content from the vector store to find testimonials, interviews, onboarding questionnaires that help to Create a detailed breakdown of our target market based on the stages of problem-solution awareness.","pineconeIndex":{"__rl":true,"value":"={{ $json.company }}","mode":"id"},"topK":10,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[80,1060],"id":"ec5b757a-71ef-4388-a2e0-8dde030fd75d","name":"Pinecone Vector Store1","credentials":{"pineconeApi":{"id":"axuYyU6grhcC8CQp","name":"PineconeApi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[200,1260],"id":"12bfaf77-feee-4ce9-b930-f7b1c29a10fa","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1420,600],"id":"c6d7ce8c-f227-4284-b846-c68dbe015311","name":"When clicking ‘Test workflow’"},{"parameters":{"content":"## Bubble webhook\n**Need to have Client ID sent via webhook","height":360,"width":260},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1500,440],"id":"0a9e6948-d901-4791-b9fe-d658efb6090e","name":"Sticky Note"},{"parameters":{"content":"## Change Search to ClientID In Production\n\nCurrently We are just searching for \"Tonic Living\"","height":380,"width":440},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1020,400],"id":"ab795aca-a198-40dc-8219-52b9dc7fff8e","name":"Sticky Note1"},{"parameters":{"content":"## AI Model \nCurrently set\nto 4o","height":220,"width":360,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-260,740],"id":"f479b27e-694b-496c-a1cd-bfdd1fb4c653","name":"Sticky Note3"},{"parameters":{"assignments":{"assignments":[{"id":"375b758f-6387-4e71-b280-65106e9442d4","name":"company","value":"={{ $json.company.toLowerCase().replace(/\\s+/g, \"-\") }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-420,580],"id":"b52eca9a-624d-42b9-892b-13578ca2eb7b","name":"standardize vector name"},{"parameters":{"content":"## Handle Error\nIn production add error handling for data duplication with same ID\n","height":280,"width":380},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[520,440],"id":"2ba7aec7-acc6-4bad-92e0-4f8017bdf5e0","name":"Sticky Note4"},{"parameters":{"content":"## Prompt Notes\n- Am not using \"solution\" \n- Need prompt for solution\n","color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[40,420],"id":"196b6eec-135f-4aba-abba-83178672ecd8","name":"Sticky Note5"},{"parameters":{"content":"## Notes about run\n\nRun Time: \n\n## Analyze outputs\n- Determine with Client if outputs need to be more specific\n- Possibly break up each agent for a specific output to pull relevant chunks\n- Double check inputs for user prompt as well","height":380,"width":700,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1200,940],"id":"fef86ba1-5c04-42f7-8f2c-bc2c8a07928a","name":"Sticky Note6"},{"parameters":{"content":"\n\nHave error handling if fails\n","height":80,"width":150},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[340,640],"id":"ef28c0e5-d971-4ebc-b4df-e816a77c5e10","name":"Sticky Note7"},{"parameters":{"operation":"get","tableId":"target_market_profiles","filters":{"conditions":[{"keyName":"company","keyValue":"={{ $json['Company Run'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-940,740],"id":"e6b4de4c-7b90-4e4e-b1cf-525a660d85bc","name":"Get Target Market","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"operation":"get","tableId":"business_profiles","filters":{"conditions":[{"keyName":"company","keyValue":"={{ $('Google Sheets').item.json['Company Run'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-740,600],"id":"0bc8947f-1a49-4235-9c2d-0bfe85220f03","name":"Get Business Profile","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"content":"## Change search ID\n","height":200,"width":480},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-40,980],"id":"8c0e559b-e78f-45d6-8df1-7d68740747e3","name":"Sticky Note8"},{"parameters":{"documentId":{"__rl":true,"value":"1nTyix3NeSNWqhZ-B4CQYlelIdZMVpzz6B-d7tFuWOcs","mode":"list","cachedResultName":"MVP Info","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nTyix3NeSNWqhZ-B4CQYlelIdZMVpzz6B-d7tFuWOcs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Prompts","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nTyix3NeSNWqhZ-B4CQYlelIdZMVpzz6B-d7tFuWOcs/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-1200,600],"id":"60b43d58-6f51-4340-9b9a-868139418264","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"tkvcRmLfYi38x0mC","name":"Google Sheets account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-20,820],"id":"15685905-14f8-4be2-aeec-1224f35d6513","name":"AI","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}}],"connections":{"AI Agent":{"main":[[{"node":"Supabase1","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Pinecone Vector Store1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store1","type":"ai_embedding","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"standardize vector name":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Get Target Market":{"main":[[{"node":"Get Business Profile","type":"main","index":0}]]},"Get Business Profile":{"main":[[{"node":"standardize vector name","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Get Business Profile","type":"main","index":0}]]},"AI":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1f5c861a-faa6-4a07-8a9e-81ae1004a81c","triggerCount":0,"shared":[{"createdAt":"2025-03-17T22:01:29.379Z","updatedAt":"2025-03-17T22:01:29.379Z","role":"workflow:owner","workflowId":"tlsa7DEImnqyNMML","projectId":"oeHwV8sNrbPNhUov"}],"tags":[{"createdAt":"2025-03-17T22:01:27.572Z","updatedAt":"2025-03-17T22:01:27.572Z","id":"8gp5kj24VYtRoQQF","name":"Awareness Matrix"}]}