1---initialize-db-|-upload-documents-|-delete-folder-S3IzuMWyiesHfkBe.json
{"createdAt":"2025-03-07T19:24:48.415Z","updatedAt":"2025-08-14T23:31:35.942Z","id":"S3IzuMWyiesHfkBe","name":"1 - Initialize DB | Upload Documents | Delete Folder","active":false,"isArchived":false,"nodes":[{"parameters":{"resource":"fileFolder","filter":{"folderId":{"__rl":true,"value":"={{ $('Google Drive2').item.json.id }}","mode":"id"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-180,80],"id":"b6b0366d-4b2a-4b35-9113-04ad20531cc5","name":"Google Drive1","credentials":{"googleDriveOAuth2Api":{"id":"dSQbKYuOfxDcM0Uo","name":"Google Drive account"}}},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[40,80],"id":"0023db13-9080-454c-9a8f-838cf3fc9944","name":"Loop Over Items"},{"parameters":{"resource":"fileFolder","queryString":"=","filter":{"folderId":{"__rl":true,"value":"1yuMftv13RiwH3nkC4By7flDlZh0OojQL","mode":"id"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-940,80],"id":"d8d3c6cb-9904-41d0-bfcd-f2f040cbfb77","name":"Google Drive2","alwaysOutputData":false,"credentials":{"googleDriveOAuth2Api":{"id":"dSQbKYuOfxDcM0Uo","name":"Google Drive account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1160,80],"id":"4a4feae6-1ec4-48b9-8669-f2189b5f6d61","name":"When clicking ‘Test workflow’"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[240,160],"id":"20f8df5b-efdd-4b55-80a9-9381d8865b52","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"dSQbKYuOfxDcM0Uo","name":"Google Drive account"}}},{"parameters":{"assignments":{"assignments":[{"id":"b283bdf7-23d4-4f7b-9ec9-6fadbe17f97d","name":"=name","value":"={{ $json.name.toLowerCase().replace(/\\s+/g, \"-\") }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-720,80],"id":"b877f888-3a13-489e-9325-0d93c4ef7edd","name":"Edit Fields"},{"parameters":{"method":"POST","url":"https://api.pinecone.io/indexes","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Api-Key","value":"={{ $env.PINECONE_API_KEY }}"},{"name":"X-Pinecone-API-Version","value":"2025-01"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"name\": \"{{ $json.name }}\",\n  \"dimension\": 1536,\n  \"metric\": \"cosine\",\n  \"spec\": {\n    \"serverless\": {\n      \"cloud\": \"aws\",\n      \"region\": \"us-west-2\"\n    }\n  },\n  \"tags\": {\n    \"environment\": \"development\"\n  },\n  \"deletion_protection\": \"disabled\"\n}","options":{"response":{"response":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-480,80],"id":"92dad0c5-f313-4f22-9fff-cc70c7f10e4b","name":"Create Vector DB1","executeOnce":true,"onError":"continueRegularOutput"},{"parameters":{"content":"Delete folder at end of sequence.","height":240,"width":150},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1060,0],"id":"d35f2489-0231-46b9-9867-1f2e1f44d316","name":"Sticky Note2"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[480,480],"id":"72b89f84-c777-4283-852f-deb75e974c1a","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{"chunkOverlap":100,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[740,680],"id":"524cd135-6385-4880-b0f9-b5994ab32601","name":"Recursive Character Text Splitter"},{"parameters":{"dataType":"binary","options":{"metadata":{"metadataValues":[{"name":"document","value":"={{ $json.name }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[820,420],"id":"2e2cdbec-6c32-4223-baf4-590637f3d687","name":"Default Data Loader"},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"={{ $('Edit Fields').item.json.name }}","mode":"id"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[540,60],"id":"16eb0f87-8523-4a92-9d33-9c25525d6c6d","name":"Pinecone Vector Store","alwaysOutputData":false,"credentials":{"pineconeApi":{"id":"axuYyU6grhcC8CQp","name":"PineconeApi account"}}},{"parameters":{"content":"## Reminder: Tagging & Filtering Client Interview Documents in Pinecone\n\n📌 When Uploading Documents to Pinecone:\n\nEnsure document titles include \"interview\" for client interview files.\nUse metadata tagging to set \"document_type\": \"interview\" dynamically.\nFor non-interview documents, set \"document_type\": \"general\".\n","height":240,"width":500,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[520,-140],"id":"8206dcf8-d4ea-42fe-b21c-00994fecba37","name":"Sticky Note"},{"parameters":{"resource":"folder","operation":"deleteFolder","folderNoRootId":{"__rl":true,"value":"={{ $('Google Drive2').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1080,80],"id":"03a4cea5-5307-4018-9005-332805f14fc8","name":"Google Drive4","credentials":{"googleDriveOAuth2Api":{"id":"dSQbKYuOfxDcM0Uo","name":"Google Drive account"}}}],"connections":{"Google Drive1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Pinecone Vector Store","type":"main","index":0}],[{"node":"Google Drive","type":"main","index":0}]]},"Google Drive2":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Google Drive2","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Create Vector DB1","type":"main","index":0}]]},"Create Vector DB1":{"main":[[{"node":"Google Drive1","type":"main","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Pinecone Vector Store","type":"ai_document","index":0}]]},"Pinecone Vector Store":{"main":[[{"node":"Google Drive4","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"dc5e5808-8cb3-4d97-948f-d150c42f32c8","triggerCount":0,"shared":[{"createdAt":"2025-03-07T19:24:48.415Z","updatedAt":"2025-03-07T19:24:48.415Z","role":"workflow:owner","workflowId":"S3IzuMWyiesHfkBe","projectId":"oeHwV8sNrbPNhUov"}],"tags":[{"createdAt":"2025-03-12T04:23:56.209Z","updatedAt":"2025-03-12T04:23:56.209Z","id":"GhIwXvYdhTJV4aal","name":"Initialization"},{"createdAt":"2025-03-12T04:24:11.246Z","updatedAt":"2025-03-12T04:24:11.246Z","id":"FDsOULzxkWlGe2pe","name":"Vectorization"}]}