12---one-liners-nqdluHU6VKot65ws.json
{"createdAt":"2025-04-01T22:45:40.319Z","updatedAt":"2025-08-14T23:29:29.284Z","id":"nqdluHU6VKot65ws","name":"12 - One Liners","active":false,"isArchived":false,"nodes":[{"parameters":{"tableId":"one_liners_output","fieldsUi":{"fieldValues":[{"fieldId":"client_id","fieldValue":"={{ $('Get misconseptions').item.json.client_id }}"},{"fieldId":"company","fieldValue":"={{ $('Google Sheets').item.json['Company Run'] }}"},{"fieldId":"extracted_one_liners","fieldValue":"={{ $json.output.extractedOneLiners }}"},{"fieldId":"recommended_one_liners","fieldValue":"={{ $json.output.recommendedOneLiners }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1056,560],"id":"7384eb53-df40-48a5-8db0-96cbb2b2dab5","name":"Supabase1","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}},"onError":"continueErrorOutput"},{"parameters":{"promptType":"define","text":"=ALWAYS USE THE TOOL TO PULL CHUNKS FROM THE VECTOR DATABASE\n\nCompany Messaging:\n- Common words and phrases:\n{{ $('Get Common Words').item.json.primary_phrases }}; \n\n{{ $('Get Common Words').item.json.secondary_phrases }}\n\n- Common emotional sentiment:\n  Positive themes:\n  {{ $('Get emotional sentiment').item.json.summary.positiveThemes }}\n\n  \n\n- Jargon they use (and jargon they don’t):\n{{ $('Get jargon').item.json.good_jargon_terms }}\n\n- Common misconceptions:\n  About solution:\n{{ JSON.stringify($('Get misconseptions').item.json.misconceptions_about_solution) }}\n\n  About Offer:\n{{ JSON.stringify($('Get misconseptions').item.json.misconceptions_about_offer) }}\n\n  About Industry:\n{{ JSON.stringify($('Get misconseptions').item.json.misconceptions_about_industry) }}\n\n  About Company:\n{{ JSON.stringify($('Get misconseptions').item.json.misconceptions_about_company) }}\n\n\n- **Primary Target Market:**\n{{ JSON.stringify($('Get Target Market').item.json.primary_target_market, null, 2) }}\n\n- **Secondary Target Market:**\n-{{ JSON.stringify($('Get Target Market').item.json.secondary_target_market, null, 2) }}\n\n","hasOutputParser":true,"options":{"systemMessage":"=**Role and Objective**\nYou are a marketing analyst. Your objective is to extract and organize all existing one-liners from the provided context, onboarding questionnaire, and client interviews, using the vector database. If no one-liners exist in a group, you must generate new ideas based on company messaging and target market insights, labeling all new ideas with “(Idea)”.\n\n**Instructions**\n\nAlways use the tool provided to extract relevant data chunks from the vector database.\n\nCarefully review all input context, onboarding questionnaires, and client interviews.\n\nExtract all one-liners verbatim and organize them under these headings:\n\nCustomer-Focused Messaging\n\nBrand Values & Craftsmanship\n\nProduct/Benefit Highlights\n\nFor each group, only include verbatim one-liners if they exist in the data.\n\nFor Customer-Focused Messaging and Product/Benefit Highlights, if no verbatim one-liners are present or if you have fewer than three, generate additional one-liners as needed based on the company’s messaging, target market, and market position.\n\nClearly label every generated idea as “(Idea)” at the end of the text.\n\nDo not include generated ideas under Brand Values & Craftsmanship.\n\nEach one-liner must be a single text string and grouped under the correct heading.\n\nMaintain a clear and consistent output structure and grouping throughout.\n\n**Reasoning Steps**\n\nBegin by reviewing all input context and extracting verbatim one-liners, grouping them according to the required headings.\n\nUse the tool to search the vector database for additional relevant phrases or taglines.\n\nIf any group lacks sufficient one-liners, generate new, original one-liners appropriate to the company’s messaging and target market, labeling each with “(Idea)”.\n\nDo not include generated ideas in Brand Values & Craftsmanship; only extract what exists in the data.\n\nEnsure all content is well-structured, clearly grouped, and easy to identify.\n\n**Context**\nYou have access to onboarding questionnaires, client interviews, all provided context, and a vector database containing messaging, testimonials, and related data. Use all available sources to ensure comprehensive extraction and informed idea generation.\n\n**Final instructions and prompt to think step by step**\nCarefully review all input context and outputs from the vector database before compiling your one-liner lists.\nThink step by step: first, extract all verbatim one-liners and group them; second, generate and label new one-liners as “(Idea)” where necessary in Customer-Focused Messaging and Product/Benefit Highlights.\nPresent your final output as a structured JSON schema object with each group clearly labeled.\nDo not yield control until you have included all extracted one-liners, and if needed, clearly labeled new ideas, grouped under their respective headings.\n\n3. **Output:**\n    - The final output must be strictly in JSON format.\n    - The JSON output must adhere exactly to the provided JSON Schema.\n    - Do not include any extra fields beyond what is defined in the JSON Schema.\n4. **Usage of the Tool:**\n    - **ALWAYS USE THE TOOL TO PULL CHUNKS FROM THE VECTOR DATABASE.**\n\n**Requirements and Guidelines:**\n\n- **Output Format:**\n    - The final output must be valid JSON and strictly conform to the provided JSON Schema.\n        {\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"title\": \"OneLinerOutput\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"extractedOneLiners\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"customerFocusedMessaging\": {\n          \"type\": \"array\",\n          \"description\": \"One-liners extracted verbatim under Customer-Focused Messaging.\",\n          \"items\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"text\": {\n                \"type\": \"string\",\n                \"description\": \"The one-liner text.\"\n              }\n            },\n            \"required\": [\"text\"],\n            \"additionalProperties\": false\n          }\n        },\n        \"brandValuesAndCraftsmanship\": {\n          \"type\": \"array\",\n          \"description\": \"One-liners extracted verbatim under Brand Values & Craftsmanship.\",\n          \"items\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"text\": {\n                \"type\": \"string\",\n                \"description\": \"The one-liner text.\"\n              }\n            },\n            \"required\": [\"text\"],\n            \"additionalProperties\": false\n          }\n        },\n        \"productBenefitHighlights\": {\n          \"type\": \"array\",\n          \"description\": \"One-liners extracted verbatim under Product/Benefit Highlights.\",\n          \"items\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"text\": {\n                \"type\": \"string\",\n                \"description\": \"The one-liner text.\"\n              }\n            },\n            \"required\": [\"text\"],\n            \"additionalProperties\": false\n          }\n        }\n      },\n      \"required\": [\n        \"customerFocusedMessaging\",\n        \"brandValuesAndCraftsmanship\",\n        \"productBenefitHighlights\"\n      ],\n      \"additionalProperties\": false\n    },\n    \"recommendedOneLiners\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"customerFocusedMessaging\": {\n          \"type\": \"array\",\n          \"description\": \"Additional recommended one-liners for Customer-Focused Messaging.\",\n          \"items\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"text\": {\n                \"type\": \"string\",\n                \"description\": \"The recommended one-liner text.\"\n              }\n            },\n            \"required\": [\"text\"],\n            \"additionalProperties\": false\n          }\n        },\n        \"productBenefitHighlights\": {\n          \"type\": \"array\",\n          \"description\": \"Additional recommended one-liners for Product/Benefit Highlights.\",\n          \"items\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"text\": {\n                \"type\": \"string\",\n                \"description\": \"The recommended one-liner text.\"\n              }\n            },\n            \"required\": [\"text\"],\n            \"additionalProperties\": false\n          }\n        }\n      },\n      \"required\": [\"customerFocusedMessaging\", \"productBenefitHighlights\"],\n      \"additionalProperties\": false\n    }\n  },\n  \"required\": [\"extractedOneLiners\", \"recommendedOneLiners\"],\n  \"additionalProperties\": false\n}\n- **Content Specifications:**\n    - Include all one-liners extracted verbatim from the inputs, grouped by their respective categories.\n    - Provide additional recommended one-liners in the specified groups.\n- **Consistency:**\n    - Maintain consistent structure, grouping, and terminology throughout the output."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[464,592],"id":"91f1ab80-7821-40b9-af70-ea56c5cc4d15","name":"AI Agent","onError":"continueErrorOutput"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"title\": \"OneLinerOutput\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"extractedOneLiners\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"customerFocusedMessaging\": {\n          \"type\": \"array\",\n          \"description\": \"One-liners extracted verbatim under Customer-Focused Messaging.\",\n          \"items\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"text\": {\n                \"type\": \"string\",\n                \"description\": \"The one-liner text.\"\n              }\n            },\n            \"required\": [\"text\"],\n            \"additionalProperties\": false\n          }\n        },\n        \"brandValuesAndCraftsmanship\": {\n          \"type\": \"array\",\n          \"description\": \"One-liners extracted verbatim under Brand Values & Craftsmanship.\",\n          \"items\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"text\": {\n                \"type\": \"string\",\n                \"description\": \"The one-liner text.\"\n              }\n            },\n            \"required\": [\"text\"],\n            \"additionalProperties\": false\n          }\n        },\n        \"productBenefitHighlights\": {\n          \"type\": \"array\",\n          \"description\": \"One-liners extracted verbatim under Product/Benefit Highlights.\",\n          \"items\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"text\": {\n                \"type\": \"string\",\n                \"description\": \"The one-liner text.\"\n              }\n            },\n            \"required\": [\"text\"],\n            \"additionalProperties\": false\n          }\n        }\n      },\n      \"required\": [\n        \"customerFocusedMessaging\",\n        \"brandValuesAndCraftsmanship\",\n        \"productBenefitHighlights\"\n      ],\n      \"additionalProperties\": false\n    },\n    \"recommendedOneLiners\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"customerFocusedMessaging\": {\n          \"type\": \"array\",\n          \"description\": \"Additional recommended one-liners for Customer-Focused Messaging.\",\n          \"items\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"text\": {\n                \"type\": \"string\",\n                \"description\": \"The recommended one-liner text.\"\n              }\n            },\n            \"required\": [\"text\"],\n            \"additionalProperties\": false\n          }\n        },\n        \"productBenefitHighlights\": {\n          \"type\": \"array\",\n          \"description\": \"Additional recommended one-liners for Product/Benefit Highlights.\",\n          \"items\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"text\": {\n                \"type\": \"string\",\n                \"description\": \"The recommended one-liner text.\"\n              }\n            },\n            \"required\": [\"text\"],\n            \"additionalProperties\": false\n          }\n        }\n      },\n      \"required\": [\"customerFocusedMessaging\", \"productBenefitHighlights\"],\n      \"additionalProperties\": false\n    }\n  },\n  \"required\": [\"extractedOneLiners\", \"recommendedOneLiners\"],\n  \"additionalProperties\": false\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[784,832],"id":"885314cd-2347-4da0-b175-b1e2c34adef7","name":"Structured Output Parser"},{"parameters":{"mode":"retrieve-as-tool","toolName":"transformationSolution","toolDescription":"=Extract all short, standalone statements (one-liners) that are clearly separated by line breaks or quotation marks from the client interview documents and onboarding questionnaire. Ignore long paragraphs and focus only on brief, impactful statements","pineconeIndex":{"__rl":true,"value":"=alpha-test","mode":"id"},"topK":20,"options":{"pineconeNamespace":"=1650987991917x277951650850529760"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[496,1072],"id":"0ef11c4f-99c9-4706-a5a5-cf86c6d1a43f","name":"Pinecone Vector Store1","credentials":{"pineconeApi":{"id":"axuYyU6grhcC8CQp","name":"PineconeApi account"}}},{"parameters":{"model":"text-embedding-3-large","options":{"dimensions":1024}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[624,1264],"id":"df6fe6b3-e756-4d64-9494-0dfc05a3bff0","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1776,608],"id":"387ab699-0c8d-47ed-96af-8eb8b01ad03a","name":"When clicking ‘Test workflow’"},{"parameters":{"content":"## Bubble webhook\n**Need to have Client ID sent via webhook","height":360,"width":260},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1856,448],"id":"52ea63bf-ba9d-4be2-a4fd-7e01afa9aca8","name":"Sticky Note"},{"parameters":{"content":"## Change Search to ClientID In Production\n\nCurrently We are just searching for \"Tonic Living\"","height":380,"width":780},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1280,448],"id":"24255e62-3476-448c-948e-eae6550ebda5","name":"Sticky Note1"},{"parameters":{"content":"## AI Model \nCurrently set\nto 4.1","height":220,"width":360,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-256,720],"id":"efcf39ba-fbc8-4535-a43b-d2f4a1a82ec8","name":"Sticky Note3"},{"parameters":{"assignments":{"assignments":[{"id":"375b758f-6387-4e71-b280-65106e9442d4","name":"company","value":"={{ $json.company.toLowerCase().replace(/\\s+/g, \"-\") }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,560],"id":"8a50afaa-90de-4d5d-a679-a81176ca7daa","name":"standardize vector name"},{"parameters":{"content":"## Handle Error\nIn production add error handling for data duplication with same ID\n","height":280,"width":380},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[528,448],"id":"f6c989cd-4138-49ff-8cae-936822153593","name":"Sticky Note4"},{"parameters":{"content":"## Prompt Notes\n-  Using Only Summary:Positive themes  for Emotional Sentiment\n","color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[48,432],"id":"eb0ddd02-a7a1-4122-b3d4-2908c7b55640","name":"Sticky Note5"},{"parameters":{"content":"## Notes about run\n\nRun Time: 12 secs\n\n## Analyze outputs\n- Might need higher intelligence for this output\n","height":380,"width":700,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1216,960],"id":"3de83ea3-d545-4d22-9c76-98ed4fca3d9f","name":"Sticky Note6"},{"parameters":{"content":"\n\nHave error handling if fails\n","height":80,"width":150},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[352,640],"id":"c9a562dd-0db1-4049-bf1c-d301d8ef1c3b","name":"Sticky Note7"},{"parameters":{"operation":"get","tableId":"target_market_profiles","filters":{"conditions":[{"keyName":"company","keyValue":"={{ $json['Company Run'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1264,592],"id":"d6f0a3c6-c45a-4f13-a10f-57ee5c1ed054","name":"Get Target Market","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"content":"## Change search ID\n","height":200,"width":480},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-48,992],"id":"706bebe1-9cec-4fb8-ac50-a48bd854dcd3","name":"Sticky Note8"},{"parameters":{"documentId":{"__rl":true,"value":"1nTyix3NeSNWqhZ-B4CQYlelIdZMVpzz6B-d7tFuWOcs","mode":"list","cachedResultName":"MVP Info","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nTyix3NeSNWqhZ-B4CQYlelIdZMVpzz6B-d7tFuWOcs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Prompts","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nTyix3NeSNWqhZ-B4CQYlelIdZMVpzz6B-d7tFuWOcs/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-1568,608],"id":"a43b8239-d68f-420c-b710-e3e87ff6e4fd","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"tkvcRmLfYi38x0mC","name":"Google Sheets account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[400,832],"id":"506fd31e-27ff-4c35-8e71-983d2ea493d1","name":"AI","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{"operation":"get","tableId":"misconceptions_output","filters":{"conditions":[{"keyName":"company","keyValue":"={{ $('Google Sheets').item.json['Company Run'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-352,576],"id":"7c49be2c-279c-49a7-a0c4-6daebf863402","name":"Get misconseptions","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT\n  company,\n  (\n    SELECT jsonb_agg(elem ->> 'term')\n    FROM jsonb_array_elements(good_jargon) AS elem\n  ) AS good_jargon_terms\nFROM industry_jargon\nWHERE company ILIKE '{{ $('Google Sheets').item.json['Company Run'] }}';\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-832,608],"id":"85577a51-e2dc-4f78-ad18-216e1af302c3","name":"Get jargon","credentials":{"postgres":{"id":"D4qW5sB6FEvn5Z6e","name":"Postgres account"}}},{"parameters":{"operation":"get","tableId":"common_emotional_sentiment","filters":{"conditions":[{"keyName":"company","keyValue":"={{ $('Google Sheets').item.json['Company Run'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-560,528],"id":"22be25fc-8dc3-4f8e-b9cd-9b9030de9e00","name":"Get emotional sentiment","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"operation":"get","tableId":"common_words_and_phrases","filters":{"conditions":[{"keyName":"client_id","keyValue":"1650987991917x277951650850529760"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1056,592],"id":"280954b0-c4a3-400f-8486-723bbe405b09","name":"Get a row","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}}],"connections":{"AI Agent":{"main":[[{"node":"Supabase1","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Pinecone Vector Store1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store1","type":"ai_embedding","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"standardize vector name":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Get Target Market":{"main":[[{"node":"Get a row","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Get Target Market","type":"main","index":0}]]},"AI":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Get misconseptions":{"main":[[{"node":"standardize vector name","type":"main","index":0}]]},"Get jargon":{"main":[[{"node":"Get emotional sentiment","type":"main","index":0}]]},"Get emotional sentiment":{"main":[[{"node":"Get misconseptions","type":"main","index":0}]]},"Get a row":{"main":[[{"node":"Get jargon","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"97cff8eb-2757-483a-9521-5e5585e821e9","triggerCount":0,"shared":[{"createdAt":"2025-04-01T22:45:40.319Z","updatedAt":"2025-04-01T22:45:40.319Z","role":"workflow:owner","workflowId":"nqdluHU6VKot65ws","projectId":"oeHwV8sNrbPNhUov"}],"tags":[{"createdAt":"2025-03-17T22:01:27.572Z","updatedAt":"2025-03-17T22:01:27.572Z","id":"8gp5kj24VYtRoQQF","name":"Awareness Matrix"},{"createdAt":"2025-04-01T22:45:29.983Z","updatedAt":"2025-04-01T22:45:29.983Z","id":"BrjeNaIxRMVJhxj8","name":"Identity"}]}