13---brand-personality-ZZHxKdGae5WsZYdY.json
{"createdAt":"2025-04-09T02:41:44.498Z","updatedAt":"2025-08-14T23:31:01.992Z","id":"ZZHxKdGae5WsZYdY","name":"13 - Brand Personality","active":false,"isArchived":false,"nodes":[{"parameters":{"tableId":"brand_personality","fieldsUi":{"fieldValues":[{"fieldId":"client_id","fieldValue":"={{ $('Get misconseptions').item.json.client_id }}"},{"fieldId":"company","fieldValue":"={{ $('Google Sheets').item.json['Company Run'] }}"},{"fieldId":"personality_traits","fieldValue":"={{ $json.output.brandPersonality.personalityTraits }}"},{"fieldId":"famous_person","fieldValue":"={{ $json.output.brandPersonality.famousPersonExample }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[640,560],"id":"8f174d10-a792-4fe2-9a3c-07c968536478","name":"Supabase1","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}},"onError":"continueErrorOutput"},{"parameters":{"promptType":"define","text":"=ALWAYS USE THE TOOL TO PULL CHUNKS FROM THE VECTOR DATABASE\n\nCompany Offer:\n{{ $('Get Business Info').item.json.offer }}\n\nCompnay Industry:\n{{ $('Get Business Info').item.json.industry }}\n\nCompany Messaging:\n- Common words and phrases:\n{{ $('Get Common Words').item.json.primary_phrases }}; \n{{ $('Get Common Words').item.json.secondary_phrases }}\n\n- Common emotional sentiment:\n  Positive themes:\n  {{ $('Get emotional sentiment').item.json.summary.positiveThemes }}\n\n  \n\n- Jargon they use (and jargon they don’t):\n{{ $('Get jargon').item.json.good_jargon_terms }}\n\n- Common misconceptions:\n  About solution:\n{{ JSON.stringify($('Get misconseptions').item.json.misconceptions_about_solution) }}\n\n  About Offer:\n{{ JSON.stringify($('Get misconseptions').item.json.misconceptions_about_offer) }}\n\n  About Industry:\n{{ JSON.stringify($('Get misconseptions').item.json.misconceptions_about_industry) }}\n\n  About Company:\n{{ JSON.stringify($('Get misconseptions').item.json.misconceptions_about_company) }}\n\n\n- **Primary Target Market:**\n{{ JSON.stringify($('Get Target Market').item.json.primary_target_market, null, 2) }}\n\n- **Secondary Target Market:**\n-{{ JSON.stringify($('Get Target Market').item.json.secondary_target_market, null, 2) }}\n\n","hasOutputParser":true,"options":{"systemMessage":"=#Role and Objective#\nYou are a brand strategist. Your objective is to create a clear, concise brand personality profile based on all available context, inputs, and relevant chunks extracted from the vector database. The output should capture the essence of the brand in exactly five personality traits, each with a short description, and identify a single well-known person who embodies the brand’s personality.\n\n#Instructions#\n\nAlways use the tool to pull relevant data chunks from the vector database.\n\nReview all input context, including onboarding questionnaires, interviews, market research, customer feedback, and messaging insights.\n\nAnalyze the data to identify the five most defining brand personality traits.\n\nFor each trait, provide:\n\nTrait Name: e.g., \"Approachable,\" \"Effortlessly Stylish,\" etc.\n\nDescription: One short, clear sentence that captures the meaning of the trait for this brand.\n\nIdentify a single famous or well-known person who best represents the overall brand personality.\n\nInclude both their name and a brief explanation of how/why they embody the brand’s personality.\n\nOutput your results as a valid JSON schema object. Do not include any extra fields or commentary beyond what is required by the JSON schema.\n\n#Reasoning Steps#\n\nBegin by thoroughly reviewing all context and extracting supporting language, values, and messaging cues from the vector database.\n\nSynthesize five concise personality traits that accurately represent the brand.\n\nWrite a clear, one-sentence description for each trait.\n\nConsider the overall personality and match it to a single well-known person who exemplifies these traits, briefly explaining the alignment.\n\nConfirm that all required fields are present and no extras are included.\n\n#Context#\nYou have access to all relevant input context, onboarding questionnaires, interviews, customer feedback, and a vector database containing messaging, positioning, and brand-related insights. Use all sources to inform your choices.\n\n#Final instructions and prompt to think step by step#\nCarefully review all input context and vector database outputs before finalizing the brand personality.\nThink step by step: first, extract and synthesize the five key traits; second, write concise descriptions; third, select and justify a single famous person as an embodiment of the brand.\nReturn your answer as a valid JSON schema object, matching the required format exactly.\nDo not yield control until you have delivered exactly five traits and one famous person, with all content meeting the schema requirements and supported by your analysis of the context and vector database.\n\nJSON Schema:\n{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"title\": \"BrandPersonalityOutput\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"brandPersonality\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"personalityTraits\": {\n          \"type\": \"array\",\n          \"description\": \"List of exactly 5 personality traits for the brand.\",\n          \"items\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"trait\": {\n                \"type\": \"string\",\n                \"description\": \"The name of the personality trait.\"\n              },\n              \"description\": {\n                \"type\": \"string\",\n                \"description\": \"A short, concise description of the trait.\"\n              }\n            },\n            \"required\": [\"trait\", \"description\"],\n            \"additionalProperties\": false\n          },\n          \"minItems\": 5,\n          \"maxItems\": 5\n        },\n        \"famousPersonExample\": {\n          \"type\": \"object\",\n          \"description\": \"An example of a famous or well-known person that represents the brand if it were a person.\",\n          \"properties\": {\n            \"name\": {\n              \"type\": \"string\",\n              \"description\": \"The name of the famous person.\"\n            },\n            \"description\": {\n              \"type\": \"string\",\n              \"description\": \"A brief explanation of how this person reflects the brand personality.\"\n            }\n          },\n          \"required\": [\"name\", \"description\"],\n          \"additionalProperties\": false\n        }\n      },\n      \"required\": [\"personalityTraits\", \"famousPersonExample\"],\n      \"additionalProperties\": false\n    }\n  },\n  \"required\": [\"brandPersonality\"],\n  \"additionalProperties\": false\n}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[40,580],"id":"e0735f5c-b7f1-4367-beb8-6021740e94e0","name":"AI Agent","onError":"continueErrorOutput"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"title\": \"BrandPersonalityOutput\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"brandPersonality\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"personalityTraits\": {\n          \"type\": \"array\",\n          \"description\": \"List of exactly 5 personality traits for the brand.\",\n          \"items\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"trait\": {\n                \"type\": \"string\",\n                \"description\": \"The name of the personality trait.\"\n              },\n              \"description\": {\n                \"type\": \"string\",\n                \"description\": \"A short, concise description of the trait.\"\n              }\n            },\n            \"required\": [\"trait\", \"description\"],\n            \"additionalProperties\": false\n          },\n          \"minItems\": 5,\n          \"maxItems\": 5\n        },\n        \"famousPersonExample\": {\n          \"type\": \"object\",\n          \"description\": \"An example of a famous or well-known person that represents the brand if it were a person.\",\n          \"properties\": {\n            \"name\": {\n              \"type\": \"string\",\n              \"description\": \"The name of the famous person.\"\n            },\n            \"description\": {\n              \"type\": \"string\",\n              \"description\": \"A brief explanation of how this person reflects the brand personality.\"\n            }\n          },\n          \"required\": [\"name\", \"description\"],\n          \"additionalProperties\": false\n        }\n      },\n      \"required\": [\"personalityTraits\", \"famousPersonExample\"],\n      \"additionalProperties\": false\n    }\n  },\n  \"required\": [\"brandPersonality\"],\n  \"additionalProperties\": false\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[360,820],"id":"d8c2ed8a-88b5-40b7-ae99-84921b4b27fc","name":"Structured Output Parser"},{"parameters":{"mode":"retrieve-as-tool","toolName":"brandPersonality","toolDescription":"=Analyze the onboarding questionnaire and client interview documents in the vector database. Extract all verbatim one-liners or statements that relate to brand personality. Looks for statements related to \"Customer-Focused Messaging\", \"Brand Values & Craftsmanship\", \"Product/Benefit Highlights\", or any headings that indicate personality traits or tone). Additionally, provide any extra context that helps illuminate the brand personality if available.","pineconeIndex":{"__rl":true,"value":"={{ $json.company }}","mode":"id"},"topK":20,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[80,1060],"id":"f1cc851d-1dec-493f-b168-548581d3770a","name":"Pinecone Vector Store1","credentials":{"pineconeApi":{"id":"axuYyU6grhcC8CQp","name":"PineconeApi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[200,1260],"id":"93521d29-c2f1-46e0-a914-9c006efd88f2","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1780,600],"id":"e15cd0a0-d127-4b66-8c76-088d9547dcbf","name":"When clicking ‘Test workflow’"},{"parameters":{"content":"## Bubble webhook\n**Need to have Client ID sent via webhook","height":360,"width":260},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1860,440],"id":"eff2c7a6-7e04-4eb3-97a5-5a7972021163","name":"Sticky Note"},{"parameters":{"content":"## Change Search to ClientID In Production\n\nCurrently We are just searching for \"Tonic Living\"","height":380,"width":780},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1280,440],"id":"3f1db355-0566-42f8-8d97-8c9e2a2253b7","name":"Sticky Note1"},{"parameters":{"content":"## AI Model \nCurrently set\nto 4.1\n","height":220,"width":360,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-260,720],"id":"3b3cf7ad-3cac-4f1b-8c53-6dac1bbd32ea","name":"Sticky Note3"},{"parameters":{"assignments":{"assignments":[{"id":"375b758f-6387-4e71-b280-65106e9442d4","name":"company","value":"={{ $json.company.toLowerCase().replace(/\\s+/g, \"-\") }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-340,560],"id":"f744b77f-2b7e-41ca-b873-4d28a8c3485d","name":"standardize vector name"},{"parameters":{"content":"## Handle Error\nIn production add error handling for data duplication with same ID\n","height":280,"width":380},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[520,440],"id":"8b5a8875-8217-402a-8c6b-88c3decc694f","name":"Sticky Note4"},{"parameters":{"content":"## Prompt Notes\n-  Using Only Summary:Positive themes  for Emotional Sentiment\n","color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[40,420],"id":"a222296c-47dc-4c4e-a0cc-3195ab98fe6b","name":"Sticky Note5"},{"parameters":{"content":"## Notes about run\n\nRun Time: 13 secs\n\n## Analyze outputs\n- Might need higher intelligence for this output\n","height":380,"width":700,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1220,960],"id":"0aee203f-c978-4919-b406-ce5fd8cb9ceb","name":"Sticky Note6"},{"parameters":{"content":"\n\nHave error handling if fails\n","height":80,"width":150},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[340,640],"id":"23baaa08-d7c9-491d-a738-aac1281f587a","name":"Sticky Note7"},{"parameters":{"operation":"get","tableId":"target_market_profiles","filters":{"conditions":[{"keyName":"company","keyValue":"={{ $json['Company Run'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1280,620],"id":"2ade526f-dfd6-4a9d-be81-b1634196f1b8","name":"Get Target Market","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"content":"## Change search ID\n","height":200,"width":480},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-40,980],"id":"6cfeb2c2-73f0-488b-a0c7-4294de41e45c","name":"Sticky Note8"},{"parameters":{"documentId":{"__rl":true,"value":"1nTyix3NeSNWqhZ-B4CQYlelIdZMVpzz6B-d7tFuWOcs","mode":"list","cachedResultName":"MVP Info","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nTyix3NeSNWqhZ-B4CQYlelIdZMVpzz6B-d7tFuWOcs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Prompts","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nTyix3NeSNWqhZ-B4CQYlelIdZMVpzz6B-d7tFuWOcs/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-1560,600],"id":"6b13c006-40d3-4f93-ac19-2b57fdab94a7","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"tkvcRmLfYi38x0mC","name":"Google Sheets account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-20,820],"id":"ab2c6f72-b213-4396-b3b9-fe171ed3f961","name":"AI","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{"operation":"get","tableId":"misconceptions_output","filters":{"conditions":[{"keyName":"company","keyValue":"={{ $('Google Sheets').item.json['Company Run'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-640,660],"id":"73890506-9fc6-4808-b7c1-12c75b11541a","name":"Get misconseptions","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT\n  (\n    SELECT jsonb_agg(elem ->> 'phrase')\n    FROM jsonb_array_elements(primary_target_market) AS elem\n  ) AS primary_phrases,\n  (\n    SELECT jsonb_agg(elem ->> 'phrase')\n    FROM jsonb_array_elements(secondary_target_market) AS elem\n  ) AS secondary_phrases\nFROM common_words_and_phrases\nWHERE company ILIKE '{{ $('Google Sheets').item.json['Company Run'] }}';\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1100,540],"id":"a663c33f-716e-4eb5-9458-8a492b3fc99b","name":"Get Common Words","credentials":{"postgres":{"id":"D4qW5sB6FEvn5Z6e","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT\n  company,\n  (\n    SELECT jsonb_agg(elem ->> 'term')\n    FROM jsonb_array_elements(good_jargon) AS elem\n  ) AS good_jargon_terms\nFROM industry_jargon\nWHERE company ILIKE '{{ $('Google Sheets').item.json['Company Run'] }}';\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-940,660],"id":"267cd481-1af8-42d7-9a9f-9c057609c161","name":"Get jargon","credentials":{"postgres":{"id":"D4qW5sB6FEvn5Z6e","name":"Postgres account"}}},{"parameters":{"operation":"get","tableId":"common_emotional_sentiment","filters":{"conditions":[{"keyName":"company","keyValue":"={{ $('Google Sheets').item.json['Company Run'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-680,460],"id":"ffeacf2a-9343-422a-ad64-c0a51b6e9dce","name":"Get emotional sentiment","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"operation":"get","tableId":"business_profiles","filters":{"conditions":[{"keyName":"company","keyValue":"={{ $('Google Sheets').item.json['Company Run'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-840,500],"id":"c40f9ae2-6db2-4a6d-8b44-ce62d53f384e","name":"Get Business Info","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}}],"connections":{"AI Agent":{"main":[[{"node":"Supabase1","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Pinecone Vector Store1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store1","type":"ai_embedding","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"standardize vector name":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Get Target Market":{"main":[[{"node":"Get Common Words","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Get Target Market","type":"main","index":0}]]},"AI":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Get misconseptions":{"main":[[{"node":"standardize vector name","type":"main","index":0}]]},"Get Common Words":{"main":[[{"node":"Get jargon","type":"main","index":0}]]},"Get jargon":{"main":[[{"node":"Get Business Info","type":"main","index":0}]]},"Get emotional sentiment":{"main":[[{"node":"Get misconseptions","type":"main","index":0}]]},"Get Business Info":{"main":[[{"node":"Get emotional sentiment","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"075db5d5-d6f6-471d-a432-695a51f8afd4","triggerCount":0,"shared":[{"createdAt":"2025-04-09T02:41:44.498Z","updatedAt":"2025-04-09T02:41:44.498Z","role":"workflow:owner","workflowId":"ZZHxKdGae5WsZYdY","projectId":"oeHwV8sNrbPNhUov"}],"tags":[{"createdAt":"2025-03-17T22:01:27.572Z","updatedAt":"2025-03-17T22:01:27.572Z","id":"8gp5kj24VYtRoQQF","name":"Awareness Matrix"},{"createdAt":"2025-04-01T22:45:29.983Z","updatedAt":"2025-04-01T22:45:29.983Z","id":"BrjeNaIxRMVJhxj8","name":"Identity"}]}