14---tone-of-voice-9SEPwKvNXi2yFZoI.json
{"createdAt":"2025-04-09T03:36:13.902Z","updatedAt":"2025-08-14T23:31:30.091Z","id":"9SEPwKvNXi2yFZoI","name":"14 - Tone Of Voice","active":false,"isArchived":false,"nodes":[{"parameters":{"tableId":"tone_of_voice_guide","fieldsUi":{"fieldValues":[{"fieldId":"client_id","fieldValue":"={{ $('Get misconseptions').item.json.client_id }}"},{"fieldId":"company","fieldValue":"={{ $('Google Sheets').item.json['Company Run'] }}"},{"fieldId":"tone_of_voice_characteristics","fieldValue":"={{ $json.output.toneOfVoiceCharacteristics }}"},{"fieldId":"tone_variations_by_communication_type","fieldValue":"={{ $json.output.toneVariationsByCommunicationType }}"},{"fieldId":"comparison_with_competitors","fieldValue":"={{ $json.output.comparisonWithCompetitors }}"},{"fieldId":"unique_tone_characteristics","fieldValue":"={{ $json.output.uniqueToneCharacteristics }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[640,560],"id":"e1784464-38a2-4086-b0b6-b89b4dd9bb46","name":"Supabase1","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}},"onError":"continueErrorOutput"},{"parameters":{"promptType":"define","text":"=ALWAYS USE THE TOOL TO PULL CHUNKS FROM THE VECTOR DATABASE\n\nCompany Offer:\n{{ $('Get Business Info').item.json.offer }}\n\nCompnay Industry:\n{{ $('Get Business Info').item.json.industry }}\n\nCompany Messaging:\n- Common words and phrases:\n{{ $('Get Common Words').item.json.primary_phrases }}; \n{{ $('Get Common Words').item.json.secondary_phrases }}\n\n- Common emotional sentiment:\n  Positive themes:\n  {{ $('Get emotional sentiment').item.json.summary.positiveThemes }}\n\n- Jargon they use (and jargon they don’t):\n{{ $('Get jargon').item.json.good_jargon_terms }}\n\n- Common misconceptions:\n  About solution:\n{{ JSON.stringify($('Get misconseptions').item.json.misconceptions_about_solution) }}\n\n  About Offer:\n{{ JSON.stringify($('Get misconseptions').item.json.misconceptions_about_offer) }}\n\n  About Industry:\n{{ JSON.stringify($('Get misconseptions').item.json.misconceptions_about_industry) }}\n\n  About Company:\n{{ JSON.stringify($('Get misconseptions').item.json.misconceptions_about_company) }}\n\nBrand personality:\n{{ JSON.stringify($('Get Brand Personality').item.json.personality_traits) }}\n\n- **Primary Target Market:**\n{{ JSON.stringify($('Get Target Market').item.json.primary_target_market, null, 2) }}\n- **Secondary Target Market:**\n-{{ JSON.stringify($('Get Target Market').item.json.secondary_target_market, null, 2) }}\n\n","hasOutputParser":true,"options":{"systemMessage":"=#Role and Objective#\nYou are a brand strategist. Your objective is to develop a concise Tone of Voice Guide for the brand, based on all available context, inputs, and insights pulled from the vector database. The guide must include exactly five tone of voice characteristics, tone variations by communication type, and a comparison with key competitors highlighting what makes the brand’s tone unique.\n\n#Instructions#\n\nAlways use the tool provided to pull relevant data chunks from the vector database.\n\nReview all input context, including target market insights, brand values, brand personality, and competitor communications.\n\nIdentify five key tone of voice characteristics for the brand. For each:\n\nProvide the Characteristic Name (e.g., “Friendly and Approachable”).\n\nWrite a brief, clear description capturing the tone’s essence.\n\nGive a concrete example that illustrates the tone in use.\n\nFor tone variations by communication type (Social Media, Website Copy, Emails, Customer Service), provide:\n\nA concise description of how the tone adapts to the channel.\n\nA concrete example for each type.\n\nCompare the brand’s tone to that of key competitors:\n\nState what makes the brand’s tone unique.\n\nInclude specific points of differentiation.\n\nSummarize the unique tone characteristics in a bulleted list.\n\nOutput your answer as a valid JSON schema object. Do not include any extra fields or commentary beyond the required schema.\n\n#Reasoning Steps#\n\nStart by reviewing all relevant context and extracting tone cues from the vector database, brand personality, and competitor materials.\n\nSynthesize the five most defining tone of voice characteristics and write clear descriptions and examples for each.\n\nIdentify any variations in tone by channel and provide descriptions and channel-specific examples.\n\nAnalyze how the brand’s tone compares to competitors, calling out unique traits and differentiation.\n\nSummarize the brand’s unique tone characteristics in concise bullet points.\n\nConfirm that all required sections and fields are present and that no extra content is included.\n\n#Context#\nYou have access to all input context, brand personality and values, customer and competitor insights, and a vector database with messaging and communications data. Use all sources to support your guide.\n\n#Final instructions and prompt to think step by step#\nCarefully review all context and tool outputs from the vector database before finalizing the Tone of Voice Guide.\nThink step by step: first, identify and define the five tone characteristics with examples; second, describe and illustrate tone variations by channel; third, compare the brand’s tone to competitors and explain what makes it unique; fourth, summarize the key tone characteristics as bullet points.\nReturn your answer as a valid JSON schema object that matches the provided schema exactly.\nDo not yield control until every required section is present, all content is concise, and your output is fully supported by evidence from context and the vector database.\n\nOutput JSON Schema:\n{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"title\": \"ToneOfVoiceGuideOutput\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"toneOfVoiceCharacteristics\": {\n      \"type\": \"array\",\n      \"description\": \"List of exactly 5 tone of voice characteristics for the brand.\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"characteristic\": {\n            \"type\": \"string\",\n            \"description\": \"The name or title of the tone characteristic (e.g., 'Friendly and Approachable').\"\n          },\n          \"details\": {\n            \"type\": \"array\",\n            \"description\": \"Bullet point details elaborating on this characteristic.\",\n            \"items\": {\n              \"type\": \"string\"\n            }\n          },\n          \"example\": {\n            \"type\": \"string\",\n            \"description\": \"A concrete example that illustrates this tone characteristic.\"\n          }\n        },\n        \"required\": [\"characteristic\", \"details\", \"example\"],\n        \"additionalProperties\": false\n      },\n      \"minItems\": 5,\n      \"maxItems\": 5\n    },\n    \"toneVariationsByCommunicationType\": {\n      \"type\": \"object\",\n      \"description\": \"Tone variations for different communication types.\",\n      \"properties\": {\n        \"socialMedia\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"description\": {\n              \"type\": \"string\",\n              \"description\": \"Tone description for social media communications.\"\n            },\n            \"example\": {\n              \"type\": \"string\",\n              \"description\": \"An example line or caption used on social media.\"\n            }\n          },\n          \"required\": [\"description\", \"example\"],\n          \"additionalProperties\": false\n        },\n        \"websiteCopy\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"description\": {\n              \"type\": \"string\",\n              \"description\": \"Tone description for website copy.\"\n            },\n            \"example\": {\n              \"type\": \"string\",\n              \"description\": \"An example sentence or tagline from website copy.\"\n            }\n          },\n          \"required\": [\"description\", \"example\"],\n          \"additionalProperties\": false\n        },\n        \"emails\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"description\": {\n              \"type\": \"string\",\n              \"description\": \"Tone description for emails.\"\n            },\n            \"example\": {\n              \"type\": \"string\",\n              \"description\": \"An example email copy line.\"\n            }\n          },\n          \"required\": [\"description\", \"example\"],\n          \"additionalProperties\": false\n        },\n        \"customerService\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"description\": {\n              \"type\": \"string\",\n              \"description\": \"Tone description for customer service interactions.\"\n            },\n            \"example\": {\n              \"type\": \"string\",\n              \"description\": \"An example phrase used in customer service communication.\"\n            }\n          },\n          \"required\": [\"description\", \"example\"],\n          \"additionalProperties\": false\n        }\n      },\n      \"required\": [\"socialMedia\", \"websiteCopy\", \"emails\", \"customerService\"],\n      \"additionalProperties\": false\n    },\n    \"comparisonWithCompetitors\": {\n      \"type\": \"array\",\n      \"description\": \"Comparisons between the brand's tone and its competitors. Each entry should detail the competitor and explain what makes the brand's tone unique in comparison.\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"competitor\": {\n            \"type\": \"string\",\n            \"description\": \"Name(s) of the competitor(s).\"\n          },\n          \"competitorTone\": {\n            \"type\": \"string\",\n            \"description\": \"Description of the competitor's tone of voice.\"\n          },\n          \"brandDifference\": {\n            \"type\": \"string\",\n            \"description\": \"Explanation of what makes the brand’s tone unique compared to the competitor.\"\n          }\n        },\n        \"required\": [\"competitor\", \"competitorTone\", \"brandDifference\"],\n        \"additionalProperties\": false\n      }\n    },\n    \"uniqueToneCharacteristics\": {\n      \"type\": \"array\",\n      \"description\": \"A list of key bullet points highlighting what makes the brand’s tone unique.\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  },\n  \"required\": [\n    \"toneOfVoiceCharacteristics\",\n    \"toneVariationsByCommunicationType\",\n    \"comparisonWithCompetitors\",\n    \"uniqueToneCharacteristics\"\n  ],\n  \"additionalProperties\": false\n}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[40,580],"id":"4767f9c4-a34d-46eb-812b-841144cf9787","name":"AI Agent","onError":"continueErrorOutput"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"title\": \"ToneOfVoiceGuideOutput\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"toneOfVoiceCharacteristics\": {\n      \"type\": \"array\",\n      \"description\": \"List of exactly 5 tone of voice characteristics for the brand.\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"characteristic\": {\n            \"type\": \"string\",\n            \"description\": \"The name or title of the tone characteristic (e.g., 'Friendly and Approachable').\"\n          },\n          \"details\": {\n            \"type\": \"array\",\n            \"description\": \"Bullet point details elaborating on this characteristic.\",\n            \"items\": {\n              \"type\": \"string\"\n            }\n          },\n          \"example\": {\n            \"type\": \"string\",\n            \"description\": \"A concrete example that illustrates this tone characteristic.\"\n          }\n        },\n        \"required\": [\"characteristic\", \"details\", \"example\"],\n        \"additionalProperties\": false\n      },\n      \"minItems\": 5,\n      \"maxItems\": 5\n    },\n    \"toneVariationsByCommunicationType\": {\n      \"type\": \"object\",\n      \"description\": \"Tone variations for different communication types.\",\n      \"properties\": {\n        \"socialMedia\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"description\": {\n              \"type\": \"string\",\n              \"description\": \"Tone description for social media communications.\"\n            },\n            \"example\": {\n              \"type\": \"string\",\n              \"description\": \"An example line or caption used on social media.\"\n            }\n          },\n          \"required\": [\"description\", \"example\"],\n          \"additionalProperties\": false\n        },\n        \"websiteCopy\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"description\": {\n              \"type\": \"string\",\n              \"description\": \"Tone description for website copy.\"\n            },\n            \"example\": {\n              \"type\": \"string\",\n              \"description\": \"An example sentence or tagline from website copy.\"\n            }\n          },\n          \"required\": [\"description\", \"example\"],\n          \"additionalProperties\": false\n        },\n        \"emails\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"description\": {\n              \"type\": \"string\",\n              \"description\": \"Tone description for emails.\"\n            },\n            \"example\": {\n              \"type\": \"string\",\n              \"description\": \"An example email copy line.\"\n            }\n          },\n          \"required\": [\"description\", \"example\"],\n          \"additionalProperties\": false\n        },\n        \"customerService\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"description\": {\n              \"type\": \"string\",\n              \"description\": \"Tone description for customer service interactions.\"\n            },\n            \"example\": {\n              \"type\": \"string\",\n              \"description\": \"An example phrase used in customer service communication.\"\n            }\n          },\n          \"required\": [\"description\", \"example\"],\n          \"additionalProperties\": false\n        }\n      },\n      \"required\": [\"socialMedia\", \"websiteCopy\", \"emails\", \"customerService\"],\n      \"additionalProperties\": false\n    },\n    \"comparisonWithCompetitors\": {\n      \"type\": \"array\",\n      \"description\": \"Comparisons between the brand's tone and its competitors. Each entry should detail the competitor and explain what makes the brand's tone unique in comparison.\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"competitor\": {\n            \"type\": \"string\",\n            \"description\": \"Name(s) of the competitor(s).\"\n          },\n          \"competitorTone\": {\n            \"type\": \"string\",\n            \"description\": \"Description of the competitor's tone of voice.\"\n          },\n          \"brandDifference\": {\n            \"type\": \"string\",\n            \"description\": \"Explanation of what makes the brand’s tone unique compared to the competitor.\"\n          }\n        },\n        \"required\": [\"competitor\", \"competitorTone\", \"brandDifference\"],\n        \"additionalProperties\": false\n      }\n    },\n    \"uniqueToneCharacteristics\": {\n      \"type\": \"array\",\n      \"description\": \"A list of key bullet points highlighting what makes the brand’s tone unique.\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  },\n  \"required\": [\n    \"toneOfVoiceCharacteristics\",\n    \"toneVariationsByCommunicationType\",\n    \"comparisonWithCompetitors\",\n    \"uniqueToneCharacteristics\"\n  ],\n  \"additionalProperties\": false\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[360,820],"id":"7a9c0262-1c09-4f9f-b7be-7e99b42ef882","name":"Structured Output Parser"},{"parameters":{"mode":"retrieve-as-tool","toolName":"ToneOfVoice","toolDescription":"=Search the vector database for tone of voice-related content. Look for excerpts that describe the brand's communication style, including specific tone examples on social media, website copy, emails, and customer service. Also extract any competitor comparisons or messaging nuances that reveal what makes the brand's tone unique.","pineconeIndex":{"__rl":true,"value":"={{ $json.company }}","mode":"id"},"topK":20,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[80,1060],"id":"5eba811d-1fda-48fb-9934-ddd61c15d056","name":"Pinecone Vector Store1","credentials":{"pineconeApi":{"id":"axuYyU6grhcC8CQp","name":"PineconeApi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[200,1260],"id":"81b5ae8a-7417-4fb9-95d0-d3f425444004","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1980,620],"id":"376e5531-876f-48e1-8d55-4f8a948fb7e5","name":"When clicking ‘Test workflow’"},{"parameters":{"content":"## Bubble webhook\n**Need to have Client ID sent via webhook","height":360,"width":260},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2060,460],"id":"7fa8f723-27c9-49c2-bc09-971964ef952c","name":"Sticky Note"},{"parameters":{"content":"## Change Search to ClientID In Production\n\nCurrently We are just searching for \"Tonic Living\"","height":480,"width":1100},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1600,440],"id":"06efebcf-081d-40e1-ad9b-da735f8f550a","name":"Sticky Note1"},{"parameters":{"content":"## AI Model \nCurrently set\nto 4.1","height":220,"width":360,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-260,720],"id":"4269c152-8872-44df-acce-03f2e2fef626","name":"Sticky Note3"},{"parameters":{"assignments":{"assignments":[{"id":"375b758f-6387-4e71-b280-65106e9442d4","name":"company","value":"={{ $json.company.toLowerCase().replace(/\\s+/g, \"-\") }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-340,560],"id":"87911741-fb88-4a3f-a9bb-1379a55bf7a0","name":"standardize vector name"},{"parameters":{"content":"## Handle Error\nIn production add error handling for data duplication with same ID\n","height":280,"width":380},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[520,440],"id":"8e6051ac-177b-421a-a109-fc51699ac455","name":"Sticky Note4"},{"parameters":{"content":"## Prompt Notes\n-  Using Only Summary:Positive themes  for Emotional Sentiment\n","color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[40,420],"id":"ea8a8ab4-1a8a-4413-89c9-47ec55dadb9c","name":"Sticky Note5"},{"parameters":{"content":"## Notes about run\n\nRun Time: 20 secs\n\n## Analyze outputs\n- Might need higher intelligence for this output\n","height":380,"width":700,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1220,960],"id":"2128b1b8-027a-418d-8806-ed0543a3fb00","name":"Sticky Note6"},{"parameters":{"content":"\n\nHave error handling if fails\n","height":80,"width":150},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[340,640],"id":"ea0e7cc2-bcca-44c6-80e5-d3a09d28522d","name":"Sticky Note7"},{"parameters":{"operation":"get","tableId":"target_market_profiles","filters":{"conditions":[{"keyName":"company","keyValue":"={{ $json['Company Run'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1540,620],"id":"7f14dce0-080f-4ac3-a287-9a3db2869065","name":"Get Target Market","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"content":"## Change search ID\n","height":200,"width":480},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-40,980],"id":"a9c891f8-58ea-4f6c-a636-ff73e13872d9","name":"Sticky Note8"},{"parameters":{"documentId":{"__rl":true,"value":"1nTyix3NeSNWqhZ-B4CQYlelIdZMVpzz6B-d7tFuWOcs","mode":"list","cachedResultName":"MVP Info","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nTyix3NeSNWqhZ-B4CQYlelIdZMVpzz6B-d7tFuWOcs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Prompts","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nTyix3NeSNWqhZ-B4CQYlelIdZMVpzz6B-d7tFuWOcs/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-1760,620],"id":"e40e549d-7ad1-4c71-b197-52959396d094","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"tkvcRmLfYi38x0mC","name":"Google Sheets account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-20,820],"id":"f0feea9f-3b0d-4c95-8fcf-cb25f49ed732","name":"AI","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{"operation":"get","tableId":"misconceptions_output","filters":{"conditions":[{"keyName":"company","keyValue":"={{ $('Google Sheets').item.json['Company Run'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-800,520],"id":"cc5139a3-eaf4-450b-b4da-f069fbd739d1","name":"Get misconseptions","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT\n  (\n    SELECT jsonb_agg(elem ->> 'phrase')\n    FROM jsonb_array_elements(primary_target_market) AS elem\n  ) AS primary_phrases,\n  (\n    SELECT jsonb_agg(elem ->> 'phrase')\n    FROM jsonb_array_elements(secondary_target_market) AS elem\n  ) AS secondary_phrases\nFROM common_words_and_phrases\nWHERE company ILIKE '{{ $('Google Sheets').item.json['Company Run'] }}';\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1360,540],"id":"050cf400-c88b-40ea-810b-18cb650b2529","name":"Get Common Words","credentials":{"postgres":{"id":"D4qW5sB6FEvn5Z6e","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT\n  company,\n  (\n    SELECT jsonb_agg(elem ->> 'term')\n    FROM jsonb_array_elements(good_jargon) AS elem\n  ) AS good_jargon_terms\nFROM industry_jargon\nWHERE company ILIKE '{{ $('Google Sheets').item.json['Company Run'] }}';\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1200,720],"id":"2c90e7be-fcf4-4385-8cd8-793debe77880","name":"Get jargon","credentials":{"postgres":{"id":"D4qW5sB6FEvn5Z6e","name":"Postgres account"}}},{"parameters":{"operation":"get","tableId":"common_emotional_sentiment","filters":{"conditions":[{"keyName":"company","keyValue":"={{ $('Google Sheets').item.json['Company Run'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1060,520],"id":"a1e90448-ef46-49ab-b8d7-6da490916ff1","name":"Get emotional sentiment","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"operation":"get","tableId":"business_profiles","filters":{"conditions":[{"keyName":"company","keyValue":"={{ $('Google Sheets').item.json['Company Run'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-940,720],"id":"6bde4b57-fe08-4fa7-a4cf-e3cdafbe6c9f","name":"Get Business Info","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"operation":"get","tableId":"brand_personality","filters":{"conditions":[{"keyName":"company","keyValue":"={{ $('Google Sheets').item.json['Company Run'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-700,720],"id":"4780a735-d8ec-48a3-a278-186fae995827","name":"Get Brand Personality","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}}],"connections":{"AI Agent":{"main":[[{"node":"Supabase1","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Pinecone Vector Store1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store1","type":"ai_embedding","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"standardize vector name":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Get Target Market":{"main":[[{"node":"Get Common Words","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Get Target Market","type":"main","index":0}]]},"AI":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Get misconseptions":{"main":[[{"node":"Get Brand Personality","type":"main","index":0}]]},"Get Common Words":{"main":[[{"node":"Get jargon","type":"main","index":0}]]},"Get jargon":{"main":[[{"node":"Get emotional sentiment","type":"main","index":0}]]},"Get emotional sentiment":{"main":[[{"node":"Get Business Info","type":"main","index":0}]]},"Get Business Info":{"main":[[{"node":"Get misconseptions","type":"main","index":0}]]},"Get Brand Personality":{"main":[[{"node":"standardize vector name","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"56f4091d-b163-4309-a40b-8859cf58f21c","triggerCount":0,"shared":[{"createdAt":"2025-04-09T03:36:13.902Z","updatedAt":"2025-04-09T03:36:13.902Z","role":"workflow:owner","workflowId":"9SEPwKvNXi2yFZoI","projectId":"oeHwV8sNrbPNhUov"}],"tags":[{"createdAt":"2025-04-01T22:45:29.983Z","updatedAt":"2025-04-01T22:45:29.983Z","id":"BrjeNaIxRMVJhxj8","name":"Identity"},{"createdAt":"2025-03-17T22:01:27.572Z","updatedAt":"2025-03-17T22:01:27.572Z","id":"8gp5kj24VYtRoQQF","name":"Awareness Matrix"}]}