15---words-we-use-OFearXDTXX6RagNQ.json
{"createdAt":"2025-04-09T14:53:25.066Z","updatedAt":"2025-08-21T23:10:07.562Z","id":"OFearXDTXX6RagNQ","name":"15 - Words We Use","active":false,"isArchived":false,"nodes":[{"parameters":{"tableId":"words_we_use","fieldsUi":{"fieldValues":[{"fieldId":"client_id","fieldValue":"={{ $('Get Jargon').item.json.client_id }}"},{"fieldId":"company","fieldValue":"={{ $('Google Sheets').item.json['Company Run'] }}"},{"fieldId":"marketing_terminology","fieldValue":"={{ $json.output.marketingTerminology }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[640,560],"id":"46e5c50a-c2f1-4afa-9aea-64eeaa3353b4","name":"Supabase1","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}},"onError":"continueErrorOutput"},{"parameters":{"promptType":"define","text":"=ALWAYS USE THE TOOL TO PULL CHUNKS FROM THE VECTOR DATABASE\n\n- Desrired Transformation | Overarching, Primary, & Secondary:\n{{ $('Get Desired Transformation').item.json.overarching_transformation }}\n\n{{ JSON.stringify($('Get Desired Transformation').item.json.primary_transformation, null, 1) }}\n\n{{ JSON.stringify($('Get Desired Transformation').item.json.secondary_transformation, null, 1) }}\n\n\n- Get Pain Points:\n{{ JSON.stringify($('Get Pain Points').item.json.known_pain_points, null, 1) }}\n\n- Jargon they use (and jargon they don’t):\nUse:\n{{ JSON.stringify($('Get Jargon').item.json.good_jargon, null, 1) }}\n\n\n- Primary Target Market:\n{{ JSON.stringify($('Get Target Market').item.json.primary_target_market, null, 2) }}\n\n- Secondary Target Market:\n-{{ JSON.stringify($('Get Target Market').item.json.secondary_target_market, null, 2) }}\n\n","hasOutputParser":true,"options":{"systemMessage":"=#Role and Objective#\nYou are a marketing language strategist. Your objective is to analyze all provided context—including interviews, testimonials, reviews, and other research—to identify the most effective marketing terminology for the company to use. The goal is to create a list of no more than 20 words, terms, or short phrases that the brand should consistently use in its messaging to connect with the target market.\n\n#Instructions#\n\nAlways use the tool provided to pull relevant chunks from the vector database.\n\nReview all input context, including customer interviews, testimonials, reviews, and research.\n\nIdentify up to 20 words, terms, or short phrases that:\n\nAlign with the target market’s language and mindset.\n\nAddress key pain points or problems the audience cares about.\n\nReflect the transformation or outcome the target market desires.\n\nMatch the jargon or terminology actually used by the audience.\n\nElicit emotional responses or strong engagement.\n\nFor each word, term, or phrase, provide a brief description explaining its significance and how it resonates with the audience.\n\nPrioritize language that is repeated by the target market and shown to have emotional or persuasive impact.\n\nPresent your output as a valid JSON schema object, following the required structure exactly. Do not include any extra fields.\n\n#Reasoning Steps#\n\nBegin by reviewing all relevant context and extracting repeated or high-impact language from the vector database.\n\nFocus on words, terms, and short phrases that are used by the target market and tie directly to their pain points, aspirations, and emotional triggers.\n\nFor each term, write a concise description that explains why it matters and how it connects to the audience’s needs or mindset.\n\nConfirm the list is no longer than 20 entries and that each entry includes both the term and its description.\n\n#Context#\nYou have access to interviews, testimonials, reviews, market research, and a vector database containing detailed contextual insights about the brand, offer, and audience. Use all relevant sources and retrieved chunks.\n\n#Final instructions and prompt to think step by step#\nCarefully review all input context and outputs from the vector database before compiling your list.\nThink step by step: first, extract repeated and emotionally charged language; second, ensure each term aligns with target market pain points and aspirations; third, provide a clear description for each term’s significance.\nReturn your answer as a valid JSON schema object that contains only the required fields.\nDo not yield control until all instructions are met and the list reflects authentic, audience-driven language.\n\n\n\nOutput Schema:\n{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"title\": \"MarketingTerminologyOutput\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"marketingTerminology\": {\n      \"type\": \"array\",\n      \"description\": \"A list of no more than 20 marketing terms, words, or phrases that align with the target market's language, pain points, and desired transformation.\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"term\": {\n            \"type\": \"string\",\n            \"description\": \"The marketing term, word, or phrase.\"\n          },\n          \"description\": {\n            \"type\": \"string\",\n            \"description\": \"A brief explanation of the term’s significance and how it resonates with the target market.\"\n          }\n        },\n        \"required\": [\"term\", \"description\"],\n        \"additionalProperties\": false\n      },\n      \"maxItems\": 20\n    }\n  },\n  \"required\": [\"marketingTerminology\"],\n  \"additionalProperties\": false\n}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[48,592],"id":"2dea0dd8-3f19-4865-aae6-bed6269a4e00","name":"AI Agent","onError":"continueErrorOutput"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"title\": \"MarketingTerminologyOutput\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"marketingTerminology\": {\n      \"type\": \"array\",\n      \"description\": \"A list of no more than 20 marketing terms, words, or phrases that align with the target market's language, pain points, and desired transformation.\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"term\": {\n            \"type\": \"string\",\n            \"description\": \"The marketing term, word, or phrase.\"\n          },\n          \"description\": {\n            \"type\": \"string\",\n            \"description\": \"A brief explanation of the term’s significance and how it resonates with the target market.\"\n          }\n        },\n        \"required\": [\"term\", \"description\"],\n        \"additionalProperties\": false\n      },\n      \"maxItems\": 20\n    }\n  },\n  \"required\": [\"marketingTerminology\"],\n  \"additionalProperties\": false\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[368,832],"id":"900a3ee4-5e21-4f0d-8129-d7c04a47bc5f","name":"Structured Output Parser"},{"parameters":{"mode":"retrieve-as-tool","toolName":"WordsToUse","toolDescription":"=Search the vector database for phrases to create a list of marketing terminology that the company should use to communicate and enhance its messaging consistently","pineconeIndex":{"__rl":true,"value":"={{ $json.company }}","mode":"id"},"topK":20,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[80,1072],"id":"f401ed0d-ef0e-40a7-af0e-8d655c80a9df","name":"Pinecone Vector Store1","credentials":{"pineconeApi":{"id":"axuYyU6grhcC8CQp","name":"PineconeApi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[208,1264],"id":"090c57ed-712a-4296-918e-c6794616f489","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1984,624],"id":"7174ca95-cb30-4b4c-9389-ccfbc7c9c7c7","name":"When clicking ‘Test workflow’"},{"parameters":{"content":"## Bubble webhook\n**Need to have Client ID sent via webhook","height":360,"width":260},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2064,464],"id":"26e14557-cd61-4b66-9c47-18695dbd20f4","name":"Sticky Note"},{"parameters":{"content":"## Change Search to ClientID In Production\n\nCurrently We are just searching for \"Tonic Living\"","height":480,"width":1100},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1600,448],"id":"2995bae9-173c-45b2-9614-ddeded091f1d","name":"Sticky Note1"},{"parameters":{"content":"## AI Model \nCurrently set\nto 4.1\n","height":220,"width":360,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-256,720],"id":"027fc369-1307-4956-8914-9b1906561f2d","name":"Sticky Note3"},{"parameters":{"assignments":{"assignments":[{"id":"375b758f-6387-4e71-b280-65106e9442d4","name":"company","value":"={{ $json.company.toLowerCase().replace(/\\s+/g, \"-\") }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-336,560],"id":"e869152b-8447-473f-9f93-468977c53c4a","name":"standardize vector name"},{"parameters":{"content":"## Handle Error\nIn production add error handling for data duplication with same ID\n","height":280,"width":380},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[528,448],"id":"0c1b3008-047c-4388-997c-3a7e1ba29372","name":"Sticky Note4"},{"parameters":{"content":"## Prompt Notes\n-  Using Only Summary:Positive themes  for Emotional Sentiment\n","color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[48,432],"id":"ae49deef-bea3-4047-86f4-8a0e40254d21","name":"Sticky Note5"},{"parameters":{"content":"## Notes about run\n\nRun Time: 25 secs\n\n## Analyze outputs\n- Might need higher intelligence for this output\n","height":380,"width":700,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1216,960],"id":"bacb39ef-7f28-4662-9091-1fbf80f0e74c","name":"Sticky Note6"},{"parameters":{"content":"\n\nHave error handling if fails\n","height":80,"width":150},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[352,640],"id":"ed9cb2e3-c3b1-4d4d-b2bb-5d07ac331b1c","name":"Sticky Note7"},{"parameters":{"operation":"get","tableId":"target_market_profiles","filters":{"conditions":[{"keyName":"company","keyValue":"={{ $json['Company Run'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1536,624],"id":"55e84e60-6e45-4b79-b62f-7d34611af5b6","name":"Get Target Market","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"content":"## Change search ID\n","height":200,"width":480},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-48,992],"id":"c7d5b98d-3642-4c11-be9d-2363ad531dba","name":"Sticky Note8"},{"parameters":{"documentId":{"__rl":true,"value":"1nTyix3NeSNWqhZ-B4CQYlelIdZMVpzz6B-d7tFuWOcs","mode":"list","cachedResultName":"MVP Info","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nTyix3NeSNWqhZ-B4CQYlelIdZMVpzz6B-d7tFuWOcs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Prompts","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nTyix3NeSNWqhZ-B4CQYlelIdZMVpzz6B-d7tFuWOcs/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-1760,624],"id":"ba3eb550-4978-4e89-a7bb-4d3f745923a1","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"tkvcRmLfYi38x0mC","name":"Google Sheets account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-16,832],"id":"470934c5-d178-4b34-813c-bc15d670479e","name":"AI","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{"operation":"executeQuery","query":"SELECT\n  (\n    SELECT jsonb_agg(elem ->> 'phrase')\n    FROM jsonb_array_elements(primary_target_market) AS elem\n  ) AS primary_phrases,\n  (\n    SELECT jsonb_agg(elem ->> 'phrase')\n    FROM jsonb_array_elements(secondary_target_market) AS elem\n  ) AS secondary_phrases\nFROM common_words_and_phrases\nWHERE company ILIKE '{{ $('Google Sheets').item.json['Company Run'] }}';\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1360,240],"id":"8ca203eb-faca-4446-b5a5-42bedc16a6c8","name":"Get Common Words","credentials":{"postgres":{"id":"D4qW5sB6FEvn5Z6e","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT\n  company,\n  (\n    SELECT jsonb_agg(elem ->> 'term')\n    FROM jsonb_array_elements(good_jargon) AS elem\n  ) AS good_jargon_terms\nFROM industry_jargon\nWHERE company ILIKE '{{ $('Google Sheets').item.json['Company Run'] }}';\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1136,240],"id":"8534d6c0-d278-4360-9e17-8659a5ac15a3","name":"Get jargon","credentials":{"postgres":{"id":"D4qW5sB6FEvn5Z6e","name":"Postgres account"}}},{"parameters":{"operation":"get","tableId":"pain_points_extractions","filters":{"conditions":[{"keyName":"company","keyValue":"={{ $('Google Sheets').item.json['Company Run'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1280,624],"id":"7ed9b100-7dbc-4389-b800-333dda7dd00d","name":"Get Pain Points","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"operation":"get","tableId":"desired_transformations","filters":{"conditions":[{"keyName":"company","keyValue":"={{ $('Google Sheets').item.json['Company Run'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1040,624],"id":"5c15a472-5aef-40bc-ab8a-5daa2130cd27","name":"Get Desired Transformation","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"operation":"get","tableId":"industry_jargon","filters":{"conditions":[{"keyName":"company","keyValue":"={{ $('Google Sheets').item.json['Company Run'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-784,624],"id":"ac3b38cd-d454-46d1-90aa-f2e8f9def745","name":"Get Jargon","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}}],"connections":{"AI Agent":{"main":[[{"node":"Supabase1","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Pinecone Vector Store1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store1","type":"ai_embedding","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"standardize vector name":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Get Target Market":{"main":[[{"node":"Get Pain Points","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Get Target Market","type":"main","index":0}]]},"AI":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Get Common Words":{"main":[[]]},"Get jargon":{"main":[[]]},"Get Pain Points":{"main":[[{"node":"Get Desired Transformation","type":"main","index":0}]]},"Get Desired Transformation":{"main":[[{"node":"Get Jargon","type":"main","index":0}]]},"Get Jargon":{"main":[[{"node":"standardize vector name","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d0f82b60-7d85-417e-bf25-a04221ab2e71","triggerCount":0,"shared":[{"createdAt":"2025-04-09T14:53:25.066Z","updatedAt":"2025-04-09T14:53:25.066Z","role":"workflow:owner","workflowId":"OFearXDTXX6RagNQ","projectId":"oeHwV8sNrbPNhUov"}],"tags":[{"createdAt":"2025-04-01T22:45:29.983Z","updatedAt":"2025-04-01T22:45:29.983Z","id":"BrjeNaIxRMVJhxj8","name":"Identity"},{"createdAt":"2025-03-17T22:01:27.572Z","updatedAt":"2025-03-17T22:01:27.572Z","id":"8gp5kj24VYtRoQQF","name":"Awareness Matrix"}]}