16---words-we-dont-use-SC22thTbFKtNYBci.json
{"createdAt":"2025-04-09T15:27:10.048Z","updatedAt":"2025-08-21T23:10:20.816Z","id":"SC22thTbFKtNYBci","name":"16 - Words We Dont Use","active":false,"isArchived":false,"nodes":[{"parameters":{"tableId":"words_we_dont_use","fieldsUi":{"fieldValues":[{"fieldId":"client_id","fieldValue":"={{ $('Get Jargon').item.json.client_id }}"},{"fieldId":"company","fieldValue":"={{ $('Google Sheets').item.json['Company Run'] }}"},{"fieldId":"marketing_avoid_terminology","fieldValue":"={{ $json.output.marketingTerminologyToAvoid }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[640,560],"id":"f7b8e805-1914-4f7e-88e1-fc731885eb6d","name":"Supabase1","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}},"onError":"continueErrorOutput"},{"parameters":{"promptType":"define","text":"=ALWAYS USE THE TOOL TO PULL CHUNKS FROM THE VECTOR DATABASE\n\n- Desrired Transformation | Overarching, Primary, & Secondary:\n{{ $('Get Desired Transformation').item.json.overarching_transformation }}\n\n{{ JSON.stringify($('Get Desired Transformation').item.json.primary_transformation, null, 1) }}\n\n{{ JSON.stringify($('Get Desired Transformation').item.json.secondary_transformation, null, 1) }}\n\n\n- Get Pain Points:\n{{ JSON.stringify($('Get Pain Points').item.json.known_pain_points, null, 1) }}\n\n- Jargon they use (and jargon they don’t):\nUse:\n{{ JSON.stringify($('Get Jargon').item.json.good_jargon, null, 1) }}\n\n\n- Primary Target Market:\n{{ JSON.stringify($('Get Target Market').item.json.primary_target_market, null, 2) }}\n- Secondary Target Market:\n-{{ JSON.stringify($('Get Target Market').item.json.secondary_target_market, null, 2) }}\n\n","hasOutputParser":true,"options":{"systemMessage":"=#Role and Objective#\nYou are a marketing communications strategist. Your objective is to analyze all provided context—including interviews, testimonials, reviews, and market research—to identify marketing terms, words, or short phrases the company should never use in its messaging. The goal is to help the brand avoid language that is out of touch, overused, not adopted by the target market, or damaging to its reputation and positioning.\n\n#Instructions#\n\nAlways use the tool provided to pull relevant chunks from the vector database.\n\nReview all input context: interviews, testimonials, reviews, and research.\n\nIdentify up to 20 words, terms, or short phrases that the brand should never use. These may include:\n\nOverused or cliché marketing buzzwords.\n\nIndustry jargon not adopted or recognized by the target market.\n\nWords or phrases that could confuse, alienate, or turn off the audience.\n\nLanguage that might undermine the brand’s credibility, relevance, or value.\n\nFor each term, write a brief explanation of why it could harm the brand’s positioning, dilute its messaging, or negatively impact perception.\n\nPresent your final output as a valid JSON schema object, following the required structure exactly. Do not include any extra fields.\n\n#Reasoning Steps#\n\nBegin by reviewing all relevant context and extracting problematic, outdated, or off-brand language from the vector database.\n\nFocus on words, terms, and phrases that are either not adopted by the target market or carry negative connotations.\n\nFor each term, write a concise explanation of its risks or drawbacks.\n\nEnsure your list is no longer than 20 entries, with each entry including both the term and its explanation.\n\n#Context#\nYou have access to interviews, testimonials, reviews, market research, and a vector database containing detailed contextual insights about the brand, audience, and market language. Use all available sources and retrieved chunks.\n\n#Final instructions and prompt to think step by step#\nCarefully review all input context and tool outputs from the vector database before compiling your list.\nThink step by step: first, identify and exclude language that is outdated, irrelevant, or off-brand; second, clearly articulate why each term is problematic.\nReturn your answer as a valid JSON schema object with only the required fields.\nDo not yield control until all instructions are followed and the output is fully supported by evidence from the context and vector database.\n\n\nOutput Schema:\n{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"title\": \"MarketingTerminologyToAvoidOutput\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"marketingTerminologyToAvoid\": {\n      \"type\": \"array\",\n      \"description\": \"A list of no more than 20 marketing terms, words, or phrases that should never be used, along with explanations of their negative impact.\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"term\": {\n            \"type\": \"string\",\n            \"description\": \"The marketing term, word, or phrase that should be avoided.\"\n          },\n          \"description\": {\n            \"type\": \"string\",\n            \"description\": \"A brief explanation of why this term should not be used and how it could damage the brand's reputation.\"\n          }\n        },\n        \"required\": [\"term\", \"description\"],\n        \"additionalProperties\": false\n      },\n      \"maxItems\": 20\n    }\n  },\n  \"required\": [\"marketingTerminologyToAvoid\"],\n  \"additionalProperties\": false\n}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[48,592],"id":"fecad8e0-f47d-4631-a974-b7df5a28485f","name":"AI Agent","onError":"continueErrorOutput"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"title\": \"MarketingTerminologyToAvoidOutput\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"marketingTerminologyToAvoid\": {\n      \"type\": \"array\",\n      \"description\": \"A list of no more than 20 marketing terms, words, or phrases that should never be used, along with explanations of their negative impact.\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"term\": {\n            \"type\": \"string\",\n            \"description\": \"The marketing term, word, or phrase that should be avoided.\"\n          },\n          \"description\": {\n            \"type\": \"string\",\n            \"description\": \"A brief explanation of why this term should not be used and how it could damage the brand's reputation.\"\n          }\n        },\n        \"required\": [\"term\", \"description\"],\n        \"additionalProperties\": false\n      },\n      \"maxItems\": 20\n    }\n  },\n  \"required\": [\"marketingTerminologyToAvoid\"],\n  \"additionalProperties\": false\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[368,832],"id":"0b4fddd4-c0cb-4e66-8a7e-f71edf8636a2","name":"Structured Output Parser"},{"parameters":{"mode":"retrieve-as-tool","toolName":"WordsToUse","toolDescription":"=Search the vector database for phrases to create a list of marketing terminology that the company should NOT use to communicate and enhance its messaging consistently","pineconeIndex":{"__rl":true,"value":"={{ $json.company }}","mode":"id"},"topK":20,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[80,1072],"id":"b9540eae-917c-482d-ace8-809111925cc0","name":"Pinecone Vector Store1","credentials":{"pineconeApi":{"id":"axuYyU6grhcC8CQp","name":"PineconeApi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[208,1264],"id":"21671217-2060-419c-a01c-4864cf0db65b","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1984,624],"id":"6b351ade-a828-4509-92c7-e18043d9a645","name":"When clicking ‘Test workflow’"},{"parameters":{"content":"## Bubble webhook\n**Need to have Client ID sent via webhook","height":360,"width":260},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2064,464],"id":"24ac3255-ab93-43de-8321-714c9e702f99","name":"Sticky Note"},{"parameters":{"content":"## Change Search to ClientID In Production\n\nCurrently We are just searching for \"Tonic Living\"","height":480,"width":1100},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1600,448],"id":"35cb3c85-0907-4ec9-b3d3-b17f1d5a7d38","name":"Sticky Note1"},{"parameters":{"content":"## AI Model \nCurrently set\nto 4o","height":220,"width":360,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-256,720],"id":"18a0afb1-73a3-4e5f-8860-7f0ae0107ca8","name":"Sticky Note3"},{"parameters":{"assignments":{"assignments":[{"id":"375b758f-6387-4e71-b280-65106e9442d4","name":"company","value":"={{ $json.company.toLowerCase().replace(/\\s+/g, \"-\") }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-336,560],"id":"2146903b-f6df-4a92-b52b-d689d0baa745","name":"standardize vector name"},{"parameters":{"content":"## Handle Error\nIn production add error handling for data duplication with same ID\n","height":280,"width":380},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[528,448],"id":"ec8e644d-5596-4106-ba31-438fcfc5c6cb","name":"Sticky Note4"},{"parameters":{"content":"## Prompt Notes\n-  Using Only Summary:Positive themes  for Emotional Sentiment\n","color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[48,432],"id":"44b48c55-149b-4f8b-bd8f-b4e097a6ab53","name":"Sticky Note5"},{"parameters":{"content":"## Notes about run\n\nRun Time: 25 secs\n\n## Analyze outputs\n- Might need higher intelligence for this output\n","height":380,"width":700,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1216,960],"id":"e4075b08-4db8-4572-9480-86eb6e77064a","name":"Sticky Note6"},{"parameters":{"content":"\n\nHave error handling if fails\n","height":80,"width":150},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[352,640],"id":"15194aae-20cf-4fe3-aea4-05959b1f3e4b","name":"Sticky Note7"},{"parameters":{"operation":"get","tableId":"target_market_profiles","filters":{"conditions":[{"keyName":"company","keyValue":"={{ $json['Company Run'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1536,624],"id":"e6bc5be9-4266-46dd-abc7-98f406c13706","name":"Get Target Market","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"content":"## Change search ID\n","height":200,"width":480},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-48,992],"id":"c28f1514-0196-4b5c-9d0c-2b3dcd36e663","name":"Sticky Note8"},{"parameters":{"documentId":{"__rl":true,"value":"1nTyix3NeSNWqhZ-B4CQYlelIdZMVpzz6B-d7tFuWOcs","mode":"list","cachedResultName":"MVP Info","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nTyix3NeSNWqhZ-B4CQYlelIdZMVpzz6B-d7tFuWOcs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Prompts","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nTyix3NeSNWqhZ-B4CQYlelIdZMVpzz6B-d7tFuWOcs/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-1760,624],"id":"15240531-4821-4267-b843-2d99843cd017","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"tkvcRmLfYi38x0mC","name":"Google Sheets account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-16,832],"id":"a2665173-f1e7-4585-8831-47163462823a","name":"AI","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{"operation":"executeQuery","query":"SELECT\n  (\n    SELECT jsonb_agg(elem ->> 'phrase')\n    FROM jsonb_array_elements(primary_target_market) AS elem\n  ) AS primary_phrases,\n  (\n    SELECT jsonb_agg(elem ->> 'phrase')\n    FROM jsonb_array_elements(secondary_target_market) AS elem\n  ) AS secondary_phrases\nFROM common_words_and_phrases\nWHERE company ILIKE '{{ $('Google Sheets').item.json['Company Run'] }}';\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1360,240],"id":"46484c5a-c5a8-4131-b867-ba14fdb24fc5","name":"Get Common Words","credentials":{"postgres":{"id":"D4qW5sB6FEvn5Z6e","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT\n  company,\n  (\n    SELECT jsonb_agg(elem ->> 'term')\n    FROM jsonb_array_elements(good_jargon) AS elem\n  ) AS good_jargon_terms\nFROM industry_jargon\nWHERE company ILIKE '{{ $('Google Sheets').item.json['Company Run'] }}';\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1136,240],"id":"dfc59c61-6429-4edc-b5a9-197881038ee0","name":"Get jargon","credentials":{"postgres":{"id":"D4qW5sB6FEvn5Z6e","name":"Postgres account"}}},{"parameters":{"operation":"get","tableId":"pain_points_extractions","filters":{"conditions":[{"keyName":"company","keyValue":"={{ $('Google Sheets').item.json['Company Run'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1280,624],"id":"b51cc6c4-865b-45ea-851f-bb13c4ab487b","name":"Get Pain Points","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"operation":"get","tableId":"desired_transformations","filters":{"conditions":[{"keyName":"company","keyValue":"={{ $('Google Sheets').item.json['Company Run'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1040,624],"id":"31863af9-b028-45d1-90d5-d36ea317552f","name":"Get Desired Transformation","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"operation":"get","tableId":"industry_jargon","filters":{"conditions":[{"keyName":"company","keyValue":"={{ $('Google Sheets').item.json['Company Run'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-784,624],"id":"5c6f49db-e47f-49a4-95d6-7089c0022d1d","name":"Get Jargon","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}}],"connections":{"AI Agent":{"main":[[{"node":"Supabase1","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Pinecone Vector Store1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store1","type":"ai_embedding","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"standardize vector name":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Get Target Market":{"main":[[{"node":"Get Pain Points","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Get Target Market","type":"main","index":0}]]},"AI":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Get Common Words":{"main":[[]]},"Get jargon":{"main":[[]]},"Get Pain Points":{"main":[[{"node":"Get Desired Transformation","type":"main","index":0}]]},"Get Desired Transformation":{"main":[[{"node":"Get Jargon","type":"main","index":0}]]},"Get Jargon":{"main":[[{"node":"standardize vector name","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6d9a8df8-fcb4-458b-8070-25a4957bfeb6","triggerCount":0,"shared":[{"createdAt":"2025-04-09T15:27:10.048Z","updatedAt":"2025-04-09T15:27:10.048Z","role":"workflow:owner","workflowId":"SC22thTbFKtNYBci","projectId":"oeHwV8sNrbPNhUov"}],"tags":[{"createdAt":"2025-03-17T22:01:27.572Z","updatedAt":"2025-03-17T22:01:27.572Z","id":"8gp5kj24VYtRoQQF","name":"Awareness Matrix"},{"createdAt":"2025-04-01T22:45:29.983Z","updatedAt":"2025-04-01T22:45:29.983Z","id":"BrjeNaIxRMVJhxj8","name":"Identity"}]}