1:1-call-qc-(manual-submissions)-sOWxd6CnDsaviI0W.json
{"createdAt":"2025-08-04T15:26:59.282Z","updatedAt":"2025-09-03T16:53:41.675Z","id":"sOWxd6CnDsaviI0W","name":"1:1 Call QC (Manual Submissions)","active":true,"isArchived":false,"nodes":[{"parameters":{"formTitle":"Manual 1:1 Trigger","formDescription":"Purpose: Manually Trigger a New Client Call ","formFields":{"values":[{"fieldLabel":"Transcript - Full Transcript Copied From Fathom","fieldType":"textarea","requiredField":true},{"fieldLabel":"Fathom Call Link","requiredField":true},{"fieldLabel":"Client Company Name - as it appears in Notion","requiredField":true},{"fieldLabel":"Date Of Call","fieldType":"date","requiredField":true},{"fieldLabel":"Host of Call"}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-304,288],"id":"35c1fa7b-37b5-4389-862a-55bbd87c73a1","name":"On form submission1","webhookId":"677eb957-cb47-4848-89bf-91c7508ed56a"},{"parameters":{"documentId":{"__rl":true,"value":"1mmVcdIyaz-jfaRseG97pFPeh1OVeT9T11p87k31oG5M","mode":"list","cachedResultName":"Slack User to Company Mapping","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1mmVcdIyaz-jfaRseG97pFPeh1OVeT9T11p87k31oG5M/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1mmVcdIyaz-jfaRseG97pFPeh1OVeT9T11p87k31oG5M/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-80,208],"id":"82d4c26c-ba61-4eec-ac04-7a9829cb65a6","name":"Reads Slack Google Sheet2","retryOnFail":true,"credentials":{"googleSheetsOAuth2Api":{"id":"fDxpMWdEItte31h1","name":"Google Sheets account 2"}}},{"parameters":{"aggregate":"={{ $json.Name }}","fieldsToAggregate":{"fieldToAggregate":[{}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[144,208],"id":"6b8ff211-1dea-4444-b1f0-980062ae4416","name":"Aggregate2"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[336,288],"id":"a13e537b-dae6-4006-b200-ae92c7c1014c","name":"Merge1","onError":"continueErrorOutput"},{"parameters":{"jsCode":"// --- Levenshtein distance (edit distance) ---\nfunction levenshtein(a, b) {\n  if (!a || !b) return Infinity;\n  if (a.length === 0) return b.length;\n  if (b.length === 0) return a.length;\n  const matrix = [];\n\n  for (let i = 0; i <= b.length; i++) {\n    matrix[i] = [i];\n  }\n  for (let j = 0; j <= a.length; j++) {\n    matrix[0][j] = j;\n  }\n\n  for (let i = 1; i <= b.length; i++) {\n    for (let j = 1; j <= a.length; j++) {\n      if (b.charAt(i - 1).toLowerCase() === a.charAt(j - 1).toLowerCase()) {\n        matrix[i][j] = matrix[i - 1][j - 1];\n      } else {\n        matrix[i][j] = Math.min(\n          matrix[i - 1][j - 1] + 1, // substitution\n          matrix[i][j - 1] + 1,     // insertion\n          matrix[i - 1][j] + 1      // deletion\n        );\n      }\n    }\n  }\n\n  return matrix[b.length][a.length];\n}\n\n// --- Normalize strings ---\nfunction normalize(str) {\n  return String(str || \"\")\n    .toLowerCase()\n    .trim()\n    .replace(/\\s+/g, \" \");\n}\n\n// --- MAIN LOGIC ---\n\n// 1. Get company from form\nconst inputCompany = $('On form submission1').first().json['Client Company Name - as it appears in Notion'];\nif (!inputCompany) {\n  throw new Error('Form did not provide a company name');\n}\nconst normInput = normalize(inputCompany);\n\n// 2. Get transcript from form\nconst transcript = $('On form submission1').first().json['Transcript - Full Transcript Copied From Fathom'] || \"\";\n\n// 3. Get dataset\nconst dataSet = $input.first().json.data;\nif (!Array.isArray(dataSet)) {\n  throw new Error('Dataset not found or not an array at $input.first().json.data');\n}\n\n// 4. Exact match\nlet match = dataSet.find(row =>\n  normalize(row['Company as in Notion']) === normInput\n);\n\n// 5. Partial match\nif (!match) {\n  match = dataSet.find(row => {\n    const normRow = normalize(row['Company as in Notion']);\n    return normRow.includes(normInput) || normInput.includes(normRow);\n  });\n}\n\n// 6. Fuzzy match (Levenshtein distance, forgiving threshold)\nif (!match) {\n  let bestRow = null;\n  let bestScore = Infinity;\n  for (const row of dataSet) {\n    const normRow = normalize(row['Company as in Notion']);\n    if (!normRow) continue;\n    const score = levenshtein(normInput, normRow);\n    if (score < bestScore) {\n      bestScore = score;\n      bestRow = row;\n    }\n  }\n  // More forgiving: allow up to 5 edits\n  if (bestScore <= 5) {\n    match = bestRow;\n  }\n}\n\n// 7. Output\nif (match) {\n  return [{\n    json: {\n      ...match,\n      transcript\n    }\n  }];\n} else {\n  return [{\n    json: {\n      type: 'company_not_found',\n      inputCompany,\n      transcript,\n      candidates_preview: dataSet.slice(0, 10).map(r => r['Company as in Notion'])\n    }\n  }];\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[608,272],"id":"ba28c630-595a-42e6-83fb-4e24ce465722","name":"Code3","executeOnce":true,"onError":"continueErrorOutput"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"title\": \"Coaching Call Analysis Output\",\n  \"description\": \"Schema for structured call analysis agent output from coaching call transcripts\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"company_name\": {\n      \"type\": \"string\",\n      \"description\": \"The name of the company\"\n    },\n    \"host\": {\n      \"type\": \"string\",\n      \"description\": \"Name of the coach or advisor who hosted the call\"\n    },\n    \"summary\": {\n      \"type\": \"string\",\n      \"description\": \"Concise title and one short sentence summarizing key discussion points, primary goals, obstacles, and client-coach alignment. No more than 10 words\"\n    },\n    \"discussion_points\": {\n      \"type\": \"string\",\n      \"description\": \"Structured bullet list of concrete follow-up actions with responsible party and deadlines\"\n    },\n    \"date_of_call\": {\n      \"type\": \"string\",\n      \"pattern\": \"^[A-Za-z]+ \\\\d{1,2}, \\\\d{4}$\",\n      \"description\": \"Date of the call in 'Month Day, YYYY' format (e.g., 'January 15, 2025')\"\n    },\n    \"consulting_health\": {\n      \"type\": \"string\",\n      \"enum\": [\"Green\", \"Yellow\", \"Red\"],\n      \"description\": \"Client implementation status: Green (strong progress), Yellow (partial/stagnation), Red (no implementation/falling behind)\"\n    },\n    \"sentiment\": {\n      \"type\": \"string\",\n      \"enum\": [\"Positive\", \"Uncertain\", \"Unrealistic expectations\", \"Negative\"],\n      \"description\": \"Client buy-in and engagement classification\"\n    },\n    \"link_to_call_recording\": {\n      \"type\": \"string\",\n      \"format\": \"uri\",\n      \"pattern\": \"^https://fathom\\\\.video\",\n      \"description\": \"Direct URL to the call recording from the document (must start with https://fathom.video)\"\n    },\n    \"archetype\": {\n      \"type\": \"string\",\n      \"enum\": [\"Doer\", \"Driver\", \"Worrier\", \"Follower\"],\n      \"description\": \"Client classification: Doer (high self-confidence, low tool confidence), Driver (high both, distrusts advisor), Worrier (low both, overthinks), Follower (low self, high tool confidence)\"\n    },\n    \"red_flags\": {\n      \"type\": \"string\",\n      \"description\": \"Three bullet points of major client blockers with timestamps and negative emotions\"\n    },\n    \"green_lights\": {\n      \"type\": \"string\",\n      \"description\": \"Three bullet points of positive signals with timestamps and positive emotions\"\n    },\n    \"rapport_score\": {\n      \"type\": \"integer\",\n      \"enum\": [1, 3, 5, 7],\n      \"description\": \"Score for how well coach built rapport (warmth, curiosity, mirroring, pacing)\"\n    },\n    \"agenda_score\": {\n      \"type\": \"integer\",\n      \"enum\": [1, 3, 5, 7],\n      \"description\": \"Score for agenda clarity and maintenance during the call\"\n    },\n    \"energy_score\": {\n      \"type\": \"integer\",\n      \"enum\": [1, 3, 5, 7],\n      \"description\": \"Score for coach engagement, presence, and momentum maintenance\"\n    },\n    \"summary_action_score\": {\n      \"type\": \"integer\",\n      \"enum\": [1, 3, 5, 7],\n      \"description\": \"Score for how well next steps were summarized and clarified\"\n    },\n    \"renewal_convo_analysis\": {\n      \"type\": [\"string\"],\n      \"description\": \"Two-paragraph analysis of contract renewal conversation (what worked well and what could improve), or write 'nothing discussed' if not applicable\"\n    },\n    \"action_items\": {\n      \"type\": \"string\",\n      \"description\": \"Bullet list of primary action items from the call\"\n    },\n    \"fathom_summary\": {\n      \"type\": \"string\",\n      \"description\": \"Structured Fathom-style summary with Title, Meeting Purpose, Key Takeaways, Topics, Next Steps, and Action Items\"\n    }\n  },\n  \"required\": [\n    \"company_name\",\n    \"host\",\n    \"summary\",\n    \"discussion_points\",\n    \"date_of_call\",\n    \"consulting_health\",\n    \"sentiment\",\n    \"link_to_call_recording\",\n    \"archetype\",\n    \"red_flags\",\n    \"green_lights\",\n    \"rapport_score\",\n    \"agenda_score\",\n    \"energy_score\",\n    \"summary_action_score\",\n    \"action_items\",\n    \"fathom_summary\"\n  ],\n  \"additionalProperties\": false\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[976,512],"id":"f04b7b78-ccd7-4053-8ab1-74c3932ce946","name":"Structured Output Parser3"},{"parameters":{"promptType":"define","text":"=Return only a valid JSON object, strictly matching the schema. Do not include any markdown, explanations, or extra text.\n\nAnalyze this content: {{ $json.transcript }}","hasOutputParser":true,"options":{"systemMessage":"=##Role and Objective##\n\nYou are a structured call analysis agent. Your job is to extract actionable insights, performance ratings, and psychological assessments from coaching call transcripts. Each output must conform strictly to a defined JSON schema. Your judgments must be supported by explicit evidence from the call.\n\n##Instructions##\n\nAnalyze the entire document thoroughly.\n\nFollow the specific field definitions below. Be exact.\n\nUse concrete call content for all inferences—no speculation.\n\nFormat output as a valid JSON object, conforming to the schema below.\n\nDo not end until all sections are complete, thoroughly supported, and explicitly described.\n\nAssume current year is 2025 unless otherwise stated.\n\n##Field Definitions##\n\n#Company Name#\n\nDefinition: The name of the company.\n\n#Host#\n The name of the advisor. This can be found immediatly after \"Fathom User Email\"\n\n#summary#\n\nDefinition: Provide a concise title and 1 short sentence summarizing the primary discussion point of the call. Focus on primary goals, obstacles, and client-coach alignment. It is not necessary to use complete sentences. Highlight only the most impactful results and topics discussed on the call. Do not use full sentences. The summary cannot be more than 10 words. \n\n#discussion_points#\n\nDefinition: A structured bullet list of concrete follow-up actions mentioned during the call.\n\nEach item must include:\n\nAction item\n\nWho is responsible \n\nDeadline or expected time frame (if mentioned)\n\nUse imperative tone (\"Complete X\", \"Send Y\").\n\n##DateOfCall##\n\nDefinition: Date of the call, in \"Month Day, YYYY\" format.\nYou will receive the format in ISO 8601 format. you must translate that to extrade the date in \"Monday Day, Year\" format. \n\n#consulting_health#\n\nDefinition: Use your best judgment to determine the current progress of their marketing plan, excecution of critical tasks, and weather or not they will achieve the goals they set for themselves. Evaluate the client’s implementation status using these categories:\n\n#Green#: Strong implementation, following direction, making progress, bought into the plan, agrees with the implemenation plan and suggestions from the advisor, confident about the future and the plan moving forward. During the call, the client may be uncertain at the beginning of the call but feels much more confident at the end of the call, mark as green\n\nPhrases/indicators: “You're doing great”, “On track”, “Making great progress”, \"this plan sounds great,\" \"Thank you for your support and help,\" \"we are loving the program,\" \"That makes sense\", \"I like that\", \"back on track\"\n\n#Yellow#: Partial implementation or early signs of stagnation, not in agreement with the plan. \n\nPhrases/indicators: “We need to pick up the pace”, “What's blocking this?”, “This might become an issue”, \"I'm stuck,\" \"I'm confused\"\n\n#Red#: No implementation, not following guidance, falling behind, agressive toward the advisor, negitive sentiment toward lean marketing, not bought into the plan set out by the advisor\n\nPhrases, Indicators: No follow-through, repeated inaction, verbal resistance, \"You're not making progress,\" \"Something isn't working,\" \"Something needs to change\", \"Frustrated,\" \"Falling apart\"\n\n#sentiment#\n\nDefinition: Classify client buy-in and engagement intzzo one of the following:\n\n\"Positive\": Client is coachable, follows through, shows ownership and positivity.\n\n\"Uncertain\": Client is ambiguous, lacks action, seems unsure but not resistant.\n\n\"Unrealistic expectations\": Client is motivated but disconnected from feasible timelines, underestimates effort required.\n\n\"Negative\": Client resists feedback, lacks accountability, expresses pessimism or frustration.\n\nKey rules:\n\nNever classify as Positive if client shows:\n\nPessimism\n\nBlame-shifting\n\nUncoachable or dismissive behavior\n\nNegative emotional volatility\n\nLabel as Uncertain if client:\n\nHesitates or deflects accountability\n\nUses vague or passive language\n\nLabel as Positive if client:\n\nIs upbeat, clear, and aligned with next steps\n\n#LinkToCallRecording#\n\nDefinition: Direct URL link to the full call recording. You will find this in the provided document under the label \"URLs\"\n\nSpecial instructions for recording_link property. NEVER output a made up link. You will find the URL within the provided document. In the link above the URL, you will find a label: \"URLs\". Only output the URL that is directly below that label. The Correct URL will always begin with \"https://fathom.video:\n\narchetype\n\nDefinition: Classify the client into one of four types based on confidence, emotional tone, and behavior:\n\nDoer:\n\nHigh confidence in self\n\nLow confidence in tools\n\nTrusts advisor, shows no arrogance\n\nHigh work ethic, takes direction\n\nDriver:\n\nHigh confidence in self and tools\n\nDistrusts advisor, seeks control\n\nMay show arrogance\n\nFocused obsessively on results\n\nWorrier:\n\nLow self-confidence, low confidence in tools\n\nNo complacency or arrogance\n\nOverthinks\n\nEasily overwhelmed\n\nFollower:\n\nLow self-confidence, high confidence in tools\n\nPassive or complacent\n\nDoesn’t challenge assumptions, seeks reassurance\n\nred_flags\n\nDefinition: Identify 3 major challenges, pain points, or blockers raised by the client.\n\nFormat as bullet points\n\nInclude:\n\nTimestamp (e.g., \"00:17:05\")\n\nDescription of the challenge\n\nOne or more negative emotions detected (e.g., “overwhelm”, “frustration”, “resignation”)\n\n#green_lights#\n\nDefinition: Identify 3 positive signals from the client.\n\nFormat as bullet points\n\nInclude:\n\nTimestamp (e.g., \"00:32:40\")\n\nDescription of the win, clarity, or alignment\n\nOne or more positive emotions (e.g., “enthusiasm”, “relief”, “confidence”)\n\n## RapportScore\n- 1 = No rapport, conversation felt tense or cold, little mutual curiosity or personal sharing.\n- 3 = Below average rapport; coach showed minimal warmth or curiosity, somewhat transactional.\n- 5 = Good connection, moderate warmth and curiosity, shared small personal or business insights.\n- 7 = Excellent rapport, warm, engaged, coach and client laughed or explored personal angles.\n\n## AgendaScore\n- 1 = No agenda set, conversation was unfocused and jumped around.\n- 3 = Coach hinted at general outline but didn’t clearly define steps or priorities.\n- 5 = Clear solid agenda, listed primary topics, revisited goals midway.\n- 7 = Very strong agenda setting — listed all points, got explicit client alignment, and recapped at end.\n\n## EnergyScore\n- 1 = Flat energy, little emotion, call dragged, minimal vocal or emotional engagement.\n- 3 = Below average energy, slightly monotone or hesitant, only brief moments of engagement.\n- 5 = Average healthy energy, steady momentum, moderate enthusiasm and interest.\n- 7 = Very high energy, coach and client sounded excited, enthusiastic, kept momentum high.\n\n## SummaryActionScore\n- 1 = No clear summary or next steps, ended abruptly or with confusion.\n- 3 = Brief or vague mention of next steps, no ownership or dates confirmed.\n- 5 = Reasonably clear summary and next steps, some responsibilities discussed.\n- 7 = Excellent summary — explicit wrap-up, responsibilities, deadlines, and strong close.\n\nBe rigorous. If in doubt, choose the lower score.\n\n#renewal_convo_analysis#\n\nDefinition: If there was a conversation about contract renewal:\n\nDescribe what worked well (e.g., emotional buy-in, clear benefits).\n\nPoint out what could have gone better (e.g., missed timing, hesitations).\n\nStructure as two short paragraphs.\n\n#Reasoning Steps#\n\nIdentify the structure of the call (intro, main body, wrap-up).\n\nLocate each required insight by scanning for key phrases and tone shifts.\n\nUse direct evidence—quotes, timestamps, and tone—to inform each field.\n\nEnsure no field is missed or left vague.\n\nFinalize output in exact JSON format, with values for every field.\n\n#Output Format#\n\nReturn all findings as a valid JSON object with named fields exactly as specified above. If a field is not present in the conversation, use null.\n\n#Context#\n\nThis prompt powers a coaching call intelligence agent. Its job is to help human reviewers understand client mindset, follow-through, and risks. The agent must output structured, deeply grounded analysis from unstructured call transcripts.\n\n#action_items#\nDefinition: bullet list of primary action items from the call\n\n#fathom_summary#\n\nDefinition: Provide a structured, concise summary suitable for a Fathom-style call overview.\n\nInclude the following components:\n\nTitle: Format as \"Call Name - Date\"\n\nMeeting Purpose: One sentence summarizing the purpose of the call\n\nKey Takeaways: Bullet list of the most important insights and conclusions from the call\n\nTopics: Bullet list of main topics discussed\n\nNext Steps: Bullet list of clear steps attendees should take\n\nAction Items: Bullet list of immediate tasks to be completed by attendees\n\n#Final instructions and prompt to think step by step#\n\nFirst, think carefully step by step:\n\nParse the call structure (opening → discussion → closing).\n\nIdentify discussion points, red/green flags, tone shifts, and sentiment indicators.\n\nMatch insights to the correct fields above.\n\nPopulate each field using the definitions and behavioral criteria.\n\nReturn only a valid JSON object, strictly matching the schema. Do not include any markdown, explanations, or extra text.\n\nDo not stop or yield until all outputs are clearly populated and evidence-based.\n\n","passthroughBinaryImages":false}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[816,288],"id":"6f562345-1164-4817-8dc9-24458cbd6034","name":"AI Agent","executeOnce":true,"retryOnFail":true},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[848,512],"id":"3bb04de1-2fdc-4a90-a920-00b984c81d42","name":"OpenAI Chat Model6","credentials":{"openAiApi":{"id":"5Ods8kFLAhbAPcNj","name":"OpenAi account 2"}}},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"19640ee4-a8af-802e-bc8f-cbb117d92c53","mode":"list","cachedResultName":"Client Status Updates","cachedResultUrl":"https://www.notion.so/19640ee4a8af802ebc8fcbb117d92c53"},"title":"title","propertiesUi":{"propertyValues":[{"key":"Summary|title","title":"={{ $('AI Agent').item.json.output.summary }}"},{"key":"Date|date","includeTime":false,"date":"={{ $json.output.date_of_call }}","timezone":"Australia/West"},{"key":"Client Health|select","selectValue":"={{ $json.output.consulting_health }}"},{"key":"Sentiment|select","selectValue":"={{ $('AI Agent').item.json.output.sentiment }}"},{"key":"Link to Call Recording|url","urlValue":"={{ $json.output.link_to_call_recording }}"},{"key":"Archetype|select","selectValue":"={{ $('AI Agent').item.json.output.archetype }}"},{"key":"Red Flags|rich_text","textContent":"={{ $('AI Agent').item.json.output.red_flags }}"},{"key":"Green Lights|rich_text","textContent":"={{ $('AI Agent').item.json.output.green_lights }}"},{"key":"Client|relation","relationValue":["={{ $('Code3').item.json['Notion ID'] }}"]},{"key":"Client Name|rich_text","richText":"={{ false }}","textContent":"={{ $('Code3').item.json['Company as in Notion'] }}"},{"key":"Agenda Score|number","numberValue":"={{ $json.output.agenda_score }}"},{"key":"Action Items|rich_text","textContent":"={{ $('AI Agent').item.json.output.action_items }}"},{"key":"Agenda Score|number","numberValue":"={{ $json.output.agenda_score }}"},{"key":"Energy Score|number","numberValue":"={{ $json.output.energy_score }}"},{"key":"Rapport Score|number","numberValue":"={{ $json.output.rapport_score }}"},{"key":"Summary & Action Score|number","numberValue":"={{ $json.output.summary_action_score }}"},{"key":"Host|rich_text","textContent":"={{ $json.output.host }}"}]},"blockUi":{"blockValues":[{"richText":true,"text":{"text":[{"text":"={{ $('AI Agent').item.json.output.fathom_summary }}","annotationUi":{}}]}},{"richText":true,"text":{"text":[{"text":"=*RENEWAL CONVO ANALYSIS*\n{{ $json.output.renewal_convo_analysis }}","annotationUi":{"bold":false,"color":"orange"}}]}}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1216,288],"id":"c103955c-03ce-4ea4-aedf-555931f4e89b","name":"Create a database page2","credentials":{"notionApi":{"id":"l2nKJRGnfu2CHdp9","name":"Notion account"}}}],"connections":{"On form submission1":{"main":[[{"node":"Reads Slack Google Sheet2","type":"main","index":0},{"node":"Merge1","type":"main","index":1}]]},"Reads Slack Google Sheet2":{"main":[[{"node":"Aggregate2","type":"main","index":0}]]},"Aggregate2":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Structured Output Parser3":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model6":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Code3":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Create a database page2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5a123e84-4531-4e0e-ac30-7745a0665a61","triggerCount":1,"shared":[{"createdAt":"2025-08-04T15:26:59.282Z","updatedAt":"2025-08-04T15:26:59.282Z","role":"workflow:owner","workflowId":"sOWxd6CnDsaviI0W","projectId":"oeHwV8sNrbPNhUov"}],"tags":[]}