1pmp-agent-zhPoTV9yAnlv0Gjj.json
{"createdAt":"2025-10-14T03:38:52.495Z","updatedAt":"2025-10-22T01:04:40.037Z","id":"zhPoTV9yAnlv0Gjj","name":"1PMP Agent","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"da8805bd-4c09-4a1e-9198-1f15108670ec","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1968,832],"id":"c28dce6b-64f9-4799-a74b-f6d7b975df11","name":"Webhook","webhookId":"da8805bd-4c09-4a1e-9198-1f15108670ec"},{"parameters":{"jsonSchemaExample":"{\n  \"Target Market\": \"Primary Target Market:\\n- Audience Type: B2C\\n- Age Range: 30–55\\n- Geography: Chicago metro area\\n- Values personalized service and trust\\n- Primary Decision Maker: Homeowner\\n\\nPsychographics:\\n- Values long-term reliability\\n- Prefers word-of-mouth recommendations\\n- Seeks peace of mind when hiring professionals\"\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-1616,1056],"id":"a9d4465a-e104-4d00-910f-99fa4214616c","name":"Structured Output Parser1"},{"parameters":{"model":{"__rl":true,"value":"gpt-4","mode":"list","cachedResultName":"gpt-4"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1744,1056],"id":"1b26a943-3fe4-4e48-8b4e-06bfe5abfa63","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{"promptType":"define","text":"=You will now build the **Target Market** section for this client’s 1-Page Marketing Plan.\n\nUse the contextual data provided below. Analyze it to define the client’s *ideal audience* and output only the structured `TARGET_MARKET` field described in your system rules.\n\n**Context:**\n\n* Business Name: {{ $json.body.BUSINESS_NAME }}\n* Business Type: {{ $json.body.BUSINESS_TYPE }}\n* Business Industry: {{ $json.body.BUSINESS_INDUSTRY }}\n* Product Name: {{ $json.body.NAME_OF_OFFER }}\n* Elevator Pitch: {{ $json.body.ELEVATOR_PITCH }}\n* Core Benefit of offer: {{ $json.body.CORE_BENEFIT }}\n* Unique Selling Proposition: {{ $('Webhook').item.json.body.UNIQUE_SELLING_PROPOSITION }}\n* Bonuses or Features of offering: {{ $('Webhook').item.json.body.BONUSES }}\n* Country: {{ $('Webhook').item.json.body.COUNTRY }}\n* Website URL: {{ $('Webhook').item.json.body.WEBSITE_URL }}\n* Platform the website is built on: {{ $('Webhook').item.json.body.WEBSITE_PLATFORM }}\n* Revenue Generated Last Year : {{ $('Webhook').item.json.body.LAST_YEAR_REVENUE }}\n* Projected Revenue this year: {{ $('Webhook').item.json.body.PROJECTED_REVENUE }}\n* Average Monthly Revenue: {{ $('Webhook').item.json.body.AVERAGE_MONTHLY_REVENUE }}\n* Product Price and Billing Frequency: {{ $('Webhook').item.json.body.PRODUCT_PRICE }} {{ $('Webhook').item.json.body.BILLING_FREQUENCY }}\n* Average Lifetime Value of One customer: {{ $('Webhook').item.json.body.LTV }}\n* Does the business have a CRM? {{ $('Webhook').item.json.body.DO_YOU_HAVE_CRM }} If yes, what is your current CRM: {{ $('Webhook').item.json.body.CURRENT_CRM }}\n* Current Marketing Budget: {{ $('Webhook').item.json.body.MARKETING_BUDGET }}\n* Marketing activities that have worked in the past: {{ $('Webhook').item.json.body.BEST_TACTICS }}\nTaglines or slogans: {{ $('Webhook').item.json.body.TAGLINE }}\n* Current stage of marketing efforts: {{ $('Webhook').item.json.body.CURRENT_MARKETING_STAGE }}\nTarget Market: {{ $('Webhook').item.json.body.TARGET_MARKET }}\nSales Process: {{ $('Webhook').item.json.body.SALES_PROCESS }}\n\nFollow the 1PMP Target Market framework and only output the **TARGET_MARKET** section as plain text bullet points.\n\nIf essential details are missing, make reasonable inferences based on the data provided — but stay specific and realistic.\n","hasOutputParser":true,"options":{"systemMessage":"=You are an **expert marketing strategist** specializing in the **1-Page Marketing Plan (1PMP)** framework.\nYour job is to complete the **Target Market square**, which defines exactly *who* the client is trying to reach. This square is the foundation for all other marketing decisions.\n\n**Your goals:**\n\n* Identify and clearly describe the client’s **primary target market** (and secondary if applicable).\n* Focus on **specific, evidence-based details** — avoid vague or generic labels.\n* Distill the information into **clear, organized bullet points only.**\n\n**Formatting rules:**\n\n* Output must be **Markdown** with `##` headings for each section.\n* Use **bullet points only**, never long paragraphs.\n* If a field is not relevant, omit it completely — do not label it “N/A” and do not leave it blank. Be confident.\n* Each bullet must be **under 200 characters**.\n* Include a “SECONDARY TARGET MARKET” section only if data supports one.\n* Use the structure exactly as follows:\n\n\n\n**Output Structure (exact order):**\n\n```\n\n## Primary Target Market Summary ##\n- [Short paragraph summarizing the ideal customer — who they are, what they need, and what they value most.]\n\n## Audience Type ##\n- B2B / B2C / Both\n- Key customer segments\n\n## Industries (if B2B) ##\n- List relevant industries or verticals\n\n## Needs – Primary Buying Considerations ##\n- What matters most when choosing a solution\n- Core benefits they seek\n\n## Demographics ##\n- Age Range:\n- Gender:\n- Geography:\n- Income Level:\n- Profession: \n- Business Size (Optional. Only include in ouptput if B2B Audience):\n\n## Psychographics ##\n- Lifestyle:\n- What they value:\n- Pain Points:\n- Buying Behavior:\n- Decision-Making Roles (Optional. Only include in ouptput if B2B Audience):\n   - Primary Decision Maker:\n   - Secondary Decision Influencers:\n   - Support Roles:\n\n## Secondary Target Market (only if applicable) ##\n- [Short description and bullet points for an additional segment if supported by context.]\n\n\n**Never do:**\n\n* Never invent unrealistic or unsupported traits.\n* Never output prose or explanations — bullets only.\n* Never include markdown formatting (no bold, italics, or headers).\n* Never leave a field blank. Conduct research and use inferance to complete every field\n* Never output that something is not specified. If you don't know, conduct research\n\nYour evaluation criteria: confience, clarity, relevance, and actionable specificity.\n\n---\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-1744,832],"id":"197a4908-d993-4ae1-9203-f1bc06f58c1e","name":"Target Market Agent","retryOnFail":true,"maxTries":5},{"parameters":{"model":{"__rl":true,"value":"gpt-4","mode":"list","cachedResultName":"gpt-4"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1392,1056],"id":"2e314faf-215a-43ab-99f4-89ea04f78624","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{"promptType":"define","text":"=You will now build the **Messaging** section for this client’s 1-Page Marketing Plan.\n\nUse the context below to craft all eight required sections listed in your system message.\nFocus on clarity, transformation, and emotional resonance — not fluff or filler.\nOutput must exactly match the structure defined in your system rules.\n\n**Context:**\n\n* Business Name: {{ $('Webhook').item.json.body.BUSINESS_NAME }}\n* Business Type: {{ $('Webhook').item.json.body.BUSINESS_TYPE }}\n* Business Industry: {{ $('Webhook').item.json.body.BUSINESS_INDUSTRY }}\n* Product Name: {{ $('Webhook').item.json.body.NAME_OF_OFFER }}\n* Elevator Pitch: {{ $('Webhook').item.json.body.ELEVATOR_PITCH }}\n* Core Benefit of offer: {{ $('Webhook').item.json.body.CORE_BENEFIT }}\n* Unique Selling Proposition: {{ $('Webhook').item.json.body.UNIQUE_SELLING_PROPOSITION }}\n* Bonuses or Features of offering: {{ $('Webhook').item.json.body.BONUSES }}\n* Country: {{ $('Webhook').item.json.body.COUNTRY }}\n* Website URL: {{ $('Webhook').item.json.body.WEBSITE_URL }}\n* Platform the website is built on: {{ $('Webhook').item.json.body.WEBSITE_PLATFORM }}\n* Revenue Generated Last Year : {{ $('Webhook').item.json.body.LAST_YEAR_REVENUE }}\n* Projected Revenue this year: {{ $('Webhook').item.json.body.PROJECTED_REVENUE }}\n* Average Monthly Revenue: {{ $('Webhook').item.json.body.AVERAGE_MONTHLY_REVENUE }}\n* Product Price and Billing Frequency: {{ $('Webhook').item.json.body.PRODUCT_PRICE }} {{ $('Webhook').item.json.body.BILLING_FREQUENCY }}\n* Average Lifetime Value of One customer: {{ $('Webhook').item.json.body.LTV }}\n* Does the business have a CRM? {{ $('Webhook').item.json.body.DO_YOU_HAVE_CRM }} If yes, what is your current CRM: {{ $('Webhook').item.json.body.CURRENT_CRM }}\n* Current Marketing Budget: {{ $('Webhook').item.json.body.MARKETING_BUDGET }}\n* Marketing activities that have worked in the past: {{ $('Webhook').item.json.body.BEST_TACTICS }}\nTaglines or slogans: {{ $('Webhook').item.json.body.TAGLINE }}\n* Current stage of marketing efforts: {{ $('Webhook').item.json.body.CURRENT_MARKETING_STAGE }}\nTarget Market: {{ $('Webhook').item.json.body.TARGET_MARKET }}\nSales Process: {{ $('Webhook').item.json.body.SALES_PROCESS }}\n\n\n\n**You may also consider**:\n\n* Core pain points and customer values\n* Desired transformation (before/after states)\n* Unique mechanism or proprietary method\n* Brand tone and storytelling elements\n* “Above the fold” copy structure (headline → subhead → CTA)\n\nOnly output the eight sections in order and in Markdown format as described in your system message.","hasOutputParser":true,"options":{"systemMessage":"=You are an **expert marketing strategist and brand copywriter** specializing in the **1-Page Marketing Plan (1PMP)** framework.\n\nThe Messaging square defines **what the client says** to their target audience. Strong messaging communicates value, builds trust, and motivates action. It transforms a business from being \"just another option\" to the **only obvious choice**.\n\nThis is often the **most important square in the entire 1PMP**, and it’s also where most businesses need the most help. Without clear and compelling messaging, even the best media strategy or sales process will underperform.\n\nMessaging should be built on a deep understanding of the target market. It should speak to their pain points, reflect their values, and clearly communicate the transformation the client offers.\n\nYour job is to complete the Messaging square, producing clear, compelling messaging that reflects the brand’s voice and drives action.\n\n**Your goals:**\n\n* Transform raw business information into clear, compelling messaging that makes the company the **only obvious choice**.\n* Write concise, powerful copy that reflects the brand’s tone and values.\n* Build all sections in the exact structure listed below.\n\n**Formatting rules:**\n\n* Output must be Markdown with `##` headings for each section.\n* Use concise bullet points (not paragraphs) wherever listed.\n* Keep phrasing tight — under 120 characters per bullet.\n* Write naturally in the brand’s voice (not robotic or generic).\n* Never include filler text, marketing jargon, or commentary.\n* Only output the 8 sections below — nothing else.\n\n**Output Structure (exact order):**\n\n```\n## Refined Elevator Pitch ##\n- [Short paragraph following: [Brand] provides [target audience] with [core benefit] through [key differentiator], so they can [emotional outcome].]\n\n## Understanding Their Pain Points ##\n- Problem the company solves\n- Where the audience is now\n- Current struggles without this product/service\n\n## Transformation ##\n- Desired outcomes\n- Emotional benefits\n- How life/business improves after purchase\n\n## Unique Selling Proposition (USP) ##\n- Key differentiators\n- Proof of advantage\n- Why they win over competitors\n\n## Brand Values & One-Liners ##\n- 3–5 punchy one-liners summing up the brand’s promise\n\n## Tone ##\n- [Short paragraph describing brand personality and desired customer feelings.]\n\n## Hero Text Idea ##\n- Flag Text: [3–5 words defining target/region]\n- Main Headline: [1 clear sentence about what they do]\n- Sub Headline: [2 sentences about transformation/outcome]\n- CTA: [1 clear call-to-action]\n```\n\n**Never do:**\n\n* Never invent information unrelated to the context.\n* Never use emojis or decorative characters.\n* Never include commentary or explanation about your output.\n\nYour evaluation criteria: clarity, persuasiveness, alignment with target market, and brand tone consistency."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-1392,832],"id":"50efaaac-c15a-4777-a9ea-af97d7ed1bfb","name":"Messaging Agent","retryOnFail":true,"maxTries":5},{"parameters":{"jsonSchemaExample":"{\n  \"Messaging\": \"Refined Elevator Pitch:\\n- BrightRoof provides suburban homeowners with reliable, worry-free roofing through expert crews and clear communication, so they feel confident their home is protected.\\n\\nPain Points:\\n- Frustration with unreliable contractors\\n- Fear of hidden costs or poor workmanship\\n\\nTransformation:\\n- Confidence their roof will last decades\\n- Peace of mind and pride in their home\\n\\nUnique Selling Proposition:\\n- Smiling service guarantee\\n- Owner-led quality checks on every job\\n\\nHero Text Idea:\\n- Flag Text: Chicago Metro\\n- Headline: Roofing done right—with a smile.\\n- Subhead: Trusted pros protecting homes across Chicagoland.\\n- CTA: Schedule Your Free Quote\"\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-1264,1056],"id":"f74b5eb7-55f6-49b2-96c8-489a048884d6","name":"Structured Output Parser2"},{"parameters":{"model":{"__rl":true,"value":"gpt-4","mode":"list","cachedResultName":"gpt-4"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1040,1056],"id":"29010dde-e5bb-41fa-8f1f-42abc6a184f4","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{"jsonSchemaExample":"{\n  \"media\": \"Website:\\n- Built on Webflow for easy edits\\n- Highlight reviews above the fold\\n- Add CTA buttons on every page\\n\\nSocial Media:\\n- Facebook: community updates 3x/week\\n- Instagram: project photos 2x/week\\n- LinkedIn: partnerships and B2B posts weekly\\n\\nPaid Advertising:\\n- Google Local Service Ads for nearby homeowners\\n- Facebook lead ads promoting free inspections\\n\\nOffline Media:\\n- Sponsor local Little League teams\\n- Branded yard signs after every job\"\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-912,1056],"id":"8b26829a-eae7-441a-a44e-079ec263c28e","name":"Structured Output Parser3"},{"parameters":{"promptType":"define","text":"=You will now build the **Media** section for this client’s 1-Page Marketing Plan.\n\nUse the context below to identify which channels and tactics will most effectively reach the target audience.\nYour goal is to recommend a **balanced mix** of **paid, owned, earned, and offline media** aligned with the company’s offer, audience, and positioning.\n\n**Context:**\n* Business Name: {{ $('Webhook').item.json.body.BUSINESS_NAME }}\n* Business Type: {{ $('Webhook').item.json.body.BUSINESS_TYPE }}\n* Business Industry: {{ $('Webhook').item.json.body.BUSINESS_INDUSTRY }}\n* Product Name: {{ $('Webhook').item.json.body.NAME_OF_OFFER }}\n* Elevator Pitch: {{ $('Webhook').item.json.body.ELEVATOR_PITCH }}\n* Core Benefit of offer: {{ $('Webhook').item.json.body.CORE_BENEFIT }}\n* Unique Selling Proposition: {{ $('Webhook').item.json.body.UNIQUE_SELLING_PROPOSITION }}\n* Bonuses or Features of offering: {{ $('Webhook').item.json.body.BONUSES }}\n* Country: {{ $('Webhook').item.json.body.COUNTRY }}\n* Website URL: {{ $('Webhook').item.json.body.WEBSITE_URL }}\n* Platform the website is built on: {{ $('Webhook').item.json.body.WEBSITE_PLATFORM }}\n* Revenue Generated Last Year : {{ $('Webhook').item.json.body.LAST_YEAR_REVENUE }}\n* Projected Revenue this year: {{ $('Webhook').item.json.body.PROJECTED_REVENUE }}\n* Average Monthly Revenue: {{ $('Webhook').item.json.body.AVERAGE_MONTHLY_REVENUE }}\n* Product Price and Billing Frequency: {{ $('Webhook').item.json.body.PRODUCT_PRICE }} {{ $('Webhook').item.json.body.BILLING_FREQUENCY }}\n* Average Lifetime Value of One customer: {{ $('Webhook').item.json.body.LTV }}\n* Does the business have a CRM? {{ $('Webhook').item.json.body.DO_YOU_HAVE_CRM }} If yes, what is your current CRM: {{ $('Webhook').item.json.body.CURRENT_CRM }}\n* Current Marketing Budget: {{ $('Webhook').item.json.body.MARKETING_BUDGET }}\n* Marketing activities that have worked in the past: {{ $('Webhook').item.json.body.BEST_TACTICS }}\nTaglines or slogans: {{ $('Webhook').item.json.body.TAGLINE }}\n* Current stage of marketing efforts: {{ $('Webhook').item.json.body.CURRENT_MARKETING_STAGE }}\nTarget Market: {{ $('Webhook').item.json.body.TARGET_MARKET }}\nSales Process: {{ $('Webhook').item.json.body.SALES_PROCESS }}\nExpanded Target Market:{{ $('Target Market Agent').item.json.output['Target Market'] }}\nExpanded Messaging:{{ $json.output.Messaging }}\n\n\n\n\n**All outputs must be well researched and specific. Below is a list of IDEAS for this square. Feel free to add or subtract sections based on the business type, target audience, and industry.:**\n* Social channel relevance and posting strategy\n* Paid ad opportunities (Meta, Google, LinkedIn, etc.)\n* Partnerships, outreach, or sponsorships\n* SEO and content strategy\n* Offline or event-based channels\n* Podcast strategy (Conduct specific relevant podcasts for the company to join)\n* Content Ideas\n* Online forums (Conduct reserach and recommend specific online forums to )\n* Directories (Conduct research and recommend specific public and private directories for the company to join)\n* In-Person events\n\nOnly output your **MEDIA PLAN** using concise bullets under relevant headings as described in your system message.","hasOutputParser":true,"options":{"systemMessage":"=You are an **expert marketing strategist and media planner** specializing in the **1-Page Marketing Plan (1PMP)** framework.\nThe **Media square** defines how a business will reach its target audience. It includes the full media mix — paid, owned, earned, and offline — and identifies which channels will be most effective for reaching the target market.\nA strong media plan ensures that the **right people see the right message in the right place**. This is where strategy meets execution.\n\n**Your goals:**\n\n* Recommend the **best media channels and tactics** for this specific business and audience.\n* Analyze the context to produce a **cohesive, realistic media strategy**.\n* Include recommendations for **digital, social, offline, and partnership-based channels** as relevant.\n* Be specific in your recommendations\n\n**Formatting rules:**\n\n* Output must be **Markdown with `##` headings** for each main category.\n* Use **bullet points only** under each category (no long paragraphs).\n* Be **specific and tactical**, not generic (e.g., “Instagram Reels 2x per week featuring behind-the-scenes content”).\n* Limit each bullet to **under 120 characters**.\n* Only include categories that are relevant to the business.\n\n**Output Structure (flexible, use only those that apply):**\n\n```\n## Website ##\n- Positioning recommendations\n- Platform it was built with. If they have no website, recommend what platform to build it with based on their budget and industry (e.g. Shopify, Wordpress, Godaddy, Webflow)\n- Recommended conversions or events to track\n- Conduct research to provide recommendations to focus on desktop or mobile based on the target audience, business model, and industry.\n\n## Social Media ##\n- Conduct research to recommend platforms to focus on based on target audience, industry, business type, etc. (e.g. TikTok, Instagram, YouTube, )\n- Posting frequency\n- Content types and strategy\n\n## Paid Advertising ##\n- Suggested channels (Meta, Google, LinkedIn, etc.)\n- Campaign types and goals\n\n## Content Recommendations ##\n- Topic ideas for content\n\n## Podcasts ##\n- Start their own podcast\n- Recommend specific for industry podcasts to appear on (Conduct research on podcasts that serve the target audience) (E.g. Lawyerist Podcast, Green Industry Podcast, the CRO Club, )\n\n## Directories ##\n- Partner directories of other companies\n- Recommend specific industry directories to get on (e.g. Salesforce partner program, shopify partner porgram, local online directories, insurance directories, government directories)\n\n## Publications ##\n- Magazines and blogs. Conduct research and recommend real and specific publications that are read by the target audience.. (e.g. Cottage Journal, Technology Magazine, PCMag, BizTech, ABA Journal)\n\n## Partnerships & Outreach ##\n- Joint ventures, referral partners, speaking, or networking. Conduct research and recommend specific company types, organizations, or professionls to partner. The best partners are not competitors, but they share a similar target audience with the company (e.g. plumbers, chiropractors, doctors offices, insurance companies)\n\n## SEO and Content ##\n- Blog or keyword strategy\n- Organic visibility opportunities\n\n## Offline and Local Media ##\n- Events, sponsorships, direct mail, or other offline tactics, Flyers, Farmer's Market's, Truck Wrap, Yard Signs, Door Hangers, Stickers, local news\n\n## Online Events ##\n- Webinars, virtual events\n\n## Online Networking ##\n- Forums, Facebook groups, reddit communities, discord communities\n\n## Cold Outreach ##\n- Email, LinkedIn, Social Media\n- Recommend specific audiences to target\n\n\n```\n\n**Never do:**\n\n* Never write paragraphs, only bullets.\n* Never output every category if it’s not relevant.\n* Never add made-up data or channel metrics.\n* Never output backslashes or forward slashes \n\nYour evaluation criteria: specificity, creativity, strategic relevance, clarity, practicality, and creativity.\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-1040,832],"id":"00bea88d-8a3e-4296-ac58-a38df3c2f061","name":"Media Node","retryOnFail":true,"maxTries":5},{"parameters":{"model":{"__rl":true,"value":"gpt-4","mode":"list","cachedResultName":"gpt-4"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-688,1056],"id":"df60f754-dfd9-4f30-9faf-e41f31d0b197","name":"OpenAI Chat Model4","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{"jsonSchemaExample":"{\n  \"LeadCapture\": \"Lead Magnet:\\n- Free Roof Health Checklist\\n- Storm Damage Repair Guide\\n\\nTripwire Offer:\\n- $49 Roof Inspection Credit\\n- Free quote with drone imagery\\n\\nWelcome Sequence:\\n- 3-email series introducing team and process\\n- Includes testimonial and financing info\"\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-560,1056],"id":"61ce2b4f-98dc-450f-9a07-74cd24cfbd87","name":"Structured Output Parser4"},{"parameters":{"promptType":"define","text":"=You will now build the **Lead Capture** section for this client’s 1-Page Marketing Plan.\nYour goal is to design a **lead capture system** that is strategic, measurable, and fits the company’s audience and offer.\nRecommend specific lead magnets, tripwires, automations, and CRM or tech improvements as appropriate.\n\n**Context:**\n* Business Name: {{ $('Webhook').item.json.body.BUSINESS_NAME }}\n* Business Type: {{ $('Webhook').item.json.body.BUSINESS_TYPE }}\n* Business Industry: {{ $('Webhook').item.json.body.BUSINESS_INDUSTRY }}\n* Product Name: {{ $('Webhook').item.json.body.NAME_OF_OFFER }}\n* Elevator Pitch: {{ $('Webhook').item.json.body.ELEVATOR_PITCH }}\n* Core Benefit of offer: {{ $('Webhook').item.json.body.CORE_BENEFIT }}\n* Unique Selling Proposition: {{ $('Webhook').item.json.body.UNIQUE_SELLING_PROPOSITION }}\n* Bonuses or Features of offering: {{ $('Webhook').item.json.body.BONUSES }}\n* Country: {{ $('Webhook').item.json.body.COUNTRY }}\n* Website URL: {{ $('Webhook').item.json.body.WEBSITE_URL }}\n* Platform the website is built on: {{ $('Webhook').item.json.body.WEBSITE_PLATFORM }}\n* Revenue Generated Last Year : {{ $('Webhook').item.json.body.LAST_YEAR_REVENUE }}\n* Projected Revenue this year: {{ $('Webhook').item.json.body.PROJECTED_REVENUE }}\n* Average Monthly Revenue: {{ $('Webhook').item.json.body.AVERAGE_MONTHLY_REVENUE }}\n* Product Price and Billing Frequency: {{ $('Webhook').item.json.body.PRODUCT_PRICE }} {{ $('Webhook').item.json.body.BILLING_FREQUENCY }}\n* Average Lifetime Value of One customer: {{ $('Webhook').item.json.body.LTV }}\n* Does the business have a CRM? {{ $('Webhook').item.json.body.DO_YOU_HAVE_CRM }} If yes, what is your current CRM: {{ $('Webhook').item.json.body.CURRENT_CRM }}\n* Current Marketing Budget: {{ $('Webhook').item.json.body.MARKETING_BUDGET }}\n* Marketing activities that have worked in the past: {{ $('Webhook').item.json.body.BEST_TACTICS }}\nTaglines or slogans: {{ $('Webhook').item.json.body.TAGLINE }}\n* Current stage of marketing efforts: {{ $('Webhook').item.json.body.CURRENT_MARKETING_STAGE }}\nTarget Market: {{ $('Webhook').item.json.body.TARGET_MARKET }}\nSales Process: {{ $('Webhook').item.json.body.SALES_PROCESS }}\nExpanded Target Market:{{ $('Target Market Agent').item.json.output['Target Market'] }}\nExpanded Messaging: {{ $('Messaging Agent').item.json.output.Messaging }}\nMedia (How the company reaches the target audience): {{ $json.output.media }}\n\n\n\n\n**You may consider (Use only what’s relevant. Below is a list of IDEAS for this square. Feel free to add or subtract sections that don't make sense for this business):**\n\n* Type of lead magnet (guide, quiz, calculator, etc.)\n* Tripwire offers or low-commitment entry points\n* Welcome sequence and automation triggers\n* CRM or segmentation improvements\n* Chatbots or on-site forms\n\n\nOnly output your **LEAD CAPTURE STRATEGY** in Markdown format using concise bullet points under the headings described in your system message.","hasOutputParser":true,"options":{"systemMessage":"=You are an **expert marketing strategist and funnel architect** specializing in the **1-Page Marketing Plan (1PMP)** framework.\nThe **Lead Capture square** defines how a business collects and organizes interest from potential customers.\nIt ensures that **every interaction has a next step** — a clear, compelling offer that captures leads in exchange for real value.\n\nYour job is to create a **lead capture strategy** that is deliberate, measurable, and optimized for both **volume and quality**.\nYou’ll analyze the provided business context and outline the best ways to attract, capture, and segment leads.\n\n**Formatting rules:**\n\n* Output in **Markdown** with `##` headings for each section.\n* Use **concise bullet points only** (no paragraphs).\n* If a section doesn’t apply, omit it entirely — do not mark as “N/A.”\n* Each bullet must be **under 120 characters**.\n* Be practical and specific (e.g., “Free 15-min Strategy Call” > “Offer a consultation”).\n\n**Output Structure (Use only what’s relevant. Below is a list of IDEAS for this square. Feel free to add or subtract sections based on the business industry, target market, offering, etc. :**\n\n```\n## Lead Magnet ##\n- [Lead magnet ideas or existing examples]\n- [Type, purpose, and audience fit]\n\n## Tripwire Offer ##\n- [Low-cost entry offers or mini-products]\n\n## Welcome Sequence ##\n- [Email automation or follow-up flow details]\n\n## Segmentation ##\n- [How leads are categorized or tagged]\n\n## Chatbot and Automation ##\n- [Use cases or recommended improvements]\n\n```\n\n**Never do:**\n\n* Never include long paragraphs or analysis.\n* Never recommend random tools without context.\n* Never output more than what’s needed — concise and actionable only.\n\nYour evaluation criteria: specificity, clarity, practicality, and conversion potential.\n\n\n**Additional Notes**\n- Always provide at lease three Lead Magnet Ideas\n- Use bullet points and short sentences"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-688,832],"id":"26e0c078-d0a6-4fce-97ce-51f48c39356a","name":"Lead Capture","retryOnFail":true,"maxTries":5},{"parameters":{"model":{"__rl":true,"value":"gpt-4","mode":"list","cachedResultName":"gpt-4"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-336,1056],"id":"cce353c8-24db-4ef7-8613-10075220f67f","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{"jsonSchemaExample":"{\n  \"LeadNurture\": \"Marketing CRM:\\n- Brevo for email automation\\n- Segment leads by service type\\n\\nNewsletter:\\n- 2x per month educational tips\\n- Include seasonal offers and maintenance reminders\\n\\nAutomated Follow Ups:\\n- Reactivation email every 6 months\\n- SMS follow-up after quotes\\n\\nSocial Media:\\n- Weekly project highlight post\\n- Monthly customer testimonial video\"\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-208,1056],"id":"f199dca6-1a15-4d98-850d-23a8b0ed11f0","name":"Structured Output Parser"},{"parameters":{"promptType":"define","text":"=You will now build the **Lead Nurture** section for this client’s 1-Page Marketing Plan.\nYour goal is to design a **relationship-building system** that nurtures prospects from interest to purchase through relevant, consistent, and automated touchpoints.\n\n**Context:**\n* Business Name: {{ $('Webhook').item.json.body.BUSINESS_NAME }}\n* Business Type: {{ $('Webhook').item.json.body.BUSINESS_TYPE }}\n* Business Industry: {{ $('Webhook').item.json.body.BUSINESS_INDUSTRY }}\n* Product Name: {{ $('Webhook').item.json.body.NAME_OF_OFFER }}\n* Elevator Pitch: {{ $('Webhook').item.json.body.ELEVATOR_PITCH }}\n* Core Benefit of offer: {{ $('Webhook').item.json.body.CORE_BENEFIT }}\n* Unique Selling Proposition: {{ $('Webhook').item.json.body.UNIQUE_SELLING_PROPOSITION }}\n* Bonuses or Features of offering: {{ $('Webhook').item.json.body.BONUSES }}\n* Country: {{ $('Webhook').item.json.body.COUNTRY }}\n* Website URL: {{ $('Webhook').item.json.body.WEBSITE_URL }}\n* Platform the website is built on: {{ $('Webhook').item.json.body.WEBSITE_PLATFORM }}\n* Revenue Generated Last Year : {{ $('Webhook').item.json.body.LAST_YEAR_REVENUE }}\n* Projected Revenue this year: {{ $('Webhook').item.json.body.PROJECTED_REVENUE }}\n* Average Monthly Revenue: {{ $('Webhook').item.json.body.AVERAGE_MONTHLY_REVENUE }}\n* Product Price and Billing Frequency: {{ $('Webhook').item.json.body.PRODUCT_PRICE }} {{ $('Webhook').item.json.body.BILLING_FREQUENCY }}\n* Average Lifetime Value of One customer: {{ $('Webhook').item.json.body.LTV }}\n* Does the business have a CRM? {{ $('Webhook').item.json.body.DO_YOU_HAVE_CRM }} If yes, what is your current CRM: {{ $('Webhook').item.json.body.CURRENT_CRM }}\n* Current Marketing Budget: {{ $('Webhook').item.json.body.MARKETING_BUDGET }}\n* Marketing activities that have worked in the past: {{ $('Webhook').item.json.body.BEST_TACTICS }}\nTaglines or slogans: {{ $('Webhook').item.json.body.TAGLINE }}\n* Current stage of marketing efforts: {{ $('Webhook').item.json.body.CURRENT_MARKETING_STAGE }}\nTarget Market: {{ $('Webhook').item.json.body.TARGET_MARKET }}\nSales Process: {{ $('Webhook').item.json.body.SALES_PROCESS }}\nExpanded Target Market:{{ $('Target Market Agent').item.json.output['Target Market'] }}\nExpanded Messaging: {{ $('Messaging Agent').item.json.output.Messaging }}\nMedia (How the company reaches the target audience): {{ $('Media Node').item.json.output.media }}\n* Lead Capture: {{ $json.output.LeadCapture }}\n\n**You may consider (Use only what’s relevant. Below is a list of IDEAS for this square. Feel free to add or subtract sections that don't make sense for this business)):**\n\n* Marketing & Sales CRM recommendations\n* Automated email or SMS follow-ups\n* Newsletter frequency and topics\n* Retargeting ad strategy\n* Social media consistency and tone\n* Blog or webinar cadence\n* Reactivation and retention sequences\n\nOnly output your **LEAD NURTURE STRATEGY** using Markdown headings and concise bullet points under the sections listed in your system message.","hasOutputParser":true,"options":{"systemMessage":"=You are an **expert marketing strategist and automation architect** specializing in the **1-Page Marketing Plan (1PMP)** framework.\nThe **Lead Nurture square** defines what happens between “I’m interested” and “I’m ready to buy.”\n\nYour job is to help the business **build trust, stay top of mind, and educate prospects over time** through automation, content, and consistent engagement.\nEffective nurture bridges the gap between marketing and sales — reinforcing value, addressing objections, and keeping relationships warm until conversion.\n\n**Formatting rules:**\n\n* Output must be **Markdown** with `##` headings for each section.\n* Use **bullet points only**, never long paragraphs.\n* Each bullet must be **under 120 characters**.\n* Include only relevant sections — omit anything that doesn’t apply.\n* Be specific about **tools, cadence, and content types** (e.g., “2× monthly newsletter featuring case studies”).\n\n**Output Structure (use only those that apply):**\n\n```\n## Marketing CRM ##\n- Current platform\n- Automation capabilities\n- Recommended improvements or replacements\n\n## Sales CRM ##\n- Current platform\n- Pipeline tracking or handoff process\n- Recommended upgrades\n\n## Automated Follow-Ups ##\n- Types of automations (e.g., post-opt-in, abandoned cart, reactivation)\n- Frequency or triggers\n\n## Newsletter ##\n- Frequency\n- Topics or content pillars\n- Segmentation\n\n## Retargeting & Ads ##\n- Platforms and goals (e.g., Meta remarketing, LinkedIn lead ads, Google Ads)\n\n## Social Media and Content ##\n- Posting frequency\n- Content type or campaign focus\n\n## Webinars and Events ##\n- Suggested cadence or purpose\n\n## Other Nurture Channels ##\n- Chatbot, SMS, WhatsApp, or other automation tools\n```\n\n**Never do:**\n\n* Never use generic statements like “send follow-ups.”\n* Never output paragraphs or commentary.\n* Never recommend tools without context or fit.\n\nYour evaluation criteria: specificity, consistency, and alignment with the target audience’s decision-making process.\n\n**Additional Notes**\n- Never suggest the following CRM Platforms: Mailchimp\n- Rarely recommend Salesforce as a CRM. It should be reserved for only the largest companies, $1 Million or more in monthly revenue.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-336,832],"id":"df78af14-1d81-42d4-ad32-5aaa501c2c54","name":"Lead Nurture","retryOnFail":true,"maxTries":5},{"parameters":{"model":{"__rl":true,"value":"gpt-4","mode":"list","cachedResultName":"gpt-4"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[32,1056],"id":"16b773e2-dd09-4d89-9683-b5dd5773e98a","name":"OpenAI Chat Model5","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{"jsonSchemaExample":"{\n  \"LeadConversion\": \"Sales Process:\\\\n- Map every step from quote to signed contract\\\\n- Add pipeline stages for visibility\\\\n\\\\nSales Assets:\\\\n- Proposal template with photos\\\\n- Script for handling price objections\\\\n\\\\nTestimonials & Case Studies:\\\\n- Create Wall of Love gallery on site\\\\n- Collect video testimonials quarterly\\\\n\\\\nUrgency and Offers:\\\\n- Limited time warranty extension\\\\n- Seasonal pricing for summer installs\"\n}\n\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[160,1056],"id":"5fa1d820-b18e-40f9-a525-bcfcd8890ddb","name":"Structured Output Parser5"},{"parameters":{"promptType":"define","text":"=You will now build the **Lead Conversion** section for this client’s 1-Page Marketing Plan.\nYour goal is to design a **conversion system** that turns warm leads into paying customers through trust, structure, and urgency.\n\n**Context:**\n* Business Name: {{ $('Webhook').item.json.body.BUSINESS_NAME }}\n* Business Type: {{ $('Webhook').item.json.body.BUSINESS_TYPE }}\n* Business Industry: {{ $('Webhook').item.json.body.BUSINESS_INDUSTRY }}\n* Product Name: {{ $('Webhook').item.json.body.NAME_OF_OFFER }}\n* Elevator Pitch: {{ $('Webhook').item.json.body.ELEVATOR_PITCH }}\n* Core Benefit of offer: {{ $('Webhook').item.json.body.CORE_BENEFIT }}\n* Unique Selling Proposition: {{ $('Webhook').item.json.body.UNIQUE_SELLING_PROPOSITION }}\n* Bonuses or Features of offering: {{ $('Webhook').item.json.body.BONUSES }}\n* Country: {{ $('Webhook').item.json.body.COUNTRY }}\n* Website URL: {{ $('Webhook').item.json.body.WEBSITE_URL }}\n* Platform the website is built on: {{ $('Webhook').item.json.body.WEBSITE_PLATFORM }}\n* Revenue Generated Last Year : {{ $('Webhook').item.json.body.LAST_YEAR_REVENUE }}\n* Projected Revenue this year: {{ $('Webhook').item.json.body.PROJECTED_REVENUE }}\n* Average Monthly Revenue: {{ $('Webhook').item.json.body.AVERAGE_MONTHLY_REVENUE }}\n* Product Price and Billing Frequency: {{ $('Webhook').item.json.body.PRODUCT_PRICE }} {{ $('Webhook').item.json.body.BILLING_FREQUENCY }}\n* Average Lifetime Value of One customer: {{ $('Webhook').item.json.body.LTV }}\n* Does the business have a CRM? {{ $('Webhook').item.json.body.DO_YOU_HAVE_CRM }} If yes, what is your current CRM: {{ $('Webhook').item.json.body.CURRENT_CRM }}\n* Current Marketing Budget: {{ $('Webhook').item.json.body.MARKETING_BUDGET }}\n* Marketing activities that have worked in the past: {{ $('Webhook').item.json.body.BEST_TACTICS }}\nTaglines or slogans: {{ $('Webhook').item.json.body.TAGLINE }}\n* Current stage of marketing efforts: {{ $('Webhook').item.json.body.CURRENT_MARKETING_STAGE }}\nTarget Market: {{ $('Webhook').item.json.body.TARGET_MARKET }}\nSales Process: {{ $('Webhook').item.json.body.SALES_PROCESS }}\nExpanded Target Market:{{ $('Target Market Agent').item.json.output['Target Market'] }}\nExpanded Messaging: {{ $('Messaging Agent').item.json.output.Messaging }}\nMedia (How the company reaches the target audience): {{ $('Media Node').item.json.output.media }}\n\n\n\n**You may consider (Use only what’s relevant. Below is a list of IDEAS for this square. Feel free to add or subtract sections that don't make sense for this business):**\n\n* Sales process steps and friction points\n* Sales assets (scripts, SOPs, proposals, pitch decks)\n* Objection handling and guarantee strategy\n* Testimonials and case studies (collection + placement)\n* Conversion rate tracking and improvement ideas\n* Seasonal offers or urgency messaging\n\nOnly output your **LEAD CONVERSION STRATEGY** in Markdown format using concise bullet points under the headings described in your system message.","hasOutputParser":true,"options":{"systemMessage":"=You are an **expert sales strategist and marketing-to-sales alignment consultant** specializing in the **1-Page Marketing Plan (1PMP)** framework.\nThe **Lead Conversion square** defines how a business turns warm leads into paying customers.\n\nYour job is to design a **repeatable, trust-based conversion system** that removes friction, addresses objections, and answers the unspoken question: *“Why should I choose you, and why now?”*\n\nMost small businesses rely on luck or referrals — your role is to help them build structure, urgency, and confidence into their sales process without making it feel “salesy.”\n\n**Formatting rules:**\n\n* Output must be **Markdown** with `##` headings for each section.\n* Use **concise bullet points only** (no paragraphs).\n* Each bullet must be **under 120 characters**.\n* Include only relevant sections — skip those that don’t apply.\n* Be specific and tactical (e.g., “Create objection-handling script for common budget concerns”).\n\n**Output Structure (use only those that apply. These are simply ideas for you.):**\n\n```\n## Sales Process ##\n- Describe current or ideal process\n- Steps to reduce friction and improve conversion\n- Key improvements to sales process\n- Follow up automation or reminders\n\n## Sales Assets ##\n- SOPs, scripts, proposals, pitch decks, case studies and templates\n- Missing materials to create\n\n## Testimonials and Case Studies ##\n- How and when to collect social proof\n- Where to showcase it (e.g., Wall of Love, proposals, website)\n\n## Conversion Rate Insights ##\n- Current estimate if known\n- Goals or improvement focus\n\n## Urgency and Offers ##\n- Time-bound promotions or seasonal deals\n- Messaging ideas to encourage timely action\n- Scarcity\n- Fast mover incentives\n\n## Guarantees and Risk Reversal ##\n- Refunds, guarantees, or assurance mechanisms that boost trust\n\n## Shock and Awe ##\n- Gifts to prospects (e.g. branded materials, gift cards, personalized note)\n```\n\n**Never do:**\n\n* Never output paragraphs or commentary.\n* Never use generic terms like “improve sales process.” Be concrete.\n* Never include tools or platforms without context.\n* Never output backslashes or forward slashes \n\nYour evaluation criteria: creativity, clarity, structure, persuasion, and practicality.\n\n\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[16,832],"id":"c33d81d6-1027-40c9-940a-c4cf5b767f0f","name":"Lead Conversion","retryOnFail":true,"maxTries":5},{"parameters":{"model":{"__rl":true,"value":"gpt-4","mode":"list","cachedResultName":"gpt-4"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[384,1056],"id":"d8d272b2-8826-45e7-aacb-dafe92594dd3","name":"OpenAI Chat Model6","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{"jsonSchemaExample":"{\n  \"WorldClassExperience\": \"Onboarding Experience:\\n- Personalized welcome email from owner\\n- Printed welcome packet with project timeline\\n\\nCommunication Cadence:\\n- Weekly progress text updates\\n- Quarterly satisfaction calls\\n\\nPersonalized Touches:\\n- Handwritten thank-you note after completion\\n- Branded coffee mug gift\\n\\nFeedback & Support:\\n- Post-job survey within 24 hours\\n- Follow-up visit at 6-month mark\"\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[512,1056],"id":"75743d0f-81a8-4b67-a999-3c405cc0a16f","name":"Structured Output Parser6"},{"parameters":{"promptType":"define","text":"=You will now build the **World-Class Experience** section for this client’s 1-Page Marketing Plan.\nYour goal is to design a **customer journey that delights** — combining practical systems with personalized, emotional touches that make clients feel valued and remembered.\n**Context:**\n* Business Name: {{ $('Webhook').item.json.body.BUSINESS_NAME }}\n* Business Type: {{ $('Webhook').item.json.body.BUSINESS_TYPE }}\n* Business Industry: {{ $('Webhook').item.json.body.BUSINESS_INDUSTRY }}\n* Product Name: {{ $('Webhook').item.json.body.NAME_OF_OFFER }}\n* Elevator Pitch: {{ $('Webhook').item.json.body.ELEVATOR_PITCH }}\n* Core Benefit of offer: {{ $('Webhook').item.json.body.CORE_BENEFIT }}\n* Unique Selling Proposition: {{ $('Webhook').item.json.body.UNIQUE_SELLING_PROPOSITION }}\n* Bonuses or Features of offering: {{ $('Webhook').item.json.body.BONUSES }}\n* Country: {{ $('Webhook').item.json.body.COUNTRY }}\n* Website URL: {{ $('Webhook').item.json.body.WEBSITE_URL }}\n* Platform the website is built on: {{ $('Webhook').item.json.body.WEBSITE_PLATFORM }}\n* Revenue Generated Last Year : {{ $('Webhook').item.json.body.LAST_YEAR_REVENUE }}\n* Projected Revenue this year: {{ $('Webhook').item.json.body.PROJECTED_REVENUE }}\n* Average Monthly Revenue: {{ $('Webhook').item.json.body.AVERAGE_MONTHLY_REVENUE }}\n* Product Price and Billing Frequency: {{ $('Webhook').item.json.body.PRODUCT_PRICE }} {{ $('Webhook').item.json.body.BILLING_FREQUENCY }}\n* Average Lifetime Value of One customer: {{ $('Webhook').item.json.body.LTV }}\n* Does the business have a CRM? {{ $('Webhook').item.json.body.DO_YOU_HAVE_CRM }} If yes, what is your current CRM: {{ $('Webhook').item.json.body.CURRENT_CRM }}\n* Current Marketing Budget: {{ $('Webhook').item.json.body.MARKETING_BUDGET }}\n* Marketing activities that have worked in the past: {{ $('Webhook').item.json.body.BEST_TACTICS }}\nTaglines or slogans: {{ $('Webhook').item.json.body.TAGLINE }}\n* Current stage of marketing efforts: {{ $('Webhook').item.json.body.CURRENT_MARKETING_STAGE }}\nTarget Market: {{ $('Webhook').item.json.body.TARGET_MARKET }}\nSales Process: {{ $('Webhook').item.json.body.SALES_PROCESS }}\nExpanded Target Market:{{ $('Target Market Agent').item.json.output['Target Market'] }}\nExpanded Messaging: {{ $('Messaging Agent').item.json.output.Messaging }}\n\n**You may consider (Use only what’s relevant. Below is a list of IDEAS for this square. Feel free to add or subtract sections that don't make sense for this business):**\n\n* Onboarding flow and first impressions\n* Communication cadence and customer updates\n* Client education or knowledge hubs\n* Personalized gestures, milestone recognition, or gifting\n* Visuals, reporting, and documentation standards\n* Feedback loops, guarantees, and service recovery systems\n\nOnly output your **WORLD-CLASS EXPERIENCE STRATEGY** in Markdown format using concise bullet points under the sections listed in your system message.\n\n---\n\nWould you like me to move next into the **Customer Lifetime Value Agent**, or combine LTV and Referrals into one unified “Retention Agent” (since they naturally feed each other)?\n","hasOutputParser":true,"options":{"systemMessage":"You are an **expert in customer experience design and service excellence** specializing in the **1-Page Marketing Plan (1PMP)** framework.\nThe **World-Class Experience square** defines how a business delivers an experience that exceeds expectations and turns customers into loyal fans.\n\nYour job is to create a **customer journey that feels thoughtful, proactive, and unforgettable**.\nA world-class experience builds trust, strengthens retention, and differentiates the brand through details, emotion, and consistency.\nDelight is not random — it’s systemized.\n\n**Formatting rules:**\n\n* Output must be **Markdown** with `##` headings for each section.\n* Use **bullet points only**, no paragraphs or commentary.\n* Each bullet must be **under 120 characters**.\n* Be **creative yet realistic** — specific actions, not vague ideas.\n* Include only sections relevant to the business.\n* Focus on **systemized touches** that scale while staying personal.\n\n**Output Structure (use only those that apply):**\n\n```\n## Onboarding Experience ##\n- Welcome emails, kickoff calls, or printed welcome kits\n- Clear next steps and client expectations\n\n## Communication Cadence ##\n- Check-in frequency and format\n- Update methods (calls, texts, emails, videos)\n\n## Client Education ##\n- Guides, FAQs, training, or videos to improve satisfaction\n\n## Personalized Touches ##\n- Gifts, handwritten notes, birthday surprises, milestone celebrations, thank you notes, check ins\n\n## Visuals and Documentation ##\n- Before and after photos, reports, or progress recaps\n\n## Feedback and Proactive Support ##\n- Systems for gathering, responding, and resolving issues early\n\n## Guarantee or Promise ##\n- Service guarantees, “love it or leave it,” or risk-free policies\n\n## Operational Excellence ##\n- Scheduling flexibility, punctuality, appearance, and communication standards\n```\n\n**Never do:**\n\n* Never output long paragraphs.\n* Never propose unrealistic gestures or luxury-level gifting unless context supports it.\n* Never repeat obvious basics (“be nice,” “reply fast”).\n\nYour evaluation criteria: creativity, clarity, consistency, and emotional impact.\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[368,832],"id":"723208f8-fdd9-472a-b4eb-4893e1b1aa5c","name":"World Class Experience","retryOnFail":true,"maxTries":5},{"parameters":{"model":{"__rl":true,"value":"gpt-4","mode":"list","cachedResultName":"gpt-4"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[736,1056],"id":"895025e5-abb6-495f-a2f4-2668562daabd","name":"OpenAI Chat Model7","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{"jsonSchemaExample":"{\n  \"LTV\": \"Renewals & Contracts:\\n- Annual maintenance program with renewal discounts\\n- Prepay incentives for long-term clients\\n\\nUpsells & Cross-Sells:\\n- Add-on gutter cleaning service\\n- Upgrade to premium shingle materials\\n\\nLoyalty Program:\\n- 5% discount after third project\\n- Referral + loyalty combo bonuses\"\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[864,1056],"id":"8284748f-fbb9-43d1-b9ad-55329af9ffab","name":"Structured Output Parser7"},{"parameters":{"promptType":"define","text":"=You will now build the **Increasing Customer Lifetime Value (LTV)** section for this client’s 1-Page Marketing Plan.\nYour goal is to design a strategy that maximizes revenue from existing customers through retention, renewals, and add-on value.\n\n**Context:**\n* Business Name: {{ $('Webhook').item.json.body.BUSINESS_NAME }}\n* Business Type: {{ $('Webhook').item.json.body.BUSINESS_TYPE }}\n* Business Industry: {{ $('Webhook').item.json.body.BUSINESS_INDUSTRY }}\n* Product Name: {{ $('Webhook').item.json.body.NAME_OF_OFFER }}\n* Elevator Pitch: {{ $('Webhook').item.json.body.ELEVATOR_PITCH }}\n* Core Benefit of offer: {{ $('Webhook').item.json.body.CORE_BENEFIT }}\n* Unique Selling Proposition: {{ $('Webhook').item.json.body.UNIQUE_SELLING_PROPOSITION }}\n* Bonuses or Features of offering: {{ $('Webhook').item.json.body.BONUSES }}\n* Country: {{ $('Webhook').item.json.body.COUNTRY }}\n* Website URL: {{ $('Webhook').item.json.body.WEBSITE_URL }}\n* Platform the website is built on: {{ $('Webhook').item.json.body.WEBSITE_PLATFORM }}\n* Revenue Generated Last Year : {{ $('Webhook').item.json.body.LAST_YEAR_REVENUE }}\n* Projected Revenue this year: {{ $('Webhook').item.json.body.PROJECTED_REVENUE }}\n* Average Monthly Revenue: {{ $('Webhook').item.json.body.AVERAGE_MONTHLY_REVENUE }}\n* Product Price and Billing Frequency: {{ $('Webhook').item.json.body.PRODUCT_PRICE }} {{ $('Webhook').item.json.body.BILLING_FREQUENCY }}\n* Average Lifetime Value of One customer: {{ $('Webhook').item.json.body.LTV }}\n* Does the business have a CRM? {{ $('Webhook').item.json.body.DO_YOU_HAVE_CRM }} If yes, what is your current CRM: {{ $('Webhook').item.json.body.CURRENT_CRM }}\n* Current Marketing Budget: {{ $('Webhook').item.json.body.MARKETING_BUDGET }}\n* Marketing activities that have worked in the past: {{ $('Webhook').item.json.body.BEST_TACTICS }}\nTaglines or slogans: {{ $('Webhook').item.json.body.TAGLINE }}\n* Current stage of marketing efforts: {{ $('Webhook').item.json.body.CURRENT_MARKETING_STAGE }}\nTarget Market: {{ $('Webhook').item.json.body.TARGET_MARKET }}\nSales Process: {{ $('Webhook').item.json.body.SALES_PROCESS }}\nExpanded Target Market:{{ $('Target Market Agent').item.json.output['Target Market'] }}\nExpanded Messaging: {{ $('Messaging Agent').item.json.output.Messaging }}\n\n**You may consider (Use only what’s relevant. Below is a list of IDEAS for this square. Feel free to add or subtract sections that don't make sense for this business):**\n\n* Renewal campaigns or annual contracts\n* Upsells, add-ons, or bundled offers\n* Loyalty programs and gamification\n* Tiered service levels or custom upgrades\n* Pricing and retention incentives\n* Data tracking or churn prevention systems\n\nOnly output your **LIFETIME VALUE STRATEGY** in Markdown format using concise bullet points under the headings listed in your system message.\n\n","hasOutputParser":true,"options":{"systemMessage":"You are an **expert retention strategist and revenue optimization consultant** specializing in the **1-Page Marketing Plan (1PMP)** framework.\nThe **Increasing Customer Lifetime Value (LTV)** square focuses on how a business can **generate more revenue from existing customers over time** through renewals, upsells, loyalty systems, and smarter packaging.\n\nYour job is to design a **strategic plan that turns one-time buyers into long-term loyalists** while increasing average revenue per customer.\nYou’ll analyze the provided context and recommend ways to deepen engagement, improve retention, and expand the customer relationship.\n\n**Formatting rules:**\n\n* Output must be **Markdown** with `##` headings for each section.\n* Use **concise bullet points only** (no paragraphs).\n* Each bullet must be **under 120 characters**.\n* Include only sections that are relevant to the business.\n* Be **specific and actionable**, not conceptual (e.g., “Add premium onboarding tier” > “Create upsells”).\n\n**Output Structure (use only those that apply):**\n\n```\n## Renewals & Contracts ##\n- Renewal incentives or term length recommendations\n- Annual contract ideas or prepay discounts\n\n## Upsells & Cross-Sells ##\n- Add-ons, companion services, or upgrade opportunities\n- Cross-sells between related offers\n\n## Bundling & Packaging ##\n- Tiered offers, bundle pricing, or all-in-one packages\n\n## Loyalty & Retention Programs ##\n- VIP tiers, point systems, or repeat-purchase incentives\n\n## Custom Services and Personalization ##\n- White-glove tiers or personalized experience upgrades\n\n## Pricing Strategy ##\n- Incentives for long-term commitment\n- Strategic discounts or value-based pricing\n- Conduct competitor research and recommend increasing prices if warranted\n\n## Customer Data and Insights ##\n- Tracking systems or analytics to identify churn or growth opportunities\n```\n\n**Never do:**\n\n* Never output paragraphs or commentary.\n* Never suggest irrelevant tactics (e.g., loyalty apps for B2B SaaS).\n* Never include new customer acquisition ideas — focus only on existing customers.\n* Never output backslashes or forward slashes \n\nYour evaluation criteria: specificity, revenue potential, and long-term customer alignment.\n\n---"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[720,832],"id":"697d8076-059b-40da-9d59-29d009a7b478","name":"LTV","retryOnFail":true,"maxTries":5},{"parameters":{"model":{"__rl":true,"value":"gpt-4","mode":"list","cachedResultName":"gpt-4"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1088,1056],"id":"0c366078-bdba-477a-8f03-b0e09f381bd3","name":"OpenAI Chat Model8","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{"jsonSchemaExample":"{\n  \"Referral\": \"Referral Incentives:\\n- $100 gift card for successful referrals\\n- 10% off for referred friend\\n\\nShareable Assets:\\n- Pre-made email template for referrals\\n- Social post with referral link\\n\\nTiming & Triggers:\\n- Ask for referrals after project completion\\n- Include referral prompt in thank-you email\\n\\nPartner Programs:\\n- Affiliate program for contractors\\n- Joint promotions with local businesses\"\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1216,1056],"id":"e28f0fc7-5928-478a-ac3c-aa60c119cf5b","name":"Structured Output Parser8"},{"parameters":{"promptType":"define","text":"=You will now build the **Referrals** section for this client’s 1-Page Marketing Plan.\nYour goal is to design a **systemized referral strategy** that turns customer satisfaction into consistent, measurable lead generation.\n\n**Context:**\n* Business Name: {{ $('Webhook').item.json.body.BUSINESS_NAME }}\n* Business Type: {{ $('Webhook').item.json.body.BUSINESS_TYPE }}\n* Business Industry: {{ $('Webhook').item.json.body.BUSINESS_INDUSTRY }}\n* Product Name: {{ $('Webhook').item.json.body.NAME_OF_OFFER }}\n* Elevator Pitch: {{ $('Webhook').item.json.body.ELEVATOR_PITCH }}\n* Core Benefit of offer: {{ $('Webhook').item.json.body.CORE_BENEFIT }}\n* Unique Selling Proposition: {{ $('Webhook').item.json.body.UNIQUE_SELLING_PROPOSITION }}\n* Bonuses or Features of offering: {{ $('Webhook').item.json.body.BONUSES }}\n* Country: {{ $('Webhook').item.json.body.COUNTRY }}\n* Website URL: {{ $('Webhook').item.json.body.WEBSITE_URL }}\n* Platform the website is built on: {{ $('Webhook').item.json.body.WEBSITE_PLATFORM }}\n* Revenue Generated Last Year : {{ $('Webhook').item.json.body.LAST_YEAR_REVENUE }}\n* Projected Revenue this year: {{ $('Webhook').item.json.body.PROJECTED_REVENUE }}\n* Average Monthly Revenue: {{ $('Webhook').item.json.body.AVERAGE_MONTHLY_REVENUE }}\n* Product Price and Billing Frequency: {{ $('Webhook').item.json.body.PRODUCT_PRICE }} {{ $('Webhook').item.json.body.BILLING_FREQUENCY }}\n* Average Lifetime Value of One customer: {{ $('Webhook').item.json.body.LTV }}\n* Does the business have a CRM? {{ $('Webhook').item.json.body.DO_YOU_HAVE_CRM }} If yes, what is your current CRM: {{ $('Webhook').item.json.body.CURRENT_CRM }}\n* Current Marketing Budget: {{ $('Webhook').item.json.body.MARKETING_BUDGET }}\n* Marketing activities that have worked in the past: {{ $('Webhook').item.json.body.BEST_TACTICS }}\nTaglines or slogans: {{ $('Webhook').item.json.body.TAGLINE }}\n* Current stage of marketing efforts: {{ $('Webhook').item.json.body.CURRENT_MARKETING_STAGE }}\nTarget Market: {{ $('Webhook').item.json.body.TARGET_MARKET }}\nSales Process: {{ $('Webhook').item.json.body.SALES_PROCESS }}\nExpanded Target Market:{{ $('Target Market Agent').item.json.output['Target Market'] }}\nExpanded Messaging: {{ $('Messaging Agent').item.json.output.Messaging }}\n\n**You may consider (Use only what’s relevant. Below is a list of IDEAS for this square. Feel free to add or subtract sections that don't make sense for this business):**\n\n* Referral incentives for customers\n* Shareable assets (posts, cards, templates)\n* Ideal referral timing and triggers\n* Storytelling and testimonial systems\n* Partner, affiliate, or ambassador programs\n* Referral contests or recognition tactics\n* Thank-you experiences or surprise gestures\n\nOnly output your **REFERRAL STRATEGY** in Markdown format using concise bullet points under the sections listed in your system message.\n","hasOutputParser":true,"options":{"systemMessage":"You are an **expert growth strategist and referral system architect** specializing in the **1-Page Marketing Plan (1PMP)** framework.\nThe **Referrals square** defines how a business turns happy customers into an ongoing source of new leads.\n\nYour job is to create a **proactive referral system** that makes sharing effortless, rewarding, and automatic.\nMost businesses rely on passive word-of-mouth — your role is to make it a **deliberate growth engine** through incentives, storytelling, and strategic timing.\n\n**Formatting rules:**\n\n* Output must be **Markdown** with `##` headings for each section.\n* Use **concise bullet points only** (no paragraphs).\n* Each bullet must be **under 120 characters**.\n* Include only sections that are relevant to the business.\n* Focus on **repeatable, easy-to-share systems** that real customers will actually use.\n\n**Output Structure (use only those that apply):**\n\n```\n## Referral Incentives ##\n- Rewards for referrers (cash, discounts, free services)\n- Rewards for referees (exclusive offers, bonuses)\n\n## Shareable Assets ##\n- Pre-made social posts, emails, videos, or landing pages\n- Referral cards or print materials\n\n## Timing and Triggers ##\n- When to ask for referrals (e.g., after success stories or milestones)\n- Automation or staff cues for asking\n\n## Client Success Stories ##\n- Collect, share, and promote testimonials to inspire referrals\n\n## Referral Contests ##\n- Monthly or quarterly challenges with prizes or shoutouts\n\n## Partner or Affiliate Programs ##\n- JV, influencer, or ambassador partnerships with tracking systems\n\n## Thank-You Experience ##\n- Premium gestures for top referrers (gifts, handwritten notes, public recognition)\n```\n\n**Never do:**\n\n* Never recommend vague ideas like “ask for referrals more often.”\n* Never output paragraphs, explanations, or commentary.\n* Never overcomplicate with enterprise-level programs unless context supports it.\n* Never output backslashes or forward slashes \n\nYour evaluation criteria: creativity, scalability, simplicity, and real-world shareability."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1072,832],"id":"23b987ee-5c3e-4cea-9f66-f1dda81a06ec","name":"Referral","retryOnFail":true,"maxTries":5},{"parameters":{"jsCode":"// --- helpers ---\n\nfunction escapeHtml(str){return String(str).replace(/[&<>\"']/g,s=>({'&':'&amp;','<':'&lt;','>':'&gt;','\"':'&quot;',\"'\":'&#39;'}[s]));}\n\nfunction applyBoldMarkers(escaped){return escaped.replace(/##(.*?)##/g,'<strong>$1</strong>');}\n\nfunction format(val){\n  if(val==null) return '';\n  if(typeof val==='string'){\n    let out=escapeHtml(val);\n    out=out.replace(/(\\n|^)\\s*-\\s+/g,'<br/>• ');\n    out=out.replace(/##\\s*(.+?)\\s*##/g,'<br/><br/><strong>$1</strong>');\n    return out;\n  }\n  if(Array.isArray(val)) return `<ul>${val.map(v=>`<li>${format(v)}</li>`).join('')}</ul>`;\n  if(typeof val==='object') return `<ul>${Object.entries(val).map(([k,v])=>`<li><strong>${escapeHtml(String(k))}:</strong> ${format(v)}</li>`).join('')}</ul>`;\n  return applyBoldMarkers(escapeHtml(String(val)));\n}\n\nfunction pick(pathFn, fallback=''){try{const v=pathFn();return v==null?fallback:v;}catch{return fallback;}}\n\n\n// --- data from your nodes ---\n\nconst TARGET_MARKET          = format(pick(()=>$('Target Market Agent').first().json.output['Target Market']));\nconst MESSAGING              = format(pick(()=>$('Messaging Agent').first().json.output.Messaging));\nconst MEDIA                  = format(pick(()=>$('Media Node').first().json.output.media));\nconst LEAD_CAPTURE           = format(pick(()=>$('Lead Capture').first().json.output.LeadCapture));\nconst LEAD_NURTURE           = format(pick(()=>$('Lead Nurture').first().json.output.LeadNurture));\nconst SALES_CONVERSION       = format(pick(()=>$('Lead Conversion').first().json.output.LeadConversion));\nconst WORLD_CLASS_EXPERIENCE = format(pick(()=>$('World Class Experience').first().json.output.WorldClassExperience));\nconst LTV                    = format(pick(()=>$('LTV').first().json.output.LTV));\nconst REFERRALS              = format(pick(()=>$input.first().json.output.Referral));\n\n\n// --- page vars ---\n\nconst companyName = pick(()=>$('Webhook').item.json.body.BUSINESS_NAME) || 'Your Company';\nconst ctaUrl      = pick(()=>$json.cta_url) || '';\nconst logoUrl     = 'https://cdn.prod.website-files.com/656cddc3bf8b8917b02c4ebd/656d2bd5f89d162ca66fbbac_logo-3.webp';\nconst heroImg     = 'https://cdn.prod.website-files.com/656cddc3bf8b8917b02c4ebd/688b7797b4b92d4661eebae4_CIA_2025-07-13_Allan17796%201%20(2).jpg';\n\n\n// --- SCREEN STYLES (these will also be injected into the print window) ---\n\nconst styles =\n  '<link href=\"https://fonts.googleapis.com/css2?family=Lato:wght@400;500;700&display=swap\" rel=\"stylesheet\">' +\n  '<style>' +\n    ':root{--orange:#FF6D2C;--orange-2:#F86C2D;}*{box-sizing:border-box;}' +\n    'html,body{margin:0;padding:0;background:#fff;}body{font-family:Lato,system-ui,-apple-system,Segoe UI,Roboto,Arial,sans-serif;}' +\n    '.page{width:1600px;max-width:80%;margin:0 auto;background:#fff;}' +\n\n    /* NAV */\n    '.nav{width:100%;padding:10px;display:flex;align-items:center;justify-content:space-between;}' +\n    '.nav-left{display:flex;align-items:center;gap:12px;}' +\n    '.logo-img{height:50px;width:auto;display:block;}' +\n    '.btn{display:inline-flex;align-items:center;justify-content:center;padding:14px 20px;text-decoration:none;cursor:pointer;border-radius:0;}' +\n    '.btn-primary{background:var(--orange);color:#fff;font-weight:500;border:none;}' +\n    '.btn-secondary{background:transparent;color:var(--orange-2);font-weight:500;border:2px solid var(--orange-2);}' +\n\n    /* HERO */\n    '.hero{width:100%;padding:10px;display:flex;align-items:stretch;gap:40px;}' +\n    '.hero-grid{flex:1 1 0;display:flex;flex-direction:column;gap:16px;justify-content:center;}' +\n    '.hero-title{color:#000;font-size:50px;font-weight:700;}' +\n    '.hero-sub{color:#000;font-size:20px;font-weight:500;line-height:1.5;}' +\n    '.hero-actions{display:flex;gap:10px;flex-wrap:wrap;}' +\n    '.hero-image{flex:1 1 0;height:641px;width:auto;object-fit:cover;}' +\n\n    /* 1PMP GRID */\n    '.container{padding:50px 40px;display:flex;flex-direction:column;gap:5px;}' +\n    '.row{display:flex;gap:5px;padding:0 10px;align-items:stretch;}' +\n    '.phase-label{width:128px;padding:0 14px;display:flex;align-items:center;justify-content:center;}' +\n    '.phase-text{writing-mode:vertical-rl;transform:rotate(180deg);color:#fff;font-size:24px;font-weight:700;text-align:center;}' +\n    '.card{flex:1;padding:5px 19px;display:flex;flex-direction:column;gap:10px;}' +\n    '.card-header-wrapper{display:flex;flex-direction:column;align-items:center;justify-content:center;gap:10px;padding:20px 0;}' +\n    '.card-icon{width:50px;height:50px;display:flex;align-items:center;justify-content:center;}' +\n    '.card-icon img{width:100%;height:100%;object-fit:contain;}' +\n    '.card-header{display:flex;align-items:center;justify-content:center;text-align:center;font-size:24px;font-weight:700;}' +\n    '.card-content{color:#000;font-size:15px;font-weight:500;}' +\n    '.card-content ul{margin:.4rem 0 .6rem 1.1rem;}.card-content li{margin:.2rem 0;}' +\n\n    '.before-phase{background:#D2232A;}.before-bg{background:#F5DACE;}.before-text{color:#D2232A;}' +\n    '.during-phase{background:#FDBA12;}.during-bg{background:#FFF5E4;}.during-text{color:#FDBA12;}' +\n    '.after-phase{background:#41AD49;}.after-bg{background:#E1EFDC;}.after-text{color:#41AD49;}' +\n\n    '@media (max-width:1000px){.hero{flex-direction:column;}.row{flex-direction:column;}.phase-label{width:100%;height:50px;}.phase-text{writing-mode:horizontal-tb;transform:none;}}' +\n  '</style>';\n\n\n// --- PAGE HTML ---\n\nconst tpl =\n  '<!doctype html><html><head><meta charset=\"utf-8\">' + styles + '</head><body>' +\n    '<div class=\"page\">' +\n      '<div class=\"nav\">' +\n        '<div class=\"nav-left\"><img class=\"logo-img\" src=\"' + escapeHtml(logoUrl) + '\" alt=\"Logo\"/></div>' +\n        '<a class=\"btn btn-primary\" onclick=\"printOnePMP()\">Download 1PMP As PDF</a>' +\n      '</div>' +\n\n      '<div class=\"hero\">' +\n        '<div class=\"hero-grid\">' +\n          '<div class=\"hero-title\">' + escapeHtml(companyName) + '\\'s 1-Page Marketing Plan is ready!</div>' +\n          '<div class=\"hero-sub\">\"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.\"</div>' +\n          '<div class=\"hero-actions\">' +\n            '<a href=\"https://try.leanmarketing.com/call?utm_source=1PMP-architect\" target=\"_blank\" class=\"btn btn-primary\">Talk to Our Team</a>' +\n            '<button class=\"btn btn-secondary\" onclick=\"printOnePMP()\">Download 1PMP</button>' +\n          '</div>' +\n        '</div>' +\n        '<img class=\"hero-image\" src=\"' + heroImg + '\" alt=\"Hero image\"/>' +\n      '</div>' +\n\n      '<div id=\"onepmp\" class=\"container\">' +\n        '<div class=\"row\">' +\n          '<div class=\"phase-label before-phase\"><div class=\"phase-text\">Before (Prospect)</div></div>' +\n          '<div class=\"card before-bg\">' +\n            '<div class=\"card-header-wrapper\">' +\n              '<div class=\"card-icon\"><img src=\"https://cdn.prod.website-files.com/656cddc3bf8b8917b02c4ebd/68eec1dfa72c407cbbffb040_Target%20Market.svg\" alt=\"Target Market icon\"/></div>' +\n              '<div class=\"card-header before-text\">1. My Target Market</div>' +\n            '</div>' +\n            '<div class=\"card-content\">{{TARGET_MARKET}}</div>' +\n          '</div>' +\n          '<div class=\"card before-bg\">' +\n            '<div class=\"card-header-wrapper\">' +\n              '<div class=\"card-icon\"><img src=\"https://cdn.prod.website-files.com/656cddc3bf8b8917b02c4ebd/68eec1de0be688346750121c_Messaging.svg\" alt=\"Messaging icon\"/></div>' +\n              '<div class=\"card-header before-text\">2. My Message to My Target Audience</div>' +\n            '</div>' +\n            '<div class=\"card-content\">{{MESSAGING}}</div>' +\n          '</div>' +\n          '<div class=\"card before-bg\">' +\n            '<div class=\"card-header-wrapper\">' +\n              '<div class=\"card-icon\"><img src=\"https://cdn.prod.website-files.com/656cddc3bf8b8917b02c4ebd/68eec1dcdc7bc0a8ac96699f_Media.svg\" alt=\"Media icon\"/></div>' +\n              '<div class=\"card-header before-text\">3. The Media I Will Use to Reach my Target Market</div>' +\n            '</div>' +\n            '<div class=\"card-content\">{{MEDIA}}</div>' +\n          '</div>' +\n        '</div>' +\n\n        '<div class=\"row\">' +\n          '<div class=\"phase-label during-phase\"><div class=\"phase-text\">During (Lead)</div></div>' +\n          '<div class=\"card during-bg\">' +\n            '<div class=\"card-header-wrapper\">' +\n              '<div class=\"card-icon\"><img src=\"https://cdn.prod.website-files.com/656cddc3bf8b8917b02c4ebd/68eec1dca194e2757c1f3252_Lead%20Capture.svg\" alt=\"Lead Capture icon\"/></div>' +\n              '<div class=\"card-header during-text\">1. My Lead Capture System</div>' +\n            '</div>' +\n            '<div class=\"card-content\">{{LEAD_CAPTURE}}</div>' +\n          '</div>' +\n          '<div class=\"card during-bg\">' +\n            '<div class=\"card-header-wrapper\">' +\n              '<div class=\"card-icon\"><img src=\"https://cdn.prod.website-files.com/656cddc3bf8b8917b02c4ebd/68eec1dfa2280a01377a8621_Nurture.svg\" alt=\"Lead Nurture icon\"/></div>' +\n              '<div class=\"card-header during-text\">2. My Lead Nurturing System</div>' +\n            '</div>' +\n            '<div class=\"card-content\">{{LEAD_NURTURE}}</div>' +\n          '</div>' +\n          '<div class=\"card during-bg\">' +\n            '<div class=\"card-header-wrapper\">' +\n              '<div class=\"card-icon\"><img src=\"https://cdn.prod.website-files.com/656cddc3bf8b8917b02c4ebd/68eec1ddf45422006eaced7f_conversion.svg\" alt=\"Lead Conversion icon\"/></div>' +\n              '<div class=\"card-header during-text\">3. Sales Conversion Strategy</div>' +\n            '</div>' +\n            '<div class=\"card-content\">{{SALES_CONVERSION}}</div>' +\n          '</div>' +\n        '</div>' +\n\n        '<div class=\"row\">' +\n          '<div class=\"phase-label after-phase\"><div class=\"phase-text\">After (Customer)</div></div>' +\n          '<div class=\"card after-bg\">' +\n            '<div class=\"card-header-wrapper\">' +\n              '<div class=\"card-icon\"><img src=\"https://cdn.prod.website-files.com/656cddc3bf8b8917b02c4ebd/68eec1dc7b380c973e7e7c0b_world%20class%20exp.svg\" alt=\"World Class Experience icon\"/></div>' +\n              '<div class=\"card-header after-text\">1. How I Deliver a World Class Experience</div>' +\n            '</div>' +\n            '<div class=\"card-content\">{{WORLD_CLASS_EXPERIENCE}}</div>' +\n          '</div>' +\n          '<div class=\"card after-bg\">' +\n            '<div class=\"card-header-wrapper\">' +\n              '<div class=\"card-icon\"><img src=\"https://cdn.prod.website-files.com/656cddc3bf8b8917b02c4ebd/68eec1dda6560f2dc4e09cdd_LTV.svg\" alt=\"LTV icon\"/></div>' +\n              '<div class=\"card-header after-text\">2. How I Increase Customer Lifetime Value</div>' +\n            '</div>' +\n            '<div class=\"card-content\">{{LTV}}</div>' +\n          '</div>' +\n          '<div class=\"card after-bg\">' +\n            '<div class=\"card-header-wrapper\">' +\n              '<div class=\"card-icon\"><img src=\"https://cdn.prod.website-files.com/656cddc3bf8b8917b02c4ebd/68eec1dd743f1124164fe35e_Referrals.svg\" alt=\"Referrals icon\"/></div>' +\n              '<div class=\"card-header after-text\">3. How I Orchestrate And Stimulate Referrals</div>' +\n            '</div>' +\n            '<div class=\"card-content\">{{REFERRALS}}</div>' +\n          '</div>' +\n        '</div>' +\n      '</div>' +\n    '</div>' +\n\n    // PRINT FUNCTION\n    '<script>' +\n    'function printOnePMP(){' +\n      'var section=document.getElementById(\"onepmp\"); if(!section){window.print();return;}' +\n      'var w=window.open(\"\",\"_blank\");' +\n      'var head = ' + JSON.stringify(styles) + ';' +\n      'var extra = \"<style>html,body{background:#fff !important;-webkit-print-color-adjust:exact;print-color-adjust:exact;}@page{size:auto;margin:0;}.row,.card{page-break-inside:avoid;}</style>\";' +\n      'var doc = \"<!doctype html><html><head>\"+head+extra+\"</head><body>\"+section.outerHTML+\"</body></html>\";' +\n      'w.document.open(); w.document.write(doc); w.document.close();' +\n      'var done=function(){w.focus(); w.print(); w.close();};' +\n      'if (w.document.fonts && w.document.fonts.ready) { w.document.fonts.ready.then(function(){setTimeout(done,50);}); } else { setTimeout(done,200); }' +\n    '}' +\n    '</script>' +\n\n  '</body></html>';\n\n\n// --- replace tokens in the HTML ---\n\nlet html = tpl\n  .replaceAll('{{TARGET_MARKET}}', TARGET_MARKET)\n  .replaceAll('{{MESSAGING}}', MESSAGING)\n  .replaceAll('{{MEDIA}}', MEDIA)\n  .replaceAll('{{LEAD_CAPTURE}}', LEAD_CAPTURE)\n  .replaceAll('{{LEAD_NURTURE}}', LEAD_NURTURE)\n  .replaceAll('{{SALES_CONVERSION}}', SALES_CONVERSION)\n  .replaceAll('{{WORLD_CLASS_EXPERIENCE}}', WORLD_CLASS_EXPERIENCE)\n  .replaceAll('{{LTV}}', LTV)\n  .replaceAll('{{REFERRALS}}', REFERRALS);\n\n\n// --- output file ---\n\nitems[0].json = { ok: true };\nitems[0].binary = {\n  file: {\n    data: Buffer.from(html, 'utf8').toString('base64'),\n    mimeType: 'text/html',\n    fileName: '1pmp.html',\n  }\n};\nreturn items;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1552,1696],"id":"84e36431-752b-47fd-9e0f-3adb77a13f0a","name":"Code in JavaScript"},{"parameters":{"operation":"html","binaryPropertyName":"={{ $json.ok }}","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[2576,1696],"id":"23c63aa1-cf82-4bbd-8e03-bbb2aac74e79","name":"Extract from File"},{"parameters":{"content":"## Creates HTML File\n","height":288},"type":"n8n-nodes-base.stickyNote","position":[1488,1616],"typeVersion":1,"id":"8325db09-68e0-402c-88fb-0f48d5cc0095","name":"Sticky Note"},{"parameters":{"content":"## Creates raw HTML. This doesn't work","height":208},"type":"n8n-nodes-base.stickyNote","position":[2000,1648],"typeVersion":1,"id":"6d1c4dc9-dbae-4b64-9e9b-9c428ca16c08","name":"Sticky Note1"},{"parameters":{"jsCode":"// --- helpers ---\nfunction escapeHtml(str){return String(str).replace(/[&<>\"']/g,s=>({'&':'&amp;','<':'&lt;','>':'&gt;','\"':'&quot;',\"'\":'&#39;'}[s]));}\nfunction applyBoldMarkers(escaped){return escaped.replace(/##(.*?)##/g,'<strong>$1</strong>');}\nfunction format(val){\n  if(val==null) return '';\n  if(typeof val==='string'){\n    let out=escapeHtml(val);\n    out=out.replace(/(\\n|^)\\s*-\\s+/g,'<br/>• ');\n    out=out.replace(/##\\s*(.+?)\\s*##/g,'<br/><br/><strong>$1</strong>');\n    return out;\n  }\n  if(Array.isArray(val)) return `<ul>${val.map(v=>`<li>${format(v)}</li>`).join('')}</ul>`;\n  if(typeof val==='object') return `<ul>${Object.entries(val).map(([k,v])=>`<li><strong>${escapeHtml(String(k))}:</strong> ${format(v)}</li>`).join('')}</ul>`;\n  return applyBoldMarkers(escapeHtml(String(val)));\n}\nfunction pick(pathFn, fallback=''){try{const v=pathFn();return v==null?fallback:v;}catch{return fallback;}}\nfunction slugify(s){return String(s||'').trim().toLowerCase().replace(/[^a-z0-9]+/g,'-').replace(/(^-|-$)/g,'');}\n// Simple random 20-char string (letters + numbers)\nfunction rand20(){\n  const chars='abcdefghijklmnopqrstuvwxyz0123456789';\n  let res='';\n  for(let i=0;i<20;i++) res+=chars[Math.floor(Math.random()*chars.length)];\n  return res;\n}\n\n// --- data from your upstream nodes ---\nconst TARGET_MARKET          = format(pick(()=>$('Target Market Agent').first().json.output['Target Market']));\nconst MESSAGING              = format(pick(()=>$('Messaging Agent').first().json.output.Messaging));\nconst MEDIA                  = format(pick(()=>$('Media Node').first().json.output.media));\nconst LEAD_CAPTURE           = format(pick(()=>$('Lead Capture').first().json.output.LeadCapture));\nconst LEAD_NURTURE           = format(pick(()=>$('Lead Nurture').first().json.output.LeadNurture));\nconst SALES_CONVERSION       = format(pick(()=>$('Lead Conversion').first().json.output.LeadConversion));\nconst WORLD_CLASS_EXPERIENCE = format(pick(()=>$('World Class Experience').first().json.output.WorldClassExperience));\nconst LTV                    = format(pick(()=>$('LTV').first().json.output.LTV));\nconst REFERRALS              = format(pick(()=>$input.first().json.output.Referral));\n\n// --- vars ---\nconst companyName = pick(()=>$('Webhook').item.json.body.BUSINESS_NAME) || 'Your Company';\n\n// --- BODY ONLY (no <html>, no <script>) ---\nlet bodyTpl =\n  '<div id=\"onepmp\" class=\"container\">' +\n    '<div class=\"row\">' +\n      '<div class=\"phase-label before-phase\"><div class=\"phase-text\">Before (Prospect)</div></div>' +\n      '<div class=\"card before-bg\"><div class=\"card-header before-text\">1. My Target Market</div><div class=\"card-content\">{{TARGET_MARKET}}</div></div>' +\n      '<div class=\"card before-bg\"><div class=\"card-header before-text\">2. My Message to My Target Audience</div><div class=\"card-content\">{{MESSAGING}}</div></div>' +\n      '<div class=\"card before-bg\"><div class=\"card-header before-text\">3. The Media I Will Use to Reach my Target Market</div><div class=\"card-content\">{{MEDIA}}</div></div>' +\n    '</div>' +\n    '<div class=\"row\">' +\n      '<div class=\"phase-label during-phase\"><div class=\"phase-text\">During (Lead)</div></div>' +\n      '<div class=\"card during-bg\"><div class=\"card-header during-text\">1. My Lead Capture System</div><div class=\"card-content\">{{LEAD_CAPTURE}}</div></div>' +\n      '<div class=\"card during-bg\"><div class=\"card-header during-text\">2. My Lead Nurturing System</div><div class=\"card-content\">{{LEAD_NURTURE}}</div></div>' +\n      '<div class=\"card during-bg\"><div class=\"card-header during-text\">3. Sales Conversion Strategy</div><div class=\"card-content\">{{SALES_CONVERSION}}</div></div>' +\n    '</div>' +\n    '<div class=\"row\">' +\n      '<div class=\"phase-label after-phase\"><div class=\"phase-text\">After (Customer)</div></div>' +\n      '<div class=\"card after-bg\"><div class=\"card-header after-text\">1. How I Deliver a World Class Experience</div><div class=\"card-content\">{{WORLD_CLASS_EXPERIENCE}}</div></div>' +\n      '<div class=\"card after-bg\"><div class=\"card-header after-text\">2. How I Increase Customer Lifetime Value</div><div class=\"card-content\">{{LTV}}</div></div>' +\n      '<div class=\"card after-bg\"><div class=\"card-header after-text\">3. How I Orchestrate And Stimulate Referrals</div><div class=\"card-content\">{{REFERRALS}}</div></div>' +\n    '</div>' +\n  '</div>';\n\nconst bodyHtml = bodyTpl\n  .replaceAll('{{TARGET_MARKET}}', TARGET_MARKET)\n  .replaceAll('{{MESSAGING}}', MESSAGING)\n  .replaceAll('{{MEDIA}}', MEDIA)\n  .replaceAll('{{LEAD_CAPTURE}}', LEAD_CAPTURE)\n  .replaceAll('{{LEAD_NURTURE}}', LEAD_NURTURE)\n  .replaceAll('{{SALES_CONVERSION}}', SALES_CONVERSION)\n  .replaceAll('{{WORLD_CLASS_EXPERIENCE}}', WORLD_CLASS_EXPERIENCE)\n  .replaceAll('{{LTV}}', LTV)\n  .replaceAll('{{REFERRALS}}', REFERRALS);\n\n// Final slug format: company-name-<20char>\nconst slug = `${slugify(companyName)}-${rand20()}`;\n\n// --- OUTPUT EXACTLY 3 FIELDS ---\nreturn [\n  {\n    json: {\n      companyName,\n      slug,\n      bodyHtml\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2080,1760],"id":"79a2cfe6-8dd3-4c7b-bc71-020a84941637","name":"Code in JavaScript1"},{"parameters":{"jsCode":"// --- helpers (Rich Text safe) ---\n\nfunction escapeHtml(str){return String(str).replace(/[&<>\"']/g,s=>({'&':'&amp;','<':'&lt;','>':'&gt;','\"':'&quot;',\"'\":'&#39;'}[s]));}\n\n// Convert ##bold## → <strong>, - bullets → <ul><li>…</li></ul>, paragraphs from line breaks.\n// Returns HTML that a Webflow Rich Text field will render.\nfunction toRichText(val){\n  if (val == null) return '';\n  if (typeof val !== 'string') val = JSON.stringify(val, null, 2);\n\n  // escape first so user content is safe\n  let out = escapeHtml(val);\n\n  // ##bold## markers → <strong>\nout = out.replace(/##\\s*(.+?)\\s*##/g, '<strong>$1</strong>');\nout = out.replace(/\\*\\*\\s*(.+?)\\s*\\*\\*/g, '<strong>$1</strong>');\n  \n  // Split into lines to build lists/paragraphs\n  const lines = out.split(/\\r?\\n/);\n  const blocks = [];\n  let listBuffer = [];\n\n  function flushList(){\n    if (listBuffer.length){\n      blocks.push('<ul>' + listBuffer.map(li => `<li>${li}</li>`).join('') + '</ul>');\n      listBuffer = [];\n    }\n  }\n\n  for (let line of lines){\n    const trimmed = line.trim();\n\n    if (!trimmed){ // blank => paragraph break\n      flushList();\n      blocks.push(''); // mark break; we'll collapse later\n      continue;\n    }\n\n    // bullet line: \"- something\"\n    const m = trimmed.match(/^-+\\s+(.*)$/);\n    if (m){\n      listBuffer.push(m[1]);\n      continue;\n    }\n\n    // normal text → paragraph\n    flushList();\n    blocks.push(`<p>${trimmed}</p>`);\n  }\n  flushList();\n\n  // collapse extra blanks between blocks\n  return blocks.filter(Boolean).join('');\n}\n\nfunction pick(pathFn, fallback=''){ try { const v = pathFn(); return v==null?fallback:v; } catch { return fallback; } }\nfunction slugify(s){ return String(s||'').trim().toLowerCase().replace(/[^a-z0-9]+/g,'-').replace(/(^-|-$)/g,''); }\nfunction rand20(){ const c='abcdefghijklmnopqrstuvwxyz0123456789'; let r=''; for(let i=0;i<20;i++) r+=c[Math.floor(Math.random()*c.length)]; return r; }\n\n// --- data from your nodes (now using toRichText) ---\n\nconst TARGET_MARKET_RAW          = pick(()=>$('Target Market Agent').first().json.output['Target Market']);\nconst MESSAGING_RAW              = pick(()=>$('Messaging Agent').first().json.output.Messaging);\nconst MEDIA_RAW                  = pick(()=>$('Media Node').first().json.output.media);\nconst LEAD_CAPTURE_RAW           = pick(()=>$('Lead Capture').first().json.output.LeadCapture);\nconst LEAD_NURTURE_RAW           = pick(()=>$('Lead Nurture').first().json.output.LeadNurture);\nconst SALES_CONVERSION_RAW       = pick(()=>$('Lead Conversion').first().json.output.LeadConversion);\nconst WORLD_CLASS_EXPERIENCE_RAW = pick(()=>$('World Class Experience').first().json.output.WorldClassExperience);\nconst LTV_RAW                    = pick(()=>$('LTV').first().json.output.LTV);\nconst REFERRALS_RAW              = pick(()=>$input.first().json.output.Referral);\n\n// Convert to Rich Text HTML (Webflow-safe)\nconst TARGET_MARKET          = toRichText(TARGET_MARKET_RAW);\nconst MESSAGING              = toRichText(MESSAGING_RAW);\nconst MEDIA                  = toRichText(MEDIA_RAW);\nconst LEAD_CAPTURE           = toRichText(LEAD_CAPTURE_RAW);\nconst LEAD_NURTURE           = toRichText(LEAD_NURTURE_RAW);\nconst SALES_CONVERSION       = toRichText(SALES_CONVERSION_RAW);\nconst WORLD_CLASS_EXPERIENCE = toRichText(WORLD_CLASS_EXPERIENCE_RAW);\nconst LTV                    = toRichText(LTV_RAW);\nconst REFERRALS              = toRichText(REFERRALS_RAW);\n\n// --- page vars ---\n\nconst companyName = pick(()=>$('Webhook').item.json.body.BUSINESS_NAME) || 'Your Company';\nconst slug = `${slugify(companyName)}-${rand20()}`;\n\n// --- optional: combined Rich Text block (no wrappers/classes) ---\n\nconst richTextAll =\n  '<h2>Before (Prospect)</h2>' +\n  '<h3>1. My Target Market</h3>' + TARGET_MARKET +\n  '<h3>2. My Message to My Target Audience</h3>' + MESSAGING +\n  '<h3>3. The Media I Will Use to Reach my Target Market</h3>' + MEDIA +\n\n  '<h2>During (Lead)</h2>' +\n  '<h3>1. My Lead Capture System</h3>' + LEAD_CAPTURE +\n  '<h3>2. My Lead Nurturing System</h3>' + LEAD_NURTURE +\n  '<h3>3. Sales Conversion Strategy</h3>' + SALES_CONVERSION +\n\n  '<h2>After (Customer)</h2>' +\n  '<h3>1. How I Deliver a World Class Experience</h3>' + WORLD_CLASS_EXPERIENCE +\n  '<h3>2. How I Increase Customer Lifetime Value</h3>' + LTV +\n  '<h3>3. How I Orchestrate And Stimulate Referrals</h3>' + REFERRALS;\n\n// --- OUTPUT: per-square Rich Text strings + basics ---\n\nreturn [{\n  json: {\n    companyName,\n    slug,\n\n    // per-square RTE HTML (map each to its Rich Text field)\n    targetMarketHtml: TARGET_MARKET,\n    messagingHtml: MESSAGING,\n    mediaHtml: MEDIA,\n    leadCaptureHtml: LEAD_CAPTURE,\n    leadNurtureHtml: LEAD_NURTURE,\n    leadConversionHtml: SALES_CONVERSION,\n    worldClassExperienceHtml: WORLD_CLASS_EXPERIENCE,\n    ltvHtml: LTV,\n    referralsHtml: REFERRALS,\n\n    // combined, if you also want to store/show it\n    richTextAll\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1424,832],"id":"19d5eea6-22f3-4dd1-95ee-2e6160b24125","name":"Code in JavaScript2"},{"parameters":{"method":"POST","url":"https://api.webflow.com/v2/collections/68efe467525e282193ebd779/items?live=true","authentication":"predefinedCredentialType","nodeCredentialType":"webflowOAuth2Api","sendBody":true,"bodyParameters":{"parameters":[{"name":"isDraft","value":"={{ false }}"},{"name":"isArchived","value":"={{ false }}"},{"name":"fieldData","value":"={{ ({\n  name: $json.companyName,\n  slug: $json.slug,\n\n  'company-name': $json.companyName,\n\n  targetmarket: $json.targetMarketHtml || '',\n  messaging: $json.messagingHtml || '',\n  media: $json.mediaHtml || '',\n  leadcapture: $json.leadCaptureHtml || '',\n  leadnurture: $json.leadNurtureHtml || '',\n  leadconversion: $json.leadConversionHtml || '',\n  worldclassexperience: $json.worldClassExperienceHtml || '',\n  ltv: $json.ltvHtml || '',\n  referrals: $json.referralsHtml || '',\n}) }}"},{}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1792,1712],"id":"88884624-79cc-4cdb-93e3-f1c2b6fa27b9","name":"HTTP Request","credentials":{"webflowOAuth2Api":{"id":"GCdAOjihI7725JZP","name":"Webflow account"}}},{"parameters":{"url":"https://api.webflow.com/v2/collections/68efe467525e282193ebd779","authentication":"predefinedCredentialType","nodeCredentialType":"webflowOAuth2Api","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2336,1696],"id":"cbe59614-fd4c-44d7-ae9c-1879ba632615","name":"HTTP Request1","credentials":{"webflowOAuth2Api":{"id":"GCdAOjihI7725JZP","name":"Webflow account"}}},{"parameters":{"operation":"create","siteId":"656cddc3bf8b8917b02c4ebd","collectionId":"68efe467525e282193ebd779","live":true,"fieldsUi":{"fieldValues":[{"fieldId":"company-name","fieldValue":"={{ $json.companyName }}"},{"fieldId":"slug","fieldValue":"={{ $json.slug }}"},{"fieldId":"targetmarket","fieldValue":"={{ $json.targetMarketHtml }}"},{"fieldId":"messaging","fieldValue":"={{ $json.messagingHtml }}"},{"fieldId":"media","fieldValue":"={{ $json.mediaHtml }}"},{"fieldId":"leadcapture","fieldValue":"={{ $json.leadCaptureHtml }}"},{"fieldId":"leadnurture","fieldValue":"={{ $json.leadNurtureHtml }}"},{"fieldId":"leadconversion","fieldValue":"={{ $json.leadConversionHtml }}"},{"fieldId":"worldclassexperience","fieldValue":"={{ $json.worldClassExperienceHtml }}"},{"fieldId":"ltv","fieldValue":"={{ $json.ltvHtml }}"},{"fieldId":"referrals","fieldValue":"={{ $json.referralsHtml }}"},{"fieldId":"name","fieldValue":"={{ $json.slug }}"}]}},"type":"n8n-nodes-base.webflow","typeVersion":2,"position":[1648,832],"id":"5be3ae76-0295-4e24-b0da-31380865b00c","name":"Create an item","credentials":{"webflowOAuth2Api":{"id":"GCdAOjihI7725JZP","name":"Webflow account"}}},{"parameters":{"fromEmail":"nathaniel@dropchain.network","toEmail":"={{ $('Webhook').item.json.body.USER_EMAIL }}","subject":"Your 1-Page Marketing Plan is ready","html":"=<p>Hi {{ $('Webhook').item.json.body.USER_NAME }},</p>\n\n<p>Your custom 1-Page Marketing Plan is ready.</p>\n\n<p>The Architect has analyzed your business and built a complete marketing strategy tailored specifically to you.</p>\n\n<p>\n  <a href=\"https://leanmarketing.com/1pmp-architect/{{ $json.fieldData.slug }}\">\n    <strong>&gt;&gt; Click here to view and download your 1-Page Marketing Plan &lt;&lt;</strong>\n  </a>\n</p>\n\n<p>This is the same framework that's helped over 1 million entrepreneurs worldwide. Now it's built specifically for YOUR business.</p>\n\n<p><strong>Here's what to do next:</strong></p>\n\n<p><strong>Review your plan.</strong> Read through each section and make sure it aligns with your business goals.</p>\n\n<p><strong>Prioritize your first step.</strong> Don't try to do everything at once. Pick ONE thing to execute first.</p>\n\n<p><strong>Need help implementing?</strong> If you're not sure where to start or want expert guidance on what to prioritize, book a free Marketing Clarity Call with our team. We'll walk you through your plan and show you exactly what to do first.</p>\n\n<p>\n  <a href=\"https://try.leanmarketing.com/call?utm_source=1PMP-architect&utm_medium=delivery-email\">\n    <strong>Book Your Free Marketing Clarity Call</strong>\n  </a>\n</p>\n\n<p>Your plan is the roadmap. We'll help you execute it.</p>\n\n<p>To your success,<br>Allan Dib<br>Founder, Lean Marketing</p>\n\n<p><em>P.S. If you have any questions about your plan, just reply to this email. We're here to help.</em></p>\n","options":{"appendAttribution":false}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[3120,1696],"id":"9bb16966-d46f-4573-9416-547e8c52a8a2","name":"Send email","webhookId":"66868533-6409-4f9e-9b20-79fbda8ceeef","credentials":{"smtp":{"id":"OP2CrupYvCaqKL1F","name":"Nate's test email account"}}},{"parameters":{"sendTo":"={{ $('Webhook').item.json.body.USER_EMAIL }}","subject":"Your 1-Page Marketing Plan is ready","message":"=<p>Hi {{ $('Webhook').item.json.body.USER_NAME }},</p>  <p>Your custom 1-Page Marketing Plan is ready.</p>  <p>The Architect has analyzed your business and built a complete marketing strategy tailored specifically to you.</p>  <p>   <a href=\"https://leanmarketing.com/1pmp-architect/{{ $json.fieldData.slug }}\">     <strong>&gt;&gt; Click here to view and download your 1-Page Marketing Plan &lt;&lt;</strong>   </a> </p>  <p>This is the same framework that's helped over 1 million entrepreneurs worldwide. Now it's built specifically for YOUR business.</p>  <p><strong>Here's what to do next:</strong></p>  <p><strong>Review your plan.</strong> Read through each section and make sure it aligns with your business goals.</p>  <p><strong>Prioritize your first step.</strong> Don't try to do everything at once. Pick ONE thing to execute first.</p>  <p><strong>Need help implementing?</strong> If you're not sure where to start or want expert guidance on what to prioritize, book a free Marketing Clarity Call with our team. We'll walk you through your plan and show you exactly what to do first.</p>  <p>   <a href=\"https://calendly.com/lean-marketing/lean-marketing-strategy-call?month=2025-10\">     <strong>Book Your Free Marketing Clarity Call</strong>   </a> </p>  <p>Your plan is the roadmap. We'll help you execute it.</p>  <p>To your success,<br>Allan Dib<br>Founder, Lean Marketing</p>  <p><em>P.S. If you have any questions about your plan, just reply to this email. We're here to help.</em></p>","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[2080,832],"id":"8cdea33c-1aa6-4cb1-9797-047be4015df0","name":"Send a message","webhookId":"5552507b-ed3e-4fa8-8eac-7b77484a70e2","credentials":{"gmailOAuth2":{"id":"D9r9mQ6IT2cyokHH","name":"Allans Email"}}},{"parameters":{"amount":20,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1856,864],"id":"be0cafc3-f866-4137-8e2d-952d3edbe6ef","name":"Wait","webhookId":"3ac0eabd-7535-49b4-9bcc-380976dcd260"},{"parameters":{"select":"user","user":{"__rl":true,"value":"U06SQS1M8E8","mode":"list","cachedResultName":"nate"},"text":"=The 1PMP Agent just succeeded. Nice. Here's the webflow page if you wanna check it out:  https://leanmarketing.com/1pmp-architect/{{ $('Create an item').item.json.fieldData.slug }}","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[2288,832],"id":"aa68753d-5a85-434f-9d76-8a6a343ee4ac","name":"Send a message1","webhookId":"b28c3b94-d9b8-4d80-b937-0421f21cee49","credentials":{"slackApi":{"id":"M6Q3ZOswLPyrMmzL","name":"Lean Marketing Slack Bot Account [Farlen]"}}}],"connections":{"Webhook":{"main":[[{"node":"Target Market Agent","type":"main","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"Target Market Agent","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Target Market Agent","type":"ai_languageModel","index":0}]]},"Target Market Agent":{"main":[[{"node":"Messaging Agent","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Messaging Agent","type":"ai_languageModel","index":0}]]},"Messaging Agent":{"main":[[{"node":"Media Node","type":"main","index":0}]]},"Structured Output Parser2":{"ai_outputParser":[[{"node":"Messaging Agent","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"Media Node","type":"ai_languageModel","index":0}]]},"Structured Output Parser3":{"ai_outputParser":[[{"node":"Media Node","type":"ai_outputParser","index":0}]]},"Media Node":{"main":[[{"node":"Lead Capture","type":"main","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"Lead Capture","type":"ai_languageModel","index":0}]]},"Structured Output Parser4":{"ai_outputParser":[[{"node":"Lead Capture","type":"ai_outputParser","index":0}]]},"Lead Capture":{"main":[[{"node":"Lead Nurture","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Lead Nurture","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Lead Nurture","type":"ai_outputParser","index":0}]]},"Lead Nurture":{"main":[[{"node":"Lead Conversion","type":"main","index":0}]]},"OpenAI Chat Model5":{"ai_languageModel":[[{"node":"Lead Conversion","type":"ai_languageModel","index":0}]]},"Structured Output Parser5":{"ai_outputParser":[[{"node":"Lead Conversion","type":"ai_outputParser","index":0}]]},"Lead Conversion":{"main":[[{"node":"World Class Experience","type":"main","index":0}]]},"OpenAI Chat Model6":{"ai_languageModel":[[{"node":"World Class Experience","type":"ai_languageModel","index":0}]]},"Structured Output Parser6":{"ai_outputParser":[[{"node":"World Class Experience","type":"ai_outputParser","index":0}]]},"World Class Experience":{"main":[[{"node":"LTV","type":"main","index":0}]]},"OpenAI Chat Model7":{"ai_languageModel":[[{"node":"LTV","type":"ai_languageModel","index":0}]]},"Structured Output Parser7":{"ai_outputParser":[[{"node":"LTV","type":"ai_outputParser","index":0}]]},"LTV":{"main":[[{"node":"Referral","type":"main","index":0}]]},"OpenAI Chat Model8":{"ai_languageModel":[[{"node":"Referral","type":"ai_languageModel","index":0}]]},"Structured Output Parser8":{"ai_outputParser":[[{"node":"Referral","type":"ai_outputParser","index":0}]]},"Referral":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]},"Code in JavaScript":{"main":[[]]},"Code in JavaScript1":{"main":[[]]},"Code in JavaScript2":{"main":[[{"node":"Create an item","type":"main","index":0}]]},"HTTP Request":{"main":[[]]},"Create an item":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Send a message":{"main":[[{"node":"Send a message1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Chicago","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"dn3tPnHbJVLJcfaC","saveDataErrorExecution":"all"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"227c203d-cf5f-401c-9315-603ffab73a13","triggerCount":1,"shared":[{"createdAt":"2025-10-14T03:38:52.495Z","updatedAt":"2025-10-14T03:38:52.495Z","role":"workflow:owner","workflowId":"zhPoTV9yAnlv0Gjj","projectId":"oeHwV8sNrbPNhUov"}],"tags":[]}