1pmp-ai-generator-4bgCbKsHJUA9xT0q.json
{"createdAt":"2025-09-04T14:28:43.053Z","updatedAt":"2025-10-14T01:19:45.535Z","id":"4bgCbKsHJUA9xT0q","name":"1PMP AI Generator","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"da8805bd-4c09-4a1e-9198-1f15108670ec","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-2352,2176],"id":"983252c7-fd83-4663-ae25-fbf9437c7591","name":"Webhook","webhookId":"da8805bd-4c09-4a1e-9198-1f15108670ec"},{"parameters":{"jsCode":"// Function node (not Function Item)\nconst d = $input.first().json.output;\nconst pitch = d.message.elevatorPitch;\n\n// Build HTML\nconst html = `\n<!doctype html>\n<html>\n<head>\n  <meta charset=\"utf-8\">\n  <title>Elevator Pitch</title>\n</head>\n<body>\n  <h1>Elevator Pitch</h1>\n  <p>${pitch}</p>\n</body>\n</html>\n`;\n\n// Encode as binary\nconst b64 = Buffer.from(html, 'utf8').toString('base64');\n\nreturn [{\n  json: $json, // keep original JSON if needed downstream\n  binary: {\n    html: {\n      data: b64,\n      fileName: 'index.html',\n      mimeType: 'text/html',\n    },\n  },\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[592,400],"id":"75ae4037-7e75-4e2a-b048-228371a447f8","name":"Code in JavaScript"},{"parameters":{"content":"## I'm a note \nConvert API Webhook"},"type":"n8n-nodes-base.stickyNote","position":[192,208],"typeVersion":1,"id":"ab8d3b06-271c-4b8f-9174-623078b9bd7e","name":"Sticky Note"},{"parameters":{"method":"POST","url":"https://v2.convertapi.com/convert/html/to/pdf","authentication":"predefinedCredentialType","nodeCredentialType":"convertApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[352,400],"id":"ec3d8c66-7b46-4f7f-99d8-cdeef92b0516","name":"HTTP Request","credentials":{"convertApi":{"id":"PNcyWXVq6qInnD0W","name":"ConvertAPI account"}}},{"parameters":{"jsCode":"// === CONFIG: set these per agent ===\nconst NODE_NAME  = \"Media Node\";      // exact agent node name\nconst PLACEHOLDER = \"MEDIA\";          // {{MEDIA}} in the Doc\nconst OUTPUT_KEY  = \"media\";          // key under .output if not using .items\n\n// === Get docId from Copy File node ===\nconst docId = $('Copy file').first().json.id;\nif (!docId) throw new Error(\"Missing docId. Ensure Copy file node runs before this.\");\n\n// === Read agent text robustly (supports .items or .output.<key>) ===\nconst src = $node[NODE_NAME].json || {};\nlet text = \"\";\nif (typeof src.items === \"string\") text = src.items;\nelse if (src.output && typeof src.output[OUTPUT_KEY] === \"string\") text = src.output[OUTPUT_KEY];\nelse {\n  const out = src.output || {};\n  for (const k of Object.keys(out)) if (typeof out[k] === \"string\") { text = out[k]; break; }\n}\n\n// === 🔤 Format markdown-ish syntax for Google Docs readability ===\ntext = text\n  // Remove \"##\" and make headings uppercase\n  .replace(/^##\\s*(.*)$/gm, (_, m) => m.toUpperCase())\n  // Replace \"-\" at line starts with real bullets\n  .replace(/^- /gm, \"• \");\n\n// === Build replaceAllText request ===\nconst requests = [{\n  replaceAllText: {\n    containsText: { text: `{{${PLACEHOLDER}}}`, matchCase: true },\n    replaceText: String(text || \"\")\n  }\n}];\n\nreturn [{ json: { docId, requests } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-112,1760],"id":"c04bec72-9b89-46a3-9b24-646cbd858be0","name":"Code in JavaScript1"},{"parameters":{"method":"POST","url":"=https://docs.googleapis.com/v1/documents/{{ $('Copy file').item.json.id }}:batchUpdate","authentication":"predefinedCredentialType","nodeCredentialType":"googleDocsOAuth2Api","sendBody":true,"specifyBody":"json","jsonBody":"={{ { requests: $json.requests } }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[144,1760],"id":"73f74a81-7f4e-4681-a523-804aaa65bea4","name":"HTTP Request1","credentials":{"googleDocsOAuth2Api":{"id":"S43SIoncPmOAdlW7","name":"Google Docs account"}}},{"parameters":{"method":"PUT","url":"=https://jwehqqyzlbpolkfkjhai.storage.supabase.co/storage/v1/object/1pmpAiOutputs","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[944,496],"id":"9cf0c885-c984-412e-b046-32cb6f792257","name":"HTTP Request2","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Copy file').item.json.id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"application/pdf"}}}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1248,2160],"id":"dead3e99-3f06-4eb4-af3b-84b4e8a377a3","name":"Download file","executeOnce":true,"credentials":{"googleDriveOAuth2Api":{"id":"dSQbKYuOfxDcM0Uo","name":"Google Drive account"}}},{"parameters":{"fromEmail":"allan@leanmarketing.com","subject":"Your 1PMP Is Ready!","html":"What are you going to work on first?","options":{"attachments":""}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[1440,2160],"id":"7a074146-54d0-4d20-bd8c-3aceab9d836e","name":"Send email","webhookId":"becac633-1645-42c7-8213-bd165b29d42e","credentials":{"smtp":{"id":"cYw8fe8MaHnIrmhF","name":"SMTP account"}}},{"parameters":{"content":"## I'm a note \nWill this data be sent to hubspot?\n"},"type":"n8n-nodes-base.stickyNote","position":[832,160],"typeVersion":1,"id":"b13e1e71-bdcf-4773-84aa-3fd2b1822ac7","name":"Sticky Note1"},{"parameters":{"jsonSchemaExample":"{\n  \"Target Market\": \"Primary Target Market:\\n- Audience Type: B2C\\n- Age Range: 30–55\\n- Geography: Chicago metro area\\n- Values personalized service and trust\\n- Primary Decision Maker: Homeowner\\n\\nPsychographics:\\n- Values long-term reliability\\n- Prefers word-of-mouth recommendations\\n- Seeks peace of mind when hiring professionals\"\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-1376,2368],"id":"f96b568e-27cc-4f11-8924-edc7ce5f7eee","name":"Structured Output Parser1"},{"parameters":{"model":{"__rl":true,"value":"gpt-4","mode":"list","cachedResultName":"gpt-4"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1520,2368],"id":"81e7f6dc-5f70-47fa-8fcd-fabee5abedb5","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{"promptType":"define","text":"=You will now build the **Target Market** section for this client’s 1-Page Marketing Plan.\n\nUse the contextual data provided below. Analyze it to define the client’s *ideal audience* and output only the structured `TARGET_MARKET` field described in your system rules.\n\n**Context:**\n\n* Business Name: {{ $('Webhook').item.json.body.BUSINESS_NAME }}\n* Business Type: {{ $('Webhook').item.json.body.BUSINESS_TYPE }}\n* Business Industry: {{ $('Webhook').item.json.body.BUSINESS_INDUSTRY }}\n* Product Name: {{ $('Webhook').item.json.body.NAME_OF_OFFER }}\n* Elevator Pitch: {{ $('Webhook').item.json.body.ELEVATOR_PITCH }}\n* Core Benefit of offer: {{ $('Webhook').item.json.body.CORE_BENEFIT }}\n* Unique Selling Proposition: {{ $('Webhook').item.json.body.UNIQUE_SELLING_PROPOSITION }}\n* Bonuses or Features of offering: {{ $('Webhook').item.json.body.BONUSES }}\n* Country: {{ $('Webhook').item.json.body.COUNTRY }}\n* Website URL: {{ $('Webhook').item.json.body.WEBSITE_URL }}\n* Platform the website is built on: {{ $('Webhook').item.json.body.WEBSITE_PLATFORM }}\n* Revenue Generated Last Year : {{ $('Webhook').item.json.body.LAST_YEAR_REVENUE }}\n* Projected Revenue this year: {{ $('Webhook').item.json.body.PROJECTED_REVENUE }}\n* Average Monthly Revenue: {{ $('Webhook').item.json.body.AVERAGE_MONTHLY_REVENUE }}\n* Product Price and Billing Frequency: {{ $('Webhook').item.json.body.PRODUCT_PRICE }} {{ $('Webhook').item.json.body.BILLING_FREQUENCY }}\n* Average Lifetime Value of One customer: {{ $('Webhook').item.json.body.LTV }}\n* Does the business have a CRM? {{ $('Webhook').item.json.body.DO_YOU_HAVE_CRM }} If yes, what is your current CRM: {{ $('Webhook').item.json.body.CURRENT_CRM }}\n* Current Marketing Budget: {{ $('Webhook').item.json.body.MARKETING_BUDGET }}\n* Marketing activities that have worked in the past: {{ $('Webhook').item.json.body.BEST_TACTICS }}\nTaglines or slogans: {{ $('Webhook').item.json.body.TAGLINE }}\n* Current stage of marketing efforts: {{ $('Webhook').item.json.body.CURRENT_MARKETING_STAGE }}\nTarget Market: {{ $('Webhook').item.json.body.TARGET_MARKET }}\nSales Process: {{ $('Webhook').item.json.body.SALES_PROCESS }}\n\nFollow the 1PMP Target Market framework and only output the **TARGET_MARKET** section as plain text bullet points.\n\nIf essential details are missing, make reasonable inferences based on the data provided — but stay specific and realistic.\n","hasOutputParser":true,"options":{"systemMessage":"=You are an **expert marketing strategist** specializing in the **1-Page Marketing Plan (1PMP)** framework.\nYour job is to complete the **Target Market square**, which defines exactly *who* the client is trying to reach. This square is the foundation for all other marketing decisions.\n\n**Your goals:**\n\n* Identify and clearly describe the client’s **primary target market** (and secondary if applicable).\n* Focus on **specific, evidence-based details** — avoid vague or generic labels.\n* Distill the information into **clear, organized bullet points only.**\n\n**Formatting rules:**\n\n* Output must be **Markdown** with `##` headings for each section.\n* Use **bullet points only**, never long paragraphs.\n* If a field is not relevant, omit it completely — do not label it “N/A.”\n* Each bullet must be **under 200 characters**.\n* Include a “SECONDARY TARGET MARKET” section only if data supports one.\n* Use the structure exactly as follows:\n\n\n\n**Output Structure (exact order):**\n\n```\n\n## Primary Target Market Summary\n[Short paragraph summarizing the ideal customer — who they are, what they need, and what they value most.]\n\n## Audience Type\n- B2B / B2C / Both\n- Key customer segments\n\n## Industries (if B2B)\n- List relevant industries or verticals\n\n## Needs – Primary Buying Considerations\n- What matters most when choosing a solution\n- Core benefits they seek\n\n## Demographics\n- Age Range:\n- Gender:\n- Geography:\n- Income Level:\n- Profession / Business Size:\n\n## Psychographics\n- Lifestyle:\n- Values:\n- Pain Points:\n- Buying Behavior:\n- Decision-Making Roles:\n   - Primary Decision Maker:\n   - Secondary Decision Influencers:\n   - Support Roles:\n\n## Secondary Target Market (only if applicable)\n[Short description and bullet points for an additional segment if supported by context.]\n\n\n**Never do:**\n\n* Never invent unrealistic or unsupported traits.\n* Never output prose or explanations — bullets only.\n* Never include markdown formatting (no bold, italics, or headers).\n\nYour evaluation criteria: clarity, relevance, and actionable specificity.\n\n---\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-1520,2192],"id":"57fb3fe4-9eee-4b52-bdef-4c5ae8f2162f","name":"Target Market Agent","retryOnFail":true},{"parameters":{"model":{"__rl":true,"value":"gpt-4","mode":"list","cachedResultName":"gpt-4"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1104,2304],"id":"f76d128e-c22c-4e73-a5d0-72ab0e1cbded","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{"promptType":"define","text":"=You will now build the **Messaging** section for this client’s 1-Page Marketing Plan.\n\nUse the context below to craft all eight required sections listed in your system message.\nFocus on clarity, transformation, and emotional resonance — not fluff or filler.\nOutput must exactly match the structure defined in your system rules.\n\n**Context:**\n\n* Business Name: {{ $('Webhook').item.json.body.BUSINESS_NAME }}\n* Business Type: {{ $('Webhook').item.json.body.BUSINESS_TYPE }}\n* Business Industry: {{ $('Webhook').item.json.body.BUSINESS_INDUSTRY }}\n* Product Name: {{ $('Webhook').item.json.body.NAME_OF_OFFER }}\n* Elevator Pitch: {{ $('Webhook').item.json.body.ELEVATOR_PITCH }}\n* Core Benefit of offer: {{ $('Webhook').item.json.body.CORE_BENEFIT }}\n* Unique Selling Proposition: {{ $('Webhook').item.json.body.UNIQUE_SELLING_PROPOSITION }}\n* Bonuses or Features of offering: {{ $('Webhook').item.json.body.BONUSES }}\n* Country: {{ $('Webhook').item.json.body.COUNTRY }}\n* Website URL: {{ $('Webhook').item.json.body.WEBSITE_URL }}\n* Platform the website is built on: {{ $('Webhook').item.json.body.WEBSITE_PLATFORM }}\n* Revenue Generated Last Year : {{ $('Webhook').item.json.body.LAST_YEAR_REVENUE }}\n* Projected Revenue this year: {{ $('Webhook').item.json.body.PROJECTED_REVENUE }}\n* Average Monthly Revenue: {{ $('Webhook').item.json.body.AVERAGE_MONTHLY_REVENUE }}\n* Product Price and Billing Frequency: {{ $('Webhook').item.json.body.PRODUCT_PRICE }} {{ $('Webhook').item.json.body.BILLING_FREQUENCY }}\n* Average Lifetime Value of One customer: {{ $('Webhook').item.json.body.LTV }}\n* Does the business have a CRM? {{ $('Webhook').item.json.body.DO_YOU_HAVE_CRM }} If yes, what is your current CRM: {{ $('Webhook').item.json.body.CURRENT_CRM }}\n* Current Marketing Budget: {{ $('Webhook').item.json.body.MARKETING_BUDGET }}\n* Marketing activities that have worked in the past: {{ $('Webhook').item.json.body.BEST_TACTICS }}\nTaglines or slogans: {{ $('Webhook').item.json.body.TAGLINE }}\n* Current stage of marketing efforts: {{ $('Webhook').item.json.body.CURRENT_MARKETING_STAGE }}\nTarget Market: {{ $('Webhook').item.json.body.TARGET_MARKET }}\nSales Process: {{ $('Webhook').item.json.body.SALES_PROCESS }}\n\n\n\n**You may also consider**:\n\n* Core pain points and customer values\n* Desired transformation (before/after states)\n* Unique mechanism or proprietary method\n* Brand tone and storytelling elements\n* “Above the fold” copy structure (headline → subhead → CTA)\n\nOnly output the eight sections in order and in Markdown format as described in your system message.","hasOutputParser":true,"options":{"systemMessage":"=You are an **expert marketing strategist and brand copywriter** specializing in the **1-Page Marketing Plan (1PMP)** framework.\n\nThe Messaging square defines **what the client says** to their target audience. Strong messaging communicates value, builds trust, and motivates action. It transforms a business from being \"just another option\" to the **only obvious choice**.\n\nThis is often the **most important square in the entire 1PMP**, and it’s also where most businesses need the most help. Without clear and compelling messaging, even the best media strategy or sales process will underperform.\n\nMessaging should be built on a deep understanding of the target market. It should speak to their pain points, reflect their values, and clearly communicate the transformation the client offers.\n\nYour job is to complete the Messaging square, producing clear, compelling messaging that reflects the brand’s voice and drives action.\n\n**Your goals:**\n\n* Transform raw business information into clear, compelling messaging that makes the company the **only obvious choice**.\n* Write concise, powerful copy that reflects the brand’s tone and values.\n* Build all sections in the exact structure listed below.\n\n**Formatting rules:**\n\n* Output must be Markdown with `##` headings for each section.\n* Use concise bullet points (not paragraphs) wherever listed.\n* Keep phrasing tight — under 120 characters per bullet.\n* Write naturally in the brand’s voice (not robotic or generic).\n* Never include filler text, marketing jargon, or commentary.\n* Only output the 8 sections below — nothing else.\n\n**Output Structure (exact order):**\n\n```\n## Refined Elevator Pitch\n[Short paragraph following: [Brand] provides [target audience] with [core benefit] through [key differentiator], so they can [emotional outcome].]\n\n## Understanding Their Pain Points\n- Problem the company solves\n- Where the audience is now\n- Current struggles without this product/service\n\n## Transformation\n- Desired outcomes\n- Emotional benefits\n- How life/business improves after purchase\n\n## Unique Selling Proposition (USP)\n- Key differentiators\n- Proof of advantage\n- Why they win over competitors\n\n## Brand Values & One-Liners\n- 3–5 punchy one-liners summing up the brand’s promise\n\n## Tone\n[Short paragraph describing brand personality and desired customer feelings.]\n\n## Hero Text Idea\nFlag Text: [3–5 words defining target/region]\nMain Headline: [1 clear sentence about what they do]\nSub Headline: [2 sentences about transformation/outcome]\nCTA: [1 clear call-to-action]\n```\n\n**Never do:**\n\n* Never invent information unrelated to the context.\n* Never use emojis or decorative characters.\n* Never include commentary or explanation about your output.\n\nYour evaluation criteria: clarity, persuasiveness, alignment with target market, and brand tone consistency."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-1104,2192],"id":"f8be715f-3a75-4c43-9c5d-dae875fbb9bf","name":"Messaging Agent","retryOnFail":true},{"parameters":{"jsonSchemaExample":"{\n  \"Messaging\": \"Refined Elevator Pitch:\\n- BrightRoof provides suburban homeowners with reliable, worry-free roofing through expert crews and clear communication, so they feel confident their home is protected.\\n\\nPain Points:\\n- Frustration with unreliable contractors\\n- Fear of hidden costs or poor workmanship\\n\\nTransformation:\\n- Confidence their roof will last decades\\n- Peace of mind and pride in their home\\n\\nUnique Selling Proposition:\\n- Smiling service guarantee\\n- Owner-led quality checks on every job\\n\\nHero Text Idea:\\n- Flag Text: Chicago Metro\\n- Headline: Roofing done right—with a smile.\\n- Subhead: Trusted pros protecting homes across Chicagoland.\\n- CTA: Schedule Your Free Quote\"\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-960,2304],"id":"fbf04ad2-295a-4fed-ba1f-a9e33cb71714","name":"Structured Output Parser2"},{"parameters":{"model":{"__rl":true,"value":"gpt-4","mode":"list","cachedResultName":"gpt-4"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-496,1984],"id":"37a7f8a3-e732-4b43-8931-618349770a71","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{"jsonSchemaExample":"{\n  \"media\": \"Website:\\n- Built on Webflow for easy edits\\n- Highlight reviews above the fold\\n- Add CTA buttons on every page\\n\\nSocial Media:\\n- Facebook: community updates 3x/week\\n- Instagram: project photos 2x/week\\n- LinkedIn: partnerships and B2B posts weekly\\n\\nPaid Advertising:\\n- Google Local Service Ads for nearby homeowners\\n- Facebook lead ads promoting free inspections\\n\\nOffline Media:\\n- Sponsor local Little League teams\\n- Branded yard signs after every job\"\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-368,1984],"id":"1b0f4684-db00-4871-b084-0d1c8f58d13a","name":"Structured Output Parser3"},{"parameters":{"promptType":"define","text":"=You will now build the **Media** section for this client’s 1-Page Marketing Plan.\n\nUse the context below to identify which channels and tactics will most effectively reach the target audience.\nYour goal is to recommend a **balanced mix** of **paid, owned, earned, and offline media** aligned with the company’s offer, audience, and positioning.\n\n**Context:**\n* Business Name: {{ $('Webhook').item.json.body.BUSINESS_NAME }}\n* Business Type: {{ $('Webhook').item.json.body.BUSINESS_TYPE }}\n* Business Industry: {{ $('Webhook').item.json.body.BUSINESS_INDUSTRY }}\n* Product Name: {{ $('Webhook').item.json.body.NAME_OF_OFFER }}\n* Elevator Pitch: {{ $('Webhook').item.json.body.ELEVATOR_PITCH }}\n* Core Benefit of offer: {{ $('Webhook').item.json.body.CORE_BENEFIT }}\n* Unique Selling Proposition: {{ $('Webhook').item.json.body.UNIQUE_SELLING_PROPOSITION }}\n* Bonuses or Features of offering: {{ $('Webhook').item.json.body.BONUSES }}\n* Country: {{ $('Webhook').item.json.body.COUNTRY }}\n* Website URL: {{ $('Webhook').item.json.body.WEBSITE_URL }}\n* Platform the website is built on: {{ $('Webhook').item.json.body.WEBSITE_PLATFORM }}\n* Revenue Generated Last Year : {{ $('Webhook').item.json.body.LAST_YEAR_REVENUE }}\n* Projected Revenue this year: {{ $('Webhook').item.json.body.PROJECTED_REVENUE }}\n* Average Monthly Revenue: {{ $('Webhook').item.json.body.AVERAGE_MONTHLY_REVENUE }}\n* Product Price and Billing Frequency: {{ $('Webhook').item.json.body.PRODUCT_PRICE }} {{ $('Webhook').item.json.body.BILLING_FREQUENCY }}\n* Average Lifetime Value of One customer: {{ $('Webhook').item.json.body.LTV }}\n* Does the business have a CRM? {{ $('Webhook').item.json.body.DO_YOU_HAVE_CRM }} If yes, what is your current CRM: {{ $('Webhook').item.json.body.CURRENT_CRM }}\n* Current Marketing Budget: {{ $('Webhook').item.json.body.MARKETING_BUDGET }}\n* Marketing activities that have worked in the past: {{ $('Webhook').item.json.body.BEST_TACTICS }}\nTaglines or slogans: {{ $('Webhook').item.json.body.TAGLINE }}\n* Current stage of marketing efforts: {{ $('Webhook').item.json.body.CURRENT_MARKETING_STAGE }}\nTarget Market: {{ $('Webhook').item.json.body.TARGET_MARKET }}\nSales Process: {{ $('Webhook').item.json.body.SALES_PROCESS }}\n\n\n\n\n**You may consider (Use only what’s relevant. Below is a list of IDEAS for this square. Feel free to add or subtract sections that don't make sense for this business):**\n* Social channel relevance and posting strategy\n* Paid ad opportunities (Meta, Google, LinkedIn, etc.)\n* Partnerships, outreach, or sponsorships\n* SEO and content strategy\n* Offline or event-based channels\n* Podcast strategy\n* Content Ideas\n* Online forums\n* In-Person events\n\nOnly output your **MEDIA PLAN** using concise bullets under relevant headings as described in your system message.","hasOutputParser":true,"options":{"systemMessage":"=You are an **expert marketing strategist and media planner** specializing in the **1-Page Marketing Plan (1PMP)** framework.\nThe **Media square** defines how a business will reach its target audience. It includes the full media mix — paid, owned, earned, and offline — and identifies which channels will be most effective for reaching the target market.\nA strong media plan ensures that the **right people see the right message in the right place**. This is where strategy meets execution.\n\n**Your goals:**\n\n* Recommend the **best media channels and tactics** for this specific business and audience.\n* Analyze the context to produce a **cohesive, realistic media strategy**.\n* Include recommendations for **digital, social, offline, and partnership-based channels** as relevant.\n\n**Formatting rules:**\n\n* Output must be **Markdown with `##` headings** for each main category.\n* Use **bullet points only** under each category (no long paragraphs).\n* Be **specific and tactical**, not generic (e.g., “Instagram Reels 2x/week featuring behind-the-scenes content”).\n* Limit each bullet to **under 120 characters**.\n* Only include categories that are relevant to the business.\n\n**Output Structure (flexible, use only those that apply):**\n\n```\n## Website\n- Positioning recommendations\n\n## Social Media\n- Recommended platforms\n- Posting frequency\n- Content types and strategy\n\n## Paid Advertising\n- Suggested channels (Meta, Google, LinkedIn, etc.)\n- Campaign types and goals\n\n## Content Recommendations\n- Topic ideas for content\n\n## Podcasts\n- Start their own podcast\n- Recommendation for podcasts to appear on\n\n## Partnerships & Outreach\n- Joint ventures, referral partners, speaking, or networking\n\n## SEO / Content\n- Blog or keyword strategy\n- Organic visibility opportunities\n\n## Offline / Local Media\n- Events, sponsorships, direct mail, or other offline tactics, Flyers, Farmer's Market's, Truck Wrap, Yard Signs, Door Hangers, Stickets\n\n## Online Events\n- Webinars, virtual events\n\n## Online Networking\n- Forums, Facebook groups, reddit communities, discord communities\n\n## Cold Outreach\n- Email, LinkedIn, Social Media\n\n```\n\n**Never do:**\n\n* Never write paragraphs, only bullets.\n* Never output every category if it’s not relevant.\n* Never add made-up data or channel metrics.\n\nYour evaluation criteria: strategic relevance, clarity, practicality, and creativity.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-496,1760],"id":"869ed905-21ae-42b8-9d58-2e73fc6c38d1","name":"Media Node","retryOnFail":true},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[352,-256],"id":"54dfb5cd-d753-42e9-8150-9dc48e833232","name":"Wait","webhookId":"bbe99f8d-496d-4442-a2f2-d09af8255002"},{"parameters":{"model":{"__rl":true,"value":"gpt-4","mode":"list","cachedResultName":"gpt-4"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-480,2368],"id":"6df4ed13-b916-4e84-8c30-8da8d8640667","name":"OpenAI Chat Model4","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{"jsonSchemaExample":"{\n  \"LeadCapture\": \"Lead Magnet:\\n- Free Roof Health Checklist\\n- Storm Damage Repair Guide\\n\\nTripwire Offer:\\n- $49 Roof Inspection Credit\\n- Free quote with drone imagery\\n\\nWelcome Sequence:\\n- 3-email series introducing team and process\\n- Includes testimonial and financing info\"\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-352,2368],"id":"02ca3da6-8a51-4c7e-9054-bc31fc4fcfab","name":"Structured Output Parser4"},{"parameters":{"promptType":"define","text":"=You will now build the **Lead Capture** section for this client’s 1-Page Marketing Plan.\nYour goal is to design a **lead capture system** that is strategic, measurable, and fits the company’s audience and offer.\nRecommend specific lead magnets, tripwires, automations, and CRM/tech improvements as appropriate.\n\n**Context:**\n\n* Business Name: {{ $('Webhook').item.json.body.BUSINESS_NAME }}\n* Business Type: {{ $('Webhook').item.json.body.BUSINESS_TYPE }}\n* Business Industry: {{ $('Webhook').item.json.body.BUSINESS_INDUSTRY }}\n* Product Name: {{ $('Webhook').item.json.body.NAME_OF_OFFER }}\n* Elevator Pitch: {{ $('Webhook').item.json.body.ELEVATOR_PITCH }}\n* Core Benefit of offer: {{ $('Webhook').item.json.body.CORE_BENEFIT }}\n* Unique Selling Proposition: {{ $('Webhook').item.json.body.UNIQUE_SELLING_PROPOSITION }}\n* Bonuses or Features of offering: {{ $('Webhook').item.json.body.BONUSES }}\n* Country: {{ $('Webhook').item.json.body.COUNTRY }}\n* Website URL: {{ $('Webhook').item.json.body.WEBSITE_URL }}\n* Platform the website is built on: {{ $('Webhook').item.json.body.WEBSITE_PLATFORM }}\n* Revenue Generated Last Year : {{ $('Webhook').item.json.body.LAST_YEAR_REVENUE }}\n* Projected Revenue this year: {{ $('Webhook').item.json.body.PROJECTED_REVENUE }}\n* Average Monthly Revenue: {{ $('Webhook').item.json.body.AVERAGE_MONTHLY_REVENUE }}\n* Product Price and Billing Frequency: {{ $('Webhook').item.json.body.PRODUCT_PRICE }} {{ $('Webhook').item.json.body.BILLING_FREQUENCY }}\n* Average Lifetime Value of One customer: {{ $('Webhook').item.json.body.LTV }}\n* Does the business have a CRM? {{ $('Webhook').item.json.body.DO_YOU_HAVE_CRM }} If yes, what is your current CRM: {{ $('Webhook').item.json.body.CURRENT_CRM }}\n* Current Marketing Budget: {{ $('Webhook').item.json.body.MARKETING_BUDGET }}\n* Marketing activities that have worked in the past: {{ $('Webhook').item.json.body.BEST_TACTICS }}\nTaglines or slogans: {{ $('Webhook').item.json.body.TAGLINE }}\n* Current stage of marketing efforts: {{ $('Webhook').item.json.body.CURRENT_MARKETING_STAGE }}\nTarget Market: {{ $('Webhook').item.json.body.TARGET_MARKET }}\nSales Process: {{ $('Webhook').item.json.body.SALES_PROCESS }}\n\n\n\n\n**You may consider (Use only what’s relevant. Below is a list of IDEAS for this square. Feel free to add or subtract sections that don't make sense for this business):**\n\n* Type of lead magnet (guide, quiz, calculator, etc.)\n* Tripwire offers or low-commitment entry points\n* Welcome sequence and automation triggers\n* CRM or segmentation improvements\n* Chatbots or on-site forms\n\n\nOnly output your **LEAD CAPTURE STRATEGY** in Markdown format using concise bullet points under the headings described in your system message.","hasOutputParser":true,"options":{"systemMessage":"=You are an **expert marketing strategist and funnel architect** specializing in the **1-Page Marketing Plan (1PMP)** framework.\nThe **Lead Capture square** defines how a business collects and organizes interest from potential customers.\nIt ensures that **every interaction has a next step** — a clear, compelling offer that captures leads in exchange for real value.\n\nYour job is to create a **lead capture strategy** that is deliberate, measurable, and optimized for both **volume and quality**.\nYou’ll analyze the provided business context and outline the best ways to attract, capture, and segment leads.\n\n**Formatting rules:**\n\n* Output in **Markdown** with `##` headings for each section.\n* Use **concise bullet points only** (no paragraphs).\n* If a section doesn’t apply, omit it entirely — do not mark as “N/A.”\n* Each bullet must be **under 120 characters**.\n* Be practical and specific (e.g., “Free 15-min Strategy Call” > “Offer a consultation”).\n\n**Output Structure (Use only what’s relevant. Below is a list of IDEAS for this square. Feel free to add or subtract sections that don't make sense for this business):**\n\n```\n## Lead Magnet\n- [Lead magnet ideas or existing examples]\n- [Type, purpose, and audience fit]\n\n## Tripwire Offer\n- [Low-cost entry offers or mini-products]\n\n## Welcome Sequence\n- [Email automation or follow-up flow details]\n\n## Segmentation\n- [How leads are categorized or tagged]\n\n## Chatbot / Automation\n- [Use cases or recommended improvements]\n\n```\n\n**Never do:**\n\n* Never include long paragraphs or analysis.\n* Never recommend random tools without context.\n* Never output more than what’s needed — concise and actionable only.\n\nYour evaluation criteria: clarity, practicality, and conversion potential.\n\n\n**Additional Notes**\n- Always provide at lease three Lead Magnet Ideas\n- Use bullet points and short sentences"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-496,2144],"id":"45862a56-5592-4f83-b6de-52baf476c128","name":"Lead Capture","retryOnFail":true},{"parameters":{"model":{"__rl":true,"value":"gpt-4","mode":"list","cachedResultName":"gpt-4"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-496,1600],"id":"373d0655-b729-47b4-bf8c-8860018b39cb","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{"jsonSchemaExample":"{\n  \"LeadNurture\": \"Marketing CRM:\\n- Brevo for email automation\\n- Segment leads by service type\\n\\nNewsletter:\\n- 2x per month educational tips\\n- Include seasonal offers and maintenance reminders\\n\\nAutomated Follow-Ups:\\n- Reactivation email every 6 months\\n- SMS follow-up after quotes\\n\\nSocial Media:\\n- Weekly project highlight post\\n- Monthly customer testimonial video\"\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-368,1600],"id":"df3e61d7-af33-4f2d-b934-2b0a145a4c6c","name":"Structured Output Parser"},{"parameters":{"promptType":"define","text":"=You will now build the **Lead Nurture** section for this client’s 1-Page Marketing Plan.\nYour goal is to design a **relationship-building system** that nurtures prospects from interest to purchase through relevant, consistent, and automated touchpoints.\n\n**Context:**\n* Business Name: {{ $('Webhook').item.json.body.BUSINESS_NAME }}\n* Business Type: {{ $('Webhook').item.json.body.BUSINESS_TYPE }}\n* Business Industry: {{ $('Webhook').item.json.body.BUSINESS_INDUSTRY }}\n* Product Name: {{ $('Webhook').item.json.body.NAME_OF_OFFER }}\n* Elevator Pitch: {{ $('Webhook').item.json.body.ELEVATOR_PITCH }}\n* Core Benefit of offer: {{ $('Webhook').item.json.body.CORE_BENEFIT }}\n* Unique Selling Proposition: {{ $('Webhook').item.json.body.UNIQUE_SELLING_PROPOSITION }}\n* Bonuses or Features of offering: {{ $('Webhook').item.json.body.BONUSES }}\n* Country: {{ $('Webhook').item.json.body.COUNTRY }}\n* Website URL: {{ $('Webhook').item.json.body.WEBSITE_URL }}\n* Platform the website is built on: {{ $('Webhook').item.json.body.WEBSITE_PLATFORM }}\n* Revenue Generated Last Year : {{ $('Webhook').item.json.body.LAST_YEAR_REVENUE }}\n* Projected Revenue this year: {{ $('Webhook').item.json.body.PROJECTED_REVENUE }}\n* Average Monthly Revenue: {{ $('Webhook').item.json.body.AVERAGE_MONTHLY_REVENUE }}\n* Product Price and Billing Frequency: {{ $('Webhook').item.json.body.PRODUCT_PRICE }} {{ $('Webhook').item.json.body.BILLING_FREQUENCY }}\n* Average Lifetime Value of One customer: {{ $('Webhook').item.json.body.LTV }}\n* Does the business have a CRM? {{ $('Webhook').item.json.body.DO_YOU_HAVE_CRM }} If yes, what is your current CRM: {{ $('Webhook').item.json.body.CURRENT_CRM }}\n* Current Marketing Budget: {{ $('Webhook').item.json.body.MARKETING_BUDGET }}\n* Marketing activities that have worked in the past: {{ $('Webhook').item.json.body.BEST_TACTICS }}\nTaglines or slogans: {{ $('Webhook').item.json.body.TAGLINE }}\n* Current stage of marketing efforts: {{ $('Webhook').item.json.body.CURRENT_MARKETING_STAGE }}\nTarget Market: {{ $('Webhook').item.json.body.TARGET_MARKET }}\nSales Process: {{ $('Webhook').item.json.body.SALES_PROCESS }}\n\n\n\n\n**You may consider (Use only what’s relevant. Below is a list of IDEAS for this square. Feel free to add or subtract sections that don't make sense for this business)):**\n\n* Marketing & Sales CRM recommendations\n* Automated email/SMS follow-ups\n* Newsletter frequency and topics\n* Retargeting ad strategy\n* Social media consistency and tone\n* Blog or webinar cadence\n* Reactivation and retention sequences\n\nOnly output your **LEAD NURTURE STRATEGY** using Markdown headings and concise bullet points under the sections listed in your system message.","hasOutputParser":true,"options":{"systemMessage":"=You are an **expert marketing strategist and automation architect** specializing in the **1-Page Marketing Plan (1PMP)** framework.\nThe **Lead Nurture square** defines what happens between “I’m interested” and “I’m ready to buy.”\n\nYour job is to help the business **build trust, stay top of mind, and educate prospects over time** through automation, content, and consistent engagement.\nEffective nurture bridges the gap between marketing and sales — reinforcing value, addressing objections, and keeping relationships warm until conversion.\n\n**Formatting rules:**\n\n* Output must be **Markdown** with `##` headings for each section.\n* Use **bullet points only**, never long paragraphs.\n* Each bullet must be **under 120 characters**.\n* Include only relevant sections — omit anything that doesn’t apply.\n* Be specific about **tools, cadence, and content types** (e.g., “2× monthly newsletter featuring case studies”).\n\n**Output Structure (use only those that apply):**\n\n```\n## Marketing CRM\n- Current platform\n- Automation capabilities\n- Recommended improvements or replacements\n\n## Sales CRM\n- Current platform\n- Pipeline tracking or handoff process\n- Recommended upgrades\n\n## Automated Follow-Ups\n- Types of automations (e.g., post-opt-in, abandoned cart, reactivation)\n- Frequency or triggers\n\n## Newsletter\n- Frequency\n- Topics or content pillars\n\n## Retargeting & Ads\n- Platforms and goals (e.g., Meta remarketing, LinkedIn lead ads)\n\n## Social Media / Content\n- Posting frequency\n- Content type or campaign focus\n\n## Webinars / Events\n- Suggested cadence or purpose\n\n## Other Nurture Channels\n- Chatbot, SMS, WhatsApp, or other automation tools\n```\n\n**Never do:**\n\n* Never use generic statements like “send follow-ups.”\n* Never output paragraphs or commentary.\n* Never recommend tools without context or fit.\n\nYour evaluation criteria: specificity, consistency, and alignment with the target audience’s decision-making process.\n\n**Additional Notes**\n- Never suggest the following CRM Platforms: Mailchimp\n- Rarely recommend Salesforce as a CRM. It should be reserved for only the largest companies, $1 Million or more in monthly revenue.\n- \n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-496,1376],"id":"fb495f5c-1524-4f77-bca3-517ac7f19ed1","name":"Lead Nurture","retryOnFail":true},{"parameters":{"model":{"__rl":true,"value":"gpt-4","mode":"list","cachedResultName":"gpt-4"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-464,2736],"id":"73ba464e-02ce-427a-8b66-6efb94800e5b","name":"OpenAI Chat Model5","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{"jsonSchemaExample":"{\n  \"LeadConversion\": \"Sales Process:\\n- Map every step from quote to signed contract\\n- Add pipeline stages for visibility\\n\\nSales Assets:\\n- Proposal template with photos\\n- Script for handling price objections\\n\\nTestimonials & Case Studies:\\n- Create 'Wall of Love' gallery on site\\n- Collect video testimonials quarterly\\n\\nUrgency & Offers:\\n- Limited-time warranty extension\\n- Seasonal pricing for summer installs\"\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-336,2736],"id":"51902726-4001-44c0-917c-545dcec37e6b","name":"Structured Output Parser5"},{"parameters":{"promptType":"define","text":"=You will now build the **Lead Conversion** section for this client’s 1-Page Marketing Plan.\nYour goal is to design a **conversion system** that turns warm leads into paying customers through trust, structure, and urgency.\n\n**Context:**\n\n* Business Name: {{ $('Webhook').item.json.body.BUSINESS_NAME }}\n* Business Type: {{ $('Webhook').item.json.body.BUSINESS_TYPE }}\n* Business Industry: {{ $('Webhook').item.json.body.BUSINESS_INDUSTRY }}\n* Product Name: {{ $('Webhook').item.json.body.NAME_OF_OFFER }}\n* Elevator Pitch: {{ $('Webhook').item.json.body.ELEVATOR_PITCH }}\n* Core Benefit of offer: {{ $('Webhook').item.json.body.CORE_BENEFIT }}\n* Unique Selling Proposition: {{ $('Webhook').item.json.body.UNIQUE_SELLING_PROPOSITION }}\n* Bonuses or Features of offering: {{ $('Webhook').item.json.body.BONUSES }}\n* Country: {{ $('Webhook').item.json.body.COUNTRY }}\n* Website URL: {{ $('Webhook').item.json.body.WEBSITE_URL }}\n* Platform the website is built on: {{ $('Webhook').item.json.body.WEBSITE_PLATFORM }}\n* Revenue Generated Last Year : {{ $('Webhook').item.json.body.LAST_YEAR_REVENUE }}\n* Projected Revenue this year: {{ $('Webhook').item.json.body.PROJECTED_REVENUE }}\n* Average Monthly Revenue: {{ $('Webhook').item.json.body.AVERAGE_MONTHLY_REVENUE }}\n* Product Price and Billing Frequency: {{ $('Webhook').item.json.body.PRODUCT_PRICE }} {{ $('Webhook').item.json.body.BILLING_FREQUENCY }}\n* Average Lifetime Value of One customer: {{ $('Webhook').item.json.body.LTV }}\n* Does the business have a CRM? {{ $('Webhook').item.json.body.DO_YOU_HAVE_CRM }} If yes, what is your current CRM: {{ $('Webhook').item.json.body.CURRENT_CRM }}\n* Current Marketing Budget: {{ $('Webhook').item.json.body.MARKETING_BUDGET }}\n* Marketing activities that have worked in the past: {{ $('Webhook').item.json.body.BEST_TACTICS }}\nTaglines or slogans: {{ $('Webhook').item.json.body.TAGLINE }}\n* Current stage of marketing efforts: {{ $('Webhook').item.json.body.CURRENT_MARKETING_STAGE }}\nTarget Market: {{ $('Webhook').item.json.body.TARGET_MARKET }}\nSales Process: {{ $('Webhook').item.json.body.SALES_PROCESS }}\n\n\n\n\n**You may consider (Use only what’s relevant. Below is a list of IDEAS for this square. Feel free to add or subtract sections that don't make sense for this business):**\n\n* Sales process steps and friction points\n* Sales assets (scripts, SOPs, proposals, pitch decks)\n* Objection handling and guarantee strategy\n* Testimonials and case studies (collection + placement)\n* Conversion rate tracking and improvement ideas\n* Seasonal offers or urgency messaging\n\nOnly output your **LEAD CONVERSION STRATEGY** in Markdown format using concise bullet points under the headings described in your system message.","hasOutputParser":true,"options":{"systemMessage":"=You are an **expert sales strategist and marketing-to-sales alignment consultant** specializing in the **1-Page Marketing Plan (1PMP)** framework.\nThe **Lead Conversion square** defines how a business turns warm leads into paying customers.\n\nYour job is to design a **repeatable, trust-based conversion system** that removes friction, addresses objections, and answers the unspoken question: *“Why should I choose you, and why now?”*\n\nMost small businesses rely on luck or referrals — your role is to help them build structure, urgency, and confidence into their sales process without making it feel “salesy.”\n\n**Formatting rules:**\n\n* Output must be **Markdown** with `##` headings for each section.\n* Use **concise bullet points only** (no paragraphs).\n* Each bullet must be **under 120 characters**.\n* Include only relevant sections — skip those that don’t apply.\n* Be specific and tactical (e.g., “Create objection-handling script for common budget concerns”).\n\n**Output Structure (use only those that apply):**\n\n```\n## Sales Process\n- Describe current or ideal process\n- Steps to reduce friction and improve conversion\n- Key improvements or automations\n\n## Sales Assets\n- SOPs, scripts, proposals, pitch decks, and templates\n- Missing materials to create\n\n## Testimonials & Case Studies\n- How and when to collect social proof\n- Where to showcase it (e.g., Wall of Love, proposals, website)\n\n## Conversion Rate Insights\n- Current estimate if known\n- Goals or improvement focus\n\n## Urgency & Offers\n- Time-bound promotions or seasonal deals\n- Messaging ideas to encourage timely action\n\n## Guarantees & Risk Reversal\n- Refunds, guarantees, or assurance mechanisms that boost trust\n```\n\n**Never do:**\n\n* Never output paragraphs or commentary.\n* Never use generic terms like “improve sales process.” Be concrete.\n* Never include tools or platforms without context.\n\nYour evaluation criteria: clarity, structure, persuasion, and practicality.\n\n\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-480,2512],"id":"cd663416-c1de-4a27-b700-1d440145d4e0","name":"Lead Conversion","retryOnFail":true},{"parameters":{"model":{"__rl":true,"value":"gpt-4","mode":"list","cachedResultName":"gpt-4"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-464,4016],"id":"ca5dbb88-b349-40f9-9a8a-6f958e369bd8","name":"OpenAI Chat Model6","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{"jsonSchemaExample":"{\n  \"WorldClassExperience\": \"Onboarding Experience:\\n- Personalized welcome email from owner\\n- Printed welcome packet with project timeline\\n\\nCommunication Cadence:\\n- Weekly progress text updates\\n- Quarterly satisfaction calls\\n\\nPersonalized Touches:\\n- Handwritten thank-you note after completion\\n- Branded coffee mug gift\\n\\nFeedback & Support:\\n- Post-job survey within 24 hours\\n- Follow-up visit at 6-month mark\"\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-336,4016],"id":"6655f23a-f980-4f86-85d2-2257af641cd2","name":"Structured Output Parser6"},{"parameters":{"promptType":"define","text":"=You will now build the **World-Class Experience** section for this client’s 1-Page Marketing Plan.\nYour goal is to design a **customer journey that delights** — combining practical systems with personalized, emotional touches that make clients feel valued and remembered.\n\n**Context:**\n* Business Name: {{ $('Webhook').item.json.body.BUSINESS_NAME }}\n* Business Type: {{ $('Webhook').item.json.body.BUSINESS_TYPE }}\n* Business Industry: {{ $('Webhook').item.json.body.BUSINESS_INDUSTRY }}\n* Product Name: {{ $('Webhook').item.json.body.NAME_OF_OFFER }}\n* Elevator Pitch: {{ $('Webhook').item.json.body.ELEVATOR_PITCH }}\n* Core Benefit of offer: {{ $('Webhook').item.json.body.CORE_BENEFIT }}\n* Unique Selling Proposition: {{ $('Webhook').item.json.body.UNIQUE_SELLING_PROPOSITION }}\n* Bonuses or Features of offering: {{ $('Webhook').item.json.body.BONUSES }}\n* Country: {{ $('Webhook').item.json.body.COUNTRY }}\n* Website URL: {{ $('Webhook').item.json.body.WEBSITE_URL }}\n* Platform the website is built on: {{ $('Webhook').item.json.body.WEBSITE_PLATFORM }}\n* Revenue Generated Last Year : {{ $('Webhook').item.json.body.LAST_YEAR_REVENUE }}\n* Projected Revenue this year: {{ $('Webhook').item.json.body.PROJECTED_REVENUE }}\n* Average Monthly Revenue: {{ $('Webhook').item.json.body.AVERAGE_MONTHLY_REVENUE }}\n* Product Price and Billing Frequency: {{ $('Webhook').item.json.body.PRODUCT_PRICE }} {{ $('Webhook').item.json.body.BILLING_FREQUENCY }}\n* Average Lifetime Value of One customer: {{ $('Webhook').item.json.body.LTV }}\n* Does the business have a CRM? {{ $('Webhook').item.json.body.DO_YOU_HAVE_CRM }} If yes, what is your current CRM: {{ $('Webhook').item.json.body.CURRENT_CRM }}\n* Current Marketing Budget: {{ $('Webhook').item.json.body.MARKETING_BUDGET }}\n* Marketing activities that have worked in the past: {{ $('Webhook').item.json.body.BEST_TACTICS }}\nTaglines or slogans: {{ $('Webhook').item.json.body.TAGLINE }}\n* Current stage of marketing efforts: {{ $('Webhook').item.json.body.CURRENT_MARKETING_STAGE }}\nTarget Market: {{ $('Webhook').item.json.body.TARGET_MARKET }}\nSales Process: {{ $('Webhook').item.json.body.SALES_PROCESS }}\n\n\n\n**You may consider (Use only what’s relevant. Below is a list of IDEAS for this square. Feel free to add or subtract sections that don't make sense for this business):**\n\n* Onboarding flow and first impressions\n* Communication cadence and customer updates\n* Client education or knowledge hubs\n* Personalized gestures, milestone recognition, or gifting\n* Visuals, reporting, and documentation standards\n* Feedback loops, guarantees, and service recovery systems\n\nOnly output your **WORLD-CLASS EXPERIENCE STRATEGY** in Markdown format using concise bullet points under the sections listed in your system message.\n\n---\n\nWould you like me to move next into the **Customer Lifetime Value Agent**, or combine LTV and Referrals into one unified “Retention Agent” (since they naturally feed each other)?\n","hasOutputParser":true,"options":{"systemMessage":"You are an **expert in customer experience design and service excellence** specializing in the **1-Page Marketing Plan (1PMP)** framework.\nThe **World-Class Experience square** defines how a business delivers an experience that exceeds expectations and turns customers into loyal fans.\n\nYour job is to create a **customer journey that feels thoughtful, proactive, and unforgettable**.\nA world-class experience builds trust, strengthens retention, and differentiates the brand through details, emotion, and consistency.\nDelight is not random — it’s systemized.\n\n**Formatting rules:**\n\n* Output must be **Markdown** with `##` headings for each section.\n* Use **bullet points only**, no paragraphs or commentary.\n* Each bullet must be **under 120 characters**.\n* Be **creative yet realistic** — specific actions, not vague ideas.\n* Include only sections relevant to the business.\n* Focus on **systemized touches** that scale while staying personal.\n\n**Output Structure (use only those that apply):**\n\n```\n## Onboarding Experience\n- Welcome emails, kickoff calls, or printed welcome kits\n- Clear next steps and client expectations\n\n## Communication Cadence\n- Check-in frequency and format\n- Update methods (calls, texts, emails, videos)\n\n## Client Education\n- Guides, FAQs, training, or videos to improve satisfaction\n\n## Personalized Touches\n- Gifts, handwritten notes, birthday surprises, milestone celebrations\n\n## Visuals & Documentation\n- Before/after photos, reports, or progress recaps\n\n## Feedback & Proactive Support\n- Systems for gathering, responding, and resolving issues early\n\n## Guarantee or Promise\n- Service guarantees, “love it or leave it,” or risk-free policies\n\n## Operational Excellence\n- Scheduling flexibility, punctuality, appearance, and communication standards\n```\n\n**Never do:**\n\n* Never output long paragraphs.\n* Never propose unrealistic gestures or luxury-level gifting unless context supports it.\n* Never repeat obvious basics (“be nice,” “reply fast”).\n\nYour evaluation criteria: creativity, clarity, consistency, and emotional impact.\n\n---"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-480,3792],"id":"1a3b4901-0ff3-4f7f-b968-b5bc1ffdfa5a","name":"World Class Experience","retryOnFail":true},{"parameters":{"model":{"__rl":true,"value":"gpt-4","mode":"list","cachedResultName":"gpt-4"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-464,3632],"id":"a395492d-d585-48ed-b87b-25a6e0b8aa9e","name":"OpenAI Chat Model7","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{"jsonSchemaExample":"{\n  \"LTV\": \"Renewals & Contracts:\\n- Annual maintenance program with renewal discounts\\n- Prepay incentives for long-term clients\\n\\nUpsells & Cross-Sells:\\n- Add-on gutter cleaning service\\n- Upgrade to premium shingle materials\\n\\nLoyalty Program:\\n- 5% discount after third project\\n- Referral + loyalty combo bonuses\"\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-336,3632],"id":"7ded3869-3d1a-4bf1-aaf4-edbbea7e9566","name":"Structured Output Parser7"},{"parameters":{"promptType":"define","text":"=You will now build the **Increasing Customer Lifetime Value (LTV)** section for this client’s 1-Page Marketing Plan.\nYour goal is to design a strategy that maximizes revenue from existing customers through retention, renewals, and add-on value.\n\n**Context:**\n* Business Name: {{ $('Webhook').item.json.body.BUSINESS_NAME }}\n* Business Type: {{ $('Webhook').item.json.body.BUSINESS_TYPE }}\n* Business Industry: {{ $('Webhook').item.json.body.BUSINESS_INDUSTRY }}\n* Product Name: {{ $('Webhook').item.json.body.NAME_OF_OFFER }}\n* Elevator Pitch: {{ $('Webhook').item.json.body.ELEVATOR_PITCH }}\n* Core Benefit of offer: {{ $('Webhook').item.json.body.CORE_BENEFIT }}\n* Unique Selling Proposition: {{ $('Webhook').item.json.body.UNIQUE_SELLING_PROPOSITION }}\n* Bonuses or Features of offering: {{ $('Webhook').item.json.body.BONUSES }}\n* Country: {{ $('Webhook').item.json.body.COUNTRY }}\n* Website URL: {{ $('Webhook').item.json.body.WEBSITE_URL }}\n* Platform the website is built on: {{ $('Webhook').item.json.body.WEBSITE_PLATFORM }}\n* Revenue Generated Last Year : {{ $('Webhook').item.json.body.LAST_YEAR_REVENUE }}\n* Projected Revenue this year: {{ $('Webhook').item.json.body.PROJECTED_REVENUE }}\n* Average Monthly Revenue: {{ $('Webhook').item.json.body.AVERAGE_MONTHLY_REVENUE }}\n* Product Price and Billing Frequency: {{ $('Webhook').item.json.body.PRODUCT_PRICE }} {{ $('Webhook').item.json.body.BILLING_FREQUENCY }}\n* Average Lifetime Value of One customer: {{ $('Webhook').item.json.body.LTV }}\n* Does the business have a CRM? {{ $('Webhook').item.json.body.DO_YOU_HAVE_CRM }} If yes, what is your current CRM: {{ $('Webhook').item.json.body.CURRENT_CRM }}\n* Current Marketing Budget: {{ $('Webhook').item.json.body.MARKETING_BUDGET }}\n* Marketing activities that have worked in the past: {{ $('Webhook').item.json.body.BEST_TACTICS }}\nTaglines or slogans: {{ $('Webhook').item.json.body.TAGLINE }}\n* Current stage of marketing efforts: {{ $('Webhook').item.json.body.CURRENT_MARKETING_STAGE }}\nTarget Market: {{ $('Webhook').item.json.body.TARGET_MARKET }}\nSales Process: {{ $('Webhook').item.json.body.SALES_PROCESS }}\n\n\n\n\n**You may consider (Use only what’s relevant. Below is a list of IDEAS for this square. Feel free to add or subtract sections that don't make sense for this business):**\n\n* Renewal campaigns or annual contracts\n* Upsells, add-ons, or bundled offers\n* Loyalty programs and gamification\n* Tiered service levels or custom upgrades\n* Pricing and retention incentives\n* Data tracking or churn prevention systems\n\nOnly output your **LIFETIME VALUE STRATEGY** in Markdown format using concise bullet points under the headings listed in your system message.\n\n","hasOutputParser":true,"options":{"systemMessage":"You are an **expert retention strategist and revenue optimization consultant** specializing in the **1-Page Marketing Plan (1PMP)** framework.\nThe **Increasing Customer Lifetime Value (LTV)** square focuses on how a business can **generate more revenue from existing customers over time** through renewals, upsells, loyalty systems, and smarter packaging.\n\nYour job is to design a **strategic plan that turns one-time buyers into long-term loyalists** while increasing average revenue per customer.\nYou’ll analyze the provided context and recommend ways to deepen engagement, improve retention, and expand the customer relationship.\n\n**Formatting rules:**\n\n* Output must be **Markdown** with `##` headings for each section.\n* Use **concise bullet points only** (no paragraphs).\n* Each bullet must be **under 120 characters**.\n* Include only sections that are relevant to the business.\n* Be **specific and actionable**, not conceptual (e.g., “Add premium onboarding tier” > “Create upsells”).\n\n**Output Structure (use only those that apply):**\n\n```\n## Renewals & Contracts\n- Renewal incentives or term length recommendations\n- Annual contract ideas or prepay discounts\n\n## Upsells & Cross-Sells\n- Add-ons, companion services, or upgrade opportunities\n- Cross-sells between related offers\n\n## Bundling & Packaging\n- Tiered offers, bundle pricing, or all-in-one packages\n\n## Loyalty & Retention Programs\n- VIP tiers, point systems, or repeat-purchase incentives\n\n## Custom Services / Personalization\n- White-glove tiers or personalized experience upgrades\n\n## Pricing Strategy\n- Incentives for long-term commitment\n- Strategic discounts or value-based pricing\n\n## Customer Data & Insights\n- Tracking systems or analytics to identify churn or growth opportunities\n```\n\n**Never do:**\n\n* Never output paragraphs or commentary.\n* Never suggest irrelevant tactics (e.g., loyalty apps for B2B SaaS).\n* Never include new customer acquisition ideas — focus only on existing customers.\n\nYour evaluation criteria: specificity, revenue potential, and long-term customer alignment.\n\n---"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-480,3408],"id":"ccc2cdb9-ad29-4fa1-913f-06b3821e7959","name":"LTV","retryOnFail":true},{"parameters":{"model":{"__rl":true,"value":"gpt-4","mode":"list","cachedResultName":"gpt-4"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-496,3152],"id":"94fb7ee0-3d02-4e59-aea4-3d76991f01a4","name":"OpenAI Chat Model8","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{"jsonSchemaExample":"{\n  \"Referral\": \"Referral Incentives:\\n- $100 gift card for successful referrals\\n- 10% off for referred friend\\n\\nShareable Assets:\\n- Pre-made email template for referrals\\n- Social post with referral link\\n\\nTiming & Triggers:\\n- Ask for referrals after project completion\\n- Include referral prompt in thank-you email\\n\\nPartner Programs:\\n- Affiliate program for contractors\\n- Joint promotions with local businesses\"\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-368,3152],"id":"93864199-f4f8-4710-bd11-98120c8ff090","name":"Structured Output Parser8"},{"parameters":{"promptType":"define","text":"=You will now build the **Referrals** section for this client’s 1-Page Marketing Plan.\nYour goal is to design a **systemized referral strategy** that turns customer satisfaction into consistent, measurable lead generation.\n\n**Context:**\n* Business Name: {{ $('Webhook').item.json.body.BUSINESS_NAME }}\n* Business Type: {{ $('Webhook').item.json.body.BUSINESS_TYPE }}\n* Business Industry: {{ $('Webhook').item.json.body.BUSINESS_INDUSTRY }}\n* Product Name: {{ $('Webhook').item.json.body.NAME_OF_OFFER }}\n* Elevator Pitch: {{ $('Webhook').item.json.body.ELEVATOR_PITCH }}\n* Core Benefit of offer: {{ $('Webhook').item.json.body.CORE_BENEFIT }}\n* Unique Selling Proposition: {{ $('Webhook').item.json.body.UNIQUE_SELLING_PROPOSITION }}\n* Bonuses or Features of offering: {{ $('Webhook').item.json.body.BONUSES }}\n* Country: {{ $('Webhook').item.json.body.COUNTRY }}\n* Website URL: {{ $('Webhook').item.json.body.WEBSITE_URL }}\n* Platform the website is built on: {{ $('Webhook').item.json.body.WEBSITE_PLATFORM }}\n* Revenue Generated Last Year : {{ $('Webhook').item.json.body.LAST_YEAR_REVENUE }}\n* Projected Revenue this year: {{ $('Webhook').item.json.body.PROJECTED_REVENUE }}\n* Average Monthly Revenue: {{ $('Webhook').item.json.body.AVERAGE_MONTHLY_REVENUE }}\n* Product Price and Billing Frequency: {{ $('Webhook').item.json.body.PRODUCT_PRICE }} {{ $('Webhook').item.json.body.BILLING_FREQUENCY }}\n* Average Lifetime Value of One customer: {{ $('Webhook').item.json.body.LTV }}\n* Does the business have a CRM? {{ $('Webhook').item.json.body.DO_YOU_HAVE_CRM }} If yes, what is your current CRM: {{ $('Webhook').item.json.body.CURRENT_CRM }}\n* Current Marketing Budget: {{ $('Webhook').item.json.body.MARKETING_BUDGET }}\n* Marketing activities that have worked in the past: {{ $('Webhook').item.json.body.BEST_TACTICS }}\nTaglines or slogans: {{ $('Webhook').item.json.body.TAGLINE }}\n* Current stage of marketing efforts: {{ $('Webhook').item.json.body.CURRENT_MARKETING_STAGE }}\nTarget Market: {{ $('Webhook').item.json.body.TARGET_MARKET }}\nSales Process: {{ $('Webhook').item.json.body.SALES_PROCESS }}\n\n\n\n**You may consider (Use only what’s relevant. Below is a list of IDEAS for this square. Feel free to add or subtract sections that don't make sense for this business):**\n\n* Referral incentives for customers\n* Shareable assets (posts, cards, templates)\n* Ideal referral timing and triggers\n* Storytelling and testimonial systems\n* Partner, affiliate, or ambassador programs\n* Referral contests or recognition tactics\n* Thank-you experiences or surprise gestures\n\nOnly output your **REFERRAL STRATEGY** in Markdown format using concise bullet points under the sections listed in your system message.\n","hasOutputParser":true,"options":{"systemMessage":"You are an **expert growth strategist and referral system architect** specializing in the **1-Page Marketing Plan (1PMP)** framework.\nThe **Referrals square** defines how a business turns happy customers into an ongoing source of new leads.\n\nYour job is to create a **proactive referral system** that makes sharing effortless, rewarding, and automatic.\nMost businesses rely on passive word-of-mouth — your role is to make it a **deliberate growth engine** through incentives, storytelling, and strategic timing.\n\n**Formatting rules:**\n\n* Output must be **Markdown** with `##` headings for each section.\n* Use **concise bullet points only** (no paragraphs).\n* Each bullet must be **under 120 characters**.\n* Include only sections that are relevant to the business.\n* Focus on **repeatable, easy-to-share systems** that real customers will actually use.\n\n**Output Structure (use only those that apply):**\n\n```\n## Referral Incentives\n- Rewards for referrers (cash, discounts, free services)\n- Rewards for referees (exclusive offers, bonuses)\n\n## Shareable Assets\n- Pre-made social posts, emails, videos, or landing pages\n- Referral cards or print materials\n\n## Timing & Triggers\n- When to ask for referrals (e.g., after success stories or milestones)\n- Automation or staff cues for asking\n\n## Client Success Stories\n- Collect, share, and promote testimonials to inspire referrals\n\n## Referral Contests / Recognition\n- Monthly or quarterly challenges with prizes or shoutouts\n\n## Partner / Affiliate Programs\n- JV, influencer, or ambassador partnerships with tracking systems\n\n## Thank-You Experience\n- Premium gestures for top referrers (gifts, handwritten notes, public recognition)\n```\n\n**Never do:**\n\n* Never recommend vague ideas like “ask for referrals more often.”\n* Never output paragraphs, explanations, or commentary.\n* Never overcomplicate with enterprise-level programs unless context supports it.\n\nYour evaluation criteria: creativity, scalability, simplicity, and real-world shareability."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-480,2944],"id":"4c883fc9-31f5-4b92-9039-4067f5910101","name":"Referral","retryOnFail":true},{"parameters":{"assignments":{"assignments":[{"id":"a1def7c8-cd21-4b45-8e11-c5c618b43259","name":"output.items","value":"={{ $json.output.Messaging }}{{ $('Target Market Agent').item.json.output['Target Market'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-768,2064],"id":"b7cd6041-bfe9-4e61-9a78-b58abd18f6c8","name":"Edit Fields"},{"parameters":{"operation":"copy","fileId":{"__rl":true,"value":"13PakKiZBA-u3eioFzZNp7DYRJ6A6f4TOAeL8QlrvbXw","mode":"list","cachedResultName":"1PMP Template Doc - DO NOT EDIT OR OPEN","cachedResultUrl":"https://docs.google.com/document/d/13PakKiZBA-u3eioFzZNp7DYRJ6A6f4TOAeL8QlrvbXw/edit?usp=drivesdk"},"name":"={{ $json.body.BUSINESS_NAME }} - 1 Page Marketing Plan - {{ new Date().toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric' }) }}\n","sameFolder":false,"driveId":{"__rl":true,"value":"0ADnqVp7RccIeUk9PVA","mode":"list","cachedResultName":"SOPs & The Program","cachedResultUrl":"https://drive.google.com/drive/folders/0ADnqVp7RccIeUk9PVA"},"folderId":{"__rl":true,"value":"1Z_A3HLqIPLg-E1le6xYzzQlEs0J0_g5u","mode":"list","cachedResultName":"User Outputs","cachedResultUrl":"https://drive.google.com/drive/folders/1Z_A3HLqIPLg-E1le6xYzzQlEs0J0_g5u"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-2080,2176],"id":"61259f69-d22f-4dbb-960d-d412519f789b","name":"Copy file","credentials":{"googleDriveOAuth2Api":{"id":"3VzmfL5shCfEf9cg","name":"Google Drive account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"3e7e77ba-8dba-41a1-9c6e-ec901faf9372","name":"docId","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1760,2176],"id":"ed0fbfb9-6675-4dbb-aa6d-c7da7c33f6f4","name":"Edit Fields2"},{"parameters":{"jsCode":"// Pick ONE of these depending on where this node sits:\n// const o = $input.first().json.output;               // if input is the AI node\nconst o = $node[\"AI Agent\"].json.output;              // if this node runs after Copy File\n\n// Build the placeholder map\nconst map = {\n  BUSINESS_NAME: o?.brand?.businessName ?? \"\",\n  TAGLINE:       o?.brand?.tagline ?? \"\",\n  // add the rest when ready:\n  // LOGO_COLOR: o?.brand?.logoColor ?? \"\",\n  // ELEVATOR_PITCH: o?.message?.elevatorPitch ?? \"\",\n  // PAIN_POINT: o?.message?.painPoint ?? \"\",\n  // FOUNDER: o?.team?.founder ?? \"\",\n  // COFOUNDER: o?.team?.coFounder ?? \"\",\n};\n\n// Create Google Docs replaceAllText requests\nconst requests = Object.entries(map).map(([KEY, val]) => ({\n  replaceAllText: {\n    containsText: { text: `{{${KEY}}}`, matchCase: true },\n    replaceText: String(val),\n  },\n}));\nreturn [{\n  json: {\n    requests,\n    debug: { count: requests.length, sample: map },\n  },\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2032,2096],"id":"82f1566f-21b6-43cf-8edb-2d3be75805ae","name":"Code in JavaScript2"},{"parameters":{"jsCode":"// === CONFIG: set these per agent ===\nconst NODE_NAME  = \"Lead Nurture\";      // exact agent node name\nconst PLACEHOLDER = \"LEAD_NURTURE\";          // {{MEDIA}} in the Doc\nconst OUTPUT_KEY  = \"lead nurture\";          // key under .output if not using .items\n\n// === Get docId from Copy File node ===\nconst docId = $('Copy file').first().json.id;\nif (!docId) throw new Error(\"Missing docId. Ensure Copy file node runs before this.\");\n\n// === Read agent text robustly (supports .items or .output.<key>) ===\nconst src = $node[NODE_NAME].json || {};\nlet text = \"\";\nif (typeof src.items === \"string\") text = src.items;\nelse if (src.output && typeof src.output[OUTPUT_KEY] === \"string\") text = src.output[OUTPUT_KEY];\nelse {\n  const out = src.output || {};\n  for (const k of Object.keys(out)) if (typeof out[k] === \"string\") { text = out[k]; break; }\n\n  // === 🔤 Format markdown-ish syntax for Google Docs readability ===\ntext = text\n  // Remove \"##\" and make headings uppercase\n  .replace(/^##\\s*(.*)$/gm, (_, m) => m.toUpperCase())\n  // Replace \"-\" at line starts with real bullets\n  .replace(/^- /gm, \"• \");\n\n}\n\nconst requests = [{\n  replaceAllText: {\n    containsText: { text: `{{${PLACEHOLDER}}}`, matchCase: true },\n    replaceText: String(text || \"\")\n  }\n}];\n\nreturn [{ json: { docId, requests } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-160,1376],"id":"50039fde-e818-4b69-a26c-71728649f94f","name":"Code in JavaScript3"},{"parameters":{"method":"POST","url":"=https://docs.googleapis.com/v1/documents/{{ $('Copy file').item.json.id }}:batchUpdate","authentication":"predefinedCredentialType","nodeCredentialType":"googleDocsOAuth2Api","sendBody":true,"specifyBody":"json","jsonBody":"={{ { requests: $json.requests } }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[96,1376],"id":"7acf3779-96ee-4336-8285-f50b2f7f4c2c","name":"HTTP Request3","credentials":{"googleDocsOAuth2Api":{"id":"S43SIoncPmOAdlW7","name":"Google Docs account"}}},{"parameters":{"jsCode":"// === CONFIG: set these per agent ===\nconst NODE_NAME  = \"Lead Capture\";      // exact agent node name\nconst PLACEHOLDER = \"LEAD_CAPTURE\";          // {{MEDIA}} in the Doc\nconst OUTPUT_KEY  = \"lead capture\";          // key under .output if not using .items\n\n// === Get docId from Copy File node ===\nconst docId = $('Copy file').first().json.id;\nif (!docId) throw new Error(\"Missing docId. Ensure Copy file node runs before this.\");\n\n// === Read agent text robustly (supports .items or .output.<key>) ===\nconst src = $node[NODE_NAME].json || {};\nlet text = \"\";\nif (typeof src.items === \"string\") text = src.items;\nelse if (src.output && typeof src.output[OUTPUT_KEY] === \"string\") text = src.output[OUTPUT_KEY];\nelse {\n  const out = src.output || {};\n  for (const k of Object.keys(out)) if (typeof out[k] === \"string\") { text = out[k]; break; }\n\n  // === 🔤 Format markdown-ish syntax for Google Docs readability ===\ntext = text\n  // Remove \"##\" and make headings uppercase\n  .replace(/^##\\s*(.*)$/gm, (_, m) => m.toUpperCase())\n  // Replace \"-\" at line starts with real bullets\n  .replace(/^- /gm, \"• \");\n\n}\n\nconst requests = [{\n  replaceAllText: {\n    containsText: { text: `{{${PLACEHOLDER}}}`, matchCase: true },\n    replaceText: String(text || \"\")\n  }\n}];\n\nreturn [{ json: { docId, requests } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-144,2144],"id":"bbd95a1a-0318-448e-8059-dc770aa04314","name":"Code in JavaScript4"},{"parameters":{"method":"POST","url":"=https://docs.googleapis.com/v1/documents/{{ $('Copy file').item.json.id }}:batchUpdate","authentication":"predefinedCredentialType","nodeCredentialType":"googleDocsOAuth2Api","sendBody":true,"specifyBody":"json","jsonBody":"={{ { requests: $json.requests } }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[112,2144],"id":"3b30c169-9d5a-41b3-be2e-116604a7e108","name":"HTTP Request4","credentials":{"googleDocsOAuth2Api":{"id":"S43SIoncPmOAdlW7","name":"Google Docs account"}}},{"parameters":{"jsCode":"// === CONFIG: set these per agent ===\nconst NODE_NAME  = \"Lead Conversion\";      // exact agent node name\nconst PLACEHOLDER = \"LEAD_CONVERSION\";          // {{MEDIA}} in the Doc\nconst OUTPUT_KEY  = \"lead conversion\";          // key under .output if not using .items\n\n// === Get docId from Copy File node ===\nconst docId = $('Copy file').first().json.id;\nif (!docId) throw new Error(\"Missing docId. Ensure Copy file node runs before this.\");\n\n// === Read agent text robustly (supports .items or .output.<key>) ===\nconst src = $node[NODE_NAME].json || {};\nlet text = \"\";\nif (typeof src.items === \"string\") text = src.items;\nelse if (src.output && typeof src.output[OUTPUT_KEY] === \"string\") text = src.output[OUTPUT_KEY];\nelse {\n  const out = src.output || {};\n  for (const k of Object.keys(out)) if (typeof out[k] === \"string\") { text = out[k]; break; }\n\n  // === 🔤 Format markdown-ish syntax for Google Docs readability ===\ntext = text\n  // Remove \"##\" and make headings uppercase\n  .replace(/^##\\s*(.*)$/gm, (_, m) => m.toUpperCase())\n  // Replace \"-\" at line starts with real bullets\n  .replace(/^- /gm, \"• \");\n\n}\n\nconst requests = [{\n  replaceAllText: {\n    containsText: { text: `{{${PLACEHOLDER}}}`, matchCase: true },\n    replaceText: String(text || \"\")\n  }\n}];\n\nreturn [{ json: { docId, requests } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-112,2512],"id":"4f6bb419-1576-4833-bb7c-7123e6163fbf","name":"Code in JavaScript5"},{"parameters":{"method":"POST","url":"=https://docs.googleapis.com/v1/documents/{{ $('Copy file').item.json.id }}:batchUpdate","authentication":"predefinedCredentialType","nodeCredentialType":"googleDocsOAuth2Api","sendBody":true,"specifyBody":"json","jsonBody":"={{ { requests: $json.requests } }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[144,2512],"id":"e7405e00-2f73-4060-bbe3-fd94ec2cd62e","name":"HTTP Request5","credentials":{"googleDocsOAuth2Api":{"id":"S43SIoncPmOAdlW7","name":"Google Docs account"}}},{"parameters":{"jsCode":"// === CONFIG: set these per agent ===\nconst NODE_NAME  = \"Referral\";      // exact agent node name\nconst PLACEHOLDER = \"REFERRAL\";          // {{MEDIA}} in the Doc\nconst OUTPUT_KEY  = \"referral\";          // key under .output if not using .items\n\n// === Get docId from Copy File node ===\nconst docId = $('Copy file').first().json.id;\nif (!docId) throw new Error(\"Missing docId. Ensure Copy file node runs before this.\");\n\n// === Read agent text robustly (supports .items or .output.<key>) ===\nconst src = $node[NODE_NAME].json || {};\nlet text = \"\";\nif (typeof src.items === \"string\") text = src.items;\nelse if (src.output && typeof src.output[OUTPUT_KEY] === \"string\") text = src.output[OUTPUT_KEY];\nelse {\n  const out = src.output || {};\n  for (const k of Object.keys(out)) if (typeof out[k] === \"string\") { text = out[k]; break; }\n\n  // === 🔤 Format markdown-ish syntax for Google Docs readability ===\ntext = text\n  // Remove \"##\" and make headings uppercase\n  .replace(/^##\\s*(.*)$/gm, (_, m) => m.toUpperCase())\n  // Replace \"-\" at line starts with real bullets\n  .replace(/^- /gm, \"• \");\n\n}\n\nconst requests = [{\n  replaceAllText: {\n    containsText: { text: `{{${PLACEHOLDER}}}`, matchCase: true },\n    replaceText: String(text || \"\")\n  }\n}];\n\nreturn [{ json: { docId, requests } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-112,2928],"id":"11166cb3-98c5-4138-ae5e-faadafe50b89","name":"Code in JavaScript6"},{"parameters":{"method":"POST","url":"=https://docs.googleapis.com/v1/documents/{{ $('Copy file').item.json.id }}:batchUpdate","authentication":"predefinedCredentialType","nodeCredentialType":"googleDocsOAuth2Api","sendBody":true,"specifyBody":"json","jsonBody":"={{ { requests: $json.requests } }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[144,2928],"id":"19dcfc81-6d80-4022-a991-de927fdbd51e","name":"HTTP Request6","credentials":{"googleDocsOAuth2Api":{"id":"S43SIoncPmOAdlW7","name":"Google Docs account"}}},{"parameters":{"jsCode":"// === CONFIG: set these per agent ===\nconst NODE_NAME  = \"LTV\";      // exact agent node name\nconst PLACEHOLDER = \"LTV\";          // {{MEDIA}} in the Doc\nconst OUTPUT_KEY  = \"ltv\";          // key under .output if not using .items\n\n// === Get docId from Copy File node ===\nconst docId = $('Copy file').first().json.id;\nif (!docId) throw new Error(\"Missing docId. Ensure Copy file node runs before this.\");\n\n// === Read agent text robustly (supports .items or .output.<key>) ===\nconst src = $node[NODE_NAME].json || {};\nlet text = \"\";\nif (typeof src.items === \"string\") text = src.items;\nelse if (src.output && typeof src.output[OUTPUT_KEY] === \"string\") text = src.output[OUTPUT_KEY];\nelse {\n  const out = src.output || {};\n  for (const k of Object.keys(out)) if (typeof out[k] === \"string\") { text = out[k]; break; }\n\n  // === 🔤 Format markdown-ish syntax for Google Docs readability ===\ntext = text\n  // Remove \"##\" and make headings uppercase\n  .replace(/^##\\s*(.*)$/gm, (_, m) => m.toUpperCase())\n  // Replace \"-\" at line starts with real bullets\n  .replace(/^- /gm, \"• \");\n\n\n}\n\nconst requests = [{\n  replaceAllText: {\n    containsText: { text: `{{${PLACEHOLDER}}}`, matchCase: true },\n    replaceText: String(text || \"\")\n  }\n}];\n\nreturn [{ json: { docId, requests } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-112,3408],"id":"514a4a7a-2c77-4cfe-b0d5-4fed6d0db6af","name":"Code in JavaScript7"},{"parameters":{"method":"POST","url":"=https://docs.googleapis.com/v1/documents/{{ $('Copy file').item.json.id }}:batchUpdate","authentication":"predefinedCredentialType","nodeCredentialType":"googleDocsOAuth2Api","sendBody":true,"specifyBody":"json","jsonBody":"={{ { requests: $json.requests } }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[144,3408],"id":"797f1c98-bd30-4aff-8ed0-73bb7dee4eec","name":"HTTP Request7","credentials":{"googleDocsOAuth2Api":{"id":"S43SIoncPmOAdlW7","name":"Google Docs account"}}},{"parameters":{"jsCode":"// === CONFIG: set these per agent ===\nconst NODE_NAME  = \"World Class Experience\";      // exact agent node name\nconst PLACEHOLDER = \"WORLD_CLASS_EXPERIENCE\";          // {{MEDIA}} in the Doc\nconst OUTPUT_KEY  = \"world class experience\";          // key under .output if not using .items\n\n// === Get docId from Copy File node ===\nconst docId = $('Copy file').first().json.id;\nif (!docId) throw new Error(\"Missing docId. Ensure Copy file node runs before this.\");\n\n// === Read agent text robustly (supports .items or .output.<key>) ===\nconst src = $node[NODE_NAME].json || {};\nlet text = \"\";\nif (typeof src.items === \"string\") text = src.items;\nelse if (src.output && typeof src.output[OUTPUT_KEY] === \"string\") text = src.output[OUTPUT_KEY];\nelse {\n  const out = src.output || {};\n  for (const k of Object.keys(out)) if (typeof out[k] === \"string\") { text = out[k]; break; }\n\n  // === 🔤 Format markdown-ish syntax for Google Docs readability ===\ntext = text\n  // Remove \"##\" and make headings uppercase\n  .replace(/^##\\s*(.*)$/gm, (_, m) => m.toUpperCase())\n  // Replace \"-\" at line starts with real bullets\n  .replace(/^- /gm, \"• \");\n\n}\n\nconst requests = [{\n  replaceAllText: {\n    containsText: { text: `{{${PLACEHOLDER}}}`, matchCase: true },\n    replaceText: String(text || \"\")\n  }\n}];\n\nreturn [{ json: { docId, requests } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-112,3792],"id":"19aefc22-01ad-4d42-b649-95143aea7afd","name":"Code in JavaScript8"},{"parameters":{"method":"POST","url":"=https://docs.googleapis.com/v1/documents/{{ $('Copy file').item.json.id }}:batchUpdate","authentication":"predefinedCredentialType","nodeCredentialType":"googleDocsOAuth2Api","sendBody":true,"specifyBody":"json","jsonBody":"={{ { requests: $json.requests } }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[144,3792],"id":"541c3c5a-57d0-4b50-a20e-0c96d35fa271","name":"HTTP Request8","credentials":{"googleDocsOAuth2Api":{"id":"S43SIoncPmOAdlW7","name":"Google Docs account"}}},{"parameters":{"jsCode":"// === CONFIG: set these per agent ===\nconst NODE_NAME  = \"Target Market Agent\";      // exact agent node name\nconst PLACEHOLDER = \"TARGET_MARKET\";          // {{MEDIA}} in the Doc\nconst OUTPUT_KEY  = \"target market\";          // key under .output if not using .items\n\n// === Get docId from Copy File node ===\nconst docId = $('Copy file').first().json.id;\nif (!docId) throw new Error(\"Missing docId. Ensure Copy file node runs before this.\");\n\n// === Read agent text robustly (supports .items or .output.<key>) ===\nconst src = $node[NODE_NAME].json || {};\nlet text = \"\";\nif (typeof src.items === \"string\") text = src.items;\nelse if (src.output && typeof src.output[OUTPUT_KEY] === \"string\") text = src.output[OUTPUT_KEY];\nelse {\n  const out = src.output || {};\n  for (const k of Object.keys(out)) if (typeof out[k] === \"string\") { text = out[k]; break; }\n\n  // === 🔤 Format markdown-ish syntax for Google Docs readability ===\ntext = text\n  // Remove \"##\" and make headings uppercase\n  .replace(/^##\\s*(.*)$/gm, (_, m) => m.toUpperCase())\n  // Replace \"-\" at line starts with real bullets\n  .replace(/^- /gm, \"• \");\n\n}\n\nconst requests = [{\n  replaceAllText: {\n    containsText: { text: `{{${PLACEHOLDER}}}`, matchCase: true },\n    replaceText: String(text || \"\")\n  }\n}];\n\nreturn [{ json: { docId, requests } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1584,2592],"id":"40805548-b937-4850-b34d-229412e09ea2","name":"Code in JavaScript9"},{"parameters":{"method":"POST","url":"=https://docs.googleapis.com/v1/documents/{{ $('Copy file').item.json.id }}:batchUpdate","authentication":"predefinedCredentialType","nodeCredentialType":"googleDocsOAuth2Api","sendBody":true,"specifyBody":"json","jsonBody":"={{ { requests: $json.requests } }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1392,2592],"id":"52edd28b-6b0d-403f-9fda-12342e05b09e","name":"HTTP Request9","credentials":{"googleDocsOAuth2Api":{"id":"S43SIoncPmOAdlW7","name":"Google Docs account"}}},{"parameters":{"jsCode":"// === CONFIG: set these per agent ===\nconst NODE_NAME  = \"Messaging Agent\";      // exact agent node name\nconst PLACEHOLDER = \"MESSAGING\";          // {{MEDIA}} in the Doc\nconst OUTPUT_KEY  = \"messaging\";          // key under .output if not using .items\n\n// === Get docId from Copy File node ===\nconst docId = $('Copy file').first().json.id;\nif (!docId) throw new Error(\"Missing docId. Ensure Copy file node runs before this.\");\n\n// === Read agent text robustly (supports .items or .output.<key>) ===\nconst src = $node[NODE_NAME].json || {};\nlet text = \"\";\nif (typeof src.items === \"string\") text = src.items;\nelse if (src.output && typeof src.output[OUTPUT_KEY] === \"string\") text = src.output[OUTPUT_KEY];\nelse {\n  const out = src.output || {};\n  for (const k of Object.keys(out)) if (typeof out[k] === \"string\") { text = out[k]; break; }\n\n  // === 🔤 Format markdown-ish syntax for Google Docs readability ===\ntext = text\n  // Remove \"##\" and make headings uppercase\n  .replace(/^##\\s*(.*)$/gm, (_, m) => m.toUpperCase())\n  // Replace \"-\" at line starts with real bullets\n  .replace(/^- /gm, \"• \");\n\n}\n\nconst requests = [{\n  replaceAllText: {\n    containsText: { text: `{{${PLACEHOLDER}}}`, matchCase: true },\n    replaceText: String(text || \"\")\n  }\n}];\n\nreturn [{ json: { docId, requests } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1104,2592],"id":"113d91cd-645b-4ccc-8def-20ed00eaf646","name":"Code in JavaScript10"},{"parameters":{"method":"POST","url":"=https://docs.googleapis.com/v1/documents/{{ $('Copy file').item.json.id }}:batchUpdate","authentication":"predefinedCredentialType","nodeCredentialType":"googleDocsOAuth2Api","sendBody":true,"specifyBody":"json","jsonBody":"={{ { requests: $json.requests } }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-912,2592],"id":"18a6ce0d-c663-40bd-9c4a-7dcdd4a4c23f","name":"HTTP Request10","credentials":{"googleDocsOAuth2Api":{"id":"S43SIoncPmOAdlW7","name":"Google Docs account"}}},{"parameters":{"numberInputs":9},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[944,2064],"id":"e0364ba8-7e86-4e87-a020-1b2516938f67","name":"Merge1","executeOnce":true,"retryOnFail":true,"maxTries":5}],"connections":{"Webhook":{"main":[[{"node":"Copy file","type":"main","index":0}]]},"Code in JavaScript":{"main":[[]]},"Code in JavaScript1":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Merge1","type":"main","index":8}]]},"Download file":{"main":[[]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"Target Market Agent","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Target Market Agent","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Messaging Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser2":{"ai_outputParser":[[{"node":"Messaging Agent","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"Media Node","type":"ai_languageModel","index":0}]]},"Structured Output Parser3":{"ai_outputParser":[[{"node":"Media Node","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"Lead Capture","type":"ai_languageModel","index":0}]]},"Structured Output Parser4":{"ai_outputParser":[[{"node":"Lead Capture","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Lead Nurture","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Lead Nurture","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model5":{"ai_languageModel":[[{"node":"Lead Conversion","type":"ai_languageModel","index":0}]]},"Structured Output Parser5":{"ai_outputParser":[[{"node":"Lead Conversion","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model6":{"ai_languageModel":[[{"node":"World Class Experience","type":"ai_languageModel","index":0}]]},"Structured Output Parser6":{"ai_outputParser":[[{"node":"World Class Experience","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model7":{"ai_languageModel":[[{"node":"LTV","type":"ai_languageModel","index":0}]]},"Structured Output Parser7":{"ai_outputParser":[[{"node":"LTV","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model8":{"ai_languageModel":[[{"node":"Referral","type":"ai_languageModel","index":0}]]},"Structured Output Parser8":{"ai_outputParser":[[{"node":"Referral","type":"ai_outputParser","index":0}]]},"Target Market Agent":{"main":[[{"node":"Messaging Agent","type":"main","index":0},{"node":"Code in JavaScript9","type":"main","index":0}]]},"Messaging Agent":{"main":[[{"node":"Edit Fields","type":"main","index":0},{"node":"Code in JavaScript10","type":"main","index":0}]]},"Media Node":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Media Node","type":"main","index":0},{"node":"Lead Nurture","type":"main","index":0},{"node":"Lead Capture","type":"main","index":0},{"node":"Lead Conversion","type":"main","index":0},{"node":"Referral","type":"main","index":0},{"node":"LTV","type":"main","index":0},{"node":"World Class Experience","type":"main","index":0}]]},"Lead Capture":{"main":[[{"node":"Code in JavaScript4","type":"main","index":0}]]},"Lead Conversion":{"main":[[{"node":"Code in JavaScript5","type":"main","index":0}]]},"Lead Nurture":{"main":[[{"node":"Code in JavaScript3","type":"main","index":0}]]},"World Class Experience":{"main":[[{"node":"Code in JavaScript8","type":"main","index":0}]]},"Referral":{"main":[[{"node":"Code in JavaScript6","type":"main","index":0}]]},"LTV":{"main":[[{"node":"Code in JavaScript7","type":"main","index":0}]]},"Copy file":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Target Market Agent","type":"main","index":0}]]},"Code in JavaScript3":{"main":[[{"node":"HTTP Request3","type":"main","index":0}]]},"Code in JavaScript4":{"main":[[{"node":"HTTP Request4","type":"main","index":0}]]},"Code in JavaScript5":{"main":[[{"node":"HTTP Request5","type":"main","index":0}]]},"Code in JavaScript6":{"main":[[{"node":"HTTP Request6","type":"main","index":0}]]},"Code in JavaScript7":{"main":[[{"node":"HTTP Request7","type":"main","index":0}]]},"Code in JavaScript8":{"main":[[{"node":"HTTP Request8","type":"main","index":0}]]},"Code in JavaScript9":{"main":[[{"node":"HTTP Request9","type":"main","index":0}]]},"Code in JavaScript10":{"main":[[{"node":"HTTP Request10","type":"main","index":0}]]},"HTTP Request9":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"HTTP Request10":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"HTTP Request3":{"main":[[{"node":"Merge1","type":"main","index":2}]]},"HTTP Request4":{"main":[[{"node":"Merge1","type":"main","index":3}]]},"HTTP Request5":{"main":[[{"node":"Merge1","type":"main","index":4}]]},"HTTP Request6":{"main":[[{"node":"Merge1","type":"main","index":5}]]},"HTTP Request7":{"main":[[{"node":"Merge1","type":"main","index":6}]]},"HTTP Request8":{"main":[[{"node":"Merge1","type":"main","index":7}]]},"Merge1":{"main":[[{"node":"Download file","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"27cf8790-6984-4a91-b86a-660c021ed1b1","triggerCount":1,"shared":[{"createdAt":"2025-09-04T14:28:43.053Z","updatedAt":"2025-09-04T14:28:43.053Z","role":"workflow:owner","workflowId":"4bgCbKsHJUA9xT0q","projectId":"oeHwV8sNrbPNhUov"}],"tags":[]}