2---business-profile-creation-YY05nNTc2XgQA18C.json
{"createdAt":"2025-03-07T19:26:59.390Z","updatedAt":"2025-08-14T23:31:38.763Z","id":"YY05nNTc2XgQA18C","name":"2 - Business profile Creation","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-580,260],"id":"02c1209b-393f-4196-aee2-7950dfe7e7da","name":"When clicking ‘Test workflow’"},{"parameters":{"method":"POST","url":"https://api.firecrawl.dev/v1/scrape","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer fc-361a640d44c548b080ba95ad71416e85"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"url\": \"https://www.enny.ai/\",\n  \"formats\": [\n    \"markdown\"\n  ],\n  \"onlyMainContent\": true,\n  \"headers\": {},\n  \"mobile\": false,\n  \"skipTlsVerification\": false,\n  \"timeout\": 30000,\n  \"location\": {\n    \"country\": \"US\",\n    \"languages\": [\n      \"en-US\"\n    ]\n  },\n  \"removeBase64Images\": true,\n  \"blockAds\": true,\n  \"proxy\": \"basic\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-300,40],"id":"c071cbb6-1405-4924-af09-2b65ddb6e5b4","name":"HTTP Request"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[260,560],"id":"8fce6684-8b04-4126-a56e-11c9806c1981","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{"tableId":"business_profiles","fieldsUi":{"fieldValues":[{"fieldId":"company","fieldValue":"={{ $('Google Sheets').item.json['Company Run'] }}"},{"fieldId":"offer","fieldValue":"={{ $('AI Agent').item.json.output.Offer }}"},{"fieldId":"industry","fieldValue":"={{ $('AI Agent').item.json.output.Industry }}"},{"fieldId":"client_id","fieldValue":"={{ $json.uuid }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1180,260],"id":"49ab00fc-b87a-443b-99cb-8bd136656784","name":"Supabase","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"promptType":"define","text":"Use the tool to pull information from the vector DB to create a business profile based on the chunks. ","hasOutputParser":true,"options":{"systemMessage":"=**System Prompt:**\n\n**Objective:**  \nAnalyze all provided context and inputs, including information extracted from the vector database using the provided tool. Based on the extracted data, generate a JSON output with three main fields: **Company**, **Offer**, and **Industry**. The **Company** field should contain only the name of the company, while the **Offer** and **Industry** fields must include detailed descriptions based on the key information found in the inputs.\n\n**Instructions:**  \n1. **Data Extraction:**  \n   - **ALWAYS USE THE TOOL PROVIDED** to extract relevant chunks from the vector database.\n   - Review all provided context and documents.\n   - Identify the key details:\n     - For **Company**: Extract just the name of the company.\n     - For **Offer**: Extract a detailed overview of the products, services, or value proposition the company provides.\n     - For **Industry**: Extract an in-depth description of the industry, including market trends and positioning.\n\n2. **Data Structuring:**  \n   - Organize the extracted information into three main fields:\n     - **Company:** The name of the company.\n     - **Offer:** A detailed description of the company’s products, services, or value proposition.\n     - **Industry:** A detailed description of the industry, including market trends and challenges.\n\n3. **Output:**  \n   - The final output must be strictly in JSON format.\n   - Ensure the JSON output adheres exactly to the JSON Schema Template provided below.\n\n---\n\n**JSON Schema Template:**\n\n```json\n{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"Company\": {\n      \"type\": \"string\",\n      \"description\": \"The name of the company.\"\n    },\n    \"Offer\": {\n      \"type\": \"string\",\n      \"description\": \"A detailed description of the products, services, or value proposition offered by the company.\"\n    },\n    \"Industry\": {\n      \"type\": \"string\",\n      \"description\": \"A detailed description of the industry in which the company operates, including market trends and positioning.\"\n    }\n  },\n  \"required\": [\"Company\", \"Offer\", \"Industry\"],\n  \"additionalProperties\": false\n}\n```\n\n---\n\n**Requirements and Guidelines:**  \n- **Output Format:**  \n  - The final output must be in valid JSON format.\n  - The JSON must adhere exactly to the provided JSON Schema Template.\n\n- **Content Specifications:**  \n  - **Company:** Extract only the name of the company.\n  - **Offer:** Include a detailed overview of the products, services, or value proposition.\n  - **Industry:** Provide an in-depth description of the industry, including relevant market trends and positioning.\n\n- **Consistency:**  \n  - Do not include any extra fields beyond what is defined in the JSON Schema.\n  - Ensure that the descriptions are clear and consistent with the extracted information.\n\n---\n\n**Additional Notes:**  \n- This prompt is designed to generate a concise profile where the company field is limited to the name only, and the offer and industry fields provide detailed contextual insights.\n- The output will be used for further analysis and strategy development.\n- Replace any placeholders with the appropriate context details as necessary.\n- **ALWAYS USE THE TOOL PROVIDED** to pull relevant chunks from the vector database.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[340,260],"id":"d79cf2f0-7e6c-456c-b052-0ee5afb3830b","name":"AI Agent","onError":"continueRegularOutput"},{"parameters":{"mode":"retrieve-as-tool","toolName":"company_information","toolDescription":"find relevant information in the vector db that relates to the companies name, offer, and industry","pineconeIndex":{"__rl":true,"value":"={{ $json.name }}","mode":"id"},"topK":10,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[320,740],"id":"6df97ffa-0e9c-41b2-b3af-914a91a03772","name":"Pinecone Vector Store","credentials":{"pineconeApi":{"id":"axuYyU6grhcC8CQp","name":"PineconeApi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[380,940],"id":"bf03516b-87e4-45d5-b733-35c054995a57","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"Company\": {\n      \"type\": \"string\",\n      \"description\": \"The name of the company.\"\n    },\n    \"Offer\": {\n      \"type\": \"string\",\n      \"description\": \"A detailed description of the products, services, or value proposition offered by the company.\"\n    },\n    \"Industry\": {\n      \"type\": \"string\",\n      \"description\": \"A detailed description of the industry in which the company operates, including market trends and positioning.\"\n    }\n  },\n  \"required\": [\"Company\", \"Offer\", \"Industry\"],\n  \"additionalProperties\": false\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[580,520],"id":"5e8886ba-81a8-4c5e-9063-840131de618f","name":"Structured Output Parser"},{"parameters":{"content":"## AI Model\nCurrently set\nto 4o\n","height":140,"width":360,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[20,540],"id":"6e19d2ac-5beb-4df8-b47d-80becc83f9c5","name":"Sticky Note3"},{"parameters":{"content":"## Handle Error\nIn production add error handling for data duplication with same ID\n","height":280,"width":380},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[920,140],"id":"593e12c5-ca9f-4ab6-8477-e5989fde9ba2","name":"Sticky Note4"},{"parameters":{"content":"## Prompt Notes\n","color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[140,100],"id":"5ce061ef-aa00-4780-89f8-4220278ebed2","name":"Sticky Note5"},{"parameters":{"content":"## Notes about run\n\nRun Time: not set\n"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-520,640],"id":"364d651a-b7d3-4d12-8ed7-ec6bed501033","name":"Sticky Note6"},{"parameters":{"content":"\n\nHave error handling if fails\n","height":80,"width":150},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[680,220],"id":"5d63b3ee-b5c1-4701-a839-b352709bbcfc","name":"Sticky Note7"},{"parameters":{"jsCode":"const { v4: uuidv4 } = require('uuid');\nreturn {\n  json: {\n    uuid: uuidv4()\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[960,260],"id":"7616b7bd-f6d0-4580-8913-b7bcec5342d3","name":"Create UUID"},{"parameters":{"content":"\n\n\n\nThis should be done in Bubble\n","height":140,"width":150},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[720,360],"id":"6cf0045f-9275-486d-b440-34b829424acb","name":"Sticky Note"},{"parameters":{"documentId":{"__rl":true,"value":"1nTyix3NeSNWqhZ-B4CQYlelIdZMVpzz6B-d7tFuWOcs","mode":"list","cachedResultName":"MVP Info","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nTyix3NeSNWqhZ-B4CQYlelIdZMVpzz6B-d7tFuWOcs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Prompts","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nTyix3NeSNWqhZ-B4CQYlelIdZMVpzz6B-d7tFuWOcs/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-360,260],"id":"b2023fac-00f4-446b-a573-cdf0f143f039","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"tkvcRmLfYi38x0mC","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"b283bdf7-23d4-4f7b-9ec9-6fadbe17f97d","name":"=name","value":"={{ $json['Company Run'].toLowerCase().replace(/\\s+/g, \"-\") }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-40,260],"id":"5721d8b5-ba92-49c8-bbbb-05f77c7ecd57","name":"reformat company for vector"}],"connections":{"HTTP Request":{"main":[[]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Supabase":{"main":[[]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Pinecone Vector Store":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"AI Agent":{"main":[[{"node":"Create UUID","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Create UUID":{"main":[[{"node":"Supabase","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"reformat company for vector","type":"main","index":0}]]},"reformat company for vector":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5858e54c-d5ec-4474-a0e1-0b59ee49ca28","triggerCount":0,"shared":[{"createdAt":"2025-03-07T19:26:59.390Z","updatedAt":"2025-03-07T19:26:59.390Z","role":"workflow:owner","workflowId":"YY05nNTc2XgQA18C","projectId":"oeHwV8sNrbPNhUov"}],"tags":[{"createdAt":"2025-03-12T04:24:48.825Z","updatedAt":"2025-03-12T04:24:48.825Z","id":"cbWAfupX4mQCuSO9","name":"Set Up"},{"createdAt":"2025-03-12T16:30:43.704Z","updatedAt":"2025-03-12T16:30:43.704Z","id":"RriHGSU9VJgc7v6c","name":"MVP"}]}