6---jargon-used-and-not-UAbKImf1zk2ElqhH.json
{"createdAt":"2025-03-08T21:43:52.583Z","updatedAt":"2025-08-14T23:30:07.918Z","id":"UAbKImf1zk2ElqhH","name":"6 - Jargon Used and Not","active":false,"isArchived":false,"nodes":[{"parameters":{"tableId":"industry_jargon","fieldsUi":{"fieldValues":[{"fieldId":"client_id","fieldValue":"={{ $('Get Target Market Info').item.json.client_id }}"},{"fieldId":"company","fieldValue":"={{ $('Get Target Market Info').item.json.company }}"},{"fieldId":"good_jargon","fieldValue":"={{ $json.output.jargon.used }}"},{"fieldId":"bad_jargon","fieldValue":"={{ $json.output.jargon.not_used }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[640,560],"id":"80459075-4d8f-4832-a373-544942b09bb0","name":"Supabase1","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}},"onError":"continueErrorOutput"},{"parameters":{"promptType":"define","text":"=ALWAYS USE THE TOOL TO PULL CHUNKS FROM THE VECTOR DATABASE\n\n**Analyze the provided context from THE COMPANY:**\n\n- **Company Name:** \n{{ $('Get Target Market Info').item.json.company }}\n- **Offer:** \n{{ $('Get Target Market Info').item.json.offer }}\n- **Primary Target Market:**\n{{ JSON.stringify($('Get Target Market Info').item.json.primary_target_market, null, 2) }}`\n\n- **Secondary Target Market:**\n-{{ JSON.stringify($('Get Target Market Info').item.json.secondary_target_market) }}\n\n","hasOutputParser":true,"options":{"systemMessage":"=**Role and Objective**\nYou are a marketing researcher. Your objective is to analyze the provided context and all accompanying inputs to identify and differentiate industry-related jargon. Produce two lists: one for jargon commonly used by the target market, and another for jargon not used by the target market—even if such terms are familiar to experts.\n\n**Instructions**\n\nAlways use the tool provided to extract relevant chunks from the vector database.\n\nCarefully review all input context and supporting documents.\n\nIdentify and organize the following:\n\nUsed Jargon: Provide exactly 8 terms or phrases that the target market commonly uses, with concise descriptions of their relevance.\n\nNot Used Jargon: Provide exactly 8 terms or phrases that are not used by the target market (even if familiar to experts), with concise explanations of why they are not used.\n\nInclude the reference context for the organization (if applicable) and a brief description of the target market in your output.\n\nOutput your results as a valid JSON schema object that strictly follows the required JSON schema template.\n\nDo not add any extra fields beyond what is defined in the JSON schema template.\n\n**Reasoning Steps**\n\nBegin by reading and understanding both the input context and any documents provided.\n\nUse the tool to search the vector database for industry-related terminology and language patterns used by the target market.\n\nAddress both the input context and all relevant chunks from the vector database in your analysis.\n\nDistinguish between jargon that is actually used by the target market in their communication, and terms that—while recognized by industry experts—are not present in target market language.\n\nFor each term, provide a concise explanation of its relevance or absence in the target market’s communication.\n\nEnsure you have exactly 8 “Used Jargon” terms and 8 “Not Used Jargon” terms.\n\n**Context**\nYou will have access to input context, supporting documentation, and a vector database tool. Use all available sources and retrieved information as your foundation. The final lists will be used to improve marketing strategy, content accuracy, and customer communications.\n\n**Final instructions and prompt to think step by step**\nCarefully review all relevant input context and tool outputs from the vector database before compiling your lists.\nThink step by step: First, extract and document jargon actually used by the target market, then identify jargon not present in their language, even if familiar to industry experts. When needed, search your knowledge outside of the vector database and context.\nEnsure your output includes the organization context (if applicable), a target market description, and the required lists in a valid JSON schema object—8 “Used Jargon” and 8 “Not Used Jargon,” each with concise descriptions.\nDo not yield control until the output is complete, accurate, and adheres strictly to the JSON schema object requirements.\n\n4. **Output:**  \n   - The final output must be strictly in JSON format.\n   - Ensure the JSON output adheres exactly to the provided JSON Schema Template.\n\n---\n\n**JSON Schema Template:**\n\n```json\n{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"company\": {\n      \"type\": \"string\",\n      \"description\": \"The name or context reference for the organization, if applicable.\"\n    },\n    \"target_market\": {\n      \"type\": \"string\",\n      \"description\": \"A description of the target market, such as designers, decorators, homeowners, etc.\"\n    },\n    \"jargon\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"used\": {\n          \"type\": \"array\",\n          \"description\": \"List of jargon terms commonly used by the target market.\",\n          \"minItems\": 8,\n          \"maxItems\": 8,\n          \"items\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"term\": {\n                \"type\": \"string\",\n                \"description\": \"The jargon term.\"\n              },\n              \"description\": {\n                \"type\": \"string\",\n                \"description\": \"A brief explanation of the term's usage.\"\n              }\n            },\n            \"required\": [\"term\", \"description\"]\n          }\n        },\n        \"not_used\": {\n          \"type\": \"array\",\n          \"description\": \"List of jargon terms not used by the target market.\",\n          \"minItems\": 8,\n          \"maxItems\": 8,\n          \"items\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"term\": {\n                \"type\": \"string\",\n                \"description\": \"The jargon term.\"\n              },\n              \"description\": {\n                \"type\": \"string\",\n                \"description\": \"A brief explanation of why the term is not used.\"\n              }\n            },\n            \"required\": [\"term\", \"description\"]\n          }\n        }\n      },\n      \"required\": [\"used\", \"not_used\"]\n    }\n  },\n  \"required\": [\"company\", \"target_market\", \"jargon\"],\n  \"additionalProperties\": false\n}\n```\n\n---\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[40,580],"id":"793b0010-3685-4089-af88-b1d51576c702","name":"AI Agent","onError":"continueErrorOutput"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"company\": {\n      \"type\": \"string\",\n      \"description\": \"The name or context reference for the organization, if applicable.\"\n    },\n    \"target_market\": {\n      \"type\": \"string\",\n      \"description\": \"A description of the target market, such as designers, decorators, homeowners, etc.\"\n    },\n    \"jargon\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"used\": {\n          \"type\": \"array\",\n          \"description\": \"List of jargon terms commonly used by the target market.\",\n          \"minItems\": 8,\n          \"maxItems\": 8,\n          \"items\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"term\": {\n                \"type\": \"string\",\n                \"description\": \"The jargon term.\"\n              },\n              \"description\": {\n                \"type\": \"string\",\n                \"description\": \"A brief explanation of the term's usage.\"\n              }\n            },\n            \"required\": [\"term\", \"description\"]\n          }\n        },\n        \"not_used\": {\n          \"type\": \"array\",\n          \"description\": \"List of jargon terms not used by the target market.\",\n          \"minItems\": 8,\n          \"maxItems\": 8,\n          \"items\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"term\": {\n                \"type\": \"string\",\n                \"description\": \"The jargon term.\"\n              },\n              \"description\": {\n                \"type\": \"string\",\n                \"description\": \"A brief explanation of why the term is not used.\"\n              }\n            },\n            \"required\": [\"term\", \"description\"]\n          }\n        }\n      },\n      \"required\": [\"used\", \"not_used\"]\n    }\n  },\n  \"required\": [\"company\", \"target_market\", \"jargon\"],\n  \"additionalProperties\": false\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[360,820],"id":"dcc430ee-422f-4571-bb75-b6075d8baac4","name":"Structured Output Parser"},{"parameters":{"mode":"retrieve-as-tool","toolName":"jargon","toolDescription":"Retrieves relevant content from the Tonic Living Pinecone vector store to surface commonly used or avoided jargon, drawing on data from client interviews, testimonials, and company intake forms.","pineconeIndex":{"__rl":true,"value":"={{ $json.company }}","mode":"id"},"topK":10,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[140,1020],"id":"d6b651c9-7ddb-49b2-919d-5901b6df35d9","name":"Pinecone Vector Store1","credentials":{"pineconeApi":{"id":"axuYyU6grhcC8CQp","name":"PineconeApi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[200,1260],"id":"7f8b7af1-43ec-47ed-b096-ee23f8810822","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1220,620],"id":"ebf57178-6597-42b2-a5df-c50ab0e04452","name":"When clicking ‘Test workflow’"},{"parameters":{"content":"## Bubble webhook\n**Need to have Client ID sent via webhook","height":360,"width":260},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1300,440],"id":"3376e4dd-60df-489f-aeba-09e6694e1a3a","name":"Sticky Note"},{"parameters":{"content":"## Change Search to ClientID In Production\n\nCurrently We are just searching for \"Tonic Living\"","height":360,"width":260},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-840,400],"id":"73044b05-5e07-4f61-bccd-2ea3a7b4be3c","name":"Sticky Note1"},{"parameters":{"content":"## Reminder: Tagging & Filtering Client Interview Documents in Pinecone\n\n📌 When Uploading Documents to Pinecone:\n\nEnsure document titles include \"interview\" for client interview files.\nUse metadata tagging to set \"document_type\": \"interview\" dynamically.\nFor non-interview documents, set \"document_type\": \"general\".\n","height":240,"width":300,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[140,340],"id":"7b507f3c-428e-47e0-baef-bc2f24752022","name":"Sticky Note2"},{"parameters":{"content":"## AI Model\nCurrently set\nto o3","height":140,"width":360,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-220,800],"id":"4673ad2b-eb02-4bfa-adb8-6455215ef28b","name":"Sticky Note3"},{"parameters":{"assignments":{"assignments":[{"id":"375b758f-6387-4e71-b280-65106e9442d4","name":"company","value":"={{ $json.company.toLowerCase().replace(/\\s+/g, \"-\") }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-420,580],"id":"f839738e-d903-44f2-b1b8-e461ee419c84","name":"standardize vector name"},{"parameters":{"content":"## Handle Error\nIn production add error handling for data duplication with same ID\n","height":280,"width":380},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[520,440],"id":"7ebcdfc9-0794-483e-9fb3-37d9433694cf","name":"Sticky Note4"},{"parameters":{"content":"## Prompt Notes\n- Only used primary target market, company and offer","color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-100,420],"id":"50df6e61-2aae-453d-a3cb-08fe2a758185","name":"Sticky Note5"},{"parameters":{"content":"## Notes about run\n\nRun Time: 25-35 secs"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-940,960],"id":"04443c70-82a1-421f-87a6-1366905aab31","name":"Sticky Note6"},{"parameters":{"content":"\n\nHave error handling if fails\n","height":80,"width":150},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[340,640],"id":"eaffc1fc-4ae2-47af-b3d8-f0b88c2f2770","name":"Sticky Note7"},{"parameters":{"documentId":{"__rl":true,"value":"1nTyix3NeSNWqhZ-B4CQYlelIdZMVpzz6B-d7tFuWOcs","mode":"list","cachedResultName":"MVP Info","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nTyix3NeSNWqhZ-B4CQYlelIdZMVpzz6B-d7tFuWOcs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Prompts","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nTyix3NeSNWqhZ-B4CQYlelIdZMVpzz6B-d7tFuWOcs/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-1000,620],"id":"1fea1250-4650-41f0-9c8f-905802162f1a","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"tkvcRmLfYi38x0mC","name":"Google Sheets account"}}},{"parameters":{"model":{"__rl":true,"value":"o3","mode":"list","cachedResultName":"o3"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-20,820],"id":"065b2f7c-1dbc-4fcd-bf59-7f93a516138d","name":"AI","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{"operation":"get","tableId":"target_market_profiles","filters":{"conditions":[{"keyName":"company","keyValue":"={{ $json['Company Run'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-760,600],"id":"cbde73ec-0079-4b32-b535-abed59c3c093","name":"Get Target Market Info","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}}],"connections":{"AI Agent":{"main":[[{"node":"Supabase1","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Pinecone Vector Store1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store1","type":"ai_embedding","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"standardize vector name":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Get Target Market Info","type":"main","index":0}]]},"AI":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Get Target Market Info":{"main":[[{"node":"standardize vector name","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"df04dd36-1619-440e-bf68-ab1192a57a85","triggerCount":0,"shared":[{"createdAt":"2025-03-08T21:43:52.583Z","updatedAt":"2025-03-08T21:43:52.583Z","role":"workflow:owner","workflowId":"UAbKImf1zk2ElqhH","projectId":"oeHwV8sNrbPNhUov"}],"tags":[{"createdAt":"2025-03-08T06:02:07.869Z","updatedAt":"2025-03-08T06:02:07.869Z","id":"p2BojbfbdIa5pvok","name":"Messaging"}]}