active---1pmp-architect-error-flow-dn3tPnHbJVLJcfaC.json
{"createdAt":"2025-10-18T18:36:12.390Z","updatedAt":"2025-10-23T18:55:23.828Z","id":"dn3tPnHbJVLJcfaC","name":"Active - 1PMP Architect Error flow","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-272,-16],"id":"44c6e637-0eba-4992-910f-a200a9ddefee","name":"Error Trigger"},{"parameters":{"select":"user","user":{"__rl":true,"value":"U06SQS1M8E8","mode":"list","cachedResultName":"nate"},"text":"=Yo dawg - there was an error with the 1PMP architect. \n\nUser email: {{ $('Get an execution').item.json.data.resultData.runData.Webhook[0].data.main[0][0].json.body.USER_EMAIL }}\n\nCompany Name: {{ $('Get an execution').item.json.data.resultData.runData.Webhook[0].data.main[0][0].json.body.BUSINESS_NAME }}\n\nError in this node: {{ $('Get an execution').item.json.data.resultData.runData['Copy file'][0].error.cause }}","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[496,-16],"id":"db84163e-4f08-42ec-9c51-5caa2dd8d046","name":"Send a message","webhookId":"57e7d913-cfd1-4d4f-990a-e697d0134ce9","credentials":{"slackApi":{"id":"gfXOpaJn4CTfHtfV","name":"Slack account 2"}}},{"parameters":{"content":"## I'm a note \neyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI4YjE4ZDNmNC1mMGIyLTQ3OWUtYWI5NS0xYzA3NmRmZjIzNjYiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzYwODE4NjQxfQ.KZ5brRPtX6C9CuA3u4-GGPD0lnAoJo0zCzlwj8CzVxU"},"type":"n8n-nodes-base.stickyNote","position":[-608,-176],"typeVersion":1,"id":"7456cf3d-352a-4d6c-bed9-99788e4da395","name":"Sticky Note"},{"parameters":{"resource":"execution","operation":"get","executionId":"={{ $json.execution.id }}","options":{"activeWorkflows":true},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-64,-16],"id":"bf7c7014-21e7-47a2-9e51-43d79f8bbf25","name":"Get an execution","credentials":{"n8nApi":{"id":"CQbHCquUaDRXoIx0","name":"n8n account"}}},{"parameters":{"fromEmail":"nathaniel@dropchain.network","toEmail":"={{ $json.data.resultData.runData.Webhook[0].data.main[0][0].json.body.USER_EMAIL }}","subject":"Oops - we need you to try again","html":"=<p>Hi {{ $json.data.resultData.runData.Webhook[0].data.main[0][0].json.body.USER_NAME }},</p>\n\n<p>Something went wrong while generating your 1-Page Marketing Plan.</p>\n\n<p>(Technology, right?)</p>\n\n<p><strong>The good news:</strong> It's an easy fix.</p>\n\n<p>\n  <a href=\"https://share.hsforms.com/2_TNQ5eisRKu2OE1Z-b1IZw1zkx4\">\n    <strong>Click here to resubmit your information and generate your plan</strong>\n  </a>\n</p>\n\n<p>It only takes 5 minutes, and you'll have your custom marketing plan in your inbox within 30 minutes.</p>\n\n<p>If you continue to have issues, just reply to this email and we'll get you sorted out manually.</p>\n\n<p>Thanks for your patience,<br>Allan</p>\n","options":{"appendAttribution":false}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[-608,160],"id":"6e948f50-4346-4261-b195-289f86de75ed","name":"Send email","webhookId":"66868533-6409-4f9e-9b20-79fbda8ceeef","credentials":{"smtp":{"id":"OP2CrupYvCaqKL1F","name":"Nate's test email account"}}},{"parameters":{"sendTo":"={{ $json.data.resultData.runData.Webhook[0].data.main[0][0].json.body.USER_EMAIL }}","subject":"Oops - we need you to try again","message":"=<p>Hi {{ $json.data.resultData.runData.Webhook[0].data.main[0][0].json.body.USER_NAME }},</p>  <p>Something went wrong while generating your 1-Page Marketing Plan.</p>  <p>(Technology, right?)</p>  <p><strong>The good news:</strong> It's an easy fix.</p>  <p>   <a href=\"https://share.hsforms.com/2_TNQ5eisRKu2OE1Z-b1IZw1zkx4\">     <strong>Click here to resubmit your information and generate your plan</strong>   </a> </p>  <p>It only takes 5 minutes, and you'll have your custom marketing plan in your inbox within 30 minutes.</p>  <p>If you continue to have issues, just reply to this email and we'll get you sorted out manually.</p>  <p>Thanks for your patience,<br>Allan</p>","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[192,-32],"id":"d010fd56-e96a-4472-9bf4-204a802b9f32","name":"Send a message1","webhookId":"327059b7-a72f-4b40-bc01-73b3e75a49d5","credentials":{"gmailOAuth2":{"id":"D9r9mQ6IT2cyokHH","name":"Allans Email"}}},{"parameters":{"select":"user","user":{"__rl":true,"value":"U07J1AQET3N","mode":"id"},"text":"=Yo dawg - there was an error with the 1PMP architect. \n\nUser email: {{ $('Get an execution').item.json.data.resultData.runData.Webhook[0].data.main[0][0].json.body.USER_EMAIL }}\n\nCompany Name: {{ $('Get an execution').item.json.data.resultData.runData.Webhook[0].data.main[0][0].json.body.BUSINESS_NAME }}\n\nError in this node: {{ $('Get an execution').item.json.data.resultData.runData['Copy file'][0].error.cause }}","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[752,-32],"id":"abcaf63b-c418-4bdb-b1e8-2455f8232f1d","name":"Send a message2","webhookId":"57e7d913-cfd1-4d4f-990a-e697d0134ce9","credentials":{"slackApi":{"id":"gfXOpaJn4CTfHtfV","name":"Slack account 2"}}}],"connections":{"Error Trigger":{"main":[[{"node":"Get an execution","type":"main","index":0}]]},"Get an execution":{"main":[[{"node":"Send a message1","type":"main","index":0}]]},"Send a message":{"main":[[{"node":"Send a message2","type":"main","index":0}]]},"Send email":{"main":[[]]},"Send a message1":{"main":[[{"node":"Send a message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Error Trigger":[{"json":{"execution":{"id":"7737","url":"https://primary-production-cea5.up.railway.app/workflow/zhPoTV9yAnlv0Gjj/executions/7737","error":{"level":"error","tags":{},"cause":"={{ $json.body.BUSINESS_NAME }} - 1 Page Marketing Plan - {{ new Date().toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric'ffda }) }}\n","message":"invalid syntax","stack":"Error: invalid syntax\n    at Expression.renderExpression (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-workflow@file+packages+workflow/node_modules/n8n-workflow/src/expression.ts:336:36)\n    at Expression.resolveSimpleParameterValue (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-workflow@file+packages+workflow/node_modules/n8n-workflow/src/expression.ts:311:28)\n    at Expression.getParameterValue (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-workflow@file+packages+workflow/node_modules/n8n-workflow/src/expression.ts:522:16)\n    at ExecuteContext._getNodeParameter (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_08b575bec2313d5d8a4cc75358971443/node_modules/n8n-core/src/execution-engine/node-execution-context/node-execution-context.ts:418:37)\n    at ExecuteContext.getNodeParameter (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_08b575bec2313d5d8a4cc75358971443/node_modules/n8n-core/src/execution-engine/node-execution-context/execute-context.ts:126:9)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_afd197edb2c1f848eae21a96a97fab23/node_modules/n8n-nodes-base/nodes/Google/Drive/v2/actions/file/copy.operation.ts:90:18)\n    at ExecuteContext.router (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_afd197edb2c1f848eae21a96a97fab23/node_modules/n8n-nodes-base/nodes/Google/Drive/v2/actions/router.ts:29:68)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_afd197edb2c1f848eae21a96a97fab23/node_modules/n8n-nodes-base/nodes/Google/Drive/v2/GoogleDriveV2.node.ts:25:23)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_08b575bec2313d5d8a4cc75358971443/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1254:31)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_08b575bec2313d5d8a4cc75358971443/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1428:22)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_08b575bec2313d5d8a4cc75358971443/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1761:38\n    at processTicksAndRejections (node:internal/process/task_queues:105:5)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_08b575bec2313d5d8a4cc75358971443/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2338:11"},"lastNodeExecuted":"Copy file","mode":"webhook"},"workflow":{"id":"zhPoTV9yAnlv0Gjj","name":"1PMP Agent (TESTING GROUND)"}}}]},"versionId":"c24a578c-5ef2-4fa2-a411-a15176eab9b1","triggerCount":0,"shared":[{"createdAt":"2025-10-18T18:36:12.390Z","updatedAt":"2025-10-18T18:36:12.390Z","role":"workflow:owner","workflowId":"dn3tPnHbJVLJcfaC","projectId":"oeHwV8sNrbPNhUov"}],"tags":[]}