cheat-sheet-v2-DkQLdO8usHEyzrBw.json
{"createdAt":"2025-09-22T20:59:19.233Z","updatedAt":"2025-10-02T07:19:23.277Z","id":"DkQLdO8usHEyzrBw","name":"Cheat Sheet v2","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"get","tableId":"v_complete_client_context","filters":{"conditions":[{"keyName":"client_id","keyValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-928,-16],"id":"4ca9e695-9197-4edf-ba42-b5269691326e","name":"Get Client Complete Profile","executeOnce":false,"alwaysOutputData":false,"credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-5","mode":"list","cachedResultName":"gpt-5"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-944,208],"id":"bcd236fd-db00-49dd-a505-3d358a060a81","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{"promptType":"define","text":"=Create an elevator pitch for this business. \n\nHere is their data.\nCompany: {{ $json.company }}\nOffering: {{ $json.offer }}\nIndustry: {{ $json.industry }}\n\nKeep it short. ","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-496,-16],"id":"7efe3569-dc7d-40e5-b099-aebc4b08643f","name":"Business Agent"},{"parameters":{"operation":"copy","fileId":{"__rl":true,"value":"15fPrZw0IY_oJODqhuIGO9mpsFDjzouz67zo9oDieI4I","mode":"list","cachedResultName":"MVP Messaging Cheat Sheet Template","cachedResultUrl":"https://docs.google.com/document/d/15fPrZw0IY_oJODqhuIGO9mpsFDjzouz67zo9oDieI4I/edit?usp=drivesdk"},"name":"={{ $('Get Client Complete Profile').item.json.company }} = Cheat Sheet - {{ $now }}","sameFolder":false,"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1nHOsYabdfDpeOiKelGWL21ikdFwAJP5N","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-624,272],"id":"48ad3aa2-c234-4c7e-8eed-bdf4759b311c","name":"Copy file","credentials":{"googleDriveOAuth2Api":{"id":"3VzmfL5shCfEf9cg","name":"Google Drive account 2"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Code1').item.json.documentId }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"application/pdf"}},"fileName":"={{ $('Copy file').item.json.name }}.pdf"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-624,512],"id":"9605afd8-0f90-48a4-a4fd-c1ef115ffd05","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"3VzmfL5shCfEf9cg","name":"Google Drive account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"5f6e05de-2e85-4a0d-b8c6-2506afc92e33","name":"=COMPANY_NAME","value":"={{ $('Get Client Complete Profile').item.json.company }}","type":"string"},{"id":"7440ff5c-dc60-46b2-82b9-6ddc7f5e0fa9","name":"ELEVATOR_PITCH","value":"={{ $('Business Agent').item.json.output }}","type":"string"},{"id":"afcb8dc2-481a-45b6-a349-d8af5f9fe494","name":"OFFER","value":"={{ $('Get Client Complete Profile').item.json.offer }}","type":"string"},{"id":"47b76d5c-5bc6-47b8-a999-d57be7a21a0f","name":"AGE_LOCATION","value":"={{ $('Get Client Complete Profile').item.json.target_market_profiles.primary_target_market.demographics.age_range }} / {{ $('Get Client Complete Profile').item.json.target_market_profiles.primary_target_market.demographics.geography }}","type":"string"},{"id":"0d02b997-8f5f-4e59-9dfc-71e12076cbdb","name":"JOB_TITLE","value":"={{ $('Get Client Complete Profile').item.json.target_market_profiles.primary_target_market.demographics.profession }}","type":"string"},{"id":"7fbb0368-5bb9-4431-adf6-62c634c0b9cc","name":"INDUSTRY","value":"={{ $('Get Client Complete Profile').item.json.industry }}","type":"string"},{"id":"77ce533d-504b-43c3-b526-71a9a431cde3","name":"VALUES","value":"={{ $('Get Client Complete Profile').item.json.target_market_profiles.primary_target_market.psychographics.values }}","type":"string"},{"id":"aa1e64a3-51d7-4b2f-803e-7b0e714e8a86","name":"PSYCHOGRAPHICS","value":"={{ $('Get Client Complete Profile').item.json.target_market_profiles.primary_target_market.psychographics.lifestyle }}","type":"string"},{"id":"00e6927f-454c-470b-aad5-06f678db938b","name":"AWARENESS_LEVEL","value":"={{ $('Get Client Complete Profile').item.json.awareness_stages.most_aware.stage }} - {{ $('Get Client Complete Profile').item.json.awareness_stages.most_aware.outputs.idealContent[0].topicIdea }}\n\n{{ $('Get Client Complete Profile').item.json.awareness_stages.problem_aware.stage }} - {{ $('Get Client Complete Profile').item.json.awareness_stages.problem_aware.outputs.idealContent[0].topicIdea }}\n\n{{ $('Get Client Complete Profile').item.json.awareness_stages.product_aware.stage }} - {{ $('Get Client Complete Profile').item.json.awareness_stages.product_aware.outputs.idealContent[0].topicIdea }}\n\n{{ $('Get Client Complete Profile').item.json.awareness_stages.solution_aware.stage }} - {{ $('Get Client Complete Profile').item.json.awareness_stages.solution_aware.outputs.idealContent[0].topicIdea }}\n\n{{ $('Get Client Complete Profile').item.json.awareness_stages.problem_unaware.stage }} - {{ $('Get Client Complete Profile').item.json.awareness_stages.problem_unaware.outputs.idealContent[0].topicIdea }}","type":"string"},{"id":"3d65ca22-2ab4-4220-82a7-0eaa0c1f0fa1","name":"PRIMARY_DESIRE","value":"={{ $('Get Client Complete Profile').item.json.common_words_and_phrases.primary_target_market[0].phrase }}\n\n{{ $('Get Client Complete Profile').item.json.desired_transformations.primary_transformation.desiredTransformation }}","type":"string"},{"id":"5f13308d-86ba-40d8-80f0-4f897835cac5","name":"PAIN_POINTS","value":"={{ $('Get Client Complete Profile').item.json.pain_points_extractions.known_pain_points.primaryTargetMarket[0].painPoint }} / {{ $('Get Client Complete Profile').item.json.pain_points_extractions.known_pain_points.primaryTargetMarket[0].statedIssue }}","type":"string"},{"id":"466d56bc-e9ef-4872-9892-f23d74f2659b","name":"PAIN_RIPPLES","value":"={{ $('Get Client Complete Profile').item.json.awareness_stages.problem_unaware.outputs.behaviors }}","type":"string"},{"id":"27234f97-d5b6-41e4-893a-139e24b15260","name":"TRANSFORMATION","value":"={{ $('Get Client Complete Profile').item.json.desired_transformations.primary_transformation.keyElements[0].example }}","type":"string"},{"id":"9eba5865-e0c5-49ed-8d60-70c6a5efe7a9","name":"MISCONCEPTIONS","value":"={{ $('Get Client Complete Profile').item.json.misconceptions_output.summary[0] }}","type":"string"},{"id":"67ffff34-9e1d-40bc-98f2-503737a14e7c","name":"OBJECTIONS","value":"={{ $('Get Client Complete Profile').item.json.desired_transformations.overarching_transformation }}","type":"string"},{"id":"3a709a8a-e34c-4003-9a1a-0fa3790a988b","name":"COMPANY_VALUES","value":"={{ $('Get Client Complete Profile').item.json.target_market_profiles.secondary_target_market.psychographics.values }}","type":"string"},{"id":"6f33ab60-b279-4e1c-bd3f-909ffe137f5f","name":"BRAND_PERSONALITY","value":"={{ $('Get Client Complete Profile').item.json.brand_personality.famous_person.name }} - {{ $('Get Client Complete Profile').item.json.brand_personality.famous_person.description }}\n{{ $('Get Client Complete Profile').item.json.brand_personality.personality_traits[0].trait }} - {{ $('Get Client Complete Profile').item.json.brand_personality.personality_traits[0].description }}","type":"string"},{"id":"86b78292-33cf-4c02-9534-6f9676a8b58a","name":"TONE_OF_VOICE","value":"={{ $('Get Client Complete Profile').item.json.tone_of_voice_guide.comparison_with_competitors[0].competitorTone }}","type":"string"},{"id":"10abaadb-f052-4471-a72b-442400b8203e","name":"WORDS_USE","value":"={{ $('Get Client Complete Profile').item.json.words_we_use.marketing_terminology.map(w => w.term).join(', ') }}\n","type":"string"},{"id":"0911762c-dc15-4769-b414-88961181a3c7","name":"WORDS_DONT","value":"={{ $('Get Client Complete Profile').item.json.words_we_dont_use.marketing_avoid_terminology.map(w => w.term).join(', ') }}","type":"string"},{"id":"9bd83cbc-0f2b-40cd-8919-935d1344d1c1","name":"COMPETITORS","value":"={{ $('Get Client Complete Profile').item.json.tone_of_voice_guide.comparison_with_competitors[0].competitor }}","type":"string"},{"id":"2317c0cf-069a-4de7-a891-7d0b5cc6fe2e","name":"DIFFERENTIATOR","value":"={{ $('Get Client Complete Profile').item.json.tone_of_voice_guide.comparison_with_competitors[0].brandDifference }}","type":"string"},{"id":"e2e7317c-59ab-4b19-97da-2350eafb396d","name":"UNIQUE_STORY","value":"={{ $('Get Client Complete Profile').item.json.tone_of_voice_guide.unique_tone_characteristics[0] }}\n\n{{ $('Get Client Complete Profile').item.json.tone_of_voice_guide.tone_of_voice_characteristics[0].example }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-80,-16],"id":"9cd98e43-1e34-470c-ac76-acf64922c1bc","name":"Edit Fields"},{"parameters":{"method":"POST","url":"=https://docs.googleapis.com/v1/documents/{{$node[\"Copy file\"].json[\"id\"]}}:batchUpdate","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendBody":true,"specifyBody":"json","jsonBody":"={{ { requests: $json.requests } }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-112,272],"id":"26b7edce-368e-491d-8f02-58c26c972eae","name":"HTTP Request","credentials":{"googleDriveOAuth2Api":{"id":"3VzmfL5shCfEf9cg","name":"Google Drive account 2"}}},{"parameters":{"jsCode":"// Pull the flattened fields from the \"Edit Fields\" node\nconst editItem = $items('Edit Fields', 0, 0)[0];\nconst data = editItem ? editItem.json : {};\n\n// Helper: stringify safely\nconst toString = (v) => {\n  if (v == null) return '';\n  if (Array.isArray(v)) return v.join(', ');\n  if (typeof v === 'object') return JSON.stringify(v, null, 2);\n  return String(v);\n};\n\n// Only build requests for placeholders you actually use in the template\nconst ALLOWED_KEYS = [\n  'COMPANY_NAME','OFFER','ELEVATOR_PITCH',\n  'AGE_LOCATION','JOB_TITLE','INDUSTRY','VALUES','PSYCHOGRAPHICS','AWARENESS_LEVEL','PRIMARY_DESIRE',\n  'PAIN_POINTS','PAIN_RIPPLES','TRANSFORMATION','UNIQUE_MECHANISM','MISCONCEPTIONS','FAILED_ATTEMPTS','OBJECTIONS','ATF_COPY','TESTIMONIALS_LINK',\n  'COMPANY_VALUES','BRAND_PERSONALITY','TONE_OF_VOICE','WORDS_USE','WORDS_DONT',\n  'TRAFFIC_SOURCES','WHATS_WORKING','WHATS_NOT_WORKING','ULTIMATE_ACTION','COMPETITORS','DIFFERENTIATOR','UNIQUE_STORY'\n];\n\nconst requests = ALLOWED_KEYS\n  .filter(k => Object.prototype.hasOwnProperty.call(data, k) && data[k] !== undefined && data[k] !== null)\n  .map(k => ({\n    replaceAllText: {\n      containsText: { text: `{{${k}}}`, matchCase: true },\n      replaceText: toString(data[k])\n    }\n  }));\n\nconst documentId = $node['Copy file'].json.id; // the doc you just copied\nreturn [{ json: { documentId, requests } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-384,272],"id":"b74c3d9e-06dc-45ae-89f5-f08cdd1bd5a2","name":"Code1"},{"parameters":{"method":"PUT","url":"=https://jwehqqyzlbpolkfkjhai.storage.supabase.co/storage/v1/object/cheatSheets/{{ $('When Executed by Another Workflow').item.json.client_id }}/Messaging_CheatSheet.pdf","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-320,512],"id":"19f79d83-042d-40db-a5c2-5c076a0bb3e0","name":"HTTP Request1","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"workflowInputs":{"values":[{"name":"client_id"},{"name":"Overwrite"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1184,-16],"id":"dd682700-2571-4e0c-bc3b-aa8bcf408c7d","name":"When Executed by Another Workflow"},{"parameters":{"workflowId":{"__rl":true,"value":"sO8CTnltr10uGV5J","mode":"list","cachedResultName":"Welcome Sequence"},"workflowInputs":{"mappingMode":"defineBelow","value":{"client_id":"={{ $('When Executed by Another Workflow').item.json.client_id }}","Overwrite":"={{ $('When Executed by Another Workflow').item.json.Overwrite }}"},"matchingColumns":[],"schema":[{"id":"client_id","displayName":"client_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Overwrite","displayName":"Overwrite","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[80,512],"id":"9df8aa07-dfe3-4728-83af-df2dc2910690","name":"Execute Workflow","disabled":true,"onError":"continueErrorOutput"},{"parameters":{"method":"PATCH","url":"=https://lm-mvp-69101.bubbleapps.io/api/1.1/obj/user/{{ $('When Executed by Another Workflow').item.json.client_id }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"=cheatSheetCreated","value":"=yes"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-112,512],"id":"821a13db-5b13-40bd-86f3-b23adc7ddb16","name":"PATCH Bubble | cheatSheetCreated","executeOnce":false,"credentials":{"httpBearerAuth":{"id":"HaB66UWZxLvho3WH","name":"Bubble API Key"}},"disabled":true}],"connections":{"Get Client Complete Profile":{"main":[[{"node":"Business Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Business Agent","type":"ai_languageModel","index":0}]]},"Business Agent":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Copy file":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Download file":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Copy file","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Code1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Get Client Complete Profile","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"PATCH Bubble | cheatSheetCreated","type":"main","index":0}]]},"PATCH Bubble | cheatSheetCreated":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"Say8YWSN0KVBjGyp"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"client_id":"1650987991917x277951650850529760","Overwrite":"no"}}]},"versionId":"f73ebdd7-e378-4d25-8ac0-d74ec5a032ec","triggerCount":0,"shared":[{"createdAt":"2025-09-22T20:59:19.233Z","updatedAt":"2025-09-22T20:59:19.233Z","role":"workflow:owner","workflowId":"DkQLdO8usHEyzrBw","projectId":"oeHwV8sNrbPNhUov"}],"tags":[]}