coaching-call-qc-lGHwFXTwnlYDNXbf.json
{"createdAt":"2025-03-21T08:47:19.607Z","updatedAt":"2025-09-09T21:28:44.090Z","id":"lGHwFXTwnlYDNXbf","name":"Coaching Call QC","active":true,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1TO-Fiugsyj9AVc_7nSOcG2H1_EorFRre","mode":"list","cachedResultName":"Fathom Transcripts - Client Call QC","cachedResultUrl":"https://drive.google.com/drive/folders/1TO-Fiugsyj9AVc_7nSOcG2H1_EorFRre"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-2224,352],"id":"d54f893d-6dcc-4e08-90fe-d924137e8c8a","name":"Google Drive Trigger","credentials":{"googleDriveOAuth2Api":{"id":"3VzmfL5shCfEf9cg","name":"Google Drive account 2"}}},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"title\": \"Coaching Call Analysis Output\",\n  \"description\": \"Schema for structured call analysis agent output from coaching call transcripts\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"company_name\": {\n      \"type\": \"string\",\n      \"description\": \"The name of the company\"\n    },\n    \"host\": {\n      \"type\": \"string\",\n      \"description\": \"Name of the coach or advisor who hosted the call\"\n    },\n    \"summary\": {\n      \"type\": \"string\",\n      \"description\": \"Concise title and one short sentence summarizing key discussion points, primary goals, obstacles, and client-coach alignment. No more than 15 words\"\n    },\n    \"discussion_points\": {\n      \"type\": \"string\",\n      \"description\": \"Structured bullet list of concrete follow-up actions with responsible party and deadlines\"\n    },\n    \"date_of_call\": {\n      \"type\": \"string\",\n      \"pattern\": \"^[A-Za-z]+ \\\\d{1,2}, \\\\d{4}$\",\n      \"description\": \"Date of the call in 'Month Day, YYYY' format (e.g., 'January 15, 2025')\"\n    },\n    \"consulting_health\": {\n      \"type\": \"string\",\n      \"enum\": [\"Green\", \"Yellow\", \"Red\"],\n      \"description\": \"Client implementation status: Green (strong progress), Yellow (partial/stagnation), Red (no implementation/falling behind)\"\n    },\n    \"sentiment\": {\n      \"type\": \"string\",\n      \"enum\": [\"Positive\", \"Uncertain\", \"Unrealistic expectations\", \"Negative\"],\n      \"description\": \"Client buy-in and engagement classification\"\n    },\n    \"link_to_call_recording\": {\n      \"type\": \"string\",\n      \"format\": \"uri\",\n      \"pattern\": \"^https://fathom\\\\.video\",\n      \"description\": \"Direct URL to the call recording from the document (must start with https://fathom.video)\"\n    },\n    \"archetype\": {\n      \"type\": \"string\",\n      \"enum\": [\"Doer\", \"Driver\", \"Worrier\", \"Follower\"],\n      \"description\": \"Client classification: Doer (high self-confidence, low tool confidence), Driver (high both, distrusts advisor), Worrier (low both, overthinks), Follower (low self, high tool confidence)\"\n    },\n    \"red_flags\": {\n      \"type\": \"string\",\n      \"description\": \"Three bullet points of major client blockers with timestamps and negative emotions\"\n    },\n    \"green_lights\": {\n      \"type\": \"string\",\n      \"description\": \"Three bullet points of positive signals with timestamps and positive emotions\"\n    },\n    \"rapport_score\": {\n      \"type\": \"integer\",\n      \"enum\": [1, 3, 5, 7],\n      \"description\": \"Score for how well coach built rapport (warmth, curiosity, mirroring, pacing)\"\n    },\n    \"agenda_score\": {\n      \"type\": \"integer\",\n      \"enum\": [1, 3, 5, 7],\n      \"description\": \"Score for agenda clarity and maintenance during the call\"\n    },\n    \"energy_score\": {\n      \"type\": \"integer\",\n      \"enum\": [1, 3, 5, 7],\n      \"description\": \"Score for coach engagement, presence, and momentum maintenance\"\n    },\n    \"summary_action_score\": {\n      \"type\": \"integer\",\n      \"enum\": [1, 3, 5, 7],\n      \"description\": \"Score for how well next steps were summarized and clarified\"\n    },\n    \"renewal_convo_analysis\": {\n      \"type\": [\"string\"],\n      \"description\": \"Two-paragraph analysis of contract renewal conversation (what worked well and what could improve), or write 'nothing discussed' if not applicable\"\n    },\n    \"action_items\": {\n      \"type\": \"string\",\n      \"description\": \"Bullet list of primary action items from the call\"\n    },\n    \"fathom_summary\": {\n      \"type\": \"string\",\n      \"description\": \"Structured Fathom-style summary with Title, Meeting Purpose, Key Takeaways, Topics, Next Steps, and Action Items\"\n    }\n  },\n  \"required\": [\n    \"company_name\",\n    \"host\",\n    \"summary\",\n    \"discussion_points\",\n    \"date_of_call\",\n    \"consulting_health\",\n    \"sentiment\",\n    \"link_to_call_recording\",\n    \"archetype\",\n    \"red_flags\",\n    \"green_lights\",\n    \"rapport_score\",\n    \"agenda_score\",\n    \"energy_score\",\n    \"summary_action_score\",\n    \"action_items\",\n    \"fathom_summary\"\n  ],\n  \"additionalProperties\": false\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[976,208],"id":"06538c7f-c81b-4230-a821-dd8b706fad90","name":"Structured Output Parser1"},{"parameters":{"documentId":{"__rl":true,"value":"1mmVcdIyaz-jfaRseG97pFPeh1OVeT9T11p87k31oG5M","mode":"list","cachedResultName":"Slack User to Company Mapping","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1mmVcdIyaz-jfaRseG97pFPeh1OVeT9T11p87k31oG5M/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1mmVcdIyaz-jfaRseG97pFPeh1OVeT9T11p87k31oG5M/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-704,16],"id":"eb699184-ef93-4174-a476-e4f016ac8ba5","name":"Reads Slack Google Sheet","retryOnFail":true,"credentials":{"googleSheetsOAuth2Api":{"id":"fDxpMWdEItte31h1","name":"Google Sheets account 2"}}},{"parameters":{"text":"={{ $json.callTranscript }}","attributes":{"attributes":[{"name":"Attendees emails","description":"These are all the emails of the users on the call. Could be Multiple.","required":true},{"name":"Name of Attendees","description":"These are the names of the people attending the call.","required":true},{"name":"Email of Fathom User","description":"This is the email of the user"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.1,"position":[-1552,352],"id":"f7ca5e8c-925f-47c6-a0a4-a58db0b179d3","name":"Information Extractor"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1456,576],"id":"82a1952f-f049-404d-83b0-46a6f4b042c3","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"5Ods8kFLAhbAPcNj","name":"OpenAi account 2"}}},{"parameters":{"operation":"text","destinationKey":"callTranscript","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-1776,352],"id":"63ce3e0d-57af-4c17-a0d3-f978b637b41d","name":"Extract from File"},{"parameters":{"aggregate":"={{ $json.Name }}","fieldsToAggregate":{"fieldToAggregate":[{}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-400,16],"id":"6c241a50-f6e9-4883-9b07-a57a389df20f","name":"Aggregate"},{"parameters":{"promptType":"define","text":"=Return only a valid JSON object, strictly matching the schema. Do not include any markdown, explanations, or extra text.\n\nAnalyze this contnet: {{ $json.data }}\n\n","hasOutputParser":true,"options":{"systemMessage":"=##Role and Objective##\n\nYou are a structured call analysis agent. Your job is to extract actionable insights, performance ratings, and psychological assessments from coaching call transcripts. Each output must conform strictly to a defined JSON schema. Your judgments must be supported by explicit evidence from the call.\n\n##Instructions##\n\nAnalyze the entire document thoroughly.\n\nFollow the specific field definitions below. Be exact.\n\nUse concrete call content for all inferences—no speculation.\n\nFormat output as a valid JSON object, conforming to the schema below.\n\nDo not end until all sections are complete, thoroughly supported, and explicitly described.\n\nAssume current year is 2025 unless otherwise stated.\n\n##Field Definitions##\n\n#Company Name#\n\nDefinition: The name of the company.\n\n#Host#\n The name of the advisor. This can be found immediatly after \"Fathom User Email\"\n\n#summary#\n\nDefinition: Provide a concise title and 1 sentence summarizing the primary discussion point of the call. Focus on primary goals, obstacles, and client-coach alignment. It is not necessary to use complete sentences. Highlight only the most impactful results and topics discussed on the call. Do not use full sentences. The summary cannot be more than 15 words. \n\n#discussion_points#\n\nDefinition: A structured bullet list of concrete follow-up actions mentioned during the call.\n\nEach item must include:\n\nAction item\n\nWho is responsible \n\nDeadline or expected time frame (if mentioned)\n\nUse imperative tone (\"Complete X\", \"Send Y\").\n\n##DateOfCall##\n\nDefinition: Date of the call, in \"Month Day, YYYY\" format.\nYou will receive the format in ISO 8601 format. you must translate that to extrade the date in \"Monday Day, Year\" format. \n\n#consulting_health#\n\nDefinition: Use your best judgment to determine the current progress of their marketing plan, excecution of critical tasks, and weather or not they will achieve the goals they set for themselves. Evaluate the client’s implementation status using these categories:\n\n#Green#: Strong implementation, following direction, making progress, bought into the plan, agrees with the implemenation plan and suggestions from the advisor, confident about the future and the plan moving forward. During the call, the client may be uncertain at the beginning of the call but feels much more confident at the end of the call, mark as green\n\nPhrases/indicators: “You're doing great”, “On track”, “Making great progress”, \"this plan sounds great,\" \"Thank you for your support and help,\" \"we are loving the program,\" \"That makes sense\", \"I like that\", \"back on track\"\n\n#Yellow#: Partial implementation or early signs of stagnation, not in agreement with the plan. \n\nPhrases/indicators: “We need to pick up the pace”, “What's blocking this?”, “This might become an issue”, \"I'm stuck,\" \"I'm confused\"\n\n#Red#: No implementation, not following guidance, falling behind, agressive toward the advisor, negitive sentiment toward lean marketing, not bought into the plan set out by the advisor\n\nPhrases, Indicators: No follow-through, repeated inaction, verbal resistance, \"You're not making progress,\" \"Something isn't working,\" \"Something needs to change\", \"Frustrated,\" \"Falling apart\"\n\n#sentiment#\n\nDefinition: Classify client buy-in and engagement intzzo one of the following:\n\n\"Positive\": Client is coachable, follows through, shows ownership and positivity.\n\n\"Uncertain\": Client is ambiguous, lacks action, seems unsure but not resistant.\n\n\"Unrealistic expectations\": Client is motivated but disconnected from feasible timelines, underestimates effort required.\n\n\"Negative\": Client resists feedback, lacks accountability, expresses pessimism or frustration.\n\nKey rules:\n\nNever classify as Positive if client shows:\n\nPessimism\n\nBlame-shifting\n\nUncoachable or dismissive behavior\n\nNegative emotional volatility\n\nLabel as Uncertain if client:\n\nHesitates or deflects accountability\n\nUses vague or passive language\n\nLabel as Positive if client:\n\nIs upbeat, clear, and aligned with next steps\n\n#LinkToCallRecording#\n\nDefinition: Direct URL link to the full call recording. You will find this in the provided document under the label \"URLs\"\n\nSpecial instructions for recording_link property. NEVER output a made up link. You will find the URL within the provided document. In the link above the URL, you will find a label: \"URLs\". Only output the URL that is directly below that label. The Correct URL will always begin with \"https://fathom.video:\n\narchetype\n\nDefinition: Classify the client into one of four types based on confidence, emotional tone, and behavior:\n\nDoer:\n\nHigh confidence in self\n\nLow confidence in tools\n\nTrusts advisor, shows no arrogance\n\nHigh work ethic, takes direction\n\nDriver:\n\nHigh confidence in self and tools\n\nDistrusts advisor, seeks control\n\nMay show arrogance\n\nFocused obsessively on results\n\nWorrier:\n\nLow self-confidence, low confidence in tools\n\nNo complacency or arrogance\n\nOverthinks\n\nEasily overwhelmed\n\nFollower:\n\nLow self-confidence, high confidence in tools\n\nPassive or complacent\n\nDoesn’t challenge assumptions, seeks reassurance\n\nred_flags\n\nDefinition: Identify 3 major challenges, pain points, or blockers raised by the client.\n\nFormat as bullet points\n\nInclude:\n\nTimestamp (e.g., \"00:17:05\")\n\nDescription of the challenge\n\nOne or more negative emotions detected (e.g., “overwhelm”, “frustration”, “resignation”)\n\n#green_lights#\n\nDefinition: Identify 3 positive signals from the client.\n\nFormat as bullet points\n\nInclude:\n\nTimestamp (e.g., \"00:32:40\")\n\nDescription of the win, clarity, or alignment\n\nOne or more positive emotions (e.g., “enthusiasm”, “relief”, “confidence”)\n\n## RapportScore\n- 1 = No rapport, conversation felt tense or cold, little mutual curiosity or personal sharing.\n- 3 = Below average rapport; coach showed minimal warmth or curiosity, somewhat transactional.\n- 5 = Good connection, moderate warmth and curiosity, shared small personal or business insights.\n- 7 = Excellent rapport, warm, engaged, coach and client laughed or explored personal angles.\n\n## AgendaScore\n- 1 = No agenda set, conversation was unfocused and jumped around.\n- 3 = Coach hinted at general outline but didn’t clearly define steps or priorities.\n- 5 = Clear solid agenda, listed primary topics, revisited goals midway.\n- 7 = Very strong agenda setting — listed all points, got explicit client alignment, and recapped at end.\n\n## EnergyScore\n- 1 = Flat energy, little emotion, call dragged, minimal vocal or emotional engagement.\n- 3 = Below average energy, slightly monotone or hesitant, only brief moments of engagement.\n- 5 = Average healthy energy, steady momentum, moderate enthusiasm and interest.\n- 7 = Very high energy, coach and client sounded excited, enthusiastic, kept momentum high.\n\n## SummaryActionScore\n- 1 = No clear summary or next steps, ended abruptly or with confusion.\n- 3 = Brief or vague mention of next steps, no ownership or dates confirmed.\n- 5 = Reasonably clear summary and next steps, some responsibilities discussed.\n- 7 = Excellent summary — explicit wrap-up, responsibilities, deadlines, and strong close.\n\nBe rigorous. If in doubt, choose the lower score.\n\n#renewal_convo_analysis#\n\nDefinition: If there was a conversation about contract renewal:\n\nDescribe what worked well (e.g., emotional buy-in, clear benefits).\n\nPoint out what could have gone better (e.g., missed timing, hesitations).\n\nStructure as two short paragraphs.\n\n#Reasoning Steps#\n\nIdentify the structure of the call (intro, main body, wrap-up).\n\nLocate each required insight by scanning for key phrases and tone shifts.\n\nUse direct evidence—quotes, timestamps, and tone—to inform each field.\n\nEnsure no field is missed or left vague.\n\nFinalize output in exact JSON format, with values for every field.\n\n#Output Format#\n\nReturn all findings as a valid JSON object with named fields exactly as specified above. If a field is not present in the conversation, use null.\n\n#Context#\n\nThis prompt powers a coaching call intelligence agent. Its job is to help human reviewers understand client mindset, follow-through, and risks. The agent must output structured, deeply grounded analysis from unstructured call transcripts.\n\n#action_items#\nDefinition: bullet list of primary action items from the call\n\n#fathom_summary#\n\nDefinition: Provide a structured, concise summary suitable for a Fathom-style call overview.\n\nInclude the following components:\n\nTitle: Format as \"Call Name - Date\"\n\nMeeting Purpose: One sentence summarizing the purpose of the call\n\nKey Takeaways: Bullet list of the most important insights and conclusions from the call\n\nTopics: Bullet list of main topics discussed\n\nNext Steps: Bullet list of clear steps attendees should take\n\nAction Items: Bullet list of immediate tasks to be completed by attendees\n\n#Final instructions and prompt to think step by step#\n\nFirst, think carefully step by step:\n\nParse the call structure (opening → discussion → closing).\n\nIdentify discussion points, red/green flags, tone shifts, and sentiment indicators.\n\nMatch insights to the correct fields above.\n\nPopulate each field using the definitions and behavioral criteria.\n\nReturn only a valid JSON object, strictly matching the schema. Do not include any markdown, explanations, or extra text.\n\nDo not stop or yield until all outputs are clearly populated and evidence-based.\n\n","passthroughBinaryImages":false}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[816,-32],"id":"51b751cd-4c44-489a-a640-c0fdaa1b8ca5","name":"AI Agent1","executeOnce":true,"retryOnFail":true},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[848,208],"id":"653b5300-53ea-407f-8f2f-ffdc1fecf175","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"5Ods8kFLAhbAPcNj","name":"OpenAi account 2"}}},{"parameters":{"jsCode":"// 1. Grab your company data\nconst companyData = $input.first().json.data;\nif (!Array.isArray(companyData)) {\n  throw new Error('Missing or invalid companyData array');\n}\n\n// 2. Grab the full transcript text\nconst fullText = $node['Extract from File'].json.callTranscript;\nif (typeof fullText !== 'string') {\n  throw new Error('Missing callTranscript string');\n}\n\n// 3. Isolate the line after \"Attendees Emails\"\nconst parts = fullText.split(/Attendees Emails\\s*/i);\nif (parts.length < 2) {\n  throw new Error('Couldn’t find \"Attendees Emails\" header in transcript');\n}\nconst afterEmails = parts[1];\n\n// 4. Pull out the first non-empty line (that holds the comma-list)\nconst lines = afterEmails\n  .split(/\\r?\\n/)\n  .map(l => l.trim())\n  .filter(l => l.length);\nconst emailLine = lines[0];\nif (!emailLine.includes('@')) {\n  throw new Error('No email line found after the header');\n}\n\n// 5. Parse into an array\nconst emails = emailLine\n  .split(',')\n  .map(e => e.trim().toLowerCase())\n  .filter(Boolean);\n\n// 6. Build your email → company lookup\nconst emailLookup = {};\ncompanyData.forEach(row => {\n  if (row.Email) {\n    emailLookup[row.Email.toLowerCase()] = {\n      companyName: row['Company as in Notion'],\n      notionId:    row['Notion ID']\n    };\n  }\n});\n\n// 7. Match attendees\nconst matchResults = emails\n  .map(email => {\n    const m = emailLookup[email];\n    if (!m) return null;\n    return {\n      json: {\n        type:                'email_match',\n        Email:               email,\n        'Company as in Notion': m.companyName,\n        'Notion ID':           m.notionId\n      },\n      pairedItem: { item: 0 }\n    };\n  })\n  .filter(Boolean);\n\n// 8. Package your external data (attach the full transcript here)\nconst external = {\n  type:         'external_data',\n  someField:    'exampleValue',\n  anotherField: fullText\n};\n\n// 9. Merge & return\nif (matchResults.length) {\n  Object.assign(matchResults[0].json, external);\n  return [ matchResults[0] ];\n}\nreturn [{ json: external, pairedItem: { item: 0 } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[144,80],"id":"cc577cff-4e58-4488-bfa5-2c7d47807f64","name":"Code2","executeOnce":true,"onError":"continueErrorOutput"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-80,80],"id":"abbff5e9-6441-47aa-8e7c-5ad3ec0bf9a6","name":"Merge","onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"171fd3e5-7816-410b-aa74-0520fb93f8c5","leftValue":"={{ $json.output['Attendees emails'] }}","rightValue":"group.calendar.google","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1136,352],"id":"4552da90-6371-4ed3-8dc4-79a232260e13","name":"If","alwaysOutputData":false},{"parameters":{"promptType":"define","text":"=\n\n## Role and Objective\nYou are a master participant-extraction agent.  \nYour job is to pull two things from the transcript: {{ $json.callTranscript }}\n1. Every participant name that appears next to a company identifier.  \n2. Every company name that appears on those same lines.  \n\nYour output **must** follow the JSON schema in the “Format” section—nothing else.\n\n## Rules\n• Extract the name exactly as written, even if it is only a first name (e.g., “Beth” or “Kent”).  \n• Names often come from lines where the name is immediately followed by\n• a | (pipe), // (double slash), / (single slash), , (comma), or - (dash)\n• and then a company name. \n• Capture the company string from that same line.  \n• If you find x number of names but y numnbeer of companies, that is fine—output whatever unique names and companies you actually find.  \n• **NEVER** output any of these names, even if they meet the pattern:  \n  Allan Dib • Vera Leven • Alo Coleman • Gabriel Balasquide • John Kuells • Sarah Nyholm • Candice de Beer • Anna Kloth • Nate Thoreson  \n\n## Extraction Pattern\n1. A line starts with a timestamp such as 00:01:55.  \n2. Immediately after comes a name, a separator (|, //, ',', '-', or /), and then a company.  \n3. That line represents a valid participant/company pair.\n\n## Edge-Case Handling\n• Names and companies need not be in a 1-to-1 ratio.  \n• Include each unique name once in **extracted_participants**.  \n• Include each unique company once in **extracted_companies**.\n• Not all participants will include their company name. Output the client name anyway.\n\n## Format\nReturn **exactly**:\n{\n  \"extracted_participants\": [\n    { \"name\": \"Name\" }\n  ],\n  \"extracted_companies\": [\n    \"Company Name\"\n  ]\n}\n\nIf nothing is found:\n{\n  \"extracted_participants\": [],\n  \"extracted_companies\": []\n}\n\n## Context\nCall transcript:  \n\n## Final Instructions\n1. **Read the entire transcript three times** to minimise misses.  \n2. While reading, mark every line that matches the timestamp → name → separator → company pattern.  \n3. Remove any name on the NEVER list.  \n4. Build **extracted_participants** (unique names) and **extracted_companies** (unique companies).  \n5. Output **only** the JSON object, no markdown, comments, or extra text. ","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-480,560],"id":"f0b14ec0-34db-4be0-8058-f5cd5b054899","name":"AI Agent2"},{"parameters":{"documentId":{"__rl":true,"value":"1mmVcdIyaz-jfaRseG97pFPeh1OVeT9T11p87k31oG5M","mode":"list","cachedResultName":"Slack User to Company Mapping","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1mmVcdIyaz-jfaRseG97pFPeh1OVeT9T11p87k31oG5M/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1mmVcdIyaz-jfaRseG97pFPeh1OVeT9T11p87k31oG5M/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-80,560],"id":"3482559a-8307-4a36-9568-8a37af742e7b","name":"Reads Slack Google Sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"fDxpMWdEItte31h1","name":"Google Sheets account 2"}}},{"parameters":{"model":{"__rl":true,"value":"o3","mode":"list","cachedResultName":"o3"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-448,784],"id":"55321fa9-cc08-4167-b871-7b42e6ead9da","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"5Ods8kFLAhbAPcNj","name":"OpenAi account 2"}}},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"title\": \"Participant and Company Extraction Output\",\n  \"description\": \"Schema for the AI agent’s JSON response that lists unique participant names and company names.\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"extracted_participants\": {\n      \"type\": \"array\",\n      \"description\": \"Unique participant names extracted from the transcript.\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"name\": { \"type\": \"string\" }\n        },\n        \"required\": [\"name\"],\n        \"additionalProperties\": false\n      },\n      \"uniqueItems\": true\n    },\n    \"extracted_companies\": {\n      \"type\": \"array\",\n      \"description\": \"Unique company identifiers that appear on the same lines as extracted participants.\",\n      \"items\": { \"type\": \"string\" },\n      \"uniqueItems\": true\n    }\n  },\n  \"required\": [\"extracted_participants\", \"extracted_companies\"],\n  \"additionalProperties\": false\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-320,784],"id":"f66db90d-4683-474d-8281-9aa261caa516","name":"Structured Output Parser"},{"parameters":{"promptType":"define","text":"=Return only a valid JSON object, strictly matching the schema. Do not include any markdown, explanations, or extra text.\n\nClient Name: {{ $('Code1').item.json.Name }}\nClient Business: {{ $('Code1').item.json['Company as in Notion'] }}\n\nAnalyze this content: \n{{ $json.callTranscript }}\n","hasOutputParser":true,"options":{"systemMessage":"=#Role and Objective#\nYou are a structured call analysis agent. Your job is to extract actionable insights, performance ratings, and psychological assessments from coaching call transcripts. Each output must conform strictly to a defined JSON schema. Your judgments must be supported by explicit evidence from the call.\n\n#Instructions#\nThe transcript will include conversations about multiple client businesses.\nYour job is to identify the target company being evaluated. The target company will be passed into your context via the CompanyName field of the user message.\nONLY extract data related to that specific company. Ignore mentions, analysis, or discussion of other businesses or clients entirely.\nAnalyze the relevant sections of the transcript thoroughly.\nFollow the field definitions below precisely.\nUse concrete call content for all inferences—no speculation.\nReturn output as a valid JSON object, matching the schema exactly.\nAssume the current year is 2025 unless otherwise specified.\n\nField Definitions\n#CompanyName#\n The name of the company being analyzed. Use the value passed in from the user message (e.g., \"CompanyName\": \"Acme Corp\").\n#Host#\n The name of the advisor. This can be found immediatly after \"Fathom User Email\"\n#Summary#\n1 short and concise sentence fragments summarizing the key discussion points for the specified company. Focus on goals, blockers, and alignment. Do not use full sentences. The summary cannot be more than 15 words. \n#DiscussionPoints#\n Structured bullet list of concrete follow-up actions mentioned specifically for the target company. Each should include:\nAction item\nWho is responsible\nDeadline or timeframe (if mentioned)\n Use imperative tone: \"Send proposal\", \"Review metrics\", etc.\n#DateOfCall#\n In \"Month Day, YYYY\" format. The raw date will appear in ISO 8601 format and should be translated accordingly.\nConsultingHealth\n Client implementation status for the target company:\n\"Green\": On track, making progress\n\"Yellow\": Partial or slowing\n\"Red\": No action, resistance, or off-track\n#Sentiment#\n Mindset and buy-in level of the target client:\n\"Positive\"\n\"Uncertain\"\n\"Unrealistic Expectations\"\n\"Negative\"\n#LinkToCallRecording#\n Pull from the labeled “URLs” section in the document. Only include a link that starts with https://fathom.video. Do not fabricate.\n#Archetype#\n Behavioral persona of the primary speaker for the target company:\n\"Doer\"\n\"Driver\"\n\"Worrier\"\n\"Follower\"\n#RedFlags#\n 3 bullet points of major blockers for the target company with:\nTimestamps\nDescriptions\nNegative emotions (e.g., \"overwhelm\", \"frustration\")\n#GreenLights#\n 3 bullet points of positive signals for the target company with:\nTimestamps\nDescriptions\nPositive emotions (e.g., \"confidence\", \"relief\")\n#RapportScore, AgendaScore, EnergyScore, SummaryActionScore#\n\nFor each category, score as either 1, 3, 5, or 7 using the definitions below.  \nUse explicit evidence from the call to support your scoring — never assume.  \nChoose the score that best fits the majority of the observed behavior.\n\n## RapportScore\n- 1 = No rapport, conversation felt tense or cold, little mutual curiosity or personal sharing.\n- 3 = Below average rapport; coach showed minimal warmth or curiosity, somewhat transactional.\n- 5 = Good connection, moderate warmth and curiosity, shared small personal or business insights.\n- 7 = Excellent rapport, warm, engaged, coach and client laughed or explored personal angles.\n\n## AgendaScore\n- 1 = No agenda set, conversation was unfocused and jumped around.\n- 3 = Coach hinted at general outline but didn’t clearly define steps or priorities.\n- 5 = Clear solid agenda, listed primary topics, revisited goals midway.\n- 7 = Very strong agenda setting — listed all points, got explicit client alignment, and recapped at end.\n\n## EnergyScore\n- 1 = Flat energy, little emotion, call dragged, minimal vocal or emotional engagement.\n- 3 = Below average energy, slightly monotone or hesitant, only brief moments of engagement.\n- 5 = Average healthy energy, steady momentum, moderate enthusiasm and interest.\n- 7 = Very high energy, coach and client sounded excited, enthusiastic, kept momentum high.\n\n## SummaryActionScore\n- 1 = No clear summary or next steps, ended abruptly or with confusion.\n- 3 = Brief or vague mention of next steps, no ownership or dates confirmed.\n- 5 = Reasonably clear summary and next steps, some responsibilities discussed.\n- 7 = Excellent summary — explicit wrap-up, responsibilities, deadlines, and strong close.\n\nBe rigorous. If in doubt, choose the lower score.\n\nRenewalConvoAnalysis\n If a contract renewal was discussed for the target company, provide two short paragraphs:\nWhat went well\nWhat could be improved\nActionItems\n Primary action items from the discussion about the target company only. Format as a bullet list.\nFathomSummary\n Formatted block summary for the target company:\nTitle: “Call Name - Date”\nMeeting Purpose: Short sentence\nKey Takeaways: Bullet list\nTopics: Bullet list\nNext Steps: Bullet list\nAction Items: Bullet list\nReasoning Steps\nIdentify the structure of the call (intro, body, wrap-up).\nScan for mentions of multiple clients.\nFilter and extract ONLY insights related to the company named in the CompanyName field.\nPopulate the fields above using evidence-based, structured reasoning.\nOutput Format\nReturn a JSON object with values only for the specified company. If no information is available for a field, use null. Do not output extra text.\nContext\nThis prompt powers an AI coaching assistant that needs to extract only the relevant client intelligence from complex multi-client transcripts.\nFinal instructions and prompt to think step by step\nFirst, think carefully:\nFind and isolate content related to the correct company.\nMatch insights to the required fields.\nReturn a single clean JSON object strictly matching the schema, without extra commentary or markdown.\n\n\nReturn only a valid JSON object, strictly matching the schema. Do not include any markdown, explanations, or extra text.\n\n\n","passthroughBinaryImages":false}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1216,432],"id":"28c16572-f97e-4ecd-a98c-af5636140bfa","name":"AI Agent3","executeOnce":false,"retryOnFail":false,"onError":"continueRegularOutput"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1248,656],"id":"25f35a70-8e4b-4171-8134-9c3b80dc382f","name":"OpenAI Chat Model4","credentials":{"openAiApi":{"id":"5Ods8kFLAhbAPcNj","name":"OpenAi account 2"}}},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"title\": \"Coaching Call Analysis Output\",\n  \"description\": \"Schema for structured call analysis agent output from coaching call transcripts\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"company_name\": {\n      \"type\": \"string\",\n      \"description\": \"The name of the company\"\n    },\n    \"host\": {\n      \"type\": \"string\",\n      \"description\": \"Name of the coach or advisor who hosted the call\"\n    },\n    \"summary\": {\n      \"type\": \"string\",\n      \"description\": \"Concise title and 1 short sentences summarizing key discussion points, primary goals, obstacles, and client-coach alignment. The summary cannot be more than 15 words.\"\n    },\n    \"discussion_points\": {\n      \"type\": \"string\",\n      \"description\": \"Structured bullet list of concrete follow-up actions with responsible party and deadlines\"\n    },\n    \"date_of_call\": {\n      \"type\": \"string\",\n      \"pattern\": \"^[A-Za-z]+ \\\\d{1,2}, \\\\d{4}$\",\n      \"description\": \"Date of the call in 'Month Day, YYYY' format (e.g., 'January 15, 2025')\"\n    },\n    \"consulting_health\": {\n      \"type\": \"string\",\n      \"enum\": [\"Green\", \"Yellow\", \"Red\"],\n      \"description\": \"Client implementation status: Green (strong progress), Yellow (partial/stagnation), Red (no implementation/falling behind)\"\n    },\n    \"sentiment\": {\n      \"type\": \"string\",\n      \"enum\": [\"Positive\", \"Uncertain\", \"Unrealistic expectations\", \"Negative\"],\n      \"description\": \"Client buy-in and engagement classification\"\n    },\n    \"link_to_call_recording\": {\n      \"type\": \"string\",\n      \"format\": \"uri\",\n      \"pattern\": \"^https://fathom\\\\.video\",\n      \"description\": \"Direct URL to the call recording from the document (must start with https://fathom.video)\"\n    },\n    \"archetype\": {\n      \"type\": \"string\",\n      \"enum\": [\"Doer\", \"Driver\", \"Worrier\", \"Follower\"],\n      \"description\": \"Client classification: Doer (high self-confidence, low tool confidence), Driver (high both, distrusts advisor), Worrier (low both, overthinks), Follower (low self, high tool confidence)\"\n    },\n    \"red_flags\": {\n      \"type\": \"string\",\n      \"description\": \"Three bullet points of major client blockers with timestamps and negative emotions\"\n    },\n    \"green_lights\": {\n      \"type\": \"string\",\n      \"description\": \"Three bullet points of positive signals with timestamps and positive emotions\"\n    },\n    \"rapport_score\": {\n      \"type\": \"integer\",\n      \"enum\": [1, 3, 5, 7],\n      \"description\": \"Score for how well coach built rapport (warmth, curiosity, mirroring, pacing)\"\n    },\n    \"agenda_score\": {\n      \"type\": \"integer\",\n      \"enum\": [1, 3, 5, 7],\n      \"description\": \"Score for agenda clarity and maintenance during the call\"\n    },\n    \"energy_score\": {\n      \"type\": \"integer\",\n      \"enum\": [1, 3, 5, 7],\n      \"description\": \"Score for coach engagement, presence, and momentum maintenance\"\n    },\n    \"summary_action_score\": {\n      \"type\": \"integer\",\n      \"enum\": [1, 3, 5, 7],\n      \"description\": \"Score for how well next steps were summarized and clarified\"\n    },\n    \"renewal_convo_analysis\": {\n      \"type\": [\"string\", \"null\"],\n      \"description\": \"Two-paragraph analysis of contract renewal conversation (what worked well and what could improve), or null if not applicable\"\n    },\n    \"action_items\": {\n      \"type\": \"string\",\n      \"description\": \"Bullet list of primary action items from the call\"\n    },\n    \"fathom_summary\": {\n      \"type\": \"string\",\n      \"description\": \"Structured Fathom-style summary with Title, Meeting Purpose, Key Takeaways, Topics, Next Steps, and Action Items\"\n    }\n  },\n  \"required\": [\n    \"company_name\",\n    \"host\",\n    \"summary\",\n    \"discussion_points\",\n    \"date_of_call\",\n    \"consulting_health\",\n    \"sentiment\",\n    \"link_to_call_recording\",\n    \"archetype\",\n    \"red_flags\",\n    \"green_lights\",\n    \"rapport_score\",\n    \"agenda_score\",\n    \"energy_score\",\n    \"summary_action_score\",\n    \"action_items\",\n    \"fathom_summary\"\n  ],\n  \"additionalProperties\": false\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1376,656],"id":"42a9dfbf-b9ad-4d35-8b62-1e65e200914a","name":"Structured Output Parser2"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-2000,352],"id":"9e66b12a-1353-4c29-9dc0-e62fbe02443c","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"3VzmfL5shCfEf9cg","name":"Google Drive account 2"}}},{"parameters":{"operation":"deleteFile","fileId":{"__rl":true,"value":"={{ $('Google Drive Trigger').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-800,-208],"id":"e5a7eb46-5798-4736-8900-dd41bf67a421","name":"Delete a file2","credentials":{"googleDriveOAuth2Api":{"id":"3VzmfL5shCfEf9cg","name":"Google Drive account 2"}}},{"parameters":{"content":"## Filtering out Sales People\nAdd sales people's emails to the \"Switch\" node"},"type":"n8n-nodes-base.stickyNote","position":[-1712,1376],"typeVersion":1,"id":"11b0a8c4-3665-42ab-a4b8-3f4a287890b3","name":"Sticky Note1"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Google Drive Trigger').item.json.id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[368,80],"id":"a6c976cd-ff27-482f-a7a5-6c58f97e270e","name":"Download file1","credentials":{"googleDriveOAuth2Api":{"id":"3VzmfL5shCfEf9cg","name":"Google Drive account 2"}}},{"parameters":{"operation":"text","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[592,80],"id":"01b97b50-5dc3-4a5e-b297-0dfe8ebc3e65","name":"Extract from File1"},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"19640ee4-a8af-802e-bc8f-cbb117d92c53","mode":"list","cachedResultName":"Client Status Updates","cachedResultUrl":"https://www.notion.so/19640ee4a8af802ebc8fcbb117d92c53"},"title":"{{ $('AI Agent3').item.json.output.summary }}","propertiesUi":{"propertyValues":[{"key":"Summary|title","title":"=GROUP - {{ $('AI Agent3').item.json.output.summary }}"},{"key":"Date|date","includeTime":false,"date":"={{ $json.output.date_of_call }}","timezone":"Australia/Currie"},{"key":"Client Health|select","selectValue":"={{ $('AI Agent3').item.json.output.consulting_health }}"},{"key":"Sentiment|select","selectValue":"={{ $('AI Agent3').item.json.output.sentiment }}"},{"key":"Link to Call Recording|url","urlValue":"={{ $('AI Agent3').item.json.output.link_to_call_recording }}"},{"key":"Archetype|select","selectValue":"={{ $('AI Agent3').item.json.output.archetype }}"},{"key":"Red Flags|rich_text","textContent":"={{ $('AI Agent3').item.json.output.red_flags }}"},{"key":"Green Lights|rich_text","textContent":"={{ $('AI Agent3').item.json.output.green_lights }}"},{"key":"Rapport Score|number","numberValue":"={{ $json.output.rapport_score }}"},{"key":"Summary & Action Score|number","numberValue":"={{ $json.output.summary_action_score }}"},{"key":"Energy Score|number","numberValue":"={{ $json.output.energy_score }}"},{"key":"Client|relation","relationValue":["={{ $('Code1').item.json['Notion ID'] }}"]},{"key":"Client Name|rich_text","textContent":"=Group Call"},{"key":"Agenda Score|number","numberValue":"={{ $json.output.agenda_score }}"},{"key":"Action Items|rich_text","textContent":"={{ $('AI Agent3').item.json.output.action_items }}"},{"key":"Host|rich_text","textContent":"={{ $json.output.host }}"}]},"blockUi":{"blockValues":[{"richText":true,"text":{"text":[{"text":"=Group Call","annotationUi":{}}]}},{"richText":true,"text":{"text":[{"text":"={{ $('AI Agent3').item.json.output.fathom_summary }}","annotationUi":{}}]}}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1616,560],"id":"e8e82b41-d86c-4483-84c8-9270618ee78d","name":"Create a database page","credentials":{"notionApi":{"id":"l2nKJRGnfu2CHdp9","name":"Notion account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[368,560],"id":"3a1ef727-2443-4043-a544-b08ae4aaf017","name":"Loop Over Items"},{"parameters":{"operation":"text","destinationKey":"callTranscript","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[912,432],"id":"8536ffbc-5497-40e2-a802-8ba07fc8c28f","name":"Extract from File2"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Google Drive Trigger').item.json.id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[592,432],"id":"a0a6045a-2f30-42ae-9d6b-202597d2aa8e","name":"Download file2","credentials":{"googleDriveOAuth2Api":{"id":"3VzmfL5shCfEf9cg","name":"Google Drive account 2"}}},{"parameters":{"jsCode":"/* global items $items */\n\n// =========================================\n// 1) Pull extracted names & companies\n// =========================================\nconst ai = ($items(\"AI Agent2\")[0] || {}).json.output || {};\n\nfunction normaliseName(str = '') {\n  return str.toLowerCase().trim();\n}\n\nfunction cleanCompany(str = '') {\n  return str\n    .toLowerCase()\n    .replace(/^www\\./, '')\n    .replace(/\\.com$/, '')\n    .replace(/[,.;'\"&]/g, '')\n    .replace(/\\b(llc|inc|ltd|corp|co|company)\\b/g, '')\n    .replace(/\\s+/g, '')\n    .trim();\n}\n\nconst extractedNames = (ai.extracted_participants || [])\n  .map(p => normaliseName(p.name))\n  .filter(Boolean);\n\nconst extractedCompanies = (ai.extracted_companies || [])\n  .map(cleanCompany)\n  .filter(Boolean);\n\nconst nameSet       = new Set(extractedNames);\nconst companySetRaw = new Set(extractedCompanies);\n\n// =========================================\n// 2) Match spreadsheet rows\n//    • Names: loose “contains” both ways\n//    • Companies: loose “contains” both ways\n// =========================================\nconst matches = items.filter(row => {\n  const sheetNameNorm  = normaliseName(row.json.Name || '');\n  const sheetCompClean = cleanCompany(row.json[\"Company as in Notion\"] || '');\n\n  // fuzzy name match: any extracted name is contained in the sheet name or vice versa\n  const nameHit = [...nameSet].some(n =>\n    n && (\n      sheetNameNorm.includes(n) ||\n      n.includes(sheetNameNorm)\n    )\n  );\n\n  // fuzzy company match: as before\n  const companyHit = [...companySetRaw].some(c =>\n    c && (\n      sheetCompClean.includes(c) ||\n      c.includes(sheetCompClean)\n    )\n  );\n\n  return nameHit || companyHit;\n});\n\n// =========================================\n// 3) Dedupe — one row per company\n// =========================================\nconst uniqueRows = [];\nconst seen = new Set();\n\nfor (const row of matches) {\n  const key = cleanCompany(row.json[\"Company as in Notion\"] || '');\n  if (!seen.has(key)) {\n    seen.add(key);\n    uniqueRows.push(row);\n  }\n}\n\n// =========================================\n// 4) Debug (optional)\n// =========================================\nconsole.log({\n  extractedNames,\n  extractedCompanies: [...companySetRaw],\n  rowsReceived: items.length,\n  matched: matches.length,\n  uniqueCompanies: uniqueRows.length\n});\n\n// =========================================\n// 5) Emit one item per company\n// =========================================\nreturn uniqueRows;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[144,560],"id":"af72cd97-e6ff-448a-a13f-a0b97c5a7182","name":"Code1","alwaysOutputData":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.output['Email of Fathom User'] }}","rightValue":"=joe@successwise.com","operator":{"type":"string","operation":"equals"},"id":"1f176371-b2ef-4b72-8ecb-22f36793967d"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c51a2a6f-38d1-45ba-a063-955de00eace4","leftValue":"={{ $json.output['Email of Fathom User'] }}","rightValue":"aqib@leanmarketing.com","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"581d9dea-e315-42d4-af5e-76a7711b83b1","leftValue":"={{ $json.output['Email of Fathom User'] }}","rightValue":"sal@leanmarketing.com","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e6856d39-d9e1-44db-a138-f0f78065cf92","leftValue":"={{ $json.output['Email of Fathom User'] }}","rightValue":"callum@leanmarketing.com","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"dfefca10-527d-40c9-ab7a-3122ff3a16c6","leftValue":"={{ $json.output['Email of Fathom User'] }}","rightValue":"zen@leanmarketing.com","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"32bad598-1ff5-4d16-9449-f5d5724c4cd4","leftValue":"={{ $json.output['Email of Fathom User'] }}","rightValue":"aqib@successwise.com","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"11c3765b-02f7-4ee3-9b73-82f50597ab09","leftValue":"={{ $json.output['Email of Fathom User'] }}","rightValue":"joe@leanmarketing.com","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"881f7369-a099-446d-8784-4ca1394ab4af","leftValue":"={{ $json.output['Email of Fathom User'] }}","rightValue":"eleanor@leanmarketing.com","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7b456f52-5641-4312-955c-bfc29a21a5cc","leftValue":"={{ $json.output['Email of Fathom User'] }}","rightValue":"kerrian@leanmarketing.com","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"db04409b-3825-4d91-bc08-9a4568175ef3","leftValue":"={{ $json.output['Email of Fathom User'] }}","rightValue":"allan@successwise.com","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"91ccf38a-bc08-497e-a9aa-a4c94b8a05be","leftValue":"={{ $json.output['Email of Fathom User'] }}","rightValue":"doug@leanmarketing.com","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3f716444-2ac2-4356-8697-cea862436396","leftValue":"={{ $json.output['Email of Fathom User'] }}","rightValue":"tyler@leanmarketing.com","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-928,-80],"id":"32f2f418-d8b3-4fea-bdbb-fcd28d890b0c","name":"Switch"},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"19640ee4-a8af-802e-bc8f-cbb117d92c53","mode":"list","cachedResultName":"Client Status Updates","cachedResultUrl":"https://www.notion.so/19640ee4a8af802ebc8fcbb117d92c53"},"title":"title","propertiesUi":{"propertyValues":[{"key":"Summary|title","title":"={{ $('AI Agent1').item.json.output.summary }}"},{"key":"Date|date","includeTime":false,"date":"={{ $json.output.date_of_call }}","timezone":"Australia/West"},{"key":"Client Health|select","selectValue":"={{ $('AI Agent1').item.json.output.consulting_health }}"},{"key":"Sentiment|select","selectValue":"={{ $('AI Agent1').item.json.output.sentiment }}"},{"key":"Link to Call Recording|url","urlValue":"={{ $('AI Agent1').item.json.output.link_to_call_recording }}"},{"key":"Archetype|select","selectValue":"={{ $('AI Agent1').item.json.output.archetype }}"},{"key":"Red Flags|rich_text","textContent":"={{ $('AI Agent1').item.json.output.red_flags }}"},{"key":"Green Lights|rich_text","textContent":"={{ $('AI Agent1').item.json.output.green_lights }}"},{"key":"Client|relation","relationValue":["={{ $('Code2').item.json['Notion ID'] }}"]},{"key":"Client Name|rich_text","textContent":"={{ $('AI Agent1').item.json.output.company_name }}"},{"key":"Agenda Score|number"},{"key":"Action Items|rich_text","textContent":"={{ $('AI Agent1').item.json.output.action_items }}"},{"key":"Agenda Score|number","numberValue":"={{ $json.output.agenda_score }}"},{"key":"Energy Score|number","numberValue":"={{ $json.output.energy_score }}"},{"key":"Rapport Score|number","numberValue":"={{ $json.output.rapport_score }}"},{"key":"Summary & Action Score|number","numberValue":"={{ $json.output.summary_action_score }}"},{"key":"Host|rich_text","textContent":"={{ $json.output.host }}"}]},"blockUi":{"blockValues":[{"richText":true,"text":{"text":[{"text":"={{ $('AI Agent1').item.json.output.fathom_summary }}","annotationUi":{}}]}},{"richText":true,"text":{"text":[{"text":"=*RENEWAL CONVO ANALYSIS*\n{{ $json.output.renewal_convo_analysis }}","annotationUi":{"bold":false,"color":"orange"}}]}}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1312,80],"id":"762e18d4-e7d1-4a59-810e-4e3d19c5d0aa","name":"Create a database page1","credentials":{"notionApi":{"id":"l2nKJRGnfu2CHdp9","name":"Notion account"}}},{"parameters":{"content":"## I'm a note \nThe sales calls are still goging through and also being deleted."},"type":"n8n-nodes-base.stickyNote","position":[-208,1712],"typeVersion":1,"id":"6fa1765b-c8c6-4330-9057-9c76df8ccf30","name":"Sticky Note2"},{"parameters":{"content":"## Nate to do: \nUpdate this prompt to better pull out the company data. Don't include a company name example. it's still not doing a great job at pulling out the different company names. The name of. the name of. the company and the name of the client will be "},"type":"n8n-nodes-base.stickyNote","position":[-1472,1312],"typeVersion":1,"id":"2ef561fe-140b-4e3a-932d-86fdeeea6be4","name":"Sticky Note3"},{"parameters":{"content":"/* global items $items */\n\n// ---------- 1) Get names and companies from the AI Agent ----------\nconst aiOutput = $items(\"AI Agent2\")[0].json.output;\n\nconst extractedNames = (aiOutput.extracted_participants || [])\n  .map(p => (p.name || '').toLowerCase().trim());\n\nconst extractedCompanies = (aiOutput.extracted_companies || [])\n  .map(c => c.toLowerCase().trim());\n\n// Sets for quick look-ups\nconst nameSet    = new Set(extractedNames);\nconst companySet = new Set(extractedCompanies);\n\n// ---------- 2) Match sheet rows ----------\nconst matches = items.filter(row => {\n  const sheetName    = (row.json.Name || '').toLowerCase().trim();\n  const sheetCompany = (row.json[\"Company as in Notion\"] || '').toLowerCase().trim();\n  return nameSet.has(sheetName) || companySet.has(sheetCompany);\n});\n\n// ---------- 3) Dedupe so only one row per company ----------\nconst uniqueByCompany = [];\nconst seenCompanies   = new Set();\n\nfor (const row of matches) {\n  const key = (row.json[\"Company as in Notion\"] || '').toLowerCase().trim();\n  if (!seenCompanies.has(key)) {\n    seenCompanies.add(key);\n    uniqueByCompany.push(row);   // keep the first row for that company\n  }\n}\n\n// ---------- 4) Debug (optional) ----------\nconsole.log({\n  extractedNames,\n  extractedCompanies,\n  totalRows: items.length,\n  matchedRows: matches.length,\n  uniqueCompanies: uniqueByCompany.length\n});\n\n// ---------- 5) Emit one item per company ----------\nreturn uniqueByCompany;"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-816,1424],"id":"b2181430-c07f-4cd0-8eca-3fec8d3c6a2b","name":"Sticky Note7"},{"parameters":{"operation":"text","destinationKey":"callTranscript","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-704,560],"id":"3928bd0c-d936-49ea-84cf-3c5ec4e64ded","name":"Extract from File3"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Google Drive Trigger').item.json.id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-928,560],"id":"f388bbdb-a2f5-4393-9de6-d2dc3673cbce","name":"Download file3","credentials":{"googleDriveOAuth2Api":{"id":"3VzmfL5shCfEf9cg","name":"Google Drive account 2"}}},{"parameters":{"content":"## Running to Do List\n- This summary needs to be marked down in the body of Notion.\n- Do better prompting for the scoring system.","height":448,"width":800},"type":"n8n-nodes-base.stickyNote","position":[528,-528],"typeVersion":1,"id":"eef2feaa-f5ba-41cc-af70-82b076b25901","name":"Sticky Note8"}],"connections":{"Google Drive Trigger":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"AI Agent1","type":"ai_outputParser","index":0}]]},"Reads Slack Google Sheet":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Information Extractor","type":"ai_languageModel","index":0}]]},"Extract from File":{"main":[[{"node":"Information Extractor","type":"main","index":0}]]},"Information Extractor":{"main":[[{"node":"If","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Merge","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Create a database page1","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Code2":{"main":[[{"node":"Download file1","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Code2","type":"main","index":0}]]},"If":{"main":[[{"node":"Download file3","type":"main","index":0}],[{"node":"Switch","type":"main","index":0}]]},"Reads Slack Google Sheet1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent2","type":"ai_outputParser","index":0}]]},"AI Agent2":{"main":[[{"node":"Reads Slack Google Sheet1","type":"main","index":0}]]},"AI Agent3":{"main":[[{"node":"Create a database page","type":"main","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"AI Agent3","type":"ai_languageModel","index":0}]]},"Structured Output Parser2":{"ai_outputParser":[[{"node":"AI Agent3","type":"ai_outputParser","index":0}]]},"Download file":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Download file1":{"main":[[{"node":"Extract from File1","type":"main","index":0}]]},"Extract from File1":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Create a database page":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Download file2","type":"main","index":0}]]},"Extract from File2":{"main":[[{"node":"AI Agent3","type":"main","index":0}]]},"Download file2":{"main":[[{"node":"Extract from File2","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Delete a file2","type":"main","index":0}],[{"node":"Delete a file2","type":"main","index":0}],[{"node":"Delete a file2","type":"main","index":0}],[{"node":"Delete a file2","type":"main","index":0}],[{"node":"Delete a file2","type":"main","index":0}],[{"node":"Delete a file2","type":"main","index":0}],[{"node":"Delete a file2","type":"main","index":0}],[{"node":"Delete a file2","type":"main","index":0}],[{"node":"Delete a file2","type":"main","index":0}],[{"node":"Delete a file2","type":"main","index":0}],[{"node":"Delete a file2","type":"main","index":0}],[],[{"node":"Merge","type":"main","index":1},{"node":"Reads Slack Google Sheet","type":"main","index":0}]]},"Create a database page1":{"main":[[]]},"Download file3":{"main":[[{"node":"Extract from File3","type":"main","index":0}]]},"Extract from File3":{"main":[[{"node":"AI Agent2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Google Drive Trigger":{"lastTimeChecked":"2025-10-21T23:43:51Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Google Drive Trigger":[{"json":{"exportLinks":{"application/rtf":"https://docs.google.com/feeds/download/documents/export/Export?id=1w-eiyAtkCliiZCjyCbzHKVw1lvmaifYzAI3aiGts_c4&exportFormat=rtf","application/vnd.oasis.opendocument.text":"https://docs.google.com/feeds/download/documents/export/Export?id=1w-eiyAtkCliiZCjyCbzHKVw1lvmaifYzAI3aiGts_c4&exportFormat=odt","text/html":"https://docs.google.com/feeds/download/documents/export/Export?id=1w-eiyAtkCliiZCjyCbzHKVw1lvmaifYzAI3aiGts_c4&exportFormat=html","application/pdf":"https://docs.google.com/feeds/download/documents/export/Export?id=1w-eiyAtkCliiZCjyCbzHKVw1lvmaifYzAI3aiGts_c4&exportFormat=pdf","text/x-markdown":"https://docs.google.com/feeds/download/documents/export/Export?id=1w-eiyAtkCliiZCjyCbzHKVw1lvmaifYzAI3aiGts_c4&exportFormat=markdown","text/markdown":"https://docs.google.com/feeds/download/documents/export/Export?id=1w-eiyAtkCliiZCjyCbzHKVw1lvmaifYzAI3aiGts_c4&exportFormat=markdown","application/epub+zip":"https://docs.google.com/feeds/download/documents/export/Export?id=1w-eiyAtkCliiZCjyCbzHKVw1lvmaifYzAI3aiGts_c4&exportFormat=epub","application/zip":"https://docs.google.com/feeds/download/documents/export/Export?id=1w-eiyAtkCliiZCjyCbzHKVw1lvmaifYzAI3aiGts_c4&exportFormat=zip","application/vnd.openxmlformats-officedocument.wordprocessingml.document":"https://docs.google.com/feeds/download/documents/export/Export?id=1w-eiyAtkCliiZCjyCbzHKVw1lvmaifYzAI3aiGts_c4&exportFormat=docx","text/plain":"https://docs.google.com/feeds/download/documents/export/Export?id=1w-eiyAtkCliiZCjyCbzHKVw1lvmaifYzAI3aiGts_c4&exportFormat=txt"},"parents":["1TO-Fiugsyj9AVc_7nSOcG2H1_EorFRre"],"lastModifyingUser":{"displayName":"Nate Thoreson","kind":"drive#user","me":false,"permissionId":"00854821172244564359","emailAddress":"nate@leanmarketing.com","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjWHoKXaly81Fa3WRFKPC3DvKqhbyuqz85pg4h8ym6RaXLcBnxFWZydzMNcY2g7DHWZYrGp36_Sssai7fCxIFFrk07y6rwsfYz3RHI4mwGSx6yNgGW58m2HZ7tI8W0ATGUzd3qzrL1rErtGkjKOpBY3W2zgFH1-NuRKISsXRQD4QCIYax4LzEZKNN1-IfO49yiGjN0eoZjLhNXzcZAhmWwGvIu0Hg_Yx3rVPqnRldSwp6bxf6O5QcMQjg5b4VLdswzZDQRiTZuwc3yvwhVvE_FKVjL64sob-nlH51rObfS64mr48rmk2WlVXFLUUhYjl1-6Adf_YKbwaN6UpZ_nDHG7nGKj1iH0QpNoUw_PzCKj_W-ed-PQYdVBEZgpFV3Dk6siku2HUJq6KSEtAUuVWE6oWlzpOnICW-kc1wO_d35VM0PaEMOOJJe8-co0pmed04tUcc6bacslOpi4nc_SOzqQvLM_NL4Omydpws4NmaiuXs5oLpfavadrdFMYoEr_QkpqzqtCqeJO_Ewre384E_atZ1PmzLDrUkcHC9JXNJUHEwjYb9wuhbN-wsXHk6m117jkEbquD5pcJVDsPqKc5zSglIFZUi0aTkfBlQ0_dyqi9x0S3LVm7LvsxTj2wklcF9UXBwnx8wIz1tBOHZw_GEOep7-xNcsGZSVCSj8vPKDzwoaQRLhAtlp7RDsWAOfu8jGSlOnTO2JjzcRRrCF-YN4PDA347dH_70vtu-8seVyU0cSNMuivTXzXolYLF8c677paF9j0DyZJ9awdSTVQZ3GGNO9Bs4AN1a4Yy6oxMEusdESb1shiT6E78Z6zn_fDoYbjMRM4foYZE0Zlc48Ai7o1c2-yWMIeF2QqXSMOACqBc0EXA1fzqYKrQKpJsBikkQICYZmO5v76eXKEWXd6TvY_BxGPHGyGB4sR0xBxC0-W7Gnw88DKT5zi1UpxkGunxIBxmuY0henBBUWq1HagoraZ4poC-xpQ=s64"},"spaces":["drive"],"capabilities":{"canAddChildren":false,"canAddFolderFromAnotherDrive":false,"canChangeCopyRequiresWriterPermission":true,"canChangeItemDownloadRestriction":true,"canChangeSecurityUpdateEnabled":false,"canChangeViewersCanCopyContent":true,"canComment":true,"canCopy":true,"canDelete":true,"canDeleteChildren":false,"canDisableInheritedPermissions":false,"canDownload":true,"canEdit":true,"canEnableInheritedPermissions":true,"canListChildren":false,"canModifyContent":true,"canModifyContentRestriction":true,"canModifyEditorContentRestriction":true,"canModifyOwnerContentRestriction":true,"canModifyLabels":true,"canMoveChildrenOutOfTeamDrive":false,"canMoveChildrenOutOfDrive":false,"canMoveChildrenWithinTeamDrive":false,"canMoveChildrenWithinDrive":false,"canMoveItemIntoTeamDrive":true,"canMoveItemOutOfTeamDrive":true,"canMoveItemOutOfDrive":true,"canMoveItemWithinTeamDrive":true,"canMoveItemWithinDrive":true,"canMoveTeamDriveItem":true,"canReadLabels":true,"canReadRevisions":true,"canReadTeamDrive":true,"canReadDrive":true,"canRemoveChildren":false,"canRemoveContentRestriction":false,"canRename":true,"canShare":true,"canTrash":true,"canTrashChildren":false,"canUntrash":true},"permissionIds":["04144416295392807947","05972359903927381381","17283703484709014695","07064520286321629893","14045690446659778403","10215096179113048758","17520543317646809613","17774716610873657005","00854821172244564359","16191187095607424634","03434107166484373704","13348624812833485414","anyoneWithLink"],"linkShareMetadata":{"securityUpdateEligible":false,"securityUpdateEnabled":true},"downloadRestrictions":{"itemDownloadRestriction":{"restrictedForReaders":false,"restrictedForWriters":false},"effectiveDownloadRestrictionWithContext":{"restrictedForReaders":false,"restrictedForWriters":false}},"kind":"drive#file","id":"1DWuECwKX6nt4QA1t2yfFj0IPDBAUh4zBCGzLkOx2zcs","name":"1PMP - Digital Marketing","mimeType":"application/vnd.google-apps.document","starred":false,"trashed":false,"explicitlyTrashed":false,"version":"8","webViewLink":"https://docs.google.com/document/d/1w-eiyAtkCliiZCjyCbzHKVw1lvmaifYzAI3aiGts_c4/edit?usp=drivesdk","iconLink":"https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.document","hasThumbnail":true,"thumbnailLink":"https://lh3.googleusercontent.com/drive-storage/AJQWtBNyOITDcwHFJ3KX39m0YjUFQ3Hc0Ot0fPfE8zj6mLtNzF9X37tfwwAQH9sr0fgP79A3JfDvlNVWmAC2Gcv-cH-QuYh0xczbt1NU4N9q1sjjiSHVeLzJPc6Qa-NE=s220","thumbnailVersion":"2","viewedByMe":false,"createdTime":"2025-09-09T20:34:37.897Z","modifiedTime":"2025-09-09T20:34:45.089Z","modifiedByMe":false,"teamDriveId":"0ADnqVp7RccIeUk9PVA","driveId":"0ADnqVp7RccIeUk9PVA","viewersCanCopyContent":true,"copyRequiresWriterPermission":false,"hasAugmentedPermissions":true,"size":"14040","quotaBytesUsed":"14040","isAppAuthorized":false,"inheritedPermissionsDisabled":false}}]},"versionId":"e1c8e23a-8017-4277-8c6e-7b865389eeae","triggerCount":1,"shared":[{"createdAt":"2025-03-21T08:47:19.607Z","updatedAt":"2025-03-21T08:47:19.607Z","role":"workflow:owner","workflowId":"lGHwFXTwnlYDNXbf","projectId":"rK7zA1bjW8OF89eO"}],"tags":[]}