coaching-calls-quality-check-TOn03ffG4oLGGBSR.json
{"createdAt":"2025-06-13T15:47:30.531Z","updatedAt":"2025-06-19T14:25:08.038Z","id":"TOn03ffG4oLGGBSR","name":"Coaching Calls Quality Check","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyHour"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1TO-Fiugsyj9AVc_7nSOcG2H1_EorFRre","mode":"list","cachedResultName":"Fathom Transcripts - Client Call QC","cachedResultUrl":"https://drive.google.com/drive/folders/1TO-Fiugsyj9AVc_7nSOcG2H1_EorFRre"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-580,-80],"id":"14168917-c22d-4884-a68b-3cb347b9068b","name":"Google Drive Trigger","credentials":{"googleDriveOAuth2Api":{"id":"3VzmfL5shCfEf9cg","name":"Google Drive account 2"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-340,20],"id":"684dcb51-0c51-4b11-b86d-df4123b45d35","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"3VzmfL5shCfEf9cg","name":"Google Drive account 2"}}},{"parameters":{"promptType":"define","text":"=Analyze the document to outpot your analysis following the JSON schema:\n{{ $json.anotherField }}","hasOutputParser":true,"options":{"systemMessage":"##Role and Objective##\n\nYou are a structured call analysis agent. Your job is to extract actionable insights, performance ratings, and psychological assessments from coaching call transcripts. Each output must conform strictly to a defined JSON schema. Your judgments must be supported by explicit evidence from the call.\n\n##Instructions##\n\nAnalyze the entire document thoroughly.\n\nFollow the specific field definitions below. Be exact.\n\nUse concrete call content for all inferences—no speculation.\n\nFormat output as a valid JSON object, conforming to the schema below.\n\nDo not end until all sections are complete, thoroughly supported, and explicitly described.\n\nAssume current year is 2025 unless otherwise stated.\n\n##Field Definitions##\n\n#Company Name#\n\nDefinition: The name of the company.\n\n#summary#\n\nDefinition: Provide a concise title and 2–4 short sentences summarizing the key discussion points of the call. Focus on primary goals, obstacles, and client-coach alignment. It is not necessary to use complete sentences. Highlight only the most impactful results and topics discussed on the call. Do not use full sentences. \n\n#discussion_points#\n\nDefinition: A structured bullet list of concrete follow-up actions mentioned during the call.\n\nEach item must include:\n\nAction item\n\nWho is responsible \n\nDeadline or expected time frame (if mentioned)\n\nUse imperative tone (\"Complete X\", \"Send Y\").\n\n#date#\n\nDefinition: Date of the call, in \"Month Day, YYYY\" format.\n\n#consulting_health#\n\nDefinition: Use your best judgment to determine the current progress of their marketing plan, excecution of critical tasks, and weather or not they will achieve the goals they set for themselves. Evaluate the client’s implementation status using these categories:\n\n#Green#: Strong implementation, following direction, making progress.\n\nPhrases/indicators: “You're doing great”, “On track”, “Making great progress”.\n\n#Yellow#: Partial implementation or early signs of stagnation.\n\nPhrases/indicators: “We need to pick up the pace”, “What's blocking this?”, “This might become an issue”.\n\n#Red#: No implementation, not following guidance, falling behind.\n\nPhrases, Indicators: No follow-through, repeated inaction, verbal resistance, \"You're not making progress,\" \"Something isn't working,\" \"Something needs to change.\"\n\n#sentiment#\n\nDefinition: Classify client buy-in and engagement into one of the following:\n\n\"Positive\": Client is coachable, follows through, shows ownership and positivity.\n\n\"Uncertain\": Client is ambiguous, lacks action, seems unsure but not resistant.\n\n\"Unrealistic expectations\": Client is motivated but disconnected from feasible timelines, underestimates effort required.\n\n\"Negative\": Client resists feedback, lacks accountability, expresses pessimism or frustration.\n\nKey rules:\n\nNever classify as Positive if client shows:\n\nPessimism\n\nBlame-shifting\n\nUncoachable or dismissive behavior\n\nNegative emotional volatility\n\nLabel as Uncertain if client:\n\nHesitates or deflects accountability\n\nUses vague or passive language\n\nLabel as Positive if client:\n\nIs upbeat, clear, and aligned with next steps\n\n#recording_link#\n\nDefinition: Direct URL link to the full call recording. You will find this in the provided document. \n\narchetype\n\nDefinition: Classify the client into one of four types based on confidence, emotional tone, and behavior:\n\nDoer:\n\nHigh confidence in self\n\nLow confidence in tools\n\nTrusts advisor, shows no arrogance\n\nHigh work ethic, takes direction\n\nDriver:\n\nHigh confidence in self and tools\n\nDistrusts advisor, seeks control\n\nMay show arrogance\n\nFocused obsessively on results\n\nWorrier:\n\nLow self-confidence, low confidence in tools\n\nNo complacency or arrogance\n\nOverthinks\n\nEasily overwhelmed\n\nFollower:\n\nLow self-confidence, high confidence in tools\n\nPassive or complacent\n\nDoesn’t challenge assumptions, seeks reassurance\n\nred_flags\n\nDefinition: Identify 3 major challenges, pain points, or blockers raised by the client.\n\nFormat as bullet points\n\nInclude:\n\nTimestamp (e.g., \"00:17:05\")\n\nDescription of the challenge\n\nOne or more negative emotions detected (e.g., “overwhelm”, “frustration”, “resignation”)\n\n#green_lights#\n\nDefinition: Identify 3 positive signals from the client.\n\nFormat as bullet points\n\nInclude:\n\nTimestamp (e.g., \"00:32:40\")\n\nDescription of the win, clarity, or alignment\n\nOne or more positive emotions (e.g., “enthusiasm”, “relief”, “confidence”)\n\n#rapport_score#\n\nDefinition: How well did the coach build rapport during the call?\n\nUse 1, 3, 5, or 7\n\nConsider warmth, curiosity, mirroring, and pacing\n\n#agenda_score#\n\nDefinition: How well was the call agenda set and maintained?\n\nUse 1, 3, 5, or 7\n\nFor one-on-one calls:\n\nDid the coach set a clear agenda and ask the client if they had anything to add?\n\nFor group calls:\n\nRate agenda clarity and team alignment.\n\n#energy_score#\n\nDefinition: How well did the coach maintain engagement and presence?\n\nUse 1, 3, 5, or 7\n\nLook for energy, attentiveness, momentum\n\n#summary_action_score#\n\nDefinition: How well were next steps summarized and clarified?\n\nUse 1, 3, 5, or 7\n\nConsider:\n\nWere responsibilities defined?\n\nWere deadlines or goals reiterated?\n\n#renewal_convo_analysis#\n\nDefinition: If there was a conversation about contract renewal:\n\nDescribe what worked well (e.g., emotional buy-in, clear benefits).\n\nPoint out what could have gone better (e.g., missed timing, hesitations).\n\nStructure as two short paragraphs.\n\n#Reasoning Steps#\n\nIdentify the structure of the call (intro, main body, wrap-up).\n\nLocate each required insight by scanning for key phrases and tone shifts.\n\nUse direct evidence—quotes, timestamps, and tone—to inform each field.\n\nEnsure no field is missed or left vague.\n\nFinalize output in exact JSON format, with values for every field.\n\n#Output Format#\n\nReturn all findings as a valid JSON object with named fields exactly as specified above. If a field is not present in the conversation, use null.\n\n#Context#\n\nThis prompt powers a coaching call intelligence agent. Its job is to help human reviewers understand client mindset, follow-through, and risks. The agent must output structured, deeply grounded analysis from unstructured call transcripts.\n\n#Final instructions and prompt to think step by step#\n\nFirst, think carefully step by step:\n\nParse the call structure (opening → discussion → closing).\n\nIdentify discussion points, red/green flags, tone shifts, and sentiment indicators.\n\nMatch insights to the correct fields above.\n\nPopulate each field using the definitions and behavioral criteria.\n\nFormat as a valid JSON object.\n\nDo not stop or yield until all outputs are clearly populated and evidence-based.\n\n{\n  \"Company Name\": {\n    \"title\": [\n      {\n        \"text\": {\n          \"content\": \"{{ $json.CompanyName }}\"\n        }\n      }\n    ]\n  },\n  \"Summary\": {\n    \"rich_text\": [\n      {\n        \"text\": {\n          \"content\": \"{{ $json.Summary }}\"\n        }\n      }\n    ]\n  },\n  \"DiscussionPoints\": {\n    \"rich_text\": [\n      {\n        \"text\": {\n          \"content\": \"{{ $json.DiscussionPoints }}\"\n        }\n      }\n    ]\n  },\n  \"Date of Call\": {\n    \"date\": {\n      \"start\": \"{{ $json.DateOfCall }}\"\n    }\n  },\n  \"Consulting Health\": {\n    \"select\": {\n      \"name\": \"{{ $json.ConsultingHealth }}\"\n    }\n  },\n  \"Sentiment\": {\n    \"select\": {\n      \"name\": \"{{ $json.Sentiment }}\"\n    }\n  },\n  \"Link to Call Recording\": {\n    \"url\": \"{{ $json.LinkToCallRecording }}\"\n  },\n  \"Archetype\": {\n    \"select\": {\n      \"name\": \"{{ $json.Archetype }}\"\n    }\n  },\n  \"Red Flags\": {\n    \"rich_text\": [\n      {\n        \"text\": {\n          \"content\": \"{{ $json.RedFlags }}\"\n        }\n      }\n    ]\n  },\n  \"Green Lights\": {\n    \"rich_text\": [\n      {\n        \"text\": {\n          \"content\": \"{{ $json.GreenLights }}\"\n        }\n      }\n    ]\n  },\n  \"Rapport Score\": {\n    \"number\": {{ $json.RapportScore }}\n  },\n  \"Agenda Score\": {\n    \"number\": {{ $json.AgendaScore }}\n  },\n  \"Energy Score\": {\n    \"number\": {{ $json.EnergyScore }}\n  },\n  \"Summary & Action Score\": {\n    \"number\": {{ $json.SummaryActionScore }}\n  },\n  \"Renewal Convo Analysis\": {\n    \"rich_text\": [\n      {\n        \"text\": {\n          \"content\": \"{{ $json.RenewalConvoAnalysis }}\"\n        }\n      }\n    ]\n  }\n}\n","passthroughBinaryImages":false}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1040,-120],"id":"7a938f75-14f4-467a-a533-a1d9adfe7e16","name":"AI Agent","executeOnce":true},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1128,140],"id":"4d4245c0-6573-42dc-b307-c67049b46693","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"5Ods8kFLAhbAPcNj","name":"OpenAi account 2"}}},{"parameters":{"schemaType":"manual"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[920,620],"id":"cb0f0269-e486-4d50-bdf5-7d2685fa0abb","name":"Structured Output Parser"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"CompanyName\": {\n      \"type\": \"string\",\n      \"description\": \"Name of the client company associated with the call\"\n    },\n    \"Summary\": {\n      \"type\": \"string\",\n      \"description\": \"2–4 sentence summary of the call\"\n    },\n    \"DiscussionPoints\": {\n      \"type\": \"string\",\n      \"description\": \"Formatted string of structured follow-up action items\"\n    },\n    \"DateOfCall\": {\n      \"type\": \"string\",\n      \"description\": \"Date in format like 'February 1, 2025'\"\n    },\n    \"ConsultingHealth\": {\n      \"type\": \"string\",\n      \"enum\": [\"Green\", \"Yellow\", \"Red\"],\n      \"description\": \"Dropdown: client health assessment\"\n    },\n    \"Sentiment\": {\n      \"type\": \"string\",\n      \"enum\": [\"Positive\", \"Uncertain\", \"Unrealistic Expectations\", \"Negative\"],\n      \"description\": \"Dropdown: client sentiment/buy-in\"\n    },\n    \"LinkToCallRecording\": {\n      \"type\": \"string\",\n      \"description\": \"Plain URL string to call recording\"\n    },\n    \"Archetype\": {\n      \"type\": \"string\",\n      \"enum\": [\"Doer\", \"Driver\", \"Worrier\", \"Follower\"],\n      \"description\": \"Dropdown: client archetype\"\n    },\n    \"RedFlags\": {\n      \"type\": \"string\",\n      \"description\": \"Formatted bullet points with timestamps and negative emotions\"\n    },\n    \"GreenLights\": {\n      \"type\": \"string\",\n      \"description\": \"Formatted bullet points with timestamps and positive emotions\"\n    },\n    \"RapportScore\": {\n      \"type\": \"string\",\n      \"enum\": [\"1\", \"3\", \"5\", \"7\"],\n      \"description\": \"String representing rapport score out of 7\"\n    },\n    \"AgendaScore\": {\n      \"type\": \"string\",\n      \"enum\": [\"1\", \"3\", \"5\", \"7\"],\n      \"description\": \"String representing agenda-setting score out of 7\"\n    },\n    \"EnergyScore\": {\n      \"type\": \"string\",\n      \"enum\": [\"1\", \"3\", \"5\", \"7\"],\n      \"description\": \"String representing energy score out of 7\"\n    },\n    \"SummaryActionScore\": {\n      \"type\": \"string\",\n      \"enum\": [\"1\", \"3\", \"5\", \"7\"],\n      \"description\": \"String representing summary/action clarity score out of 7\"\n    },\n    \"RenewalConvoAnalysis\": {\n      \"type\": \"string\",\n      \"description\": \"Written analysis of renewal conversation if present\"\n    }\n  },\n  \"required\": [\n    \"CompanyName\",\n    \"Summary\",\n    \"DiscussionPoints\",\n    \"DateOfCall\",\n    \"ConsultingHealth\",\n    \"Sentiment\",\n    \"Archetype\",\n    \"RapportScore\",\n    \"AgendaScore\",\n    \"EnergyScore\",\n    \"SummaryActionScore\"\n  ]\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1248,140],"id":"82e73ef2-f38f-444e-b66f-6ad9a0e7d1f5","name":"Structured Output Parser1"},{"parameters":{"jsCode":"const data = $input.first().json.output;\n\nreturn [\n  {\n    json: {\n      ...data,\n      RapportScore: parseInt(data.RapportScore, 10),\n      AgendaScore: parseInt(data.AgendaScore, 10),\n      EnergyScore: parseInt(data.EnergyScore, 10),\n      SummaryActionScore: parseInt(data.SummaryActionScore, 10)\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1476,-80],"id":"312e6f86-e51e-47e0-9d79-c68689c35c1c","name":"Code"},{"parameters":{"documentId":{"__rl":true,"value":"1mmVcdIyaz-jfaRseG97pFPeh1OVeT9T11p87k31oG5M","mode":"list","cachedResultName":"Slack User to Company Mapping","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1mmVcdIyaz-jfaRseG97pFPeh1OVeT9T11p87k31oG5M/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1mmVcdIyaz-jfaRseG97pFPeh1OVeT9T11p87k31oG5M/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1020,-560],"id":"99e21458-c179-41c4-afad-a25d5562b3cb","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"tkvcRmLfYi38x0mC","name":"Google Sheets account"}}},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/1e1h9UsuZZA6UN8APsd_H3qrKCtxZm9ej6jneTWBi0NQ/edit?tab=t.0"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[820,-560],"id":"98c78ba2-8390-4d7f-8799-c0ccc5e06985","name":"Google Docs","credentials":{"googleDocsOAuth2Api":{"id":"S43SIoncPmOAdlW7","name":"Google Docs account"}}},{"parameters":{"assignments":{"assignments":[{"id":"af979fb5-ad85-4a7e-a87d-e25498f7e620","name":"Email","value":"={{ $json.Email }}","type":"string"},{"id":"f692b427-2203-4331-b5ef-3e689927a26b","name":"Company as in Notion","value":"={{ $json['Company as in Notion'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[620,-560],"id":"8d3a7087-76aa-40ba-839d-b31e3cdf93aa","name":"Create Variables"},{"parameters":{"documentId":{"__rl":true,"value":"1mmVcdIyaz-jfaRseG97pFPeh1OVeT9T11p87k31oG5M","mode":"list","cachedResultName":"Slack User to Company Mapping","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1mmVcdIyaz-jfaRseG97pFPeh1OVeT9T11p87k31oG5M/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1mmVcdIyaz-jfaRseG97pFPeh1OVeT9T11p87k31oG5M/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-100,-280],"id":"c6abdbdd-b21d-47ef-bfe7-35ccb2b6a9a1","name":"Reads Slack Google Sheet","credentials":{"googleSheetsOAuth2Api":{"id":"tkvcRmLfYi38x0mC","name":"Google Sheets account"}}},{"parameters":{"text":"={{ $json.data }}","attributes":{"attributes":[{"name":"company Emails","description":"These are all the emails of the users on the call. Multiple.","required":true},{"name":"Name of Attendees","description":"These are the names of the people attending the call.","required":true}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.1,"position":[-20,20],"id":"5a6fa9df-e8a7-482b-a6c3-1250be7b69cb","name":"Information Extractor"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[0,280],"id":"9ecf3105-6a77-4871-b5ef-f1b218d9db8e","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"5Ods8kFLAhbAPcNj","name":"OpenAi account 2"}}},{"parameters":{"operation":"text","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-180,20],"id":"d5445bba-70e5-486e-85d3-d463163d8668","name":"Extract from File"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"89fb9b17-6d21-4930-b0a8-8e78e117592f","leftValue":"={{ $json.output['company Emails'] }}","rightValue":"sal@leanmarketing.com","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[320,20],"id":"d9998357-af9d-426b-b20d-936fa099e41c","name":"If"},{"parameters":{"jsCode":"const merged = $input.all();\n\nlet companyArr = null;\nlet emailsObj = null;\n\nfor (const item of merged) {\n  if (Array.isArray(item.json.data)) {\n    companyArr = item.json.data;\n  }\n  if (item.json.output && item.json.output['company Emails']) {\n    emailsObj = item.json.output;\n  }\n}\n\nif (!companyArr || !emailsObj) {\n  throw new Error(\"Could not find expected data structure.\");\n}\n\nconst emails = emailsObj['company Emails']\n  .split(',')\n  .map(e => e.trim().toLowerCase());\n\nconst emailToCompany = {};\nfor (const obj of companyArr) {\n  emailToCompany[obj.Email.toLowerCase()] = obj[\"Company as in Notion\"];\n}\n\n// Main match results\nconst matchResults = emails.map(email => ({\n  type: 'email_match', // distinguish this output\n  Email: email,\n  \"Company as in Notion\": emailToCompany[email] || null,\n}));\n\n// --- Custom additional item from another node ---\n// Example: Let's just mock this for now, you can replace this with actual mapping logic\nconst otherNodeItem = {\n  type: 'external_data',   // distinguish this output\n  someField: 'exampleValue',\n  anotherField: $('Extract from File').first().json.data,\n};\n\n// Return both as separate outputs\nreturn [\n  ...matchResults.map(j => ({ json: j })),\n  { json: otherNodeItem }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[660,-160],"id":"9158153d-fb89-493c-9506-19402cd500b6","name":"Code1"},{"parameters":{"aggregate":"={{ $json.Email }}","fieldsToAggregate":{"fieldToAggregate":[{}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[120,-280],"id":"e902f76f-8c22-4c78-8e82-7566a632444c","name":"Aggregate"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[480,-160],"id":"b9b08486-e8ac-4817-9051-08a763e71c9f","name":"Merge"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"=","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1360,-500],"id":"919fb38a-5f3a-4896-ac98-9b31da73f457","name":"Google Drive1","credentials":{"googleDriveOAuth2Api":{"id":"3VzmfL5shCfEf9cg","name":"Google Drive account 2"}}},{"parameters":{"operation":"text","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1520,-500],"id":"af9e4486-9f2e-4f20-8d0f-c6441e569fef","name":"Extract from File1"},{"parameters":{"content":"## Might not need\n","height":80,"width":200},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1420,-140],"id":"0e8fde3a-97c7-4ccb-a370-6fc9b7bff9f6","name":"Sticky Note"},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"19640ee4-a8af-802e-bc8f-cbb117d92c53","mode":"list","cachedResultName":"Client Status Updates","cachedResultUrl":"https://www.notion.so/19640ee4a8af802ebc8fcbb117d92c53"},"propertiesUi":{"propertyValues":[{"key":"Summary|title","title":"={{ $json.Summary }}"},{"key":"Date|date","date":"={{ $json.DateOfCall }}"},{"key":"Consulting Health|select","selectValue":"={{ $json.ConsultingHealth }}"},{"key":"Sentiment|select","selectValue":"={{ $json.Sentiment }}"},{"key":"Link to Call Recording|url","urlValue":"={{ $json.LinkToCallRecording }}"},{"key":"Archetype|select","selectValue":"={{ $json.Archetype }}"},{"key":"Red Flags|rich_text","textContent":"={{ $json.RedFlags }}"},{"key":"Green Lights|rich_text","textContent":"={{ $json.GreenLights }}"},{"key":"Rapport Score|number","numberValue":"={{ $json.RapportScore }}"},{"key":"Agenda Score|number","numberValue":"={{ $json.AgendaScore }}"},{"key":"Energy Score|number","numberValue":"={{ $json.EnergyScore }}"},{"key":"Summary & Action Score|number","numberValue":"={{ $json.SummaryActionScore }}"},{"key":"Client|relation"}]},"blockUi":{"blockValues":[{"textContent":"={{ $json.RenewalConvoAnalysis }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1760,-100],"id":"47558dcc-fdae-4c06-8d20-93d1e11439a4","name":"Notion","credentials":{"notionApi":{"id":"l2nKJRGnfu2CHdp9","name":"Notion account"}}},{"parameters":{},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-120,-600],"id":"f40143fb-845f-4c8f-8c0b-138a4a56495a","name":"Sticky Note1"}],"connections":{"Google Drive Trigger":{"main":[[{"node":"Google Drive","type":"main","index":0},{"node":"Reads Slack Google Sheet","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[]]},"AI Agent":{"main":[[{"node":"Code","type":"main","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Code":{"main":[[{"node":"Notion","type":"main","index":0}]]},"Google Docs":{"main":[[]]},"Create Variables":{"main":[[]]},"Reads Slack Google Sheet":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Information Extractor","type":"ai_languageModel","index":0}]]},"Extract from File":{"main":[[{"node":"Information Extractor","type":"main","index":0}]]},"Information Extractor":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Aggregate":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Drive1":{"main":[[{"node":"Extract from File1","type":"main","index":0}]]},"Notion":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Google Drive Trigger":{"lastTimeChecked":"2025-06-19T14:13:38Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Google Drive Trigger":[{"json":{"exportLinks":{"application/rtf":"https://docs.google.com/feeds/download/documents/export/Export?id=15tbqtXqiDpjgGsZXvy_eudgSI1IWSmiaMTGMzFnqikk&exportFormat=rtf","application/vnd.oasis.opendocument.text":"https://docs.google.com/feeds/download/documents/export/Export?id=15tbqtXqiDpjgGsZXvy_eudgSI1IWSmiaMTGMzFnqikk&exportFormat=odt","text/html":"https://docs.google.com/feeds/download/documents/export/Export?id=15tbqtXqiDpjgGsZXvy_eudgSI1IWSmiaMTGMzFnqikk&exportFormat=html","application/pdf":"https://docs.google.com/feeds/download/documents/export/Export?id=15tbqtXqiDpjgGsZXvy_eudgSI1IWSmiaMTGMzFnqikk&exportFormat=pdf","text/x-markdown":"https://docs.google.com/feeds/download/documents/export/Export?id=15tbqtXqiDpjgGsZXvy_eudgSI1IWSmiaMTGMzFnqikk&exportFormat=markdown","text/markdown":"https://docs.google.com/feeds/download/documents/export/Export?id=15tbqtXqiDpjgGsZXvy_eudgSI1IWSmiaMTGMzFnqikk&exportFormat=markdown","application/epub+zip":"https://docs.google.com/feeds/download/documents/export/Export?id=15tbqtXqiDpjgGsZXvy_eudgSI1IWSmiaMTGMzFnqikk&exportFormat=epub","application/zip":"https://docs.google.com/feeds/download/documents/export/Export?id=15tbqtXqiDpjgGsZXvy_eudgSI1IWSmiaMTGMzFnqikk&exportFormat=zip","application/vnd.openxmlformats-officedocument.wordprocessingml.document":"https://docs.google.com/feeds/download/documents/export/Export?id=15tbqtXqiDpjgGsZXvy_eudgSI1IWSmiaMTGMzFnqikk&exportFormat=docx","text/plain":"https://docs.google.com/feeds/download/documents/export/Export?id=15tbqtXqiDpjgGsZXvy_eudgSI1IWSmiaMTGMzFnqikk&exportFormat=txt"},"parents":["1TO-Fiugsyj9AVc_7nSOcG2H1_EorFRre"],"lastModifyingUser":{"displayName":"nate","kind":"drive#user","me":false,"permissionId":"00854821172244564359","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjWO_jZ3mb14KdTvzc46Cj_f5a65P2u7OedhGzLgSyAh32JsBuk=s64"},"spaces":["drive"],"capabilities":{"canAddChildren":false,"canAddFolderFromAnotherDrive":false,"canChangeCopyRequiresWriterPermission":true,"canChangeSecurityUpdateEnabled":false,"canChangeViewersCanCopyContent":true,"canComment":true,"canCopy":true,"canDelete":true,"canDeleteChildren":false,"canDisableInheritedPermissions":false,"canDownload":true,"canEdit":true,"canEnableInheritedPermissions":true,"canListChildren":false,"canModifyContent":true,"canModifyContentRestriction":true,"canModifyEditorContentRestriction":true,"canModifyOwnerContentRestriction":true,"canModifyLabels":true,"canMoveChildrenOutOfTeamDrive":false,"canMoveChildrenOutOfDrive":false,"canMoveChildrenWithinTeamDrive":false,"canMoveChildrenWithinDrive":false,"canMoveItemIntoTeamDrive":true,"canMoveItemOutOfTeamDrive":true,"canMoveItemOutOfDrive":true,"canMoveItemWithinTeamDrive":true,"canMoveItemWithinDrive":true,"canMoveTeamDriveItem":true,"canReadLabels":true,"canReadRevisions":true,"canReadTeamDrive":true,"canReadDrive":true,"canRemoveChildren":false,"canRemoveContentRestriction":false,"canRename":true,"canShare":true,"canTrash":true,"canTrashChildren":false,"canUntrash":true},"permissionIds":["04144416295392807947","05972359903927381381","17283703484709014695","07064520286321629893","14045690446659778403","10215096179113048758","17520543317646809613","17774716610873657005","00854821172244564359","16191187095607424634","03434107166484373704","13348624812833485414","anyoneWithLink"],"linkShareMetadata":{"securityUpdateEligible":false,"securityUpdateEnabled":true},"kind":"drive#file","id":"1LvsoZvP-VX4R3SpscjKkt6pNV0axnX5Dd9AuVXclk0Y","name":"LM Setters Team Coaching","mimeType":"application/vnd.google-apps.document","starred":false,"trashed":false,"explicitlyTrashed":false,"version":"9","webViewLink":"https://docs.google.com/document/d/15tbqtXqiDpjgGsZXvy_eudgSI1IWSmiaMTGMzFnqikk/edit?usp=drivesdk","iconLink":"https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.document","hasThumbnail":true,"thumbnailLink":"https://lh3.googleusercontent.com/drive-storage/AJQWtBM3FqHmGCeZuYah9ejeVW9hA4WD8gfjfuaXBaaVaCPeWJYggQWeWu83GgMvVWVyl5X9PTHGutz4kAWUkRZvssPOHCjD4VRlBwGZLpicIsRcr2Dx0_f1vULI2VKQAA=s220","thumbnailVersion":"2","viewedByMe":false,"createdTime":"2025-06-17T21:05:13.685Z","modifiedTime":"2025-06-17T21:05:17.147Z","modifiedByMe":false,"teamDriveId":"0ADnqVp7RccIeUk9PVA","driveId":"0ADnqVp7RccIeUk9PVA","viewersCanCopyContent":true,"copyRequiresWriterPermission":false,"hasAugmentedPermissions":true,"size":"20886","quotaBytesUsed":"20886","isAppAuthorized":false,"inheritedPermissionsDisabled":false}}]},"versionId":"dd634baa-7727-4ef4-b5a8-7b2939456352","triggerCount":1,"shared":[{"createdAt":"2025-06-13T15:47:30.531Z","updatedAt":"2025-06-13T15:47:30.531Z","role":"workflow:owner","workflowId":"TOn03ffG4oLGGBSR","projectId":"oeHwV8sNrbPNhUov"}],"tags":[]}