data-conversion-to-text-xtNosRukaKG3bLut.json
{"createdAt":"2025-10-24T21:35:02.463Z","updatedAt":"2025-10-24T21:50:42.294Z","id":"xtNosRukaKG3bLut","name":"Data conversion to Text","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-272,-16],"id":"3da06c47-9cba-40ad-8dca-64011f9daae3","name":"When clicking ‘Execute workflow’"},{"parameters":{"resource":"fileFolder","queryString":"onboarding","filter":{"folderId":{"__rl":true,"value":"1k5PjyNDv5gNa3ZpO68hA0CK-IftZUgE9","mode":"list","cachedResultName":"Test 5: Baltic Roofing - B2C Service","cachedResultUrl":"https://drive.google.com/drive/folders/1k5PjyNDv5gNa3ZpO68hA0CK-IftZUgE9"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-48,-16],"id":"60e331f3-e206-4597-9c78-3941a81d56f5","name":"Search files and folders","credentials":{"googleDriveOAuth2Api":{"id":"dSQbKYuOfxDcM0Uo","name":"Google Drive account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[176,-16],"id":"d5652dd0-c9af-479a-a7cd-9383fd8fc145","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"dSQbKYuOfxDcM0Uo","name":"Google Drive account"}}},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[384,-32],"id":"066620b4-3fdc-4097-a071-9234065bd387","name":"Extract from File"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[832,-48],"id":"e5e65f49-ff14-4d40-ae5f-222f370ef5ca","name":"Download file1","credentials":{"googleDriveOAuth2Api":{"id":"dSQbKYuOfxDcM0Uo","name":"Google Drive account"}}},{"parameters":{"resource":"fileFolder","queryString":"All Client Interviews.txt","filter":{"folderId":{"__rl":true,"value":"1k5PjyNDv5gNa3ZpO68hA0CK-IftZUgE9","mode":"list","cachedResultName":"Test 5: Baltic Roofing - B2C Service","cachedResultUrl":"https://drive.google.com/drive/folders/1k5PjyNDv5gNa3ZpO68hA0CK-IftZUgE9"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[624,-48],"id":"5934ff87-7e9d-4624-9b57-62e0f31acb5c","name":"Search files and folders1","credentials":{"googleDriveOAuth2Api":{"id":"dSQbKYuOfxDcM0Uo","name":"Google Drive account"}}},{"parameters":{"promptType":"define","text":"=Customer Interviews:  {{ $json.data }}\n\nOnboarding: {{ $('Extract from File').item.json.text }}","options":{"systemMessage":"You are a helpful assistant"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1264,-48],"id":"aaf4167d-e088-4e47-8e14-0b0ad2dbf75c","name":"AI Agent"},{"parameters":{"operation":"text","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1040,-48],"id":"6898eff3-dc2d-4d1b-a7c1-d46be0b2b87d","name":"Extract from File1"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Search files and folders","type":"main","index":0}]]},"Search files and folders":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Search files and folders1","type":"main","index":0}]]},"Search files and folders1":{"main":[[{"node":"Download file1","type":"main","index":0}]]},"Download file1":{"main":[[{"node":"Extract from File1","type":"main","index":0}]]},"Extract from File1":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"52f31c79-82ca-463b-9a6b-2c702717af6d","triggerCount":0,"shared":[{"createdAt":"2025-10-24T21:35:02.463Z","updatedAt":"2025-10-24T21:35:02.463Z","role":"workflow:owner","workflowId":"xtNosRukaKG3bLut","projectId":"oeHwV8sNrbPNhUov"}],"tags":[]}