edit-15---words-we-use-hN9lOY2DCb4mG0K5.json
{"createdAt":"2025-09-09T01:58:42.326Z","updatedAt":"2025-10-16T06:34:57.215Z","id":"hN9lOY2DCb4mG0K5","name":"EDIT 15 - Words We Use","active":false,"isArchived":false,"nodes":[{"parameters":{"tableId":"words_we_use","fieldsUi":{"fieldValues":[{"fieldId":"client_id","fieldValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"},{"fieldId":"company","fieldValue":"={{ $('Get Business Info').item.json.company }}"},{"fieldId":"marketing_terminology","fieldValue":"={{ $json.output.marketingTerminology }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[640,560],"id":"8578da34-7e5e-49ee-8cd4-8070d17f42f4","name":"Supabase1","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}},"onError":"continueErrorOutput"},{"parameters":{"promptType":"define","text":"=ALWAYS USE THE TOOL TO PULL CHUNKS FROM THE VECTOR DATABASE\n\n- Desrired Transformation | Overarching, Primary, & Secondary:\n{{ $('Get Desired Transformation').item.json.overarching_transformation }}\n\n{{ JSON.stringify($('Get Desired Transformation').item.json.primary_transformation, null, 1) }}\n\n{{ JSON.stringify($('Get Desired Transformation').item.json.secondary_transformation, null, 1) }}\n\n\n- Get Pain Points:\n{{ JSON.stringify($('Get Pain Points').item.json.known_pain_points, null, 1) }}\n\n- Jargon they use (and jargon they don’t):\nUse:\n{{ JSON.stringify($('Get jargon').item.json.good_jargon, null, 1) }}\n\n\n- Primary Target Market:\n{{ JSON.stringify($('Get Target Market').item.json.primary_target_market, null, 2) }}\n\n- Secondary Target Market:\n-{{ JSON.stringify($('Get Target Market').item.json.secondary_target_market, null, 2) }}\n\n","hasOutputParser":true,"options":{"systemMessage":"=#Role and Objective#\nYou are a marketing language strategist. Your objective is to analyze all provided context—including interviews, testimonials, reviews, and other research—to identify the most effective marketing terminology for the company to use. The goal is to create a list of no more than 20 words, terms, or short phrases that the brand should consistently use in its messaging to connect with the target market.\n\n#Instructions#\n\nAlways use the tool provided to pull relevant chunks from the vector database.\n\nReview all input context, including customer interviews, testimonials, reviews, and research.\n\nIdentify up to 20 words, terms, or short phrases that:\n\nAlign with the target market’s language and mindset.\n\nAddress key pain points or problems the audience cares about.\n\nReflect the transformation or outcome the target market desires.\n\nMatch the jargon or terminology actually used by the audience.\n\nElicit emotional responses or strong engagement.\n\nFor each word, term, or phrase, provide a brief description explaining its significance and how it resonates with the audience.\n\nPrioritize language that is repeated by the target market and shown to have emotional or persuasive impact.\n\nPresent your output as a valid JSON schema object, following the required structure exactly. Do not include any extra fields.\n\n#Reasoning Steps#\n\nBegin by reviewing all relevant context and extracting repeated or high-impact language from the vector database.\n\nFocus on words, terms, and short phrases that are used by the target market and tie directly to their pain points, aspirations, and emotional triggers.\n\nFor each term, write a concise description that explains why it matters and how it connects to the audience’s needs or mindset.\n\nConfirm the list is no longer than 20 entries and that each entry includes both the term and its description.\n\n#Context#\nYou have access to interviews, testimonials, reviews, market research, and a vector database containing detailed contextual insights about the brand, offer, and audience. Use all relevant sources and retrieved chunks.\n\n#Final instructions and prompt to think step by step#\nCarefully review all input context and outputs from the vector database before compiling your list.\nThink step by step: first, extract repeated and emotionally charged language; second, ensure each term aligns with target market pain points and aspirations; third, provide a clear description for each term’s significance.\nReturn your answer as a valid JSON schema object that contains only the required fields.\nDo not yield control until all instructions are met and the list reflects authentic, audience-driven language.\n\n\n\nOutput Schema:\n{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"title\": \"MarketingTerminologyOutput\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"marketingTerminology\": {\n      \"type\": \"array\",\n      \"description\": \"A list of no more than 20 marketing terms, words, or phrases that align with the target market's language, pain points, and desired transformation.\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"term\": {\n            \"type\": \"string\",\n            \"description\": \"The marketing term, word, or phrase.\"\n          },\n          \"description\": {\n            \"type\": \"string\",\n            \"description\": \"A brief explanation of the term’s significance and how it resonates with the target market.\"\n          }\n        },\n        \"required\": [\"term\", \"description\"],\n        \"additionalProperties\": false\n      },\n      \"maxItems\": 20\n    }\n  },\n  \"required\": [\"marketingTerminology\"],\n  \"additionalProperties\": false\n}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[48,592],"id":"340af403-f0ab-4a2d-999b-2b1e7a4f5a02","name":"AI Agent","onError":"continueErrorOutput"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"title\": \"MarketingTerminologyOutput\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"marketingTerminology\": {\n      \"type\": \"array\",\n      \"description\": \"A list of no more than 20 marketing terms, words, or phrases that align with the target market's language, pain points, and desired transformation.\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"term\": {\n            \"type\": \"string\",\n            \"description\": \"The marketing term, word, or phrase.\"\n          },\n          \"description\": {\n            \"type\": \"string\",\n            \"description\": \"A brief explanation of the term’s significance and how it resonates with the target market.\"\n          }\n        },\n        \"required\": [\"term\", \"description\"],\n        \"additionalProperties\": false\n      },\n      \"maxItems\": 20\n    }\n  },\n  \"required\": [\"marketingTerminology\"],\n  \"additionalProperties\": false\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[368,832],"id":"428b4d66-1d90-494c-a2a4-311a6248718f","name":"Structured Output Parser"},{"parameters":{"mode":"retrieve-as-tool","toolName":"WordsToUse","toolDescription":"=Search the vector database for phrases to create a list of marketing terminology that the company should use to communicate and enhance its messaging consistently","pineconeIndex":{"__rl":true,"value":"=onboarding","mode":"id"},"topK":20,"options":{"pineconeNamespace":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[80,1072],"id":"b686208c-19bc-4ce8-843e-75b3e0e2260c","name":"Pinecone Vector Store1","credentials":{"pineconeApi":{"id":"axuYyU6grhcC8CQp","name":"PineconeApi account"}}},{"parameters":{"model":"text-embedding-3-large","options":{"dimensions":3072}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[208,1264],"id":"259b02bc-45c8-4abd-9817-bad1553df3d2","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{"content":"## AI Model \nCurrently set\nto 4.1\n","height":220,"width":360,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-256,720],"id":"0c8dc2be-e8a5-47fa-914b-d00086fb807f","name":"Sticky Note3"},{"parameters":{"content":"## Notes about run\n\nRun Time: 25 secs\n\n## Analyze outputs\n- Might need higher intelligence for this output\n","height":380,"width":700,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1216,960],"id":"49d1719b-e22e-4214-a570-74c5d09c64d4","name":"Sticky Note6"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-16,832],"id":"ca49e17b-1828-4697-8b77-6f5f817f617a","name":"AI","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{"operation":"get","tableId":"desired_transformations","filters":{"conditions":[{"keyName":"client_id","keyValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-928,592],"id":"d4fc84eb-9ab5-4073-bf98-672b3b5aa482","name":"Get Desired Transformation","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"operation":"get","tableId":"pain_points_extractions","filters":{"conditions":[{"keyName":"client_id","keyValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1168,592],"id":"fb8e073f-887d-44d8-8de0-5500be31dd72","name":"Get Pain Points","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"operation":"get","tableId":"business_profiles","filters":{"conditions":[{"keyName":"client_id","keyValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1648,592],"id":"0c62b7c2-8ee0-4b1a-baf5-f580103d00d4","name":"Get Business Info","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"operation":"get","tableId":"industry_jargon","filters":{"conditions":[{"keyName":"client_id","keyValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-704,592],"id":"799264a9-2f55-49bd-91d6-d8b54c535f67","name":"Get jargon","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"operation":"get","tableId":"target_market_profiles","filters":{"conditions":[{"keyName":"client_id","keyValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1408,592],"id":"94768a9f-8fa7-4d1a-927b-b9b93c32dc73","name":"Get Target Market","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0b01e0ec-c766-4b22-9f4a-9c95f327539e","leftValue":"={{ $('When Executed by Another Workflow').item.json['Overwrite'] }}","rightValue":"no","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[416,576],"id":"5ee8c8da-d52c-4e18-8db2-b422ae6ff17a","name":"If"},{"parameters":{"operation":"update","tableId":"words_we_use","filters":{"conditions":[{"keyName":"client_id","condition":"eq","keyValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"company","fieldValue":"={{ $('Get Business Info').item.json.company }}"},{"fieldId":"marketing_terminology","fieldValue":"={{ $json.output.marketingTerminology }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[640,752],"id":"0f179ff6-3078-4f1f-bf42-90de96c01d8b","name":"Supabase","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}},"onError":"continueErrorOutput"},{"parameters":{"workflowInputs":{"values":[{"name":"client_id"},{"name":"Overwrite"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1856,592],"id":"a301d904-17d3-43f6-aa37-5934ee5f651d","name":"When Executed by Another Workflow"}],"connections":{"AI Agent":{"main":[[{"node":"If","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Pinecone Vector Store1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store1","type":"ai_embedding","index":0}]]},"AI":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Get Desired Transformation":{"main":[[{"node":"Get jargon","type":"main","index":0}]]},"Get Pain Points":{"main":[[{"node":"Get Desired Transformation","type":"main","index":0}]]},"Get Business Info":{"main":[[{"node":"Get Target Market","type":"main","index":0}]]},"Get Target Market":{"main":[[{"node":"Get Pain Points","type":"main","index":0}]]},"Get jargon":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"If":{"main":[[{"node":"Supabase1","type":"main","index":0}],[{"node":"Supabase","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Get Business Info","type":"main","index":0}]]},"Supabase1":{"main":[[],[{"node":"Supabase","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"client_id":"1650987991917x277951650850529760","Overwrite":"no"}}]},"versionId":"cd2cb6d4-56ba-4864-830e-6d25183d675d","triggerCount":0,"shared":[{"createdAt":"2025-09-09T01:58:42.326Z","updatedAt":"2025-09-09T01:58:42.326Z","role":"workflow:owner","workflowId":"hN9lOY2DCb4mG0K5","projectId":"oeHwV8sNrbPNhUov"}],"tags":[{"createdAt":"2025-03-17T22:01:27.572Z","updatedAt":"2025-03-17T22:01:27.572Z","id":"8gp5kj24VYtRoQQF","name":"Awareness Matrix"},{"createdAt":"2025-04-01T22:45:29.983Z","updatedAt":"2025-04-01T22:45:29.983Z","id":"BrjeNaIxRMVJhxj8","name":"Identity"}]}