edit-7---common-misconceptions-UpZeuHHRNmSSbahv.json
{"createdAt":"2025-09-03T01:34:49.367Z","updatedAt":"2025-10-16T06:36:24.928Z","id":"UpZeuHHRNmSSbahv","name":"EDIT 7 - Common Misconceptions","active":false,"isArchived":false,"nodes":[{"parameters":{"tableId":"misconceptions_output","fieldsUi":{"fieldValues":[{"fieldId":"client_id","fieldValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"},{"fieldId":"company","fieldValue":"={{ $('Get Business Profile').item.json.company }}"},{"fieldId":"misconceptions_about_solution","fieldValue":"={{ $('AI Agent').item.json.output.misconceptions.solution }}"},{"fieldId":"misconceptions_about_offer","fieldValue":"={{ $('AI Agent').item.json.output.misconceptions.offer }}"},{"fieldId":"misconceptions_about_industry","fieldValue":"={{ $('AI Agent').item.json.output.misconceptions.industry }}"},{"fieldId":"misconceptions_about_company","fieldValue":"={{ $('AI Agent').item.json.output.misconceptions.company }}"},{"fieldId":"summary","fieldValue":"={{ $('AI Agent').item.json.output.misconceptions.summary }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[688,560],"id":"71eec559-1b2e-4dba-a65c-4a12566320c7","name":"Supabase1","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}},"onError":"continueErrorOutput"},{"parameters":{"promptType":"define","text":"=ALWAYS USE THE TOOL TO PULL CHUNKS FROM THE VECTOR DATABASE\n\n**Analyze the provided context from THE COMPANY:**\n\n- **Company Name:** \n\n{{ $('Get Business Profile').item.json.company }}\n- **Offer:** \n\n{{ $('Get Business Profile').item.json.offer }}\n- **Industry:** \n\n{{ $('Get Business Profile').item.json.industry }}\n\n- **Primary Target Market:**\n{{ JSON.stringify($('Get Target Market').item.json.primary_target_market, null, 2) }}`\n\n- **Secondary Target Market:**\n-{{ JSON.stringify($('Get Target Market').item.json.secondary_target_market, null, 2) }}\n\n","hasOutputParser":true,"options":{"systemMessage":"=**Role and Objective**\nYou are a marketing researcher. Your objective is to analyze all provided context, inputs, and information retrieved from the vector database to identify and synthesize the most common misconceptions customers have. You will create four lists of misconceptions: one each for the solution, the offer, the industry, and the company. Each list must contain exactly 4 misconceptions. Additionally, summarize the overarching themes that connect these misconceptions.\n\n**Instructions**\n\nAlways use the tool provided to extract relevant chunks from the vector database.\n\nCarefully examine all input context, customer reviews, testimonials, verbatims, and supporting documents.\n\nIdentify and organize the following:\n\nMisconceptions About the Solution: 4 misconceptions specific to the product or service itself.\n\nMisconceptions About the Offer: 4 misconceptions regarding offer details (such as product range, pricing, or shipping).\n\nMisconceptions About the Industry: 4 common misunderstandings about the broader industry or category.\n\nMisconceptions About the Company: 4 misconceptions related to perceptions specific to the company.\n\nFor each misconception, provide:\n\nA concise title summarizing the misconception.\n\nA list of bullet point explanations elaborating on the misconception.\n\nInclude a summary section that synthesizes and highlights the key overarching themes tying the misconceptions together.\n\nOutput your results as a valid JSON schema object conforming strictly to the provided template.\n\nDo not add any extra fields or alter the required structure.\n\n**Reasoning Steps**\n\nBegin by reviewing all input context and supporting documents for customer-facing language and expressed beliefs.\n\nUse the tool to search the vector database for direct references to misunderstandings, confusion, or repeated questions from customers.\n\nPrioritize authentic customer feedback—reviews, testimonials, and verbatims. When gaps exist, supplement insights by conducting targeted research within the vector database.\n\nAddress both the input context and vector database findings in your analysis.\n\nOrganize misconceptions by category: solution, offer, industry, and company.\n\nFor each misconception, draft a concise title and compile a list of bullet point details explaining the misunderstanding.\n\nSynthesize and summarize recurring themes and patterns among the misconceptions for the summary section.\n\nEnsure each category contains exactly 4 misconceptions.\n\n**Context**\nYou will have access to all provided input context, supporting documentation, and a vector database tool containing customer-facing content and relevant research. Use all sources and retrieved information as your foundation. The findings will inform marketing, education, and positioning strategies.\n\n**Final instructions and prompt to think step by step**\nCarefully review both the input context and all tool outputs from the vector database before compiling your lists.\nThink step by step: first, extract and organize misconceptions for each required category; then, synthesize the underlying themes for the summary section.\nEnsure your output includes the organization reference (if applicable), a target market description, and four misconceptions per category in a valid JSON schema object, along with a summary of overarching themes.\nDo not yield control until your output meets all requirements and strictly adheres to the JSON schema object structure.\n\n**Output:**\n    - The final output must be strictly in JSON format.\n    - The JSON output must adhere exactly to the provided JSON Schema Template.\n\n---\n\n**JSON Schema Template:**\n\n```json\n{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"company\": {\n      \"type\": \"string\",\n      \"description\": \"The name or context reference for the organization, if applicable.\"\n    },\n    \"target_market\": {\n      \"type\": \"string\",\n      \"description\": \"A description of the target market, such as homeowners, interior designers, decorators, etc.\"\n    },\n    \"misconceptions\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"solution\": {\n          \"type\": \"array\",\n          \"description\": \"List of misconceptions about the solution.\",\n          \"minItems\": 4,\n          \"maxItems\": 4,\n          \"items\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"title\": {\n                \"type\": \"string\",\n                \"description\": \"A concise title of the misconception.\"\n              },\n              \"details\": {\n                \"type\": \"array\",\n                \"description\": \"A list of bullet point explanations for the misconception.\",\n                \"minItems\": 1,\n                \"items\": {\n                  \"type\": \"string\"\n                }\n              }\n            },\n            \"required\": [\"title\", \"details\"]\n          }\n        },\n        \"offer\": {\n          \"type\": \"array\",\n          \"description\": \"List of misconceptions about the offer.\",\n          \"minItems\": 4,\n          \"maxItems\": 4,\n          \"items\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"title\": {\n                \"type\": \"string\",\n                \"description\": \"A concise title of the misconception.\"\n              },\n              \"details\": {\n                \"type\": \"array\",\n                \"description\": \"A list of bullet point explanations for the misconception.\",\n                \"minItems\": 1,\n                \"items\": {\n                  \"type\": \"string\"\n                }\n              }\n            },\n            \"required\": [\"title\", \"details\"]\n          }\n        },\n        \"industry\": {\n          \"type\": \"array\",\n          \"description\": \"List of misconceptions about the industry.\",\n          \"minItems\": 4,\n          \"maxItems\": 4,\n          \"items\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"title\": {\n                \"type\": \"string\",\n                \"description\": \"A concise title of the misconception.\"\n              },\n              \"details\": {\n                \"type\": \"array\",\n                \"description\": \"A list of bullet point explanations for the misconception.\",\n                \"minItems\": 1,\n                \"items\": {\n                  \"type\": \"string\"\n                }\n              }\n            },\n            \"required\": [\"title\", \"details\"]\n          }\n        },\n        \"company\": {\n          \"type\": \"array\",\n          \"description\": \"List of misconceptions about the company.\",\n          \"minItems\": 4,\n          \"maxItems\": 4,\n          \"items\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"title\": {\n                \"type\": \"string\",\n                \"description\": \"A concise title of the misconception.\"\n              },\n              \"details\": {\n                \"type\": \"array\",\n                \"description\": \"A list of bullet point explanations for the misconception.\",\n                \"minItems\": 1,\n                \"items\": {\n                  \"type\": \"string\"\n                }\n              }\n            },\n            \"required\": [\"title\", \"details\"]\n          }\n        },\n        \"summary\": {\n          \"type\": \"array\",\n          \"description\": \"A summary of common misconception themes.\",\n          \"minItems\": 1,\n          \"items\": {\n            \"type\": \"string\"\n          }\n        }\n      },\n      \"required\": [\"solution\", \"offer\", \"industry\", \"company\", \"summary\"]\n    }\n  },\n  \"required\": [\"company\", \"target_market\", \"misconceptions\"],\n  \"additionalProperties\": false\n}\n\n```"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[48,592],"id":"07c7e97d-ca9f-4b5d-9f16-a43878b63944","name":"AI Agent","onError":"continueErrorOutput"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"company\": {\n      \"type\": \"string\",\n      \"description\": \"The name or context reference for the organization, if applicable.\"\n    },\n    \"target_market\": {\n      \"type\": \"string\",\n      \"description\": \"A description of the target market, such as homeowners, interior designers, decorators, etc.\"\n    },\n    \"misconceptions\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"solution\": {\n          \"type\": \"array\",\n          \"description\": \"List of misconceptions about the solution.\",\n          \"minItems\": 4,\n          \"maxItems\": 4,\n          \"items\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"title\": {\n                \"type\": \"string\",\n                \"description\": \"A concise title of the misconception.\"\n              },\n              \"details\": {\n                \"type\": \"array\",\n                \"description\": \"A list of bullet point explanations for the misconception.\",\n                \"minItems\": 1,\n                \"items\": {\n                  \"type\": \"string\"\n                }\n              }\n            },\n            \"required\": [\"title\", \"details\"]\n          }\n        },\n        \"offer\": {\n          \"type\": \"array\",\n          \"description\": \"List of misconceptions about the offer.\",\n          \"minItems\": 4,\n          \"maxItems\": 4,\n          \"items\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"title\": {\n                \"type\": \"string\",\n                \"description\": \"A concise title of the misconception.\"\n              },\n              \"details\": {\n                \"type\": \"array\",\n                \"description\": \"A list of bullet point explanations for the misconception.\",\n                \"minItems\": 1,\n                \"items\": {\n                  \"type\": \"string\"\n                }\n              }\n            },\n            \"required\": [\"title\", \"details\"]\n          }\n        },\n        \"industry\": {\n          \"type\": \"array\",\n          \"description\": \"List of misconceptions about the industry.\",\n          \"minItems\": 4,\n          \"maxItems\": 4,\n          \"items\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"title\": {\n                \"type\": \"string\",\n                \"description\": \"A concise title of the misconception.\"\n              },\n              \"details\": {\n                \"type\": \"array\",\n                \"description\": \"A list of bullet point explanations for the misconception.\",\n                \"minItems\": 1,\n                \"items\": {\n                  \"type\": \"string\"\n                }\n              }\n            },\n            \"required\": [\"title\", \"details\"]\n          }\n        },\n        \"company\": {\n          \"type\": \"array\",\n          \"description\": \"List of misconceptions about the company.\",\n          \"minItems\": 4,\n          \"maxItems\": 4,\n          \"items\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"title\": {\n                \"type\": \"string\",\n                \"description\": \"A concise title of the misconception.\"\n              },\n              \"details\": {\n                \"type\": \"array\",\n                \"description\": \"A list of bullet point explanations for the misconception.\",\n                \"minItems\": 1,\n                \"items\": {\n                  \"type\": \"string\"\n                }\n              }\n            },\n            \"required\": [\"title\", \"details\"]\n          }\n        },\n        \"summary\": {\n          \"type\": \"array\",\n          \"description\": \"A summary of common misconception themes.\",\n          \"minItems\": 1,\n          \"items\": {\n            \"type\": \"string\"\n          }\n        }\n      },\n      \"required\": [\"solution\", \"offer\", \"industry\", \"company\", \"summary\"]\n    }\n  },\n  \"required\": [\"company\", \"target_market\", \"misconceptions\"],\n  \"additionalProperties\": false\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[368,832],"id":"f6dfea74-4c71-4d34-97c9-0ef1a52ba6ed","name":"Structured Output Parser"},{"parameters":{"mode":"retrieve-as-tool","toolName":"misconceptions","toolDescription":"Retrieves relevant content from context and vector database to surface common misconceptions pertaining specifically to the company and it's industry.","pineconeIndex":{"__rl":true,"value":"=onboarding","mode":"id"},"topK":10,"options":{"pineconeNamespace":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[80,1072],"id":"d05468ed-f03f-424b-ad75-809a007c690d","name":"Pinecone Vector Store1","credentials":{"pineconeApi":{"id":"axuYyU6grhcC8CQp","name":"PineconeApi account"}}},{"parameters":{"model":"text-embedding-3-large","options":{"dimensions":3072}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[208,1264],"id":"d872fe94-7bc3-4ed8-bec3-d8442fbe39da","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{"content":"## Bubble webhook\n**Need to have Client ID sent via webhook","height":360,"width":260},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1504,448],"id":"3ba89e5d-dcf7-4082-98a3-65b12a1eb3ea","name":"Sticky Note"},{"parameters":{"content":"## Change Search to ClientID In Production\n\nCurrently We are just searching for \"Tonic Living\"","height":380,"width":440},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1024,400],"id":"f0ee3437-c640-4379-8019-fd72c82cc2c2","name":"Sticky Note1"},{"parameters":{"content":"## AI Model \nCurrently set\nto 4.1","height":220,"width":360,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-256,752],"id":"6a0131b9-aa20-464e-9c15-dbc8b6f236fc","name":"Sticky Note3"},{"parameters":{"content":"## Handle Error\nIn production add error handling for data duplication with same ID\n","height":280,"width":380},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[528,448],"id":"e16eb8e7-bc0d-4d76-8162-42dd8a7e5409","name":"Sticky Note4"},{"parameters":{"content":"## Prompt Notes\n- Am not using \"solution\" \n- Need prompt for solution\n","color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[48,432],"id":"5111215f-701e-4a7e-9579-3e966b8bf5e6","name":"Sticky Note5"},{"parameters":{"content":"## Notes about run\n\nRun Time: "},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-944,960],"id":"4a33b729-28b0-415d-8839-7e31b49a5d93","name":"Sticky Note6"},{"parameters":{"operation":"get","tableId":"target_market_profiles","filters":{"conditions":[{"keyName":"client_id","keyValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-944,592],"id":"a2494eed-937b-44e2-86e9-e9c255be4339","name":"Get Target Market","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"operation":"get","tableId":"business_profiles","filters":{"conditions":[{"keyName":"client_id","keyValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-720,592],"id":"3b95f65d-ead2-4211-9efb-c8e1d3b7f258","name":"Get Business Profile","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"content":"## Change search ID\n","height":200,"width":480},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-48,992],"id":"ddd7b319-c17b-485d-a1ce-929f368b53f1","name":"Sticky Note8"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-16,832],"id":"763a493b-da29-4eae-bf41-03886be5e122","name":"AI","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{"httpMethod":"POST","path":"3ed1a0d9-7a4d-4d80-8e47-64b9ba365af4","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1440,608],"id":"e3f10175-f9e7-44f9-91ca-63be427a98bb","name":"Webhook","webhookId":"3ed1a0d9-7a4d-4d80-8e47-64b9ba365af4"},{"parameters":{"workflowInputs":{"values":[{"name":"client_id"},{"name":"Overwrite"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1440,768],"id":"01712908-9663-4444-bbfa-7a25b9f42614","name":"When Executed by Another Workflow"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0b01e0ec-c766-4b22-9f4a-9c95f327539e","leftValue":"={{ $('When Executed by Another Workflow').item.json['Overwrite'] }}","rightValue":"no","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[448,576],"id":"71abc4a2-f06f-435f-8612-0a3e297d0998","name":"If"},{"parameters":{"operation":"update","tableId":"misconceptions_output","filters":{"conditions":[{"keyName":"client_id","condition":"eq","keyValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"company","fieldValue":"={{ $('Get Business Profile').item.json.company }}"},{"fieldId":"misconceptions_about_solution","fieldValue":"={{ $('AI Agent').item.json.output.misconceptions.solution }}"},{"fieldId":"misconceptions_about_offer","fieldValue":"={{ $('AI Agent').item.json.output.misconceptions.offer }}"},{"fieldId":"misconceptions_about_industry","fieldValue":"={{ $('AI Agent').item.json.output.misconceptions.industry }}"},{"fieldId":"misconceptions_about_company","fieldValue":"={{ $('AI Agent').item.json.output.misconceptions.company }}"},{"fieldId":"summary","fieldValue":"={{ $('AI Agent').item.json.output.misconceptions.summary }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[688,768],"id":"012f1366-a9dd-4ff9-93d3-e1ab94613d53","name":"Supabase","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}},"onError":"continueErrorOutput"}],"connections":{"AI Agent":{"main":[[{"node":"If","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Pinecone Vector Store1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store1","type":"ai_embedding","index":0}]]},"Get Target Market":{"main":[[{"node":"Get Business Profile","type":"main","index":0}]]},"Get Business Profile":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Webhook":{"main":[[]]},"If":{"main":[[{"node":"Supabase1","type":"main","index":0}],[{"node":"Supabase","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Get Target Market","type":"main","index":0}]]},"Supabase1":{"main":[[],[{"node":"Supabase","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"primary-production-cea5.up.railway.app","user-agent":"Bubble","content-length":"196","accept-encoding":"gzip, deflate","baggage":"bubblegroup.client.version=b3f89cf0e5d18b3c8f061626f6a124f0b4e87a58,bubblegroup.client.commit_timestamp=1752262815000,bubblegroup.http.route=apiservice%2Fdoapicallfromserver,bubblegroup.http.host=bubble.io","content-type":"multipart/form-data; boundary=--------------------------512334465343398273415900","traceparent":"00-7ad6a733c6313e1841b21bfaa7a77640-06fbcc0c76c95ce2-01","x-bubble-depth":"1","x-forwarded-for":"34.213.84.229","x-forwarded-host":"primary-production-cea5.up.railway.app","x-forwarded-proto":"https","x-railway-edge":"railway/us-west1","x-railway-request-id":"DKSjgV_oRwq0P9lHI_7sxw","x-real-ip":"34.213.84.229","x-request-start":"1752269600868"},"params":{},"query":{},"body":{"client_id":"1650987991917x277951650850529760"},"webhookUrl":"https://primary-production-cea5.up.railway.app/webhook/97c3d4b8-abac-489f-8543-d65ea3401687","executionMode":"production"}}],"When Executed by Another Workflow":[{"json":{"client_id":"1650987991917x277951650850529760","Overwrite":"no"}}]},"versionId":"e6fbb512-8840-46d7-88d5-8e82155eeff4","triggerCount":1,"shared":[{"createdAt":"2025-09-03T01:34:49.367Z","updatedAt":"2025-09-03T01:34:49.367Z","role":"workflow:owner","workflowId":"UpZeuHHRNmSSbahv","projectId":"oeHwV8sNrbPNhUov"}],"tags":[{"createdAt":"2025-03-08T06:02:07.869Z","updatedAt":"2025-03-08T06:02:07.869Z","id":"p2BojbfbdIa5pvok","name":"Messaging"},{"createdAt":"2025-05-15T00:55:08.917Z","updatedAt":"2025-05-15T00:55:08.917Z","id":"g2UpVZ4k6adJ2S36","name":"Production"}]}