edit-6---industry-jargon-q5Cx7rTWambRNUdc.json
{"createdAt":"2025-09-03T01:15:11.029Z","updatedAt":"2025-10-16T06:36:13.624Z","id":"q5Cx7rTWambRNUdc","name":"EDIT 6 -  Industry Jargon","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"=ALWAYS USE THE TOOL TO PULL CHUNKS FROM THE VECTOR DATABASE\n\n**Analyze the provided context from THE COMPANY:**\n\n- **Company Name:** \n{{ $('Get Client Complete Profile').item.json.company }}\n- **Offer:** \n{{ $('Get Client Complete Profile').item.json.offer }}\n- **Primary Target Market:**\n{{ JSON.stringify($json.target_market_profiles.primary_target_market) }}\n- **Secondary Target Market:**\n{{JSON.stringify($json.target_market_profiles.secondary_target_market) }}\n\n","hasOutputParser":true,"options":{"systemMessage":"=**Role and Objective**\nYou are a marketing researcher. Your objective is to analyze the provided context and all accompanying inputs to identify and differentiate industry-related jargon. Produce two lists: one for jargon commonly used by the target market, and another for jargon not used by the target market—even if such terms are familiar to experts.\n\n**Instructions**\n\nAlways use the tool provided to extract relevant chunks from the vector database.\n\nCarefully review all input context and supporting documents.\n\nIdentify and organize the following:\n\nUsed Jargon: Provide exactly 8 terms or phrases that the target market commonly uses, with concise descriptions of their relevance.\n\nNot Used Jargon: Provide exactly 8 terms or phrases that are not used by the target market (even if familiar to experts), with concise explanations of why they are not used.\n\nInclude the reference context for the organization (if applicable) and a brief description of the target market in your output.\n\nOutput your results as a valid JSON schema object that strictly follows the required JSON schema template.\n\nDo not add any extra fields beyond what is defined in the JSON schema template.\n\n**Reasoning Steps**\n\nBegin by reading and understanding both the input context and any documents provided.\n\nUse the tool to search the vector database for industry-related terminology and language patterns used by the target market.\n\nAddress both the input context and all relevant chunks from the vector database in your analysis.\n\nDistinguish between jargon that is actually used by the target market in their communication, and terms that—while recognized by industry experts—are not present in target market language.\n\nFor each term, provide a concise explanation of its relevance or absence in the target market’s communication.\n\nEnsure you have exactly 8 “Used Jargon” terms and 8 “Not Used Jargon” terms.\n\n**Context**\nYou will have access to input context, supporting documentation, and a vector database tool. Use all available sources and retrieved information as your foundation. The final lists will be used to improve marketing strategy, content accuracy, and customer communications.\n\n**Final instructions and prompt to think step by step**\nCarefully review all relevant input context and tool outputs from the vector database before compiling your lists.\nThink step by step: First, extract and document jargon actually used by the target market, then identify jargon not present in their language, even if familiar to industry experts. When needed, search your knowledge outside of the vector database and context.\nEnsure your output includes the organization context (if applicable), a target market description, and the required lists in a valid JSON schema object—8 “Used Jargon” and 8 “Not Used Jargon,” each with concise descriptions.\nDo not yield control until the output is complete, accurate, and adheres strictly to the JSON schema object requirements.\n\n4. **Output:**  \n   - The final output must be strictly in JSON format.\n   - Ensure the JSON output adheres exactly to the provided JSON Schema Template.\n\n---\n\n**JSON Schema Template:**\n\n```json\n{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"company\": {\n      \"type\": \"string\",\n      \"description\": \"The name or context reference for the organization, if applicable.\"\n    },\n    \"target_market\": {\n      \"type\": \"string\",\n      \"description\": \"A description of the target market, such as designers, decorators, homeowners, etc.\"\n    },\n    \"jargon\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"used\": {\n          \"type\": \"array\",\n          \"description\": \"List of jargon terms commonly used by the target market.\",\n          \"minItems\": 8,\n          \"maxItems\": 8,\n          \"items\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"term\": {\n                \"type\": \"string\",\n                \"description\": \"The jargon term.\"\n              },\n              \"description\": {\n                \"type\": \"string\",\n                \"description\": \"A brief explanation of the term's usage.\"\n              }\n            },\n            \"required\": [\"term\", \"description\"]\n          }\n        },\n        \"not_used\": {\n          \"type\": \"array\",\n          \"description\": \"List of jargon terms not used by the target market.\",\n          \"minItems\": 8,\n          \"maxItems\": 8,\n          \"items\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"term\": {\n                \"type\": \"string\",\n                \"description\": \"The jargon term.\"\n              },\n              \"description\": {\n                \"type\": \"string\",\n                \"description\": \"A brief explanation of why the term is not used.\"\n              }\n            },\n            \"required\": [\"term\", \"description\"]\n          }\n        }\n      },\n      \"required\": [\"used\", \"not_used\"]\n    }\n  },\n  \"required\": [\"company\", \"target_market\", \"jargon\"],\n  \"additionalProperties\": false\n}\n```\n\n---\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[80,608],"id":"ebca5040-6e87-4d0d-a758-9aaca1c33d2a","name":"AI Agent","executeOnce":false},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"company\": {\n      \"type\": \"string\",\n      \"description\": \"The name or context reference for the organization, if applicable.\"\n    },\n    \"target_market\": {\n      \"type\": \"string\",\n      \"description\": \"A description of the target market, such as designers, decorators, homeowners, etc.\"\n    },\n    \"jargon\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"used\": {\n          \"type\": \"array\",\n          \"description\": \"List of jargon terms commonly used by the target market.\",\n          \"minItems\": 8,\n          \"maxItems\": 8,\n          \"items\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"term\": {\n                \"type\": \"string\",\n                \"description\": \"The jargon term.\"\n              },\n              \"description\": {\n                \"type\": \"string\",\n                \"description\": \"A brief explanation of the term's usage.\"\n              }\n            },\n            \"required\": [\"term\", \"description\"]\n          }\n        },\n        \"not_used\": {\n          \"type\": \"array\",\n          \"description\": \"List of jargon terms not used by the target market.\",\n          \"minItems\": 8,\n          \"maxItems\": 8,\n          \"items\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"term\": {\n                \"type\": \"string\",\n                \"description\": \"The jargon term.\"\n              },\n              \"description\": {\n                \"type\": \"string\",\n                \"description\": \"A brief explanation of why the term is not used.\"\n              }\n            },\n            \"required\": [\"term\", \"description\"]\n          }\n        }\n      },\n      \"required\": [\"used\", \"not_used\"]\n    }\n  },\n  \"required\": [\"company\", \"target_market\", \"jargon\"],\n  \"additionalProperties\": false\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[368,832],"id":"65649adb-a494-404e-87bb-e94b6734a162","name":"Structured Output Parser"},{"parameters":{"mode":"retrieve-as-tool","toolName":"jargon","toolDescription":"Retrieves relevant content from the Tonic Living Pinecone vector store to surface commonly used or avoided jargon, drawing on data from client interviews, testimonials, and company intake forms.","pineconeIndex":{"__rl":true,"value":"=onboarding","mode":"id"},"topK":10,"options":{"pineconeNamespace":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[144,1024],"id":"4a7884f2-c173-4f7c-9fc8-e5a83e8b50ba","name":"Pinecone Vector Store1","credentials":{"pineconeApi":{"id":"axuYyU6grhcC8CQp","name":"PineconeApi account"}}},{"parameters":{"model":"text-embedding-3-large","options":{"dimensions":3072}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[208,1264],"id":"6f3f39a5-6a7c-4058-96ca-8952dba60546","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{"content":"## Bubble webhook\n**Need to have Client ID sent via webhook","height":360,"width":260},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1296,448],"id":"53814dca-8239-4873-901b-1b4aa01cd859","name":"Sticky Note"},{"parameters":{"content":"## Reminder: Tagging & Filtering Client Interview Documents in Pinecone\n\n📌 When Uploading Documents to Pinecone:\n\nEnsure document titles include \"interview\" for client interview files.\nUse metadata tagging to set \"document_type\": \"interview\" dynamically.\nFor non-interview documents, set \"document_type\": \"general\".\n","height":240,"width":300,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[144,352],"id":"dbe798c1-46b5-482f-9c87-adaefe46d34c","name":"Sticky Note2"},{"parameters":{"content":"## AI Model\nCurrently set\nto 4.1","height":140,"width":360,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-224,800],"id":"4fec28ad-64df-4668-bb19-fc3be1ccb1b5","name":"Sticky Note3"},{"parameters":{"content":"## Handle Error\nIn production add error handling for data duplication with same ID\n","height":280,"width":380},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[528,448],"id":"9efc812e-54c0-48ee-a2e4-b13e50f1ee73","name":"Sticky Note4"},{"parameters":{"content":"## Prompt Notes\n- Only used primary target market, company and offer","color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-96,432],"id":"3a01ee20-e3cd-4a61-883d-85d85c24b363","name":"Sticky Note5"},{"parameters":{"content":"## Notes about run\n\nRun Time: 25-35 secs"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-944,960],"id":"3c008303-dc46-4054-b707-aec387dbdb6d","name":"Sticky Note6"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-16,832],"id":"0e69d497-ddcd-4365-a6a2-fa083d510a5a","name":"AI","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{"httpMethod":"POST","path":"c8bf9fa6-c040-4414-b566-379dba638534","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1184,512],"id":"41a98170-6cd3-4f2b-b455-bc756c10013e","name":"Webhook","webhookId":"c8bf9fa6-c040-4414-b566-379dba638534"},{"parameters":{"tableId":"industry_jargon","fieldsUi":{"fieldValues":[{"fieldId":"client_id","fieldValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"},{"fieldId":"company","fieldValue":"={{ $('Get Client Complete Profile').item.json.company }}"},{"fieldId":"good_jargon","fieldValue":"={{ $json.output.jargon.used }}"},{"fieldId":"bad_jargon","fieldValue":"={{ $json.output.jargon.not_used }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[736,576],"id":"62787b38-1048-43a9-91b8-6c0e7035d406","name":"Create a row","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"get","tableId":"v_complete_client_context","filters":{"conditions":[{"keyName":"client_id","keyValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-736,608],"id":"a058c76a-092f-4415-9935-10ae033ceed8","name":"Get Client Complete Profile","executeOnce":false,"alwaysOutputData":false,"credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"workflowInputs":{"values":[{"name":"client_id"},{"name":"Overwrite"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1184,672],"id":"f4c982b5-a76b-48b5-89cb-d239023d53f8","name":"When Executed by Another Workflow"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0b01e0ec-c766-4b22-9f4a-9c95f327539e","leftValue":"={{ $('When Executed by Another Workflow').item.json['Overwrite'] }}","rightValue":"no","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[480,592],"id":"3da6c998-bfe1-4774-9546-4c342820d041","name":"If"},{"parameters":{"operation":"update","tableId":"industry_jargon","filters":{"conditions":[{"keyName":"client_id","condition":"eq","keyValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"company","fieldValue":"={{ $('Get Client Complete Profile').item.json.company }}"},{"fieldId":"good_jargon","fieldValue":"={{ $json.output.jargon.used }}"},{"fieldId":"bad_jargon","fieldValue":"={{ $json.output.jargon.not_used }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[752,768],"id":"0ed22d3a-0b7f-47b2-9a04-235d7b29568e","name":"Update a row","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}},"onError":"continueErrorOutput"},{"parameters":{"content":"## Change Search to ClientID In Production\n\nCurrently We are just searching for \"Tonic Living\"","height":360,"width":260},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-816,432],"id":"26cf12e1-2d3e-4474-9e2f-f0cc3c7c8fc5","name":"Sticky Note1"}],"connections":{"AI Agent":{"main":[[{"node":"If","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Pinecone Vector Store1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store1","type":"ai_embedding","index":0}]]},"AI":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Webhook":{"main":[[]]},"Get Client Complete Profile":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"If":{"main":[[{"node":"Create a row","type":"main","index":0}],[{"node":"Update a row","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Get Client Complete Profile","type":"main","index":0}]]},"Create a row":{"main":[[],[{"node":"Update a row","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"primary-production-cea5.up.railway.app","user-agent":"Bubble","content-length":"196","accept-encoding":"gzip, deflate","baggage":"bubblegroup.client.version=8582dab06575a3e7283937e652e4fbdd87c69f1b,bubblegroup.client.commit_timestamp=1751995191000,bubblegroup.http.route=apiservice%2Fdoapicallfromserver,bubblegroup.http.host=bubble.io","content-type":"multipart/form-data; boundary=--------------------------293699503607300788452169","traceparent":"00-bedafbe1e21b2b3bb25d2ddde2d5b365-15461aa0878df0fe-01","x-bubble-depth":"1","x-forwarded-for":"35.90.95.151","x-forwarded-host":"primary-production-cea5.up.railway.app","x-forwarded-proto":"https","x-railway-edge":"railway/us-west1","x-railway-request-id":"fZfUWqXIR3GUAhv3vMScFw","x-real-ip":"35.90.95.151","x-request-start":"1751998963406"},"params":{},"query":{},"body":{"client_id":"1650987991917x277951650850529760"},"webhookUrl":"https://primary-production-cea5.up.railway.app/webhook-test/018b2387-5bba-4961-9aee-2e121c335d42","executionMode":"test"}}],"When Executed by Another Workflow":[{"json":{"client_id":"1650987991917x277951650850529760","Overwrite":"yes"}}]},"versionId":"3bdb8ae4-c621-4e91-9db2-1e0bc1459ca4","triggerCount":1,"shared":[{"createdAt":"2025-09-03T01:15:11.029Z","updatedAt":"2025-09-03T01:15:11.029Z","role":"workflow:owner","workflowId":"q5Cx7rTWambRNUdc","projectId":"oeHwV8sNrbPNhUov"}],"tags":[{"createdAt":"2025-03-08T06:02:07.869Z","updatedAt":"2025-03-08T06:02:07.869Z","id":"p2BojbfbdIa5pvok","name":"Messaging"},{"createdAt":"2025-05-15T00:55:08.917Z","updatedAt":"2025-05-15T00:55:08.917Z","id":"g2UpVZ4k6adJ2S36","name":"Production"}]}