edit-10---biggest-objections-9XrCqBi5M1VVvXBT.json
{"createdAt":"2025-09-09T01:14:08.230Z","updatedAt":"2025-10-16T06:34:13.296Z","id":"9XrCqBi5M1VVvXBT","name":"EDIT 10 - Biggest Objections","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"=ALWAYS USE THE TOOL TO PULL CHUNKS FROM THE VECTOR DATABASE\n\n**Analyze the provided context from THE COMPANY:**\n\n- **Company Name:** \n{{ $('Get Business Profile').item.json.company }}\n\n- **Offer:** \n{{ $('Get Business Profile').item.json.offer }}\n\n- **Industry:** \n{{ $('Get Business Profile').item.json.industry }}\n\n- **Primary Target Market:**\n{{ JSON.stringify($('Get Target Market').item.json.primary_target_market, null, 2) }}\n\n- **Secondary Target Market:**\n-{{ JSON.stringify($('Get Target Market').item.json.secondary_target_market, null, 2) }}\n\n","hasOutputParser":true,"options":{"systemMessage":"=**Role and Objective**\nYou are a marketing analyst with deep expertise in customer behavior and objection analysis. Your objective is to extract the most important customer objections to purchasing from the company by analyzing the provided context, supporting documents, and data retrieved from the vector database. Identify both explicit (known) and implicit (hidden or less obvious) objections, and provide actionable insights to address these objections. Prioritize objections that occurred before or during the decision to purchase—not objections that arise post-purchase.\n\n**Instructions**\n\nAlways use the tool provided to extract relevant data chunks from the vector database.\n\nCarefully review all input context, onboarding questionnaires, interviews, testimonials, reviews, competitor analyses, and any other customer feedback.\n\nFocus specifically on reasons customers were skeptical, hesitant, or almost did not purchase from the company.\n\nIdentify and organize your findings as follows:\n\nKnown Objections: Explicit, directly stated objections mentioned in customer feedback or commonly encountered in the industry.\n\nFor each target market (primary and secondary), provide exactly four objections.\n\nFor each objection, include a brief summary, an example or direct quote (if available), and indicate the source (e.g., onboarding questionnaire, client interview).\n\nHidden or Less Obvious Objections: Underlying, less explicit objections inferred from language, sentiment, context, or behavioral clues in the data.\n\nFor each target market (primary and secondary), provide exactly four objections.\n\nFor each objection, include a brief summary, an inferred example or explanation (if available), and indicate the source.\n\nActionable Insights: Provide practical recommendations for overcoming each set of objections.\n\nSeparate insights for known and hidden objections.\n\nEach recommendation should include a clear rationale.\n\nEnsure all objections and insights are strictly supported by direct quotes, paraphrased content, or contextual evidence from the vector database and inputs.\n\nAll evidence and examples must be tagged with the document or data source.\n\n**Reasoning Steps**\n\nStart by thoroughly reviewing the input context, supporting documents, and relevant chunks from the vector database.\n\nFor each target market, identify objections that were expressed before or during the decision to purchase. Ignore objections that arise after becoming a customer.\n\nDistinguish between known (explicit) and hidden (implicit) objections, using both direct quotes and inferred sentiment or behavioral clues.\n\nOrganize objections and recommendations according to your required structure—ensuring all examples are well-supported and source-tagged.\n\nFor actionable insights, base each recommendation on the most critical and recurring objections identified for each target market.\n\n**Context**\nYou have access to all input context, onboarding questionnaires, testimonials, interviews, reviews, competitor analyses, and a vector database containing detailed contextual insights. Use all available data sources and vector database chunks as the foundation for your analysis. The goal is to inform marketing, messaging, and conversion strategy by eliminating barriers to purchase.\n\n**Final instructions and prompt to think step by step**\nCarefully review all input context and tool outputs from the vector database before extracting objections.\nThink step by step: first, extract and summarize four known and four hidden objections for each target market (primary and secondary), tagging all evidence with the document or source. Second, develop actionable insights for both sets of objections, including rationale for each recommendation.\nReturn your analysis as a valid JSON schema object with the required structure—knownObjections, hiddenObjections, and actionableInsights—ensuring exactly four objections per target market in each section.\nDo not yield control until your output meets all requirements and is fully supported by evidence from context and the vector database.\n\n{\n  \"knownObjections\": {\n    \"primaryTargetMarket\": [\n      {\n        \"objection\": \"A brief summary of the known objection\",\n        \"example\": \"Direct quote or paraphrase from the document (if available)\",\n        \"source\": \"Source of the feedback (e.g., interview, testimonial)\"\n      },\n      {\n        \"objection\": \"A brief summary of the known objection\",\n        \"example\": \"Direct quote or paraphrase from the document (if available)\",\n        \"source\": \"Source of the feedback\"\n      },\n      {\n        \"objection\": \"A brief summary of the known objection\",\n        \"example\": \"Direct quote or paraphrase from the document (if available)\",\n        \"source\": \"Source of the feedback\"\n      },\n      {\n        \"objection\": \"A brief summary of the known objection\",\n        \"example\": \"Direct quote or paraphrase from the document (if available)\",\n        \"source\": \"Source of the feedback\"\n      }\n    ],\n    \"secondaryTargetMarket\": [\n      {\n        \"objection\": \"A brief summary of the known objection\",\n        \"example\": \"Direct quote or paraphrase from the document (if available)\",\n        \"source\": \"Source of the feedback\"\n      },\n      {\n        \"objection\": \"A brief summary of the known objection\",\n        \"example\": \"Direct quote or paraphrase from the document (if available)\",\n        \"source\": \"Source of the feedback\"\n      },\n      {\n        \"objection\": \"A brief summary of the known objection\",\n        \"example\": \"Direct quote or paraphrase from the document (if available)\",\n        \"source\": \"Source of the feedback\"\n      },\n      {\n        \"objection\": \"A brief summary of the known objection\",\n        \"example\": \"Direct quote or paraphrase from the document (if available)\",\n        \"source\": \"Source of the feedback\"\n      }\n    ]\n  },\n  \"hiddenObjections\": {\n    \"primaryTargetMarket\": [\n      {\n        \"objection\": \"A brief summary of the hidden objection\",\n        \"example\": \"Example or inferred insight from the document (if available)\",\n        \"source\": \"Source of the feedback (e.g., market research, indirect customer comments)\"\n      },\n      {\n        \"objection\": \"A brief summary of the hidden objection\",\n        \"example\": \"Example or inferred insight from the document (if available)\",\n        \"source\": \"Source of the feedback\"\n      },\n      {\n        \"objection\": \"A brief summary of the hidden objection\",\n        \"example\": \"Example or inferred insight from the document (if available)\",\n        \"source\": \"Source of the feedback\"\n      },\n      {\n        \"objection\": \"A brief summary of the hidden objection\",\n        \"example\": \"Example or inferred insight from the document (if available)\",\n        \"source\": \"Source of the feedback\"\n      }\n    ],\n    \"secondaryTargetMarket\": [\n      {\n        \"objection\": \"A brief summary of the hidden objection\",\n        \"example\": \"Example or inferred insight from the document (if available)\",\n        \"source\": \"Source of the feedback (e.g., competitor analysis)\"\n      },\n      {\n        \"objection\": \"A brief summary of the hidden objection\",\n        \"example\": \"Example or inferred insight from the document (if available)\",\n        \"source\": \"Source of the feedback\"\n      },\n      {\n        \"objection\": \"A brief summary of the hidden objection\",\n        \"example\": \"Example or inferred insight from the document (if available)\",\n        \"source\": \"Source of the feedback\"\n      },\n      {\n        \"objection\": \"A brief summary of the hidden objection\",\n        \"example\": \"Example or inferred insight from the document (if available)\",\n        \"source\": \"Source of the feedback\"\n      }\n    ]\n  },\n  \"actionableInsights\": {\n    \"knownObjections\": [\n      {\n        \"recommendation\": \"A proposed improvement or strategy to address known objections\",\n        \"rationale\": \"Why this recommendation would help\"\n      }\n    ],\n    \"hiddenObjections\": [\n      {\n        \"recommendation\": \"A proposed improvement or strategy to address hidden objections\",\n        \"rationale\": \"Why this recommendation would help\"\n      }\n    ]\n  }\n}\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[48,592],"id":"a0a53514-3024-4119-b767-51cc2b5b3311","name":"AI Agent","onError":"continueErrorOutput"},{"parameters":{"schemaType":"manual","inputSchema":"\n{\n  \"knownObjections\": {\n    \"primaryTargetMarket\": [\n      {\n        \"objection\": \"A brief summary of the known objection\",\n        \"example\": \"Direct quote or paraphrase from the document (if available)\",\n        \"source\": \"Source of the feedback (e.g., interview, testimonial)\"\n      },\n      {\n        \"objection\": \"A brief summary of the known objection\",\n        \"example\": \"Direct quote or paraphrase from the document (if available)\",\n        \"source\": \"Source of the feedback\"\n      },\n      {\n        \"objection\": \"A brief summary of the known objection\",\n        \"example\": \"Direct quote or paraphrase from the document (if available)\",\n        \"source\": \"Source of the feedback\"\n      },\n      {\n        \"objection\": \"A brief summary of the known objection\",\n        \"example\": \"Direct quote or paraphrase from the document (if available)\",\n        \"source\": \"Source of the feedback\"\n      }\n    ],\n    \"secondaryTargetMarket\": [\n      {\n        \"objection\": \"A brief summary of the known objection\",\n        \"example\": \"Direct quote or paraphrase from the document (if available)\",\n        \"source\": \"Source of the feedback\"\n      },\n      {\n        \"objection\": \"A brief summary of the known objection\",\n        \"example\": \"Direct quote or paraphrase from the document (if available)\",\n        \"source\": \"Source of the feedback\"\n      },\n      {\n        \"objection\": \"A brief summary of the known objection\",\n        \"example\": \"Direct quote or paraphrase from the document (if available)\",\n        \"source\": \"Source of the feedback\"\n      },\n      {\n        \"objection\": \"A brief summary of the known objection\",\n        \"example\": \"Direct quote or paraphrase from the document (if available)\",\n        \"source\": \"Source of the feedback\"\n      }\n    ]\n  },\n  \"hiddenObjections\": {\n    \"primaryTargetMarket\": [\n      {\n        \"objection\": \"A brief summary of the hidden objection\",\n        \"example\": \"Example or inferred insight from the document (if available)\",\n        \"source\": \"Source of the feedback (e.g., market research, indirect customer comments)\"\n      },\n      {\n        \"objection\": \"A brief summary of the hidden objection\",\n        \"example\": \"Example or inferred insight from the document (if available)\",\n        \"source\": \"Source of the feedback\"\n      },\n      {\n        \"objection\": \"A brief summary of the hidden objection\",\n        \"example\": \"Example or inferred insight from the document (if available)\",\n        \"source\": \"Source of the feedback\"\n      },\n      {\n        \"objection\": \"A brief summary of the hidden objection\",\n        \"example\": \"Example or inferred insight from the document (if available)\",\n        \"source\": \"Source of the feedback\"\n      }\n    ],\n    \"secondaryTargetMarket\": [\n      {\n        \"objection\": \"A brief summary of the hidden objection\",\n        \"example\": \"Example or inferred insight from the document (if available)\",\n        \"source\": \"Source of the feedback (e.g., competitor analysis)\"\n      },\n      {\n        \"objection\": \"A brief summary of the hidden objection\",\n        \"example\": \"Example or inferred insight from the document (if available)\",\n        \"source\": \"Source of the feedback\"\n      },\n      {\n        \"objection\": \"A brief summary of the hidden objection\",\n        \"example\": \"Example or inferred insight from the document (if available)\",\n        \"source\": \"Source of the feedback\"\n      },\n      {\n        \"objection\": \"A brief summary of the hidden objection\",\n        \"example\": \"Example or inferred insight from the document (if available)\",\n        \"source\": \"Source of the feedback\"\n      }\n    ]\n  },\n  \"actionableInsights\": {\n    \"knownObjections\": [\n      {\n        \"recommendation\": \"A proposed improvement or strategy to address known objections\",\n        \"rationale\": \"Why this recommendation would help\"\n      }\n    ],\n    \"hiddenObjections\": [\n      {\n        \"recommendation\": \"A proposed improvement or strategy to address hidden objections\",\n        \"rationale\": \"Why this recommendation would help\"\n      }\n    ]\n  }\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[368,832],"id":"1b167ff4-0ef2-4f9f-88f3-841993cc34c6","name":"Structured Output Parser"},{"parameters":{"mode":"retrieve-as-tool","toolName":"objections","toolDescription":"=You are a marketing analyst expert in customer behavior and objection analysis. Your task is to extract potential customer objections to making a purchase from our initial inputs, market research, customer feedback, testimonials, and related documents. Look for both explicit objections—direct quotes, complaints, or feedback that clearly state customer hesitations—and implicit objections—subtle, inferred concerns drawn from language, sentiment, or context. Additionally, identify actionable insights and recommendations to address these objections.","pineconeIndex":{"__rl":true,"value":"=onboarding","mode":"id"},"topK":15,"options":{"pineconeNamespace":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[80,1072],"id":"94626aea-ed78-4368-bd94-c36a2932b524","name":"Pinecone Vector Store1","credentials":{"pineconeApi":{"id":"axuYyU6grhcC8CQp","name":"PineconeApi account"}}},{"parameters":{"model":"text-embedding-3-large","options":{"dimensions":3072}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[208,1264],"id":"ddc4f2c3-684d-4d05-8414-775e4d977ebd","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{"content":"## AI Model \nCurrently set\nto 4.1","height":220,"width":360,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-256,752],"id":"f909fc07-e9d3-4a4f-8c01-98a678db89db","name":"Sticky Note3"},{"parameters":{"content":"## Prompt Notes\n- Double Check inputs\n- might need to add differnt from DB\n\n\n","color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[48,432],"id":"26410880-c0e4-48ee-a751-2d0406f5893b","name":"Sticky Note5"},{"parameters":{"content":"## Notes about run\n\nRun Time: \n\n## Analyze outputs\n- ","height":380,"width":700,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1200,944],"id":"04945371-08ff-41e3-8624-564ca3a42b09","name":"Sticky Note6"},{"parameters":{"operation":"get","tableId":"target_market_profiles","filters":{"conditions":[{"keyName":"client_id","keyValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-960,608],"id":"455fc8e7-bc43-4514-9b5f-ba16ca2fe777","name":"Get Target Market","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"operation":"get","tableId":"business_profiles","filters":{"conditions":[{"keyName":"client_id","keyValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-736,608],"id":"ce1ac5e9-c207-41d9-905e-c6ea98114b40","name":"Get Business Profile","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-16,832],"id":"2cec223e-1e15-4182-90d6-585dbb57e766","name":"AI","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{"httpMethod":"POST","path":"5a44ba6a-6159-4d90-bcdf-7b3edc21ef5a","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1424,608],"id":"2baf1107-58a8-45b5-ad89-73d99373a23a","name":"Webhook","webhookId":"5a44ba6a-6159-4d90-bcdf-7b3edc21ef5a"},{"parameters":{"tableId":"marketing_objections","fieldsUi":{"fieldValues":[{"fieldId":"client_id","fieldValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"},{"fieldId":"company","fieldValue":"={{ $('Get Business Profile').item.json.company }}"},{"fieldId":"known_primary","fieldValue":"={{ $json.output.knownObjections.primaryTargetMarket }}"},{"fieldId":"known_secondary","fieldValue":"={{ $json.output.knownObjections.secondaryTargetMarket }}"},{"fieldId":"hidden_primary","fieldValue":"={{ $json.output.hiddenObjections.primaryTargetMarket }}"},{"fieldId":"hidden_secondary","fieldValue":"={{ $json.output.hiddenObjections.secondaryTargetMarket }}"},{"fieldId":"actionable_known","fieldValue":"={{ $json.output.actionableInsights.knownObjections }}"},{"fieldId":"actionable_hidden","fieldValue":"={{ $json.output.actionableInsights.hiddenObjections }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[720,496],"id":"83b88d47-685e-433e-a1d6-1eb8f0ec3cb1","name":"Create a row","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}},"onError":"continueErrorOutput"},{"parameters":{"workflowInputs":{"values":[{"name":"client_id"},{"name":"Overwrite"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1424,800],"id":"523b1dc0-6172-4991-a8c1-e7723216bfa0","name":"When Executed by Another Workflow"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0b01e0ec-c766-4b22-9f4a-9c95f327539e","leftValue":"={{ $('When Executed by Another Workflow').item.json['Overwrite'] }}","rightValue":"no","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[448,576],"id":"21c85a86-4f9b-4a5d-a1ff-cd96c777e50a","name":"If"},{"parameters":{"operation":"update","tableId":"marketing_objections","filters":{"conditions":[{"keyName":"client_id","condition":"eq","keyValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"company","fieldValue":"={{ $('Get Business Profile').item.json.company }}"},{"fieldId":"known_primary","fieldValue":"={{ $json.output.knownObjections.primaryTargetMarket }}"},{"fieldId":"known_secondary","fieldValue":"={{ $json.output.knownObjections.secondaryTargetMarket }}"},{"fieldId":"hidden_primary","fieldValue":"={{ $json.output.hiddenObjections.primaryTargetMarket }}"},{"fieldId":"hidden_secondary","fieldValue":"={{ $json.output.hiddenObjections.secondaryTargetMarket }}"},{"fieldId":"actionable_known","fieldValue":"={{ $json.output.actionableInsights.knownObjections }}"},{"fieldId":"actionable_hidden","fieldValue":"={{ $json.output.actionableInsights.hiddenObjections }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[720,656],"id":"23bc0d26-8aaf-470d-a2fe-ea7fe44fa8de","name":"Update a row","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}},"onError":"continueErrorOutput"}],"connections":{"AI Agent":{"main":[[{"node":"If","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Pinecone Vector Store1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store1","type":"ai_embedding","index":0}]]},"Get Target Market":{"main":[[{"node":"Get Business Profile","type":"main","index":0}]]},"Get Business Profile":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Webhook":{"main":[[]]},"When Executed by Another Workflow":{"main":[[{"node":"Get Target Market","type":"main","index":0}]]},"If":{"main":[[{"node":"Create a row","type":"main","index":0}],[{"node":"Update a row","type":"main","index":0}]]},"Create a row":{"main":[[],[{"node":"Update a row","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"primary-production-cea5.up.railway.app","user-agent":"Bubble","content-length":"196","accept-encoding":"gzip, deflate","baggage":"bubblegroup.client.version=b3f89cf0e5d18b3c8f061626f6a124f0b4e87a58,bubblegroup.client.commit_timestamp=1752262815000,bubblegroup.http.route=apiservice%2Fdoapicallfromserver,bubblegroup.http.host=bubble.io","content-type":"multipart/form-data; boundary=--------------------------594799907209618129986553","traceparent":"00-125c5a32d65df1ba2d564bd2a25c56b2-c35e8028b059d24e-01","x-bubble-depth":"1","x-forwarded-for":"34.217.124.244","x-forwarded-host":"primary-production-cea5.up.railway.app","x-forwarded-proto":"https","x-railway-edge":"railway/us-west1","x-railway-request-id":"9G_w2x1BTDaQn74JnjUZ_Q","x-real-ip":"34.217.124.244","x-request-start":"1752277359450"},"params":{},"query":{},"body":{"client_id":"1650987991917x277951650850529760"},"webhookUrl":"https://primary-production-cea5.up.railway.app/webhook/983b0ae5-f32e-4aa9-b753-b1d19a59fd94","executionMode":"production"}}],"When Executed by Another Workflow":[{"json":{"client_id":"1650987991917x277951650850529760","Overwrite":"no"}}]},"versionId":"446ab65c-9397-48bc-b32a-767bacbc0410","triggerCount":1,"shared":[{"createdAt":"2025-09-09T01:14:08.230Z","updatedAt":"2025-09-09T01:14:08.230Z","role":"workflow:owner","workflowId":"9XrCqBi5M1VVvXBT","projectId":"oeHwV8sNrbPNhUov"}],"tags":[{"createdAt":"2025-03-17T22:01:27.572Z","updatedAt":"2025-03-17T22:01:27.572Z","id":"8gp5kj24VYtRoQQF","name":"Awareness Matrix"},{"createdAt":"2025-03-17T23:36:46.588Z","updatedAt":"2025-03-18T20:45:05.142Z","id":"eyDBWEktby5yXck2","name":"Understanding Pain"},{"createdAt":"2025-05-15T00:55:08.917Z","updatedAt":"2025-05-15T00:55:08.917Z","id":"g2UpVZ4k6adJ2S36","name":"Production"}]}