edit---12---one-liners-LACj6LGihRvr2iMT.json
{"createdAt":"2025-09-09T01:32:46.624Z","updatedAt":"2025-10-16T06:34:31.056Z","id":"LACj6LGihRvr2iMT","name":"EDIT - 12 - One Liners","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"=ALWAYS USE THE TOOL TO PULL CHUNKS FROM THE VECTOR DATABASE\n\nCompany Messaging:\n- Common words and phrases:\n{{ $('Get Common Words').item.json.primary_target_market }}\n\n{{ $('Get Common Words').item.json.secondary_target_market }}\n\n- Common emotional sentiment:\n  Positive themes:\n  {{ $('Get emotional sentiment').item.json.summary.positiveThemes }}\n\n  \n\n- Jargon they use (and jargon they don’t):\n{{ $('Get Industry Jargon').item.json.good_jargon }}\n\n- Common misconceptions:\n  About solution:\n{{ JSON.stringify($('Get misconseptions').item.json.misconceptions_about_solution) }}\n\n  About Offer:\n{{ JSON.stringify($('Get misconseptions').item.json.misconceptions_about_offer) }}\n\n  About Industry:\n{{ JSON.stringify($('Get misconseptions').item.json.misconceptions_about_industry) }}\n\n  About Company:\n{{ JSON.stringify($('Get misconseptions').item.json.misconceptions_about_company) }}\n\n\n- **Primary Target Market:**\n{{ JSON.stringify($('Get Target Market').item.json.primary_target_market, null, 2) }}\n\n- **Secondary Target Market:**\n-{{ JSON.stringify($('Get Target Market').item.json.secondary_target_market, null, 2) }}\n\n","hasOutputParser":true,"options":{"systemMessage":"=**Role and Objective**\nYou are a marketing analyst. Your objective is to extract and organize all existing one-liners from the provided context, onboarding questionnaire, and client interviews, using the vector database. If no one-liners exist in a group, you must generate new ideas based on company messaging and target market insights, labeling all new ideas with “(Idea)”.\n\n**Instructions**\n\nAlways use the tool provided to extract relevant data chunks from the vector database.\n\nCarefully review all input context, onboarding questionnaires, and client interviews.\n\nExtract all one-liners verbatim and organize them under these headings:\n\nCustomer-Focused Messaging\n\nBrand Values & Craftsmanship\n\nProduct/Benefit Highlights\n\nFor each group, only include verbatim one-liners if they exist in the data.\n\nFor Customer-Focused Messaging and Product/Benefit Highlights, if no verbatim one-liners are present or if you have fewer than three, generate additional one-liners as needed based on the company’s messaging, target market, and market position.\n\nClearly label every generated idea as “(Idea)” at the end of the text.\n\nDo not include generated ideas under Brand Values & Craftsmanship.\n\nEach one-liner must be a single text string and grouped under the correct heading.\n\nMaintain a clear and consistent output structure and grouping throughout.\n\n**Reasoning Steps**\n\nBegin by reviewing all input context and extracting verbatim one-liners, grouping them according to the required headings.\n\nUse the tool to search the vector database for additional relevant phrases or taglines.\n\nIf any group lacks sufficient one-liners, generate new, original one-liners appropriate to the company’s messaging and target market, labeling each with “(Idea)”.\n\nDo not include generated ideas in Brand Values & Craftsmanship; only extract what exists in the data.\n\nEnsure all content is well-structured, clearly grouped, and easy to identify.\n\n**Context**\nYou have access to onboarding questionnaires, client interviews, all provided context, and a vector database containing messaging, testimonials, and related data. Use all available sources to ensure comprehensive extraction and informed idea generation.\n\n**Final instructions and prompt to think step by step**\nCarefully review all input context and outputs from the vector database before compiling your one-liner lists.\nThink step by step: first, extract all verbatim one-liners and group them; second, generate and label new one-liners as “(Idea)” where necessary in Customer-Focused Messaging and Product/Benefit Highlights.\nPresent your final output as a structured JSON schema object with each group clearly labeled.\nDo not yield control until you have included all extracted one-liners, and if needed, clearly labeled new ideas, grouped under their respective headings.\n\n3. **Output:**\n    - The final output must be strictly in JSON format.\n    - The JSON output must adhere exactly to the provided JSON Schema.\n    - Do not include any extra fields beyond what is defined in the JSON Schema.\n4. **Usage of the Tool:**\n    - **ALWAYS USE THE TOOL TO PULL CHUNKS FROM THE VECTOR DATABASE.**\n\n**Requirements and Guidelines:**\n\n- **Output Format:**\n    - The final output must be valid JSON and strictly conform to the provided JSON Schema.\n        {\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"title\": \"OneLinerOutput\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"extractedOneLiners\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"customerFocusedMessaging\": {\n          \"type\": \"array\",\n          \"description\": \"One-liners extracted verbatim under Customer-Focused Messaging.\",\n          \"items\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"text\": {\n                \"type\": \"string\",\n                \"description\": \"The one-liner text.\"\n              }\n            },\n            \"required\": [\"text\"],\n            \"additionalProperties\": false\n          }\n        },\n        \"brandValuesAndCraftsmanship\": {\n          \"type\": \"array\",\n          \"description\": \"One-liners extracted verbatim under Brand Values & Craftsmanship.\",\n          \"items\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"text\": {\n                \"type\": \"string\",\n                \"description\": \"The one-liner text.\"\n              }\n            },\n            \"required\": [\"text\"],\n            \"additionalProperties\": false\n          }\n        },\n        \"productBenefitHighlights\": {\n          \"type\": \"array\",\n          \"description\": \"One-liners extracted verbatim under Product/Benefit Highlights.\",\n          \"items\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"text\": {\n                \"type\": \"string\",\n                \"description\": \"The one-liner text.\"\n              }\n            },\n            \"required\": [\"text\"],\n            \"additionalProperties\": false\n          }\n        }\n      },\n      \"required\": [\n        \"customerFocusedMessaging\",\n        \"brandValuesAndCraftsmanship\",\n        \"productBenefitHighlights\"\n      ],\n      \"additionalProperties\": false\n    },\n    \"recommendedOneLiners\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"customerFocusedMessaging\": {\n          \"type\": \"array\",\n          \"description\": \"Additional recommended one-liners for Customer-Focused Messaging.\",\n          \"items\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"text\": {\n                \"type\": \"string\",\n                \"description\": \"The recommended one-liner text.\"\n              }\n            },\n            \"required\": [\"text\"],\n            \"additionalProperties\": false\n          }\n        },\n        \"productBenefitHighlights\": {\n          \"type\": \"array\",\n          \"description\": \"Additional recommended one-liners for Product/Benefit Highlights.\",\n          \"items\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"text\": {\n                \"type\": \"string\",\n                \"description\": \"The recommended one-liner text.\"\n              }\n            },\n            \"required\": [\"text\"],\n            \"additionalProperties\": false\n          }\n        }\n      },\n      \"required\": [\"customerFocusedMessaging\", \"productBenefitHighlights\"],\n      \"additionalProperties\": false\n    }\n  },\n  \"required\": [\"extractedOneLiners\", \"recommendedOneLiners\"],\n  \"additionalProperties\": false\n}\n- **Content Specifications:**\n    - Include all one-liners extracted verbatim from the inputs, grouped by their respective categories.\n    - Provide additional recommended one-liners in the specified groups.\n- **Consistency:**\n    - Maintain consistent structure, grouping, and terminology throughout the output."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-1376,912],"id":"183c1316-2c4e-48fa-ac0a-07e865598537","name":"AI Agent","onError":"continueErrorOutput"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"title\": \"OneLinerOutput\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"extractedOneLiners\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"customerFocusedMessaging\": {\n          \"type\": \"array\",\n          \"description\": \"One-liners extracted verbatim under Customer-Focused Messaging.\",\n          \"items\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"text\": {\n                \"type\": \"string\",\n                \"description\": \"The one-liner text.\"\n              }\n            },\n            \"required\": [\"text\"],\n            \"additionalProperties\": false\n          }\n        },\n        \"brandValuesAndCraftsmanship\": {\n          \"type\": \"array\",\n          \"description\": \"One-liners extracted verbatim under Brand Values & Craftsmanship.\",\n          \"items\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"text\": {\n                \"type\": \"string\",\n                \"description\": \"The one-liner text.\"\n              }\n            },\n            \"required\": [\"text\"],\n            \"additionalProperties\": false\n          }\n        },\n        \"productBenefitHighlights\": {\n          \"type\": \"array\",\n          \"description\": \"One-liners extracted verbatim under Product/Benefit Highlights.\",\n          \"items\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"text\": {\n                \"type\": \"string\",\n                \"description\": \"The one-liner text.\"\n              }\n            },\n            \"required\": [\"text\"],\n            \"additionalProperties\": false\n          }\n        }\n      },\n      \"required\": [\n        \"customerFocusedMessaging\",\n        \"brandValuesAndCraftsmanship\",\n        \"productBenefitHighlights\"\n      ],\n      \"additionalProperties\": false\n    },\n    \"recommendedOneLiners\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"customerFocusedMessaging\": {\n          \"type\": \"array\",\n          \"description\": \"Additional recommended one-liners for Customer-Focused Messaging.\",\n          \"items\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"text\": {\n                \"type\": \"string\",\n                \"description\": \"The recommended one-liner text.\"\n              }\n            },\n            \"required\": [\"text\"],\n            \"additionalProperties\": false\n          }\n        },\n        \"productBenefitHighlights\": {\n          \"type\": \"array\",\n          \"description\": \"Additional recommended one-liners for Product/Benefit Highlights.\",\n          \"items\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"text\": {\n                \"type\": \"string\",\n                \"description\": \"The recommended one-liner text.\"\n              }\n            },\n            \"required\": [\"text\"],\n            \"additionalProperties\": false\n          }\n        }\n      },\n      \"required\": [\"customerFocusedMessaging\", \"productBenefitHighlights\"],\n      \"additionalProperties\": false\n    }\n  },\n  \"required\": [\"extractedOneLiners\", \"recommendedOneLiners\"],\n  \"additionalProperties\": false\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-848,1168],"id":"785b9b77-d7a9-41de-b69b-0ec39e8cab39","name":"Structured Output Parser"},{"parameters":{"mode":"retrieve-as-tool","toolName":"transformationSolution","toolDescription":"=Extract all short, standalone statements (one-liners) that are clearly separated by line breaks or quotation marks from the client interview documents and onboarding questionnaire. Ignore long paragraphs and focus only on brief, impactful statements","pineconeIndex":{"__rl":true,"value":"=onboarding","mode":"id"},"topK":20,"options":{"pineconeNamespace":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[-1248,1184],"id":"70905040-cd9b-4dd9-b9bd-8772dce548f7","name":"Pinecone Vector Store1","credentials":{"pineconeApi":{"id":"axuYyU6grhcC8CQp","name":"PineconeApi account"}}},{"parameters":{"model":"text-embedding-3-large","options":{"dimensions":3072}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-1216,1376],"id":"ef4a4e4a-cbfd-428a-9079-b131c10767ab","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{"content":"## AI Model \nCurrently set\nto 4.1","height":220,"width":360,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1712,1168],"id":"5ceb1926-742b-43d5-a61b-93e48dadfee2","name":"Sticky Note3"},{"parameters":{"operation":"get","tableId":"target_market_profiles","filters":{"conditions":[{"keyName":"client_id","keyValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1328,592],"id":"e1d24b6e-3e1e-427f-8f90-a3be365a5d53","name":"Get Target Market","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1568,1232],"id":"802c4f6e-2ef9-4b16-b13f-a7ad80661d8d","name":"AI","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{"operation":"get","tableId":"misconceptions_output","filters":{"conditions":[{"keyName":"client_id","keyValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-480,592],"id":"78cafa93-4914-451b-b0cb-85e4da5924ac","name":"Get misconseptions","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"operation":"get","tableId":"common_emotional_sentiment","filters":{"conditions":[{"keyName":"client_id","keyValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-720,592],"id":"9154eb64-755a-4778-bdd9-5b70781214a2","name":"Get emotional sentiment","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"operation":"get","tableId":"industry_jargon","filters":{"conditions":[{"keyName":"=client_id","keyValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-960,592],"id":"0d1134f3-2d47-423d-a44f-83b8643ccdaf","name":"Get Industry Jargon","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"operation":"get","tableId":"common_words_and_phrases","filters":{"conditions":[{"keyName":"client_id","keyValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1152,592],"id":"ee759cdc-a9f2-474c-830b-446f56e1dcff","name":"Get Common Words","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"tableId":"one_liners_output","fieldsUi":{"fieldValues":[{"fieldId":"client_id","fieldValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"},{"fieldId":"company","fieldValue":"={{ $('Get Target Market').item.json.company }}"},{"fieldId":"extracted_one_liners","fieldValue":"={{ $json.output.extractedOneLiners }}"},{"fieldId":"recommended_one_liners","fieldValue":"={{ $json.output.recommendedOneLiners }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-496,912],"id":"84a831c8-00e6-492e-b8bc-b2a80e8c9e32","name":"Create a row","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}},"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0b01e0ec-c766-4b22-9f4a-9c95f327539e","leftValue":"={{ $('When Executed by Another Workflow').item.json['Overwrite'] }}","rightValue":"no","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-848,896],"id":"55aac37c-4561-4b9b-bd8c-0d69201af88b","name":"If"},{"parameters":{"operation":"update","tableId":"one_liners_output","filters":{"conditions":[{"keyName":"client_id","condition":"eq","keyValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"company","fieldValue":"={{ $('Get Target Market').item.json.company }}"},{"fieldId":"extracted_one_liners","fieldValue":"={{ $json.output.extractedOneLiners }}"},{"fieldId":"recommended_one_liners","fieldValue":"={{ $json.output.recommendedOneLiners }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-480,1104],"id":"40ff3676-9974-4764-9298-93fec742f08a","name":"Update a row","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}},"onError":"continueErrorOutput"},{"parameters":{"workflowInputs":{"values":[{"name":"client_id"},{"name":"Overwrite"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1728,592],"id":"3d24694e-d267-4fea-a18b-d9f98702893b","name":"When Executed by Another Workflow"}],"connections":{"AI Agent":{"main":[[{"node":"If","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Pinecone Vector Store1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store1","type":"ai_embedding","index":0}]]},"Get Target Market":{"main":[[{"node":"Get Common Words","type":"main","index":0}]]},"AI":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Get misconseptions":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Get emotional sentiment":{"main":[[{"node":"Get misconseptions","type":"main","index":0}]]},"Get Industry Jargon":{"main":[[{"node":"Get emotional sentiment","type":"main","index":0}]]},"Get Common Words":{"main":[[{"node":"Get Industry Jargon","type":"main","index":0}]]},"If":{"main":[[{"node":"Create a row","type":"main","index":0}],[{"node":"Update a row","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Get Target Market","type":"main","index":0}]]},"Create a row":{"main":[[],[{"node":"Update a row","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"client_id":"1650987991917x277951650850529760","Overwrite":"no"}}]},"versionId":"e9138874-4987-444b-bf8c-198b7c5f09d5","triggerCount":0,"shared":[{"createdAt":"2025-09-09T01:32:46.624Z","updatedAt":"2025-09-09T01:32:46.624Z","role":"workflow:owner","workflowId":"LACj6LGihRvr2iMT","projectId":"oeHwV8sNrbPNhUov"}],"tags":[{"createdAt":"2025-04-01T22:45:29.983Z","updatedAt":"2025-04-01T22:45:29.983Z","id":"BrjeNaIxRMVJhxj8","name":"Identity"},{"createdAt":"2025-03-17T22:01:27.572Z","updatedAt":"2025-03-17T22:01:27.572Z","id":"8gp5kj24VYtRoQQF","name":"Awareness Matrix"}]}