edit-14---tone-of-voice-rwPpqLJ5UUasrKv2.json
{"createdAt":"2025-09-09T01:47:43.356Z","updatedAt":"2025-10-16T06:34:47.101Z","id":"rwPpqLJ5UUasrKv2","name":"EDIT 14 - Tone Of Voice","active":false,"isArchived":false,"nodes":[{"parameters":{"tableId":"tone_of_voice_guide","fieldsUi":{"fieldValues":[{"fieldId":"client_id","fieldValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"},{"fieldId":"company","fieldValue":"={{ $('Get Business Info').item.json.company }}"},{"fieldId":"tone_of_voice_characteristics","fieldValue":"={{ $json.output.toneOfVoiceCharacteristics }}"},{"fieldId":"tone_variations_by_communication_type","fieldValue":"={{ $json.output.toneVariationsByCommunicationType }}"},{"fieldId":"comparison_with_competitors","fieldValue":"={{ $json.output.comparisonWithCompetitors }}"},{"fieldId":"unique_tone_characteristics","fieldValue":"={{ $json.output.uniqueToneCharacteristics }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[672,528],"id":"0ef09a40-ba46-4399-88b2-a8462ef2f77b","name":"Supabase1","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}},"onError":"continueErrorOutput"},{"parameters":{"promptType":"define","text":"=ALWAYS USE THE TOOL TO PULL CHUNKS FROM THE VECTOR DATABASE\n\nCompany Offer:\n{{ $('Get Business Info').item.json.offer }}\n\nCompnay Industry:\n{{ $('Get Business Info').item.json.industry }}\n\nCompany Messaging:\n- Common words and phrases:\n{{ \n  (($('Get Common Words').item.json.primary_target_market) || [])\n    .map(p => '- ' + (p.phrase ?? String(p)))\n    .join('\\n')\n}}\n\n{{ \n  (($('Get Common Words').item.json.secondary_target_market) || [])\n    .map(p => '- ' + (p.phrase ?? String(p)))\n    .join('\\n')\n}}\n\n- Common emotional sentiment:\n  Positive themes:\n  {{ $('Get emotional sentiment').item.json.summary.positiveThemes }}\n\n- Jargon they use (and jargon they don’t):\n{{ \n  $('Get jargon').item.json.good_jargon\n    ? $('Get jargon').item.json.good_jargon\n        .map(j => `• **${j.term}** — ${j.description}`)\n        .join('\\n')\n    : ''\n}}\n\n- Common misconceptions:\n  About solution:\n{{ JSON.stringify($('Get misconseptions').item.json.misconceptions_about_solution) }}\n\n  About Offer:\n{{ JSON.stringify($('Get misconseptions').item.json.misconceptions_about_offer) }}\n\n  About Industry:\n{{ JSON.stringify($('Get misconseptions').item.json.misconceptions_about_industry) }}\n\n  About Company:\n{{ JSON.stringify($('Get misconseptions').item.json.misconceptions_about_company) }}\n\nBrand personality:\n{{ JSON.stringify($('Get Brand Personality').item.json.personality_traits) }}\n\n- **Primary Target Market:**\n{{ JSON.stringify($('Get Target Market').item.json.primary_target_market, null, 2) }}\n- **Secondary Target Market:**\n-{{ JSON.stringify($('Get Target Market').item.json.secondary_target_market, null, 2) }}\n\n","hasOutputParser":true,"options":{"systemMessage":"=#Role and Objective#\nYou are a brand strategist. Your objective is to develop a concise Tone of Voice Guide for the brand, based on all available context, inputs, and insights pulled from the vector database. The guide must include exactly five tone of voice characteristics, tone variations by communication type, and a comparison with key competitors highlighting what makes the brand’s tone unique.\n\n#Instructions#\n\nAlways use the tool provided to pull relevant data chunks from the vector database.\n\nReview all input context, including target market insights, brand values, brand personality, and competitor communications.\n\nIdentify five key tone of voice characteristics for the brand. For each:\n\nProvide the Characteristic Name (e.g., “Friendly and Approachable”).\n\nWrite a brief, clear description capturing the tone’s essence.\n\nFor tone variations by communication type (Social Media, Website Copy, Emails, Customer Service), provide:\n\nA concise description of how the tone adapts to the channel.\n\nCompare the brand’s tone to that of key competitors:\n\nState what makes the brand’s tone unique.\n\nInclude specific points of differentiation.\n\nSummarize the unique tone characteristics in a bulleted list.\n\nOutput your answer as a valid JSON schema object. Do not include any extra fields or commentary beyond the required schema.\n\n#Reasoning Steps#\n\nStart by reviewing all relevant context and extracting tone cues from the vector database, brand personality, and competitor materials.\n\nSynthesize the five most defining tone of voice characteristics and write clear descriptions and examples for each.\n\nIdentify any variations in tone by channel and provide descriptions and channel-specific examples.\n\nAnalyze how the brand’s tone compares to competitors, calling out unique traits and differentiation.\n\nSummarize the brand’s unique tone characteristics in concise bullet points.\n\nConfirm that all required sections and fields are present and that no extra content is included.\n\n#Context#\nYou have access to all input context, brand personality and values, customer and competitor insights, and a vector database with messaging and communications data. Use all sources to support your guide.\n\n#Final instructions and prompt to think step by step#\nCarefully review all context and tool outputs from the vector database before finalizing the Tone of Voice Guide.\nThink step by step: first, identify and define the five tone characteristics with examples; second, describe and illustrate tone variations by channel; third, compare the brand’s tone to competitors and explain what makes it unique; fourth, summarize the key tone characteristics as bullet points.\nReturn your answer as a valid JSON schema object that matches the provided schema exactly.\nDo not yield control until every required section is present, all content is concise, and your output is fully supported by evidence from context and the vector database.\n\nOutput JSON Schema:\n{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"title\": \"ToneOfVoiceGuideOutput\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"toneOfVoiceCharacteristics\": {\n      \"type\": \"array\",\n      \"description\": \"List of exactly 5 tone of voice characteristics for the brand.\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"characteristic\": {\n            \"type\": \"string\",\n            \"description\": \"The name or title of the tone characteristic (e.g., 'Friendly and Approachable').\"\n          },\n          \"details\": {\n            \"type\": \"array\",\n            \"description\": \"Bullet point details elaborating on this characteristic.\",\n            \"items\": {\n              \"type\": \"string\"\n            }\n          }\n        },\n        \"required\": [\"characteristic\", \"details\"],\n        \"additionalProperties\": false\n      },\n      \"minItems\": 5,\n      \"maxItems\": 5\n    },\n    \"toneVariationsByCommunicationType\": {\n      \"type\": \"object\",\n      \"description\": \"Tone variations for different communication types.\",\n      \"properties\": {\n        \"socialMedia\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"description\": {\n              \"type\": \"string\",\n              \"description\": \"Tone description for social media communications.\"\n            }\n          },\n          \"required\": [\"description\"],\n          \"additionalProperties\": false\n        },\n        \"websiteCopy\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"description\": {\n              \"type\": \"string\",\n              \"description\": \"Tone description for website copy.\"\n            }\n          },\n          \"required\": [\"description\"],\n          \"additionalProperties\": false\n        },\n        \"emails\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"description\": {\n              \"type\": \"string\",\n              \"description\": \"Tone description for emails.\"\n            }\n          },\n          \"required\": [\"description\"],\n          \"additionalProperties\": false\n        },\n        \"customerService\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"description\": {\n              \"type\": \"string\",\n              \"description\": \"Tone description for customer service interactions.\"\n            }\n          },\n          \"required\": [\"description\"],\n          \"additionalProperties\": false\n        }\n      },\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[48,560],"id":"6d5e6e09-f0b3-4681-be7f-b0ce71fbdfdc","name":"AI Agent","onError":"continueErrorOutput"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"title\": \"ToneOfVoiceGuideOutput\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"toneOfVoiceCharacteristics\": {\n      \"type\": \"array\",\n      \"description\": \"List of exactly 5 tone of voice characteristics for the brand.\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"characteristic\": {\n            \"type\": \"string\",\n            \"description\": \"The name or title of the tone characteristic (e.g., 'Friendly and Approachable').\"\n          },\n          \"details\": {\n            \"type\": \"array\",\n            \"description\": \"Bullet point details elaborating on this characteristic.\",\n            \"items\": {\n              \"type\": \"string\"\n            }\n          }\n        },\n        \"required\": [\"characteristic\", \"details\"],\n        \"additionalProperties\": false\n      },\n      \"minItems\": 5,\n      \"maxItems\": 5\n    },\n    \"toneVariationsByCommunicationType\": {\n      \"type\": \"object\",\n      \"description\": \"Tone variations for different communication types.\",\n      \"properties\": {\n        \"socialMedia\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"description\": {\n              \"type\": \"string\",\n              \"description\": \"Tone description for social media communications.\"\n            }\n          },\n          \"required\": [\"description\"],\n          \"additionalProperties\": false\n        },\n        \"websiteCopy\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"description\": {\n              \"type\": \"string\",\n              \"description\": \"Tone description for website copy.\"\n            }\n          },\n          \"required\": [\"description\"],\n          \"additionalProperties\": false\n        },\n        \"emails\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"description\": {\n              \"type\": \"string\",\n              \"description\": \"Tone description for emails.\"\n            }\n          },\n          \"required\": [\"description\"],\n          \"additionalProperties\": false\n        },\n        \"customerService\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"description\": {\n              \"type\": \"string\",\n              \"description\": \"Tone description for customer service interactions.\"\n            }\n          },\n          \"required\": [\"description\"],\n          \"additionalProperties\": false\n        }\n      },\n      \"required\": [\"socialMedia\", \"websiteCopy\", \"emails\", \"customerService\"],\n      \"additionalProperties\": false\n    },\n    \"comparisonWithCompetitors\": {\n      \"type\": \"array\",\n      \"description\": \"Comparisons between the brand's tone and its competitors. Each entry should detail the competitor and explain what makes the brand's tone unique in comparison.\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"competitor\": {\n            \"type\": \"string\",\n            \"description\": \"Name(s) of the competitor(s).\"\n          },\n          \"competitorTone\": {\n            \"type\": \"string\",\n            \"description\": \"Description of the competitor's tone of voice.\"\n          },\n          \"brandDifference\": {\n            \"type\": \"string\",\n            \"description\": \"Explanation of what makes the brand’s tone unique compared to the competitor.\"\n          }\n        },\n        \"required\": [\"competitor\", \"competitorTone\", \"brandDifference\"],\n        \"additionalProperties\": false\n      }\n    },\n    \"uniqueToneCharacteristics\": {\n      \"type\": \"array\",\n      \"description\": \"A list of key bullet points highlighting what makes the brand’s tone unique.\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  },\n  \"required\": [\n    \"toneOfVoiceCharacteristics\",\n    \"toneVariationsByCommunicationType\",\n    \"comparisonWithCompetitors\",\n    \"uniqueToneCharacteristics\"\n  ],\n  \"additionalProperties\": false\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[368,832],"id":"0cb58e32-9924-4728-b132-0a09a91d70cc","name":"Structured Output Parser"},{"parameters":{"content":"## AI Model \nCurrently set\nto 4.1","height":220,"width":360,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-256,720],"id":"eee8e84d-e882-4bb6-8a93-9f992a071cc5","name":"Sticky Note3"},{"parameters":{"content":"## Notes about run\n\nRun Time: 20 secs\n\n## Analyze outputs\n- Might need higher intelligence for this output\n","height":380,"width":700,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-976,112],"id":"351a7bf6-66db-4562-8ae5-98b8d1a79cc1","name":"Sticky Note6"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-48,816],"id":"0e8813d9-c02a-457a-8c9b-300e5a63f2a2","name":"AI","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0b01e0ec-c766-4b22-9f4a-9c95f327539e","leftValue":"={{ $('When Executed by Another Workflow').item.json['Overwrite'] }}","rightValue":"no","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[416,544],"id":"fd87b0ec-3812-4df4-aa92-40fda18bef81","name":"If"},{"parameters":{"mode":"retrieve-as-tool","toolName":"ToneOfVoice","toolDescription":"=Search the vector database for tone of voice-related content. Look for excerpts that describe the brand's communication style, including specific tone examples on social media, website copy, emails, and customer service. Also extract any competitor comparisons or messaging nuances that reveal what makes the brand's tone unique.","pineconeIndex":{"__rl":true,"value":"=onboarding","mode":"id"},"topK":20,"options":{"pineconeNamespace":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[96,1008],"id":"474e1a79-5354-4d56-879a-6d49452541dd","name":"Pinecone Vector Store","credentials":{"pineconeApi":{"id":"axuYyU6grhcC8CQp","name":"PineconeApi account"}}},{"parameters":{"model":"text-embedding-3-large","options":{"dimensions":3072}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[240,1264],"id":"55bce41f-26d8-406f-be85-0233c28b4372","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{"operation":"get","tableId":"brand_personality","filters":{"conditions":[{"keyName":"client_id","keyValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-208,560],"id":"492f4600-3297-4add-a010-cafceff315ff","name":"Get Brand Personality","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"operation":"get","tableId":"target_market_profiles","filters":{"conditions":[{"keyName":"client_id","keyValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1280,560],"id":"c2bbe07e-40a5-48b5-9505-93f54d6080a4","name":"Get Target Market","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"operation":"get","tableId":"misconceptions_output","filters":{"conditions":[{"keyName":"client_id","keyValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-400,560],"id":"4ce8ccad-9012-4715-aa13-eccc3c4ce8f2","name":"Get misconseptions","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"operation":"get","tableId":"common_emotional_sentiment","filters":{"conditions":[{"keyName":"client_id","keyValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-608,560],"id":"5a5ed175-3124-4d79-bae3-95bc10eea9f8","name":"Get emotional sentiment","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"operation":"get","tableId":"business_profiles","filters":{"conditions":[{"keyName":"client_id","keyValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-784,560],"id":"a700903d-08c2-43a5-8d61-ef0b47253db2","name":"Get Business Info","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"operation":"get","tableId":"industry_jargon","filters":{"conditions":[{"keyName":"client_id","keyValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-944,560],"id":"d0a01fe5-5175-4ea7-a557-b9386e338878","name":"Get jargon","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"operation":"get","tableId":"common_words_and_phrases","filters":{"conditions":[{"keyName":"client_id","keyValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1104,560],"id":"71a70046-cacb-4a3d-86f8-25f384d3242c","name":"Get Common Words","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"operation":"update","tableId":"tone_of_voice_guide","filters":{"conditions":[{"keyName":"client_id","condition":"eq","keyValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"company","fieldValue":"={{ $('Get Business Info').item.json.company }}"},{"fieldId":"tone_of_voice_characteristics","fieldValue":"={{ $json.output.toneOfVoiceCharacteristics }}"},{"fieldId":"tone_variations_by_communication_type","fieldValue":"={{ $json.output.toneVariationsByCommunicationType }}"},{"fieldId":"comparison_with_competitors","fieldValue":"={{ $json.output.comparisonWithCompetitors }}"},{"fieldId":"unique_tone_characteristics","fieldValue":"={{ $json.output.uniqueToneCharacteristics }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[672,736],"id":"db6f91e1-5d60-4d37-a110-b7e93afc2f79","name":"Supabase","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}},"onError":"continueErrorOutput"},{"parameters":{"workflowInputs":{"values":[{"name":"client_id"},{"name":"Overwrite"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1504,560],"id":"16a8a985-82bc-4579-bd95-d7407ecfa0e1","name":"When Executed by Another Workflow"}],"connections":{"AI Agent":{"main":[[{"node":"If","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"AI":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Pinecone Vector Store":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Get Brand Personality":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Get Target Market":{"main":[[{"node":"Get Common Words","type":"main","index":0}]]},"Get emotional sentiment":{"main":[[{"node":"Get misconseptions","type":"main","index":0}]]},"Get Business Info":{"main":[[{"node":"Get emotional sentiment","type":"main","index":0}]]},"Get jargon":{"main":[[{"node":"Get Business Info","type":"main","index":0}]]},"Get Common Words":{"main":[[{"node":"Get jargon","type":"main","index":0}]]},"Get misconseptions":{"main":[[{"node":"Get Brand Personality","type":"main","index":0}]]},"If":{"main":[[{"node":"Supabase1","type":"main","index":0}],[{"node":"Supabase","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Get Target Market","type":"main","index":0}]]},"Supabase1":{"main":[[],[{"node":"Supabase","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"client_id":"1650987991917x277951650850529760","Overwrite":"no"}}]},"versionId":"eaf37adb-ed62-442d-b996-acd4d42c7fd6","triggerCount":0,"shared":[{"createdAt":"2025-09-09T01:47:43.356Z","updatedAt":"2025-09-09T01:47:43.356Z","role":"workflow:owner","workflowId":"rwPpqLJ5UUasrKv2","projectId":"oeHwV8sNrbPNhUov"}],"tags":[{"createdAt":"2025-03-17T22:01:27.572Z","updatedAt":"2025-03-17T22:01:27.572Z","id":"8gp5kj24VYtRoQQF","name":"Awareness Matrix"},{"createdAt":"2025-04-01T22:45:29.983Z","updatedAt":"2025-04-01T22:45:29.983Z","id":"BrjeNaIxRMVJhxj8","name":"Identity"}]}