edit-16---words-we-dont-use-4hcoKsj6xr6kiV53.json
{"createdAt":"2025-09-09T02:00:29.073Z","updatedAt":"2025-10-16T06:35:08.587Z","id":"4hcoKsj6xr6kiV53","name":"EDIT 16 - Words We Dont Use","active":false,"isArchived":false,"nodes":[{"parameters":{"tableId":"words_we_dont_use","fieldsUi":{"fieldValues":[{"fieldId":"client_id","fieldValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"},{"fieldId":"company","fieldValue":"={{ $('Get Business Info').item.json.company }}"},{"fieldId":"marketing_avoid_terminology","fieldValue":"={{ $json.output.marketingTerminologyToAvoid }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[656,576],"id":"7f152acf-3871-443a-aa65-59b8367f4983","name":"Supabase1","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}},"onError":"continueErrorOutput"},{"parameters":{"promptType":"define","text":"=ALWAYS USE THE TOOL TO PULL CHUNKS FROM THE VECTOR DATABASE\n\n- Desrired Transformation | Overarching, Primary, & Secondary:\n{{ $('Get Desired Transformation').item.json.overarching_transformation }}\n\n{{ JSON.stringify($('Get Desired Transformation').item.json.primary_transformation, null, 1) }}\n\n{{ JSON.stringify($('Get Desired Transformation').item.json.secondary_transformation, null, 1) }}\n\n\n- Get Pain Points:\n{{ JSON.stringify($('Get Pain Points').item.json.known_pain_points, null, 1) }}\n\n- Jargon they use (and jargon they don’t):\nUse:\n{{ JSON.stringify($('Get jargon').item.json.good_jargon, null, 1) }}\n\n\n- Primary Target Market:\n{{ JSON.stringify($('Get Target Market').item.json.primary_target_market, null, 2) }}\n- Secondary Target Market:\n-{{ JSON.stringify($('Get Target Market').item.json.secondary_target_market, null, 2) }}\n\n","hasOutputParser":true,"options":{"systemMessage":"=#Role and Objective#\nYou are a marketing communications strategist. Your objective is to analyze all provided context—including interviews, testimonials, reviews, and market research—to identify marketing terms, words, or short phrases the company should never use in its messaging. The goal is to help the brand avoid language that is out of touch, overused, not adopted by the target market, or damaging to its reputation and positioning.\n\n#Instructions#\n\nAlways use the tool provided to pull relevant chunks from the vector database.\n\nReview all input context: interviews, testimonials, reviews, and research.\n\nIdentify up to 20 words, terms, or short phrases that the brand should never use. These may include:\n\nOverused or cliché marketing buzzwords.\n\nIndustry jargon not adopted or recognized by the target market.\n\nWords or phrases that could confuse, alienate, or turn off the audience.\n\nLanguage that might undermine the brand’s credibility, relevance, or value.\n\nFor each term, write a brief explanation of why it could harm the brand’s positioning, dilute its messaging, or negatively impact perception.\n\nPresent your final output as a valid JSON schema object, following the required structure exactly. Do not include any extra fields.\n\n#Reasoning Steps#\n\nBegin by reviewing all relevant context and extracting problematic, outdated, or off-brand language from the vector database.\n\nFocus on words, terms, and phrases that are either not adopted by the target market or carry negative connotations.\n\nFor each term, write a concise explanation of its risks or drawbacks.\n\nEnsure your list is no longer than 20 entries, with each entry including both the term and its explanation.\n\n#Context#\nYou have access to interviews, testimonials, reviews, market research, and a vector database containing detailed contextual insights about the brand, audience, and market language. Use all available sources and retrieved chunks.\n\n#Final instructions and prompt to think step by step#\nCarefully review all input context and tool outputs from the vector database before compiling your list.\nThink step by step: first, identify and exclude language that is outdated, irrelevant, or off-brand; second, clearly articulate why each term is problematic.\nReturn your answer as a valid JSON schema object with only the required fields.\nDo not yield control until all instructions are followed and the output is fully supported by evidence from the context and vector database.\n\n\nOutput Schema:\n{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"title\": \"MarketingTerminologyToAvoidOutput\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"marketingTerminologyToAvoid\": {\n      \"type\": \"array\",\n      \"description\": \"A list of no more than 20 marketing terms, words, or phrases that should never be used, along with explanations of their negative impact.\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"term\": {\n            \"type\": \"string\",\n            \"description\": \"The marketing term, word, or phrase that should be avoided.\"\n          },\n          \"description\": {\n            \"type\": \"string\",\n            \"description\": \"A brief explanation of why this term should not be used and how it could damage the brand's reputation.\"\n          }\n        },\n        \"required\": [\"term\", \"description\"],\n        \"additionalProperties\": false\n      },\n      \"maxItems\": 20\n    }\n  },\n  \"required\": [\"marketingTerminologyToAvoid\"],\n  \"additionalProperties\": false\n}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[48,592],"id":"bdd4dec5-029e-47a9-a698-3e28ce0dd23c","name":"AI Agent"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"title\": \"MarketingTerminologyToAvoidOutput\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"marketingTerminologyToAvoid\": {\n      \"type\": \"array\",\n      \"description\": \"A list of no more than 20 marketing terms, words, or phrases that should never be used, along with explanations of their negative impact.\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"term\": {\n            \"type\": \"string\",\n            \"description\": \"The marketing term, word, or phrase that should be avoided.\"\n          },\n          \"description\": {\n            \"type\": \"string\",\n            \"description\": \"A brief explanation of why this term should not be used and how it could damage the brand's reputation.\"\n          }\n        },\n        \"required\": [\"term\", \"description\"],\n        \"additionalProperties\": false\n      },\n      \"maxItems\": 20\n    }\n  },\n  \"required\": [\"marketingTerminologyToAvoid\"],\n  \"additionalProperties\": false\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[368,832],"id":"34187aec-8391-42d7-8d70-e0954dc6007d","name":"Structured Output Parser"},{"parameters":{"content":"## AI Model \nCurrently set\nto 4o","height":220,"width":360,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-256,720],"id":"12ab9204-d674-4a18-bca7-60089fcb1062","name":"Sticky Note3"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-16,832],"id":"42fad717-7054-4b29-8c39-490b8e608034","name":"AI","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{"operation":"get","tableId":"desired_transformations","filters":{"conditions":[{"keyName":"client_id","keyValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-688,592],"id":"b253fe45-8ada-4b06-a82d-35a3d4758fc8","name":"Get Desired Transformation","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"operation":"get","tableId":"pain_points_extractions","filters":{"conditions":[{"keyName":"client_id","keyValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-928,592],"id":"e989314c-2e36-4d66-a571-3147f50c86d5","name":"Get Pain Points","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"operation":"get","tableId":"business_profiles","filters":{"conditions":[{"keyName":"client_id","keyValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1408,592],"id":"7be6e551-d51f-46df-aa22-ea43244688e6","name":"Get Business Info","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"operation":"get","tableId":"industry_jargon","filters":{"conditions":[{"keyName":"client_id","keyValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-480,592],"id":"b69a8649-6929-45e7-b722-34acd03467ae","name":"Get jargon","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"operation":"get","tableId":"target_market_profiles","filters":{"conditions":[{"keyName":"client_id","keyValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1168,592],"id":"d3cd07e0-faa7-431a-87a9-abeabb030cab","name":"Get Target Market","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0b01e0ec-c766-4b22-9f4a-9c95f327539e","leftValue":"={{ $('When Executed by Another Workflow').item.json['Overwrite'] }}","rightValue":"no","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[432,592],"id":"0bea4a56-946c-450f-8fac-c6f087418a74","name":"If"},{"parameters":{"mode":"retrieve-as-tool","toolName":"WordsToNotUse","toolDescription":"=Search the vector database for phrases to create a list of marketing terminology that the company should NOT use to communicate and enhance its messaging consistently","pineconeIndex":{"__rl":true,"value":"=onboarding","mode":"id"},"topK":20,"options":{"pineconeNamespace":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[144,1056],"id":"ded637b0-56d3-4907-b460-8c06603bf12d","name":"Pinecone Vector Store","credentials":{"pineconeApi":{"id":"axuYyU6grhcC8CQp","name":"PineconeApi account"}}},{"parameters":{"model":"text-embedding-3-large","options":{"dimensions":3072}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[160,1312],"id":"5e1ef3ff-a9f2-4ac6-b225-c486e61c1887","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{"operation":"update","tableId":"words_we_dont_use","filters":{"conditions":[{"keyName":"client_id","condition":"eq","keyValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"company","fieldValue":"={{ $('Get Business Info').item.json.company }}"},{"fieldId":"marketing_avoid_terminology","fieldValue":"={{ $json.output.marketingTerminologyToAvoid }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[656,784],"id":"6e4fc102-8055-4a69-b720-ee2e0ca942c5","name":"Supabase","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}},"onError":"continueErrorOutput"},{"parameters":{"workflowInputs":{"values":[{"name":"client_id"},{"name":"Overwrite"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1632,592],"id":"28307041-2196-4bb1-92c5-144f3d2319e3","name":"When Executed by Another Workflow"},{"parameters":{"workflowId":{"__rl":true,"value":"v48tDQ3dPOcB9IjH","mode":"list","cachedResultName":"Cheat Sheet"},"workflowInputs":{"mappingMode":"defineBelow","value":{"client_id":"={{ $('When Executed by Another Workflow').item.json.client_id }}","Overwrite":"={{ $('When Executed by Another Workflow').item.json.Overwrite }}"},"matchingColumns":[],"schema":[{"id":"client_id","displayName":"client_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Overwrite","displayName":"Overwrite","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[976,656],"id":"10c18db5-024c-4d93-83e1-70636eab56a8","name":"Generate CheatSheet"},{"parameters":{"workflowId":{"__rl":true,"value":"sO8CTnltr10uGV5J","mode":"list","cachedResultName":"Welcome Sequence"},"workflowInputs":{"mappingMode":"defineBelow","value":{"client_id":"={{ $('When Executed by Another Workflow').item.json.client_id }}","Overwrite":"={{ $('When Executed by Another Workflow').item.json.Overwrite }}"},"matchingColumns":[],"schema":[{"id":"client_id","displayName":"client_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Overwrite","displayName":"Overwrite","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1216,656],"id":"bd773922-0258-4660-9f26-ff9f7fa2bc1e","name":"Welcome Sequence"}],"connections":{"AI Agent":{"main":[[{"node":"If","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"AI":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Get Desired Transformation":{"main":[[{"node":"Get jargon","type":"main","index":0}]]},"Get Pain Points":{"main":[[{"node":"Get Desired Transformation","type":"main","index":0}]]},"Get Business Info":{"main":[[{"node":"Get Target Market","type":"main","index":0}]]},"Get Target Market":{"main":[[{"node":"Get Pain Points","type":"main","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Get jargon":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Pinecone Vector Store":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"If":{"main":[[{"node":"Supabase1","type":"main","index":0}],[{"node":"Supabase","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Get Business Info","type":"main","index":0}]]},"Supabase1":{"main":[[{"node":"Generate CheatSheet","type":"main","index":0}],[{"node":"Supabase","type":"main","index":0}]]},"Supabase":{"main":[[{"node":"Generate CheatSheet","type":"main","index":0}]]},"Generate CheatSheet":{"main":[[{"node":"Welcome Sequence","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"client_id":"1650987991917x277951650850529760","Overwrite":"no"}}]},"versionId":"c7c684d4-01de-42e1-b556-c4d1556cf18a","triggerCount":0,"shared":[{"createdAt":"2025-09-09T02:00:29.073Z","updatedAt":"2025-09-09T02:00:29.073Z","role":"workflow:owner","workflowId":"4hcoKsj6xr6kiV53","projectId":"oeHwV8sNrbPNhUov"}],"tags":[{"createdAt":"2025-03-17T22:01:27.572Z","updatedAt":"2025-03-17T22:01:27.572Z","id":"8gp5kj24VYtRoQQF","name":"Awareness Matrix"},{"createdAt":"2025-04-01T22:45:29.983Z","updatedAt":"2025-04-01T22:45:29.983Z","id":"BrjeNaIxRMVJhxj8","name":"Identity"}]}