edit-4---common-words-and-phrases-qNfHaTVwIc7WQLeJ.json
{"createdAt":"2025-09-03T00:00:20.671Z","updatedAt":"2025-10-22T08:04:40.129Z","id":"qNfHaTVwIc7WQLeJ","name":"EDIT 4 - Common words and phrases","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"=ALWAYS USE THE TOOL TO PULL CHUNKS FROM THE VECTOR DATABASE\n\n**Analyze the provided context:**\n\n- **Company Name:** \n{{ $('Get Target Market Info').item.json.company }}\n- **Primary Target Market:**\n{{ JSON.stringify($('Get Target Market Info').item.json.primary_target_market, null, 2) }}\n- **Secondary Target Market:** \n{{ JSON.stringify($('Get Target Market Info').item.json.secondary_target_market) }}\n\n\n","hasOutputParser":true,"options":{"systemMessage":"=**Role & Objective**  \nYou are a marketing researcher. Use the provided retrieval tool and vector database to find customer-facing language (interviews, testimonials, reviews). Extract **unique**, **specific**, and **emotionally charged** words or short phrases that reflect value, benefits, pain points, or feedback about the company and offer.  \n**Absolutely do not** include generic industry terms or obvious keywords.\n\n---\n\n**Tooling Requirement**  \nALWAYS use the tool to pull relevant chunks from the vector database before producing results.\n\n---\n\n**Sourcing Policy**  \n- Use customer materials first. If a needed theme is missing, you may use competitor language.  \n- Track sources internally during your reasoning, **but do not include any sourcing/IDs inside the `phrase` field** of the final JSON.  \n- You may use document metadata while thinking, but the final JSON must contain **phrases only** (no IDs, no doc names, no labels).\n\n---\n\n**What to Extract**  \n- Exactly **8** phrases for the **primary target market**.  \n- Exactly **5** phrases for the **secondary target market**.  \n- Each item is a short, human-readable phrase (2–8 words is ideal).  \n- No sentences unless the sentence is short and reads like a tagline.  \n- Prioritize distinctive language that a real customer would say.\n\n---\n\n**Hard Exclusions (for the `phrase` string)**  \nDo **not** include any of the following in `phrase`:\n- Digits or numerals of any kind (`0–9`, dates, times, percentages, currency like €, $, k, ranges like “10–200k”).  \n- IDs, SKUs, UUIDs, emails, URLs, hashtags, handles.  \n- Parentheses or brackets and their contents.  \n- File names, model numbers, version numbers, regulatory codes (e.g., “MDR”, “ISO 9001”), or internal labels like “customer verbatim”, “doc:…”.  \n- Boilerplate terms (e.g., “high quality”, “great service”, “user-friendly”) unless the customer used a *distinctive* formulation (e.g., “built like a tank”).\n\nIf a number is essential to meaning (e.g., “two-day setup”), convert to qualitative wording (e.g., “fast setup”, “setup in a snap”).\n\n---\n\n**Normalization Rules (apply before returning)**  \n- Remove parentheses/brackets and their contents.  \n- Strip digits and currency markers; replace with qualitative synonyms only if meaning depends on them (“instant”, “rapid”, “premium-grade”, “long-lasting”).  \n- Trim whitespace, punctuation clutter, trailing colons/dashes.  \n- Keep natural casing as in normal marketing copy (e.g., “instant peace of mind”, not ALL CAPS).\n\n---\n\n**Additional Insights**  \nProvide a short list of geographic influences as plain sentences (no IDs, no citations, no numbers if avoidable) in `additionalInsights.geographicInfluences`.\n\n---\n\n**Validation Checklist (must pass before output)**  \n1. You retrieved chunks from the vector database.  \n2. `primaryTargetMarket` has **exactly 8** items; `secondaryTargetMarket` has **exactly 5**.  \n3. Every item contains only the field `\"phrase\"`.  \n4. No item contains digits, currency, IDs, URLs, emails, parentheses/brackets, or internal labels.  \n5. Phrases are specific and not generic clichés.  \n6. `additionalInsights.geographicInfluences` is present and uses plain language without IDs.\n\n---\n\n**JSON Schema (use exactly this)**  \n{\n  \"type\": \"object\",\n  \"properties\": {\n    \"primaryTargetMarket\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": { \"phrase\": { \"type\": \"string\" } },\n        \"required\": [\"phrase\"]\n      }\n    },\n    \"secondaryTargetMarket\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": { \"phrase\": { \"type\": \"string\" } },\n        \"required\": [\"phrase\"]\n      }\n    },\n    \"additionalInsights\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"geographicInfluences\": {\n          \"type\": \"array\",\n          \"items\": { \"type\": \"string\" }\n          }\n      },\n      \"required\": [\"geographicInfluences\"]\n    }\n  },\n  \"required\": [\"primaryTargetMarket\", \"secondaryTargetMarket\", \"additionalInsights\"]\n}\n\n\n---\n\n**Process (think then do)**  \n1. Use the tool to search for interviews/testimonials/reviews in the vector DB.  \n2. Extract candidate phrases; rewrite any that include numerals/IDs into qualitative equivalents while preserving customer intent.  \n3. Remove generic clichés; keep only distinctive or emotive phrasing.  \n4. Run the Validation Checklist; fix any violations.  \n5. Output the final JSON exactly matching the schema.\n\n---\n\n**Return only** the JSON object conforming to the schema above.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[48,592],"id":"f01d7681-a0e8-4bb1-b22b-ba005d3ab4de","name":"AI Agent"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"primaryTargetMarket\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"phrase\": {\n            \"type\": \"string\"\n          }\n        },\n        \"required\": [\"phrase\"]\n      }\n    },\n    \"secondaryTargetMarket\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"phrase\": {\n            \"type\": \"string\"\n          }\n        },\n        \"required\": [\"phrase\"]\n      }\n    },\n    \"additionalInsights\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"geographicInfluences\": {\n          \"type\": \"array\",\n          \"items\": {\n            \"type\": \"string\"\n          }\n        }\n      },\n      \"required\": [\"painPointsForDesigners\", \"geographicInfluences\"]\n    }\n  },\n  \"required\": [\"primaryTargetMarket\", \"secondaryTargetMarket\", \"additionalInsights\"]\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[368,832],"id":"72fd0564-e93a-4ab6-9bfe-df27f4846247","name":"Structured Output Parser"},{"parameters":{"mode":"retrieve-as-tool","toolName":"common_words","toolDescription":"Retrieves relevant chunks from the vector store for commonly used words and phrases, incorporating data from client interviews, testimonials, and competitor insights.","pineconeIndex":{"__rl":true,"value":"=onboarding","mode":"id"},"topK":10,"options":{"pineconeNamespace":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[144,1024],"id":"aacd7250-275a-4250-807b-265e515cf41a","name":"Pinecone Vector Store1","credentials":{"pineconeApi":{"id":"axuYyU6grhcC8CQp","name":"PineconeApi account"}}},{"parameters":{"model":"text-embedding-3-large","options":{"dimensions":3072}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[208,1264],"id":"7ac6c842-f811-4423-bec3-c038254b029d","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{"content":"## Bubble webhook\n**Need to have Client ID sent via webhook","height":360,"width":260},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1488,464],"id":"ed34e70b-5d71-4d4b-9a0d-6670d3adaacb","name":"Sticky Note"},{"parameters":{"content":"## AI Model\nCurrently set\nto 4.1","height":140,"width":360,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-224,800],"id":"720d1993-9642-4a94-be50-c779cf47d5ee","name":"Sticky Note3"},{"parameters":{"content":"## Handle Error\nIn production add error handling for data duplication with same ID\n","height":280,"width":380},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[528,448],"id":"83f74cd3-7c20-4406-b10e-982f93843d03","name":"Sticky Note4"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-16,832],"id":"6a155a97-97a6-43ce-9562-70b5f8ce6400","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{"operation":"get","tableId":"target_market_profiles","filters":{"conditions":[{"keyName":"client_id","keyValue":"={{ $json.client_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-768,592],"id":"d64c2be4-1a17-4c44-810e-6f4469de3ea8","name":"Get Target Market Info","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"tableId":"common_words_and_phrases","fieldsUi":{"fieldValues":[{"fieldId":"client_id","fieldValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"},{"fieldId":"company","fieldValue":"={{ $('Get Target Market Info').item.json.company }}"},{"fieldId":"primary_target_market","fieldValue":"={{ $json.output.primaryTargetMarket }}"},{"fieldId":"secondary_target_market","fieldValue":"={{ $json.output.secondaryTargetMarket }}"},{"fieldId":"additional_insights","fieldValue":"={{ $json.output.additionalInsights }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[672,560],"id":"27ebfd7b-5b8f-44e4-8163-c482d3095724","name":"Create a row","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}},"onError":"continueErrorOutput"},{"parameters":{"workflowInputs":{"values":[{"name":"client_id"},{"name":"Overwrite"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1408,592],"id":"369ebf5d-c6c3-459e-a3e2-bdf8a76236c2","name":"When Executed by Another Workflow"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0b01e0ec-c766-4b22-9f4a-9c95f327539e","leftValue":"={{ $('When Executed by Another Workflow').item.json.Overwrite }}","rightValue":"no","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[448,592],"id":"8cfb779f-40fd-4fac-ab6a-727dcc6f05c9","name":"If"},{"parameters":{"operation":"update","tableId":"common_words_and_phrases","filters":{"conditions":[{"keyName":"client_id","condition":"eq","keyValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"client_id","fieldValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"},{"fieldId":"company","fieldValue":"={{ $('Get Target Market Info').item.json.company }}"},{"fieldId":"primary_target_market","fieldValue":"={{ $json.output.primaryTargetMarket }}"},{"fieldId":"secondary_target_market","fieldValue":"={{ $json.output.secondaryTargetMarket }}"},{"fieldId":"additional_insights","fieldValue":"={{ $json.output.additionalInsights }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[688,752],"id":"ba58e7ac-16da-4e15-a8aa-d0f0b1986b88","name":"Update a row","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}},"onError":"continueErrorOutput"},{"parameters":{"httpMethod":"POST","path":"4f2ba2fb-8d00-4783-8b4f-85a1d2c5b8d6","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1408,336],"id":"d6f5cd5b-674b-4f9b-95fd-b93854bb0b35","name":"Webhook","webhookId":"4f2ba2fb-8d00-4783-8b4f-85a1d2c5b8d6"}],"connections":{"AI Agent":{"main":[[{"node":"If","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Pinecone Vector Store1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store1","type":"ai_embedding","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Get Target Market Info":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Get Target Market Info","type":"main","index":0}]]},"If":{"main":[[{"node":"Create a row","type":"main","index":0}],[{"node":"Update a row","type":"main","index":0}]]},"Webhook":{"main":[[]]},"Create a row":{"main":[[],[{"node":"Update a row","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"client_id":"1650987991917x277951650850529760","Overwrite":"yes"}}]},"versionId":"06e62a8a-2b21-425a-8745-2dc0030528bd","triggerCount":1,"shared":[{"createdAt":"2025-09-03T00:00:20.671Z","updatedAt":"2025-09-03T00:00:20.671Z","role":"workflow:owner","workflowId":"qNfHaTVwIc7WQLeJ","projectId":"oeHwV8sNrbPNhUov"}],"tags":[{"createdAt":"2025-03-08T06:02:07.869Z","updatedAt":"2025-03-08T06:02:07.869Z","id":"p2BojbfbdIa5pvok","name":"Messaging"},{"createdAt":"2025-05-15T00:55:08.917Z","updatedAt":"2025-05-15T00:55:08.917Z","id":"g2UpVZ4k6adJ2S36","name":"Production"}]}