group-coaching-call-qc-(manual-submission)-vKeCMMgFC560DbVS.json
{"createdAt":"2025-08-04T21:13:01.209Z","updatedAt":"2025-08-05T16:41:40.464Z","id":"vKeCMMgFC560DbVS","name":"Group Coaching Call QC (Manual Submission)","active":true,"isArchived":false,"nodes":[{"parameters":{"documentId":{"__rl":true,"value":"1mmVcdIyaz-jfaRseG97pFPeh1OVeT9T11p87k31oG5M","mode":"list","cachedResultName":"Slack User to Company Mapping","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1mmVcdIyaz-jfaRseG97pFPeh1OVeT9T11p87k31oG5M/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1mmVcdIyaz-jfaRseG97pFPeh1OVeT9T11p87k31oG5M/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[304,544],"id":"f63448f6-a9c5-4281-9429-5837c79b6e37","name":"Reads Slack Google Sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"fDxpMWdEItte31h1","name":"Google Sheets account 2"}}},{"parameters":{"promptType":"define","text":"=Return only a valid JSON object, strictly matching the schema. Do not include any markdown, explanations, or extra text.\n\nClient Name: \nClient Business: {{ $('Code1').item.json['Company as in Notion'] }}\n\nAnalyze this content: \n{{ $json.transcript }}\n","hasOutputParser":true,"options":{"systemMessage":"=#Role and Objective#\nYou are a structured call analysis agent. Your job is to extract actionable insights, performance ratings, and psychological assessments from coaching call transcripts. Each output must conform strictly to a defined JSON schema. Your judgments must be supported by explicit evidence from the call.\n\n#Instructions#\nThe transcript will include conversations about multiple client businesses.\nYour job is to identify the target company being evaluated. The target company will be passed into your context via the CompanyName field of the user message.\nONLY extract data related to that specific company. Ignore mentions, analysis, or discussion of other businesses or clients entirely.\nAnalyze the relevant sections of the transcript thoroughly.\nFollow the field definitions below precisely.\nUse concrete call content for all inferences—no speculation.\nReturn output as a valid JSON object, matching the schema exactly.\nAssume the current year is 2025 unless otherwise specified.\n\nField Definitions\n#CompanyName#\n The name of the company being analyzed. Use the value passed in from the user message (e.g., \"CompanyName\": \"Acme Corp\").\n#Host#\n The name of the advisor. This can be found immediatly after \"Fathom User Email\"\n#Summary#\n1 short and concise sentence fragments summarizing the key discussion points for the specified company. Focus on goals, blockers, and alignment. Do not use full sentences. The summary cannot be more than 12 words. \n#DiscussionPoints#\n Structured bullet list of concrete follow-up actions mentioned specifically for the target company. Each should include:\nAction item\nWho is responsible\nDeadline or timeframe (if mentioned)\n Use imperative tone: \"Send proposal\", \"Review metrics\", etc.\n#DateOfCall#\n In \"Month Day, YYYY\" format. The raw date will appear in ISO 8601 format and should be translated accordingly.\nConsultingHealth\n Client implementation status for the target company:\n\"Green\": On track, making progress\n\"Yellow\": Partial or slowing\n\"Red\": No action, resistance, or off-track\n#Sentiment#\n Mindset and buy-in level of the target client:\n\"Positive\"\n\"Uncertain\"\n\"Unrealistic Expectations\"\n\"Negative\"\n#LinkToCallRecording#\n Pull from the labeled “URLs” section in the document. Only include a link that starts with https://fathom.video. Do not fabricate.\n#Archetype#\n Behavioral persona of the primary speaker for the target company:\n\"Doer\"\n\"Driver\"\n\"Worrier\"\n\"Follower\"\n#RedFlags#\n 3 bullet points of major blockers for the target company with:\nTimestamps\nDescriptions\nNegative emotions (e.g., \"overwhelm\", \"frustration\")\n#GreenLights#\n 3 bullet points of positive signals for the target company with:\nTimestamps\nDescriptions\nPositive emotions (e.g., \"confidence\", \"relief\")\n#RapportScore, AgendaScore, EnergyScore, SummaryActionScore#\n\nFor each category, score as either 1, 3, 5, or 7 using the definitions below.  \nUse explicit evidence from the call to support your scoring — never assume.  \nChoose the score that best fits the majority of the observed behavior.\n\n## RapportScore\n- 1 = No rapport, conversation felt tense or cold, little mutual curiosity or personal sharing.\n- 3 = Below average rapport; coach showed minimal warmth or curiosity, somewhat transactional.\n- 5 = Good connection, moderate warmth and curiosity, shared small personal or business insights.\n- 7 = Excellent rapport, warm, engaged, coach and client laughed or explored personal angles.\n\n## AgendaScore\n- 1 = No agenda set, conversation was unfocused and jumped around.\n- 3 = Coach hinted at general outline but didn’t clearly define steps or priorities.\n- 5 = Clear solid agenda, listed primary topics, revisited goals midway.\n- 7 = Very strong agenda setting — listed all points, got explicit client alignment, and recapped at end.\n\n## EnergyScore\n- 1 = Flat energy, little emotion, call dragged, minimal vocal or emotional engagement.\n- 3 = Below average energy, slightly monotone or hesitant, only brief moments of engagement.\n- 5 = Average healthy energy, steady momentum, moderate enthusiasm and interest.\n- 7 = Very high energy, coach and client sounded excited, enthusiastic, kept momentum high.\n\n## SummaryActionScore\n- 1 = No clear summary or next steps, ended abruptly or with confusion.\n- 3 = Brief or vague mention of next steps, no ownership or dates confirmed.\n- 5 = Reasonably clear summary and next steps, some responsibilities discussed.\n- 7 = Excellent summary — explicit wrap-up, responsibilities, deadlines, and strong close.\n\nBe rigorous. If in doubt, choose the lower score.\n\nRenewalConvoAnalysis\n If a contract renewal was discussed for the target company, provide two short paragraphs:\nWhat went well\nWhat could be improved\nActionItems\n Primary action items from the discussion about the target company only. Format as a bullet list.\nFathomSummary\n Formatted block summary for the target company:\nTitle: “Call Name - Date”\nMeeting Purpose: Short sentence\nKey Takeaways: Bullet list\nTopics: Bullet list\nNext Steps: Bullet list\nAction Items: Bullet list\nReasoning Steps\nIdentify the structure of the call (intro, body, wrap-up).\nScan for mentions of multiple clients.\nFilter and extract ONLY insights related to the company named in the CompanyName field.\nPopulate the fields above using evidence-based, structured reasoning.\nOutput Format\nReturn a JSON object with values only for the specified company. If no information is available for a field, use null. Do not output extra text.\nContext\nThis prompt powers an AI coaching assistant that needs to extract only the relevant client intelligence from complex multi-client transcripts.\nFinal instructions and prompt to think step by step\nFirst, think carefully:\nFind and isolate content related to the correct company.\nMatch insights to the required fields.\nReturn a single clean JSON object strictly matching the schema, without extra commentary or markdown.\n\n\nReturn only a valid JSON object, strictly matching the schema. Do not include any markdown, explanations, or extra text.\n\n\n","passthroughBinaryImages":false}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1152,512],"id":"fcdb16d0-57b8-4305-8722-d23ca006977a","name":"AI Agent3","executeOnce":false,"retryOnFail":false,"onError":"continueRegularOutput"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1152,656],"id":"3f923c05-fe03-4a4f-b891-fdde75591e11","name":"OpenAI Chat Model4","credentials":{"openAiApi":{"id":"5Ods8kFLAhbAPcNj","name":"OpenAi account 2"}}},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"title\": \"Coaching Call Analysis Output\",\n  \"description\": \"Schema for structured call analysis agent output from coaching call transcripts\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"company_name\": {\n      \"type\": \"string\",\n      \"description\": \"The name of the company\"\n    },\n    \"host\": {\n      \"type\": \"string\",\n      \"description\": \"Name of the coach or advisor who hosted the call\"\n    },\n    \"summary\": {\n      \"type\": \"string\",\n      \"description\": \"Concise title and 1 short sentences summarizing key discussion points, primary goals, obstacles, and client-coach alignment. The summary cannot be more than 12 words.\"\n    },\n    \"discussion_points\": {\n      \"type\": \"string\",\n      \"description\": \"Structured bullet list of concrete follow-up actions with responsible party and deadlines\"\n    },\n    \"date_of_call\": {\n      \"type\": \"string\",\n      \"pattern\": \"^[A-Za-z]+ \\\\d{1,2}, \\\\d{4}$\",\n      \"description\": \"Date of the call in 'Month Day, YYYY' format (e.g., 'January 15, 2025')\"\n    },\n    \"consulting_health\": {\n      \"type\": \"string\",\n      \"enum\": [\"Green\", \"Yellow\", \"Red\"],\n      \"description\": \"Client implementation status: Green (strong progress), Yellow (partial/stagnation), Red (no implementation/falling behind)\"\n    },\n    \"sentiment\": {\n      \"type\": \"string\",\n      \"enum\": [\"Positive\", \"Uncertain\", \"Unrealistic expectations\", \"Negative\"],\n      \"description\": \"Client buy-in and engagement classification\"\n    },\n    \"link_to_call_recording\": {\n      \"type\": \"string\",\n      \"format\": \"uri\",\n      \"pattern\": \"^https://fathom\\\\.video\",\n      \"description\": \"Direct URL to the call recording from the document (must start with https://fathom.video)\"\n    },\n    \"archetype\": {\n      \"type\": \"string\",\n      \"enum\": [\"Doer\", \"Driver\", \"Worrier\", \"Follower\"],\n      \"description\": \"Client classification: Doer (high self-confidence, low tool confidence), Driver (high both, distrusts advisor), Worrier (low both, overthinks), Follower (low self, high tool confidence)\"\n    },\n    \"red_flags\": {\n      \"type\": \"string\",\n      \"description\": \"Three bullet points of major client blockers with timestamps and negative emotions\"\n    },\n    \"green_lights\": {\n      \"type\": \"string\",\n      \"description\": \"Three bullet points of positive signals with timestamps and positive emotions\"\n    },\n    \"rapport_score\": {\n      \"type\": \"integer\",\n      \"enum\": [1, 3, 5, 7],\n      \"description\": \"Score for how well coach built rapport (warmth, curiosity, mirroring, pacing)\"\n    },\n    \"agenda_score\": {\n      \"type\": \"integer\",\n      \"enum\": [1, 3, 5, 7],\n      \"description\": \"Score for agenda clarity and maintenance during the call\"\n    },\n    \"energy_score\": {\n      \"type\": \"integer\",\n      \"enum\": [1, 3, 5, 7],\n      \"description\": \"Score for coach engagement, presence, and momentum maintenance\"\n    },\n    \"summary_action_score\": {\n      \"type\": \"integer\",\n      \"enum\": [1, 3, 5, 7],\n      \"description\": \"Score for how well next steps were summarized and clarified\"\n    },\n    \"renewal_convo_analysis\": {\n      \"type\": [\"string\", \"null\"],\n      \"description\": \"Two-paragraph analysis of contract renewal conversation (what worked well and what could improve), or null if not applicable\"\n    },\n    \"action_items\": {\n      \"type\": \"string\",\n      \"description\": \"Bullet list of primary action items from the call\"\n    },\n    \"fathom_summary\": {\n      \"type\": \"string\",\n      \"description\": \"Structured Fathom-style summary with Title, Meeting Purpose, Key Takeaways, Topics, Next Steps, and Action Items\"\n    }\n  },\n  \"required\": [\n    \"company_name\",\n    \"host\",\n    \"summary\",\n    \"discussion_points\",\n    \"date_of_call\",\n    \"consulting_health\",\n    \"sentiment\",\n    \"link_to_call_recording\",\n    \"archetype\",\n    \"red_flags\",\n    \"green_lights\",\n    \"rapport_score\",\n    \"agenda_score\",\n    \"energy_score\",\n    \"summary_action_score\",\n    \"action_items\",\n    \"fathom_summary\"\n  ],\n  \"additionalProperties\": false\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1344,656],"id":"3f9cd2cc-4e2f-4eee-a2fe-9bcbd765e8e9","name":"Structured Output Parser2"},{"parameters":{"content":"## Filtering out Sales People\nAdd sales people's emails to the \"Switch\" node"},"type":"n8n-nodes-base.stickyNote","position":[-1712,1376],"typeVersion":1,"id":"13ee77c6-604f-499c-a552-36905e64e22a","name":"Sticky Note1"},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"19640ee4-a8af-802e-bc8f-cbb117d92c53","mode":"list","cachedResultName":"Client Status Updates","cachedResultUrl":"https://www.notion.so/19640ee4a8af802ebc8fcbb117d92c53"},"title":"{{ $('AI Agent3').item.json.output.summary }}","propertiesUi":{"propertyValues":[{"key":"Summary|title","title":"=GROUP - {{ $('AI Agent3').item.json.output.summary }}"},{"key":"Date|date","includeTime":false,"date":"={{ $json.output.date_of_call }}","timezone":"Australia/Currie"},{"key":"Client Health|select","selectValue":"={{ $('AI Agent3').item.json.output.consulting_health }}"},{"key":"Sentiment|select","selectValue":"={{ $('AI Agent3').item.json.output.sentiment }}"},{"key":"Link to Call Recording|url","urlValue":"={{ $('AI Agent3').item.json.output.link_to_call_recording }}"},{"key":"Archetype|select","selectValue":"={{ $('AI Agent3').item.json.output.archetype }}"},{"key":"Red Flags|rich_text","textContent":"={{ $('AI Agent3').item.json.output.red_flags }}"},{"key":"Green Lights|rich_text","textContent":"={{ $('AI Agent3').item.json.output.green_lights }}"},{"key":"Rapport Score|number","numberValue":"={{ $json.output.rapport_score }}"},{"key":"Summary & Action Score|number","numberValue":"={{ $json.output.summary_action_score }}"},{"key":"Energy Score|number","numberValue":"={{ $json.output.energy_score }}"},{"key":"Client|relation","relationValue":["={{ $('Code1').item.json['Notion ID'] }}"]},{"key":"Client Name|rich_text","textContent":"=Group Call"},{"key":"Agenda Score|number","numberValue":"={{ $json.output.agenda_score }}"},{"key":"Action Items|rich_text","textContent":"={{ $('AI Agent3').item.json.output.action_items }}"},{"key":"Host|rich_text","textContent":"={{ $json.output.host }}"}]},"blockUi":{"blockValues":[{"richText":true,"text":{"text":[{"text":"=Group Call","annotationUi":{}}]}},{"richText":true,"text":{"text":[{"text":"={{ $('AI Agent3').item.json.output.fathom_summary }}","annotationUi":{}}]}}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[2032,560],"id":"7af065ba-0da2-442a-a753-fdc0fd20204d","name":"Create a database page","credentials":{"notionApi":{"id":"l2nKJRGnfu2CHdp9","name":"Notion account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[784,560],"id":"8a8824a8-0bc6-4f01-9eb8-852051be2db5","name":"Loop Over Items"},{"parameters":{"jsCode":"// --- Levenshtein distance for typo matching ---\nfunction levenshtein(a, b) {\n  if (a.length === 0) return b.length;\n  if (b.length === 0) return a.length;\n  const matrix = [];\n  for (let i = 0; i <= b.length; i++) matrix[i] = [i];\n  for (let j = 0; j <= a.length; j++) matrix[0][j] = j;\n  for (let i = 1; i <= b.length; i++) {\n    for (let j = 1; j <= a.length; j++) {\n      if (b.charAt(i - 1) === a.charAt(j - 1)) {\n        matrix[i][j] = matrix[i - 1][j - 1];\n      } else {\n        matrix[i][j] = Math.min(\n          matrix[i - 1][j - 1] + 1,\n          matrix[i][j - 1] + 1,\n          matrix[i - 1][j] + 1\n        );\n      }\n    }\n  }\n  return matrix[b.length][a.length];\n}\n\n// --- Company name cleaner ---\nfunction cleanCompany(str = '') {\n  return String(str)\n    .toLowerCase()\n    .replace(/^www\\./, '')\n    .replace(/\\.com$/, '')\n    .replace(/[,.;'\"&]/g, '')\n    .replace(/\\b(llc|inc|ltd|corp|co|company|products?|plc|the)\\b/g, '')\n    .replace(/\\s+/g, '')\n    .trim();\n}\n\n// 1. Get attended companies from form submission (keep originals for output)\nconst form = $('On form submission1').first().json;\nconst rawCompanyList = form['Companies Attended (Comma separated) '];\nconst inputCompanies = (rawCompanyList || '')\n  .split(',')\n  .map(c => c.trim())\n  .filter(Boolean);\n\n// 2. Grab extra fields for downstream\nconst transcript = form['Transcript - Full Transcript'];\nconst callLink   = form['Fathom Call Link'];\nconst callDate   = form['Date Of Call'];\nconst host       = form['Host'];\n\n// 3. Build a list of cleaned sheet companies (for matching)\nconst items = $input.all();\nconst sheetRows = items.map(row => ({\n  row,\n  sheetComp: cleanCompany(row.json[\"Company as in Notion\"] || '')\n}));\n\n// 4. For each input company, find the *best* (closest) sheet row\nconst output = [];\nconst usedSheetIndexes = new Set();\n\ninputCompanies.forEach((inputCompany, idx) => {\n  const cleanedInput = cleanCompany(inputCompany);\n\n  // Find best match (by Levenshtein distance, then partial contains, then exact)\n  let bestScore = Infinity;\n  let bestIdx = -1;\n\n  for (let i = 0; i < sheetRows.length; i++) {\n    if (usedSheetIndexes.has(i)) continue; // Don't use the same sheet row twice\n    const sheetComp = sheetRows[i].sheetComp;\n\n    // Prefer exact\n    if (sheetComp === cleanedInput) {\n      bestScore = 0;\n      bestIdx = i;\n      break;\n    }\n\n    // Partial match\n    if (sheetComp.includes(cleanedInput) || cleanedInput.includes(sheetComp)) {\n      if (1 < bestScore) { // Use 1 to prioritize partial match over typo, but under exact\n        bestScore = 1;\n        bestIdx = i;\n      }\n    }\n\n    // Fuzzy (typo)\n    const lev = levenshtein(cleanedInput, sheetComp);\n    if (lev < bestScore && lev <= 2) { // typo threshold\n      bestScore = lev;\n      bestIdx = i;\n    }\n  }\n\n  if (bestIdx > -1) {\n    usedSheetIndexes.add(bestIdx);\n    output.push({\n      json: {\n        ...sheetRows[bestIdx].row.json,\n        matchedInputCompany: inputCompany, // What user gave\n        transcript,\n        callLink,\n        callDate,\n        host,\n      }\n    });\n  }\n  // else: No match found, skip (or you could push a \"not found\" object if you want)\n});\n\n// 5. Output as many items as input companies, max 1 per input\nreturn output;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[496,544],"id":"62a48d83-6c37-4425-ae8e-cd1abee32acd","name":"Code1","alwaysOutputData":false},{"parameters":{"content":"## I'm a note \nThe sales calls are still goging through and also being deleted."},"type":"n8n-nodes-base.stickyNote","position":[-208,1712],"typeVersion":1,"id":"ca2732ce-ac9f-4967-871c-418e3727625a","name":"Sticky Note2"},{"parameters":{"content":"## Nate to do: \nUpdate this prompt to better pull out the company data. Don't include a company name example. it's still not doing a great job at pulling out the different company names. The name of. the name of. the company and the name of the client will be "},"type":"n8n-nodes-base.stickyNote","position":[-1472,1312],"typeVersion":1,"id":"27ece96d-518b-4aa7-9e82-b70f7625d698","name":"Sticky Note3"},{"parameters":{"content":"/* global items $items */\n\n// ---------- 1) Get names and companies from the AI Agent ----------\nconst aiOutput = $items(\"AI Agent2\")[0].json.output;\n\nconst extractedNames = (aiOutput.extracted_participants || [])\n  .map(p => (p.name || '').toLowerCase().trim());\n\nconst extractedCompanies = (aiOutput.extracted_companies || [])\n  .map(c => c.toLowerCase().trim());\n\n// Sets for quick look-ups\nconst nameSet    = new Set(extractedNames);\nconst companySet = new Set(extractedCompanies);\n\n// ---------- 2) Match sheet rows ----------\nconst matches = items.filter(row => {\n  const sheetName    = (row.json.Name || '').toLowerCase().trim();\n  const sheetCompany = (row.json[\"Company as in Notion\"] || '').toLowerCase().trim();\n  return nameSet.has(sheetName) || companySet.has(sheetCompany);\n});\n\n// ---------- 3) Dedupe so only one row per company ----------\nconst uniqueByCompany = [];\nconst seenCompanies   = new Set();\n\nfor (const row of matches) {\n  const key = (row.json[\"Company as in Notion\"] || '').toLowerCase().trim();\n  if (!seenCompanies.has(key)) {\n    seenCompanies.add(key);\n    uniqueByCompany.push(row);   // keep the first row for that company\n  }\n}\n\n// ---------- 4) Debug (optional) ----------\nconsole.log({\n  extractedNames,\n  extractedCompanies,\n  totalRows: items.length,\n  matchedRows: matches.length,\n  uniqueCompanies: uniqueByCompany.length\n});\n\n// ---------- 5) Emit one item per company ----------\nreturn uniqueByCompany;"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-816,1424],"id":"0f1a78e1-2526-4001-9526-68e4188d441e","name":"Sticky Note7"},{"parameters":{"formTitle":"Manual Group Call Trigger","formFields":{"values":[{"fieldLabel":"Transcript - Full Transcript","fieldType":"textarea"},{"fieldLabel":"Fathom Call Link"},{"fieldLabel":"Date Of Call","fieldType":"date"},{"fieldLabel":"Host"},{"fieldLabel":"Companies Attended (Comma separated) "}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[16,544],"id":"66e43f67-37e7-49b2-b5f6-68736a5ad473","name":"On form submission1","webhookId":"2187c16b-2b3b-483d-a201-31149a17373c"}],"connections":{"Reads Slack Google Sheet1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"AI Agent3":{"main":[[{"node":"Create a database page","type":"main","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"AI Agent3","type":"ai_languageModel","index":0}]]},"Structured Output Parser2":{"ai_outputParser":[[{"node":"AI Agent3","type":"ai_outputParser","index":0}]]},"Create a database page":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"AI Agent3","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"On form submission1":{"main":[[{"node":"Reads Slack Google Sheet1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Google Drive Trigger":{"lastTimeChecked":"2025-08-04T21:04:16Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"On form submission1":[{"json":{"Transcript - Full Transcript":"Impromptu Zoom Meeting - August 05\r\nVIEW RECORDING - 67 mins (No highlights): https://fathom.video/share/vbXqdErDXZ8U8FwJSqSUfsZFDMUxW7Ga\r\n\r\n---\r\n\r\n0:00 - Nate Thoreson (Allan Dib)\r\n  Awesome. Happy Tuesday, everybody. I hope you are all having a great week so far and killing it, as always.  Sweet. We've got a good amount of faces in here. Hey, Sean. Hey, Emma. Hey, Joshua. Hey, Melissa. meeting is being recorded.  Real quick, before I get into it, I just want to do a quick reminder, if possible, we are, Lean Marketing is expanding, so we're always, you know, bringing on new people and things like that.  And as part of that, we want to know what company y'all are a part of. So if you could do me a favor real quick and just kind of follow along to my screen really fast.  And if you've heard this multiple times, I apologize for being a broken record here, but I'm going share my screen real quick.  And what we're going to do, specifically, Emma and Joshua, if you guys can follow along with this, we're going to change your display names within your long screen, within your Zoom account.\r\n  SCREEN SHARING: Nate started screen sharing - WATCH: https://fathom.video/share/vbXqdErDXZ8U8FwJSqSUfsZFDMUxW7Ga?timestamp=51.891926  So it's Okay follow along with me go to zoom.com if you can and once you're in to zoom.com just open up your profile right here you're going to click profile right here and then down here you'll see your name along with your company and everything like that just click edit and then add in your display name here so if you can do first name or last name then if you want to do like a dash dash or a pipe like Sean has or whatever uh then add in the company name again this is just going to make our life a little bit easier it'll help us better help you um i know what company you guys are all a part of but our team is expanding like i said so this will go a long way so once you've added in first name last name company name just click save and then that will stay forever so it probably won't update on this this  Session right here, but that's okay. It should save for the future. Okay. Well, with that, I know that we've got a pretty full agenda.  So I'll skip through the pleasantries and everything. As always, we have a ton of clinics upcoming. You can find the full list on the Hub and Circle.  If you need that link, just let me know. Otherwise, you'll see them all there. There's a lot upcoming. So definitely feel free to take advantage of if you ever need a direction of where to go.  Just let me know. Okay. With that, let's start off with Sean here. Sean, know that we've had, so we've gone back and forth in Slack a little bit on reviewing some of the things specifically around your sales strategy.  So welcome in. First off, it's good to see you.\r\n\r\n2:50 - Sean Heberling, CFA | Marion Street Capital\r\n  How you been? Okay. We're going through an existential moment here at the company. I mean. And everyone's frustrated, and to make progress, and I'm not talking like incremental progress, I sat the team down Monday and I said I'm not doing the grinded out incremental progress thing, we're either going to figure out how to make like 10x type of progress, well we are, we're going to have to figure out how to make 10x type of progress, and that probably means blowing up the way we're doing things, so that's fine, but what I'm asking from the team is an attitude that is accepting of that journey.  And so, you know, look, there are some things that are working, and we'll triple down on those, and there are some things that are not, and we either got to figure out how to fix those, or we need to stop doing them entirely.  So, one of the areas... That we talked about this morning that we really feel like we need to figure out a solution is exactly what I reached out to you about a couple of weeks ago, because the numbers, you know, are just too compelling to ignore.  So we've got literally 1500 potentially qualified prospects with which we should be engaging each year. If we convert only one or 2% of those, we're golden.  We're golden. So in essence, the most important problem we need to solve for ourselves is how do we get one or 2% of those prospects to engage with us?  That's it. Just engage with us. Forget about conversion and sales, all that sort of nonsense. How do we get them to engage with us?\r\n\r\n4:52 - Nate Thoreson (Allan Dib)\r\n  Yeah. Yeah. That's a great question. Okay. Cool. So I have gone through all of Nate different documents and I've added in a couple of notes here on on your notion board that I would really like to run through, but before I do any of that I just have a kind of a high level feedback here and just kind of a general, kind of a general thought.\r\n\r\n5:18 - Sean Heberling, CFA | Marion Street Capital\r\n  You're not going to offend me. mean, you can say like don't sugarcoat it because I'm in a place where I don't have patience for sugarcoating anymore.\r\n\r\n5:28 - Nate Thoreson (Allan Dib)\r\n  Yeah, no, I hear you. Nate You're, I absolutely agree with you that your team needs to either get with the program or get out if your team is not engaging with things.  As a great example of that, I have never once seen a member of your team join any of these clinics or anything.\r\n\r\n5:49 - Sean Heberling, CFA | Marion Street Capital\r\n  Nate Sure, I know, I know Nicole has. Nate Okay, okay. Thoreson // Admin slash marketing and I know Kevin has attended too.\r\n\r\n5:59 - Nate Thoreson (Allan Dib)\r\n  Thoreson Thoreson // // // Nate Nate // Okay. Okay. Okay. Okay. Maybe those were clinics that I haven't gone to.\r\n\r\n6:04 - Sean Heberling, CFA | Marion Street Capital\r\n  Yeah, yeah. You probably haven't been on those, right?\r\n\r\n6:06 - Nate Thoreson (Allan Dib)\r\n  Sure. Or I could have forgotten. But either way, I think that something definitely, absolutely needs to change. And the hustle culture kind of needs to be there.  And things will absolutely need to blow up. So that's my one piece of feedback is the team needs, it sounds like the team needs to change.\r\n  SCREEN SHARING: Nate started screen sharing - WATCH: https://fathom.video/share/vbXqdErDXZ8U8FwJSqSUfsZFDMUxW7Ga?timestamp=392.682291  The first thing that I'll give to you is on your board here. I've added a webinar from Anna. I don't know if I've shared this with you in the past, but it's a webinar on building a world-class...\r\n\r\n6:38 - Sean Heberling, CFA | Marion Street Capital\r\n  Yeah, yeah.\r\n\r\n6:38 - Nate Thoreson (Allan Dib)\r\n  I attended that.\r\n\r\n6:39 - Sean Heberling, CFA | Marion Street Capital\r\n  Okay. Oh, you did? Yeah.\r\n\r\n6:41 - Nate Thoreson (Allan Dib)\r\n  Yes. If you want to watch it back and kind of re-watch it, by all means, go ahead. I think something that could help rally the troops a little bit is kind of a company manifesto.  Yep. everybody knows what we believe in and things like that. Because you're right, you're not going to be successful.  Scott Galloway puts it, and in order for us to reach that success, need to have the right people around us.  that's the first thing. The second thing is in looking at all of your kind of content, your welcome sequence, and thinking about, you know, your cold outreach and everything, in the simplest possible terms, what is the number one problem that your companies are facing, or that your clients are facing, and how do you solve them?\r\n\r\n7:36 - Sean Heberling, CFA | Marion Street Capital\r\n  Scott Yeah, that's easy. Number one problem they're facing is just shortage of resources, especially cash. Scott Okay. And so how do we solve that?  We literally put money in the bank for these companies in two different ways. Either we get it from investors, or we get it from customers.\r\n\r\n7:54 - Nate Thoreson (Allan Dib)\r\n  Scott Okay. Gotcha. Okay. So in simplest terms, Galloway,.D.: You are... Are helping people raise money, or become more profitable?\r\n\r\n8:07 - Sean Heberling, CFA | Marion Street Capital\r\n  Yeah, actually, yes. Although I would simplify the profitable even further and say, we're helping them figure out how to accelerate their own sales, which is ironic because we're not doing a good job of that with ourselves.\r\n\r\n8:23 - Nate Thoreson (Allan Dib)\r\n  Yeah, I hear you. The second thing that I'll ask is how well can you kind of quantify those things?\r\n\r\n8:31 - Sean Heberling, CFA | Marion Street Capital\r\n  Very well. mean, the investment capital is super easy. We will source them enough money to last them 24 months, and we'll source it for them within six months.  And it will cost them roughly $50,000, $60,000 in cash to have us do that, plus some incentives.\r\n\r\n8:54 - Nate Thoreson (Allan Dib)\r\n  Sure. Okay. That sounds good. And then also remind me of...\r\n\r\n9:00 - Sean Heberling, CFA | Marion Street Capital\r\n  Just remind me here, you had a guarantee that I feel like we talked about. Yeah, we've got two types of guarantees.  So on the investment capital side, we guarantee if they spend, our typical price point is like $7,500 to $8,500 per month, they spend that with us for six months, we guarantee we will source them 24 months of liquidity, or we're going to keep working until we have sourced that at no additional cash cost to them.  Okay. That's on the investment capital side. On the revenue side, the typical engagement is $5,000 a month for 12 months, and we're guaranteeing them 4X what they've spent with us.  So four times $60,000 is $240,000. We're guaranteeing them an incremental $240,000 in revenue.\r\n\r\n9:50 - Nate Thoreson (Allan Dib)\r\n  Okay. Okay, that makes sense. So one easy piece that we can do that is that guarantee is so powerful.  I think it needs to be used. Nate Yeah, on your website, in your welcome sequence, everything. I think that talking about that guarantee also simplifies down what exactly you are going to do and how you're going to help people.  Nate for example, the problem, inconsistent flat, cash flow mis-targeted, data overloads, no clear insights, rejection from prospective investors. Nate // Sure, these are all problems, but at the end of the day, what is the problem?  You can't raise money from VCs, and your sales process sucks, so you can't raise revenue.\r\n\r\n10:38 - Sean Heberling, CFA | Marion Street Capital\r\n  Yeah, exactly. The VCs aren't giving you money because your sales aren't growing fast enough, and that's it, you're stuck.\r\n\r\n10:45 - Nate Thoreson (Allan Dib)\r\n  Right. So, I think that one of the biggest changes here that we're going to have to do is really look at your message.  Yeah, strip it down. Nate Yeah, strip it down. Nate // the simplest possible terms, and I mean... Nate You know Y Combinator.  You've watched Y Combinator stuff. They always say, is it understandable to a five-year-old? Is the problem so obvious that it feels like I'm getting hit in the face with a Mack truck?\r\n\r\n11:17 - Sean Heberling, CFA | Marion Street Capital\r\n  Yeah, let's face it. People are on their phones. No one's scrolling through the whole website. They either get it or they don't.  And meanwhile, their phone is blowing them up with Instagram messages and texts and emails and teams.\r\n\r\n11:34 - Nate Thoreson (Allan Dib)\r\n  So, yeah. Right. But I mean, yeah, you're right that the majority of people are not going be scrolling through the website, like through the whole thing.  But at the end of the day, we should still make copy. Like right now, this is not doing them any favors.  Right. We should make it more obvious to them, not only on the website. I mean, this is kind of a symptom of a bigger problem, the website, but it's also the case.  Based on like your welcome sequence as an example, and if I'm saying in two places, I'm assuming it's going to be pretty much everywhere.  Okay, so those are like two really broad pieces of feedback is at the end of the day, we need to make the problem really, really, really clear.  And need to make your guarantee, I think, kind of a more central part of it, because it's so good, and it also kind of shows the problem a little bit more in depth as well.  Nate, can I chime in?\r\n\r\n12:40 - Joshua Brooks\r\n  Yeah, please. Hey, Sean, this is Joshua Brooks, 10 years, Certified Financial Planner, 20 years in the Army, Army Reserve Chaplain.  So, I love your style, man, I love your urgency of getting the ship to go on the waters in the right direction.  One thing that I'm motivated... So by for the discussion with you and Nate is that you identified this guarantee and that could create emotional momentum in your organization and that will do that in two places that will do that with your workers because they have something that they can focus on to get more business and that's going to create positive energy and the customers if you're giving that rock solid guarantee that you can do 4x or 240x or 2 million x or whatever you're going to do, that's going to be solid, man.  And so I'm encouraging you that you have not just a problem or difficulty, but you have an opportunity today.  Even when the things are hard, this is what resilience is all about.\r\n\r\n13:46 - Sean Heberling, CFA | Marion Street Capital\r\n  Oh, I'm with you, man. I'm totally with you. We've worked with a number of folks with military backgrounds. Their work ethic is awesome.\r\n\r\n13:58 - Joshua Brooks\r\n  They inspire me. Thank Yes, sir.\r\n\r\n14:01 - Sean Heberling, CFA | Marion Street Capital\r\n  I support you, man.\r\n\r\n14:03 - Nate Thoreson (Allan Dib)\r\n  Thanks. Absolutely. You know, just as a quick little anecdote, the community part of this, oh, just we're doing some more stuff like within Lean Marketing to get the community even more involved and like Joshua having more people like you chiming on stuff.  So without saying too much, some things are going to be changing here in the next couple of months that I'm really excited about.  Kudos, Dave. Kudos. Yeah, I think it'll be fun. Okay, so a couple of things. Number one is the problem section needs to change to make it really obvious that there are two problems that you are solving on the website.  Number two is the guarantee needs to be more obvious. And those two guarantees are, are what again?\r\n\r\n14:58 - Sean Heberling, CFA | Marion Street Capital\r\n  Tell me again. All right. So on the. The investment capital side, we are going to source you 24 months of capital inside of six months, or we're going to essentially be working for free until we do source that amount of capital for you.\r\n\r\n15:16 - Nate Thoreson (Allan Dib)\r\n  Okay, awesome.\r\n\r\n15:18 - Sean Heberling, CFA | Marion Street Capital\r\n  What's the second one? The second one is on the sales side. We guarantee that we will source you four times the amount of money in incremental sales that you spend, with us over the next year.\r\n\r\n15:32 - Nate Thoreson (Allan Dib)\r\n  They're basically saying, we will guarantee you a 4x revenue, and if we don't do that, we'll keep working for free.  That's exactly right. Okay. Okay. That should be the crux of everything.\r\n\r\n15:53 - Sean Heberling, CFA | Marion Street Capital\r\n  I'm with you, man. That'll smack them in the face. Thank you. Thank Thank Thank Thank Thank\r\n\r\n16:03 - Nate Thoreson (Allan Dib)\r\n  As a bigger, broader piece, I think that the DevOps, RevOps, and what's the other one?\r\n\r\n16:11 - Sean Heberling, CFA | Marion Street Capital\r\n  So it's FinOps is the capital sourcing, the RevOps is the sales acceleration, and then Kevin on my team convinced me to include DataOps because we've gotten some big data intensive projects, but nobody buys that.\r\n\r\n16:26 - Nate Thoreson (Allan Dib)\r\n  Okay, gotcha. So are those three independent services, or are those just like the three things that you focus on?\r\n\r\n16:32 - Sean Heberling, CFA | Marion Street Capital\r\n  So really, it's the two independent services, the FinOps and the RevOps, but the DataOps kind of supports both of them, and I kind of let Kevin stick it up there, like, okay, you know, if we get any inbound inquiries specifically for DataOps, we can keep it, but we never do.\r\n\r\n16:50 - Nate Thoreson (Allan Dib)\r\n  Gotcha. Okay, sounds good. All right, well, I don't think that this is critical to be thinking about. But right now, I look at this as basically, like, how do we...  Like, here's the problem that we're gonna solve, here's the guarantee that we're gonna deliver, here's the how, really, which makes sense.  So I do think that it makes sense to make these kind of the most central part of the messaging here.\r\n\r\n17:20 - Sean Heberling, CFA | Marion Street Capital\r\n  Any questions on that?\r\n\r\n17:22 - Nate Thoreson (Allan Dib)\r\n  Okay, so this needs to be, like I said, not only on the website, this needs to be the center of everything.  The things on this sales process, I put, so I was looking at that document from the Customer Journey SOP, that you shared in Slack, and I kind of pasted the questions in there that you had, and I put them in here.  So I've highlighted the areas that you had specific questions on, that I gave feedback towards. All right, so just kind of going through these.  Number one is you ask, If they are qualified and they don't engage to the point where they want a proposal, what should we do?  This shouldn't be a problem because you should always have a proposal ready. And this kind of goes into the second piece of if a qualified prospect doesn't attend the proposal meeting, what should you do?  Take a book out of Lean Marketing's playbook here. We don't frame anything about Lean Marketing as come talk to a salesperson and see a proposal of what we can do for you.  That isn't helpful. Frame it as being as helpful as possible. So the very first meeting should be something like, it doesn't have to be exactly, but like a free audit.  Like, let's see, you said that your capital raising sucks right now. Yep. Let's look at what you've done. Right, exactly.  Yeah, let's look at it and we can point out. So why these things are bad.\r\n\r\n19:02 - Sean Heberling, CFA | Marion Street Capital\r\n  Yeah, that's perfect because literally, that's what we do in our discovery. That's my first question.\r\n\r\n19:09 - Nate Thoreson (Allan Dib)\r\n  Yeah.\r\n\r\n19:10 - Sean Heberling, CFA | Marion Street Capital\r\n  Tell me what you've tried to date to raise money.\r\n\r\n19:14 - Nate Thoreson (Allan Dib)\r\n  Right, exactly. And if I was a startup founder, if I was a startup founder, and as you know, I've done this before, and every opportunity I could get to talk to an expert for free, I took it.  And I was like, hell yeah, I have no idea what I'm doing. Let me go talk to this guy who knows infinitely more than me.  Even if I have no intention of like signing up or whatever, whatever, then you at least have a foot in the door.  Yeah. Talk to them. So that's another change that we can make to the website is let's change this button to get your free strategy audit or your free capital raise audit or whatever, something.  Okay. So that's number one. And then the second piece. Should it be, hey, let's have a meeting to go through a proposal.  Instead, it should be like, this 30-minute session on this free audit was really, really helpful, Sean. Let me go back to my team.  I kind of want to chew on this, and let's get something else on the books for four days from now.  We'll schedule a 45-minute meeting where we'll actually go through what a strategy would look like for you. Then you get them on the phone, and you say, hey, here's the problems that we identified.  Here's how we could solve them. And by the way, here's a proposal of how we would actually do it.\r\n\r\n20:35 - Sean Heberling, CFA | Marion Street Capital\r\n  Plus, we can guarantee you that you'll have a four times return on this investment.\r\n\r\n20:40 - Nate Thoreson (Allan Dib)\r\n  Would you like to sign here? Yeah, that's much more compelling. Yeah. Oh, you need to go talk to your wife or your spouse or your partner or whatever.  No problem. Let's get another call on the book in four days from now. That gives you plenty of time to talk about it, and I'll answer any of your questions.\r\n\r\n20:58 - Sean Heberling, CFA | Marion Street Capital\r\n  That's perfect.\r\n\r\n20:59 - Nate Thoreson (Allan Dib)\r\n  So all of these have... Themes to them of we're always having a follow up, we always have what the next step is going to be.  Plus, we're never framing it as, hey customer, let me sell you. Yeah, we're always...\r\n\r\n21:12 - Sean Heberling, CFA | Marion Street Capital\r\n  mean, literally, right, because all these guys, they know their resources are scarce, they know cash is low, and they're like, oh my god, this is going to cost me like a big chunk of the cash I have sitting in the bank.\r\n\r\n21:24 - Nate Thoreson (Allan Dib)\r\n  Right, exactly. But that I guarantee you a 4x return, that's like, oh, okay, well, if they don't give it to me, then I paid $30,000 or whatever it is, and I get to have this basically a fractional CFO on my team forever.  Okay, that's worth it.\r\n\r\n21:45 - Sean Heberling, CFA | Marion Street Capital\r\n  Yeah.\r\n\r\n21:46 - Nate Thoreson (Allan Dib)\r\n  Let me buy this Toyota Corolla, and I can drive it forever and never have to put gas in it, essentially.\r\n\r\n21:53 - Sean Heberling, CFA | Marion Street Capital\r\n  You know?\r\n\r\n21:54 - Nate Thoreson (Allan Dib)\r\n  Essentially, yeah. Yeah. Okay, and then your other questions here. I won't go through all these in such detail, but long story short is if they don't move forward, there should always just be a follow-up for multiple, like multiple follow-ups and you can kind of see, I have kind of a general outline here for sales, automations, and follow-ups, these things here.\r\n\r\n22:24 - Sean Heberling, CFA | Marion Street Capital\r\n  So I know that we went, we went really, really fast. No, it's good. Honestly, it's great, because it resonates with me, especially given the position in which I'm sitting today.\r\n\r\n22:40 - Nate Thoreson (Allan Dib)\r\n  Yeah, yeah, I agree. And I only, I'm coming across as like aggressive, because we want you guys to succeed, and I want you guys to do really well.  Schedule. Schedule. Nate April, Rays, Audit?\r\n\r\n23:07 - Sean Heberling, CFA | Marion Street Capital\r\n  Nate Yeah. Nate I don't know how he's going to refer. Nate Yeah, I'll figure out the semantics there. Nate Yeah.\r\n\r\n23:12 - Nate Thoreson (Allan Dib)\r\n  That's essentially what it is. Yeah. Nate Okay. Nate So, with that, we'll have to move on here. Nate I really encourage you, come to as many clinics as possible as you're coming through this – like, through this time, and absolutely deputize your team to do the same.\r\n\r\n23:36 - Sean Heberling, CFA | Marion Street Capital\r\n  Nate Thoreson – Yeah. Nate Nate don't think we've invited Andres to any. Nate Thoreson Frankly, of the two young execution guys, like, his attitude's in a much better place, so I think I'm going to encourage him to start attending some of these.\r\n\r\n23:51 - Nate Thoreson (Allan Dib)\r\n  Okay. Nate Sweet. Nate All right. Nate You've got this. If you need any additional support or whatever, keep me in the loop.  Nate Thoreson we'll plan on seeing you maybe tomorrow or next All right. Sounds awesome.\r\n\r\n24:03 - Sean Heberling, CFA | Marion Street Capital\r\n  All right. Thank you, Sean. Appreciate it. No, thank you, Nate.\r\n\r\n24:06 - Nate Thoreson (Allan Dib)\r\n  I appreciate it, man. My pleasure. I love this job. It's great. And I'm also especially excited because, you know, startups and everything, it's fun.\r\n\r\n24:14 - Sean Heberling, CFA | Marion Street Capital\r\n  So I love working.\r\n\r\n24:15 - Nate Thoreson (Allan Dib)\r\n  Cool. All right. With that, let's pop it over to Emma here. Thank you for sending through that submission. So we're looking at guidance on the website structure.  Yeah?\r\n\r\n24:29 - emmabruce\r\n  That's right. So we have our website hasn't been launched, but we're looking to launch beginning of October. So we already put together a website before we started working with you guys.  And my latest piece that I'm working on is updating the website in line with the guidance we've had from you and from the feedback that we've had from doing all the client experience interviews.  So the stage I'm at the moment is just thinking. Speaking about the new structure, so basically I've updated the various webpages, so the homepage, and then there's three landing pages for the three different offers, training, executive reviews, which is now called Leadership Sounding Boards, and the Be a Happy Lawyer Program.\r\n  SCREEN SHARING: Nate started screen sharing - WATCH: https://fathom.video/share/vbXqdErDXZ8U8FwJSqSUfsZFDMUxW7Ga?timestamp=1525.230686  So the copy that I've included in the new drafts that I've put in my dashboard is just draft. Graham's on holiday, so he hasn't reviewed it yet.  But I just wanted to put it in the structure, sort of as much in line with the templates that you provided as possible.  So I just thought it'd be useful to have you scan your eye over and make sure that makes sense.  And actually, your conversation there with Sean was quite useful, just really thinking about what matters. You don't want tons of text, you really want to pick out the most important bits.  Does it make sense, you know, for five year olds to read this? Like, I get that. But it's just, yeah, that initial stage.  So before I get a web developer to make the structural changes, I just wanted to sort of get your view on if what I've done kind of makes sense.  So for example, what we're looking at there, where you see what we do as the heading, and then under that transformation, call to action, they're not going to be in the web page.  That was just for me, just so I can see what I'm doing. The other text will be included. So yeah, it's just, is this too much text?  Does this look about right? Have I included way too many testimonials?\r\n\r\n26:30 - Nate Thoreson (Allan Dib)\r\n  Yeah, no, no. Great, great question. So yeah, let's, let's just kind of start at the, at the above the, above the fold here.  So, um, so this is the, we do, right? Yeah. Okay. So as for the above the fold, there's really kind of a general formula for, for how to do it.  The primary main headline, the what we do is, um, really exactly that. in as few words as possible, describing what do you do?  In your case, it might be, and this is like clarity, a substance over style for the headline, especially, where maybe in your case is something like, we train lawyers how to be happy, or we train lawyers on how to be better, or we make happy lawyers, I don't know, something like that, that makes something, that makes it very, very tangible, in just a couple of words, that really describes exactly what you do for your customers.  So maybe it's like, again, maybe it's like, training for lawyers and law firms, or something, something along those lines.  and it's really short, just a couple of words. So that's the main headline, the what do you do. The transformation is really looking at what is the pain point, what is the solution, and what does your life look like after working together.  So, let's see, we work with the organizations and run the Be a Happy Lower program for individuals. Our unique tools are powerful and memorable.  If you want to have fewer hassles and more thriving, we can make a real difference the moments that matter.  Great. I actually think that this is fairly solid. You do kind of explain how you help people and kind of what makes you different a little bit.  But I would go into a little bit more detail on what are the specific hassles or problems that people are running into.  So I'll leave you a little So I would go back to your client experience interviews and identify like what is the kind of central or unifying problem that you are solving for people and you're basically saying here's your current problem empathizing with them and then you're going to say here's how your life is going to be better.  So I'll just use an example of like let's say that all of your lawyers are really burnt out. That's the problem.  We will train them so you can have a more efficient workforce and raise profits. That's the transformation and kind of saying here's what your life will look like after this.  So that's that. And then on your calls to action, these are good. mean you're explaining what people do. Uh...  Obviously they are kind of long, so ideally here, so ideally here for the calls to action we want two things, we want one to say for people who are ready to buy right now, what do we want them to do, I would imagine that means like book a call, book a free audit, or uncover your problems, or talk to a specialist, or something like that, that you can just get a feel.  And I would say that this is applicable to both law firms and lawyers, you could have it in a single call to action.  It's just going to be like, get your free audit, talk to a professional, whatever. So that's the primary CTA.  The secondary CTA is what we want, is something that we want people to, who aren't quite ready to move forward quite yet.  Thank But they are potentially interested in getting something for free or something of value in exchange for their email.  So this is where lead capture comes in. So if the first one is like, hey, I'm going to raise my hand and I want to buy right now.  The second one is, you know, I'm not quite ready to buy right now, but I'm really interested in taking this quiz as an example to see if I have the problems that these people are talking about.  And then you can start to get lead capture. Then you get them into your email system and you can start marketing to them.  So those are going to be kind of the main CTAs. So for the calls to action here, I would make one primary call to action, say, book a call.  The secondary one could be, it could be learn about, be a happy lawyer program, but whatever's going to get them to opt in ultimately.  So that's for the above the fold section. Testimonials. I do. I not think that it is possible to have too much social proof.  So I think you are all good here. You have the offer here, which is great. And you're basically saying like, these are the three offers essentially.  Yeah, that's great. No changes there. Social proof, that's great. Unique mechanism.\r\n\r\n32:31 - emmabruce\r\n  So that's a video that people can watch about one of the tools. Oh, great. Okay, cool. And we were thinking, should we make that a lead magnet by sort of people click into it and then they have to enter their name and email before they can watch it?\r\n\r\n32:44 - Nate Thoreson (Allan Dib)\r\n  Would that be something that would work?\r\n\r\n32:48 - emmabruce\r\n  Or should it be open access?\r\n\r\n32:50 - Nate Thoreson (Allan Dib)\r\n  I would probably leave it open to access, especially if it's just like available on site. A good kind of rule of thumb is like, if it's, uses this.  If it's something that it would be more convenient to email to somebody, like results for a quiz, or a PDF as an example, those make for really, really good lead magnets.  Or if it's just a video, I'm not sold on that thing. So I would look at doing, I think a quiz would be a really good lead magnet for you.\r\n\r\n33:31 - emmabruce\r\n  We're putting together a quiz, but it's specifically for lawyers. So it wouldn't apply to the law firm target clients.  So the law firms are, they, the offering for them is the training and the leadership sounding boards. And then the other side is the individual lawyers, which is to be a happy lawyer.\r\n\r\n33:48 - Nate Thoreson (Allan Dib)\r\n  So we're in the process of putting together a questionnaire, but we're still to decide what was going to be the lead magnet for the law firms.  Yeah, that's a good question. That could be a PDF. guide or something, or like, that could also be a quiz to say like, are you training your team well enough?  Or like, what's your internal training look like? Something like that. Yeah. Okay. And then I'm also thinking that the homepage, you'll probably want it geared mostly towards individual lawyers.  like the lead magnet specifically, just because that is probably going to be the vast majority of people that visit it.  Whereas you have the specific corporate training landing page that you can send people individually, and in your emails, when you're sending things out specifically to the corporate clients, you can get them that way.  Okay.\r\n\r\n34:56 - emmabruce\r\n  Yeah. So you think tailor it slightly more towards the individual? So what Lawyers Be a Happy Lawyer program?\r\n\r\n35:04 - Nate Thoreson (Allan Dib)\r\n  In terms of copy, it's totally okay to kind of like split it between lawyers and the main companies. I'm just thinking specifically for the lead magnet.  We probably, we just want one on, you know, per page. So for the primary homepage, I would say the Be a Happy Lawyer, that would be good.  And then the corporate one, can do a different sort of quiz or like a company readiness or a company training template or booklet or something, quiz, something like that.  Yeah. Okay. But overall, this is honestly looking really solid. can, I can tell that you basically just kind of copy and pasted the template, which is ideal, which is what you want to do.  So that was good. Great. So yeah, as for, so I know that we didn't go through like, The individual copies specifically, but of course, I recommend also check out the copy clinics on Thursday.  As for structure, this looks great. And I'll just take a quick scan here. This is great too, frankly, I don't think I really have any...  changes on this one. Okay. Yeah, that looks great, structure-wise. One thing that I would kind of like to see if at all possible is...  The testimonials is great, obviously, but is there anything that you can quantify to have like a by the numbers section or something to say, like, we reduce workplace incidents by X amount, or we raise efficiency by X amount, or whatever, I would love to see some kind of quantification of this so people can kind of see, oh, there's not a lot of risk here.\r\n\r\n37:31 - emmabruce\r\n  In the future, we'll have those numbers, but we don't have them now because we're not asking for consistent feedback.  I think a lot of firms won't have won't let us have access to that sort of information. But once we did the Be Happy Lawyer program is up and running, we are going to ask for feedback from everybody.\r\n  ACTION ITEM: Add lawyer stress/burnout research stats to website\r\n - WATCH: https://fathom.video/share/vbXqdErDXZ8U8FwJSqSUfsZFDMUxW7Ga?timestamp=2265.9999  So over time, we'll be able to then show the impact that it has.\r\n\r\n37:53 - Nate Thoreson (Allan Dib)\r\n  Oh, okay.\r\n\r\n37:54 - emmabruce\r\n  Yeah, I understand that. mean, the only other way I guess I could include some numbers is, I was... the thing I was thinking about including would be as part of the social proof so obviously we've got our testimonials but just other research you know independent research that shows the benefits of having like an engaged workforce or the benefits of or how big a problem um burnout stress anxiety etc is you know I'm making this up but 22% of all lawyers reported mental health problems something like that do you think something like that is worth putting in and just referencing the actual research that it comes from absolutely yeah I think I think that would be I mean it's not as powerful to say like we reduce stress by 22% but I think it does really hit the problem home because if I'm like an HR manager I'm like oh 30 or whatever percent of people are stressed out at work like that's not good I can only imagine how many people at my job are stressed out um or at my workplace so yeah yeah I've got some stuff like that so all of  I about adding that back in just to add that strength to it.\r\n\r\n39:04 - Nate Thoreson (Allan Dib)\r\n  Yeah, and I would say as for like where to put it, you could probably put it like right above like the problem section.  So you talk about like here's the problem by the numbers basically, and then the problem by more detail. Okay.  Yeah, I think that'd be good. Cool. Alright, so I absolutely think that you were on. Definitely the right track.  All of this is looking great to me. structure wise, I'm really happy with it. And then, like I said, if you want to get the individual copy reviewed, feel free to check out the copy clinics on Thursday, but I would say the top priority here will just be, let's make sure, you know, I'm tangled up with that section in particular on the homepage because like I said, there's two different target audiences and their pain points are very I'm\r\n  ACTION ITEM: Update website homepage - unified problem statement for both target audiences\r\n - WATCH: https://fathom.video/share/vbXqdErDXZ8U8FwJSqSUfsZFDMUxW7Ga?timestamp=2401.9999\r\n\r\n40:02 - emmabruce\r\n  And how we talk to them is very different, what we're offering is very different. it's sort of trying to get, trying to include them both.  But I think if I just keep it really high level.\r\n\r\n40:12 - Nate Thoreson (Allan Dib)\r\n  Yeah, I always think about like, what is the unifying problem? Or what is the unifying thing that you're doing?  I mean, at the end of the day, you are training lawyers.\r\n\r\n40:25 - emmabruce\r\n  But it's also business services people we're training as well. It's everyone who works in a law firm, essentially.\r\n\r\n40:30 - Nate Thoreson (Allan Dib)\r\n  Okay. We train law firm staff, or we help people who work in law firms. Yeah. Something like that. So, and also as much of a cop-out as this sounds, describe that conundrum to ChatGPT and have it come out with 20 different options.\r\n\r\n40:52 - emmabruce\r\n  Okay. Okay. Good idea.\r\n\r\n40:54 - Nate Thoreson (Allan Dib)\r\n  Yeah. Yeah.\r\n\r\n40:56 - emmabruce\r\n  I'll do that. Just keep that really simple.\r\n\r\n40:57 - Nate Thoreson (Allan Dib)\r\n  Yeah. Yeah. There's bound to be one out of those two. That are going to be good. yeah, cool.\r\n\r\n41:05 - emmabruce\r\n  Perfect. And just one quick question. If you scroll all the way down to the Be a Happy Lawyer structure, the current draft website has got a lot of information.  It's got like the whole breakdown of what's included in each module of the program. It's got so much stuff in there.  I mean, what I've included in my structure is a lot less than what's on the original. So I just want to make sure that stripping out that sort of level of detail is a good idea.  Because like you were saying before in your conversation with Sean, you know, people aren't sitting reading these websites. I think in my mind, was thinking, well, people probably do want to know what is in the program, like week by week.  Okay, this one, this session covers well being the session covers how to give feedback, whatever it is, but there was just so much detail.  So, you know, how long is too long?\r\n\r\n41:52 - Nate Thoreson (Allan Dib)\r\n  How much detail is too much on a web page? Yeah, that's a good question.\r\n\r\n41:57 - emmabruce\r\n  Which part? So, um... So now you're down on the FAQs, I've really gone overboard with the FAQs, but I can strip them back, but if you go back up a bit, keep going just slowly, okay, I think I might have, yeah, I've basically just stripped it back, but like I said, I haven't included it here, but there's maybe like another six, seven, eight pages of what's included in each of the modules, there's a bit around like, what are your challenges, and it's sort of boxes of the pain points, which I've included, but in a shorter version, there's like an example of one of the exercises, like a handwritten note, where the person is, where they want to be, like, they feel overwhelmed, they want to be in control, they feel, you know, like very simple lists like this, there's, there's an about us section for the facilitators, so there's the two people that will facilitate this program, their photographs, and then two vertical columns with like, text about each of them, so yeah, it's just, there's a lot, and it's good stuff, of course, but it's, you know, is it, is that too much?\r\n  ACTION ITEM: Create lead magnet PDF - full program module details + facilitator info\r\n - WATCH: https://fathom.video/share/vbXqdErDXZ8U8FwJSqSUfsZFDMUxW7Ga?timestamp=2574.9999\r\n\r\n43:00 - Nate Thoreson (Allan Dib)\r\n  Yes, she does. Should I include all that, or should I sort of try and strip it back and just think about the key points?  That would be, I think it would be great to have like a one-sentence description of each module, front page, that would be great, and included in that section should be a button to download to see the full module thing, then get a lead magnet out of it too.\r\n\r\n43:26 - emmabruce\r\n  And could that also include the information about the facilitators, and the sort of added extra detail about everything to do with the course?\r\n\r\n43:35 - Nate Thoreson (Allan Dib)\r\n  Yeah, yeah, absolutely. Yeah, so if I see it on the website, I'm able to say, here's a high level thing of like, at least like the name of the different modules, now if I want to see detail about every single module, great, I can download it, and now you have my email address, you can start to nurture me.\r\n\r\n43:55 - emmabruce\r\n  Great idea, yeah, no, that's good, I'll do it like that, think that makes more sense.\r\n\r\n43:59 - Nate Thoreson (Allan Dib)\r\n  Thank you. Hey, my pleasure, cool. As you're going, of course, let me know if you have any questions. With that, we'll toss it over to Joshua here.  But keep it up.\r\n\r\n44:11 - emmabruce\r\n  Let me know if you have any questions.\r\n\r\n44:13 - Nate Thoreson (Allan Dib)\r\n  Thanks, Nate. Thanks. Thanks, Emma. Awesome. Hey, Joshua. Thank you for your patience.\r\n\r\n44:17 - Joshua Brooks\r\n  How are doing? Joshua okay, man. Doing okay.\r\n\r\n44:20 - Nate Thoreson (Allan Dib)\r\n  I was wondering if you were going to get to me. I am. As always, you guys are the top priority.  And we can absolutely go over. If time needs for Melissa to get some time as well. So, yes. How you doing?  What do you got for me today?\r\n\r\n44:41 - Joshua Brooks\r\n  Joshua I'm doing well. The main thing that we want to talk about, as I mentioned in Slack, is pricing.  And then if we have time, you know, we want to make sure we get to Melissa. We can go and discuss some other things on my plate.\r\n\r\n44:58 - Nate Thoreson (Allan Dib)\r\n  plate. in today. Joshua Yeah.- Yeah, okay.\r\n\r\n45:00 - Joshua Brooks\r\n  Joshua Brooks- And getting some 一 Nate something that Alan said, where he talked about expanding. So yeah, we can discuss that.\r\n\r\n45:08 - Nate Thoreson (Allan Dib)\r\n  We'll go in order. Okay, sounds good. Let's go through the number one. Updating pricing page to remove prices and add content and design focused on questioning consultation.  Add content to focus on the value the client will get. Nate Yeah. Nate Okay.\r\n\r\n45:27 - Joshua Brooks\r\n  Nate So here's what I've done so far. Nate spoke with Jim Kreider, a very successful four years financial planner.  He has a pricing structure at 1.5% to whatever, 1.5% assets under management. And then that graduates, the higher the assets, the lower the cost, right?  Till the 1 million to 2. And then he does a 0 to 1250, so monthly subscription. So he does a hybrid model.  Thoreson // Now, I spoke yesterday with another- I uber-successful advisor, and he was sharing how having multiple kind of pricing, like I have three parts to that, so that can be confusing for the business and for the customer, right?  So we're trying to make it simple, but also kind of make it based on the value that I'm providing.\r\n\r\n46:19 - Nate Thoreson (Allan Dib)\r\n  Okay, gotcha. So just to kind of read that back to you, it is not, in his words, it's focusing on kind of high-level value, not necessarily just telling them all of the prices straight up front.\r\n\r\n46:36 - Joshua Brooks\r\n  Yeah, and I want to just scratch the initial planning fee, because I think that's scaring people away, and I think it's until I get my business more established, then I'm going to have a lot of leads coming in because I'm in the editing process of the short-form videos, and so I've got a batch of 60 ready to be edited.\r\n  SCREEN SHARING: Nate started screen sharing - WATCH: https://fathom.video/share/vbXqdErDXZ8U8FwJSqSUfsZFDMUxW7Ga?timestamp=2812.149847  So what Nate suggested from Into Content Marketing And he likes the fact that I work with you, Nate, at Lean Marketing, so you guys got a little marketing connection there.  Nate Hoskin from Hoskin Capital, he just sold his firm, but he was saying like, just scratch all the fees for my insane offer, and then advertise the, you know, for the button right here in orange, and just have it as your first 90 day, click here for your first 90 days free, no financial planning fees.\r\n\r\n47:31 - Nate Thoreson (Allan Dib)\r\n  Skanet generates yeah I love that, I love that cool okay, Nate so tooth.\r\n\r\n47:40 - Joshua Brooks\r\n  Nate 포인 have an appointment with Mustafa from my CRM to discuss making the website, technical edits, instead of paying for the high price Canadian website designer.\r\n\r\n47:51 - Nate Thoreson (Allan Dib)\r\n  Nate Okay, cool, and the good thing here is, I mean, Not, I mean, all of this would really be is literally just changing some texts.  So that's gonna be easy, so I agree with you. you. Let's remove these, let's add in, get your first free day, 90 days, without you.\r\n\r\n48:08 - Joshua Brooks\r\n  Yeah, and we'll just put a strikethrough, we'll just put a strikethrough, and we'll take off the initial planning fees, and then we'll just gonna go, you know, we'll keep these same packages for now until I figure out the pricing structure, but the 1% AUM, Asset Center Management, and the monthly subscription, or should we do something like, based on complexity?  I think that might be helpful too, because some people can only afford $100 and $200 a month, other people can afford $1,000 a month, you know?\r\n\r\n48:41 - Nate Thoreson (Allan Dib)\r\n  Right, yeah. I guess, I mean, what have you, when you were with Edward Jones, well, did you have kind of a similar pricing structure?\r\n\r\n48:50 - Joshua Brooks\r\n  Yeah, they charge one point, they charge, the catalyst would be the commissions, so you just pay 5% on your mutual fund purchases, and then they charge an account fee, and then the other accelerator and singularity, They  The singularity are 1.35%, and then the singularity adds a 0.09% fee. So mine, you know, are, I mean, at the end of the day, they kind of, it's just middle of the road pricing.\r\n\r\n49:14 - Nate Thoreson (Allan Dib)\r\n  Okay, so this is fairly in line with- Without the initial planning fees.\r\n\r\n49:22 - Joshua Brooks\r\n  Edward Jones doesn't charge any kind of financial planning fees, they just bake it into the AUM.\r\n\r\n49:27 - Nate Thoreson (Allan Dib)\r\n  Okay, do they also charge a monthly subscription?\r\n\r\n49:30 - Joshua Brooks\r\n  No, but if I'm charging lower AUM, and they're charging 1.35 on a million, that's $13,500 revenue. If I'm charging 0.75 on a million, that's 7,500.\r\n\r\n49:45 - Nate Thoreson (Allan Dib)\r\n  That's a 50%, you know what I'm saying? So the monthly and the numbers, math kind of makes it equal at the end of the day.  It does, but here's a really good example of how like the psychology around that is a little bit weird.  I- flip by on And I have another client who is a camera operator, maybe you've met him, ReadyRig, he sells cameras, or camera equipment, and they're like $4,000 for one thing.  So what we did is we ran an A-B test on two different lead magnets. One was 10% off, so $400 off, versus $100 off.  So obviously, people should go with the 10%, but what won out in the end, by a pretty wide margin, was the $100.  So what that tells me, is that people don't, it is very difficult for people to quantify percentages in their mind, versus dollars.\r\n\r\n50:46 - Joshua Brooks\r\n  And when I look at this, I see a $600 monthly subscription fee, like, dude, that's lot of money, that's like 20 Netflix's, or whatever, whatever it is.\r\n\r\n50:57 - Nate Thoreson (Allan Dib)\r\n  Right.\r\n\r\n50:59 - Joshua Brooks\r\n  So just go AUM, for a\r\n\r\n51:01 - Nate Thoreson (Allan Dib)\r\n  For psychological reasons.\r\n\r\n51:03 - Joshua Brooks\r\n  Until I get the business established, you know, better. Then I can change my pricing.\r\n\r\n51:08 - Nate Thoreson (Allan Dib)\r\n  I think you should, because this is scary. When I see this, I see, okay, $600 is coming out of my account every year, or every month.  And now I'm thinking, what did Josh would do? value? Yeah.\r\n\r\n51:24 - Joshua Brooks\r\n  That he deserves $600 from me. Okay.\r\n\r\n51:27 - Nate Thoreson (Allan Dib)\r\n  Yeah. Yeah. Versus, I'm charging .75, or if you up this to .9, or whatever. Yeah. Whatever you need to do to make this more consistent.  Then that's fine.\r\n  ACTION ITEM: Add strikethrough to initial planning fee on pricing page\r\n - WATCH: https://fathom.video/share/vbXqdErDXZ8U8FwJSqSUfsZFDMUxW7Ga?timestamp=3099.9999\r\n\r\n51:41 - Joshua Brooks\r\n  You know? Okay. So then do I, I'll remove the initial planning fee, or actually keep that and then just scratch it out?\r\n  ACTION ITEM: Remove monthly subscription option from pricing page\r\n - WATCH: https://fathom.video/share/vbXqdErDXZ8U8FwJSqSUfsZFDMUxW7Ga?timestamp=3102.9999\r\n\r\n51:50 - Nate Thoreson (Allan Dib)\r\n  And then scratch out everything. I would remove, I would remove this completely. Like the monthly subscription. Yeah, yeah. Yeah, don't think you should be encouraging monthly subscription.\r\n\r\n52:05 - Joshua Brooks\r\n  Okay, so remove that and then scratch out everything and then we'll come back in 90 days and then we'll review the pricing structure and figure out how to market it and put it in the best kind of light possible.\r\n\r\n52:17 - Nate Thoreson (Allan Dib)\r\n  Right, so what you could do is you could do like a strike through here and then next you'd say like 0% for the first 90 days or 0% or whatever.  And then down here you can say like, yeah, free or zero fees for the first 90 days.\r\n\r\n52:35 - Joshua Brooks\r\n  Okay, and then I can maybe put this in, it would be hard to kind of put the image into, you know, the ask for advisor.  You know how all the people at Lean Marketing and get their feedback sometimes like Gabriel does good work as well to kind of see like how they would want the image because we don't have the time to go into like in depth.  But like, because I'm going to be getting like traffic to the website. My newsletter is doing good, Nate.\r\n\r\n53:01 - Nate Thoreson (Allan Dib)\r\n  It just... It's got a 48% open rate on my third newsletter.\r\n\r\n53:05 - Joshua Brooks\r\n  That's for sale. Yeah, we're doing better there. So, okay, I feel good about this, so I'll figure out the details.  So real quick, Allan said don't do the cold reach outreach stuff like expanding until you figure out your messaging.  I'm not sure, I think I have too many holes in my boat right now until I figure out kind of my messaging and the pricing and stuff.\r\n\r\n53:30 - Nate Thoreson (Allan Dib)\r\n  Sure. Okay, so the first thing is I do think, are you feeling good about the pricing now, at least for now?\r\n\r\n53:38 - Joshua Brooks\r\n  Yeah, yeah. So we're going to take off the monthly subscription and then we're just going to scratch through and say your first 90 days are free for the first 10 customers, which I've already got two clients already.  And then, so that'll be eight of them. And then I'll put the orange button because Amazon did the research that orange or yellow is the highest clicker.  And so it'll be, what's the short, I'll just go. ChatGPT, a short statement that says, schedule here for first, you know, for first 90 days, no planning fees or whatever.\r\n\r\n54:10 - Nate Thoreson (Allan Dib)\r\n  Yeah, yeah. By the way, how much are you getting charged to change, to have these website changes?\r\n\r\n54:17 - Joshua Brooks\r\n  I don't know. I'm getting, I have an appointment this afternoon for the final quote and kind of the discussion, but it won't be anywhere near the thousand dollars a month for the Arise design.\r\n\r\n54:28 - Nate Thoreson (Allan Dib)\r\n  Okay. Okay. Is it just this that he'll be changing?\r\n\r\n54:33 - Joshua Brooks\r\n  Or do you have other stuff? No, they're, they're technical. Cause I use their CRM, leadcenter.ai. So they're doing other stuff, like the calendar link, you know, and others.  So he, his team knows Webflow. I don't think they're going to gouge me. So he's, he's a good dude.\r\n\r\n54:48 - Nate Thoreson (Allan Dib)\r\n  Yeah. The reason, the only reason why I asked is like, you and I could make these changes and I'm not exaggerating five minutes together.\r\n\r\n54:58 - Joshua Brooks\r\n  I could, I could, just do it with you, but yeah, we talked. Hit me up on the Slack.\r\n\r\n55:03 - Nate Thoreson (Allan Dib)\r\n  Hit me up on the Slack, Nate. Well, I would have to, you know, we could actually do the Infrastructure Clinic this evening.\r\n\r\n55:10 - Joshua Brooks\r\n  I mean, I could make these changes, but either way.\r\n\r\n55:12 - Nate Thoreson (Allan Dib)\r\n  Okay. Okay.\r\n\r\n55:13 - Joshua Brooks\r\n  So pricing. I'll sign up if I can save that and we can just do, that's the same thing that Nate Hoskins said.\r\n\r\n55:21 - Nate Thoreson (Allan Dib)\r\n  And so, cause I'm going to be working with him for the video production. Okay, cool. All right. So that's how we're feeling about pricing.  That's good. And then the final thing is, is let's chat real quick about kind of your messaging. And actually, give me one second.  just have to let my next meeting know I'm going to be a little bit late.\r\n\r\n55:49 - Joshua Brooks\r\n  Thank you, Melissa, for your patience.\r\n\r\n55:52 - Nate Thoreson (Allan Dib)\r\n  Yes. Thank you, Melissa. Cool. Okay. We're all taking care of that.\r\n\r\n55:56 - Melissa Bryan - GlowRx Clinic\r\n  I don't, I don't have any questions today.\r\n\r\n55:58 - Nate Thoreson (Allan Dib)\r\n  was just listening in.\r\n\r\n56:00 - Joshua Brooks\r\n  This has been good.\r\n\r\n56:00 - Nate Thoreson (Allan Dib)\r\n  okay. This\r\n\r\n56:48 - Joshua Brooks\r\n  You know, Army Veterans, so let me look at those Google Forms. Should I have put more information here? Because I did like a more in-depth client psychological profile, but it didn't save to my notion.  was about it. interesting. Okay. Yeah. So I actually feel like you have a pretty similar story to like Sean.  The first guy I talked to. Yeah. Where you have a really compelling story.\r\n\r\n57:24 - Nate Thoreson (Allan Dib)\r\n  You are helping people solve a particular problem. Yes, at least, I don't know if other people view it this way.  I don't know if this is something that came up in your client experience interviews, but in some ways, I feel like financial planning can be kind of commoditized.  Depending on the investment type you want. Like me, for example, I want somebody to... Buy my mutual funds and not touch them for 40 years.  That's what I want. Yeah. And you can do that at Fidelity or Vanguard or Schwab. So you're good to go.  Yeah. Yeah, exactly. And low face like that. That's the key. Yeah, absolutely. Yeah. So even I think, look at my homepage, I need to actually even change this because this is not showing the value.  This was done by Taylin at Arise Design.\r\n\r\n58:13 - Joshua Brooks\r\n  So I'm actually tailoring it more to like, now this is SEO optimized, you know, financial advice and digital assets for Army veterans.  But I think the compelling statement would be elite financial planning for Army veterans, you know, something like that. I I love that.  Elite financial planning. I like that a lot. Yeah. Because I ran a chat GPT for like six value statements and some of those were coming up.  So, or battle tested financial plans, stuff like that, you know.\r\n\r\n58:48 - Nate Thoreson (Allan Dib)\r\n  Nate yeah, or Bulletproof. Nate Yeah, yeah. Nate I like Bulletproof too.\r\n\r\n58:54 - Joshua Brooks\r\n  Nate So it has forging financial futures for those who served with trust and innovation. That's too long. Battle-tested strategies for your financial victory.  Your trusted ally providing elite personalized wealth guidance.\r\n\r\n59:08 - Nate Thoreson (Allan Dib)\r\n  Financial special ops, elite wealth strategy, elite CFP guidance.\r\n  ACTION ITEM: Change website headline to \"Elite financial planning for Army veterans\"\r\n - WATCH: https://fathom.video/share/vbXqdErDXZ8U8FwJSqSUfsZFDMUxW7Ga?timestamp=3535.3765139999996\r\n\r\n59:13 - Joshua Brooks\r\n  So yeah, just something different than just the bland SEO optimized. Nate know, it may get the search results, but you know, it's not converting.\r\n\r\n59:22 - Nate Thoreson (Allan Dib)\r\n  What was the very first one you said, elite?\r\n  ACTION ITEM: Register for Infrastructure Clinic this evening\r\n - WATCH: https://fathom.video/share/vbXqdErDXZ8U8FwJSqSUfsZFDMUxW7Ga?timestamp=3551.3765139999996\r\n\r\n59:25 - Joshua Brooks\r\n  Nate Elite financial planning for Army veterans. Nate // I think that's the best. Nate I agree. I think that you should make that change today.  Nate Okay. Nate I think that's, I think that's key.\r\n\r\n59:41 - Nate Thoreson (Allan Dib)\r\n  So, you know, I'm actually going to- Nate I'll register for the clinic tonight, Nate, because we have our babysitter coming, so I'll Thoreson I'll be able to\r\n\r\n59:48 - Joshua Brooks\r\n  Nate break away for 20 minutes.\r\n\r\n59:51 - Nate Thoreson (Allan Dib)\r\n  Gotcha. Nate I'll make sure you go first. Nate Change Headline to... Nate So I'm just going to add another task here of just like simplified Nate // Messaging.\r\n\r\n1:00:07 - Joshua Brooks\r\n  Messaging. Nate All right.\r\n\r\n1:00:09 - Nate Thoreson (Allan Dib)\r\n  Nate So that's number one is this is now going to be kind of your one line explanation Nate what you do for people.\r\n  ACTION ITEM: Prepare updated elevator pitch for review\r\n - WATCH: https://fathom.video/share/vbXqdErDXZ8U8FwJSqSUfsZFDMUxW7Ga?timestamp=3590.3765139999996  Nate Okay. The next thing of what I want you to do, and we can talk about it, we'll just kind of take it one step at a time here, is I want you to write out a elevator pitch following this formula.  Nate Thoreson // Okay. Nate Thoreson This is what I did at that Veterans Entrepreneurship Program in February, I did it like 50 times.  Nate Okay, I want you to do it one more time. Nate Okay. Thoreson Or if you already have some.  You can share it with me, but I'll give you some examples here as well.\r\n\r\n1:00:56 - Joshua Brooks\r\n  Yeah, no, they had us like do it as drills. We did this like for like a whole block of time.\r\n\r\n1:01:03 - Nate Thoreson (Allan Dib)\r\n  Oh, okay.\r\n\r\n1:01:04 - Joshua Brooks\r\n  Then we got feedback.\r\n\r\n1:01:06 - Nate Thoreson (Allan Dib)\r\n  Okay. Well, maybe this, then this should be easy. Then I'll also be my feedback, at least my two cents on it.\r\n\r\n1:01:14 - Joshua Brooks\r\n  Okay. Here we go. I've already got the file. Great. Okay.\r\n\r\n1:01:22 - Nate Thoreson (Allan Dib)\r\n  So we've got that. And then let's also just talk about it here.\r\n\r\n1:01:28 - Joshua Brooks\r\n  The irresistible offer.\r\n\r\n1:01:32 - Nate Thoreson (Allan Dib)\r\n  I know that's already in your other tasks, but I just want to jot it down here. First 10 customers get 90 days.  Yeah. We changed it from five. If I'm going to get a... Nate of traffic, Nate I'm just trying to get people on board.\r\n  ACTION ITEM: Add \"First 90 days completely fee-free\" offer to homepage top-right\r\n - WATCH: https://fathom.video/share/vbXqdErDXZ8U8FwJSqSUfsZFDMUxW7Ga?timestamp=3694.3765139999996  Yeah, I agree. Nate So one thing that I think you should do, and I didn't want to do this previously, but I think we on the homepage.\r\n\r\n1:02:04 - Joshua Brooks\r\n  Nate I think we should put it on the homepage. Nate Yeah, like top right, like in a kind of angle.\r\n\r\n1:02:10 - Nate Thoreson (Allan Dib)\r\n  Nate Yeah, not specifically saying first 10 customers, like, let's not do that. Yeah. Nate us say, first 90 days, completely fee-free.\r\n\r\n1:02:22 - Joshua Brooks\r\n  Acknowledged.\r\n\r\n1:02:23 - Nate Thoreson (Allan Dib)\r\n  Nate Acknowledged.\r\n\r\n1:02:24 - Joshua Brooks\r\n  Nate Okay, sweet.\r\n\r\n1:02:25 - Nate Thoreson (Allan Dib)\r\n  Nate fee-free.\r\n\r\n1:02:27 - Joshua Brooks\r\n  Nate Yeah. Fee-free planning.\r\n\r\n1:02:29 - Nate Thoreson (Allan Dib)\r\n  Nate Yeah. Thoreson // Also, I'm curious, has crypto, I feel like crypto is having a little bit of a resurgence in the public eye.\r\n\r\n1:02:42 - Joshua Brooks\r\n  Nate It is, but the thing is, I have to pivot.\r\n\r\n1:02:46 - Nate Thoreson (Allan Dib)\r\n  Nate // this, so I'm going to keep the, as a like. Matt of my service offering, but I'm not going to market it as much because of the Army Veteran kind of, you know, Boomer kind of Retire X people.  I want them. I don't care about the young people. I know they love crypto.\r\n\r\n1:03:02 - Joshua Brooks\r\n  I just want to get people with assets. Army Veterans with 500k investable assets. That's my deal. okay. Sweet. All right.  I'm going to just jot that down. Matt And that's old school advisor stuff, but then I'm also bringing in, you know, digital assets, which is new school and AI and, you know, marketing first focus.\r\n\r\n1:03:26 - Nate Thoreson (Allan Dib)\r\n  Matt Nate, I'm really going to, about to blow this out the water, man.\r\n\r\n1:03:30 - Joshua Brooks\r\n  Once I get my first batch of 60 videos, and then N2 Content Marketing just released Sage, which they have a software that does the editing process for you, drafts, Matt Thoreson // And then you record it, and then they'll do the editing for you, and then we can distribute it.  So they said if I do 20 videos per month for 12 months, they'll fly me out to Colorado in their professional studio and record 30 and they'll provide it, 30 free extra videos.  Cool.\r\n\r\n1:04:05 - Nate Thoreson (Allan Dib)\r\n  All right. I love it. That's good to hear. That's awesome.\r\n\r\n1:04:09 - Joshua Brooks\r\n  Okay. So I'm stoked. That's my kind of, I'm going to be focusing on short-form videos. Yeah. Yeah. That's fun.  Sweet. All right.\r\n\r\n1:04:18 - Nate Thoreson (Allan Dib)\r\n  So I think that the main key here is let's just simplify out the messaging and make it super, super clear.  One question that I have for you is for veterans who have 500K in investable assets, will people with that much not already have a financial planner?  You'd be surprised. They may have it in their 401k. They may work, they may go to Raytheon or Lockheed Martin and maybe-\r\n\r\n1:04:48 - Joshua Brooks\r\n  Maybe it's not in an IRA that's retail, it's in an employer plan, but they're eventually going to separate it for that company, and if they do get a trusted advisor who is an Army veteran with experience and a CFP, who do you think they're going to trust, and then I can charge my 0.75 or my 0.50 or my 1%, well, you know, 1% on 500k is $5,000 a year annual recurring revenue, that increases my customer LTV.  Yeah. Okay. Yeah. That makes sense. All right. Yeah. You're, I mean, you're closer to it than, than I am.  So that makes sense. Okay. Yeah. So let's do this simplified. We've got that simplified messaging. We'll make those changes, uh, to the pricing page on, uh, the website.\r\n\r\n1:05:34 - Nate Thoreson (Allan Dib)\r\n  We've got content going out, which is great. Um, okay. Then I think for now we've got a pretty solid, solid strategy going forward.  So I'll see a, in a couple of hours. to make those changes to the website. I'll register tonight. I'll be very clear, and my responsibility is to redo the value statement, and then we can just plug and play when we get on the website tonight.  Yes. Awesome. Perfect. That sounds great. And then if we have some availability, we'll continue to go through that bullet point list that you sent through.\r\n\r\n1:06:04 - Joshua Brooks\r\n  And once the kids go back into school too, we'll have some more bandwidth and not always doing all these shuttle around daycare stuff.  When does that happen? Next week.\r\n\r\n1:06:15 - Nate Thoreson (Allan Dib)\r\n  They're back in school. Already? Dang. Yeah.\r\n\r\n1:06:18 - Joshua Brooks\r\n  Hallelujah. All right.\r\n\r\n1:06:20 - Nate Thoreson (Allan Dib)\r\n  Cool. All right. thank you very much, Joshua.\r\n\r\n1:06:22 - Joshua Brooks\r\n  work, man. You're doing great things for Lean Marketing and your clients. I appreciate it. I do what I can.  Thank you. Talk soon. Bye.","Fathom Call Link":"https://fathom.video/share/vbXqdErDXZ8U8FwJSqSUfsZFDMUxW7Ga","Date Of Call":"2025-08-05","Host":"Nate Thoreson","Companies Attended (Comma separated) ":"Exponential Advisors, Marion Street Capital, Arrisan","submittedAt":"2025-08-05T12:37:08.650-04:00","formMode":"test"}}]},"versionId":"0b919bee-bdb0-41ac-92f8-5374be022d3b","triggerCount":1,"shared":[{"createdAt":"2025-08-04T21:13:01.209Z","updatedAt":"2025-08-04T21:13:01.209Z","role":"workflow:owner","workflowId":"vKeCMMgFC560DbVS","projectId":"oeHwV8sNrbPNhUov"}],"tags":[]}