linkedin---generate-post-ObAGhjWR7lKa5oGp.json
{"createdAt":"2025-10-23T05:31:31.063Z","updatedAt":"2025-10-23T23:23:02.780Z","id":"ObAGhjWR7lKa5oGp","name":"LinkedIn - Generate post","active":true,"isArchived":false,"nodes":[{"parameters":{"public":true,"mode":"webhook","options":{"responseMode":"lastNode"}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[-368,80],"id":"a1f8c28a-ed93-48c5-b9ff-53c3062dfcf7","name":"When chat message received","webhookId":"c66922e9-6d8f-42a3-aba9-dfc5f567e570"},{"parameters":{"promptType":"define","text":"=\n### ✍️ INPUTS\n\nUse the provided information to customize the post:\n- **Tone of Voice:** {{ JSON.stringify($json.tone_of_voice_guide) }}\n- **Company:** {{ $json.company }}\n- **Offer / Product:** {{ $json.offer }}\n- **Audience:** {{ JSON.stringify( $json.target_market_profiles.primary_target_market) }}\n- **Goal:** {{ $('Webhook').item.json.query.goal }}\n- **Context or Topic:** {{ $('Webhook').item.json.query.topic }}\n- **Key Pain Point or Lesson:** {{ JSON.stringify($json.pain_points_extractions) }}\n\n---\n\n### 🧾 OUTPUT FORMAT\n\nReturn only the finished LinkedIn post.\nDo not include explanations or notes.\nUse LinkedIn formatting (short paragraphs, white space, emojis optional if natural).\n\n---\n\n### ✅ INSTRUCTIONS\n\n1. Start with a **two-line hook** following the “Rule of 3” (scar, specificity, stake).\n2. Write a **body** of 120–220 words using a storytelling or educational structure.\n3. End with a **call-to-action** aligned with the objective.\n4. Maintain human voice, tension, rhythm, and authenticity.\n5. Never summarize. Never include hashtags unless relevant to context.\n\n","options":{"systemMessage":"=**ROLE & OBJECTIVE**\n\nYou are a world-class LinkedIn content strategist and copywriter.\nYour task is to write a **high-performing LinkedIn post** that follows the *Enhanced LinkedIn Post Creation Playbook* below, emulating the tone, structure, and style of the best-performing examples provided.\n\n**QUALITY STANDARD**\nYour output must read like it was written by a top-performing creator with thousands of engagements.\nEvery word must have intention, rhythm, and flow.\nYour writing should be crisp, conversational, and 100% human — never generic, never AI-sounding.\n\n---\n\n### 📘 Enhanced LinkedIn Post Creation Playbook (Summary to Apply)\n\n**1. Objective (Purpose of the Post)**\n- Determine the business goal before writing. Choose one:\n  - *Audience Growth*: relatable story, challenge, or insight.\n  - *Lead Generation*: valuable free resource or offer.\n  - *Thought Leadership*: contrarian opinion, data-driven insight.\n  - *Community Building*: conversation-starter or relatable struggle.\n\n**2. Hook (The 2-Line Rule)**\n- *Line 1:* Scroll-stopping, bold, emotional, or pattern-interrupting.\n- *Line 2:* Creates curiosity or an open loop that compels readers to click “see more.”\n- Combine at least **two** of the four hook elements:\n  - Scar/Receipt (painful lesson)\n  - Specificity (numbers, nouns)\n  - Pattern Interrupt (unexpected truth)\n  - Worldview Stake (earned opinion)\n- Score at least 7/9 in uniqueness, clarity, and stakes.\n\n**3. Body (Deliver Value)**\n- Use one of these proven formats:\n  - Personal story → lesson learned.\n  - Educational / How-to → actionable insights.\n  - Contrarian / Opinion → challenge common belief.\n  - Inspirational → adversity or mindset shift.\n  - Lead magnet → resource or offer.\n- Structure:\n  - *Setup:* context or problem.\n  - *Conflict:* challenge, mistake, or friction.\n  - *Resolution:* solution, outcome, or key lesson.\n- Keep sentences short and easy to read.\n- Use single-sentence paragraphs for white space.\n- Write as if speaking to a peer over coffee.\n- Do not use bullets or indentaions.\n\n**4. Close (Call to Action)**\nEnd with a simple, clear CTA:\n- Ask a thought-provoking question.\n- Invite comments or shares.\n- Offer a resource (“Comment X to receive…”).\n- Encourage conversation (“What’s your take?”).\n\n**5. Final Polish**\nBefore returning your post:\n- Make sure the post passes the SM test (Scannable, Memorable, Shareable, Skin-in-the-game).\n- Ensure tone and structure align with the chosen objective.\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[320,80],"id":"6b089e6a-641b-4777-ae0c-5cb5f61141c1","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-5","mode":"list","cachedResultName":"gpt-5"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[320,272],"id":"58227b80-b6e7-47f7-95a0-e30da1ed3405","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{"toolDescription":"Makes an HTTP request and returns the response data. This is the LinkedIn playbook","url":"https://jwehqqyzlbpolkfkjhai.supabase.co/storage/v1/object/public/playbooks/Enhanced_LinkedIn_Post_Creation_Playbook_Revised.pdf","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[944,-256],"id":"ffcd3ec3-ec75-4ffa-8a1c-66b4bf459451","name":"Playbook"},{"parameters":{"httpMethod":"POST","path":"generateLinkedInPost","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-96,80],"id":"41d44db0-e807-4c81-a01e-5341053aedeb","name":"Webhook","webhookId":"4322add7-b04f-4857-be02-860f885099de"},{"parameters":{"respondWith":"json","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1168,80],"id":"abed5134-e962-4111-bc0d-067c279bfcd4","name":"Respond to Webhook"},{"parameters":{"operation":"get","tableId":"v_complete_client_context","filters":{"conditions":[{"keyName":"client_id","keyValue":"={{ $json.body.client_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[128,80],"id":"8df70308-c75d-4896-8709-f6d46b50d5eb","name":"Get a row","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"tableId":"marketing_agent_chats","fieldsUi":{"fieldValues":[{"fieldId":"client_id","fieldValue":"={{ $('Webhook').item.json.query.client_id }}"},{"fieldId":"chat_type","fieldValue":"linkedin"},{"fieldId":"chat_id","fieldValue":"={{ $('Webhook').item.json.query.chat_id }}"},{"fieldId":"post","fieldValue":"={{ $json.output }}"},{"fieldId":"chat_title","fieldValue":"title"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[976,80],"id":"0c8a398c-f127-4a79-abd4-443d0afc8d75","name":"Create a row","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}},"disabled":true}],"connections":{"When chat message received":{"main":[[]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Playbook":{"ai_tool":[[]]},"AI Agent":{"main":[[{"node":"Create a row","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Get a row","type":"main","index":0}]]},"Get a row":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Create a row":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When chat message received":[{"json":{"action":"sendMessage","sessionId":"218bb63b-0aee-450f-8fda-1a73ed073f43","chatInput":"hello","metadata":{"clientId":"1757426002273x159287446145616860"}}}],"Webhook":[{"json":{"headers":{"host":"primary-production-cea5.up.railway.app","user-agent":"Bubble","content-length":"424","accept-encoding":"gzip, deflate","baggage":"bubblegroup.client.version=971e6af4fcc8d4f645e8040d5b11d8321a272896,bubblegroup.client.commit_timestamp=1761248425000,bubblegroup.http.route=workflow%2Fstart,bubblegroup.http.host=lm-mvp-69101.bubbleapps.io,bubblegroup.workflow.appname=lm-mvp-69101,bubblegroup.workflow.app_version=test,bubblegroup.workflow.situation=page_wf,bubblegroup.workflow.id=cmWaK,bubblegroup.workflow.event.type=ButtonClicked,bubblegroup.workflow.action.id=cmWaX,bubblegroup.workflow.action.type=apiconnector2-cmOzg.cmWaQ","content-type":"multipart/form-data; boundary=--------------------------615782967052858438516507","traceparent":"00-3d955ef441ab593a13f778df3eefe0d9-97dbc096b7bcfbd6-01","x-bubble-depth":"1","x-forwarded-for":"44.247.13.178","x-forwarded-host":"primary-production-cea5.up.railway.app","x-forwarded-proto":"https","x-railway-edge":"railway/us-west2","x-railway-request-id":"waEV2V6WSLaPgSSSLPU1MQ","x-real-ip":"44.247.13.178","x-request-start":"1761254743493"},"params":{},"query":{},"body":{"client_id":"1757426002273x159287446145616860","topic":"safety","goal":"lead generation"},"webhookUrl":"https://primary-production-cea5.up.railway.app/webhook/generateLinkedInPost","executionMode":"production"}}]},"versionId":"5a72d2d5-4939-43ff-90dd-af860a22cec1","triggerCount":2,"shared":[{"createdAt":"2025-10-23T05:31:31.063Z","updatedAt":"2025-10-23T05:31:31.063Z","role":"workflow:owner","workflowId":"ObAGhjWR7lKa5oGp","projectId":"oeHwV8sNrbPNhUov"}],"tags":[{"createdAt":"2025-10-23T07:33:57.406Z","updatedAt":"2025-10-23T07:33:57.406Z","id":"nMFhhjmTluGdg4JX","name":"test romeo"}]}