linkedin-writer-ai-yaYgM7TqcybexWm4.json
{"createdAt":"2025-09-15T17:57:13.129Z","updatedAt":"2025-09-16T21:41:05.492Z","id":"yaYgM7TqcybexWm4","name":"LinkedIn Writer AI","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1TO-Fiugsyj9AVc_7nSOcG2H1_EorFRre","mode":"list","cachedResultName":"Fathom Transcripts - Client Call QC","cachedResultUrl":"https://drive.google.com/drive/folders/1TO-Fiugsyj9AVc_7nSOcG2H1_EorFRre"},"event":"fileUpdated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-208,-416],"id":"7d4b7e86-6c81-4b05-ae1d-857c9cba5158","name":"Doc Created","credentials":{"googleDriveOAuth2Api":{"id":"G8CsBQYwfeWR2pcT","name":"Google Drive account 3"}}},{"parameters":{"fieldToSplitOut":"output","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[528,16],"id":"69fd3ecc-f5ef-4c71-ad0c-0303f8bcd88d","name":"Split Out"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[768,16],"id":"e8c7eb81-b0e4-4d6d-a1c8-e506c922960f","name":"Loop Over Items","retryOnFail":false},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"academic\": {\n      \"type\": \"string\",\n      \"description\": \"Long, research-style post. 300-500 words\"\n    },\n    \"punchy\": {\n      \"type\": \"string\",\n      \"description\": \"Short, punchy post. 100-300 words\"\n    },\n    \"tiny\": {\n      \"type\": \"string\",\n      \"description\": \"Ultra-short, tweet-length post. Less than 100 words\"\n    }\n  },\n  \"required\": [\"academic\", \"punchy\", \"middle\", \"tiny\"],\n  \"additionalProperties\": false\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1136,320],"id":"9b47790d-731d-455c-a857-ec2b69357bdb","name":"Structured Output Parser1"},{"parameters":{"promptType":"define","text":"=Write LinkedIn posts from this idea:\n{{ $json.output }}\n\nTarget Market:\nBusiness owners and small business owners who want practical marketing strategies and leadership that actually grow revenue and cut wasted effort. They care about clarity, making confident decisions, and building marketing systems that scale without burning out. They’re looking for trusted, straight-talk advice that helps them get results, not fluff or trends.\n\nTone of Voice:\nYour Response must match my Tone of voice, a cross between Scott Galloway and Ezra Klein. Here is my tone of voice guide: {{ $('Extract tone of voice').item.json.data }}\n","hasOutputParser":true,"options":{"systemMessage":"=You are Nate Thoreson’s ghostwriter. \nYour job: create compelling LinkedIn posts that position Nate as an expert in marketing.\n\nOutput Rules:\n- Write 3 LinkedIn posts from a single idea.\n- Styles:\n  1. Academic: 300–500 words, complex thinking, researched.\n  2. Punchy: 100–300 words, divisive or surprising.\n  3. Tiny: One provocative question or strong opinion, <100 words.\n- Return **exactly three JSON objects** (one per style) using this format:\n\n{\n  \"type\": \"academic\",\n  \"content\": \"...\"\n}\n\n{\n  \"type\": \"punchy\",\n  \"content\": \"...\"\n}\n\n{\n  \"type\": \"tiny\",\n  \"content\": \"...\"\n}\n\nNever include links, hashtags, or @mentions unless specified. \nAlways output valid JSON only — no explanations or extra text.\n\n##Tone of Voice:\n- Match Nate’s tone of voice guide (review before writing).\n- Confident, clear, and insightful.\n- Here is the full Tone of Voice Guide:{{ $('Extract tone of voice').item.json.data }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[992,32],"id":"53ace45c-1de2-4fb2-a653-392630bd9cf6","name":"Writing Prompt","retryOnFail":true},{"parameters":{"modelName":"models/gemini-2.5-pro","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1632,-400],"id":"155ad92d-6971-4346-b63b-1117071e85de","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"aKWjrd5UDWYnbvkh","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"23140ee4-a8af-80e7-9a72-d257bda41fbc","mode":"list","cachedResultName":"AI Testing Test","cachedResultUrl":"https://www.notion.so/23140ee4a8af80e79a72d257bda41fbc"},"title":"=Item","propertiesUi":{"propertyValues":[{"key":"Academic|rich_text","textContent":"={{ $json.output.academic }}"},{"key":"Punchy|rich_text","textContent":"={{ $json.output.punchy }}"},{"key":"Tiny|rich_text","textContent":"={{ $json.output.tiny }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1280,32],"id":"b9187c40-2228-472a-97fb-571d703a8429","name":"Create a database page","credentials":{"notionApi":{"id":"l2nKJRGnfu2CHdp9","name":"Notion account"}}},{"parameters":{"operation":"text","binaryPropertyName":"={{ $json.id }}","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[32,-416],"id":"2e45c283-371e-470d-949a-0481f8adb33c","name":"Download Doc Transcript"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"https://docs.google.com/document/d/1xwM9XlRy0q0E8O5OS_gZd7PMyNmpNZYAiC89F22mubE/","mode":"url"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[880,-416],"id":"cb8eb7bf-abae-4914-bb12-aa4c7920e46a","name":"Get Transcript","credentials":{"googleDriveOAuth2Api":{"id":"3VzmfL5shCfEf9cg","name":"Google Drive account 2"}}},{"parameters":{"operation":"text","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1104,-416],"id":"d391cfb0-7e35-4058-848b-0d4e8a704074","name":"Extract Transcript"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"19dlC2yy61ewYVLdEko7S3ik8naRqg1tMO73WNGLH2Vo","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[672,-416],"id":"e000b83a-23c1-4eba-b29d-f5d45ecef381","name":"Get Tone of Voice","credentials":{"googleDriveOAuth2Api":{"id":"dSQbKYuOfxDcM0Uo","name":"Google Drive account"}}},{"parameters":{"formTitle":"Lionkedin writer","formFields":{"values":[{"fieldLabel":"Transcirpt","fieldType":"textarea"}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-592,16],"id":"425f5d68-6acb-49b1-8e66-7f82931f72f1","name":"On form submission","webhookId":"b988ebd1-9839-45b8-bd76-e9181aea3718"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"19dlC2yy61ewYVLdEko7S3ik8naRqg1tMO73WNGLH2Vo","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-320,16],"id":"564fc5b8-e0d4-4a18-96dd-76b47e758faf","name":"Get Tone of Voice1","credentials":{"googleDriveOAuth2Api":{"id":"dSQbKYuOfxDcM0Uo","name":"Google Drive account"}}},{"parameters":{"promptType":"define","text":"=Analyze the following transcript and return three LinkedIn post ideas according to the schema. Remember that your output must be three ideas based on the content of the transcript. Do not make up anything new. Your LinkedIn posts must relate directly to what was discussed in the transcript. Find the best coaching moments contained in the transcript that could be tought and useful to other business owners. Position me as an expert teacher, writer, and marketing consultant. Analyze the best advice that I gave to the client. Come up with three ideas for linkedin posts from those best coaching moments that can be shared as universal learnings to others.\n\n##Analyze this transcript. Find three compelling topics contained in the transcript and come up with three linkedin post ideas from the content of the transcript.\n{{ $('On form submission').item.json.Transcirpt }}\n\n","hasOutputParser":true,"options":{"systemMessage":"=# Role and Objective\n\nYou are **Marketing Insights GPT**, Nate Thoreson’s AI Idea Generator and senior marketing strategist. Your objective is to transform Nate’s live coaching-call transcript into three distinct, high-impact LinkedIn post concepts that:\n\n* Engage early-stage tech startups and established businesses launching their first marketing.\n* Reflect Nate’s core beliefs: technology as a growth enabler; simplicity in marketing; data-driven decision-making; future-focused vision.\n* Showcase Nate’s proven expertise in building repeatable marketing systems, hiring and scaling teams, and anticipating technology-driven trends.\n\n# Key Beliefs & Focus Areas (static)\n\n1. **Technology Empowers Growth** – Highlight how tools and platforms unlock new opportunities.\n2. **Simplicity Wins** – Show that focused, clear marketing is more effective than complexity.\n3. **Data Is Your North Star** – Emphasize using metrics to diagnose issues and iterate.\n4. **Audience: Tech Innovators** – Tailor insights for Web3, AI, SaaS, and biotech leaders.\n5. **Future-First Thinking** – Make bold, evidence-backed predictions about emerging trends.\n6. **Marketing isn’t hard** – Follow a system, create a plan, stay consistent.\n7. **Systems are Key** – Without systems you can’t stay consistent.\n\n# Comprehensive Instructions (stable rules)\n\n1. **Transcript Preprocessing** – Extract the most important themes.\n2. **Deep Transcript Analysis** – Identify high-impact insights.\n3. **Idea Categorization & Selection** – Generate exactly three ideas.\n4. **Detailed Element Requirements** – Each idea must be a **5–7 sentence summary of context** that clearly explains what the post could be about, tied back to at least one of the key beliefs.\n5. **Evidence & Fact-Checking** – Support ideas with reasoning where appropriate.\n6. **Storytelling & Sensory Detail** – Make the ideas engaging and vivid.\n7. **Validation & Refinement** – Ensure clarity and alignment with the target market.\n\n# Output Contract (strict)\n\n* Return **only a single minified JSON object** with exactly three string properties: `idea1`, `idea2`, `idea3`.\n* Each value must be 5–7 complete sentences of context.\n* Keys must be lowercase exactly as shown: `idea1`, `idea2`, `idea3`.\n* Do not output an array.\n* Do not include markdown, code fences, commentary, or explanations.\n* Use straight quotes (`\"`) only, no smart quotes.\n* Do not include trailing commas.\n* Never use em dashes (—).\n\n# Reasoning Steps\n1. Read the transcript from the coaching call\n2. Analyze the transcript and find three key ideas discussed in the transcript\n3. Output a summary for three linkedin post ideas that will stand out to the defined target market that match the tone of voice guide.\n\n\n**Valid Example of Output:**\n\n```json\n{\"idea1\":\"Sentence. Sentence. Sentence. Sentence. Sentence.\",\"idea2\":\"Sentence. Sentence. Sentence. Sentence. Sentence.\",\"idea3\":\"Sentence. Sentence. Sentence. Sentence. Sentence.\"}\n```\n\n# Writing Style\n\nMatch Nate’s Tone of Voice guide . Confident, clear, and insightful.\nHere is the tone of voice guide: {{ $json.data }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[160,16],"id":"52a0009c-d98e-48de-b9c3-30bed8710597","name":"AI Agent1","executeOnce":true,"retryOnFail":true},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"array\",\n  \"items\": { \"type\": \"string\" },\n  \"minItems\": 3,\n  \"maxItems\": 3\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[304,240],"id":"306b2202-604c-4da6-8afa-90040139a9eb","name":"Structured Output Parser2"},{"parameters":{"schemaType":"manual","inputSchema":"={\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"object1\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"title\": { \"type\": \"string\" },\n        \"summary\": { \"type\": \"string\" },\n        \"source_summary\": {\n          \"type\": \"string\",\n          \"description\": \"Should contain at runtime (or empty string if null)\"\n        }\n      },\n      \"required\": [\"title\", \"summary\", \"source_summary\"],\n      \"additionalProperties\": false\n    },\n    \"object2\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"title\": { \"type\": \"string\" },\n        \"summary\": { \"type\": \"string\" },\n        \"source_summary\": {\n          \"type\": \"string\",\n          \"description\": \"Should contain {{ $json['Post idea 2'] }} at runtime (or empty string if null)\"\n        }\n      },\n      \"required\": [\"title\", \"summary\", \"source_summary\"],\n      \"additionalProperties\": false\n    },\n    \"object3\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"title\": { \"type\": \"string\" },\n        \"summary\": { \"type\": \"string\" },\n        \"source_summary\": {\n          \"type\": \"string\",\n          \"description\": \"Should contain {{ $json['Post Idea 3'] }} at runtime (or empty string if null)\"\n        }\n      },\n      \"required\": [\"title\", \"summary\", \"source_summary\"],\n      \"additionalProperties\": false\n    }\n  },\n  \"required\": [\"object1\", \"object2\", \"object3\"],\n  \"additionalProperties\": false\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[448,-192],"id":"c2142dc9-6962-465f-ae6a-5c74bd2f0e4e","name":"Structured Output Parser"},{"parameters":{"promptType":"define","text":"=Return only a valid JSON object, strictly matching the schema. Do not include any markdown, explanations, or extra text.\n\nOutput three linkedin post ideas according to the JSON schema.\n\n\n##Call Transcript\nHere is the Transcript:\n{{ $('On form submission').item.json.Transcirpt }}","hasOutputParser":true,"options":{"systemMessage":"=Here’s your **System Message** with the 5–7 sentence requirement spelled out clearly and consistently:\n\n---\n\n# Role and Objective\n\nYou are **Marketing Insights GPT**, Nate Thoreson’s AI Idea Generator and senior marketing strategist. Your objective is to transform Nate’s live coaching-call transcript into three distinct, high-impact LinkedIn post concepts that:\n\n* Engage early-stage tech startups and established businesses launching their first marketing.\n* Reflect Nate’s core beliefs: technology as a growth enabler; simplicity in marketing; data-driven decision-making; future-focused vision.\n* Showcase Nate’s proven expertise in building repeatable marketing systems, hiring and scaling teams, and anticipating technology-driven trends.\n\n# Key Beliefs & Focus Areas (static)\n\n1. **Technology Empowers Growth** – Highlight how tools and platforms unlock new opportunities.\n2. **Simplicity Wins** – Show that focused, clear marketing is more effective than complexity.\n3. **Data Is Your North Star** – Emphasize using metrics to diagnose issues and iterate.\n4. **Audience: Tech Innovators** – Tailor insights for Web3, AI, SaaS, and biotech leaders.\n5. **Future-First Thinking** – Make bold, evidence-backed predictions about emerging trends.\n6. **Marketing isn’t hard** – Follow a system, create a plan, stay consistent.\n7. **Systems are Key** – Without systems you can’t stay consistent.\n\n# Comprehensive Instructions (stable rules)\n\n1. **Transcript Preprocessing** – Extract the most important themes.\n2. **Deep Transcript Analysis** – Identify high-impact insights.\n3. **Idea Categorization & Selection** – Generate exactly three ideas.\n4. **Detailed Element Requirements** – Each idea must be written as a **5–7 sentence summary of context** that clearly explains what the post could be about, tied back to at least one of the key beliefs.\n5. **Evidence & Fact-Checking** – Support ideas with reasoning where appropriate.\n6. **Storytelling & Sensory Detail** – Make the ideas engaging and vivid.\n7. **Validation & Refinement** – Ensure clarity and alignment with the target market.\n\n# Output Format (strict)\n\n* Return **one JSON object** with exactly three properties: `idea1`, `idea2`, `idea3`.\n* Each property must be a string containing **5–7 complete sentences of context**.\n* Return nothing else—no markdown, no headings, no commentary.\n* Never use em dashes (—).\n* Always match Nate’s Tone of Voice (provided separately).\n\n# Writing Style\n\nBefore outputting anything, read the document below to learn about Nate’s Tone of Voice. Then match the Tone of Voice in your output.\n\nHere is the tone of voice guide: {{ $json.data }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[304,-416],"id":"47faa8c8-9f48-47b8-ac48-6b1e86814d97","name":"AI Agent","executeOnce":true,"retryOnFail":true},{"parameters":{"model":{"__rl":true,"value":"o3","mode":"list","cachedResultName":"o3"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[160,240],"id":"a02f832a-b494-4df0-8d9c-2d3f0463e967","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"5Ods8kFLAhbAPcNj","name":"OpenAi account 2"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-5","mode":"list","cachedResultName":"gpt-5"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[992,320],"id":"6a45097a-3818-4fb3-8bce-6d1c78921619","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"5Ods8kFLAhbAPcNj","name":"OpenAi account 2"}}},{"parameters":{"modelName":"models/gemini-1.5-flash-002","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[304,-176],"id":"8f80c559-d1b7-4b69-8228-55d550885863","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"aKWjrd5UDWYnbvkh","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"#anna-linkedin","mode":"name"},"text":"test","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[1600,80],"id":"3742e980-5d1c-425e-90c0-e4a783f49434","name":"Send a message","webhookId":"a7d30fe1-effd-463d-ad43-99b53661a72a","credentials":{"slackApi":{"id":"NfDeuwhOzFeojWOW","name":"Slack account 3"}}},{"parameters":{"operation":"text","binaryPropertyName":"=data","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-160,16],"id":"d000eff3-3989-4a6f-bd6b-a5515779b3d0","name":"Extract tone of voice"}],"connections":{"Loop Over Items":{"main":[[],[{"node":"Writing Prompt","type":"main","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"Writing Prompt","type":"ai_outputParser","index":0}]]},"Writing Prompt":{"main":[[{"node":"Create a database page","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[]]},"Create a database page":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Doc Created":{"main":[[{"node":"Download Doc Transcript","type":"main","index":0}]]},"Download Doc Transcript":{"main":[[]]},"Get Transcript":{"main":[[{"node":"Extract Transcript","type":"main","index":0}]]},"Extract Transcript":{"main":[[]]},"Get Tone of Voice":{"main":[[]]},"On form submission":{"main":[[{"node":"Get Tone of Voice1","type":"main","index":0}]]},"Get Tone of Voice1":{"main":[[{"node":"Extract tone of voice","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Structured Output Parser2":{"ai_outputParser":[[{"node":"AI Agent1","type":"ai_outputParser","index":0}]]},"AI Agent1":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Writing Prompt","type":"ai_languageModel","index":0}]]},"Extract tone of voice":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Doc Created":{"lastTimeChecked":"2025-09-16T01:46:13Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Doc Created":[{"json":{"exportLinks":{"application/rtf":"https://docs.google.com/feeds/download/documents/export/Export?id=19dlC2yy61ewYVLdEko7S3ik8naRqg1tMO73WNGLH2Vo&exportFormat=rtf","application/vnd.oasis.opendocument.text":"https://docs.google.com/feeds/download/documents/export/Export?id=19dlC2yy61ewYVLdEko7S3ik8naRqg1tMO73WNGLH2Vo&exportFormat=odt","text/html":"https://docs.google.com/feeds/download/documents/export/Export?id=19dlC2yy61ewYVLdEko7S3ik8naRqg1tMO73WNGLH2Vo&exportFormat=html","application/pdf":"https://docs.google.com/feeds/download/documents/export/Export?id=19dlC2yy61ewYVLdEko7S3ik8naRqg1tMO73WNGLH2Vo&exportFormat=pdf","text/x-markdown":"https://docs.google.com/feeds/download/documents/export/Export?id=19dlC2yy61ewYVLdEko7S3ik8naRqg1tMO73WNGLH2Vo&exportFormat=markdown","text/markdown":"https://docs.google.com/feeds/download/documents/export/Export?id=19dlC2yy61ewYVLdEko7S3ik8naRqg1tMO73WNGLH2Vo&exportFormat=markdown","application/epub+zip":"https://docs.google.com/feeds/download/documents/export/Export?id=19dlC2yy61ewYVLdEko7S3ik8naRqg1tMO73WNGLH2Vo&exportFormat=epub","application/zip":"https://docs.google.com/feeds/download/documents/export/Export?id=19dlC2yy61ewYVLdEko7S3ik8naRqg1tMO73WNGLH2Vo&exportFormat=zip","application/vnd.openxmlformats-officedocument.wordprocessingml.document":"https://docs.google.com/feeds/download/documents/export/Export?id=19dlC2yy61ewYVLdEko7S3ik8naRqg1tMO73WNGLH2Vo&exportFormat=docx","text/plain":"https://docs.google.com/feeds/download/documents/export/Export?id=19dlC2yy61ewYVLdEko7S3ik8naRqg1tMO73WNGLH2Vo&exportFormat=txt"},"parents":["1TO-Fiugsyj9AVc_7nSOcG2H1_EorFRre"],"lastModifyingUser":{"displayName":"Nate Thoreson","kind":"drive#user","me":false,"permissionId":"00854821172244564359","emailAddress":"nate@leanmarketing.com","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjX8kpy6-zQvDYz5gIKC710ptxHuo4DmqAnFIcXbJYHVVLazy8EMCGjjNpehKjRlwnDOwKwxEmAvdDAkTmG8X9PesGFDUD5L9unp9UmxExltAjXC0uqnDEy-h_kY7lFWyk2HgAsbhu-7qfemKNRF5Ae3bjdhYyzGMM4s3nWnlZBhhJ_HTcP92bH7wflKwsPbkFv-g-yC2S2wb__1YK_1dtqTwFQfQ4pnba0oei5ziGceqGYxEdfJ_GcCMvGpl88jQErN1e45FrdpiLd21hl-fmWpMm14x50S4J855GaNjbqlz0JHxz28HXmFeatkzguasG17A3sYFUPI8W1NjBk69bVD09PTywMOzPdC8Wm3KFSU_mxw47Sm-N2yZrYATnGEiq78R-DFnOAdAlAx4HzLKyU90WgM7uyu_06pHpE03W87T3Sc89sMHtNOq6sOVesJGUQ5npDibgaDH3JlV-AYfHRJMxB2KYIb5LS2cAbnrZ7MSh4tUAONoM-VM_ZT3_sHzOKdQsUiXY0x0NLaEbGvdntP19Dtnv8Oerjnv5R9jaZ3iQVxRgmB8j1_L_us4BzRgaeZ94eh9nFu7Zlv4XINieoi65LTaRfsuqiKvQZsJOqO_gm7cNwROOu7OrWRTxOJ1jlF2LZZSaYX3w2tOdeW56WWRqWaT4Si9O7gF_f1j-hv89_CYGMRnjW87tiVrszFFrYApy6VFftMN7-YYw2C4Xb3SbsStz8jCPpYvmPwq8167rNPtWhn5n7tyvo1JzCG8QWetKvnv5IdKgQBcI5Xhgycopk1tjHfPIJn7NtKNRw_JppMei1_EElyacmVc858ovIdUVbhR37qSVD0dLlf2jx3vXU05f3cy6-wvjIZultE2Mz3nMfDk5may-VxfTdo7e51ppoHwa1GKu20_UxdxznpsOzZ7aaMR7D9XxtWO-ZSLAZYuU6AY98GCBGVsw22gcnXVaonwSmuqHsnDtf6v61C1gKWSZck7Q=s64"},"spaces":["drive"],"capabilities":{"canAddChildren":false,"canAddFolderFromAnotherDrive":false,"canChangeCopyRequiresWriterPermission":true,"canChangeItemDownloadRestriction":true,"canChangeSecurityUpdateEnabled":false,"canChangeViewersCanCopyContent":true,"canComment":true,"canCopy":true,"canDelete":true,"canDeleteChildren":false,"canDisableInheritedPermissions":false,"canDownload":true,"canEdit":true,"canEnableInheritedPermissions":true,"canListChildren":false,"canModifyContent":true,"canModifyContentRestriction":true,"canModifyEditorContentRestriction":true,"canModifyOwnerContentRestriction":true,"canModifyLabels":true,"canMoveChildrenOutOfTeamDrive":false,"canMoveChildrenOutOfDrive":false,"canMoveChildrenWithinTeamDrive":false,"canMoveChildrenWithinDrive":false,"canMoveItemIntoTeamDrive":true,"canMoveItemOutOfTeamDrive":true,"canMoveItemOutOfDrive":true,"canMoveItemWithinTeamDrive":true,"canMoveItemWithinDrive":true,"canMoveTeamDriveItem":true,"canReadLabels":true,"canReadRevisions":true,"canReadTeamDrive":true,"canReadDrive":true,"canRemoveChildren":false,"canRemoveContentRestriction":false,"canRename":true,"canShare":true,"canTrash":true,"canTrashChildren":false,"canUntrash":true},"permissionIds":["04144416295392807947","05972359903927381381","17283703484709014695","07064520286321629893","14045690446659778403","10215096179113048758","17520543317646809613","17774716610873657005","00854821172244564359","16191187095607424634","13348624812833485414","03434107166484373704"],"linkShareMetadata":{"securityUpdateEligible":false,"securityUpdateEnabled":true},"downloadRestrictions":{"itemDownloadRestriction":{"restrictedForReaders":false,"restrictedForWriters":false},"effectiveDownloadRestrictionWithContext":{"restrictedForReaders":false,"restrictedForWriters":false}},"kind":"drive#file","id":"19dlC2yy61ewYVLdEko7S3ik8naRqg1tMO73WNGLH2Vo","name":"Tone of Voice Guide - LinkedIn WritingTesting - Nate","mimeType":"application/vnd.google-apps.document","starred":false,"trashed":false,"explicitlyTrashed":false,"version":"14","webViewLink":"https://docs.google.com/document/d/19dlC2yy61ewYVLdEko7S3ik8naRqg1tMO73WNGLH2Vo/edit?usp=drivesdk","iconLink":"https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.document","hasThumbnail":true,"thumbnailLink":"https://lh3.googleusercontent.com/drive-storage/AJQWtBO0hHdFcJGqQZ4lrg5NWcLETBwRniE9AEWw9duAQtPci6tDJldcEYBcxMmI_C0Hpk4K246FNH_hJYkE3jL7TDKWNDSahi9oaeyi9Bcq65pq7dLc0sijGf-4Je-a3g=s220","thumbnailVersion":"2","viewedByMe":false,"createdTime":"2025-09-16T00:36:50.807Z","modifiedTime":"2025-09-16T00:46:26.238Z","modifiedByMe":false,"teamDriveId":"0ADnqVp7RccIeUk9PVA","driveId":"0ADnqVp7RccIeUk9PVA","viewersCanCopyContent":true,"copyRequiresWriterPermission":false,"hasAugmentedPermissions":false,"size":"7795","quotaBytesUsed":"7795","isAppAuthorized":false,"inheritedPermissionsDisabled":false}}]},"versionId":"17040095-0534-4046-b2ed-991f0763b06e","triggerCount":2,"shared":[{"createdAt":"2025-09-15T17:57:13.129Z","updatedAt":"2025-09-15T17:57:13.129Z","role":"workflow:owner","workflowId":"yaYgM7TqcybexWm4","projectId":"oeHwV8sNrbPNhUov"}],"tags":[]}