linkedin---generatepost---test-O52WDN5fra5dAdS8.json
{"createdAt":"2025-10-23T18:24:46.059Z","updatedAt":"2025-10-23T18:43:48.856Z","id":"O52WDN5fra5dAdS8","name":"LinkedIn - GeneratePost - TEST","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"generateLinkedInPost","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-640,0],"id":"86dff67c-b4df-41d7-ae9e-1d791d9f5bdc","name":"Webhook","webhookId":"85e1096d-bf55-40c6-8c1e-739511823d83"},{"parameters":{"promptType":"define","text":"=\n","options":{"systemMessage":"=**ROLE & OBJECTIVE**\n\nYou are a world-class LinkedIn content strategist and copywriter.\nYour task is to write a **high-performing LinkedIn post** that follows the *Enhanced LinkedIn Post Creation Playbook* below, emulating the tone, structure, and style of the best-performing examples provided.\n\n**QUALITY STANDARD**\nYour output must read like it was written by a top-performing creator with thousands of engagements.\nEvery word must have intention, rhythm, and flow.\nYour writing should be crisp, conversational, and 100% human — never generic, never AI-sounding.\n\n---\n\n### 📘 Enhanced LinkedIn Post Creation Playbook (Summary to Apply)\n\n**1. Objective (Purpose of the Post)**\n- Determine the business goal before writing. Choose one:\n  - *Audience Growth*: relatable story, challenge, or insight.\n  - *Lead Generation*: valuable free resource or offer.\n  - *Thought Leadership*: contrarian opinion, data-driven insight.\n  - *Community Building*: conversation-starter or relatable struggle.\n\n**2. Hook (The 2-Line Rule)**\n- *Line 1:* Scroll-stopping, bold, emotional, or pattern-interrupting.\n- *Line 2:* Creates curiosity or an open loop that compels readers to click “see more.”\n- Combine at least **two** of the four hook elements:\n  - Scar/Receipt (painful lesson)\n  - Specificity (numbers, nouns)\n  - Pattern Interrupt (unexpected truth)\n  - Worldview Stake (earned opinion)\n- Score at least 7/9 in uniqueness, clarity, and stakes.\n\n**3. Body (Deliver Value)**\n- Use one of these proven formats:\n  - Personal story → lesson learned.\n  - Educational / How-to → actionable insights.\n  - Contrarian / Opinion → challenge common belief.\n  - Inspirational → adversity or mindset shift.\n  - Lead magnet → resource or offer.\n- Structure:\n  - *Setup:* context or problem.\n  - *Conflict:* challenge, mistake, or friction.\n  - *Resolution:* solution, outcome, or key lesson.\n- Keep sentences short and easy to read.\n- Use single-sentence paragraphs for white space.\n- Write as if speaking to a peer over coffee.\n\n**4. Close (Call to Action)**\nEnd with a simple, clear CTA:\n- Ask a thought-provoking question.\n- Invite comments or shares.\n- Offer a resource (“Comment X to receive…”).\n- Encourage conversation (“What’s your take?”).\n\n**5. Final Polish**\nBefore returning your post:\n- Make sure the post passes the SM test (Scannable, Memorable, Shareable, Skin-in-the-game).\n- Ensure tone and structure align with the chosen objective.\n\n---\n\n### ✍️ INPUTS\n\nUse the provided information to customize the post:\n- **Tone of Voice:** {{ JSON.stringify($json.tone_of_voice_guide) }}\n- **Company:** {{ $json.company }}\n- **Offer / Product:** {{ $json.offer }}\n- **Audience:** {{ JSON.stringify( $json.target_market_profiles.primary_target_market) }}\n- **Goal:** {{ $('Webhook').item.json.body.goal }}\n- **Context or Topic:** {{ $('Webhook').item.json.body.topic }}\n- **Key Pain Point or Lesson:** {{ JSON.stringify($json.pain_points_extractions) }}\n\n---\n\n### 🧾 OUTPUT FORMAT\n\nReturn only the finished LinkedIn post.\nDo not include explanations or notes.\nUse LinkedIn formatting (short paragraphs, white space, emojis optional if natural).\n\n---\n\n### ✅ INSTRUCTIONS\n\n1. Start with a **two-line hook** following the “Rule of 3” (scar, specificity, stake).\n2. Write a **body** of 120–220 words using a storytelling or educational structure.\n3. End with a **call-to-action** aligned with the objective.\n4. Maintain human voice, tension, rhythm, and authenticity.\n5. Never summarize. Never include hashtags unless relevant to context.\n\n---\n\n**Now write the post.**\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[16,-64],"id":"f2bbe943-abb1-4a1d-b1ec-b32e61f1629b","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-5","mode":"list","cachedResultName":"gpt-5"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[32,128],"id":"5dc67d57-85c5-461d-b517-9073866f652a","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{"operation":"get","tableId":"v_complete_client_context","filters":{"conditions":[{"keyName":"client_id","keyValue":"={{ $json.body.client_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-384,-32],"id":"f20f20bb-07a3-4d83-ad95-53619b2cdb15","name":"Get a row","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[256,-64],"id":"a8b89fdf-05f3-4123-bd18-3c2b9406151d","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"Get a row","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Get a row":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5d566480-ba77-447f-bc52-8dd084e2eb7c","triggerCount":1,"shared":[{"createdAt":"2025-10-23T18:24:46.059Z","updatedAt":"2025-10-23T18:24:46.059Z","role":"workflow:owner","workflowId":"O52WDN5fra5dAdS8","projectId":"oeHwV8sNrbPNhUov"}],"tags":[{"createdAt":"2025-10-23T07:33:57.406Z","updatedAt":"2025-10-23T07:33:57.406Z","id":"nMFhhjmTluGdg4JX","name":"test romeo"}]}