manual-1:1-call-qc-Wfww8ufou8MaBg3R.json
{"createdAt":"2025-08-03T04:43:15.569Z","updatedAt":"2025-08-04T20:55:28.670Z","id":"Wfww8ufou8MaBg3R","name":"Manual 1:1 Call QC","active":false,"isArchived":true,"nodes":[{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json['Google Doc Transcript'] }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[336,448],"id":"7c768d28-b04d-41b8-9a4e-8497a4d1d003","name":"Download file5","credentials":{"googleDriveOAuth2Api":{"id":"3VzmfL5shCfEf9cg","name":"Google Drive account 2"}}},{"parameters":{"operation":"text","destinationKey":"callTranscript","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[576,448],"id":"094d139d-c727-4d3b-9c22-4d81fc76697b","name":"Extract from File4"},{"parameters":{"formTitle":"Manual 1:1 Trigger","formDescription":"Purpose: Manually Trigger a New Client Call \n\nStep 1: Open this folder: https://drive.google.com/drive/folders/1TO-Fiugsyj9AVc_7nSOcG2H1_EorFRre?dmr=1&ec=wgc-drive-globalnav-goto\n\nStep 2: Open the document you want to analyze\n\nStep 3: Copy the URL and paste it in the field below","formFields":{"values":[{"fieldLabel":"Google Doc Transcript"}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[0,448],"id":"80fbca92-16cb-48c8-a294-ffa4b2f9a592","name":"On form submission1","webhookId":"5712393c-d081-46f2-90a3-6bfccd58724e"},{"parameters":{"text":"={{ $json.callTranscript }}","attributes":{"attributes":[{"name":"Attendees emails","description":"These are all the emails of the users on the call. Could be Multiple.","required":true},{"name":"Name of Attendees","description":"These are the names of the people attending the call.","required":true},{"name":"Email of Fathom User","description":"This is the email of the user"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.1,"position":[816,320],"id":"486a2993-8177-446c-ab6c-610fc2681215","name":"Information Extractor1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[880,624],"id":"c0f56d64-091f-43ea-a48f-edff12b71ded","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"5Ods8kFLAhbAPcNj","name":"OpenAi account 2"}}},{"parameters":{"jsCode":"// Get the URL from the 'Transcript ID' field of the first input item\nconst url = $input.first().json['Google Doc Transcript'];\n\nif (!url || typeof url !== 'string') {\n  throw new Error(\"Missing or invalid 'Google Doc Transcript' (URL) in the input.\");\n}\n\n// Extract the document ID from the Google Docs URL\nconst match = url.match(/\\/d\\/([^/]+)/);\n\nif (!match || !match[1]) {\n  throw new Error(\"No valid Google Doc ID found in the 'Google Doc Transcript' field.\");\n}\n\n// Return the result with the desired key name\nreturn {\n  json: {\n    'Google Doc Transcript': match[1],\n  },\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[160,448],"id":"4ef2ebe8-16d8-4967-86be-82a1cc1b9b33","name":"Code"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"title\": \"Coaching Call Analysis Output\",\n  \"description\": \"Schema for structured call analysis agent output from coaching call transcripts\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"company_name\": {\n      \"type\": \"string\",\n      \"description\": \"The name of the company\"\n    },\n    \"host\": {\n      \"type\": \"string\",\n      \"description\": \"Name of the coach or advisor who hosted the call\"\n    },\n    \"summary\": {\n      \"type\": \"string\",\n      \"description\": \"Concise title and 2–4 short sentences summarizing key discussion points, primary goals, obstacles, and client-coach alignment\"\n    },\n    \"discussion_points\": {\n      \"type\": \"string\",\n      \"description\": \"Structured bullet list of concrete follow-up actions with responsible party and deadlines\"\n    },\n    \"date_of_call\": {\n      \"type\": \"string\",\n      \"pattern\": \"^[A-Za-z]+ \\\\d{1,2}, \\\\d{4}$\",\n      \"description\": \"Date of the call in 'Month Day, YYYY' format (e.g., 'January 15, 2025')\"\n    },\n    \"consulting_health\": {\n      \"type\": \"string\",\n      \"enum\": [\"Green\", \"Yellow\", \"Red\"],\n      \"description\": \"Client implementation status: Green (strong progress), Yellow (partial/stagnation), Red (no implementation/falling behind)\"\n    },\n    \"sentiment\": {\n      \"type\": \"string\",\n      \"enum\": [\"Positive\", \"Uncertain\", \"Unrealistic expectations\", \"Negative\"],\n      \"description\": \"Client buy-in and engagement classification\"\n    },\n    \"link_to_call_recording\": {\n      \"type\": \"string\",\n      \"format\": \"uri\",\n      \"pattern\": \"^https://fathom\\\\.video\",\n      \"description\": \"Direct URL to the call recording from the document (must start with https://fathom.video)\"\n    },\n    \"archetype\": {\n      \"type\": \"string\",\n      \"enum\": [\"Doer\", \"Driver\", \"Worrier\", \"Follower\"],\n      \"description\": \"Client classification: Doer (high self-confidence, low tool confidence), Driver (high both, distrusts advisor), Worrier (low both, overthinks), Follower (low self, high tool confidence)\"\n    },\n    \"red_flags\": {\n      \"type\": \"string\",\n      \"description\": \"Three bullet points of major client blockers with timestamps and negative emotions\"\n    },\n    \"green_lights\": {\n      \"type\": \"string\",\n      \"description\": \"Three bullet points of positive signals with timestamps and positive emotions\"\n    },\n    \"rapport_score\": {\n      \"type\": \"integer\",\n      \"enum\": [1, 3, 5, 7],\n      \"description\": \"Score for how well coach built rapport (warmth, curiosity, mirroring, pacing)\"\n    },\n    \"agenda_score\": {\n      \"type\": \"integer\",\n      \"enum\": [1, 3, 5, 7],\n      \"description\": \"Score for agenda clarity and maintenance during the call\"\n    },\n    \"energy_score\": {\n      \"type\": \"integer\",\n      \"enum\": [1, 3, 5, 7],\n      \"description\": \"Score for coach engagement, presence, and momentum maintenance\"\n    },\n    \"summary_action_score\": {\n      \"type\": \"integer\",\n      \"enum\": [1, 3, 5, 7],\n      \"description\": \"Score for how well next steps were summarized and clarified\"\n    },\n    \"renewal_convo_analysis\": {\n      \"type\": [\"string\"],\n      \"description\": \"Two-paragraph analysis of contract renewal conversation (what worked well and what could improve), or write 'nothing discussed' if not applicable\"\n    },\n    \"action_items\": {\n      \"type\": \"string\",\n      \"description\": \"Bullet list of primary action items from the call\"\n    },\n    \"fathom_summary\": {\n      \"type\": \"string\",\n      \"description\": \"Structured Fathom-style summary with Title, Meeting Purpose, Key Takeaways, Topics, Next Steps, and Action Items\"\n    }\n  },\n  \"required\": [\n    \"company_name\",\n    \"host\",\n    \"summary\",\n    \"discussion_points\",\n    \"date_of_call\",\n    \"consulting_health\",\n    \"sentiment\",\n    \"link_to_call_recording\",\n    \"archetype\",\n    \"red_flags\",\n    \"green_lights\",\n    \"rapport_score\",\n    \"agenda_score\",\n    \"energy_score\",\n    \"summary_action_score\",\n    \"action_items\",\n    \"fathom_summary\"\n  ],\n  \"additionalProperties\": false\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[2944,672],"id":"250a2e50-0649-486d-b8d5-e5cbddd90c77","name":"Structured Output Parser3"},{"parameters":{"documentId":{"__rl":true,"value":"1mmVcdIyaz-jfaRseG97pFPeh1OVeT9T11p87k31oG5M","mode":"list","cachedResultName":"Slack User to Company Mapping","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1mmVcdIyaz-jfaRseG97pFPeh1OVeT9T11p87k31oG5M/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1mmVcdIyaz-jfaRseG97pFPeh1OVeT9T11p87k31oG5M/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1344,208],"id":"5de78ef6-ec94-43b4-9db4-15a9d61ec223","name":"Reads Slack Google Sheet2","retryOnFail":true,"credentials":{"googleSheetsOAuth2Api":{"id":"fDxpMWdEItte31h1","name":"Google Sheets account 2"}}},{"parameters":{"aggregate":"={{ $json.Name }}","fieldsToAggregate":{"fieldToAggregate":[{}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1568,208],"id":"c595f562-bf29-494d-b186-c9f6f27a0329","name":"Aggregate2"},{"parameters":{"promptType":"define","text":"=Return only a valid JSON object, strictly matching the schema. Do not include any markdown, explanations, or extra text.\n\nAnalyze this contnet: {{ $json.data }}\n\n","hasOutputParser":true,"options":{"systemMessage":"=##Role and Objective##\n\nYou are a structured call analysis agent. Your job is to extract actionable insights, performance ratings, and psychological assessments from coaching call transcripts. Each output must conform strictly to a defined JSON schema. Your judgments must be supported by explicit evidence from the call.\n\n##Instructions##\n\nAnalyze the entire document thoroughly.\n\nFollow the specific field definitions below. Be exact.\n\nUse concrete call content for all inferences—no speculation.\n\nFormat output as a valid JSON object, conforming to the schema below.\n\nDo not end until all sections are complete, thoroughly supported, and explicitly described.\n\nAssume current year is 2025 unless otherwise stated.\n\n##Field Definitions##\n\n#Company Name#\n\nDefinition: The name of the company.\n\n#Host#\n The name of the advisor. This can be found immediatly after \"Fathom User Email\"\n\n#summary#\n\nDefinition: Provide a concise title and 1 short sentence summarizing the key discussion point of the call. Focus on primary goals, obstacles, and client-coach alignment. It is not necessary to use complete sentences. Highlight only the most impactful results and topics discussed on the call. Do not use full sentences. \n\n#discussion_points#\n\nDefinition: A structured bullet list of concrete follow-up actions mentioned during the call.\n\nEach item must include:\n\nAction item\n\nWho is responsible \n\nDeadline or expected time frame (if mentioned)\n\nUse imperative tone (\"Complete X\", \"Send Y\").\n\n##DateOfCall##\n\nDefinition: Date of the call, in \"Month Day, YYYY\" format.\nYou will receive the format in ISO 8601 format. you must translate that to extrade the date in \"Monday Day, Year\" format. \n\n#consulting_health#\n\nDefinition: Use your best judgment to determine the current progress of their marketing plan, excecution of critical tasks, and weather or not they will achieve the goals they set for themselves. Evaluate the client’s implementation status using these categories:\n\n#Green#: Strong implementation, following direction, making progress, bought into the plan, agrees with the implemenation plan and suggestions from the advisor, confident about the future and the plan moving forward. During the call, the client may be uncertain at the beginning of the call but feels much more confident at the end of the call, mark as green\n\nPhrases/indicators: “You're doing great”, “On track”, “Making great progress”, \"this plan sounds great,\" \"Thank you for your support and help,\" \"we are loving the program,\" \"That makes sense\", \"I like that\", \"back on track\"\n\n#Yellow#: Partial implementation or early signs of stagnation, not in agreement with the plan. \n\nPhrases/indicators: “We need to pick up the pace”, “What's blocking this?”, “This might become an issue”, \"I'm stuck,\" \"I'm confused\"\n\n#Red#: No implementation, not following guidance, falling behind, agressive toward the advisor, negitive sentiment toward lean marketing, not bought into the plan set out by the advisor\n\nPhrases, Indicators: No follow-through, repeated inaction, verbal resistance, \"You're not making progress,\" \"Something isn't working,\" \"Something needs to change\", \"Frustrated,\" \"Falling apart\"\n\n#sentiment#\n\nDefinition: Classify client buy-in and engagement intzzo one of the following:\n\n\"Positive\": Client is coachable, follows through, shows ownership and positivity.\n\n\"Uncertain\": Client is ambiguous, lacks action, seems unsure but not resistant.\n\n\"Unrealistic expectations\": Client is motivated but disconnected from feasible timelines, underestimates effort required.\n\n\"Negative\": Client resists feedback, lacks accountability, expresses pessimism or frustration.\n\nKey rules:\n\nNever classify as Positive if client shows:\n\nPessimism\n\nBlame-shifting\n\nUncoachable or dismissive behavior\n\nNegative emotional volatility\n\nLabel as Uncertain if client:\n\nHesitates or deflects accountability\n\nUses vague or passive language\n\nLabel as Positive if client:\n\nIs upbeat, clear, and aligned with next steps\n\n#LinkToCallRecording#\n\nDefinition: Direct URL link to the full call recording. You will find this in the provided document under the label \"URLs\"\n\nSpecial instructions for recording_link property. NEVER output a made up link. You will find the URL within the provided document. In the link above the URL, you will find a label: \"URLs\". Only output the URL that is directly below that label. The Correct URL will always begin with \"https://fathom.video:\n\narchetype\n\nDefinition: Classify the client into one of four types based on confidence, emotional tone, and behavior:\n\nDoer:\n\nHigh confidence in self\n\nLow confidence in tools\n\nTrusts advisor, shows no arrogance\n\nHigh work ethic, takes direction\n\nDriver:\n\nHigh confidence in self and tools\n\nDistrusts advisor, seeks control\n\nMay show arrogance\n\nFocused obsessively on results\n\nWorrier:\n\nLow self-confidence, low confidence in tools\n\nNo complacency or arrogance\n\nOverthinks\n\nEasily overwhelmed\n\nFollower:\n\nLow self-confidence, high confidence in tools\n\nPassive or complacent\n\nDoesn’t challenge assumptions, seeks reassurance\n\nred_flags\n\nDefinition: Identify 3 major challenges, pain points, or blockers raised by the client.\n\nFormat as bullet points\n\nInclude:\n\nTimestamp (e.g., \"00:17:05\")\n\nDescription of the challenge\n\nOne or more negative emotions detected (e.g., “overwhelm”, “frustration”, “resignation”)\n\n#green_lights#\n\nDefinition: Identify 3 positive signals from the client.\n\nFormat as bullet points\n\nInclude:\n\nTimestamp (e.g., \"00:32:40\")\n\nDescription of the win, clarity, or alignment\n\nOne or more positive emotions (e.g., “enthusiasm”, “relief”, “confidence”)\n\n## RapportScore\n- 1 = No rapport, conversation felt tense or cold, little mutual curiosity or personal sharing.\n- 3 = Below average rapport; coach showed minimal warmth or curiosity, somewhat transactional.\n- 5 = Good connection, moderate warmth and curiosity, shared small personal or business insights.\n- 7 = Excellent rapport, warm, engaged, coach and client laughed or explored personal angles.\n\n## AgendaScore\n- 1 = No agenda set, conversation was unfocused and jumped around.\n- 3 = Coach hinted at general outline but didn’t clearly define steps or priorities.\n- 5 = Clear solid agenda, listed primary topics, revisited goals midway.\n- 7 = Very strong agenda setting — listed all points, got explicit client alignment, and recapped at end.\n\n## EnergyScore\n- 1 = Flat energy, little emotion, call dragged, minimal vocal or emotional engagement.\n- 3 = Below average energy, slightly monotone or hesitant, only brief moments of engagement.\n- 5 = Average healthy energy, steady momentum, moderate enthusiasm and interest.\n- 7 = Very high energy, coach and client sounded excited, enthusiastic, kept momentum high.\n\n## SummaryActionScore\n- 1 = No clear summary or next steps, ended abruptly or with confusion.\n- 3 = Brief or vague mention of next steps, no ownership or dates confirmed.\n- 5 = Reasonably clear summary and next steps, some responsibilities discussed.\n- 7 = Excellent summary — explicit wrap-up, responsibilities, deadlines, and strong close.\n\nBe rigorous. If in doubt, choose the lower score.\n\n#renewal_convo_analysis#\n\nDefinition: If there was a conversation about contract renewal:\n\nDescribe what worked well (e.g., emotional buy-in, clear benefits).\n\nPoint out what could have gone better (e.g., missed timing, hesitations).\n\nStructure as two short paragraphs.\n\n#Reasoning Steps#\n\nIdentify the structure of the call (intro, main body, wrap-up).\n\nLocate each required insight by scanning for key phrases and tone shifts.\n\nUse direct evidence—quotes, timestamps, and tone—to inform each field.\n\nEnsure no field is missed or left vague.\n\nFinalize output in exact JSON format, with values for every field.\n\n#Output Format#\n\nReturn all findings as a valid JSON object with named fields exactly as specified above. If a field is not present in the conversation, use null.\n\n#Context#\n\nThis prompt powers a coaching call intelligence agent. Its job is to help human reviewers understand client mindset, follow-through, and risks. The agent must output structured, deeply grounded analysis from unstructured call transcripts.\n\n#action_items#\nDefinition: bullet list of primary action items from the call\n\n#fathom_summary#\n\nDefinition: Provide a structured, concise summary suitable for a Fathom-style call overview.\n\nInclude the following components:\n\nTitle: Format as \"Call Name - Date\"\n\nMeeting Purpose: One sentence summarizing the purpose of the call\n\nKey Takeaways: Bullet list of the most important insights and conclusions from the call\n\nTopics: Bullet list of main topics discussed\n\nNext Steps: Bullet list of clear steps attendees should take\n\nAction Items: Bullet list of immediate tasks to be completed by attendees\n\n#Final instructions and prompt to think step by step#\n\nFirst, think carefully step by step:\n\nParse the call structure (opening → discussion → closing).\n\nIdentify discussion points, red/green flags, tone shifts, and sentiment indicators.\n\nMatch insights to the correct fields above.\n\nPopulate each field using the definitions and behavioral criteria.\n\nReturn only a valid JSON object, strictly matching the schema. Do not include any markdown, explanations, or extra text.\n\nDo not stop or yield until all outputs are clearly populated and evidence-based.\n\n","passthroughBinaryImages":false}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[2816,448],"id":"b79cdd63-9726-41e5-b5f6-8d1f2f142677","name":"AI Agent","executeOnce":true,"retryOnFail":true},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2832,672],"id":"518d203d-be85-415d-b30a-0ca3d27db6cd","name":"OpenAI Chat Model6","credentials":{"openAiApi":{"id":"5Ods8kFLAhbAPcNj","name":"OpenAi account 2"}}},{"parameters":{"jsCode":"// 1. Grab your company data\nconst companyData = $input.first().json.data;\nif (!Array.isArray(companyData)) {\n  throw new Error('Missing or invalid companyData array');\n}\n\n// 2. Grab the full transcript text from input JSON (not from $node)\nconst fullText = $('Extract from File4').first().json.callTranscript\nif (typeof fullText !== 'string') {\n  throw new Error('Missing callTranscript string');\n}\n\n// 3. Isolate the line after \"Attendees Emails\"\nconst parts = fullText.split(/Attendees Emails\\s*/i);\nif (parts.length < 2) {\n  throw new Error('Couldn’t find \"Attendees Emails\" header in transcript');\n}\nconst afterEmails = parts[1];\n\n// 4. Pull out the first non-empty line (that holds the comma-list)\nconst lines = afterEmails\n  .split(/\\r?\\n/)\n  .map(l => l.trim())\n  .filter(l => l.length);\nconst emailLine = lines[0];\nif (!emailLine.includes('@')) {\n  throw new Error('No email line found after the header');\n}\n\n// 5. Parse into an array\nconst emails = emailLine\n  .split(',')\n  .map(e => e.trim().toLowerCase())\n  .filter(Boolean);\n\n// 6. Build your email → company lookup\nconst emailLookup = {};\ncompanyData.forEach(row => {\n  if (row.Email) {\n    emailLookup[row.Email.toLowerCase()] = {\n      companyName: row['Company as in Notion'],\n      notionId:    row['Notion ID']\n    };\n  }\n});\n\n// 7. Match attendees\nconst matchResults = emails\n  .map(email => {\n    const m = emailLookup[email];\n    if (!m) return null;\n    return {\n      json: {\n        type:                'email_match',\n        Email:               email,\n        'Company as in Notion': m.companyName,\n        'Notion ID':           m.notionId\n      },\n      pairedItem: { item: 0 }\n    };\n  })\n  .filter(Boolean);\n\n// 8. Package your external data (attach the full transcript here)\nconst external = {\n  type:         'external_data',\n  someField:    'exampleValue',\n  anotherField: fullText\n};\n\n// 9. Merge & return\nif (matchResults.length) {\n  Object.assign(matchResults[0].json, external);\n  return [ matchResults[0] ];\n}\nreturn [{ json: external, pairedItem: { item: 0 } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2144,448],"id":"709487c0-cbc0-4d3a-8dfb-b2e8faeae20c","name":"Code3","executeOnce":true,"onError":"continueErrorOutput"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1872,448],"id":"2535508b-98a4-469d-940a-824dd1fbabd2","name":"Merge1","onError":"continueErrorOutput"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Download file5').item.json['Google Doc Transcript'] }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2368,448],"id":"91c5e4bb-c0e9-47c1-9d50-76433cfbf021","name":"Download file4","credentials":{"googleDriveOAuth2Api":{"id":"3VzmfL5shCfEf9cg","name":"Google Drive account 2"}}},{"parameters":{"operation":"text","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[2592,448],"id":"8999b792-0a31-4456-9bf7-d4d256431939","name":"Extract from File5"},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"19640ee4-a8af-802e-bc8f-cbb117d92c53","mode":"list","cachedResultName":"Client Status Updates","cachedResultUrl":"https://www.notion.so/19640ee4a8af802ebc8fcbb117d92c53"},"title":"title","propertiesUi":{"propertyValues":[{"key":"Summary|title","title":"={{ $('AI Agent').item.json.output.summary }}"},{"key":"Date|date","includeTime":false,"date":"={{ $json.output.date_of_call }}","timezone":"Australia/West"},{"key":"Client Health|select","selectValue":"={{ $('AI Agent').item.json.output.consulting_health }}"},{"key":"Sentiment|select","selectValue":"={{ $('AI Agent').item.json.output.sentiment }}"},{"key":"Link to Call Recording|url","urlValue":"={{ $('AI Agent').item.json.output.link_to_call_recording }}"},{"key":"Archetype|select","selectValue":"={{ $('AI Agent').item.json.output.archetype }}"},{"key":"Red Flags|rich_text","textContent":"={{ $('AI Agent').item.json.output.red_flags }}"},{"key":"Green Lights|rich_text","textContent":"={{ $('AI Agent').item.json.output.green_lights }}"},{"key":"Client|relation","relationValue":["={{ $('Code3').item.json['Notion ID'] }}"]},{"key":"Client Name|rich_text","textContent":"={{ $('AI Agent').item.json.output.company_name }}"},{"key":"Agenda Score|number"},{"key":"Action Items|rich_text","textContent":"={{ $('AI Agent').item.json.output.action_items }}"},{"key":"Agenda Score|number","numberValue":"={{ $json.output.agenda_score }}"},{"key":"Energy Score|number","numberValue":"={{ $json.output.energy_score }}"},{"key":"Rapport Score|number","numberValue":"={{ $json.output.rapport_score }}"},{"key":"Summary & Action Score|number","numberValue":"={{ $json.output.summary_action_score }}"},{"key":"Host|rich_text","textContent":"={{ $json.output.host }}"}]},"blockUi":{"blockValues":[{"richText":true,"text":{"text":[{"text":"={{ $('AI Agent').item.json.output.fathom_summary }}","annotationUi":{}}]}},{"richText":true,"text":{"text":[{"text":"=*RENEWAL CONVO ANALYSIS*\n{{ $json.output.renewal_convo_analysis }}","annotationUi":{"bold":false,"color":"orange"}}]}}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[3184,448],"id":"27d2aeb5-122d-4fd6-9787-014071e87d03","name":"Create a database page2","credentials":{"notionApi":{"id":"l2nKJRGnfu2CHdp9","name":"Notion account"}}},{"parameters":{"content":"## I'm a note \nThe sales calls are still goging through and also being deleted."},"type":"n8n-nodes-base.stickyNote","position":[1648,592],"typeVersion":1,"id":"a99f8444-d84a-494a-8714-5ae7ac56d28d","name":"Sticky Note"}],"connections":{"Download file5":{"main":[[{"node":"Extract from File4","type":"main","index":0}]]},"Extract from File4":{"main":[[{"node":"Information Extractor1","type":"main","index":0}]]},"On form submission1":{"main":[[{"node":"Code","type":"main","index":0}]]},"Information Extractor1":{"main":[[{"node":"Reads Slack Google Sheet2","type":"main","index":0},{"node":"Merge1","type":"main","index":1}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Information Extractor1","type":"ai_languageModel","index":0}]]},"Code":{"main":[[{"node":"Download file5","type":"main","index":0}]]},"Structured Output Parser3":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Reads Slack Google Sheet2":{"main":[[{"node":"Aggregate2","type":"main","index":0}]]},"Aggregate2":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Create a database page2","type":"main","index":0}]]},"OpenAI Chat Model6":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Code3":{"main":[[{"node":"Download file4","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Download file4":{"main":[[{"node":"Extract from File5","type":"main","index":0}]]},"Extract from File5":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"fd5081d1-c14b-466b-a73f-2a8e8e40e0d5","triggerCount":1,"shared":[{"createdAt":"2025-08-03T04:43:15.569Z","updatedAt":"2025-08-03T04:43:15.569Z","role":"workflow:owner","workflowId":"Wfww8ufou8MaBg3R","projectId":"oeHwV8sNrbPNhUov"}],"tags":[]}