marketing-agent---save-state-sWQpmyJvgq76xLfs.json
{"createdAt":"2025-10-08T09:42:50.505Z","updatedAt":"2025-10-22T13:06:49.768Z","id":"sWQpmyJvgq76xLfs","name":"Marketing Agent - Save State","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"saveState","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-672,-16],"id":"62999491-4bfd-4109-b25e-2e7f39960c8d","name":"Webhook","webhookId":"343dd185-3dab-499f-978d-c8eb5559129b"},{"parameters":{"operation":"update","tableId":"marketing_agent_chats","filters":{"conditions":[{"keyName":"chat_id","condition":"eq","keyValue":"={{ $('Webhook').item.json.body.chat_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"state","fieldValue":"={{ $('Clean State For Supabase').item.json }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[832,256],"id":"101ce502-171d-42f6-b649-693ee5dfbfef","name":"Update a row","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"20d74896-b811-489b-a29c-0d12153aa4b6","leftValue":"={{ $('Webhook').item.json.body.overwrite }}","rightValue":"false","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[128,-16],"id":"93348497-68a7-4ba1-b4df-4314f210923c","name":"If"},{"parameters":{"tableId":"marketing_agent_chats","fieldsUi":{"fieldValues":[{"fieldId":"client_id","fieldValue":"={{ $('Webhook').item.json.body.client_id }}"},{"fieldId":"chat_id","fieldValue":"={{ $('Webhook').item.json.body.chat_id }}"},{"fieldId":"state","fieldValue":"={{ $('Get state').item.json }}"},{"fieldId":"chat_title","fieldValue":"={{$json.text}}"},{"fieldId":"chat_type","fieldValue":"={{ $('Webhook').item.json.body.chat_type }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[848,-208],"id":"f633b4cc-4736-44fb-9bc7-51a284cde8d8","name":"Create a row","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"url":"=https://general-runtime.voiceflow.com/state/user/{{ $('Webhook').item.json.body.client_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"VF.DM.68edd45614e475f20afcf338.rI9hcgDu1OfoBOsc"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-416,-16],"id":"759314fb-11ed-46be-acc0-738da3e700b2","name":"Get state"},{"parameters":{"promptType":"define","text":"={{$('Get state').item.json}}","messages":{"messageValues":[{"message":"generate a title for the content that you receive.\nmaximum 40 characters."}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[448,-208],"id":"45fa4ad0-2384-4ecc-af4a-5ba04f5ac910","name":"Basic LLM Chain"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[448,-16],"id":"e0ba79e3-15be-4e70-8817-73ef1bb1e93f","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{"jsCode":"// --- Cleanse function to remove \\u0000 and other invalid control characters ---\nfunction cleanse(value) {\n  const CONTROL_CHARS_EXCEPT_NEWLINES = /[\\u0000-\\u0009\\u000B\\u000C\\u000E-\\u001F\\u007F]/g;\n  \n  if (typeof value === 'string') {\n    return value\n      .replace(CONTROL_CHARS_EXCEPT_NEWLINES, '') // remove NUL and bad control chars\n      .normalize('NFC'); // normalize unicode\n  }\n  if (Array.isArray(value)) {\n    return value.map(v => cleanse(v));\n  }\n  if (value && typeof value === 'object') {\n    const out = {};\n    for (const k of Object.keys(value)) {\n      out[k] = cleanse(value[k]);\n    }\n    return out;\n  }\n  return value;\n}\n\n// --- Loop over input items ---\nfor (const item of $input.all()) {\n  // add your field\n  item.json.myNewField = 1;\n\n  // clean all text fields recursively\n  item.json = cleanse(item.json);\n}\n\n// return cleaned and updated items\nreturn $input.all();\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-160,-16],"id":"0c44642b-d4ff-4507-b9b0-ec093e58fa44","name":"Clean State For Supabase"}],"connections":{"Webhook":{"main":[[{"node":"Get state","type":"main","index":0}]]},"Update a row":{"main":[[]]},"If":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}],[{"node":"Update a row","type":"main","index":0}]]},"Get state":{"main":[[{"node":"Clean State For Supabase","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Create a row","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Clean State For Supabase":{"main":[[{"node":"If","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ebf498c3-1d8c-4fa0-bc34-2f06892e365b","triggerCount":1,"shared":[{"createdAt":"2025-10-08T09:42:50.505Z","updatedAt":"2025-10-08T09:42:50.505Z","role":"workflow:owner","workflowId":"sWQpmyJvgq76xLfs","projectId":"oeHwV8sNrbPNhUov"}],"tags":[{"createdAt":"2025-10-08T09:43:05.603Z","updatedAt":"2025-10-16T10:41:30.942Z","id":"sm8pSbOwogOfAzq1","name":"Marketing Agent"}]}