messaging-8rdhZYtqcyoBBN5n.json
{"createdAt":"2025-10-24T07:50:37.103Z","updatedAt":"2025-10-24T22:02:18.797Z","id":"8rdhZYtqcyoBBN5n","name":"Messaging","active":true,"isArchived":false,"nodes":[{"parameters":{"model":{"__rl":true,"value":"gpt-5","mode":"list","cachedResultName":"gpt-5"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1216,48],"id":"7a9eb5b9-0440-42ed-aa3f-be4a919850a2","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{"operation":"get","tableId":"v_business_profile","filters":{"conditions":[{"keyName":"client_id","keyValue":"={{ $json.body.client_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-2512,-176],"id":"33a011e6-eacd-439c-b3e9-f35af72ae44e","name":"Get Client Context","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"operation":"get","tableId":"target_market_profiles","filters":{"conditions":[{"keyName":"client_id","keyValue":"={{ $('Webhook').item.json.body.client_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-2288,-176],"id":"b8703fdb-84f3-422f-af49-8f4a812d444b","name":"Get Target Market","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"promptType":"define","text":"=\nYou will now build the **Messaging** section for this client’s Lean Marketing Plan.\n\nUse the context below to craft all eight required sections listed in your system message.\nFocus on clarity, transformation, and emotional resonance — not fluff or filler.\nOutput must exactly match the structure defined in your system rules.\n\n**Context:**\n\n* Client business context: {{ JSON.stringify($('Get Client Context').item.json) }}\n* Target market context: {{ JSON.stringify($json) }}\n\n**You may also consider**:\n\n* Core pain points and customer values\n* Desired transformation (before/after states)\n* Unique mechanism or proprietary method\n* Brand tone and storytelling elements\n* “Above the fold” copy structure (headline → subhead → CTA)\n\nOnly output the eight sections in order and in Markdown format as described in your system message.\n\nClient Interviews:\n{{ $json.data }}\n\nQuestionaire:\n\n{{ $('Convert Questionaire').item.json.text }}","hasOutputParser":true,"options":{"systemMessage":"{\n  \"role\": \"system\",\n  \"content\": \"You are an expert marketing strategist and brand copywriter specializing in the Lean Marketing framework.\n\nThe Messaging square defines what the client says to their target audience. Strong messaging communicates value, builds trust, and motivates action. It transforms a business from being 'just another option' to the only obvious choice.\n\nThis is often the most important square in the entire Lean Marketing system, and it’s also where most businesses need the most help. Without clear and compelling messaging, even the best media strategy or sales process will underperform.\n\nMessaging should be built on a deep understanding of the target market. It should speak to their pain points, reflect their values, and clearly communicate the transformation the client offers.\n\nYour job is to complete the Messaging square, producing clear, compelling messaging that reflects the brand’s voice and drives action.\n\nYour goals:\n- Transform raw business information into clear, compelling messaging that makes the company the only obvious choice.\n- Write concise, powerful copy that reflects the brand’s tone and values.\n- Build all sections in the exact structure listed below.\n\nFormatting rules:\n- Output must be valid JSON only (no markdown or explanations).\n- Each section must follow the structure below.\n- Use concise, natural language in the brand’s tone (not robotic or generic).\n- Never include filler text, emojis, or commentary.\n\nOutput Structure (exact order and JSON keys):\n\n{\n  \\\"refined_elevator_pitch\\\": \\\"[Brand] provides [target audience] with [core benefit] through [key differentiator], so they can [emotional outcome]. Example: 'BrightPath helps small business owners simplify payroll through automated workflows, so they can focus on growing their business with confidence.'\\\",\n\n  \\\"understanding_pain_points\\\": {\n    \\\"problem_solved\\\": \\\"The main problem this company helps solve.\\\",\n    \\\"current_situation\\\": \\\"Where the audience is now or what they’re experiencing before the solution.\\\",\n    \\\"current_struggles\\\": \\\"The specific frustrations or barriers they face without this product or service.\\\"\n  },\n\n  \\\"transformation\\\": {\n    \\\"desired_outcomes\\\": \\\"The tangible results or goals customers want to achieve.\\\",\n    \\\"emotional_benefits\\\": \\\"The emotional or psychological relief after the transformation.\\\",\n    \\\"improvement_after_purchase\\\": \\\"How their life or business improves after using the product or service.\\\"\n  },\n\n  \\\"unique_selling_proposition\\\": {\n    \\\"key_differentiators\\\": [\n      \\\"What makes the brand, product, or service unique.\\\",\n      \\\"Distinctive feature or approach that sets it apart.\\\"\n    ],\n    \\\"proof_of_advantage\\\": [\n      \\\"Evidence or credibility factors proving superiority.\\\",\n      \\\"Data, testimonials, or measurable results.\\\"\n    ],\n    \\\"why_they_win\\\": [\n      \\\"Why customers should choose this brand over competitors.\\\"\n    ]\n  },\n\n  \\\"brand_values_and_oneliners\\\": [\n    \\\"Concise statement capturing the brand promise.\\\",\n    \\\"Another short value-driven message.\\\",\n    \\\"Optional third one-liner reinforcing personality or mission.\\\"\n  ],\n\n  \\\"tone\\\": \\\"Brief description of brand personality and the feelings the company aims to evoke (e.g., confident, helpful, visionary, empathetic).\\\",\n\n  \\\"hero_text_idea\\\": {\n    \\\"flag_text\\\": \\\"3–5 words defining target or region (e.g., 'For Growing Startups').\\\",\n    \\\"main_headline\\\": \\\"1 clear sentence about what the brand does (e.g., 'Automate your workflow and reclaim your time.').\\\",\n    \\\"sub_headline\\\": \\\"2 sentences describing transformation or outcome (e.g., 'Our platform streamlines daily tasks and reduces manual work. Focus on what truly drives growth.').\\\",\n    \\\"cta\\\": \\\"1 clear call-to-action (e.g., 'Start Free Trial' or 'Book a Demo').\\\"\n  }\n}\n\nNever do:\n- Never invent information unrelated to provided context.\n- Never use emojis or decorative characters.\n- Never include explanations, markdown formatting, or commentary.\n- Only return the JSON object above, fully filled.\"\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-1136,-176],"id":"bfe05eec-718d-48b8-b0ea-f7c0186e1e1a","name":"AI Agent","retryOnFail":true,"maxTries":5},{"parameters":{"mode":"retrieve-as-tool","toolName":"common_words","toolDescription":"Retrieves relevant chunks from the vector store for commonly used words and phrases, incorporating data from client interviews, testimonials, and competitor insights.","pineconeIndex":{"__rl":true,"value":"=onboarding","mode":"id"},"topK":10,"options":{"pineconeNamespace":"={{ $json.body.client_id }}"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[-1968,448],"id":"818271aa-ac18-4253-8607-b1e7aaae86db","name":"Pinecone Vector Store1","credentials":{"pineconeApi":{"id":"axuYyU6grhcC8CQp","name":"PineconeApi account"}}},{"parameters":{"model":"text-embedding-3-large","options":{"dimensions":3072}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-1888,656],"id":"12e7ee3f-dd21-4084-a8bc-caf9c5bf46ec","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{"content":"## Ideas\n** I don't know if Pinecone vector store is useful","height":128,"width":368},"type":"n8n-nodes-base.stickyNote","position":[-1792,-368],"typeVersion":1,"id":"92030522-e6cc-4142-8130-3e34479684ed","name":"Sticky Note"},{"parameters":{"httpMethod":"POST","path":"messaging","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-2736,-176],"id":"54950202-58c4-417f-984c-bfe6606c243a","name":"Webhook","webhookId":"082eb646-ff20-4e6c-87a1-260257bc2c9a"},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-672,-176],"id":"7db4fe04-129c-496b-a7b9-0d02f8784afe","name":"Respond to Webhook"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"=1d2oPT3fTJp0yZtSrxZzJSwIQqPrrrv1X","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1616,-176],"id":"ecd3080c-177f-4452-9a07-04b4059e5f39","name":"Pull all client interviews.","credentials":{"googleDriveOAuth2Api":{"id":"dSQbKYuOfxDcM0Uo","name":"Google Drive account"}}},{"parameters":{"operation":"text","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-1392,-176],"id":"8552ea60-41c5-4b3f-adf9-9ebec6bc05ee","name":"convert client interviews"},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-1840,-176],"id":"450cb03d-7424-4ff5-ab3f-b69a14cf4f1d","name":"Convert Questionaire"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"=1_qZs4Y1KGi-AkaBtlYVyZffIOL78hicL","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-2064,-176],"id":"b4043c5d-65fe-460d-81c1-70fbd5002c9c","name":"Pull Questionaire","credentials":{"googleDriveOAuth2Api":{"id":"dSQbKYuOfxDcM0Uo","name":"Google Drive account"}}},{"parameters":{"jsonSchemaExample":"{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"title\": \"Messaging Report\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"elevator_pitch\": { \"type\": \"string\", \"description\": \"## Elevator Pitch ##\" },\n    \"pain_points\": { \"type\": \"string\", \"description\": \"## Understanding Their Pain Points ##\" },\n    \"transformation\": { \"type\": \"string\", \"description\": \"## Transformation ##\" },\n    \"unique_selling_proposition\": { \"type\": \"string\", \"description\": \"## Unique Selling Proposition (USP) ##\" },\n    \"what_theyre_really_buying\": { \"type\": \"string\", \"description\": \"## What They’re Really Buying ##\" },\n    \"awareness_matrix\": { \"type\": \"string\", \"description\": \"## Awareness Matrix ##\" },\n    \"brand_values_and_one_liners\": { \"type\": \"string\", \"description\": \"## Brand Values & One-Liners ##\" },\n    \"tone\": { \"type\": \"string\", \"description\": \"## Tone ##\" },\n    \"hero_text\": { \"type\": \"string\", \"description\": \"## Hero Text ##\" }\n  },\n  \"required\": [\n    \"elevator_pitch\",\n    \"pain_points\",\n    \"transformation\",\n    \"unique_selling_proposition\",\n    \"what_theyre_really_buying\",\n    \"awareness_matrix\",\n    \"brand_values_and_one_liners\",\n    \"tone\",\n    \"hero_text\"\n  ],\n  \"additionalProperties\": false\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-976,32],"id":"26952990-b738-41e0-b498-b756b55dc836","name":"Structured Output Parser"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Get Client Context":{"main":[[{"node":"Get Target Market","type":"main","index":0}]]},"Get Target Market":{"main":[[{"node":"Pull Questionaire","type":"main","index":0}]]},"Pinecone Vector Store1":{"ai_tool":[[]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store1","type":"ai_embedding","index":0}]]},"Webhook":{"main":[[{"node":"Get Client Context","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Pull all client interviews.":{"main":[[{"node":"convert client interviews","type":"main","index":0}]]},"convert client interviews":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Convert Questionaire":{"main":[[{"node":"Pull all client interviews.","type":"main","index":0}]]},"Pull Questionaire":{"main":[[{"node":"Convert Questionaire","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"primary-production-cea5.up.railway.app","user-agent":"Bubble","content-length":"48","accept-encoding":"gzip, deflate","baggage":"bubblegroup.client.version=830e410b4a188d406772da8ea6e281ae393559ef,bubblegroup.client.commit_timestamp=1761258206000,bubblegroup.http.route=workflow%2Fstart,bubblegroup.http.host=lm-mvp-69101.bubbleapps.io,bubblegroup.workflow.appname=lm-mvp-69101,bubblegroup.workflow.app_version=test,bubblegroup.workflow.situation=page_wf,bubblegroup.workflow.id=cmXRq,bubblegroup.workflow.event.type=ButtonClicked,bubblegroup.workflow.action.id=cmXSC,bubblegroup.workflow.action.type=apiconnector2-cmOzg.cmXRe","content-type":"application/json","traceparent":"00-057d0b61b9ccc57ac0c2bef8288c6ca3-8d37d11dcf5fb657-01","x-bubble-depth":"1","x-forwarded-for":"16.144.68.149","x-forwarded-host":"primary-production-cea5.up.railway.app","x-forwarded-proto":"https","x-railway-edge":"railway/us-west2","x-railway-request-id":"ahvRa0rSTUa6j0ux2prcFg","x-real-ip":"16.144.68.149","x-request-start":"1761298960142"},"params":{},"query":{},"body":{"client_id":"1757426002273x159287446145616860"},"webhookUrl":"https://primary-production-cea5.up.railway.app/webhook/messaging","executionMode":"production"}}]},"versionId":"8058ae55-7f4d-4872-880e-2e40295da60d","triggerCount":1,"shared":[{"createdAt":"2025-10-24T07:50:37.103Z","updatedAt":"2025-10-24T07:50:37.103Z","role":"workflow:owner","workflowId":"8rdhZYtqcyoBBN5n","projectId":"oeHwV8sNrbPNhUov"}],"tags":[]}