metrics-last-updated:-google-->-notion-8HKPDgj1iUXDK8Kf.json
{"createdAt":"2025-03-29T09:59:45.411Z","updatedAt":"2025-05-29T14:57:09.129Z","id":"8HKPDgj1iUXDK8Kf","name":"Metrics Last Updated: Google -> Notion","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-680,20],"id":"4328d7f9-dbc7-4805-9cea-a6ceeeaa3ec0","name":"When clicking ‘Test workflow’"},{"parameters":{"rule":{"interval":[{"triggerAtHour":1}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-680,-220],"id":"7435cce2-ee2a-48b7-9f3d-b0111c491bb9","name":"Schedule Trigger"},{"parameters":{"resource":"fileFolder","queryString":"Health Metrics Dashboard","returnAll":true,"filter":{"includeTrashed":false},"options":{"fields":["*"]}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-320,-280],"id":"1147d565-494d-4fe3-a832-30dee87d9fea","name":"Google Drive","executeOnce":true,"credentials":{"googleDriveOAuth2Api":{"id":"3VzmfL5shCfEf9cg","name":"Google Drive account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"b28425ed-b0f8-443e-b099-130e5fb4d638","name":"name","value":"={{ $json[\"name\"] }}","type":"string"},{"id":"d1390b3a-4ec3-4c79-ba18-6739da0c99ef","name":"modifiedTime","value":"={{ $json[\"modifiedTime\"] }}","type":"string"},{"id":"c72bbb38-e436-4d13-8e86-39cf40babc32","name":"id","value":"={{ $json[\"id\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[260,-260],"id":"5c8ac18b-2aa8-4a35-adf5-8e321cb474e4","name":"Keep Only"},{"parameters":{"assignments":{"assignments":[{"id":"ca26613a-5299-4a0e-861f-179efa521fea","name":"clientName","value":"={{ $json.name.split(\" - \")[0].trim() }}","type":"string"}]},"includeOtherFields":"={{ false }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[540,600],"id":"8fe8ae16-86ff-42f3-af5c-dd577d27e2b3","name":"Extract Client Name"},{"parameters":{"jsCode":"const clientName = $json.clientName?.toLowerCase();\n\nfor (const item of items) {\n  const name = item.json.properties?.[\"Name\"]?.title?.[0]?.plain_text?.toLowerCase();\n\n  console.log(\"Comparing:\", clientName, \"vs\", name);\n\n  if (name === clientName) {\n    return [item];\n  }\n}\n\nthrow new Error(`No match found for client: ${clientName}`);"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[780,500],"id":"722b26f6-5b1b-4ce5-b628-da43daa64098","name":"Match Client Name to Company"},{"parameters":{"content":"Searches drive for all \"Health Metrics Dashboard\" files\n","height":860,"width":360,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-420,-400],"typeVersion":1,"id":"8ea15286-d4f1-4bbd-9d28-f1572fd10726","name":"Sticky Note1"},{"parameters":{"content":"Splits name of metrics dashboard file to pull the client's name from it","height":880,"width":320,"color":4},"type":"n8n-nodes-base.stickyNote","position":[460,-400],"typeVersion":1,"id":"be9848f3-8281-448b-98e8-2ba05fea1117","name":"Sticky Note2"},{"parameters":{"content":"Get list of clients from Notion to compare to \n Match ID with HMD ID in Clint Database in NOtion","height":620,"width":640,"color":4},"type":"n8n-nodes-base.stickyNote","position":[840,-400],"typeVersion":1,"id":"288c29c4-628a-4d9c-ba87-2dc8a56d6e54","name":"Sticky Note3"},{"parameters":{"content":"Update \"Metrics Last Updated\" field in client specific page","height":600,"width":340,"color":4},"type":"n8n-nodes-base.stickyNote","position":[1560,-400],"typeVersion":1,"id":"2e9897f6-d4af-4278-880a-72895c5dede9","name":"Sticky Note5"},{"parameters":{"content":"Keeps only: name, id, last modified time from Google search\n","height":880,"width":220,"color":4},"type":"n8n-nodes-base.stickyNote","position":[200,-400],"typeVersion":1,"id":"f85053b1-851b-46de-b631-3c9bfb695ecb","name":"Sticky Note"},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"C07RM9242NA","mode":"list","cachedResultName":"automation"},"text":"Error: Health Metrics automation","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[1180,-60],"id":"eb04ef69-60e7-4a6d-b4ae-92066c177fc2","name":"Slack","webhookId":"d46febf3-487b-4429-915b-049f1fdae0d7","credentials":{"slackApi":{"id":"gfXOpaJn4CTfHtfV","name":"Slack account 2"}}},{"parameters":{"resource":"databasePage","operation":"update","pageId":{"__rl":true,"value":"={{ $json.url }}","mode":"url"},"propertiesUi":{"propertyValues":[{"key":"Metrics Last Updated|date","date":"={{ $('Keep Only').item.json.modifiedTime }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1680,-140],"id":"5b51e0fe-a048-4fdc-9f21-265fb714ad74","name":"Update Notion With Date","credentials":{"notionApi":{"id":"l2nKJRGnfu2CHdp9","name":"Notion account"}},"onError":"continueErrorOutput"},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"cf3758b2-eae6-4468-a723-19f3950a3642","mode":"list","cachedResultName":"All Clients","cachedResultUrl":"https://www.notion.so/cf3758b2eae64468a72319f3950a3642"},"returnAll":true,"filterType":"manual","filters":{"conditions":[{"key":"HMD ID|rich_text","condition":"equals","richTextValue":"={{ $json.id }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1000,-260],"id":"d22296e0-df72-4e47-9dbd-a9655c559051","name":"Get Company List & Match HMD with Company","credentials":{"notionApi":{"id":"l2nKJRGnfu2CHdp9","name":"Notion account"}},"onError":"continueErrorOutput"}],"connections":{"When clicking ‘Test workflow’":{"main":[[]]},"Schedule Trigger":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Keep Only","type":"main","index":0}]]},"Keep Only":{"main":[[{"node":"Get Company List & Match HMD with Company","type":"main","index":0}]]},"Extract Client Name":{"main":[[]]},"Match Client Name to Company":{"main":[[]]},"Update Notion With Date":{"main":[[]]},"Get Company List & Match HMD with Company":{"main":[[{"node":"Update Notion With Date","type":"main","index":0}],[]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"28ba0bf7-8ff2-4bc5-963c-298f8a5fdaaf","triggerCount":1,"shared":[{"createdAt":"2025-03-29T09:59:45.411Z","updatedAt":"2025-03-29T09:59:45.411Z","role":"workflow:owner","workflowId":"8HKPDgj1iUXDK8Kf","projectId":"rK7zA1bjW8OF89eO"}],"tags":[]}