nate-test-3---target-market-analysis-copy-3QfmrPCMzUVJppeS.json
{"createdAt":"2025-05-02T21:12:38.546Z","updatedAt":"2025-08-14T23:52:38.009Z","id":"3QfmrPCMzUVJppeS","name":"NATE TEST 3 - Target Market Analysis copy","active":false,"isArchived":false,"nodes":[{"parameters":{"tableId":"target_market_profiles","fieldsUi":{"fieldValues":[{"fieldId":"client_id","fieldValue":"={{ $('Get ClientID Via Search').item.json.client_id }}"},{"fieldId":"primary_target_market","fieldValue":"={{ $json.output.primary_target_market }}"},{"fieldId":"secondary_target_market","fieldValue":"={{ $json.output.secondary_target_market }}"},{"fieldId":"company","fieldValue":"={{ $('Get ClientID Via Search').item.json.company }}"},{"fieldId":"offer","fieldValue":"={{ $('Get ClientID Via Search').item.json.offer }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[540,560],"id":"904d9973-a1cf-4c2e-94c4-d5322b30c28b","name":"Supabase1","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"promptType":"define","text":"=Always use the tool to extract information from the vector Database first.\n\nContext Dump:\n\nThe Offer :  \n{{ $('Get ClientID Via Search').item.json.offer }}\n\nThe Industry:\n{{ $('Get ClientID Via Search').item.json.industry }}","hasOutputParser":true,"options":{"systemMessage":"=**Role and Objective**\nYou are a marketing strategist. Using the provided offer and all available context, your objective is to create a comprehensive target market profile. Generate a primary target market profile with detailed demographics, psychographics, and decision-making roles. Specify if the profile is B2B, B2C, or both. If the data supports it, also create a secondary target market profile using the same level of detail.\n\n**Instructions**\n\nAlways use the tool provided to extract relevant chunks from the vector database.\n\nReview all context, inputs, and supporting documents.\n\nExtract and organize the following:\n\nCompany: Provide only the company name.\n\nPrimary Target Market: Identify and describe the highest-leverage target market, including:\n\nDemographics: age range, gender, geography, income, profession, business size (if B2B).\n\nPsychographics: lifestyle, values, pain points, buying behavior.\n\nDecision-making roles: primary decision-maker, secondary influencers, and support roles.\n\nSpecify B2B, B2C, or both.\n\nSecondary Target Market: If applicable, provide the same details as above for a secondary segment.\n\nReturn your output as valid JSON, following the provided JSON Schema template exactly.\n\nDo not include any fields beyond those specified in the schema.\n\n**Reasoning Steps**\n\nBegin by reading and understanding all context and extracted data.\n\nUse the tool to search the vector database for all relevant details about the company, offer, and potential customer segments.\n\nSynthesize the most relevant demographic, psychographic, and decision-maker information for each target market.\n\nOrganize these details clearly under the primary and, if needed, secondary target market fields.\n\nEnsure the data is complete, accurate, and matches the structure required by the JSON Schema.\n\n**Context**\n\nYou will be given context, inputs, and access to a vector database tool. Use all provided context and tool outputs as your main sources of information. The resulting profile will be used for further marketing strategy and planning.\n\n**Final instructions and prompt to think step by step**\n\nCarefully review all available context and tool outputs before starting.\nThink step by step: first identify the required information for each field, then extract and summarize those details.\nConfirm that all required fields are present and fully detailed, and that no additional fields are included.\nPresent your answer as a valid JSON object with only the fields specified. Do not yield control until the output is complete and meets all requirements.\n\n---\n\n**JSON Schema Template:**\n\n```json\n{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"company\": {\n      \"type\": \"string\",\n      \"description\": \"Company name\"\n    },\n    \"offer\": {\n      \"type\": \"string\",\n      \"description\": \"Description of the company's offering\"\n    },\n    \"primary_target_market\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"audience_type\": {\n          \"type\": \"string\",\n          \"description\": \"Specify whether this target market is B2B, B2C, or both\"\n        },\n        \"demographics\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"age_range\": {\n              \"type\": \"string\",\n              \"description\": \"Age range of the target market\"\n            },\n            \"gender\": {\n              \"type\": \"string\",\n              \"description\": \"Gender of the target market\"\n            },\n            \"geography\": {\n              \"type\": \"string\",\n              \"description\": \"Geographical location\"\n            },\n            \"income_level\": {\n              \"type\": \"string\",\n              \"description\": \"Income level or economic status\"\n            },\n            \"profession\": {\n              \"type\": \"string\",\n              \"description\": \"Professional background or role\"\n            },\n            \"business_size\": {\n              \"type\": \"string\",\n              \"description\": \"Size of the business (if applicable)\"\n            }\n          }\n        },\n        \"psychographics\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"lifestyle\": {\n              \"type\": \"string\",\n              \"description\": \"Lifestyle characteristics of the target market\"\n            },\n            \"values\": {\n              \"type\": \"string\",\n              \"description\": \"Core values or beliefs\"\n            },\n            \"pain_points\": {\n              \"type\": \"string\",\n              \"description\": \"Primary challenges or pain points\"\n            },\n            \"buying_behavior\": {\n              \"type\": \"string\",\n              \"description\": \"Buying habits and decision factors\"\n            }\n          }\n        },\n        \"decision_making_roles\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"primary_decision_maker\": {\n              \"type\": \"string\",\n              \"description\": \"Role of the primary decision-maker\"\n            },\n            \"secondary_decision_influencers\": {\n              \"type\": \"string\",\n              \"description\": \"Other influencers in the decision process\"\n            },\n            \"support_roles\": {\n              \"type\": \"string\",\n              \"description\": \"Additional roles that support the purchasing decision\"\n            }\n          }\n        }\n      }\n    },\n    \"secondary_target_market\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"audience_type\": {\n          \"type\": \"string\",\n          \"description\": \"Specify whether this target market is B2B, B2C, or both\"\n        },\n        \"demographics\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"age_range\": {\n              \"type\": \"string\",\n              \"description\": \"Age range of the secondary target market\"\n            },\n            \"gender\": {\n              \"type\": \"string\",\n              \"description\": \"Gender of the secondary target market\"\n            },\n            \"geography\": {\n              \"type\": \"string\",\n              \"description\": \"Geographical location\"\n            },\n            \"income_level\": {\n              \"type\": \"string\",\n              \"description\": \"Income level or economic status\"\n            },\n            \"profession\": {\n              \"type\": \"string\",\n              \"description\": \"Professional background or role\"\n            },\n            \"household_size\": {\n              \"type\": \"string\",\n              \"description\": \"Household size (if applicable)\"\n            }\n          }\n        },\n        \"psychographics\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"lifestyle\": {\n              \"type\": \"string\",\n              \"description\": \"Lifestyle characteristics of the secondary target market\"\n            },\n            \"values\": {\n              \"type\": \"string\",\n              \"description\": \"Core values or beliefs\"\n            },\n            \"pain_points\": {\n              \"type\": \"string\",\n              \"description\": \"Primary challenges or pain points\"\n            },\n            \"buying_behavior\": {\n              \"type\": \"string\",\n              \"description\": \"Buying habits and decision factors\"\n            }\n          }\n        },\n        \"decision_making_roles\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"primary_decision_maker\": {\n              \"type\": \"string\",\n              \"description\": \"Role of the primary decision-maker in the secondary market\"\n            },\n            \"secondary_decision_influencers\": {\n              \"type\": \"string\",\n              \"description\": \"Other influencers in the decision process\"\n            },\n            \"support_roles\": {\n              \"type\": \"string\",\n              \"description\": \"Additional roles that support the purchasing decision\"\n            }\n          }\n        }\n      }\n    }\n  },\n  \"required\": [\"company\", \"offer\", \"primary_target_market\"],\n  \"additionalProperties\": false\n}\n```\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-80,580],"id":"d0282f30-3402-46e9-b1eb-9d2ed1bbb7dd","name":"AI Agent"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"company\": {\n      \"type\": \"string\",\n      \"description\": \"Company name\"\n    },\n    \"offer\": {\n      \"type\": \"string\",\n      \"description\": \"Description of the company's offering\"\n    },\n    \"primary_target_market\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"audience_type\": {\n          \"type\": \"string\"\n        },\n        \"demographics\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"age_range\": {\n              \"type\": \"string\"\n            },\n            \"gender\": {\n              \"type\": \"string\"\n            },\n            \"geography\": {\n              \"type\": \"string\"\n            },\n            \"income_level\": {\n              \"type\": \"string\"\n            },\n            \"profession\": {\n              \"type\": \"string\"\n            },\n            \"business_size\": {\n              \"type\": \"string\"\n            }\n          }\n        },\n        \"psychographics\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"lifestyle\": {\n              \"type\": \"string\"\n            },\n            \"values\": {\n              \"type\": \"string\"\n            },\n            \"pain_points\": {\n              \"type\": \"string\"\n            },\n            \"buying_behavior\": {\n              \"type\": \"string\"\n            }\n          }\n        },\n        \"decision_making_roles\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"primary_decision_maker\": {\n              \"type\": \"string\"\n            },\n            \"secondary_decision_influencers\": {\n              \"type\": \"string\"\n            },\n            \"support_roles\": {\n              \"type\": \"string\"\n            }\n          }\n        }\n      }\n    },\n    \"secondary_target_market\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"audience_type\": {\n          \"type\": \"string\"\n        },\n        \"demographics\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"age_range\": {\n              \"type\": \"string\"\n            },\n            \"gender\": {\n              \"type\": \"string\"\n            },\n            \"geography\": {\n              \"type\": \"string\"\n            },\n            \"income_level\": {\n              \"type\": \"string\"\n            },\n            \"profession\": {\n              \"type\": \"string\"\n            },\n            \"household_size\": {\n              \"type\": \"string\"\n            }\n          }\n        },\n        \"psychographics\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"lifestyle\": {\n              \"type\": \"string\"\n            },\n            \"values\": {\n              \"type\": \"string\"\n            },\n            \"pain_points\": {\n              \"type\": \"string\"\n            },\n            \"buying_behavior\": {\n              \"type\": \"string\"\n            }\n          }\n        },\n        \"decision_making_roles\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"primary_decision_maker\": {\n              \"type\": \"string\"\n            },\n            \"secondary_decision_influencers\": {\n              \"type\": \"string\"\n            },\n            \"support_roles\": {\n              \"type\": \"string\"\n            }\n          }\n        }\n      }\n    }\n  }\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[260,820],"id":"e7d8c9b8-8f60-4ca7-9540-3a8e9b77c10f","name":"Structured Output Parser"},{"parameters":{"mode":"retrieve-as-tool","toolName":"target_market_info","toolDescription":"These are the chunks returned from the vector database based on the query.","pineconeIndex":{"__rl":true,"value":"={{ $('Edit Fields').item.json.company }}","mode":"id"},"topK":10,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[120,1040],"id":"8ee622ec-01b3-4450-a872-778336fc3033","name":"Pinecone Vector Store1","credentials":{"pineconeApi":{"id":"axuYyU6grhcC8CQp","name":"PineconeApi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[200,1260],"id":"32f61ee2-1eab-481e-8c9a-2d454ae23f70","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1520,600],"id":"51a97398-63c6-43c5-a6ea-64846bd1da74","name":"When clicking ‘Test workflow’"},{"parameters":{"content":"## Bubble webhook\n**Need to have Client ID sent via webhook","height":360,"width":260},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1520,460],"id":"42b52152-e002-4bfb-bd8b-8115a6d0e607","name":"Sticky Note"},{"parameters":{"operation":"get","tableId":"business_profiles","filters":{"conditions":[{"keyName":"company","keyValue":"={{ $json['Company Run'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-780,600],"id":"ae8185c0-98ef-46c9-8e78-69b7d5e602f3","name":"Get ClientID Via Search","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"content":"## Change Search to ClientID In Production\n\nCurrently We are just searching for \"Tonic Living\"","height":360,"width":260},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-840,400],"id":"e8928654-2ea1-42eb-93b2-87d64fa1eb9e","name":"Sticky Note1"},{"parameters":{"content":"## AI Model\nCurrently set\nto 4.1\n\n","height":140,"width":360,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-240,800],"id":"6c7fb659-8dbc-4220-8ca5-e9523f724f7d","name":"Sticky Note3"},{"parameters":{"content":"## Handle Error\nIn production add error handling for data duplication with same ID\n","height":280,"width":380},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[520,440],"id":"58a27ae6-9ba9-4ed1-b01b-1355708cce92","name":"Sticky Note4"},{"parameters":{"content":"## Prompt Notes\n","color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-100,420],"id":"26ce7a66-bd12-4a98-92de-61282eeeda0e","name":"Sticky Note5"},{"parameters":{"content":"## Notes about run\n\nRun Time: Not set\n"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-940,960],"id":"64e75266-2a0a-432d-8f60-6c1f72bd61fe","name":"Sticky Note6"},{"parameters":{"content":"\n\nHave error handling if fails\n","height":80,"width":150},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[300,620],"id":"4f106fe2-943d-49e9-884b-b1e031421108","name":"Sticky Note7"},{"parameters":{"documentId":{"__rl":true,"value":"1nTyix3NeSNWqhZ-B4CQYlelIdZMVpzz6B-d7tFuWOcs","mode":"list","cachedResultName":"MVP Info","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nTyix3NeSNWqhZ-B4CQYlelIdZMVpzz6B-d7tFuWOcs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Prompts","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nTyix3NeSNWqhZ-B4CQYlelIdZMVpzz6B-d7tFuWOcs/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-1120,600],"id":"2f779844-1f15-443a-ad57-0ad618b86862","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"tkvcRmLfYi38x0mC","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"375b758f-6387-4e71-b280-65106e9442d4","name":"company","value":"={{ $json.company.toLowerCase().replace(/\\s+/g, \"-\") }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-400,580],"id":"1f18959b-76bd-4981-b6d2-071c6f31d11e","name":"Edit Fields"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-80,820],"id":"7c427fb5-1828-477a-97ec-f452e176c128","name":"AI","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}}],"connections":{"AI Agent":{"main":[[{"node":"Supabase1","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Pinecone Vector Store1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store1","type":"ai_embedding","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Get ClientID Via Search":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Get ClientID Via Search","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c70c8be6-e0fd-4ea3-b143-2cedc0aef0e0","triggerCount":0,"shared":[{"createdAt":"2025-05-02T21:12:38.546Z","updatedAt":"2025-05-02T21:12:38.546Z","role":"workflow:owner","workflowId":"3QfmrPCMzUVJppeS","projectId":"oeHwV8sNrbPNhUov"}],"tags":[{"createdAt":"2025-03-12T04:24:48.825Z","updatedAt":"2025-03-12T04:24:48.825Z","id":"cbWAfupX4mQCuSO9","name":"Set Up"},{"createdAt":"2025-05-02T21:12:13.335Z","updatedAt":"2025-05-02T21:12:13.335Z","id":"pxRI1nCbwcwuqYTY","name":"Nate Test"}]}