nate-test-2---business-profile-creation-copy-lnbiJI1UAwtfDcDH.json
{"createdAt":"2025-05-02T21:12:16.626Z","updatedAt":"2025-08-14T23:52:34.943Z","id":"lnbiJI1UAwtfDcDH","name":"NATE TEST 2 - Business profile Creation copy","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-580,260],"id":"3f039842-fa86-44bd-ab19-b74f52067e0c","name":"When clicking ‘Test workflow’"},{"parameters":{"method":"POST","url":"https://api.firecrawl.dev/v1/scrape","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer fc-361a640d44c548b080ba95ad71416e85"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"url\": \"https://www.enny.ai/\",\n  \"formats\": [\n    \"markdown\"\n  ],\n  \"onlyMainContent\": true,\n  \"headers\": {},\n  \"mobile\": false,\n  \"skipTlsVerification\": false,\n  \"timeout\": 30000,\n  \"location\": {\n    \"country\": \"US\",\n    \"languages\": [\n      \"en-US\"\n    ]\n  },\n  \"removeBase64Images\": true,\n  \"blockAds\": true,\n  \"proxy\": \"basic\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-300,40],"id":"673c8899-ff7b-48c7-9375-5eb42b1762e1","name":"HTTP Request"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[260,560],"id":"9fdee0d8-92e2-4431-8203-5c7fff122c55","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{"tableId":"business_profiles","fieldsUi":{"fieldValues":[{"fieldId":"company","fieldValue":"={{ $('Google Sheets').item.json['Company Run'] }}"},{"fieldId":"offer","fieldValue":"={{ $('AI Agent').item.json.output.Offer }}"},{"fieldId":"industry","fieldValue":"={{ $('AI Agent').item.json.output.Industry }}"},{"fieldId":"client_id","fieldValue":"={{ $json.uuid }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1180,260],"id":"83997911-c0fc-452b-aaf5-c26a94513332","name":"Supabase","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"promptType":"define","text":"Use the tool to pull information from the vector DB to create a business profile based on the chunks. ","hasOutputParser":true,"options":{"systemMessage":"=**Role and Objective**\n\nYou are a Marketing Researcher and Marketing Strategist tasked with analyzing all provided context and inputs, including information retrieved from the vector database using the designated tool.\n\nYour objective is to generate a JSON output with three fields: Company, Offer, and Industry.\n\nThe Company field should include only the company name. The Offer and Industry fields should include detailed descriptions using key information found in the inputs.\n\n**Instructions**\n\nAlways use the tool provided to extract relevant chunks from the vector database.\n\nReview all context, inputs, and documents made available.\n\nExtract and organize the following:\n\nCompany: Extract only the company name.\n\nOffer: Provide a detailed overview of the company’s products, services, or value proposition. Include the price for each offer.\n\nIndustry: Provide a thorough description of the industry, including relevant trends and market positioning. If industry information cannot be found in the vector database, conduct research to build a full description of the industry.\n\nStructure the output as valid JSON using only the fields: Company, Offer, and Industry.\n\nFollow the given JSON Schema exactly; do not add or omit any fields.\n\nEnsure all extracted information is accurate, clear, and consistent with the source material.\n\n**Reasoning Steps**\n\nBegin by reading and understanding all provided context and extracted data.\n\nUse the tool to search the vector database for relevant information related to the company, offer, and industry.\n\nIdentify the specific company name and distinguish it from other details.\n\nSynthesize and summarize the most relevant details for the Offer and Industry fields, drawing on the extracted data and context.\n\nEnsure no unnecessary fields included in the output.\n\n\n\n**Context**\n\nYou will be given context, inputs, and access to a vector database tool.\n\nUse all provided context and tool outputs as your primary sources of information.\n\nThe output will be used for further analysis and marketing strategy development.\n\n**Final instructions and prompt to think step by step**\n\nCarefully review all available context and tool outputs before beginning.\n\nThink step by step: first identify what information is required for each JSON field, then gather and summarize those details.\n\nConfirm that the Company field includes only the company name.\n\nEnsure the Offer and Industry fields contain detailed, relevant, and accurate descriptions based strictly on the extracted data.\n\nPresent your answer as valid JSON using only the three fields specified. Do not yield control until you are confident the answer is complete and meets all requirements.\n\n**Output:**  \n   - The final output must be strictly in JSON format.\n   - Ensure the JSON output adheres exactly to the JSON Schema Template provided below.\n\n---\n\n**JSON Schema Template:**\n\n```json\n{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"Company\": {\n      \"type\": \"string\",\n      \"description\": \"The name of the company.\"\n    },\n    \"Offer\": {\n      \"type\": \"string\",\n      \"description\": \"A detailed description of the products, services, or value proposition offered by the company.\"\n    },\n    \"Industry\": {\n      \"type\": \"string\",\n      \"description\": \"A detailed description of the industry in which the company operates, including market trends and positioning.\"\n    }\n  },\n  \"required\": [\"Company\", \"Offer\", \"Industry\"],\n  \"additionalProperties\": false\n}\n```"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[340,260],"id":"c3717724-d04c-435a-b3d2-a3717f55aabb","name":"AI Agent","onError":"continueRegularOutput"},{"parameters":{"mode":"retrieve-as-tool","toolName":"company_information","toolDescription":"find relevant information in the vector db that relates to the companies name, offer, and industry","pineconeIndex":{"__rl":true,"value":"={{ $json.name }}","mode":"id"},"topK":10,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[320,740],"id":"90a8c155-015f-4ab3-8fcd-b8a3d698e278","name":"Pinecone Vector Store","credentials":{"pineconeApi":{"id":"axuYyU6grhcC8CQp","name":"PineconeApi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[380,940],"id":"b2636144-99db-4ebd-be02-cff6c3d4621a","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"Company\": {\n      \"type\": \"string\",\n      \"description\": \"The name of the company.\"\n    },\n    \"Offer\": {\n      \"type\": \"string\",\n      \"description\": \"A detailed description of the products, services, or value proposition offered by the company.\"\n    },\n    \"Industry\": {\n      \"type\": \"string\",\n      \"description\": \"A detailed description of the industry in which the company operates, including market trends and positioning.\"\n    }\n  },\n  \"required\": [\"Company\", \"Offer\", \"Industry\"],\n  \"additionalProperties\": false\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[580,520],"id":"dee7f84a-efe7-4514-aeae-97bfed0faa47","name":"Structured Output Parser"},{"parameters":{"content":"## AI Model\nCurrently set\nto 4o\n","height":140,"width":360,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[20,540],"id":"83c13aa8-f9c4-4645-8d39-b9443c3091e4","name":"Sticky Note3"},{"parameters":{"content":"## Handle Error\nIn production add error handling for data duplication with same ID\n","height":280,"width":380},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[920,140],"id":"74b74acd-857e-4c0d-90eb-1b5faeaefd52","name":"Sticky Note4"},{"parameters":{"content":"## Prompt Notes\n","color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[140,100],"id":"11fa4a11-3dd5-4eb5-92ee-e9c48547fa30","name":"Sticky Note5"},{"parameters":{"content":"## Notes about run\n\nRun Time: not set\n"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-520,640],"id":"67e2a474-7e1f-4934-8223-e8a052da2831","name":"Sticky Note6"},{"parameters":{"content":"\n\nHave error handling if fails\n","height":80,"width":150},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[680,220],"id":"4dbea5f9-6e02-44c1-9c8f-aab0ad93387d","name":"Sticky Note7"},{"parameters":{"jsCode":"const { v4: uuidv4 } = require('uuid');\nreturn {\n  json: {\n    uuid: uuidv4()\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[960,260],"id":"83620c40-21f3-4580-9c79-556ba9c29dbe","name":"Create UUID"},{"parameters":{"content":"\n\n\n\nThis should be done in Bubble\n","height":140,"width":150},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[720,360],"id":"1783b636-b5d2-4946-a3ed-d632ca82647e","name":"Sticky Note"},{"parameters":{"assignments":{"assignments":[{"id":"b283bdf7-23d4-4f7b-9ec9-6fadbe17f97d","name":"=name","value":"={{ $json['Company Run'].toLowerCase().replace(/\\s+/g, \"-\") }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-40,260],"id":"dc368687-1721-4d2c-bf71-512d340c97c8","name":"Edit Fields1"},{"parameters":{"documentId":{"__rl":true,"value":"1nTyix3NeSNWqhZ-B4CQYlelIdZMVpzz6B-d7tFuWOcs","mode":"list","cachedResultName":"MVP Info","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nTyix3NeSNWqhZ-B4CQYlelIdZMVpzz6B-d7tFuWOcs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Prompts","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nTyix3NeSNWqhZ-B4CQYlelIdZMVpzz6B-d7tFuWOcs/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-360,260],"id":"0ba23774-76ca-4654-a864-e9880de6b33c","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"tkvcRmLfYi38x0mC","name":"Google Sheets account"}}}],"connections":{"HTTP Request":{"main":[[]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Supabase":{"main":[[]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Pinecone Vector Store":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"AI Agent":{"main":[[{"node":"Create UUID","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Create UUID":{"main":[[{"node":"Supabase","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b499b0a8-cbaa-427d-b6ba-4a21a94ac880","triggerCount":0,"shared":[{"createdAt":"2025-05-02T21:12:16.626Z","updatedAt":"2025-05-02T21:12:16.626Z","role":"workflow:owner","workflowId":"lnbiJI1UAwtfDcDH","projectId":"oeHwV8sNrbPNhUov"}],"tags":[{"createdAt":"2025-03-12T04:24:48.825Z","updatedAt":"2025-03-12T04:24:48.825Z","id":"cbWAfupX4mQCuSO9","name":"Set Up"},{"createdAt":"2025-03-12T16:30:43.704Z","updatedAt":"2025-03-12T16:30:43.704Z","id":"RriHGSU9VJgc7v6c","name":"MVP"},{"createdAt":"2025-05-02T21:12:13.335Z","updatedAt":"2025-05-02T21:12:13.335Z","id":"pxRI1nCbwcwuqYTY","name":"Nate Test"}]}