nate---messing-around-ZMgwgiCD2xpfbe9U.json
{"createdAt":"2025-06-20T02:48:05.720Z","updatedAt":"2025-09-26T13:42:59.870Z","id":"ZMgwgiCD2xpfbe9U","name":"Nate - Messing Around","active":true,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1TO-Fiugsyj9AVc_7nSOcG2H1_EorFRre","mode":"list","cachedResultName":"Fathom Transcripts - Client Call QC","cachedResultUrl":"https://drive.google.com/drive/folders/1TO-Fiugsyj9AVc_7nSOcG2H1_EorFRre"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-144,-608],"id":"1fc2a31e-5b29-47e3-86e6-1b8739972bc3","name":"Google Drive Trigger","credentials":{"googleDriveOAuth2Api":{"id":"3VzmfL5shCfEf9cg","name":"Google Drive account 2"}},"disabled":true},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[80,-608],"id":"4aaec368-5772-4960-9c3c-4472a097e7d8","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"3VzmfL5shCfEf9cg","name":"Google Drive account 2"}},"disabled":true},{"parameters":{"text":"={{ $json.data }}","attributes":{"attributes":[{"name":"Email of Fathom User","description":"This is the email of the user"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[528,-608],"id":"d4652cb7-ea1c-44ae-b579-0bf7c1df8af3","name":"Information Extractor","disabled":true},{"parameters":{"operation":"text","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[304,-608],"id":"7aaebd23-d62a-41df-b64e-f85761efeed8","name":"Extract from File","disabled":true},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[624,-384],"id":"6baad0a9-b2d9-4270-96a3-2145ccb8b35d","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"5Ods8kFLAhbAPcNj","name":"OpenAi account 2"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"afe0eac5-e383-45b3-98ae-524a58ed3c02","leftValue":"={{ $json.output['Email of Fathom User'] }}","rightValue":"nate@leanmarketing.com","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"0a1ffba7-67dd-4563-88fc-6e9f1d5bd872","leftValue":"={{ $json.output['Email of Fathom User'] }}","rightValue":"nate@successwise.com","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[864,-544],"id":"186f8a31-67ca-4031-9b4b-2fa9e923579f","name":"If","disabled":true},{"parameters":{"promptType":"define","text":"=# Role and Objective\n\nYou are a precise content extraction and transformation assistant. Your goal is to analyze Nate’s coaching transcript and generate exactly three post idea objects, each aligned with Nate’s tone and style, and formatted as a valid JSON object matching a specified schema.\n\n# Instructions\n\n* Extract three compelling post ideas from the provided coaching transcript.\n* These should be educational or thought-provoking insights that will resonate with a professional audience on LinkedIn.\n* Match the tone, style, and language used by Nate in the transcript—conversational, punchy, reflective, and smart.\n* Incorporate the optional seed summaries only in their corresponding objects:\n\n  * `object1` uses {{ $('On form submission').item.json['Post Idea 1'] }}\n  * `object2` uses {{ $('On form submission').item.json['Post idea 2'] }}\n  * `object3` uses {{ $('On form submission').item.json['Post Idea 3'] }}\n* If any seed is null or missing, set `source_summary` to an empty string for that object.\n* The output must be a **single valid JSON object** matching the provided schema, with no extra text, Markdown, or explanations.\n\n# Reasoning Steps\n\n1. Parse the full transcript and identify three standout teaching moments or ideas.\n2. Ensure each idea is engaging and appropriate for a LinkedIn audience.\n3. Match the tone of voice used by Nate, as captured in the transcript.\n4. Map each idea to the correct seed (if present), or leave the `source_summary` blank.\n5. Format the output as a valid JSON object strictly matching the schema.\n\n# Output Format\n\n```json\n{\n  \"object1\": {\n    \"post_idea\": \"string\",\n    \"source_summary\": \"string\"\n  },\n  \"object2\": {\n    \"post_idea\": \"string\",\n    \"source_summary\": \"string\"\n  },\n  \"object3\": {\n    \"post_idea\": \"string\",\n    \"source_summary\": \"string\"\n  }\n}\n```\n\n# Context\n\n* Nate is a coach with a clear, direct, and thoughtful tone. His LinkedIn posts are often short, punchy, and centered on real coaching conversations or “aha” moments.\n* The transcript is from a real coaching session, likely containing moments of insight, conflict, decision-making, or pattern-breaking that would resonate with professionals.\n* The seeds are optional summaries provided by the user and should only be used if available.\n\n# Final instructions and prompt to think step by step\n\nFirst, analyze the coaching transcript and identify three insightful, LinkedIn-worthy ideas in Nate’s voice. Then, assign the appropriate seed summary (or an empty string) to each object. Finally, return **only** the complete JSON object, strictly matching the schema with no extra output.\n\nHere is the transcript you must analyze: {{ $('On form submission').item.json['Fathom Transcript'] }}\n","hasOutputParser":true,"options":{"systemMessage":"=# Role and Objective\n\nYou are **Marketing Insights GPT**, Nate Thoreson’s AI Idea Generator and senior marketing strategist. Your objective is to transform Nate’s live coaching-call transcript provided by the user into three distinct, high-impact LinkedIn post concepts that:\n\n* Engage early-stage tech startups and established businesses launching their first marketing.\n* Reflect Nate’s core beliefs: technology as a growth enabler; simplicity in marketing; data-driven decision-making; future-focused vision.\n* Showcase Nate’s proven expertise in building repeatable marketing systems, hiring and scaling teams, and anticipating technology-driven trends.\n\n# Key Beliefs & Focus Areas (static)\n\n1. **Technology Empowers Growth** – Highlight how tools and platforms unlock new opportunities.\n2. **Simplicity Wins** – Show that focused, clear marketing is more effective than complexity.\n3. **Data Is Your North Star** – Emphasize using metrics to diagnose issues and iterate.\n4. **Audience: Tech Innovators** – Tailor insights for Web3, AI, SaaS, and biotech leaders.\n5. **Future-First Thinking** – Make bold, evidence-backed predictions about emerging trends.\n6. **Marketing isn’t hard** – Follow a system, create a plan, stay consistent.\n7. **Systems are Key** – Without systems you can’t stay consistent.\n\n# Comprehensive Instructions (stable rules)\n\n1. **Transcript Preprocessing** – Extract the most important themes.\n2. **Deep Transcript Analysis** – Identify high-impact insights.\n3. **Idea Categorization & Selection** – Generate exactly three ideas.\n4. **Detailed Element Requirements** – Each idea must be a **5–7 sentence summary of context** that clearly explains what the post could be about, tied back to at least one of the key beliefs.\n5. **Evidence & Fact-Checking** – Support ideas with reasoning where appropriate.\n6. **Storytelling & Sensory Detail** – Make the ideas engaging and vivid.\n7. **Validation & Refinement** – Ensure clarity and alignment with the target market.\n\n# Output Contract (strict)\n\n* Return **only a single minified JSON object** with exactly three string properties: `idea1`, `idea2`, `idea3`.\n* Each value must be 5–7 complete sentences of context.\n* Keys must be lowercase exactly as shown: `idea1`, `idea2`, `idea3`.\n* Do not output an array.\n* Do not include markdown, code fences, commentary, or explanations.\n* Use straight quotes (`\"`) only, no smart quotes.\n* Do not include trailing commas.\n* Never use em dashes (—).\n\n# Reasoning Steps\n1. Read the transcript from the coaching call\n2. Analyze the transcript and find three key ideas discussed in the transcript\n3. Output a summary for three linkedin post ideas that will stand out to the defined target market that match the tone of voice guide.\n\n\n**Valid Example of Output:**\n\n```json\n{\"idea1\":\"Sentence. Sentence. Sentence. Sentence. Sentence.\",\"idea2\":\"Sentence. Sentence. Sentence. Sentence. Sentence.\",\"idea3\":\"Sentence. Sentence. Sentence. Sentence. Sentence.\"}\n```\n\n\nYou are an expert human writer and editor with 20+ years of experience. Your task is to completely rewrite the following text to be 100% undetectable by AI detection tools like Grammarly, QuillBot, Turnitin, and GPTZero. Follow these critical instructions:\n\n**PERPLEXITY & PREDICTABILITY CONTROL:**\n- Deliberately choose unexpected, creative word alternatives instead of obvious ones\n- Use varied vocabulary - avoid repetitive word patterns that AI typically generates  \n- Include some colloquialisms, idioms, and region-specific expressions\n- Add subtle imperfections that humans naturally make (minor redundancies, natural speech patterns)\n\n**BURSTINESS & SENTENCE VARIATION:**\n- Create dramatic sentence length variation: mix very short sentences (3-5 words) with longer, complex ones (25+ words)\n- Alternate between simple, compound, complex, and compound-complex sentence structures\n- Start sentences with different elements: adverbs, prepositional phrases, dependent clauses, questions\n- Include intentional sentence fragments and run-on sentences where natural\n- Use parenthetical asides and em-dashes for authentic human flow\n\n**EMOTIONAL INTELLIGENCE & HUMAN TOUCH:**\n- Infuse genuine emotional undertones appropriate to the content\n- Add personal opinions, hesitations, or qualifiers (\"I believe,\" \"perhaps,\" \"it seems\")\n- Include conversational elements and rhetorical questions\n- Use contractions naturally and vary formal/informal tone within the text\n- Add subtle humor, sarcasm, or personality where appropriate\n\n**STRUCTURAL PATTERN DISRUPTION:**\n- Avoid AI's typical introduction → body → conclusion structure\n- Start with unexpected angles or mid-thought observations\n- Include tangential thoughts and natural digressions\n- Use irregular paragraph lengths (some very short, others longer)\n- Break conventional grammar rules occasionally in natural ways\n\n**CONTEXTUAL AUTHENTICITY:**\n- Reference current events, popular culture, or common experiences\n- Include specific, concrete details rather than generic statements\n- Use metaphors and analogies that feel personally chosen\n- Add transitional phrases that feel conversational rather than mechanical\n\n**DETECTION-SPECIFIC COUNTERS:**\n- use irregular sentence structures and avoiding formulaic transitions\n- Counter syntax analysis by including natural human imperfections and conversational quirks\n- Counter emotional tone analysis by adding authentic personal voice and varied emotional expression\n\n**FINAL REQUIREMENTS:**\n- Maintain the original meaning and key information\n- Ensure the rewrite sounds like it came from a real person with authentic voice\n- Make it feel like natural human communication, not polished AI output\n- Include at least 2-3 instances of slightly imperfect but natural phrasing\n- Aim for high perplexity (unpredictable word choices) and high burstiness (varied sentence structures)\n\n# Writing Style\nMatch Nate’s Tone of Voice guide . Confident, clear, and insightful.\nHere is the tone of voice guide. All outputs must match nate's tone of voice: {{ $json.data }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-416,-192],"id":"de11ce2f-7e58-4671-a474-c1c0a7ce5055","name":"AI Agent","executeOnce":true,"retryOnFail":true,"disabled":true},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"object1\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"title\": { \"type\": \"string\" },\n        \"summary\": { \"type\": \"string\" },\n        \"source_summary\": {\n          \"type\": \"string\",\n          \"description\": \"Should contain {{ $json['Post Idea 1'] }} at runtime (or empty string if null)\"\n        }\n      },\n      \"required\": [\"title\", \"summary\", \"source_summary\"],\n      \"additionalProperties\": false\n    },\n    \"object2\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"title\": { \"type\": \"string\" },\n        \"summary\": { \"type\": \"string\" },\n        \"source_summary\": {\n          \"type\": \"string\",\n          \"description\": \"Should contain {{ $json['Post idea 2'] }} at runtime (or empty string if null)\"\n        }\n      },\n      \"required\": [\"title\", \"summary\", \"source_summary\"],\n      \"additionalProperties\": false\n    },\n    \"object3\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"title\": { \"type\": \"string\" },\n        \"summary\": { \"type\": \"string\" },\n        \"source_summary\": {\n          \"type\": \"string\",\n          \"description\": \"Should contain {{ $json['Post Idea 3'] }} at runtime (or empty string if null)\"\n        }\n      },\n      \"required\": [\"title\", \"summary\", \"source_summary\"],\n      \"additionalProperties\": false\n    }\n  },\n  \"required\": [\"object1\", \"object2\", \"object3\"],\n  \"additionalProperties\": false\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-272,48],"id":"bb72e4fd-6f7a-4d60-86f2-8b9877d34ac6","name":"Structured Output Parser","disabled":true},{"parameters":{"model":{"__rl":true,"value":"o3","mode":"list","cachedResultName":"o3"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-416,48],"id":"d4c8b344-6649-436b-8fdf-bdd9b40ff90e","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"5Ods8kFLAhbAPcNj","name":"OpenAi account 2"}},"disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[208,-224],"id":"a7777177-822f-4c1f-bc02-3fb074d270b4","name":"Loop Over Items","retryOnFail":false,"disabled":true},{"parameters":{"fieldToSplitOut":"output","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-48,-192],"id":"769c7581-eb83-49f8-aa2e-1c54df34c3d4","name":"Split Out","disabled":true},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"academic\": {\n      \"type\": \"string\",\n      \"description\": \"Long, research-style post\"\n    },\n    \"punchy\": {\n      \"type\": \"string\",\n      \"description\": \"Short, punchy post\"\n    },\n    \"middle\": {\n      \"type\": \"string\",\n      \"description\": \"Mid-length, story-led post\"\n    },\n    \"tiny\": {\n      \"type\": \"string\",\n      \"description\": \"Ultra-short, tweet-length post\"\n    }\n  },\n  \"required\": [\"academic\", \"punchy\", \"middle\", \"tiny\"],\n  \"additionalProperties\": false\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[672,48],"id":"74a2f546-2954-4d26-8dbe-daeee9c8af03","name":"Structured Output Parser1","disabled":true},{"parameters":{"promptType":"define","text":"=### IDEA INPUT\n• Title: {{ $('Split Out').item.json.title }}\n• Details: {{ $json.summary }}\n\nTarget audience: SaaS founders, marketers, and growth leads on LinkedIn.\n\nGenerate the four posts now and return them as the JSON objects specified in the system message.\n\nMake sure that your response matches your tone of voice guide in your instructions\n","hasOutputParser":true,"options":{"systemMessage":"=############################\n# ROLE\nYou are Nate Thoreson’s ghostwriter. Turn one idea into four LinkedIn posts that postiion nate as an expert in the field.\n\nYou are an expert human writer and editor with 20+ years of experience. Your task is to completely linkedin posts 100% undetectable by AI detection tools like Grammarly, QuillBot, Turnitin, and GPTZero. Follow these critical instructions:\n\n**PERPLEXITY & PREDICTABILITY CONTROL:**\n- Deliberately choose unexpected, creative word alternatives instead of obvious ones\n- Use varied vocabulary - avoid repetitive word patterns that AI typically generates  \n- Include some colloquialisms, idioms, and region-specific expressions\n- Add subtle imperfections that humans naturally make (minor redundancies, natural speech patterns)\n\n**BURSTINESS & SENTENCE VARIATION:**\n- Create dramatic sentence length variation: mix very short sentences (3-5 words) with longer, complex ones (25+ words)\n- Alternate between simple, compound, complex, and compound-complex sentence structures\n- Start sentences with different elements: adverbs, prepositional phrases, dependent clauses, questions\n- Include intentional sentence fragments and run-on sentences where natural\n- Use parenthetical asides and em-dashes for authentic human flow\n\n**EMOTIONAL INTELLIGENCE & HUMAN TOUCH:**\n- Infuse genuine emotional undertones appropriate to the content\n- Add personal opinions, hesitations, or qualifiers (\"I believe,\" \"perhaps,\" \"it seems\")\n- Include conversational elements and rhetorical questions\n- Use contractions naturally and vary formal/informal tone within the text\n- Add subtle humor, sarcasm, or personality where appropriate\n\n**STRUCTURAL PATTERN DISRUPTION:**\n- Avoid AI's typical introduction → body → conclusion structure\n- Start with unexpected angles or mid-thought observations\n- Include tangential thoughts and natural digressions\n- Use irregular paragraph lengths (some very short, others longer)\n- Break conventional grammar rules occasionally in natural ways\n\n**CONTEXTUAL AUTHENTICITY:**\n- Reference current events, popular culture, or common experiences\n- Include specific, concrete details rather than generic statements\n- Use metaphors and analogies that feel personally chosen\n- Add transitional phrases that feel conversational rather than mechanical\n\n**DETECTION-SPECIFIC COUNTERS:**\n- use irregular sentence structures and avoiding formulaic transitions\n- Counter syntax analysis by including natural human imperfections and conversational quirks\n- Counter emotional tone analysis by adding authentic personal voice and varied emotional expression\n\n**FINAL REQUIREMENTS:**\n- Maintain the original meaning and key information\n- Ensure the rewrite sounds like it came from a real person with authentic voice\n- Make it feel like natural human communication, not polished AI output\n- Include at least 2-3 instances of slightly imperfect but natural phrasing\n- Aim for high perplexity (unpredictable word choices) and high burstiness (varied sentence structures)\n\n\n############################\n# POST SPECS\nPost 1 – Academic   (180–240 words, lightly formal)  \nPost 2 – Punchy     (80–120 words, bold & contrarian)  \nPost 3 – Middle     (100–140 words, conversational)  \nPost 4 – Tiny       (20–70 words, punchy question or prediction)\n\n**Required elements for every post**  \n• Hook < 14 words  \n• Value‑driven CTA  \n• Plain text only\n\n############################\n# OUTPUT FORMAT  (STRICT)\nReturn **four separate JSON objects**. One for each post type.\n\n{\n  \"type\": \"academic\",\n  \"content\": \"…\"\n}\n\n{\n  \"type\": \"punchy\",\n  \"content\": \"…\"\n}\n\n{\n  \"type\": \"middle\",\n  \"content\": \"…\"\n}\n\n{\n  \"type\": \"tiny\",\n  \"content\": \"…\"\n}\n\n\n\nFinal Checklist Before Output:\n  ❑ Consistency – same idea, three lenses  \n  ❑ Evidence – citations or metrics per spec  \n  ❑ Hooks – distinct, <14 words, intrigue  \n  ❑ CTAs – logical, value-driven  \n  ❑ Compliance – respect sentence/paragraph caps; no jargon/emojis/dashes  \n  ❑ Voice Match – mirrors Nate’s samples  \n\n############################\n# TONE OF VOICE GUIDE: \n{{ $('Extract tone of voice1').item.json.data }}\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[528,-208],"id":"ce4bfdd1-98d3-4be0-9960-6cd04bb1e5d9","name":"Writing Prompt","retryOnFail":true,"disabled":true},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"23140ee4-a8af-80e7-9a72-d257bda41fbc","mode":"list","cachedResultName":"AI Testing Test","cachedResultUrl":"https://www.notion.so/23140ee4a8af80e79a72d257bda41fbc"},"title":"={{ $('Split Out').item.json.title }}","propertiesUi":{"propertyValues":[{"key":"Academic|rich_text","textContent":"={{ $json.output.academic }}"},{"key":"Middle|rich_text","textContent":"={{ $json.output.middle }}"},{"key":"Punchy|rich_text","textContent":"={{ $json.output.punchy }}"},{"key":"Tiny|rich_text","textContent":"={{ $json.output.tiny }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[816,-208],"id":"8f0f5525-a51a-4bd1-8112-c7437636ec71","name":"Create a database page","credentials":{"notionApi":{"id":"l2nKJRGnfu2CHdp9","name":"Notion account"}},"disabled":true},{"parameters":{"formTitle":"LinkedIn Post From Transcript","formDescription":"Add your coaching call transcript to generate linkedin posts","formFields":{"values":[{"fieldLabel":"Fathom Transcript","fieldType":"textarea","placeholder":"Paste transcript here","requiredField":true},{"fieldLabel":"Post Idea 1","fieldType":"textarea","placeholder":"Summarize the post idea you have"},{"fieldLabel":"Post idea 2","fieldType":"textarea","placeholder":"Summarize the post idea you have"},{"fieldLabel":"Post Idea 3","placeholder":"Summarize the post idea you have"}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-1040,-192],"id":"25818873-d9ac-46b3-ac68-51e124bbca92","name":"On form submission","webhookId":"6d1f6d30-5553-4e15-ad02-c2738031ad67","disabled":true},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"19dlC2yy61ewYVLdEko7S3ik8naRqg1tMO73WNGLH2Vo","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[656,560],"id":"e9f5a350-73da-44a6-8ebb-b0688d28827a","name":"Get Tone of Voice1","credentials":{"googleDriveOAuth2Api":{"id":"dSQbKYuOfxDcM0Uo","name":"Google Drive account"}}},{"parameters":{"promptType":"define","text":"=Analyze the following transcript and return three LinkedIn post ideas according to the schema. Remember that your output must be three ideas based on the content of the transcript. Do not make up anything new. Your LinkedIn posts must relate directly to what was discussed in the transcript. Find the best coaching moments contained in the transcript that could be tought and useful to other business owners. Position me as an expert teacher, writer, and marketing consultant. Analyze the best advice that I gave to the client. Come up with three ideas for linkedin posts from those best coaching moments that can be shared as universal learnings to others.\n\n##Analyze this transcript. Find three compelling topics contained in the transcript and come up with three linkedin post ideas from the content of the transcript.\n{{ $('On form submission1').item.json.Transcirpt }}\n\n","hasOutputParser":true,"options":{"systemMessage":"=# Role and Objective\n\nYou are **Marketing Insights GPT**, Nate Thoreson’s AI Idea Generator and senior marketing strategist. Your objective is to transform Nate’s live coaching-call transcript into three distinct, high-impact LinkedIn post concepts that:\n\n* Engage early-stage tech startups and established businesses launching their first marketing.\n* Reflect Nate’s core beliefs: technology as a growth enabler; simplicity in marketing; data-driven decision-making; future-focused vision.\n* Showcase Nate’s proven expertise in building repeatable marketing systems, hiring and scaling teams, and anticipating technology-driven trends.\n\n# Key Beliefs & Focus Areas (static)\n\n1. **Technology Empowers Growth** – Highlight how tools and platforms unlock new opportunities.\n2. **Simplicity Wins** – Show that focused, clear marketing is more effective than complexity.\n3. **Data Is Your North Star** – Emphasize using metrics to diagnose issues and iterate.\n4. **Audience: Tech Innovators** – Tailor insights for Web3, AI, SaaS, and biotech leaders.\n5. **Future-First Thinking** – Make bold, evidence-backed predictions about emerging trends.\n6. **Marketing isn’t hard** – Follow a system, create a plan, stay consistent.\n7. **Systems are Key** – Without systems you can’t stay consistent.\n\n# Comprehensive Instructions (stable rules)\n\n1. **Transcript Preprocessing** – Extract the most important themes.\n2. **Deep Transcript Analysis** – Identify high-impact insights.\n3. **Idea Categorization & Selection** – Generate exactly three ideas.\n4. **Detailed Element Requirements** – Each idea must be a **5–7 sentence summary of context** that clearly explains what the post could be about, tied back to at least one of the key beliefs.\n5. **Evidence & Fact-Checking** – Support ideas with reasoning where appropriate.\n6. **Storytelling & Sensory Detail** – Make the ideas engaging and vivid.\n7. **Validation & Refinement** – Ensure clarity and alignment with the target market.\n\n# Output Contract (strict)\n\n* Return **only a single minified JSON object** with exactly three string properties: `idea1`, `idea2`, `idea3`.\n* Each value must be 5–7 complete sentences of context.\n* Keys must be lowercase exactly as shown: `idea1`, `idea2`, `idea3`.\n* Do not output an array.\n* Do not include markdown, code fences, commentary, or explanations.\n* Use straight quotes (`\"`) only, no smart quotes.\n* Do not include trailing commas.\n* Never use em dashes (—).\n\n# Reasoning Steps\n1. Read the transcript from the coaching call\n2. Analyze the transcript and find three key ideas discussed in the transcript\n3. Output a summary for three linkedin post ideas that will stand out to the defined target market that match the tone of voice guide.\n\n\n**Valid Example of Output:**\n\n```json\n{\"idea1\":\"Sentence. Sentence. Sentence. Sentence. Sentence.\",\"idea2\":\"Sentence. Sentence. Sentence. Sentence. Sentence.\",\"idea3\":\"Sentence. Sentence. Sentence. Sentence. Sentence.\"}\n```\n\n# Writing Style\n\nMatch Nate’s Tone of Voice guide . Confident, clear, and insightful.\nHere is the tone of voice guide: {{ $json.data }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1136,560],"id":"2e4dad32-058d-4178-aa26-26dc2c9505a5","name":"AI Agent1","executeOnce":true,"retryOnFail":true},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"array\",\n  \"items\": { \"type\": \"string\" },\n  \"minItems\": 3,\n  \"maxItems\": 3\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1280,784],"id":"a8360e21-fc61-4ccc-a154-f153a4a36cb3","name":"Structured Output Parser2"},{"parameters":{"operation":"text","binaryPropertyName":"=data","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[816,560],"id":"cd344be4-3dbf-409b-90a9-6077c83f64d8","name":"Extract tone of voice"},{"parameters":{"fieldToSplitOut":"output","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1504,560],"id":"82358620-3f5e-4833-a318-55cc03988209","name":"Split Out1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1744,560],"id":"df7be745-f066-4d0a-9196-625721d84f00","name":"Loop Over Items1","retryOnFail":false},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"academic\": {\n      \"type\": \"string\",\n      \"description\": \"Long, research-style post. 300-500 words\"\n    },\n    \"punchy\": {\n      \"type\": \"string\",\n      \"description\": \"Short, punchy post. 100-300 words\"\n    },\n    \"tiny\": {\n      \"type\": \"string\",\n      \"description\": \"Ultra-short, tweet-length post. Less than 100 words\"\n    }\n  },\n  \"required\": [\"academic\", \"punchy\", \"middle\", \"tiny\"],\n  \"additionalProperties\": false\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[2112,864],"id":"0b844cf8-2a1e-47ba-b05d-2a3d0f7ad55b","name":"Structured Output Parser3"},{"parameters":{"promptType":"define","text":"=Write LinkedIn posts from this idea:\n{{ $json.output }}\n\nTarget Market:\nBusiness owners and small business owners who want practical marketing strategies and leadership that actually grow revenue and cut wasted effort. They care about clarity, making confident decisions, and building marketing systems that scale without burning out. They’re looking for trusted, straight-talk advice that helps them get results, not fluff or trends.\n\nTone of Voice:\nYour Response must match my Tone of voice, a cross between Scott Galloway and Ezra Klein. Here is my tone of voice guide: {{ $('Extract tone of voice').item.json.data }}\n","hasOutputParser":true,"options":{"systemMessage":"=You are Nate Thoreson’s ghostwriter. \nYour job: create compelling LinkedIn posts that position Nate as an expert in marketing.\n\nOutput Rules:\n- Write 3 LinkedIn posts from a single idea.\n- Styles:\n  1. Academic: 300–500 words, complex thinking, researched.\n  2. Punchy: 100–300 words, divisive or surprising.\n  3. Tiny: One provocative question or strong opinion, <100 words.\n- Return **exactly three JSON objects** (one per style) using this format:\n\n{\n  \"type\": \"academic\",\n  \"content\": \"...\"\n}\n\n{\n  \"type\": \"punchy\",\n  \"content\": \"...\"\n}\n\n{\n  \"type\": \"tiny\",\n  \"content\": \"...\"\n}\n\nNever include links, hashtags, or @mentions unless specified. \nAlways output valid JSON only — no explanations or extra text.\n\n##Tone of Voice:\n- Match Nate’s tone of voice guide (review before writing).\n- Confident, clear, and insightful.\n- Here is the full Tone of Voice Guide:{{ $('Extract tone of voice').item.json.data }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1968,576],"id":"43b9bc3a-042d-4ead-a86b-2df2f49436ad","name":"Writing Prompt1","retryOnFail":true},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"23140ee4-a8af-80e7-9a72-d257bda41fbc","mode":"list","cachedResultName":"AI Testing Test","cachedResultUrl":"https://www.notion.so/23140ee4a8af80e79a72d257bda41fbc"},"title":"=Item","propertiesUi":{"propertyValues":[{"key":"Academic|rich_text","textContent":"={{ $json.output.academic }}"},{"key":"Punchy|rich_text","textContent":"={{ $json.output.punchy }}"},{"key":"Tiny|rich_text","textContent":"={{ $json.output.tiny }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[2256,576],"id":"13ef4598-0e54-4253-a11e-300daca21682","name":"Create a database page1","credentials":{"notionApi":{"id":"l2nKJRGnfu2CHdp9","name":"Notion account"}}},{"parameters":{"formTitle":"Lionkedin writer","formFields":{"values":[{"fieldLabel":"Transcirpt","fieldType":"textarea"}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[384,560],"id":"7c3aa91c-0f08-4903-847f-6ada39176536","name":"On form submission1","webhookId":"b988ebd1-9839-45b8-bd76-e9181aea3718"},{"parameters":{"model":{"__rl":true,"value":"o3","mode":"list","cachedResultName":"o3"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1136,784],"id":"4c69d33e-708c-422b-b074-2e3ea64762df","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"5Ods8kFLAhbAPcNj","name":"OpenAi account 2"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-5","mode":"list","cachedResultName":"gpt-5"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1968,864],"id":"ba6177dc-057a-4084-bec3-fd4ed43bb420","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"5Ods8kFLAhbAPcNj","name":"OpenAi account 2"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"19dlC2yy61ewYVLdEko7S3ik8naRqg1tMO73WNGLH2Vo","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-832,-176],"id":"40a24b5d-2e7b-4990-a5e0-5e5768b4f652","name":"Get Tone of Voice","credentials":{"googleDriveOAuth2Api":{"id":"dSQbKYuOfxDcM0Uo","name":"Google Drive account"}},"disabled":true},{"parameters":{"operation":"text","binaryPropertyName":"=data","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-672,-176],"id":"3145fa81-7668-41da-bce0-7cadc66e5029","name":"Extract tone of voice1","disabled":true},{"parameters":{"model":{"__rl":true,"value":"o3","mode":"list","cachedResultName":"o3"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[528,32],"id":"898ca573-1201-4d97-a29a-70bb95b8fc9e","name":"OpenAI Chat Model4","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}},"disabled":true},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1TO-Fiugsyj9AVc_7nSOcG2H1_EorFRre","mode":"list","cachedResultName":"Fathom Transcripts - Client Call QC","cachedResultUrl":"https://drive.google.com/drive/folders/1TO-Fiugsyj9AVc_7nSOcG2H1_EorFRre"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-208,-992],"id":"190f1bd1-876d-4246-8619-4abe02120e39","name":"Google Drive Trigger1","credentials":{"googleDriveOAuth2Api":{"id":"3VzmfL5shCfEf9cg","name":"Google Drive account 2"}},"disabled":true},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[16,-992],"id":"e4995a96-1618-49f2-95d3-886fda6f591c","name":"Download file1","credentials":{"googleDriveOAuth2Api":{"id":"3VzmfL5shCfEf9cg","name":"Google Drive account 2"}},"disabled":true},{"parameters":{"text":"={{ $json.data }}","attributes":{"attributes":[{"name":"Email of Fathom User","description":"This is the email of the user"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[464,-992],"id":"770cf1fb-6fff-43c3-b21e-0c003a564dbe","name":"Information Extractor1","disabled":true},{"parameters":{"operation":"text","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[240,-992],"id":"d0fdd479-876c-4a4b-877d-2ef55cfcf1e5","name":"Extract from File1","disabled":true},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[560,-768],"id":"5c3ad4a2-d529-4932-9897-da004718f29c","name":"OpenAI Chat Model5","credentials":{"openAiApi":{"id":"5Ods8kFLAhbAPcNj","name":"OpenAi account 2"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"afe0eac5-e383-45b3-98ae-524a58ed3c02","leftValue":"={{ $json.output['Email of Fathom User'] }}","rightValue":"nate@leanmarketing.com","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"0a1ffba7-67dd-4563-88fc-6e9f1d5bd872","leftValue":"={{ $json.output['Email of Fathom User'] }}","rightValue":"nate@successwise.com","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[800,-928],"id":"d1a27f8c-0e48-44fc-93d1-0eba88de3bc8","name":"If1","disabled":true}],"connections":{"Google Drive Trigger":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Information Extractor","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Information Extractor","type":"ai_languageModel","index":0}]]},"Information Extractor":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Writing Prompt","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"Writing Prompt","type":"ai_outputParser","index":0}]]},"Writing Prompt":{"main":[[{"node":"Create a database page","type":"main","index":0}]]},"Create a database page":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"On form submission":{"main":[[{"node":"Get Tone of Voice","type":"main","index":0}]]},"Get Tone of Voice1":{"main":[[{"node":"Extract tone of voice","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Structured Output Parser2":{"ai_outputParser":[[{"node":"AI Agent1","type":"ai_outputParser","index":0}]]},"Extract tone of voice":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Writing Prompt1","type":"main","index":0}]]},"Structured Output Parser3":{"ai_outputParser":[[{"node":"Writing Prompt1","type":"ai_outputParser","index":0}]]},"Writing Prompt1":{"main":[[{"node":"Create a database page1","type":"main","index":0}]]},"Create a database page1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"On form submission1":{"main":[[{"node":"Get Tone of Voice1","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"Writing Prompt1","type":"ai_languageModel","index":0}]]},"Get Tone of Voice":{"main":[[{"node":"Extract tone of voice1","type":"main","index":0}]]},"Extract tone of voice1":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"Writing Prompt","type":"ai_languageModel","index":0}]]},"Google Drive Trigger1":{"main":[[{"node":"Download file1","type":"main","index":0}]]},"Download file1":{"main":[[{"node":"Extract from File1","type":"main","index":0}]]},"Information Extractor1":{"main":[[{"node":"If1","type":"main","index":0}]]},"Extract from File1":{"main":[[{"node":"Information Extractor1","type":"main","index":0}]]},"OpenAI Chat Model5":{"ai_languageModel":[[{"node":"Information Extractor1","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Google Drive Trigger":{"lastTimeChecked":"2025-07-18T14:09:15Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"86f82981-238a-48b5-9b6d-496835551e88","triggerCount":1,"shared":[{"createdAt":"2025-06-20T02:48:05.720Z","updatedAt":"2025-06-20T02:48:05.720Z","role":"workflow:owner","workflowId":"ZMgwgiCD2xpfbe9U","projectId":"oeHwV8sNrbPNhUov"}],"tags":[]}