nate-test-4---common-words-and-phrases-copy-JfWTvDfrV77b4ZxB.json
{"createdAt":"2025-05-02T21:14:35.600Z","updatedAt":"2025-08-14T23:52:40.948Z","id":"JfWTvDfrV77b4ZxB","name":"NATE TEST 4 - Common words and phrases copy","active":false,"isArchived":false,"nodes":[{"parameters":{"tableId":"common_words_and_phrases","fieldsUi":{"fieldValues":[{"fieldId":"client_id","fieldValue":"={{ $('Get ClientID Via Search').item.json.client_id }}"},{"fieldId":"company","fieldValue":"={{ $('Get ClientID Via Search').item.json.company }}"},{"fieldId":"primary_target_market","fieldValue":"={{ $json.output.primaryTargetMarket }}"},{"fieldId":"secondary_target_market","fieldValue":"={{ $json.output.secondaryTargetMarket }}"},{"fieldId":"additional_insights","fieldValue":"={{ $json.output.additionalInsights }}"},{"fieldId":"offer","fieldValue":"={{ $('Get ClientID Via Search').item.json.offer }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[560,560],"id":"29a89d30-90d5-4fc1-805d-b3f36d6fd975","name":"Supabase1","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}},"onError":"continueErrorOutput"},{"parameters":{"promptType":"define","text":"=ALWAYS USE THE TOOL TO PULL CHUNKS FROM THE VECTOR DATABASE\n\n**Analyze the provided context:**\n\n- **Company Name:** \n{{ $('Get ClientID Via Search').item.json.company }}\n- **Offer:** \n{{ $('Get ClientID Via Search').item.json.offer }}\n- **Primary Target Market:**\n{{ JSON.stringify($('Get ClientID Via Search').item.json.primary_target_market, null, 2) }}\n- **Secondary Target Market:** \n{{ JSON.stringify($('Get ClientID Via Search').item.json.secondary_target_market) }}\n\n\n","hasOutputParser":true,"options":{"systemMessage":"=**Role and Objective**\nYou are a marketing researcher. Your objective is to analyze client interviews, testimonials, and related documents using the provided tool and the vector database. Extract the most common and distinctive words and phrases found in customer language—specifically those that reflect unique value propositions, benefits, pain points, or specific feedback about the company and its offer. Do not include generic industry terms or obvious keywords. Use document metadata to source each excerpt and label each as either \"customer verbatim\" or \"competitor\" as appropriate.\n\n\n**Instructions**\n\nAlways use the tool to extract relevant text chunks from the vector database.\n\nFocus on direct verbiage from customers—interviews, testimonials, and reviews. Use direct quotes when possible, labeling these as \"source\": \"customer verbatim\".\n\nIf a theme or phrase is missing from customer data, reference competitor language, labeling as \"source\": \"competitor\".\n\nFor each phrase or word, provide:\n\n\"phrase\": The extracted word or phrase.\n\n\"excerpt\": The supporting quote or explanation.\n\n\"source\": \"customer verbatim\" or \"competitor\".\n\n\"document\": The name or identifier of the source document (from metadata).\n\nExtract exactly 8 phrases for the primary target market and exactly 5 for the secondary target market.\n\nDo not include generic or obvious keywords. Prioritize unique, specific, or emotionally charged language.\n\n**Reasoning Steps**\n\nBegin by searching the database for customer-facing documents: interviews, testimonials, reviews.\n\nUse the tool to search the vector database for customer-facing documents such as interviews, testimonials, and reviews, using methods appropriate for retrieving relevant chunks from a vector database.\n\nAttach document identifiers to each phrase when possible.\n\nSummarize pain points, geographic influences, or unique patterns observed, using additional insights if relevant.\n\n**Context**\nYou will have access to context, inputs, and a vector database tool containing customer-facing documents and competitor references. Use all provided material as your source. The output will be used to inform messaging, positioning, and customer persona work.\n\n**Final instructions and prompt to think step by step**\nCarefully review all relevant input context and results retrieved from the vector database before extracting phrases.\nThink step by step: First, identify unique, high-value language from actual customer interactions.\nEnsure that each entry meets the required format: phrase, excerpt, source, and document identifier.\nReturn a JSON object with exactly 8 phrases for the primary target market and 5 for the secondary target market, plus any additional insights. Do not yield control until your output meets all requirements and excludes any generic keywords.\n        \n{\n  \"type\": \"object\",\n  \"properties\": {\n    \"primaryTargetMarket\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"phrase\": {\n            \"type\": \"string\"\n          },\n          \"excerpt\": {\n            \"type\": \"string\"\n          },\n          \"source\": {\n            \"type\": \"string\",\n            \"enum\": [\"customer verbatim\", \"competitor\"]\n          },\n          \"document\": {\n            \"type\": \"string\",\n            \"description\": \"Name or identifier of the source document\"\n          }\n        },\n        \"required\": [\"phrase\", \"excerpt\", \"source\"]\n      }\n    },\n    \"secondaryTargetMarket\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"phrase\": {\n            \"type\": \"string\"\n          },\n          \"excerpt\": {\n            \"type\": \"string\"\n          },\n          \"source\": {\n            \"type\": \"string\",\n            \"enum\": [\"customer verbatim\", \"competitor\"]\n          },\n          \"document\": {\n            \"type\": \"string\",\n            \"description\": \"Name or identifier of the source document\"\n          }\n        },\n        \"required\": [\"phrase\", \"excerpt\", \"source\"]\n      }\n    },\n    \"additionalInsights\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"painPointsForDesigners\": {\n          \"type\": \"array\",\n          \"items\": {\n            \"type\": \"string\"\n          }\n        },\n        \"geographicInfluences\": {\n          \"type\": \"array\",\n          \"items\": {\n            \"type\": \"string\"\n          }\n        }\n      },\n      \"required\": [\"painPointsForDesigners\", \"geographicInfluences\"]\n    }\n  },\n  \"required\": [\"primaryTargetMarket\", \"secondaryTargetMarket\", \"additionalInsights\"]\n}\n\nRemember:\nALWAYS USE THE TOOL TO PULL CHUNKS FROM THE VECTOR DATABASE"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[40,580],"id":"e0c8b35d-425f-4239-a382-814f249c0337","name":"AI Agent"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"primaryTargetMarket\": {\n      \"type\": \"array\",\n      \"minItems\": 8,\n      \"maxItems\": 8,\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"phrase\": { \"type\": \"string\" },\n          \"excerpt\": { \"type\": \"string\" },\n          \"source\": {\n            \"type\": \"string\",\n            \"enum\": [\"customer verbatim\", \"competitor\"]\n          },\n          \"document\": {\n            \"type\": \"string\",\n            \"description\": \"Name or identifier of the source document\"\n          }\n        },\n        \"required\": [\"phrase\", \"excerpt\", \"source\", \"document\"]\n      }\n    },\n    \"secondaryTargetMarket\": {\n      \"type\": \"array\",\n      \"minItems\": 5,\n      \"maxItems\": 5,\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"phrase\": { \"type\": \"string\" },\n          \"excerpt\": { \"type\": \"string\" },\n          \"source\": {\n            \"type\": \"string\",\n            \"enum\": [\"customer verbatim\", \"competitor\"]\n          },\n          \"document\": {\n            \"type\": \"string\",\n            \"description\": \"Name or identifier of the source document\"\n          }\n        },\n        \"required\": [\"phrase\", \"excerpt\", \"source\", \"document\"]\n      }\n    },\n    \"additionalInsights\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"painPointsForDesigners\": {\n          \"type\": \"array\",\n          \"items\": { \"type\": \"string\" }\n        },\n        \"geographicInfluences\": {\n          \"type\": \"array\",\n          \"items\": { \"type\": \"string\" }\n        }\n      },\n      \"required\": [\"painPointsForDesigners\", \"geographicInfluences\"]\n    }\n  },\n  \"required\": [\"primaryTargetMarket\", \"secondaryTargetMarket\", \"additionalInsights\"]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[360,820],"id":"d8cff72e-acb9-4e1a-bd46-aa92e3d9ae07","name":"Structured Output Parser"},{"parameters":{"mode":"retrieve-as-tool","toolName":"common_words","toolDescription":"=You are a marketing researcher. Your objective is to analyze client interviews, testimonials, and related documents using the provided tool. Extract the most common and distinctive words and phrases that appear in customer language—specifically those that reflect unique value propositions, benefits, pain points, or specific feedback about the company and its offer. Do not include generic industry terms or obvious keywords (e.g., “music,” “piano”). Use document metadata to source each excerpt and label each as either \"customer verbatim\" or \"competitor\" as appropriate. Prioritize customer verbatiums and customer interviews over the onboarding questionnaire.","pineconeIndex":{"__rl":true,"value":"={{ $json.company }}","mode":"id"},"topK":15,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[140,1020],"id":"33a73ef1-d67d-44b2-baf6-e2fd5de9cb1f","name":"Pinecone Vector Store1","credentials":{"pineconeApi":{"id":"axuYyU6grhcC8CQp","name":"PineconeApi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[200,1260],"id":"21646bc6-8e8a-4f22-8625-8cc48a93a778","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1400,620],"id":"d182dcab-9a07-4883-b8f0-8864e19fb5cf","name":"When clicking ‘Test workflow’"},{"parameters":{"content":"## Bubble webhook\n**Need to have Client ID sent via webhook","height":360,"width":260},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1480,460],"id":"5b67c1c6-4fdc-4354-8268-6aa4a0ca8231","name":"Sticky Note"},{"parameters":{"operation":"get","tableId":"target_market_profiles","filters":{"conditions":[{"keyName":"company","keyValue":"={{ $json['Company Run'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-760,600],"id":"728d35de-c430-4240-9e34-da37d0e6c702","name":"Get ClientID Via Search","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"content":"## Change Search to ClientID In Production\n\nCurrently We are just searching for \"Tonic Living\"","height":360,"width":260},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-840,400],"id":"a3e94174-e97e-4fc9-a100-5626f3fa8436","name":"Sticky Note1"},{"parameters":{"content":"## Reminder: Tagging & Filtering Client Interview Documents in Pinecone\n\n📌 When Uploading Documents to Pinecone:\n\nEnsure document titles include \"interview\" for client interview files.\nUse metadata tagging to set \"document_type\": \"interview\" dynamically.\nFor non-interview documents, set \"document_type\": \"general\".\n","height":240,"width":500,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-80,380],"id":"923041b5-4e19-4051-85c8-ad1583f3b528","name":"Sticky Note2"},{"parameters":{"content":"## AI Model\nCurrently set\nto 4o","height":140,"width":360,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-220,800],"id":"155f1909-21e0-4747-a626-f59310a12995","name":"Sticky Note3"},{"parameters":{"assignments":{"assignments":[{"id":"375b758f-6387-4e71-b280-65106e9442d4","name":"company","value":"={{ $json.company.toLowerCase().replace(/\\s+/g, \"-\") }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-420,580],"id":"33acbbf1-170e-4ada-9411-59361083a2f9","name":"standardize vector name"},{"parameters":{"content":"## Handle Error\nIn production add error handling for data duplication with same ID\n","height":280,"width":380},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[520,440],"id":"f02e6dfb-34fb-44bb-a95d-6a3e91162645","name":"Sticky Note4"},{"parameters":{"documentId":{"__rl":true,"value":"1nTyix3NeSNWqhZ-B4CQYlelIdZMVpzz6B-d7tFuWOcs","mode":"list","cachedResultName":"MVP Info","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nTyix3NeSNWqhZ-B4CQYlelIdZMVpzz6B-d7tFuWOcs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Prompts","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nTyix3NeSNWqhZ-B4CQYlelIdZMVpzz6B-d7tFuWOcs/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-1060,600],"id":"2f484a45-4089-490e-827e-97e1fc679aa4","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"tkvcRmLfYi38x0mC","name":"Google Sheets account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-20,820],"id":"ae9427b4-7641-4a48-9101-633d4a7d51f2","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}}],"connections":{"AI Agent":{"main":[[{"node":"Supabase1","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Pinecone Vector Store1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store1","type":"ai_embedding","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Get ClientID Via Search":{"main":[[{"node":"standardize vector name","type":"main","index":0}]]},"standardize vector name":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Get ClientID Via Search","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"cebe2dda-51af-4601-b5b5-c658c54459e1","triggerCount":0,"shared":[{"createdAt":"2025-05-02T21:14:35.600Z","updatedAt":"2025-05-02T21:14:35.600Z","role":"workflow:owner","workflowId":"JfWTvDfrV77b4ZxB","projectId":"oeHwV8sNrbPNhUov"}],"tags":[{"createdAt":"2025-03-08T06:02:07.869Z","updatedAt":"2025-03-08T06:02:07.869Z","id":"p2BojbfbdIa5pvok","name":"Messaging"},{"createdAt":"2025-05-02T21:12:13.335Z","updatedAt":"2025-05-02T21:12:13.335Z","id":"pxRI1nCbwcwuqYTY","name":"Nate Test"}]}