nurture---get-client-info-JTlSxd31Q8JFl292.json
{"createdAt":"2025-10-03T08:17:49.433Z","updatedAt":"2025-10-03T08:38:39.054Z","id":"JTlSxd31Q8JFl292","name":"Nurture - Get Client Info","active":true,"isArchived":false,"nodes":[{"parameters":{"path":"getClientInfo","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-464,-32],"id":"3f608205-5fec-447a-a6fb-15a5aae81126","name":"Webhook","webhookId":"fbe43615-b27e-49fa-9459-b6463d86fc6e"},{"parameters":{"operation":"get","tableId":"v_complete_client_context","filters":{"conditions":[{"keyName":"client_id","keyValue":"={{ $json.query.client_id}}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-144,-32],"id":"fbcc6488-b48b-441f-b9e8-d3233ccbc616","name":"Get Client Complete Profile","executeOnce":false,"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[64,-32],"id":"641788cc-784e-4306-b243-7b373e618d2e","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"Get Client Complete Profile","type":"main","index":0}]]},"Get Client Complete Profile":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"0d213013-f541-4a92-a657-a97d850a24c0","triggerCount":1,"shared":[{"createdAt":"2025-10-03T08:17:49.433Z","updatedAt":"2025-10-03T08:17:49.433Z","role":"workflow:owner","workflowId":"JTlSxd31Q8JFl292","projectId":"oeHwV8sNrbPNhUov"}],"tags":[]}