nurture-(test)---parent-zL9bEw7kDLra5XPE.json
{"createdAt":"2025-10-01T09:18:40.755Z","updatedAt":"2025-10-16T10:43:52.300Z","id":"zL9bEw7kDLra5XPE","name":"Nurture (TEST) - Parent","active":false,"isArchived":true,"nodes":[{"parameters":{"public":true,"mode":"webhook","options":{"responseMode":"responseNode"}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[-480,-144],"id":"dce90d5e-9662-4432-a3c0-161f9c99eec9","name":"When chat message received","webhookId":"fe0c3e26-ccc5-4cda-8e20-50ea4bc62eec"},{"parameters":{"options":{"systemMessage":"=You are a slot-filling assistant. You MUST collect exactly three answers in order and then call a tool. You are NOT allowed to compose any subject line, email body, preview, or marketing copy yourself.\n\n# Slots (in order)\nq1 = What do you want to promote?\nq2 = Who will receive the email?\nq3 = Do you propose an offer?\n\n# Policy\n- Ask ONE question at a time.\n- Never list all questions at once.\n- Never repeat a question that is already answered.\n- If the user message contains multiple answers, fill those slots and ask only for the next missing slot.\n- Keep replies short (one sentence max).\n- If off-topic, steer back to the next missing slot.\n\n# Forbidden\n- Do NOT write any email or subject yourself. If you are about to output any email-like content (e.g., lines starting with \"Subject:\", \"Dear\", \"Best regards\"), DO NOT do it. Instead, CALL THE TOOL.\n\n# When all three slots are FILLED\n- You MUST call the tool named: create_email\n- Pass JSON args exactly:\n  {\n    \"question1\": \"<q1>\",\n    \"question2\": \"<q2>\",\n    \"question3\": \"<q3>\"\n  }\n- After the tool returns, output ONLY the tool’s returned content to the user.\n\n# Few-shot\nUser: \"Hi\"\nAssistant: \"What do you want to promote?\"\n\nUser: \"A new golden watch\"\n(Fill q1)\nAssistant: \"Who will receive the email?\"\n\nUser: \"Young adults in our newsletter\"\n(Fill q2)\nAssistant: \"Do you propose an offer?\"\n\nUser: \"10% discount\"\n(Fill q3)\nAssistant: (CALL TOOL create_email with {\"question1\":\"A new golden watch\",\"question2\":\"Young adults in our newsletter\",\"question3\":\"10% discount\"})\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[64,-144],"id":"b6e8e73d-908b-4e66-bea5-cb1dc9192bf4","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[64,128],"id":"816085c0-977a-4109-b9d4-3ed41efb48f1","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{"contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[176,128],"id":"4a75ee7d-f539-4e20-b3c5-aa34984e607e","name":"Simple Memory"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[496,-144],"id":"e789fce1-3582-458b-b02b-5aec20cb9cbb","name":"Respond to Webhook1"},{"parameters":{"operation":"get","tableId":"responses_nurture","filters":{"conditions":[{"keyName":"sessionId","keyValue":"={{ $json.sessionId }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-224,-144],"id":"085e9ffc-3860-4919-a6ec-479e52facc0c","name":"Get a row","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}}],"connections":{"When chat message received":{"main":[[{"node":"Get a row","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Get a row":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5e8402b5-c63e-437a-b729-b397e3b659b4","triggerCount":0,"shared":[{"createdAt":"2025-10-01T09:18:40.755Z","updatedAt":"2025-10-01T09:18:40.755Z","role":"workflow:owner","workflowId":"zL9bEw7kDLra5XPE","projectId":"oeHwV8sNrbPNhUov"}],"tags":[]}