nurture-email---2---create-email-EUo0yLV3epqvMImy.json
{"createdAt":"2025-10-01T06:58:32.303Z","updatedAt":"2025-10-16T10:44:14.576Z","id":"EUo0yLV3epqvMImy","name":"Nurture Email - 2 - Create Email","active":false,"isArchived":true,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"question1"},{"name":"question2"},{"name":"question3"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"00201f6a-ea2e-408f-8253-7d25fe1bc6ca","name":"When Executed by Another Workflow"},{"parameters":{"promptType":"define","text":"=You are an email writer. Please create a short promotional email for {{$json.question1}}.\n\nReturn the final result in Markdown, formatted like this:\n- The subject line in bold on the first line\n- Then the email body with proper line breaks\n- Do not include JSON, labels, or extra explanations\n","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[208,0],"id":"ca428da0-0f76-4f0d-9a4a-2e1344e2d8d4","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[192,160],"id":"c703a586-06bd-4245-a65b-7b03c3367073","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"question1":"roof renovation","question2":"CEO of small industries","question3":"10% discount"}}]},"versionId":"03f1fbf8-3bf9-49d6-aad8-f71670659465","triggerCount":0,"shared":[{"createdAt":"2025-10-01T06:58:32.303Z","updatedAt":"2025-10-01T06:58:32.303Z","role":"workflow:owner","workflowId":"EUo0yLV3epqvMImy","projectId":"oeHwV8sNrbPNhUov"}],"tags":[]}