nurture-email---1---orchestrator-U0BjWimCFxZ4OwQs.json
{"createdAt":"2025-09-26T08:16:58.191Z","updatedAt":"2025-10-02T14:45:54.432Z","id":"U0BjWimCFxZ4OwQs","name":"Nurture Email - 1 - Orchestrator","active":true,"isArchived":false,"nodes":[{"parameters":{"public":true,"mode":"webhook","options":{"responseMode":"responseNode"}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[-1024,512],"id":"d81602f6-c910-4d92-8187-f523b8cef5de","name":"When chat message received","webhookId":"fe0c3e26-ccc5-4cda-8e20-50ea4bc62eec"},{"parameters":{"promptType":"define","text":"={{ $('When chat message received').item.json.chatInput }}","options":{"systemMessage":"=You are a Lead Marketing assistant. Collect exactly 3 answers in order, then call a tool. Do NOT write any email/subject yourself.\n\n# Questions (in order)\nq1 = What do you want to promote?\nq2 = Who will receive the email?\nq3 = Do you propose an offer?\n\n# Memories\n{{ JSON.stringify($json.memories) }}\n\n# Behavior\n- Ask ONE question at a time.\n- Before asking, SCAN the whole memories to detect if the next question is already answered (even implicitly or earlier in the chat). If it is, do NOT re-ask; \n- If the user repeats a previous answer, acknowledge briefly and proceed to the next missing slot.\n- If the user provides multiple answers at once, ask only for the next missing one.\n- Keep replies short (one sentence).\n\n# Forbidden\n- Do NOT write any subject or email body yourself for any reason.\n\n# When all questions are ANSWERED\n- You MUST call tool: create_email\n- Args:\n  {\"question1\":\"<q1>\",\"question2\":\"<q2>\",\"question3\":\"<q3>\"}\n- After the tool returns, output ONLY the tool result.\n\n# Examples\nUser: \"golden watch\"\n(Fill q1)\nAssistant: \"Who will receive the email?\"\n\nUser: \"young adults\"\n(Fill q2)\nAssistant: \"Do you propose an offer?\"\n\nUser: \"10% discount\"\n(Fill q3)\nAssistant: (CALL TOOL create_email with {\"question1\":\"golden watch\",\"question2\":\"young adults\",\"question3\":\"10% discount\"})\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[272,512],"id":"cb69998b-ff04-4d45-a237-ecd8b21800ae","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-5","mode":"list","cachedResultName":"gpt-5"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[208,784],"id":"4f1acf9f-747b-4987-86e3-f3ac4594aea6","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[688,512],"id":"534042b3-dfe4-4d6c-aaf7-30170edc7f1c","name":"Respond to Webhook1"},{"parameters":{"description":"Use this tool to generate the email once you know question1, question2, and question3.","workflowId":{"__rl":true,"value":"EUo0yLV3epqvMImy","mode":"list","cachedResultUrl":"/workflow/EUo0yLV3epqvMImy","cachedResultName":"Nurture Email - 2 - Create Email"},"workflowInputs":{"mappingMode":"defineBelow","value":{"question1":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('question1', ``, 'string') }}","question2":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('question2', ``, 'string') }}","question3":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('question3', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"question1","displayName":"question1","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"question2","displayName":"question2","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"question3","displayName":"question3","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[544,784],"id":"71cb2619-b207-4798-b42f-50db98c93ad8","name":"create_email"},{"parameters":{"jsCode":"/**\n * Normalize any session id fields to the same value, taken from the header.\n * This overrides the Chat Trigger's auto session so Memory & Agent stay aligned.\n */\n\nconst items = $input.all();\n\nfor (const item of items) {\n  const h = (item.json && item.json.headers) || {};\n  // Your single source of truth:\n  const sid =\n    h['x-n8n-chat-session-id'] ||\n    h['X-N8N-CHAT-SESSION-ID'] ||\n    item.json?.metadata?.sessionId ||\n    item.json?.sessionId;\n\n  if (!sid) continue;\n\n  // Ensure headers exist\n  if (!item.json.headers) item.json.headers = {};\n  item.json.headers['x-n8n-chat-session-id'] = sid;\n\n  // Overwrite the most common places the Chat Trigger / widget stash ids\n  // (We set ALL of them to the same sid so downstream code can't pick the \"wrong\" one.)\n  item.json.sessionId = sid;\n  if (item.json.chat) {\n    item.json.chat.sessionId = sid;\n    if (item.json.chat.session) {\n      item.json.chat.session.id = sid;\n    }\n  }\n  if (item.json.metadata) {\n    item.json.metadata.sessionId = sid;\n  }\n  if (item.json.meta) {\n    item.json.meta.sessionId = sid;\n  }\n\n  // Clean up alternate keys to avoid confusion\n  delete item.json.sid;\n  if (item.json.metadata) delete item.json.metadata.sid;\n\n  // Optional: tag message for easy tracing/dedupe\n  if (!item.json.headers['x-n8n-message-id']) {\n    item.json.headers['x-n8n-message-id'] =\n      Date.now().toString(36) + Math.random().toString(36).slice(2);\n  }\n}\n\nreturn items;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-672,512],"id":"94a7d460-98e1-4db1-b20a-bd7e4f42ee91","name":"Code in JavaScript"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"memories","include":"specifiedFields","fieldsToInclude":"created_at,role,content","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-48,512],"id":"ec4fe3a0-3bfd-4739-a61c-b1919aea8c13","name":"Aggregate"},{"parameters":{"tableId":"chat_messages","fieldsUi":{"fieldValues":[{"fieldId":"session_id","fieldValue":"={{ $json.sessionId }}"},{"fieldId":"role","fieldValue":"user"},{"fieldId":"content","fieldValue":"={{ $('When chat message received').item.json.chatInput }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-464,512],"id":"4f6086a3-1262-44ae-89e9-191ea0587d3d","name":"Insert User Message","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"operation":"getAll","tableId":"chat_messages","filters":{"conditions":[{"keyName":"session_id","condition":"eq","keyValue":"={{ $('Code in JavaScript').item.json.headers[\"x-n8n-chat-session-id\"] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-256,512],"id":"76024976-2192-46ca-8e90-7259a52201ed","name":"Get Conversation","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"tableId":"chat_messages","fieldsUi":{"fieldValues":[{"fieldId":"session_id","fieldValue":"={{ $('Code in JavaScript').item.json.sessionId }}"},{"fieldId":"role","fieldValue":"AI assistant"},{"fieldId":"content","fieldValue":"={{ $json.output }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[688,272],"id":"4167ef60-9581-4cb5-8a9d-a163a949cc9d","name":"Insert Assistant Message","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}}],"connections":{"When chat message received":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Insert Assistant Message","type":"main","index":0},{"node":"Respond to Webhook1","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"create_email":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Insert User Message","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Insert User Message":{"main":[[{"node":"Get Conversation","type":"main","index":0}]]},"Get Conversation":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Insert Assistant Message":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"89594013-36e2-4140-8ed1-ea7823fca8b7","triggerCount":1,"shared":[{"createdAt":"2025-09-26T08:16:58.191Z","updatedAt":"2025-09-26T08:16:58.191Z","role":"workflow:owner","workflowId":"U0BjWimCFxZ4OwQs","projectId":"oeHwV8sNrbPNhUov"}],"tags":[]}