prod-9---pain-points-bq3CZx0aCvpLR9ow.json
{"createdAt":"2025-07-11T23:40:56.565Z","updatedAt":"2025-10-22T14:19:50.662Z","id":"bq3CZx0aCvpLR9ow","name":"PROD 9 - Pain Points","active":true,"isArchived":false,"nodes":[{"parameters":{"tableId":"pain_points_extractions","fieldsUi":{"fieldValues":[{"fieldId":"client_id","fieldValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"},{"fieldId":"company","fieldValue":"={{ $('Get Business Profile').item.json.company }}"},{"fieldId":"known_pain_points","fieldValue":"={{ $json.output.knownPainPoints }}"},{"fieldId":"hidden_pain_points","fieldValue":"={{ $json.output.hiddenPainPoints }}"},{"fieldId":"customer_evaluation_process","fieldValue":"={{ $json.output.customerEvaluationProcess }}"},{"fieldId":"actionable_insights","fieldValue":"={{ $json.output.actionableInsights }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[672,544],"id":"4bd82020-1c37-4f51-82cd-43855661127f","name":"Supabase1","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}},"onError":"continueErrorOutput"},{"parameters":{"promptType":"define","text":"=**Task**\nAnalyze the following company data and vector database context to identify customer pain points that the company solves.\nFocus exclusively on **pre-purchase** frustrations, fears, and unmet needs. Use the vector tool to find supporting evidence and quotes.\n\n---\n\n**Company Information**\n\n* **Company Name:**\n  `{{ $('Get Business Profile').item.json.company }}`\n\n* **Offer / Product Description:**\n  `{{ $('Get Business Profile').item.json.offer }}`\n\n* **Industry:**\n  `{{ $('Get Business Profile').item.json.industry }}`\n\n---\n\n**Target Markets**\n\n* **Primary Target Market:**\n  `{{ JSON.stringify($('Get Target Market').item.json.primary_target_market, null, 2) }}`\n\n* **Secondary Target Market:**\n  `{{ JSON.stringify($('Get Target Market').item.json.secondary_target_market, null, 2) }}`\n\n---\n\n**Instructions**\n\n1. **Always use the tool** to pull relevant data chunks from the vector database before generating any output.\n2. Identify and categorize pain points strictly based on **pre-purchase** context (ignore post-purchase or onboarding).\n3. Support every insight with paraphrased or quoted evidence when available.\n4. Return your findings as **valid JSON** following the schema defined in the system message — nothing else.\n\n---\n\n**Reminder:**\nThe output must fit the JSON schema exactly (no markdown, no commentary, no headings).\n","hasOutputParser":true,"options":{"systemMessage":"=## **Role and Objective**\n\nYou are the **Pain Points Analyst**, a marketing strategist trained in extracting customer frustrations, anxieties, and unmet needs from qualitative data.\nYour goal is to identify the **pre-purchase pain points** that the company solves—problems customers face **before buying** or while evaluating competitors. Always think about this question: What do the customers hate about their current situation? \n\n---\n\n## **Instructions**\n\n1. **Use the provided tool** to search the vector database for data chunks that reveal frustration, dissatisfaction, confusion, or unmet needs.\n\n2. Base your findings on **explicit customer language** (direct statements) and **implicit cues** (emotions, tone, or indirect hints).\n\n3. **Exclude** all post-purchase or onboarding issues. You are analyzing **pre-purchase** situations only.\n\n4. Support every insight with evidence: quote, paraphrase, or note which type of data (e.g., testimonial, survey, review).\n\n5. Classify all findings under one of these categories:\n\n   * **Known Pain Points:** Explicit, clearly stated problems or frustrations before buying.\n   * **Hidden Pain Points:** Unspoken or emotional drivers inferred from language or sentiment.\n   * **Customer Evaluation Process:** Fears, confusion, or friction during research and comparison.\n   * **Actionable Insights:** Recommendations to address these pain points in messaging or strategy.\n\n6. Keep your language **plain and specific**. Avoid fluff or speculation.\n\n7. Use only **information grounded in context or vector data** — no assumptions.\n\n---\n\n## **Reasoning Steps**\n\n1. Review all input context (company profile, offer, and target markets).\n2. Query the vector database for customer language about dissatisfaction, problems, or barriers **before purchase**.\n3. Extract explicit statements (known pain points).\n4. Infer hidden pain points by analyzing emotional or behavioral clues.\n5. Identify issues specific to the **evaluation process** (trust, comparison, price anxiety).\n6. Develop **actionable recommendations** the company could use to directly resolve or message against those pain points.\n7. Verify that every point refers **only to pre-purchase experiences** and is **supported by evidence**.\n\n---\n\n## **Output Format**\n\nReturn a **valid JSON object** using this exact structure — no extra text, no markdown, no commentary:\n\n```json\n{\n  \"knownPainPoints\": {\n    \"primaryTargetMarket\": [\n      {\n        \"painPoint\": \"Brief name or summary of the pain point\",\n        \"statedIssue\": \"Exact quote or paraphrase from customer feedback (if available)\"\n      }\n    ],\n    \"secondaryTargetMarket\": [\n      {\n        \"painPoint\": \"Brief name or summary of the pain point\",\n        \"statedIssue\": \"Exact quote or paraphrase from customer feedback (if available)\"\n      }\n    ]\n  },\n  \"hiddenPainPoints\": {\n    \"primaryTargetMarket\": [\n      {\n        \"inferredIssue\": \"Brief description of the unspoken or indirectly referenced pain point\",\n        \"supportingEvidence\": \"Short explanation of how you inferred this\"\n      }\n    ],\n    \"secondaryTargetMarket\": [\n      {\n        \"inferredIssue\": \"Brief description of the unspoken or indirectly referenced pain point\",\n        \"supportingEvidence\": \"Short explanation of how you inferred this\"\n      }\n    ]\n  },\n  \"customerEvaluationProcess\": {\n    \"primaryTargetMarket\": [\n      {\n        \"evaluationPainPoint\": \"Issue related to how primary customers evaluate/select providers\",\n        \"context\": \"Any relevant details or quotes\"\n      }\n    ],\n    \"secondaryTargetMarket\": [\n      {\n        \"evaluationPainPoint\": \"Issue related to how secondary customers evaluate/select providers\",\n        \"context\": \"Any relevant details or quotes\"\n      }\n    ]\n  },\n  \"actionableInsights\": {\n    \"primaryTargetMarket\": [\n      {\n        \"recommendation\": \"A proposed improvement or focus area\",\n        \"rationale\": \"Why this recommendation would help\"\n      }\n    ],\n    \"secondaryTargetMarket\": [\n      {\n        \"recommendation\": \"A proposed improvement or focus area\",\n        \"rationale\": \"Why this recommendation would help\"\n      }\n    ]\n  }\n}\n```\n\n---\n\n## **Examples**\n\n### Example 1\n\n**Company:** SaaS helping Europeans learn English for career growth.\n\n**Known Pain Point:**\n\n* *“Not earning as much as they could because they don’t speak English.”*\n\n**Hidden Pain Point:**\n\n* *Feeling left behind in the global job market.*\n\n**Customer Evaluation Process:**\n\n* *Skepticism about whether online English courses actually lead to better jobs.*\n\n**Actionable Insight:**\n\n* *Show case studies of real students who increased income after completing the course.*\n\n---\n\n## **Context**\n\nYou have access to:\n\n* Company info (name, offer, industry)\n* Target market data (primary and secondary)\n* Vector database with customer reviews, interviews, and research insights.\n  Use all sources to ensure depth and accuracy.\n\n---\n\n## **Final Instructions (Think Step by Step)**\n\n1. Review all provided inputs and search vector data for pre-purchase problems.\n2. Distinguish explicit (known) and implicit (hidden) pain points.\n3. Identify evaluation-phase challenges.\n4. Create actionable insights based only on pre-purchase findings.\n5. Ensure JSON validity and schema accuracy before returning your output.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[48,592],"id":"0e15129f-5d56-49f5-a71e-229fde902e36","name":"AI Agent","onError":"continueErrorOutput"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"knownPainPoints\": {\n    \"primaryTargetMarket\": [\n      {\n        \"painPoint\": \"Brief name or summary of the pain point\",\n        \"statedIssue\": \"Exact quote or paraphrase from customer feedback (if available)\"\n      }\n    ],\n    \"secondaryTargetMarket\": [\n      {\n        \"painPoint\": \"Brief name or summary of the pain point\",\n        \"statedIssue\": \"Exact quote or paraphrase from customer feedback (if available)\"\n      }\n   ]\n  },\n  \"hiddenPainPoints\": {\n    \"primaryTargetMarket\": [\n      {\n        \"inferredIssue\": \"Brief description of the unspoken or indirectly referenced pain point\",\n        \"supportingEvidence\": \"Short explanation of how you inferred this (e.g., sentiment clues, partial comments)\"\n      }\n    ],\n    \"secondaryTargetMarket\": [\n      {\n        \"inferredIssue\": \"Brief description of the unspoken or indirectly referenced pain point\",\n        \"supportingEvidence\": \"Short explanation of how you inferred this\"\n      }\n    ]\n  },\n  \"customerEvaluationProcess\": {\n    \"primaryTargetMarket\": [\n      {\n        \"evaluationPainPoint\": \"Issue related to how primary customers evaluate/select providers\",\n        \"context\": \"Any relevant details or quotes\"\n      }\n    ],\n    \"secondaryTargetMarket\": [\n      {\n        \"evaluationPainPoint\": \"Issue related to how secondary customers evaluate/select providers\",\n        \"context\": \"Any relevant details or quotes\"\n      }\n    ]\n  },\n  \"actionableInsights\": {\n    \"primaryTargetMarket\": [\n      {\n        \"recommendation\": \"A proposed improvement or focus area\",\n        \"rationale\": \"Why this recommendation would help\"\n      }\n    ],\n    \"secondaryTargetMarket\": [\n      {\n        \"recommendation\": \"A proposed improvement or focus area\",\n        \"rationale\": \"Why this recommendation would help\"\n      }\n    ]\n  }\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[368,832],"id":"e0e3c007-cadf-475b-992e-f93f5fb1077e","name":"Structured Output Parser"},{"parameters":{"mode":"retrieve-as-tool","toolName":"misconceptions","toolDescription":"=You are an AI research assistant tasked with extracting relevant chunks from our vector database to support an analysis of customer pain points. Your objective is to find data that provides insights into both explicit (known) and implicit (hidden/unspoken) pain points related to our offer, as well as feedback on the customer evaluation process and actionable recommendations. ","pineconeIndex":{"__rl":true,"value":"=onboarding","mode":"id"},"topK":10,"options":{"pineconeNamespace":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[80,1072],"id":"2342d712-6c2d-45aa-93fe-db5972b180cf","name":"Pinecone Vector Store1","credentials":{"pineconeApi":{"id":"axuYyU6grhcC8CQp","name":"PineconeApi account"}}},{"parameters":{"model":"text-embedding-3-large","options":{"dimensions":3072}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[208,1264],"id":"8c07da28-4c4f-4388-aec4-607359d6a283","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{"content":"## AI Model \nCurrently set\nto 4.1","height":220,"width":360,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-256,752],"id":"d12f2883-9bb4-4463-b377-5eda6dbe3c1a","name":"Sticky Note3"},{"parameters":{"content":"## Handle Error\nIn production add error handling for data duplication with same ID\n","height":520,"width":380},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[528,448],"id":"faf88dec-5a30-4da6-9609-d5389a8ef29b","name":"Sticky Note4"},{"parameters":{"content":"## Prompt Notes\n- Am not using \"solution\" \n- Need prompt for solution\n","color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[48,432],"id":"13337dee-5128-4a67-a445-4b1e603605f3","name":"Sticky Note5"},{"parameters":{"content":"## Notes about run\n\nRun Time: \n\n## Analyze outputs\n- Determine with Client if outputs need to be more specific\n- Possibly break up each agent for a specific output to pull relevant chunks\n- Double check inputs for user prompt as well","height":380,"width":700,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1200,944],"id":"7d7cc69c-c244-4900-80d7-b93f77ca69a6","name":"Sticky Note6"},{"parameters":{"content":"\n\nHave error handling if fails\n","height":80,"width":150},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[352,640],"id":"c0fbba96-54d4-4401-bc34-16d9303e767b","name":"Sticky Note7"},{"parameters":{"operation":"get","tableId":"target_market_profiles","filters":{"conditions":[{"keyName":"client_id","keyValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-960,608],"id":"2c8d9787-88d1-4c69-ae6d-ebb785d4beea","name":"Get Target Market","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"operation":"get","tableId":"business_profiles","filters":{"conditions":[{"keyName":"client_id","keyValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-736,608],"id":"e42928dd-3c7f-49f9-ae7b-cb20fb02caf9","name":"Get Business Profile","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"content":"## Change search ID\n","height":200,"width":480},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-48,992],"id":"424fef77-e170-4eac-a262-51bd3bd8ce11","name":"Sticky Note8"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-16,832],"id":"ba76517f-c9b5-49d1-821b-f4902b996c43","name":"AI","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{"httpMethod":"POST","path":"983b0ae5-f32e-4aa9-b753-b1d19a59fd94","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1440,560],"id":"befb2d7f-f72f-4b54-80e3-828ecdb091e2","name":"Webhook","webhookId":"983b0ae5-f32e-4aa9-b753-b1d19a59fd94"},{"parameters":{"workflowInputs":{"values":[{"name":"client_id"},{"name":"Overwrite"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1440,704],"id":"20cdd858-7814-4750-a2ff-fa7aea94eddf","name":"When Executed by Another Workflow"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0b01e0ec-c766-4b22-9f4a-9c95f327539e","leftValue":"={{ $('When Executed by Another Workflow').item.json['Overwrite'] }}","rightValue":"no","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[400,544],"id":"e8756c46-aa23-47f2-aee2-ce60c1e4c0b4","name":"If"},{"parameters":{"operation":"update","tableId":"pain_points_extractions","filters":{"conditions":[{"keyName":"client_id","condition":"eq","keyValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"company","fieldValue":"={{ $('Get Business Profile').item.json.company }}"},{"fieldId":"known_pain_points","fieldValue":"={{ $json.output.knownPainPoints }}"},{"fieldId":"hidden_pain_points","fieldValue":"={{ $json.output.hiddenPainPoints }}"},{"fieldId":"customer_evaluation_process","fieldValue":"={{ $json.output.customerEvaluationProcess }}"},{"fieldId":"actionable_insights","fieldValue":"={{ $json.output.actionableInsights }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[704,736],"id":"ba27d79e-e37c-41a2-bbe6-59841386bc27","name":"Supabase","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"get","tableId":"v_complete_client_context","filters":{"conditions":[{"keyName":"client_id","keyValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-432,608],"id":"7aafe1ec-198c-4f3d-82a5-5c5e77be0246","name":"Get Business Profile1","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}}],"connections":{"AI Agent":{"main":[[{"node":"If","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Pinecone Vector Store1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store1","type":"ai_embedding","index":0}]]},"Get Target Market":{"main":[[{"node":"Get Business Profile","type":"main","index":0}]]},"Get Business Profile":{"main":[[{"node":"Get Business Profile1","type":"main","index":0}]]},"AI":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Webhook":{"main":[[]]},"When Executed by Another Workflow":{"main":[[{"node":"Get Target Market","type":"main","index":0}]]},"If":{"main":[[{"node":"Supabase1","type":"main","index":0}],[{"node":"Supabase","type":"main","index":0}]]},"Supabase1":{"main":[[],[{"node":"Supabase","type":"main","index":0}]]},"Get Business Profile1":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"primary-production-cea5.up.railway.app","user-agent":"Bubble","content-length":"196","accept-encoding":"gzip, deflate","baggage":"bubblegroup.client.version=b3f89cf0e5d18b3c8f061626f6a124f0b4e87a58,bubblegroup.client.commit_timestamp=1752262815000,bubblegroup.http.route=apiservice%2Fdoapicallfromserver,bubblegroup.http.host=bubble.io","content-type":"multipart/form-data; boundary=--------------------------594799907209618129986553","traceparent":"00-125c5a32d65df1ba2d564bd2a25c56b2-c35e8028b059d24e-01","x-bubble-depth":"1","x-forwarded-for":"34.217.124.244","x-forwarded-host":"primary-production-cea5.up.railway.app","x-forwarded-proto":"https","x-railway-edge":"railway/us-west1","x-railway-request-id":"9G_w2x1BTDaQn74JnjUZ_Q","x-real-ip":"34.217.124.244","x-request-start":"1752277359450"},"params":{},"query":{},"body":{"client_id":"1650987991917x277951650850529760"},"webhookUrl":"https://primary-production-cea5.up.railway.app/webhook/983b0ae5-f32e-4aa9-b753-b1d19a59fd94","executionMode":"production"}}],"When Executed by Another Workflow":[{"json":{"client_id":"1650987991917x277951650850529760","Overwrite":"no"}}]},"versionId":"155054d0-eb1c-4d8c-8cfc-9adf1d79be25","triggerCount":1,"shared":[{"createdAt":"2025-07-11T23:40:56.565Z","updatedAt":"2025-07-11T23:40:56.565Z","role":"workflow:owner","workflowId":"bq3CZx0aCvpLR9ow","projectId":"oeHwV8sNrbPNhUov"}],"tags":[{"createdAt":"2025-03-17T22:01:27.572Z","updatedAt":"2025-03-17T22:01:27.572Z","id":"8gp5kj24VYtRoQQF","name":"Awareness Matrix"},{"createdAt":"2025-03-17T23:36:46.588Z","updatedAt":"2025-03-18T20:45:05.142Z","id":"eyDBWEktby5yXck2","name":"Understanding Pain"},{"createdAt":"2025-05-15T00:55:08.917Z","updatedAt":"2025-05-15T00:55:08.917Z","id":"g2UpVZ4k6adJ2S36","name":"Production"}]}