production-|-1---initialize-db-|-upload-documents-|-delete-folder-copy-cyTHoQxIiARGCseg.json
{"createdAt":"2025-05-15T00:55:23.505Z","updatedAt":"2025-06-09T02:02:05.504Z","id":"cyTHoQxIiARGCseg","name":"PRODUCTION | 1 - Initialize DB | Upload Documents | Delete Folder copy","active":false,"isArchived":true,"nodes":[{"parameters":{"resource":"fileFolder","filter":{"folderId":{"__rl":true,"value":"={{ $('Google Drive2').item.json.id }}","mode":"id"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-180,80],"id":"b5aeb2f6-ffef-46c9-998f-5881f6923f9c","name":"Google Drive1","credentials":{"googleDriveOAuth2Api":{"id":"dSQbKYuOfxDcM0Uo","name":"Google Drive account"}}},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[40,80],"id":"17b2e87f-acc7-4691-a7ef-ac80dd72f7f3","name":"Loop Over Items"},{"parameters":{"resource":"fileFolder","queryString":"=","filter":{"folderId":{"__rl":true,"value":"1yuMftv13RiwH3nkC4By7flDlZh0OojQL","mode":"id"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-940,80],"id":"3e7bfa7e-f3e1-4725-bffc-f66afe4f5aa9","name":"Google Drive2","alwaysOutputData":false,"credentials":{"googleDriveOAuth2Api":{"id":"dSQbKYuOfxDcM0Uo","name":"Google Drive account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1160,80],"id":"4482031a-cb50-474e-aee6-e20813be9d41","name":"When clicking ‘Test workflow’"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[240,160],"id":"20910154-c33a-4b5c-82de-26b3873cf5b0","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"dSQbKYuOfxDcM0Uo","name":"Google Drive account"}}},{"parameters":{"assignments":{"assignments":[{"id":"b283bdf7-23d4-4f7b-9ec9-6fadbe17f97d","name":"=name","value":"={{ $json.name.toLowerCase().replace(/\\s+/g, \"-\") }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-720,80],"id":"61bce34c-6455-44b1-af0f-2157b4a7a1f4","name":"Edit Fields"},{"parameters":{"method":"POST","url":"https://api.pinecone.io/indexes","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Api-Key","value":"={{ $env.PINECONE_API_KEY }}"},{"name":"X-Pinecone-API-Version","value":"2025-01"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"name\": \"{{ $json.name }}\",\n  \"dimension\": 1536,\n  \"metric\": \"cosine\",\n  \"spec\": {\n    \"serverless\": {\n      \"cloud\": \"aws\",\n      \"region\": \"us-west-2\"\n    }\n  },\n  \"tags\": {\n    \"environment\": \"development\"\n  },\n  \"deletion_protection\": \"disabled\"\n}","options":{"response":{"response":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-480,80],"id":"8506517d-bda7-4127-9304-b7ed6372ed6c","name":"Create Vector DB1","executeOnce":true,"onError":"continueRegularOutput"},{"parameters":{"content":"Delete folder at end of sequence.","height":240,"width":150},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1060,0],"id":"78920aae-0b29-478a-b86a-8e7dd0244758","name":"Sticky Note2"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[480,480],"id":"e02e5ebf-e20d-47f2-9d15-a637bc500d81","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{"chunkOverlap":100,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[740,680],"id":"6fb8a3fe-f40a-4188-97fa-c6dcc4c288b5","name":"Recursive Character Text Splitter"},{"parameters":{"dataType":"binary","options":{"metadata":{"metadataValues":[{"name":"document","value":"={{ $json.name }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[820,420],"id":"b204453a-aad5-479c-8a2c-088edae00628","name":"Default Data Loader"},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"={{ $('Edit Fields').item.json.name }}","mode":"id"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[540,60],"id":"6f0236fb-45ab-44c0-ac7d-7aaac33a5d33","name":"Pinecone Vector Store","alwaysOutputData":false,"credentials":{"pineconeApi":{"id":"axuYyU6grhcC8CQp","name":"PineconeApi account"}}},{"parameters":{"content":"## Reminder: Tagging & Filtering Client Interview Documents in Pinecone\n\n📌 When Uploading Documents to Pinecone:\n\nEnsure document titles include \"interview\" for client interview files.\nUse metadata tagging to set \"document_type\": \"interview\" dynamically.\nFor non-interview documents, set \"document_type\": \"general\".\n","height":240,"width":500,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[520,-140],"id":"0e4faf84-e4a4-45dd-a769-1ce6e27e2d85","name":"Sticky Note"},{"parameters":{"resource":"folder","operation":"deleteFolder","folderNoRootId":{"__rl":true,"value":"={{ $('Google Drive2').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1080,80],"id":"19d296ef-7b61-4ada-a6db-fa3b5bf14aaa","name":"Google Drive4","credentials":{"googleDriveOAuth2Api":{"id":"dSQbKYuOfxDcM0Uo","name":"Google Drive account"}}}],"connections":{"Google Drive1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Pinecone Vector Store","type":"main","index":0}],[{"node":"Google Drive","type":"main","index":0}]]},"Google Drive2":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Google Drive2","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Create Vector DB1","type":"main","index":0}]]},"Create Vector DB1":{"main":[[{"node":"Google Drive1","type":"main","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Pinecone Vector Store","type":"ai_document","index":0}]]},"Pinecone Vector Store":{"main":[[{"node":"Google Drive4","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e347a9e4-8c67-42cb-96ca-a05b74791cb9","triggerCount":0,"shared":[{"createdAt":"2025-05-15T00:55:23.505Z","updatedAt":"2025-05-15T00:55:23.505Z","role":"workflow:owner","workflowId":"cyTHoQxIiARGCseg","projectId":"oeHwV8sNrbPNhUov"}],"tags":[{"createdAt":"2025-03-12T04:23:56.209Z","updatedAt":"2025-03-12T04:23:56.209Z","id":"GhIwXvYdhTJV4aal","name":"Initialization"},{"createdAt":"2025-03-12T04:24:11.246Z","updatedAt":"2025-03-12T04:24:11.246Z","id":"FDsOULzxkWlGe2pe","name":"Vectorization"},{"createdAt":"2025-05-15T00:55:08.917Z","updatedAt":"2025-05-15T00:55:08.917Z","id":"g2UpVZ4k6adJ2S36","name":"Production"}]}