prod---router-w0kFYdG5S5k6l2is.json
{"createdAt":"2025-06-25T16:12:35.628Z","updatedAt":"2025-10-21T08:22:24.808Z","id":"w0kFYdG5S5k6l2is","name":"PROD - Router","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"10e5d906-e32a-466c-be44-94cada37dc34","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-656,32],"id":"ef9ec726-96a2-40ca-a12e-9dfaf461296f","name":"Webhook","webhookId":"10e5d906-e32a-466c-be44-94cada37dc34"},{"parameters":{"workflowId":{"__rl":true,"value":"qNfHaTVwIc7WQLeJ","mode":"list","cachedResultUrl":"/workflow/qNfHaTVwIc7WQLeJ","cachedResultName":"EDIT 4 - Common words and phrases"},"workflowInputs":{"mappingMode":"defineBelow","value":{"client_id":"={{ $('Webhook').item.json.body.client_id }}","Overwrite":"={{ $('Webhook').item.json.body.overwrite }}"},"matchingColumns":[],"schema":[{"id":"client_id","displayName":"client_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Overwrite","displayName":"Overwrite","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[784,-464],"id":"bf91337f-357c-4138-a9cd-a52996a96452","name":"Common Words and Phrases"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a305df58-4d88-407c-88eb-4f166528bcf4","leftValue":"={{ $json.body.workflow }}","rightValue":"businessProfile","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.workflow }}","rightValue":"commonWords","operator":{"type":"string","operation":"equals"},"id":"9ed54908-2b4c-419a-afc6-898a3a560f4c"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ec07ee45-853a-4399-ba11-494078f6357e","leftValue":"={{ $json.body.workflow }}","rightValue":"emotionalSentiment","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c0bc438d-3858-4fd2-a48d-ae7548d07e42","leftValue":"={{ $json.body.workflow }}","rightValue":"industryJargon","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"51b3cd29-42b3-4d2f-b0ff-53658d03ab41","leftValue":"={{ $json.body.workflow }}","rightValue":"commonMisconceptions","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5ca4b93e-96e9-4254-9690-d2ceaa79c25c","leftValue":"={{ $json.body.workflow }}","rightValue":"awarenessStage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"73f10fcf-b2aa-49af-922b-8fe0cf6a9944","leftValue":"={{ $json.body.workflow }}","rightValue":"painPoints","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"05f7ac35-a028-4913-9988-52dcdc36bbc2","leftValue":"={{ $json.body.workflow }}","rightValue":"biggestObjections","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5245a760-063d-4fb1-93f1-ec042c5fd10a","leftValue":"={{ $json.body.workflow }}","rightValue":"desiredTransformation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"99b6bd72-ad8b-4f6b-84d1-71221ed0a5b7","leftValue":"={{ $json.body.workflow }}","rightValue":"oneLiners","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2e3fb4af-61d4-46f5-95fe-e3067d7ab53b","leftValue":"={{ $json.body.workflow }}","rightValue":"brandPersonality","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b8092c16-c695-4557-8b83-c7a787429709","leftValue":"={{ $json.body.workflow }}","rightValue":"toneOfVoice","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6442bdc5-33ef-4725-af7a-ef72d1b1efd0","leftValue":"={{ $json.body.workflow }}","rightValue":"wordsWeUse","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a5ad7266-3fc2-4d4a-a21a-6c3d98677133","leftValue":"={{ $json.body.workflow }}","rightValue":"wordsWeDontUse","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e57272da-474c-487e-a991-c623b7742327","leftValue":"={{ $json.body.workflow }}","rightValue":"targetMarket","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d497b09c-e098-42d2-baaa-088259c636ab","leftValue":"={{ $json.body.workflow }}","rightValue":"welcomeSequence","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1ec1228c-219d-4ce7-a814-e552d822da0c","leftValue":"={{ $json.body.workflow }}","rightValue":"cheatSheet","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-320,-160],"id":"dd2c020f-e1d2-4d11-94cc-024b93f54fa7","name":"Switch"},{"parameters":{"workflowId":{"__rl":true,"value":"xBe3hXikbunekn0K","mode":"list","cachedResultUrl":"/workflow/xBe3hXikbunekn0K","cachedResultName":"PROD 2 - Business profile Creation"},"workflowInputs":{"mappingMode":"defineBelow","value":{"client_id":"={{ $('Webhook').item.json.body.client_id }}","Overwrite":"={{ $('Webhook').item.json.body.overwrite }}"},"matchingColumns":[],"schema":[{"id":"client_id","displayName":"client_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Overwrite","displayName":"Overwrite","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[400,-576],"id":"0709c836-ecd8-4c1c-bfbc-b4ea2a8b85bd","name":"businessProfile"},{"parameters":{"workflowId":{"__rl":true,"value":"QXqhrwkMdQ8PUdLz","mode":"list","cachedResultUrl":"/workflow/QXqhrwkMdQ8PUdLz","cachedResultName":"PROD 5 - Common Emotional Sentiment"},"workflowInputs":{"mappingMode":"defineBelow","value":{"client_id":"={{ $('Webhook').item.json.body.client_id }}","Overwrite":"={{ $('Webhook').item.json.body.overwrite }}"},"matchingColumns":[],"schema":[{"id":"client_id","displayName":"client_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Overwrite","displayName":"Overwrite","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[384,-352],"id":"41fdbd96-1e98-4a82-af29-7f50a3e4abe3","name":"emotionalSentiment"},{"parameters":{"workflowId":{"__rl":true,"value":"aS3G7E0lSmGVXqK3","mode":"list","cachedResultName":"PROD 6 -  Industry Jargon"},"workflowInputs":{"mappingMode":"defineBelow","value":{"client_id":"={{ $('Webhook').item.json.body.client_id }}","Overwrite":"={{ $('Webhook').item.json.body.overwrite }}"},"matchingColumns":[],"schema":[{"id":"client_id","displayName":"client_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Overwrite","displayName":"Overwrite","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[576,-256],"id":"3b6abc16-fdae-454b-9e87-991bebdf786b","name":"industryJargon"},{"parameters":{"workflowId":{"__rl":true,"value":"lPHc0d8EpHonWNgy","mode":"list","cachedResultName":"PROD 7 - Common Misconceptions"},"workflowInputs":{"mappingMode":"defineBelow","value":{"client_id":"={{ $('Webhook').item.json.body.client_id }}","Overwrite":"={{ $('Webhook').item.json.body.overwrite }}"},"matchingColumns":[],"schema":[{"id":"client_id","displayName":"client_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Overwrite","displayName":"Overwrite","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[368,-160],"id":"e0279865-9dbc-4b0e-be4b-f6c1caac66ee","name":"commonMisconceptions"},{"parameters":{"workflowId":{"__rl":true,"value":"uR3emjq6QkSrRHTv","mode":"list","cachedResultName":"PROD 8 - Unaware / Problem Aware / Solution Aware / Product Aware / Most Aware"},"workflowInputs":{"mappingMode":"defineBelow","value":{"client_id":"={{ $('Webhook').item.json.body.client_id }}","Overwrite":"={{ $('Webhook').item.json.body.overwrite }}"},"matchingColumns":[],"schema":[{"id":"client_id","displayName":"client_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Overwrite","displayName":"Overwrite","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[576,-80],"id":"67013bbf-b50a-44b7-8e81-26400b33fe21","name":"awarenessStage"},{"parameters":{"workflowId":{"__rl":true,"value":"bq3CZx0aCvpLR9ow","mode":"list","cachedResultUrl":"/workflow/bq3CZx0aCvpLR9ow","cachedResultName":"PROD 9 - Pain Points"},"workflowInputs":{"mappingMode":"defineBelow","value":{"client_id":"={{ $('Webhook').item.json.body.client_id }}","Overwrite":"={{ $('Webhook').item.json.body.overwrite }}"},"matchingColumns":[],"schema":[{"id":"client_id","displayName":"client_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Overwrite","displayName":"Overwrite","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[384,32],"id":"214c74fb-4a7e-4eae-b59e-5d1271651e78","name":"painPoints"},{"parameters":{"workflowId":{"__rl":true,"value":"zFPw6N3ega0I4pJM","mode":"list","cachedResultName":"PROD 10 - Biggest Objections"},"workflowInputs":{"mappingMode":"defineBelow","value":{"client_id":"={{ $('Webhook').item.json.body.client_id }}","Overwrite":"={{ $('Webhook').item.json.body.overwrite }}"},"matchingColumns":[],"schema":[{"id":"client_id","displayName":"client_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Overwrite","displayName":"Overwrite","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[592,112],"id":"7aa1c1fd-8464-42be-9da1-82edaa95966d","name":"biggestObjections"},{"parameters":{"workflowId":{"__rl":true,"value":"MuT2jAdpjNuht235","mode":"list","cachedResultName":"PROD 11 - Desired Transformation"},"workflowInputs":{"mappingMode":"defineBelow","value":{"client_id":"={{ $('Webhook').item.json.body.client_id }}","Overwrite":"={{ $('Webhook').item.json.body.overwrite }}"},"matchingColumns":[],"schema":[{"id":"client_id","displayName":"client_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Overwrite","displayName":"Overwrite","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[384,208],"id":"6c6ee210-3b67-4835-bcdb-05213f79de29","name":"desiredTransformation"},{"parameters":{"workflowId":{"__rl":true,"value":"7X1uzpESyXgzABhK","mode":"list","cachedResultName":"PROD - 12 - One Liners"},"workflowInputs":{"mappingMode":"defineBelow","value":{"client_id":"={{ $('Webhook').item.json.body.client_id }}","Overwrite":"={{ $('Webhook').item.json.body.overwrite }}"},"matchingColumns":[],"schema":[{"id":"client_id","displayName":"client_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Overwrite","displayName":"Overwrite","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[592,304],"id":"8473d4ba-6868-4afe-a24d-d491eef525df","name":"oneLiners"},{"parameters":{"workflowId":{"__rl":true,"value":"flwXVPiOcbRppn52","mode":"list","cachedResultUrl":"/workflow/flwXVPiOcbRppn52","cachedResultName":"PROD 3 - Target Market Analysis"},"workflowInputs":{"mappingMode":"defineBelow","value":{"client_id":"={{ $('Webhook').item.json.body.client_id }}","Overwrite":"={{ $('Webhook').item.json.body.overwrite }}"},"matchingColumns":[],"schema":[{"id":"client_id","displayName":"client_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Overwrite","displayName":"Overwrite","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[992,896],"id":"9de2e24e-1a86-4673-88f4-8fb03f71e0cb","name":"targetMarket"},{"parameters":{"workflowId":{"__rl":true,"value":"c0HjS1saLqKcpprN","mode":"list","cachedResultName":"EDIT 13 - Brand Personality"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Overwrite":"={{ $('Webhook').item.json.body.overwrite }}","client_id":"={{ $('Webhook').item.json.body.client_id }}"},"matchingColumns":[],"schema":[{"id":"client_id","displayName":"client_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Overwrite","displayName":"Overwrite","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[944,384],"id":"af6d3a00-1b71-48db-842c-f42d58a69d98","name":"brandPersonality"},{"parameters":{"workflowId":{"__rl":true,"value":"V7DiWW8oUwgstnU1","mode":"list","cachedResultName":"PROD 14 - Tone Of Voice"},"workflowInputs":{"mappingMode":"defineBelow","value":{"client_id":"={{ $('Webhook').item.json.body.client_id }}","Overwrite":"={{ $('Webhook').item.json.body.overwrite }}"},"matchingColumns":[],"schema":[{"id":"client_id","displayName":"client_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Overwrite","displayName":"Overwrite","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[608,496],"id":"f8f27fdd-19ca-4681-a043-5a95255bfff9","name":"toneOfVoice"},{"parameters":{"workflowId":{"__rl":true,"value":"qLf6oUSQQrIOWMbs","mode":"list","cachedResultName":"PROD 15 - Words We Use"},"workflowInputs":{"mappingMode":"defineBelow","value":{"client_id":"={{ $('Webhook').item.json.body.client_id }}","Overwrite":"={{ $('Webhook').item.json.body.overwrite }}"},"matchingColumns":[],"schema":[{"id":"client_id","displayName":"client_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Overwrite","displayName":"Overwrite","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[384,544],"id":"7909a81e-4de0-4cde-a59d-85d6e1c7dd9d","name":"wordsWeUse"},{"parameters":{"workflowId":{"__rl":true,"value":"ox6pGZxc3XzMnAKT","mode":"list","cachedResultName":"PROD 16 - Words We Dont Use"},"workflowInputs":{"mappingMode":"defineBelow","value":{"client_id":"={{ $('Webhook').item.json.body.client_id }}","Overwrite":"={{ $('Webhook').item.json.body.overwrite }}"},"matchingColumns":[],"schema":[{"id":"client_id","displayName":"client_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Overwrite","displayName":"Overwrite","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[608,656],"id":"2889c1af-b989-477c-b58e-110800da4616","name":"wordsWeDontUse"},{"parameters":{"content":"## Testing New edited flow","height":224,"width":272},"type":"n8n-nodes-base.stickyNote","position":[688,-512],"typeVersion":1,"id":"82b774ed-0c6e-40b6-a180-1e18a6e40d6a","name":"Sticky Note"},{"parameters":{"content":"## Testing New edited flow","height":224,"width":272},"type":"n8n-nodes-base.stickyNote","position":[864,304],"typeVersion":1,"id":"556673a1-c5ea-4253-ac02-545379c401fa","name":"Sticky Note1"},{"parameters":{"workflowId":{"__rl":true,"value":"sO8CTnltr10uGV5J","mode":"list","cachedResultUrl":"/workflow/sO8CTnltr10uGV5J","cachedResultName":"Welcome Sequence"},"workflowInputs":{"mappingMode":"defineBelow","value":{"client_id":"={{ $('Webhook').item.json.body.client_id }}","Overwrite":"={{ $('Webhook').item.json.body.overwrite }}"},"matchingColumns":["client_id"],"schema":[{"id":"client_id","displayName":"client_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Overwrite","displayName":"Overwrite","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[384,944],"id":"2a19bb32-1f7b-495c-bc93-9cc9d294048d","name":"welcomeSequence"},{"parameters":{"workflowId":{"__rl":true,"value":"DkQLdO8usHEyzrBw","mode":"list","cachedResultUrl":"/workflow/DkQLdO8usHEyzrBw","cachedResultName":"Cheat Sheet v2"},"workflowInputs":{"mappingMode":"defineBelow","value":{"client_id":"={{ $('Webhook').item.json.body.client_id }}","Overwrite":"={{ $('Webhook').item.json.body.overwrite }}"},"matchingColumns":[],"schema":[{"id":"client_id","displayName":"client_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Overwrite","displayName":"Overwrite","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[384,1152],"id":"4166e257-e71d-4a19-a5eb-a4769f5f76df","name":"cheatSheet"},{"parameters":{"content":"## Target market\n** need to wait the result of subworkflow","height":288,"width":432},"type":"n8n-nodes-base.stickyNote","position":[848,800],"typeVersion":1,"id":"c0e1c86c-740c-410c-bee7-a44975280f85","name":"Sticky Note2"}],"connections":{"Webhook":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"businessProfile","type":"main","index":0}],[{"node":"Common Words and Phrases","type":"main","index":0}],[{"node":"emotionalSentiment","type":"main","index":0}],[{"node":"industryJargon","type":"main","index":0}],[{"node":"commonMisconceptions","type":"main","index":0}],[{"node":"awarenessStage","type":"main","index":0}],[{"node":"painPoints","type":"main","index":0}],[{"node":"biggestObjections","type":"main","index":0}],[{"node":"desiredTransformation","type":"main","index":0}],[{"node":"oneLiners","type":"main","index":0}],[{"node":"brandPersonality","type":"main","index":0}],[{"node":"toneOfVoice","type":"main","index":0}],[{"node":"wordsWeUse","type":"main","index":0}],[{"node":"wordsWeDontUse","type":"main","index":0}],[{"node":"targetMarket","type":"main","index":0}],[{"node":"welcomeSequence","type":"main","index":0}],[{"node":"cheatSheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"primary-production-cea5.up.railway.app","user-agent":"Bubble","content-length":"425","accept-encoding":"gzip, deflate","baggage":"bubblegroup.client.version=2de632b5f3f289f6f2f5ff8afb1a2dce3b05cdcd,bubblegroup.client.commit_timestamp=1754684125000,bubblegroup.http.route=apiservice%2Fdoapicallfromserver,bubblegroup.http.host=bubble.io","content-type":"multipart/form-data; boundary=--------------------------186164624648186254393855","traceparent":"00-ae9cd1485541965285945cfcc47dcc29-2b724678236cc93a-01","x-bubble-depth":"1","x-forwarded-for":"44.244.165.52","x-forwarded-host":"primary-production-cea5.up.railway.app","x-forwarded-proto":"https","x-railway-edge":"railway/us-west2","x-railway-request-id":"zbkjdKKQQACndfV9-_9nXA","x-real-ip":"44.244.165.52","x-request-start":"1755731694414"},"params":{},"query":{},"body":{"workflow":"wordsWeDontUse","client_id":"1650987991917x277951650850529760","overwrite":"no"},"webhookUrl":"https://primary-production-cea5.up.railway.app/webhook/10e5d906-e32a-466c-be44-94cada37dc34","executionMode":"production"}}]},"versionId":"c26ac857-79cf-483d-b68e-d4c95b48729d","triggerCount":1,"shared":[{"createdAt":"2025-06-25T16:12:35.628Z","updatedAt":"2025-06-25T16:12:35.628Z","role":"workflow:owner","workflowId":"w0kFYdG5S5k6l2is","projectId":"oeHwV8sNrbPNhUov"}],"tags":[{"createdAt":"2025-03-08T06:02:07.869Z","updatedAt":"2025-03-08T06:02:07.869Z","id":"p2BojbfbdIa5pvok","name":"Messaging"},{"createdAt":"2025-05-15T00:55:08.917Z","updatedAt":"2025-05-15T00:55:08.917Z","id":"g2UpVZ4k6adJ2S36","name":"Production"}]}