prod-13---brand-personality-FaZSIPKiTk8af8gy.json
{"createdAt":"2025-08-21T22:41:05.277Z","updatedAt":"2025-10-16T05:49:18.347Z","id":"FaZSIPKiTk8af8gy","name":"PROD 13 - Brand Personality","active":false,"isArchived":false,"nodes":[{"parameters":{"tableId":"brand_personality","fieldsUi":{"fieldValues":[{"fieldId":"client_id","fieldValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"},{"fieldId":"company","fieldValue":"={{ $('Get Business Info').item.json.company }}"},{"fieldId":"personality_traits","fieldValue":"={{ $json.output.brandPersonality.personalityTraits }}"},{"fieldId":"famous_person","fieldValue":"={{ $json.output.brandPersonality.famousPersonExample }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[720,528],"id":"e5eb9583-7639-4317-b720-47f0a5bbefbb","name":"Supabase1","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}},"onError":"continueErrorOutput"},{"parameters":{"promptType":"define","text":"=ALWAYS USE THE TOOL TO PULL CHUNKS FROM THE VECTOR DATABASE\n\nCompany Offer:\n{{ $('Get Business Info').item.json.offer }}\n\nCompnay Industry:\n{{ $('Get Business Info').item.json.industry }}\n\nCompany Messaging:\n- Common words and phrases:\n\n{{ \n  (($('Get Common Words').item.json.primary_target_market) || [])\n    .map(p => '- ' + (p.phrase ?? String(p)))\n    .join('\\n')\n}}\n\n{{ \n  (($('Get Common Words').item.json.secondary_target_market) || [])\n    .map(p => '- ' + (p.phrase ?? String(p)))\n    .join('\\n')\n}}\n\n- Common emotional sentiment:\n  Positive themes:\n {{ $('Get emotional sentiment').item.json.summary.positiveThemes }}\n\n  \n\n- Jargon they use (and jargon they don’t):\n{{ \n  $('Get jargon').item.json.good_jargon\n    ? $('Get jargon').item.json.good_jargon\n        .map(j => `• **${j.term}** — ${j.description}`)\n        .join('\\n')\n    : ''\n}}\n\n- Common misconceptions:\n  About solution:\n{{ JSON.stringify($('Get misconseptions').item.json.misconceptions_about_solution) }}\n\n  About Offer:\n{{ JSON.stringify($('Get misconseptions').item.json.misconceptions_about_offer) }}\n\n  About Industry:\n{{ JSON.stringify($('Get misconseptions').item.json.misconceptions_about_industry) }}\n\n  About Company:\n{{ JSON.stringify($('Get misconseptions').item.json.misconceptions_about_company) }}\n\n\n- **Primary Target Market:**\n{{ JSON.stringify($('Get Target Market').item.json.primary_target_market, null, 2) }}\n\n- **Secondary Target Market:**\n-{{ JSON.stringify($('Get Target Market').item.json.secondary_target_market, null, 2) }}\n\n","hasOutputParser":true,"options":{"systemMessage":"=#Role and Objective#\nYou are a brand strategist. Your objective is to create a clear, concise brand personality profile based on all available context, inputs, and relevant chunks extracted from the vector database. The output should capture the essence of the brand in exactly five personality traits, each with a short description, and identify a single well-known person who embodies the brand’s personality.\n\n#Instructions#\n\nAlways use the tool to pull relevant data chunks from the vector database.\n\nReview all input context, including onboarding questionnaires, interviews, market research, customer feedback, and messaging insights.\n\nAnalyze the data to identify the five most defining brand personality traits.\n\nFor each trait, provide:\n\nTrait Name: e.g., \"Approachable,\" \"Effortlessly Stylish,\" etc.\n\nDescription: One short, clear sentence that captures the meaning of the trait for this brand.\n\nIdentify a single famous or well-known person who best represents the overall brand personality.\n\nInclude both their name and a brief explanation of how/why they embody the brand’s personality.\n\nOutput your results as a valid JSON schema object. Do not include any extra fields or commentary beyond what is required by the JSON schema.\n\n#Reasoning Steps#\n\nBegin by thoroughly reviewing all context and extracting supporting language, values, and messaging cues from the vector database.\n\nSynthesize five concise personality traits that accurately represent the brand.\n\nWrite a clear, one-sentence description for each trait.\n\nConsider the overall personality and match it to a single well-known person who exemplifies these traits, briefly explaining the alignment.\n\nConfirm that all required fields are present and no extras are included.\n\n#Context#\nYou have access to all relevant input context, onboarding questionnaires, interviews, customer feedback, and a vector database containing messaging, positioning, and brand-related insights. Use all sources to inform your choices.\n\n#Final instructions and prompt to think step by step#\nCarefully review all input context and vector database outputs before finalizing the brand personality.\nThink step by step: first, extract and synthesize the five key traits; second, write concise descriptions; third, select and justify a single famous person as an embodiment of the brand.\nReturn your answer as a valid JSON schema object, matching the required format exactly.\nDo not yield control until you have delivered exactly five traits and one famous person, with all content meeting the schema requirements and supported by your analysis of the context and vector database.\n\nJSON Schema:\n{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"title\": \"BrandPersonalityOutput\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"brandPersonality\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"personalityTraits\": {\n          \"type\": \"array\",\n          \"description\": \"List of exactly 5 personality traits for the brand.\",\n          \"items\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"trait\": {\n                \"type\": \"string\",\n                \"description\": \"The name of the personality trait.\"\n              },\n              \"description\": {\n                \"type\": \"string\",\n                \"description\": \"A short, concise description of the trait.\"\n              }\n            },\n            \"required\": [\"trait\", \"description\"],\n            \"additionalProperties\": false\n          },\n          \"minItems\": 5,\n          \"maxItems\": 5\n        },\n        \"famousPersonExample\": {\n          \"type\": \"object\",\n          \"description\": \"An example of a famous or well-known person that represents the brand if it were a person.\",\n          \"properties\": {\n            \"name\": {\n              \"type\": \"string\",\n              \"description\": \"The name of the famous person.\"\n            },\n            \"description\": {\n              \"type\": \"string\",\n              \"description\": \"A brief explanation of how this person reflects the brand personality.\"\n            }\n          },\n          \"required\": [\"name\", \"description\"],\n          \"additionalProperties\": false\n        }\n      },\n      \"required\": [\"personalityTraits\", \"famousPersonExample\"],\n      \"additionalProperties\": false\n    }\n  },\n  \"required\": [\"brandPersonality\"],\n  \"additionalProperties\": false\n}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[32,592],"id":"fbe55889-2683-4c77-81b6-de427bcb882d","name":"AI Agent"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"title\": \"BrandPersonalityOutput\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"brandPersonality\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"personalityTraits\": {\n          \"type\": \"array\",\n          \"description\": \"List of exactly 5 personality traits for the brand.\",\n          \"items\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"trait\": {\n                \"type\": \"string\",\n                \"description\": \"The name of the personality trait.\"\n              },\n              \"description\": {\n                \"type\": \"string\",\n                \"description\": \"A short, concise description of the trait.\"\n              }\n            },\n            \"required\": [\"trait\", \"description\"],\n            \"additionalProperties\": false\n          },\n          \"minItems\": 5,\n          \"maxItems\": 5\n        },\n        \"famousPersonExample\": {\n          \"type\": \"object\",\n          \"description\": \"An example of a famous or well-known person that represents the brand if it were a person.\",\n          \"properties\": {\n            \"name\": {\n              \"type\": \"string\",\n              \"description\": \"The name of the famous person.\"\n            },\n            \"description\": {\n              \"type\": \"string\",\n              \"description\": \"A brief explanation of how this person reflects the brand personality.\"\n            }\n          },\n          \"required\": [\"name\", \"description\"],\n          \"additionalProperties\": false\n        }\n      },\n      \"required\": [\"personalityTraits\", \"famousPersonExample\"],\n      \"additionalProperties\": false\n    }\n  },\n  \"required\": [\"brandPersonality\"],\n  \"additionalProperties\": false\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[368,832],"id":"f2107115-d084-4db6-95d9-c7d0d60391ca","name":"Structured Output Parser"},{"parameters":{"mode":"retrieve-as-tool","toolName":"brandPersonality","toolDescription":"=Analyze the onboarding questionnaire and client interview documents in the vector database. Extract all verbatim one-liners or statements that relate to brand personality. Looks for statements related to \"Customer-Focused Messaging\", \"Brand Values & Craftsmanship\", \"Product/Benefit Highlights\", or any headings that indicate personality traits or tone). Additionally, provide any extra context that helps illuminate the brand personality if available.","pineconeIndex":{"__rl":true,"value":"=onboarding","mode":"id"},"topK":20,"options":{"pineconeNamespace":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[80,1072],"id":"6ad78b4a-ba52-430c-a107-e7cef6b278eb","name":"Pinecone Vector Store1","credentials":{"pineconeApi":{"id":"axuYyU6grhcC8CQp","name":"PineconeApi account"}}},{"parameters":{"model":"text-embedding-3-large","options":{"dimensions":3072}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[208,1264],"id":"5d2c318a-ccc3-4695-a39d-bd6c6ebf1a74","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{"content":"## AI Model \nCurrently set\nto 4.1\n","height":220,"width":360,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-256,720],"id":"61840b67-ce69-4a61-9d27-acd8b3bf8f1a","name":"Sticky Note3"},{"parameters":{"content":"## Notes about run\n\nRun Time: 13 secs\n\n## Analyze outputs\n- Might need higher intelligence for this output\n","height":380,"width":700,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1216,960],"id":"d1faf8bf-290f-4e0f-9d65-2e5d104f98aa","name":"Sticky Note6"},{"parameters":{"operation":"get","tableId":"target_market_profiles","filters":{"conditions":[{"keyName":"client_id","keyValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1632,608],"id":"f807259b-7ac5-4813-859b-5a9be7a41261","name":"Get Target Market","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"content":"## Change search ID\n","height":200,"width":480},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-48,992],"id":"427d0f59-d411-495d-a8ac-12754aca4b60","name":"Sticky Note8"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-48,800],"id":"51a1969d-9811-46da-a9fe-2ff614feaa3a","name":"AI","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{"operation":"get","tableId":"misconceptions_output","filters":{"conditions":[{"keyName":"client_id","keyValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-592,608],"id":"c49e6c62-d3a5-4d6c-bfdd-8c15a2138f09","name":"Get misconseptions","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"operation":"get","tableId":"common_emotional_sentiment","filters":{"conditions":[{"keyName":"client_id","keyValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-800,608],"id":"7f5d2a07-e065-4a54-84d3-757f74b018f0","name":"Get emotional sentiment","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"operation":"get","tableId":"business_profiles","filters":{"conditions":[{"keyName":"client_id","keyValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-992,608],"id":"f0f54fea-5062-43cf-8b94-cf8e8dd4ddf5","name":"Get Business Info","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0b01e0ec-c766-4b22-9f4a-9c95f327539e","leftValue":"={{ $('When Executed by Another Workflow').item.json['Overwrite'] }}","rightValue":"no","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[464,560],"id":"ded98737-708d-465a-815e-9292fdf110e5","name":"If"},{"parameters":{"operation":"get","tableId":"industry_jargon","filters":{"conditions":[{"keyName":"client_id","keyValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1200,608],"id":"ac251d77-1b88-49d0-be6c-20cc1d3afd93","name":"Get jargon","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"operation":"get","tableId":"common_words_and_phrases","filters":{"conditions":[{"keyName":"client_id","keyValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1376,608],"id":"1370444e-9c3a-4d79-afdf-d0018464b552","name":"Get Common Words","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"operation":"update","tableId":"brand_personality","filters":{"conditions":[{"keyName":"client_id","condition":"eq","keyValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"company","fieldValue":"={{ $('Get Business Info').item.json.company }}"},{"fieldId":"personality_traits","fieldValue":"={{ $json.output.brandPersonality.personalityTraits }}"},{"fieldId":"famous_person","fieldValue":"={{ $json.output.brandPersonality.famousPersonExample }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[752,752],"id":"4826529f-6996-4aa7-a2e3-827b56fe30c8","name":"Supabase","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}},"onError":"continueErrorOutput"},{"parameters":{"workflowInputs":{"values":[{"name":"client_id"},{"name":"Overwrite"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1856,592],"id":"3f101085-360d-45c6-9d61-82c63b827504","name":"When Executed by Another Workflow"}],"connections":{"AI Agent":{"main":[[{"node":"If","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Pinecone Vector Store1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store1","type":"ai_embedding","index":0}]]},"Get Target Market":{"main":[[{"node":"Get Common Words","type":"main","index":0}]]},"AI":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Get misconseptions":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Get emotional sentiment":{"main":[[{"node":"Get misconseptions","type":"main","index":0}]]},"Get Business Info":{"main":[[{"node":"Get emotional sentiment","type":"main","index":0}]]},"If":{"main":[[{"node":"Supabase1","type":"main","index":0}],[{"node":"Supabase","type":"main","index":0}]]},"Get jargon":{"main":[[{"node":"Get Business Info","type":"main","index":0}]]},"Get Common Words":{"main":[[{"node":"Get jargon","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Get Target Market","type":"main","index":0}]]},"Supabase1":{"main":[[],[{"node":"Supabase","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"client_id":"1650987991917x277951650850529760","Overwrite":"no"}}]},"versionId":"53df6c03-6574-4d1b-b698-ff590d30edaf","triggerCount":0,"shared":[{"createdAt":"2025-08-21T22:41:05.277Z","updatedAt":"2025-08-21T22:41:05.277Z","role":"workflow:owner","workflowId":"FaZSIPKiTk8af8gy","projectId":"oeHwV8sNrbPNhUov"}],"tags":[{"createdAt":"2025-04-01T22:45:29.983Z","updatedAt":"2025-04-01T22:45:29.983Z","id":"BrjeNaIxRMVJhxj8","name":"Identity"},{"createdAt":"2025-03-17T22:01:27.572Z","updatedAt":"2025-03-17T22:01:27.572Z","id":"8gp5kj24VYtRoQQF","name":"Awareness Matrix"}]}