prod-11---desired-transformation-MuT2jAdpjNuht235.json
{"createdAt":"2025-07-16T17:34:17.004Z","updatedAt":"2025-10-16T05:48:53.038Z","id":"MuT2jAdpjNuht235","name":"PROD 11 - Desired Transformation","active":false,"isArchived":false,"nodes":[{"parameters":{"tableId":"desired_transformations","fieldsUi":{"fieldValues":[{"fieldId":"client_id","fieldValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"},{"fieldId":"company","fieldValue":"={{ $('Get Business Profile').item.json.offer }}"},{"fieldId":"primary_transformation","fieldValue":"={{ $json.output.primaryTargetMarket }}"},{"fieldId":"secondary_transformation","fieldValue":"={{ $json.output.secondaryTargetMarket }}"},{"fieldId":"overarching_transformation","fieldValue":"={{ $json.output.overarchingTransformation }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[720,464],"id":"2397cf74-b5e5-48c9-9f2a-8919bfd73857","name":"Supabase1","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}},"onError":"continueErrorOutput"},{"parameters":{"promptType":"define","text":"=ALWAYS USE THE TOOL TO PULL CHUNKS FROM THE VECTOR DATABASE\n\n**Analyze the provided context from THE COMPANY:**\n\n- **Company Name:** \n{{ $('Get Business Profile').item.json.company }}\n\n- **Offer:** \n{{ $('Get Business Profile').item.json.offer }}\n\n- **Industry:** \n{{ $('Get Business Profile').item.json.industry }}\n\n- **Primary Target Market:**\n{{ JSON.stringify($('Get Target Market').item.json.primary_target_market, null, 2) }}\n\n- **Secondary Target Market:**\n-{{ JSON.stringify($('Get Target Market').item.json.secondary_target_market, null, 2) }}\n\n\n- **Pain Points:**\nKnown Pain Points:\n{{ JSON.stringify($('Get Pain Points').item.json.known_pain_points, null, 2) }}\n\nHidden Pain Points:\n{{ JSON.stringify($('Get Pain Points').item.json.hidden_pain_points, null, 2) }}\n","hasOutputParser":true,"options":{"systemMessage":"=**Role and Objective**\nYou are a marketing analyst specializing in transformation and outcome analysis. Your job is to analyze all available context—including testimonials, interviews, reviews, onboarding questionnaires, competitor research, and especially relevant chunks from the vector database—to understand and describe the ideal outcome or transformation customers experience after working with the company or purchasing the offer. Your focus is on the “after” state: what does life, work, or daily experience look and feel like when the customer’s problem has been solved?\n\n\n**Instructions**\n\nAlways use the tool to extract relevant data chunks from the vector database.\n\nCarefully review all provided context, testimonials, interviews, reviews, and supporting documents.\n\nFocus exclusively on the outcome, transformation, or “new normal” customers achieve after their journey with the company or solution.\n\nFor each target market (primary and secondary), provide:\n\nA vivid, clear summary describing what life, work, or the customer’s situation looks like after their transformation is complete.\n\nFour key characteristics, changes, or benefits that define this transformed state—make these as specific and tangible as possible.\n\nFor each key characteristic, include an example, supporting quote (if available), or a brief scenario, with the source clearly indicated.\n\nIn addition, synthesize an overarching summary describing the universal transformation customers seek across both target markets. Focus on the emotional, practical, and functional improvements achieved.\n\n**Reasoning Steps**\n\nStart by reviewing all input context and outputs from the vector database.\n\nIdentify language, stories, or testimonials that describe the “after” state—what the customer is able to do, feel, or experience that they could not before.\n\nAvoid describing company features, processes, or generic promises. Describe what has changed for the customer.\n\nExtract and synthesize specific outcomes, using direct quotes and paraphrased scenarios as evidence.\n\nMake the transformation outcome as concrete, relatable, and detailed as possible.\n\n**Context**\nYou have access to testimonials, interviews, reviews, onboarding questionnaires, competitor analysis, and a vector database containing detailed contextual insights. All outputs should be business-agnostic—focus on the customer’s transformed state, not on the company’s offerings.\n\n**Final instructions and prompt to think step by step**\nCarefully review all input context and vector database results.\nThink step by step:\nFirst, extract and describe the “after” state for each target market—focus on practical, emotional, and functional outcomes, not just features or benefits.\nSecond, identify four defining characteristics for each segment, supporting each with direct evidence where possible.\nThird, synthesize the overarching universal transformation sought by all customers.\nReturn your answer as a valid JSON schema object, strictly following the specified structure.\nDo not yield control until your output clearly and vividly describes the ideal post-solution outcome for the customer, and is fully supported by evidence from context and the vector database.\n\n\n- **Output JSON Structure:**\n\n```json\n\n{\n  \"primaryTargetMarket\": {\n    \"desiredTransformation\": \"A summary of the transformation or solution that the primary target market wants to achieve.\",\n    \"keyElements\": [\n      {\n        \"element\": \"Description of a key element of the desired solution\",\n        \"example\": \"Direct quote or paraphrase from client feedback (if available)\",\n        \"source\": \"Source reference (e.g., interview, testimonial)\"\n      },\n      {\n        \"element\": \"Description of another key element\",\n        \"example\": \"Supporting client verbatim (if available)\",\n        \"source\": \"Source reference\"\n      },\n      {\n        \"element\": \"Description of another key element\",\n        \"example\": \"Supporting client verbatim (if available)\",\n        \"source\": \"Source reference\"\n      },\n      {\n        \"element\": \"Description of another key element\",\n        \"example\": \"Supporting client verbatim (if available)\",\n        \"source\": \"Source reference\"\n      }\n    ]\n  },\n  \"secondaryTargetMarket\": {\n    \"desiredTransformation\": \"A summary of the transformation or solution that the secondary target market wants to achieve.\",\n    \"keyElements\": [\n      {\n        \"element\": \"Description of a key element of the desired solution\",\n        \"example\": \"Direct quote or paraphrase from client feedback (if available)\",\n        \"source\": \"Source reference (e.g., interview, testimonial)\"\n      },\n      {\n        \"element\": \"Description of another key element\",\n        \"example\": \"Supporting client verbatim (if available)\",\n        \"source\": \"Source reference\"\n      },\n      {\n        \"element\": \"Description of another key element\",\n        \"example\": \"Supporting client verbatim (if available)\",\n        \"source\": \"Source reference\"\n      },\n      {\n        \"element\": \"Description of another key element\",\n        \"example\": \"Supporting client verbatim (if available)\",\n        \"source\": \"Source reference\"\n      }\n    ]\n  },\n  \"overarchingTransformation\": \"A summary that captures the common transformation desired across both target markets, focusing on reducing complexity, eliminating uncertainty, and delivering a high-quality, effortless outcome.\"\n}\n\n```\n\n**Final Notes:**\n\n- Ensure that every extracted snippet is clearly tagged with its source.\n- Use both direct quotes and paraphrased content where applicable.\n- Your final output must adhere strictly to the JSON schema provided above.\n- Maintain a business-agnostic tone, without referring to any specific company."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[48,592],"id":"f0a1389b-1c8f-41d6-a1c5-0371b7e332f8","name":"AI Agent","onError":"continueErrorOutput"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"primaryTargetMarket\": {\n    \"desiredTransformation\": \"A summary of the transformation or solution that the primary target market wants to achieve.\",\n    \"keyElements\": [\n      {\n        \"element\": \"Description of a key element of the desired solution\",\n        \"example\": \"Direct quote or paraphrase from client feedback (if available)\",\n        \"source\": \"Source reference (e.g., interview, testimonial)\"\n      },\n      {\n        \"element\": \"Description of another key element\",\n        \"example\": \"Supporting client verbatim (if available)\",\n        \"source\": \"Source reference\"\n      },\n      {\n        \"element\": \"Description of another key element\",\n        \"example\": \"Supporting client verbatim (if available)\",\n        \"source\": \"Source reference\"\n      },\n      {\n        \"element\": \"Description of another key element\",\n        \"example\": \"Supporting client verbatim (if available)\",\n        \"source\": \"Source reference\"\n      }\n    ]\n  },\n  \"secondaryTargetMarket\": {\n    \"desiredTransformation\": \"A summary of the transformation or solution that the secondary target market wants to achieve.\",\n    \"keyElements\": [\n      {\n        \"element\": \"Description of a key element of the desired solution\",\n        \"example\": \"Direct quote or paraphrase from client feedback (if available)\",\n        \"source\": \"Source reference (e.g., interview, testimonial)\"\n      },\n      {\n        \"element\": \"Description of another key element\",\n        \"example\": \"Supporting client verbatim (if available)\",\n        \"source\": \"Source reference\"\n      },\n      {\n        \"element\": \"Description of another key element\",\n        \"example\": \"Supporting client verbatim (if available)\",\n        \"source\": \"Source reference\"\n      },\n      {\n        \"element\": \"Description of another key element\",\n        \"example\": \"Supporting client verbatim (if available)\",\n        \"source\": \"Source reference\"\n      }\n    ]\n  },\n  \"overarchingTransformation\": \"A summary that captures the common transformation desired across both target markets, focusing on reducing complexity, eliminating uncertainty, and delivering a high-quality, effortless outcome.\"\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[368,832],"id":"788025fc-d836-4b20-a785-23e23d22fdf6","name":"Structured Output Parser"},{"parameters":{"mode":"retrieve-as-tool","toolName":"transformationSolution","toolDescription":"=Act as a marketing analyst with deep expertise in customer behavior and transformation analysis. Your task is to scan the vector database for relevant insights from initial inputs, market research, customer feedback, testimonials, and other documents. Extract and summarize the desired transformation or solution that the target market wants to achieve by identifying both explicit statements and underlying aspirations. Use direct client quotes, inferred sentiments, and contextual clues to highlight the key elements that define this transformation for each target market segment.","pineconeIndex":{"__rl":true,"value":"=onboarding","mode":"id"},"topK":12,"options":{"pineconeNamespace":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[80,1072],"id":"721ae8b4-7a85-4bc5-b4f2-2824da1a3852","name":"Pinecone Vector Store1","credentials":{"pineconeApi":{"id":"axuYyU6grhcC8CQp","name":"PineconeApi account"}}},{"parameters":{"model":"text-embedding-3-large","options":{"dimensions":3072}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[208,1264],"id":"eccb915c-2423-4dc7-949a-f8d8c74b0b66","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{"content":"## AI Model \nCurrently set\nto 4.1","height":220,"width":360,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-256,752],"id":"d50ee086-3422-4836-9fdc-5911c3b9426d","name":"Sticky Note3"},{"parameters":{"content":"## Prompt Notes\n- added Pain_ Points Known And hidden\n","color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[48,432],"id":"b67b5c5b-a71a-49ea-a81d-31cfb4c8ff0d","name":"Sticky Note5"},{"parameters":{"content":"## Notes about run\n\nRun Time: \n\n## Analyze outputs\n- Might need higher intelligence for this output\n","height":380,"width":700,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1200,944],"id":"8092b375-b3f5-4ddb-b8de-6f1d03021542","name":"Sticky Note6"},{"parameters":{"operation":"get","tableId":"target_market_profiles","filters":{"conditions":[{"keyName":"client_id","keyValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1216,608],"id":"77568543-3887-4e99-b2a6-c4a2235601d1","name":"Get Target Market","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"operation":"get","tableId":"business_profiles","filters":{"conditions":[{"keyName":"client_id","keyValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1008,608],"id":"8002a87a-b151-40b4-8366-3207d8f3522f","name":"Get Business Profile","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"content":"## Change search ID\n","height":200,"width":480},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-48,992],"id":"c6b2a4ff-f6f2-4441-b292-57b07d99b69c","name":"Sticky Note8"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-16,832],"id":"49220a2f-cd0b-4fbe-bea9-2d151aa909ae","name":"AI","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{"operation":"get","tableId":"pain_points_extractions","filters":{"conditions":[{"keyName":"client_id","keyValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-784,608],"id":"7e2bf87a-f9f0-4db0-b2d8-8cab35485c87","name":"Get Pain Points","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"workflowInputs":{"values":[{"name":"client_id"},{"name":"Overwrite"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1792,624],"id":"a123c0b4-2154-4676-8e4c-64e446181058","name":"When Executed by Another Workflow"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0b01e0ec-c766-4b22-9f4a-9c95f327539e","leftValue":"={{ $('When Executed by Another Workflow').item.json['Overwrite'] }}","rightValue":"no","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[432,576],"id":"446b6edd-2018-4444-8a0e-5c9c208ba802","name":"If"},{"parameters":{"operation":"update","tableId":"desired_transformations","filters":{"conditions":[{"keyName":"client_id","condition":"eq","keyValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"company","fieldValue":"={{ $('Get Business Profile').item.json.offer }}"},{"fieldId":"primary_transformation","fieldValue":"={{ $json.output.primaryTargetMarket }}"},{"fieldId":"secondary_transformation","fieldValue":"={{ $json.output.secondaryTargetMarket }}"},{"fieldId":"overarching_transformation","fieldValue":"={{ $json.output.overarchingTransformation }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[720,672],"id":"5cd4ab43-7579-4a7e-befe-3e820984d39e","name":"Supabase","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}},"onError":"continueErrorOutput"}],"connections":{"AI Agent":{"main":[[{"node":"If","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Pinecone Vector Store1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store1","type":"ai_embedding","index":0}]]},"Get Target Market":{"main":[[{"node":"Get Business Profile","type":"main","index":0}]]},"Get Business Profile":{"main":[[{"node":"Get Pain Points","type":"main","index":0}]]},"AI":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Get Pain Points":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"If":{"main":[[{"node":"Supabase1","type":"main","index":0}],[{"node":"Supabase","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Get Target Market","type":"main","index":0}]]},"Supabase1":{"main":[[],[{"node":"Supabase","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"client_id":"1650987991917x277951650850529760","Overwrite":"no"}}]},"versionId":"62058e3c-4663-4363-948b-264cbde40921","triggerCount":1,"shared":[{"createdAt":"2025-07-16T17:34:17.004Z","updatedAt":"2025-07-16T17:34:17.004Z","role":"workflow:owner","workflowId":"MuT2jAdpjNuht235","projectId":"oeHwV8sNrbPNhUov"}],"tags":[{"createdAt":"2025-05-15T00:55:08.917Z","updatedAt":"2025-05-15T00:55:08.917Z","id":"g2UpVZ4k6adJ2S36","name":"Production"},{"createdAt":"2025-03-17T23:36:46.588Z","updatedAt":"2025-03-18T20:45:05.142Z","id":"eyDBWEktby5yXck2","name":"Understanding Pain"},{"createdAt":"2025-03-17T22:01:27.572Z","updatedAt":"2025-03-17T22:01:27.572Z","id":"8gp5kj24VYtRoQQF","name":"Awareness Matrix"}]}