prod-9---pain-points-bq3CZx0aCvpLR9ow.json
{"createdAt":"2025-07-11T23:40:56.565Z","updatedAt":"2025-10-16T06:08:00.794Z","id":"bq3CZx0aCvpLR9ow","name":"PROD 9 - Pain Points","active":true,"isArchived":false,"nodes":[{"parameters":{"tableId":"pain_points_extractions","fieldsUi":{"fieldValues":[{"fieldId":"client_id","fieldValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"},{"fieldId":"company","fieldValue":"={{ $('Get Business Profile').item.json.company }}"},{"fieldId":"known_pain_points","fieldValue":"={{ $json.output.knownPainPoints }}"},{"fieldId":"hidden_pain_points","fieldValue":"={{ $json.output.hiddenPainPoints }}"},{"fieldId":"customer_evaluation_process","fieldValue":"={{ $json.output.customerEvaluationProcess }}"},{"fieldId":"actionable_insights","fieldValue":"={{ $json.output.actionableInsights }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[672,544],"id":"4bd82020-1c37-4f51-82cd-43855661127f","name":"Supabase1","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}},"onError":"continueErrorOutput"},{"parameters":{"promptType":"define","text":"=ALWAYS USE THE TOOL TO PULL CHUNKS FROM THE VECTOR DATABASE\n\n**Analyze the provided context from THE COMPANY:**\n\n- **Company Name:** \n{{ $('Get Business Profile').item.json.company }}\n\n- **Offer:** \n{{ $('Get Business Profile').item.json.offer }}\n\n- **Industry:** \n{{ $('Get Business Profile').item.json.industry }}\n\n- **Primary Target Market:**\n{{ JSON.stringify($('Get Target Market').item.json.primary_target_market, null, 2) }}\n\n- **Secondary Target Market:**\n-{{ JSON.stringify($('Get Target Market').item.json.secondary_target_market, null, 2) }}\n\n\n","hasOutputParser":true,"options":{"systemMessage":"=**Role and Objective**\nYou are a marketing strategist with deep expertise in customer research and target market segmentation. Your primary objective is to identify and articulate the key pain points experienced by potential customers before they purchase, sign up, or otherwise become a customer of the company. Your analysis must be based on the context, all provided inputs, and detailed data chunks extracted from the vector database.\n\n**Instructions**\n\nAlways use the tool provided to extract relevant data chunks from the vector database.\n\nThoroughly review all context, testimonials, reviews, interviews, onboarding questionnaires, competitor analyses, and any additional sources.\n\nOnly consider pain points that customers experienced before they became a customer or while using a competitor. Do not include pain points related to the customer experience after purchase or onboarding.\n\nFor each pain point, clearly indicate whether it is explicit (directly stated by the customer) or implicit (inferred from language, sentiment, or indirect feedback).\n\nWhenever possible, support each pain point with direct quotes, paraphrased feedback, or clear references to the vector database and input context.\n\nCategorize pain points as follows:\n\nKnown Pain Points: Directly stated, obvious problems, frustrations, or unmet needs customers experience before purchasing or engaging with the company.\n\nHidden or Unspoken Pain Points: Frustrations, anxieties, unmet needs, or emotional drivers that are not stated overtly but are revealed through subtle language, sentiment, or behavior—always before purchase or while using a competitor.\n\nCustomer Evaluation Process: Challenges, anxieties, or concerns that arise specifically during the research, comparison, and selection of a provider (e.g., trust, price, confusion, or uncertainty).\n\nActionable Insights: Practical steps the company can take to address each pre-purchase pain point and meaningfully differentiate from competitors.\n\nEnsure all sections reference only pre-purchase pain points.\n\nOutput must be a valid JSON schema object, using only the required structure and fields—no extras.\n\nReasoning Steps**\n\nBegin by reviewing and understanding the input context and supporting documents.\n\n**Use the tool to search the vector database for pre-purchase language: look for signs of dissatisfaction, anxiety, confusion, frustration, unmet needs, or emotional triggers described by non-customers or customers describing their situation before purchase.\n\nIgnore all pain points relating to post-purchase experience or onboarding.\n\nExplicitly categorize each pain point as known or hidden, and always ground your reasoning in the language, context, or indirect cues presented before customers became buyers.\n\nExamine pain points encountered during the evaluation and decision process—do not include those that occur after a decision to purchase has been made.\n\nMake certain every pain point is well-supported by input context and vector database evidence.\n\n**Context**\nYou have access to input context, and a vector database containing detailing contextual insights. Use all provided sources and data chunks as your foundation. Findings will be used for marketing, positioning, and messaging strategy—focused exclusively on pre-purchase customer experience.\n\n**Final instructions and prompt to think step by step**\nCarefully review the input context and all tool outputs from the vector database before documenting pain points.\nThink step by step:\nFirst, identify only those pain points that occur before a customer purchases or engages with the company.\nSecond, organize pain points by explicit/known and implicit/hidden.\nThird, address pain points specific to the customer’s research and evaluation process.\nFourth, develop actionable recommendations targeted at the pre-purchase phase.\nReturn your analysis as a valid JSON schema object, following the specified structure and including only the required fields.\nDo not yield control until all requirements are strictly met and each pain point clearly fits the pre-purchase criteria, supported by evidence from context and the vector database.\n\n**Important**:\n\n- Populate each section with insights derived from both the explicit and implicit feedback.\n- Where possible, include direct quotes or paraphrased feedback to support each point.\n- Ensure that your final output is valid JSON.\n    \n    Your final answer must be valid JSON following this structure:\n\n{\n  \"knownPainPoints\": {\n    \"primaryTargetMarket\": [\n      {\n        \"painPoint\": \"Brief name or summary of the pain point\",\n        \"statedIssue\": \"Exact quote or paraphrase from customer feedback (if available)\"\n      }\n    ],\n    \"secondaryTargetMarket\": [\n      {\n        \"painPoint\": \"Brief name or summary of the pain point\",\n        \"statedIssue\": \"Exact quote or paraphrase from customer feedback (if available)\"\n      }\n   ]\n  },\n  \"hiddenPainPoints\": {\n    \"primaryTargetMarket\": [\n      {\n        \"inferredIssue\": \"Brief description of the unspoken or indirectly referenced pain point\",\n        \"supportingEvidence\": \"Short explanation of how you inferred this (e.g., sentiment clues, partial comments)\"\n      }\n    ],\n    \"secondaryTargetMarket\": [\n      {\n        \"inferredIssue\": \"Brief description of the unspoken or indirectly referenced pain point\",\n        \"supportingEvidence\": \"Short explanation of how you inferred this\"\n      }\n    ]\n  },\n  \"customerEvaluationProcess\": {\n    \"primaryTargetMarket\": [\n      {\n        \"evaluationPainPoint\": \"Issue related to how primary customers evaluate/select providers\",\n        \"context\": \"Any relevant details or quotes\"\n      }\n    ],\n    \"secondaryTargetMarket\": [\n      {\n        \"evaluationPainPoint\": \"Issue related to how secondary customers evaluate/select providers\",\n        \"context\": \"Any relevant details or quotes\"\n      }\n    ]\n  },\n  \"actionableInsights\": {\n    \"primaryTargetMarket\": [\n      {\n        \"recommendation\": \"A proposed improvement or focus area\",\n        \"rationale\": \"Why this recommendation would help\"\n      }\n    ],\n    \"secondaryTargetMarket\": [\n      {\n        \"recommendation\": \"A proposed improvement or focus area\",\n        \"rationale\": \"Why this recommendation would help\"\n      }\n    ]\n  }\n}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[48,592],"id":"0e15129f-5d56-49f5-a71e-229fde902e36","name":"AI Agent","onError":"continueErrorOutput"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"knownPainPoints\": {\n    \"primaryTargetMarket\": [\n      {\n        \"painPoint\": \"Brief name or summary of the pain point\",\n        \"statedIssue\": \"Exact quote or paraphrase from customer feedback (if available)\"\n      }\n    ],\n    \"secondaryTargetMarket\": [\n      {\n        \"painPoint\": \"Brief name or summary of the pain point\",\n        \"statedIssue\": \"Exact quote or paraphrase from customer feedback (if available)\"\n      }\n   ]\n  },\n  \"hiddenPainPoints\": {\n    \"primaryTargetMarket\": [\n      {\n        \"inferredIssue\": \"Brief description of the unspoken or indirectly referenced pain point\",\n        \"supportingEvidence\": \"Short explanation of how you inferred this (e.g., sentiment clues, partial comments)\"\n      }\n    ],\n    \"secondaryTargetMarket\": [\n      {\n        \"inferredIssue\": \"Brief description of the unspoken or indirectly referenced pain point\",\n        \"supportingEvidence\": \"Short explanation of how you inferred this\"\n      }\n    ]\n  },\n  \"customerEvaluationProcess\": {\n    \"primaryTargetMarket\": [\n      {\n        \"evaluationPainPoint\": \"Issue related to how primary customers evaluate/select providers\",\n        \"context\": \"Any relevant details or quotes\"\n      }\n    ],\n    \"secondaryTargetMarket\": [\n      {\n        \"evaluationPainPoint\": \"Issue related to how secondary customers evaluate/select providers\",\n        \"context\": \"Any relevant details or quotes\"\n      }\n    ]\n  },\n  \"actionableInsights\": {\n    \"primaryTargetMarket\": [\n      {\n        \"recommendation\": \"A proposed improvement or focus area\",\n        \"rationale\": \"Why this recommendation would help\"\n      }\n    ],\n    \"secondaryTargetMarket\": [\n      {\n        \"recommendation\": \"A proposed improvement or focus area\",\n        \"rationale\": \"Why this recommendation would help\"\n      }\n    ]\n  }\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[368,832],"id":"e0e3c007-cadf-475b-992e-f93f5fb1077e","name":"Structured Output Parser"},{"parameters":{"mode":"retrieve-as-tool","toolName":"misconceptions","toolDescription":"=You are an AI research assistant tasked with extracting relevant chunks from our vector database to support an analysis of customer pain points. Your objective is to find data that provides insights into both explicit (known) and implicit (hidden/unspoken) pain points related to our offer, as well as feedback on the customer evaluation process and actionable recommendations. ","pineconeIndex":{"__rl":true,"value":"=onboarding","mode":"id"},"topK":10,"options":{"pineconeNamespace":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[80,1072],"id":"2342d712-6c2d-45aa-93fe-db5972b180cf","name":"Pinecone Vector Store1","credentials":{"pineconeApi":{"id":"axuYyU6grhcC8CQp","name":"PineconeApi account"}}},{"parameters":{"model":"text-embedding-3-large","options":{"dimensions":3072}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[208,1264],"id":"8c07da28-4c4f-4388-aec4-607359d6a283","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{"content":"## AI Model \nCurrently set\nto 4.1","height":220,"width":360,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-256,752],"id":"d12f2883-9bb4-4463-b377-5eda6dbe3c1a","name":"Sticky Note3"},{"parameters":{"content":"## Handle Error\nIn production add error handling for data duplication with same ID\n","height":520,"width":380},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[528,448],"id":"faf88dec-5a30-4da6-9609-d5389a8ef29b","name":"Sticky Note4"},{"parameters":{"content":"## Prompt Notes\n- Am not using \"solution\" \n- Need prompt for solution\n","color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[48,432],"id":"13337dee-5128-4a67-a445-4b1e603605f3","name":"Sticky Note5"},{"parameters":{"content":"## Notes about run\n\nRun Time: \n\n## Analyze outputs\n- Determine with Client if outputs need to be more specific\n- Possibly break up each agent for a specific output to pull relevant chunks\n- Double check inputs for user prompt as well","height":380,"width":700,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1200,944],"id":"7d7cc69c-c244-4900-80d7-b93f77ca69a6","name":"Sticky Note6"},{"parameters":{"content":"\n\nHave error handling if fails\n","height":80,"width":150},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[352,640],"id":"c0fbba96-54d4-4401-bc34-16d9303e767b","name":"Sticky Note7"},{"parameters":{"operation":"get","tableId":"target_market_profiles","filters":{"conditions":[{"keyName":"client_id","keyValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-960,608],"id":"2c8d9787-88d1-4c69-ae6d-ebb785d4beea","name":"Get Target Market","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"operation":"get","tableId":"business_profiles","filters":{"conditions":[{"keyName":"client_id","keyValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-736,608],"id":"e42928dd-3c7f-49f9-ae7b-cb20fb02caf9","name":"Get Business Profile","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"content":"## Change search ID\n","height":200,"width":480},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-48,992],"id":"424fef77-e170-4eac-a262-51bd3bd8ce11","name":"Sticky Note8"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-16,832],"id":"ba76517f-c9b5-49d1-821b-f4902b996c43","name":"AI","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{"httpMethod":"POST","path":"983b0ae5-f32e-4aa9-b753-b1d19a59fd94","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1440,560],"id":"befb2d7f-f72f-4b54-80e3-828ecdb091e2","name":"Webhook","webhookId":"983b0ae5-f32e-4aa9-b753-b1d19a59fd94"},{"parameters":{"workflowInputs":{"values":[{"name":"client_id"},{"name":"Overwrite"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1440,704],"id":"20cdd858-7814-4750-a2ff-fa7aea94eddf","name":"When Executed by Another Workflow"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0b01e0ec-c766-4b22-9f4a-9c95f327539e","leftValue":"={{ $('When Executed by Another Workflow').item.json['Overwrite'] }}","rightValue":"no","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[400,544],"id":"e8756c46-aa23-47f2-aee2-ce60c1e4c0b4","name":"If"},{"parameters":{"operation":"update","tableId":"pain_points_extractions","filters":{"conditions":[{"keyName":"client_id","condition":"eq","keyValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"company","fieldValue":"={{ $('Get Business Profile').item.json.company }}"},{"fieldId":"known_pain_points","fieldValue":"={{ $json.output.knownPainPoints }}"},{"fieldId":"hidden_pain_points","fieldValue":"={{ $json.output.hiddenPainPoints }}"},{"fieldId":"customer_evaluation_process","fieldValue":"={{ $json.output.customerEvaluationProcess }}"},{"fieldId":"actionable_insights","fieldValue":"={{ $json.output.actionableInsights }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[704,736],"id":"ba27d79e-e37c-41a2-bbe6-59841386bc27","name":"Supabase","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}},"onError":"continueErrorOutput"}],"connections":{"AI Agent":{"main":[[{"node":"If","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Pinecone Vector Store1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store1","type":"ai_embedding","index":0}]]},"Get Target Market":{"main":[[{"node":"Get Business Profile","type":"main","index":0}]]},"Get Business Profile":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Webhook":{"main":[[]]},"When Executed by Another Workflow":{"main":[[{"node":"Get Target Market","type":"main","index":0}]]},"If":{"main":[[{"node":"Supabase1","type":"main","index":0}],[{"node":"Supabase","type":"main","index":0}]]},"Supabase1":{"main":[[],[{"node":"Supabase","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"primary-production-cea5.up.railway.app","user-agent":"Bubble","content-length":"196","accept-encoding":"gzip, deflate","baggage":"bubblegroup.client.version=b3f89cf0e5d18b3c8f061626f6a124f0b4e87a58,bubblegroup.client.commit_timestamp=1752262815000,bubblegroup.http.route=apiservice%2Fdoapicallfromserver,bubblegroup.http.host=bubble.io","content-type":"multipart/form-data; boundary=--------------------------594799907209618129986553","traceparent":"00-125c5a32d65df1ba2d564bd2a25c56b2-c35e8028b059d24e-01","x-bubble-depth":"1","x-forwarded-for":"34.217.124.244","x-forwarded-host":"primary-production-cea5.up.railway.app","x-forwarded-proto":"https","x-railway-edge":"railway/us-west1","x-railway-request-id":"9G_w2x1BTDaQn74JnjUZ_Q","x-real-ip":"34.217.124.244","x-request-start":"1752277359450"},"params":{},"query":{},"body":{"client_id":"1650987991917x277951650850529760"},"webhookUrl":"https://primary-production-cea5.up.railway.app/webhook/983b0ae5-f32e-4aa9-b753-b1d19a59fd94","executionMode":"production"}}],"When Executed by Another Workflow":[{"json":{"client_id":"1650987991917x277951650850529760","Overwrite":"no"}}]},"versionId":"7bed0924-d661-4068-beba-8de74daca665","triggerCount":1,"shared":[{"createdAt":"2025-07-11T23:40:56.565Z","updatedAt":"2025-07-11T23:40:56.565Z","role":"workflow:owner","workflowId":"bq3CZx0aCvpLR9ow","projectId":"oeHwV8sNrbPNhUov"}],"tags":[{"createdAt":"2025-03-17T22:01:27.572Z","updatedAt":"2025-03-17T22:01:27.572Z","id":"8gp5kj24VYtRoQQF","name":"Awareness Matrix"},{"createdAt":"2025-03-17T23:36:46.588Z","updatedAt":"2025-03-18T20:45:05.142Z","id":"eyDBWEktby5yXck2","name":"Understanding Pain"},{"createdAt":"2025-05-15T00:55:08.917Z","updatedAt":"2025-05-15T00:55:08.917Z","id":"g2UpVZ4k6adJ2S36","name":"Production"}]}