prod-4---common-words-and-phrases-x0O9iSJ9z27538T6.json
{"createdAt":"2025-06-24T22:53:05.758Z","updatedAt":"2025-10-16T05:51:55.599Z","id":"x0O9iSJ9z27538T6","name":"PROD 4 - Common words and phrases","active":true,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"=ALWAYS USE THE TOOL TO PULL CHUNKS FROM THE VECTOR DATABASE\n\n**Analyze the provided context:**\n\n- **Company Name:** \n{{ $('Get Target Market Info').item.json.company }}\n- **Primary Target Market:**\n{{ JSON.stringify($('Get Target Market Info').item.json.primary_target_market, null, 2) }}\n- **Secondary Target Market:** \n{{ JSON.stringify($('Get Target Market Info').item.json.secondary_target_market) }}\n\n\n","hasOutputParser":true,"options":{"systemMessage":"=**Role and Objective**\nYou are a marketing researcher. Your objective is to analyze client interviews, testimonials, and related documents using the provided tool and the vector database. Extract the most common and distinctive words and phrases found in customer language—specifically those that reflect unique value propositions, benefits, pain points, or specific feedback about the company and its offer. Do not include generic industry terms or obvious keywords. Use document metadata to source each excerpt and label each as either \"customer verbatim\" or \"competitor\" as appropriate.\n\n\n**Instructions**\n\nAlways use the tool to extract relevant text chunks from the vector database.\n\nFocus on direct verbiage from customers—interviews, testimonials, and reviews. Use direct quotes when possible, labeling these as \"source\": \"customer verbatim\".\n\nIf a theme or phrase is missing from customer data, reference competitor language, labeling as \"source\": \"competitor\".\n\nFor each phrase or word, provide:\n\n\"phrase\": The extracted word or phrase.\n\n\"excerpt\": The supporting quote or explanation.\n\n\"source\": \"customer verbatim\" or \"competitor\".\n\n\"document\": The name or identifier of the source document (from metadata).\n\nExtract exactly 8 phrases for the primary target market and exactly 5 for the secondary target market.\n\nDo not include generic or obvious keywords. Prioritize unique, specific, or emotionally charged language.\n\n**Reasoning Steps**\n\nBegin by searching the database for customer-facing documents: interviews, testimonials, reviews.\n\nUse the tool to search the vector database for customer-facing documents such as interviews, testimonials, and reviews, using methods appropriate for retrieving relevant chunks from a vector database.\n\nAttach document identifiers to each phrase when possible.\n\nSummarize pain points, geographic influences, or unique patterns observed, using additional insights if relevant.\n\n**Context**\nYou will have access to context, inputs, and a vector database tool containing customer-facing documents and competitor references. Use all provided material as your source. The output will be used to inform messaging, positioning, and customer persona work.\n\n**Final instructions and prompt to think step by step**\nCarefully review all relevant input context and results retrieved from the vector database before extracting phrases.\nThink step by step: First, identify unique, high-value language from actual customer interactions.\nEnsure that each entry meets the required format: phrase, excerpt, source, and document identifier.\nReturn a JSON object with exactly 8 phrases for the primary target market and 5 for the secondary target market, plus any additional insights. Do not yield control until your output meets all requirements and excludes any generic keywords.\n        \n{\n  \"type\": \"object\",\n  \"properties\": {\n    \"primaryTargetMarket\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"phrase\": {\n            \"type\": \"string\"\n          },\n          \"excerpt\": {\n            \"type\": \"string\"\n          },\n          \"source\": {\n            \"type\": \"string\",\n            \"enum\": [\"customer verbatim\", \"competitor\"]\n          },\n          \"document\": {\n            \"type\": \"string\",\n            \"description\": \"Name or identifier of the source document\"\n          }\n        },\n        \"required\": [\"phrase\", \"excerpt\", \"source\"]\n      }\n    },\n    \"secondaryTargetMarket\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"phrase\": {\n            \"type\": \"string\"\n          },\n          \"excerpt\": {\n            \"type\": \"string\"\n          },\n          \"source\": {\n            \"type\": \"string\",\n            \"enum\": [\"customer verbatim\", \"competitor\"]\n          },\n          \"document\": {\n            \"type\": \"string\",\n            \"description\": \"Name or identifier of the source document\"\n          }\n        },\n        \"required\": [\"phrase\", \"excerpt\", \"source\"]\n      }\n    },\n    \"additionalInsights\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"painPointsForDesigners\": {\n          \"type\": \"array\",\n          \"items\": {\n            \"type\": \"string\"\n          }\n        },\n        \"geographicInfluences\": {\n          \"type\": \"array\",\n          \"items\": {\n            \"type\": \"string\"\n          }\n        }\n      },\n      \"required\": [\"painPointsForDesigners\", \"geographicInfluences\"]\n    }\n  },\n  \"required\": [\"primaryTargetMarket\", \"secondaryTargetMarket\", \"additionalInsights\"]\n}\n\nRemember:\nALWAYS USE THE TOOL TO PULL CHUNKS FROM THE VECTOR DATABASE"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[48,592],"id":"21a545ed-6d22-4567-894f-cf507924c643","name":"AI Agent"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"primaryTargetMarket\": {\n      \"type\": \"array\",\n      \"minItems\": 8,\n      \"maxItems\": 8,\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"phrase\": { \"type\": \"string\" },\n          \"excerpt\": { \"type\": \"string\" },\n          \"source\": {\n            \"type\": \"string\",\n            \"enum\": [\"customer verbatim\", \"competitor\"]\n          },\n          \"document\": {\n            \"type\": \"string\",\n            \"description\": \"Name or identifier of the source document\"\n          }\n        },\n        \"required\": [\"phrase\", \"excerpt\", \"source\", \"document\"]\n      }\n    },\n    \"secondaryTargetMarket\": {\n      \"type\": \"array\",\n      \"minItems\": 5,\n      \"maxItems\": 5,\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"phrase\": { \"type\": \"string\" },\n          \"excerpt\": { \"type\": \"string\" },\n          \"source\": {\n            \"type\": \"string\",\n            \"enum\": [\"customer verbatim\", \"competitor\"]\n          },\n          \"document\": {\n            \"type\": \"string\",\n            \"description\": \"Name or identifier of the source document\"\n          }\n        },\n        \"required\": [\"phrase\", \"excerpt\", \"source\", \"document\"]\n      }\n    },\n    \"additionalInsights\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"painPointsForDesigners\": {\n          \"type\": \"array\",\n          \"items\": { \"type\": \"string\" }\n        },\n        \"geographicInfluences\": {\n          \"type\": \"array\",\n          \"items\": { \"type\": \"string\" }\n        }\n      },\n      \"required\": [\"painPointsForDesigners\", \"geographicInfluences\"]\n    }\n  },\n  \"required\": [\"primaryTargetMarket\", \"secondaryTargetMarket\", \"additionalInsights\"]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[368,832],"id":"15d253c4-59a5-4332-a957-b0a984e3fcc6","name":"Structured Output Parser"},{"parameters":{"mode":"retrieve-as-tool","toolName":"common_words","toolDescription":"Retrieves relevant chunks from the vector store for commonly used words and phrases, incorporating data from client interviews, testimonials, and competitor insights.","pineconeIndex":{"__rl":true,"value":"=onboarding","mode":"id"},"topK":10,"options":{"pineconeNamespace":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[144,1024],"id":"a65fc84d-7553-463c-9192-718cb0f652bb","name":"Pinecone Vector Store1","credentials":{"pineconeApi":{"id":"axuYyU6grhcC8CQp","name":"PineconeApi account"}}},{"parameters":{"model":"text-embedding-3-large","options":{"dimensions":3072}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[208,1264],"id":"45df8bc1-721d-490b-a56a-587152b5eeee","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{"content":"## Bubble webhook\n**Need to have Client ID sent via webhook","height":360,"width":260},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1488,464],"id":"14e2442b-dbda-477b-a1ee-4367e0fb6d8e","name":"Sticky Note"},{"parameters":{"content":"## Change Search to ClientID In Production\n\nCurrently We are just searching for \"Tonic Living\"","height":360,"width":260},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-848,400],"id":"40fda968-2b77-46c6-b88f-424b11c6789c","name":"Sticky Note1"},{"parameters":{"content":"## AI Model\nCurrently set\nto 4.1","height":140,"width":360,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-224,800],"id":"13166cb2-2898-4a6e-9c78-cd09a19c8212","name":"Sticky Note3"},{"parameters":{"content":"## Handle Error\nIn production add error handling for data duplication with same ID\n","height":280,"width":380},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[528,448],"id":"6fc532e4-37e9-4983-924d-a543a5cf349c","name":"Sticky Note4"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-16,832],"id":"74489771-dd0c-4aa8-99e8-526cd5da9b05","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{"operation":"get","tableId":"target_market_profiles","filters":{"conditions":[{"keyName":"client_id","keyValue":"={{ $json.client_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-768,608],"id":"f5fc13c2-9ebd-45f3-a514-7098028ed65a","name":"Get Target Market Info","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"tableId":"common_words_and_phrases","fieldsUi":{"fieldValues":[{"fieldId":"client_id","fieldValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"},{"fieldId":"company","fieldValue":"={{ $('Get Target Market Info').item.json.company }}"},{"fieldId":"primary_target_market","fieldValue":"={{ $json.output.primaryTargetMarket }}"},{"fieldId":"secondary_target_market","fieldValue":"={{ $json.output.secondaryTargetMarket }}"},{"fieldId":"additional_insights","fieldValue":"={{ $json.output.additionalInsights }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[672,560],"id":"118f4224-a0db-42c2-9ee0-18d185411a9c","name":"Create a row","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}},"onError":"continueErrorOutput"},{"parameters":{"workflowInputs":{"values":[{"name":"client_id"},{"name":"Overwrite"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1408,592],"id":"5f745ff8-e647-4087-9b48-4d470c39d3e5","name":"When Executed by Another Workflow"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0b01e0ec-c766-4b22-9f4a-9c95f327539e","leftValue":"={{ $('When Executed by Another Workflow').item.json.Overwrite }}","rightValue":"no","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[448,592],"id":"c0b01bb1-522c-4ed5-b30c-4fb76bcce3f3","name":"If"},{"parameters":{"operation":"update","tableId":"common_words_and_phrases","filters":{"conditions":[{"keyName":"client_id","condition":"eq","keyValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"client_id","fieldValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"},{"fieldId":"company","fieldValue":"={{ $('Get Target Market Info').item.json.company }}"},{"fieldId":"primary_target_market","fieldValue":"={{ $json.output.primaryTargetMarket }}"},{"fieldId":"secondary_target_market","fieldValue":"={{ $json.output.secondaryTargetMarket }}"},{"fieldId":"additional_insights","fieldValue":"={{ $json.output.additionalInsights }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[688,752],"id":"083cb498-7e4f-4d80-860b-88d7d9ddf4e5","name":"Update a row","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}},"onError":"continueErrorOutput"},{"parameters":{"httpMethod":"POST","path":"095cb462-c4ff-43b0-8b32-a0cd9c0ec98a","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1408,336],"id":"d0c29d9e-3635-4ee6-95ef-28b9ca9058e3","name":"Webhook","webhookId":"095cb462-c4ff-43b0-8b32-a0cd9c0ec98a"}],"connections":{"AI Agent":{"main":[[{"node":"If","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Pinecone Vector Store1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store1","type":"ai_embedding","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Get Target Market Info":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Get Target Market Info","type":"main","index":0}]]},"If":{"main":[[{"node":"Create a row","type":"main","index":0}],[{"node":"Update a row","type":"main","index":0}]]},"Webhook":{"main":[[]]},"Create a row":{"main":[[],[{"node":"Update a row","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"client_id":"1650987991917x277951650850529760","Overwrite":"no"}}]},"versionId":"1ea95acd-c86c-409f-bbcf-e6d6af828772","triggerCount":1,"shared":[{"createdAt":"2025-06-24T22:53:05.758Z","updatedAt":"2025-06-24T22:53:05.758Z","role":"workflow:owner","workflowId":"x0O9iSJ9z27538T6","projectId":"oeHwV8sNrbPNhUov"}],"tags":[{"createdAt":"2025-03-08T06:02:07.869Z","updatedAt":"2025-03-08T06:02:07.869Z","id":"p2BojbfbdIa5pvok","name":"Messaging"},{"createdAt":"2025-05-15T00:55:08.917Z","updatedAt":"2025-05-15T00:55:08.917Z","id":"g2UpVZ4k6adJ2S36","name":"Production"}]}