prod-1---initialize-db-|-upload-documents-BZzkjXuR1TzGDAxp.json
{"createdAt":"2025-06-02T21:22:16.684Z","updatedAt":"2025-10-13T08:42:35.716Z","id":"BZzkjXuR1TzGDAxp","name":"PROD 1 - Initialize DB | Upload Documents","active":true,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://api.pinecone.io/indexes","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Api-Key","value":"=pcsk_77MVKx_Ukr9VLkBqc2aEPu8eBRZRQ7dYS32d9irBfZvfCBK7GG8HhVm7Vb3eyemGYP9BpY"},{"name":"X-Pinecone-API-Version","value":"2025-01"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"name\": \"{{ $json.body.client_id }}\",\n  \"dimension\": 1536,\n  \"metric\": \"cosine\",\n  \"spec\": {\n    \"serverless\": {\n      \"cloud\": \"aws\",\n      \"region\": \"us-east-1\"\n    }\n  },\n  \"tags\": {\n    \"environment\": \"development\"\n  },\n  \"deletion_protection\": \"disabled\"\n}","options":{"response":{"response":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-608,128],"id":"53b008e3-52e6-49d8-80b5-79c582e1073b","name":"Create Vector DB1","executeOnce":true,"disabled":true,"onError":"continueRegularOutput"},{"parameters":{"content":"Delete folder at end of sequence.","height":240,"width":150},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[800,-208],"id":"ff98033a-be8a-41b4-8112-843bacaab99c","name":"Sticky Note2"},{"parameters":{"httpMethod":"POST","path":"1a86a1a9-7be0-4063-8a3b-bdac1bf7c14c","responseMode":"lastNode","options":{"allowedOrigins":"*","binaryPropertyName":"data"}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-864,128],"id":"d906c614-1ad1-4d08-9d29-dee11b35b0b8","name":"Webhook","webhookId":"1a86a1a9-7be0-4063-8a3b-bdac1bf7c14c"},{"parameters":{"jsCode":"// 1) Read onboarding URL\nconst onboardingUrl = $('Webhook').first().json.body.onboardingDocument;\n\n// 2) Read client_data_urls as‐is (do NOT wrap it in [])\nlet clientUrlsRaw = $('Webhook').first().json.body.clientDataFile;\nlet clientUrls = [];\n\n// 3) If it’s a comma-separated string, split on commas; if already an array, use it\nif (typeof clientUrlsRaw === \"string\") {\n  clientUrls = clientUrlsRaw\n    .split(\",\")\n    .map(u => u.trim())\n    .filter(u => u.length > 0);\n} else if (Array.isArray(clientUrlsRaw)) {\n  clientUrls = clientUrlsRaw;\n}\n\n// 4) Build a combined list of items (one per URL)\nconst items = [];\n\n// Push the single onboarding URL, if present\nif (onboardingUrl) {\n  items.push({\n    json: {\n      url: onboardingUrl,\n      type: \"onboarding\",\n    }\n  });\n}\n\n// Push each client_data_url as its own item\nfor (const u of clientUrls) {\n  items.push({\n    json: {\n      url: u,\n      type: \"client_data\",\n    }\n  });\n}\n\n// 5) Return the array so n8n will loop over each\nreturn items;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-432,128],"id":"128d4e9d-530f-4d7f-8bb3-2adf9d33c690","name":"Code","executeOnce":true},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"=onboarding","mode":"id"},"options":{"pineconeNamespace":"={{ $('Webhook').item.json.body.client_id }}"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.2,"position":[720,128],"id":"0f893393-f8ff-4ab6-a34f-65e156fc71a7","name":"Pinecone Vector Store1","executeOnce":true,"credentials":{"pineconeApi":{"id":"axuYyU6grhcC8CQp","name":"PineconeApi account"}}},{"parameters":{"model":"text-embedding-3-large","options":{"dimensions":3072}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[688,352],"id":"7cfb1f77-d560-417a-a5ae-15f44dd978ad","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{"dataType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[848,336],"id":"7cfb5de1-76a3-4ef4-833d-785ac3e7cfab","name":"Default Data Loader1"},{"parameters":{"chunkOverlap":200,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[848,512],"id":"df68a48f-22df-4b30-b4ec-f0bbd3124f12","name":"Recursive Character Text Splitter1"},{"parameters":{"method":"PATCH","url":"=https://lm-mvp-69101.bubbleapps.io/api/1.1/obj/user/{{ $('Webhook').item.json.body.client_id }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"vectorStoreCreated","value":"yes"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1824,112],"id":"14000196-8e69-4458-905c-66a64992707b","name":"PATCH Bubble | Vector Store Created","credentials":{"httpBearerAuth":{"id":"HaB66UWZxLvho3WH","name":"Bubble API Key"}},"disabled":true},{"parameters":{"method":"PATCH","url":"=https://lm-mvp-69101.bubbleapps.io/api/1.1/obj/user/{{ $('Webhook').item.json.body.client_id }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"vectorFilesUploaded","value":"yes"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1552,112],"id":"5391c19c-5fe3-4e45-9ec2-07c9e09acd8d","name":"PATCH Bubble | Vector Store Created1","executeOnce":false,"credentials":{"httpBearerAuth":{"id":"HaB66UWZxLvho3WH","name":"Bubble API Key"}},"disabled":true},{"parameters":{"url":"={{ $json.url }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 56e298cd842f5e5006a4f2e875b94988"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-224,128],"id":"96565554-3fe3-4f12-b91c-eb79c55fe11e","name":"Get Items for upsert","alwaysOutputData":true}],"connections":{"Create Vector DB1":{"main":[[{"node":"Code","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Create Vector DB1","type":"main","index":0}]]},"Code":{"main":[[{"node":"Get Items for upsert","type":"main","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Pinecone Vector Store1","type":"ai_embedding","index":0}]]},"Default Data Loader1":{"ai_document":[[{"node":"Pinecone Vector Store1","type":"ai_document","index":0}]]},"Recursive Character Text Splitter1":{"ai_textSplitter":[[{"node":"Default Data Loader1","type":"ai_textSplitter","index":0}]]},"Pinecone Vector Store1":{"main":[[{"node":"PATCH Bubble | Vector Store Created1","type":"main","index":0}]]},"PATCH Bubble | Vector Store Created":{"main":[[]]},"PATCH Bubble | Vector Store Created1":{"main":[[{"node":"PATCH Bubble | Vector Store Created","type":"main","index":0}]]},"Get Items for upsert":{"main":[[{"node":"Pinecone Vector Store1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"Say8YWSN0KVBjGyp"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"primary-production-cea5.up.railway.app","user-agent":"Bubble","content-length":"820","accept-encoding":"gzip, deflate","baggage":"bubblegroup.client.version=1eb2b092ae8115e5a47ca1e608c1d18a6f75cde6,bubblegroup.client.commit_timestamp=1749135881000,bubblegroup.http.route=workflow%2Fstart,bubblegroup.http.host=lm-mvp-69101.bubbleapps.io,bubblegroup.workflow.appname=lm-mvp-69101,bubblegroup.workflow.app_version=test,bubblegroup.workflow.situation=page_wf,bubblegroup.workflow.id=cmOzP,bubblegroup.workflow.event.type=ButtonClicked,bubblegroup.workflow.action.id=cmPEk,bubblegroup.workflow.action.type=apiconnector2-cmOzg.cmOzh","content-type":"multipart/form-data; boundary=--------------------------456400172991729592075287","traceparent":"00-e425d9f74129a7f313e30b6d8c0277bd-89cdc9af1debce56-01","x-bubble-depth":"1","x-forwarded-for":"35.92.234.198","x-forwarded-host":"primary-production-cea5.up.railway.app","x-forwarded-proto":"https","x-railway-edge":"railway/us-west1","x-railway-request-id":"3Qc_jj_mQMaIS8m27bIhFA","x-real-ip":"35.92.234.198","x-request-start":"1749137564586"},"params":{},"query":{},"body":{"client_id":"1650987991917x277951650850529760","onboardingDocument":"https://lm-mvp-69101.bubbleapps.io/version-test/fileupload/f1749137483594x456758036704903550/Toggl_Track_detailed_report_2025-04-11_2025-04-25%20%281%29.pdf","clientDataFile":"https://lm-mvp-69101.bubbleapps.io/version-test/fileupload/f1749137537464x187305089337064030/checks_rows%20%281%29.csv, https://lm-mvp-69101.bubbleapps.io/version-test/fileupload/f1749137537543x496524979782586600/Invoice_61_2025-05-02.pdf"},"webhookUrl":"https://primary-production-cea5.up.railway.app/webhook-test/1a86a1a9-7be0-4063-8a3b-bdac1bf7c14c","executionMode":"test"}}]},"versionId":"60804e90-c4a5-4d1d-9997-401ec673c4d7","triggerCount":1,"shared":[{"createdAt":"2025-06-02T21:22:16.684Z","updatedAt":"2025-06-02T21:22:16.684Z","role":"workflow:owner","workflowId":"BZzkjXuR1TzGDAxp","projectId":"oeHwV8sNrbPNhUov"}],"tags":[{"createdAt":"2025-03-12T04:23:56.209Z","updatedAt":"2025-03-12T04:23:56.209Z","id":"GhIwXvYdhTJV4aal","name":"Initialization"},{"createdAt":"2025-03-12T04:24:11.246Z","updatedAt":"2025-03-12T04:24:11.246Z","id":"FDsOULzxkWlGe2pe","name":"Vectorization"},{"createdAt":"2025-05-15T00:55:08.917Z","updatedAt":"2025-05-15T00:55:08.917Z","id":"g2UpVZ4k6adJ2S36","name":"Production"}]}