prod-5---common-emotional-sentiment-QXqhrwkMdQ8PUdLz.json
{"createdAt":"2025-06-24T23:04:13.096Z","updatedAt":"2025-10-16T06:01:16.358Z","id":"QXqhrwkMdQ8PUdLz","name":"PROD 5 - Common Emotional Sentiment","active":true,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"=ALWAYS USE THE TOOL TO PULL CHUNKS FROM THE VECTOR DATABASE\n\n**Analyze the provided context:**\n\n- **Company Name:** \n{{ $('Get Target Market Info').item.json.company }}\n- **Offer:** \n{{ $('Get Target Market Info').item.json.offer }}\n- **Primary Target Market:**\n{{ JSON.stringify($json.target_market_profiles.primary_target_market) }}\n- **Secondary Target Market:** \n{{ JSON.stringify($json.target_market_profiles.secondary_target_market) }}\n\n","hasOutputParser":true,"options":{"systemMessage":"=**Role and Objective**\nYou are a marketing researcher. Your objective is to analyze client interviews, testimonials, and related documents using the available tool and the vector database. Extract both positive and negative emotional sentiments as they appear in customer language, with a focus on authentic, unaltered quotes. All excerpts must be tagged with their document identifier.\n\n**Instructions**\n\nAlways use the tool provided to extract relevant chunks from the vector database.\n\nFocus on genuine customer sources—interviews, testimonials, and reviews. For each direct quote or key phrase from customers, include the excerpt verbatim and label it as \"source\": \"customer verbatim\". Prioritize customer vabatims provided in other documents. When needed, use information from the onboaring questionnaire. \n\nFor every entry, record the document name or identifier from the metadata.\n\nStructure your output as a JSON schema object according to the following requirements:\n\nEach sentiment entry (positive, negative, competitor) must include:\n\n\"title\": A short, descriptive title of the sentiment.\n\n\"quote\": A direct, unaltered quote (or an empty string if not applicable).\n\n\"explanation\": A brief note providing context or analysis.\n\n\"source\": Either \"customer verbatim\" or \"competitor\".\n\n\"document\": The identifier or name of the source document.\n\nCommon Verbatims: Provide a list of unaltered direct quotes that capture overall sentiment.\n\nSummary: Summarize major positive and negative emotional themes in arrays.\n\nEnsure your JSON schema object fully complies with the required template. Do not add any extra fields.\n\n**Reasoning Steps**\n\nBegin by reviewing all input context and identifying areas where emotional sentiment may be present.\n\nUse the tool to search the vector database for relevant customer-facing documents, focusing on language that signals clear emotional responses—both positive and negative.\n\nAddress both the input context and findings from the vector database in your analysis.\n\nExtract unaltered direct quotes wherever possible, tagging them with the correct source and document metadata.\n\n\nOrganize all entries under the required fields, ensuring clarity, traceability, and accuracy.\n\n**Context**\nYou will have access to input context, supporting documents, and a vector database tool. Use all available sources as your foundation. The extracted sentiment will inform messaging, positioning, and customer engagement strategies.\n\n**Final instructions and prompt to think step by step**\nCarefully review both the input context and all tool outputs from the vector database before extracting sentiments.\nThink step by step: First, identify and extract direct quotes and sentiments from customer sources. Prioritize direct quotes from customer interviews, reviews and verbatiums before using the onboaring questionnaire.\nVerify that each entry contains a title, quote, explanation, source label, and document identifier.\nReturn your output as a valid JSON schema object that captures key positive and negative emotional sentiments, includes common verbatims, and summarizes major themes. Do not yield control until all requirements are fully met and your output adheres strictly to the JSON schema object structure.\n    **JSON Schema Template:**\n    \n    ```json\n    {\n      \"title\": \"EmotionalSentimentAnalysis\",\n      \"type\": \"object\",\n      \"properties\": {\n        \"company\": {\n          \"type\": \"string\",\n          \"description\": \"The company name (e.g., 'TEST: Tonic Living').\"\n        },\n        \"primaryEmotionalSentiment\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"positive\": {\n              \"type\": \"array\",\n              \"minItems\": 7,\n              \"items\": {\n                \"type\": \"object\",\n                \"properties\": {\n                  \"title\": {\n                    \"type\": \"string\",\n                    \"description\": \"The title of the sentiment (e.g., 'Confidence in Quality').\"\n                  },\n                  \"quote\": {\n                    \"type\": \"string\",\n                    \"description\": \"A direct customer quote illustrating the sentiment.\"\n                  },\n                  \"explanation\": {\n                    \"type\": \"string\",\n                    \"description\": \"A brief explanation or contextual note.\"\n                  },\n                  \"source\": {\n                    \"type\": \"string\",\n                    \"enum\": [\"customer verbatim\", \"competitor\"],\n                    \"description\": \"Indicates whether the sentiment is directly from a customer or a competitor.\"\n                  },\n                  \"document\": {\n                    \"type\": \"string\",\n                    \"description\": \"Name or identifier of the source document.\"\n                  }\n                },\n                \"required\": [\"title\", \"quote\", \"explanation\", \"source\", \"document\"]\n              }\n            },\n            \"negative\": {\n              \"type\": \"array\",\n              \"minItems\": 4,\n              \"items\": {\n                \"type\": \"object\",\n                \"properties\": {\n                  \"title\": {\n                    \"type\": \"string\",\n                    \"description\": \"The title of the negative sentiment (e.g., 'Frustration with Limited Variety').\"\n                  },\n                  \"quote\": {\n                    \"type\": \"string\",\n                    \"description\": \"A direct customer quote illustrating the sentiment.\"\n                  },\n                  \"explanation\": {\n                    \"type\": \"string\",\n                    \"description\": \"A brief explanation or contextual note (can be an empty string if not applicable).\"\n                  },\n                  \"source\": {\n                    \"type\": \"string\",\n                    \"enum\": [\"customer verbatim\", \"competitor\"],\n                    \"description\": \"Indicates whether the sentiment is directly from a customer or a competitor.\"\n                  },\n                  \"document\": {\n                    \"type\": \"string\",\n                    \"description\": \"Name or identifier of the source document.\"\n                  }\n                },\n                \"required\": [\"title\", \"quote\", \"explanation\", \"source\", \"document\"]\n              }\n            }\n          },\n          \"required\": [\"positive\", \"negative\"]\n        },\n        \"competitorEmotionalSentiment\": {\n          \"type\": \"array\",\n          \"minItems\": 1,\n          \"items\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"title\": {\n                \"type\": \"string\",\n                \"description\": \"The title of the competitor sentiment (e.g., 'Elevated Living Without the Expense').\"\n              },\n              \"quote\": {\n                \"type\": \"string\",\n                \"description\": \"A direct quote if available, or an empty string.\"\n              },\n              \"explanation\": {\n                \"type\": \"string\",\n                \"description\": \"A brief explanation or contextual note.\"\n              },\n              \"source\": {\n                \"type\": \"string\",\n                \"enum\": [\"competitor\"],\n                \"description\": \"This should always be 'competitor' for these entries.\"\n              },\n              \"document\": {\n                \"type\": \"string\",\n                \"description\": \"Name or identifier of the source document.\"\n              }\n            },\n            \"required\": [\"title\", \"quote\", \"explanation\", \"source\", \"document\"]\n          }\n        },\n        \"commonVerbatims\": {\n          \"type\": \"array\",\n          \"items\": {\n            \"type\": \"string\",\n            \"description\": \"Direct customer quotes capturing overall sentiment.\"\n          }\n        },\n        \"summary\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"positiveThemes\": {\n              \"type\": \"array\",\n              \"items\": {\n                \"type\": \"string\"\n              },\n              \"description\": \"Key positive sentiment themes.\"\n            },\n            \"negativeThemes\": {\n              \"type\": \"array\",\n              \"items\": {\n                \"type\": \"string\"\n              },\n              \"description\": \"Key negative sentiment themes.\"\n            }\n          },\n          \"required\": [\"positiveThemes\", \"negativeThemes\"]\n        }\n      },\n      \"required\": [\"company\", \"primaryEmotionalSentiment\", \"competitorEmotionalSentiment\", \"commonVerbatims\", \"summary\"]\n    }\n    \n    ```"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[48,592],"id":"4a9f9b22-af6e-4848-9a39-f8e1cde0b2f2","name":"AI Agent"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"title\": \"EmotionalSentimentAnalysis\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"company\": {\n      \"type\": \"string\",\n      \"description\": \"The company name (e.g., 'TEST: Tonic Living').\"\n    },\n    \"primaryEmotionalSentiment\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"positive\": {\n          \"type\": \"array\",\n          \"minItems\": 7,\n          \"items\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"title\": {\n                \"type\": \"string\",\n                \"description\": \"The title of the sentiment (e.g., 'Confidence in Quality').\"\n              },\n              \"quote\": {\n                \"type\": \"string\",\n                \"description\": \"A direct customer quote illustrating the sentiment.\"\n              },\n              \"explanation\": {\n                \"type\": \"string\",\n                \"description\": \"A brief explanation or contextual note.\"\n              },\n              \"source\": {\n                \"type\": \"string\",\n                \"enum\": [\"customer verbatim\", \"competitor\"],\n                \"description\": \"Indicates whether the sentiment is directly from a customer or a competitor.\"\n              },\n              \"document\": {\n                \"type\": \"string\",\n                \"description\": \"Name or identifier of the source document.\"\n              }\n            },\n            \"required\": [\"title\", \"quote\", \"explanation\", \"source\", \"document\"]\n          }\n        },\n        \"negative\": {\n          \"type\": \"array\",\n          \"minItems\": 4,\n          \"items\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"title\": {\n                \"type\": \"string\",\n                \"description\": \"The title of the negative sentiment (e.g., 'Frustration with Limited Variety').\"\n              },\n              \"quote\": {\n                \"type\": \"string\",\n                \"description\": \"A direct customer quote illustrating the sentiment.\"\n              },\n              \"explanation\": {\n                \"type\": \"string\",\n                \"description\": \"A brief explanation or contextual note (can be an empty string if not applicable).\"\n              },\n              \"source\": {\n                \"type\": \"string\",\n                \"enum\": [\"customer verbatim\", \"competitor\"],\n                \"description\": \"Indicates whether the sentiment is directly from a customer or a competitor.\"\n              },\n              \"document\": {\n                \"type\": \"string\",\n                \"description\": \"Name or identifier of the source document.\"\n              }\n            },\n            \"required\": [\"title\", \"quote\", \"explanation\", \"source\", \"document\"]\n          }\n        }\n      },\n      \"required\": [\"positive\", \"negative\"]\n    },\n    \"competitorEmotionalSentiment\": {\n      \"type\": \"array\",\n      \"minItems\": 1,\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"title\": {\n            \"type\": \"string\",\n            \"description\": \"The title of the competitor sentiment (e.g., 'Elevated Living Without the Expense').\"\n          },\n          \"quote\": {\n            \"type\": \"string\",\n            \"description\": \"A direct quote if available, or an empty string.\"\n          },\n          \"explanation\": {\n            \"type\": \"string\",\n            \"description\": \"A brief explanation or contextual note.\"\n          },\n          \"source\": {\n            \"type\": \"string\",\n            \"enum\": [\"competitor\"],\n            \"description\": \"This should always be 'competitor' for these entries.\"\n          },\n          \"document\": {\n            \"type\": \"string\",\n            \"description\": \"Name or identifier of the source document.\"\n          }\n        },\n        \"required\": [\"title\", \"quote\", \"explanation\", \"source\", \"document\"]\n      }\n    },\n    \"commonVerbatims\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\",\n        \"description\": \"Direct customer quotes capturing overall sentiment.\"\n      }\n    },\n    \"summary\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"positiveThemes\": {\n          \"type\": \"array\",\n          \"items\": {\n            \"type\": \"string\"\n          },\n          \"description\": \"Key positive sentiment themes.\"\n        },\n        \"negativeThemes\": {\n          \"type\": \"array\",\n          \"items\": {\n            \"type\": \"string\"\n          },\n          \"description\": \"Key negative sentiment themes.\"\n        }\n      },\n      \"required\": [\"positiveThemes\", \"negativeThemes\"]\n    }\n  },\n  \"required\": [\"company\", \"primaryEmotionalSentiment\", \"competitorEmotionalSentiment\", \"commonVerbatims\", \"summary\"]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[368,832],"id":"536c4767-348b-4ef4-874a-c10a0dccb280","name":"Structured Output Parser"},{"parameters":{"mode":"retrieve-as-tool","toolName":"common_words","toolDescription":"Retrieves relevant chunks from the Tonic Living Pinecone vector store for commonly used words and phrases, incorporating data from client interviews, testimonials, and competitor insights.","pineconeIndex":{"__rl":true,"value":"=onboarding","mode":"id"},"topK":10,"options":{"pineconeNamespace":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[144,1024],"id":"a6e154e7-6191-4584-ae8a-6a143cd7626b","name":"Pinecone Vector Store1","credentials":{"pineconeApi":{"id":"axuYyU6grhcC8CQp","name":"PineconeApi account"}}},{"parameters":{"model":"text-embedding-3-large","options":{"dimensions":3072}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[208,1264],"id":"5a01ff84-d1e7-4215-b652-8e2d6bd96281","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{"content":"## Bubble webhook\n**Need to have Client ID sent via webhook","height":360,"width":260},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1296,448],"id":"9807a239-897f-4ff9-8945-fffe8d01fb26","name":"Sticky Note"},{"parameters":{"content":"## Change Search to ClientID In Production\n\nCurrently We are just searching for \"Tonic Living\"","height":360,"width":260},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-848,400],"id":"da30f41e-bc27-404a-b9fe-990efdfe0d97","name":"Sticky Note1"},{"parameters":{"content":"## Reminder: Tagging & Filtering Client Interview Documents in Pinecone\n\n📌 When Uploading Documents to Pinecone:\n\nEnsure document titles include \"interview\" for client interview files.\nUse metadata tagging to set \"document_type\": \"interview\" dynamically.\nFor non-interview documents, set \"document_type\": \"general\".\n","height":240,"width":500,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-80,384],"id":"0c2bd235-c61c-4502-995f-698e691771eb","name":"Sticky Note2"},{"parameters":{"content":"## AI Model\nCurrently set\nto 4.1\n","height":140,"width":360,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-224,800],"id":"4ea5d268-30ea-4ffc-9a23-41e0d272e5ac","name":"Sticky Note3"},{"parameters":{"content":"## Handle Error\nIn production add error handling for data duplication with same ID\n","height":504,"width":380},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[608,464],"id":"a6d8f776-cfb2-468c-bbd1-c045d2cdcca3","name":"Sticky Note4"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[0,832],"id":"3a43907c-54e6-42c3-93c9-7663c4b4f9d8","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{"operation":"get","tableId":"v_complete_client_context","filters":{"conditions":[{"keyName":"client_id","keyValue":"={{ $json.client_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-768,608],"id":"fa2c0f62-0b74-47bc-ae0f-d5631454e8fd","name":"Get Target Market Info","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"tableId":"common_emotional_sentiment","fieldsUi":{"fieldValues":[{"fieldId":"client_id","fieldValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"},{"fieldId":"company","fieldValue":"={{ $('Get Target Market Info').item.json.company }}"},{"fieldId":"primary_emotional_sentiment","fieldValue":"={{ $('AI Agent').item.json.output.primaryEmotionalSentiment }}"},{"fieldId":"competitor_emotional_sentiment","fieldValue":"={{ $('AI Agent').item.json.output.competitorEmotionalSentiment }}"},{"fieldId":"common_verbatims","fieldValue":"={{ $('AI Agent').item.json.output.commonVerbatims }}"},{"fieldId":"summary","fieldValue":"={{ $('AI Agent').item.json.output.summary }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[800,560],"id":"363f0436-8188-41fc-b8c2-0f6916972a5b","name":"Create a row","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}},"onError":"continueErrorOutput"},{"parameters":{"httpMethod":"POST","path":"9cd35bd1-45d8-4273-bd1f-42741cf5e0ae","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1248,320],"id":"b80e315b-62a5-44cf-a5af-ec0019861a78","name":"Webhook","webhookId":"9cd35bd1-45d8-4273-bd1f-42741cf5e0ae"},{"parameters":{"workflowInputs":{"values":[{"name":"client_id"},{"name":"Overwrite"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1248,608],"id":"ca8d44ce-cd6d-49c7-9bf5-4895fa1f32f2","name":"When Executed by Another Workflow"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0b01e0ec-c766-4b22-9f4a-9c95f327539e","leftValue":"={{ $('When Executed by Another Workflow').item.json['Overwrite'] }}","rightValue":"no","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[480,624],"id":"2600f16d-cc7b-477b-b3ee-69e0a976072f","name":"If"},{"parameters":{"operation":"update","tableId":"common_emotional_sentiment","filters":{"conditions":[{"keyName":"client_id","condition":"eq","keyValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"company","fieldValue":"={{ $('Get Target Market Info').item.json.company }}"},{"fieldId":"primary_emotional_sentiment","fieldValue":"={{ $json.output.primaryEmotionalSentiment }}"},{"fieldId":"competitor_emotional_sentiment","fieldValue":"={{ $json.output.competitorEmotionalSentiment }}"},{"fieldId":"common_verbatims","fieldValue":"={{ $json.output.commonVerbatims }}"},{"fieldId":"summary","fieldValue":"={{ $json.output.summary }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[784,752],"id":"908d7eb6-02ef-44cd-91d7-e3593ee6e394","name":"Update a row","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}},"onError":"continueRegularOutput"}],"connections":{"AI Agent":{"main":[[{"node":"If","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Pinecone Vector Store1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store1","type":"ai_embedding","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Get Target Market Info":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Webhook":{"main":[[]]},"If":{"main":[[{"node":"Create a row","type":"main","index":0}],[{"node":"Update a row","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Get Target Market Info","type":"main","index":0}]]},"Create a row":{"main":[[],[{"node":"Update a row","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"client_id":"1650987991917x277951650850529760","Overwrite":"no"}}]},"versionId":"007eaaea-eb52-4f89-881d-3ad127f5fa88","triggerCount":1,"shared":[{"createdAt":"2025-06-24T23:04:13.096Z","updatedAt":"2025-06-24T23:04:13.096Z","role":"workflow:owner","workflowId":"QXqhrwkMdQ8PUdLz","projectId":"oeHwV8sNrbPNhUov"}],"tags":[{"createdAt":"2025-03-08T06:02:07.869Z","updatedAt":"2025-03-08T06:02:07.869Z","id":"p2BojbfbdIa5pvok","name":"Messaging"},{"createdAt":"2025-05-15T00:55:08.917Z","updatedAt":"2025-05-15T00:55:08.917Z","id":"g2UpVZ4k6adJ2S36","name":"Production"}]}