prod-2---business-profile-creation-xBe3hXikbunekn0K.json
{"createdAt":"2025-06-05T16:09:42.007Z","updatedAt":"2025-10-16T05:50:43.590Z","id":"xBe3hXikbunekn0K","name":"PROD 2 - Business profile Creation","active":true,"isArchived":false,"nodes":[{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[704,560],"id":"f3a68b4c-d719-4823-9566-97f51e52a747","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{"promptType":"define","text":"Use the tool to pull information from the vector DB to create a business profile based on the chunks. ","hasOutputParser":true,"options":{"systemMessage":"=**System Prompt:**\n\n**Objective:**  \nAnalyze all provided context and inputs, including information extracted from the vector database using the provided tool. Based on the extracted data, generate a JSON output with three main fields: **Company**, **Offer**, and **Industry**. The **Company** field should contain only the name of the company, while the **Offer** and **Industry** fields must include detailed descriptions based on the key information found in the inputs.\n\n**Instructions:**  \n1. **Data Extraction:**  \n   - **ALWAYS USE THE TOOL PROVIDED** to extract relevant chunks from the vector database.\n   - Review all provided context and documents.\n   - Identify the key details:\n     - For **Company**: Extract just the name of the company.\n     - For **Offer**: Extract a detailed overview of the products, services, or value proposition the company provides.\n     - For **Industry**: Extract an in-depth description of the industry, including market trends and positioning.\n\n2. **Data Structuring:**  \n   - Organize the extracted information into three main fields:\n     - **Company:** The name of the company.\n     - **Offer:** A detailed description of the company’s products, services, or value proposition.\n     - **Industry:** A detailed description of the industry, including market trends and challenges.\n\n3. **Output:**  \n   - The final output must be strictly in JSON format.\n   - Ensure the JSON output adheres exactly to the JSON Schema Template provided below.\n\n---\n\n**JSON Schema Template:**\n\n```json\n{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"Company\": {\n      \"type\": \"string\",\n      \"description\": \"The name of the company.\"\n    },\n    \"Offer\": {\n      \"type\": \"string\",\n      \"description\": \"A detailed description of the products, services, or value proposition offered by the company.\"\n    },\n    \"Industry\": {\n      \"type\": \"string\",\n      \"description\": \"A detailed description of the industry in which the company operates, including market trends and positioning.\"\n    }\n  },\n  \"required\": [\"Company\", \"Offer\", \"Industry\"],\n  \"additionalProperties\": false\n}\n```\n\n---\n\n**Requirements and Guidelines:**  \n- **Output Format:**  \n  - The final output must be in valid JSON format.\n  - The JSON must adhere exactly to the provided JSON Schema Template.\n\n- **Content Specifications:**  \n  - **Company:** Extract only the name of the company.\n  - **Offer:** Include a detailed overview of the products, services, or value proposition.\n  - **Industry:** Provide an in-depth description of the industry, including relevant market trends and positioning.\n\n- **Consistency:**  \n  - Do not include any extra fields beyond what is defined in the JSON Schema.\n  - Ensure that the descriptions are clear and consistent with the extracted information.\n\n---\n\n**Additional Notes:**  \n- This prompt is designed to generate a concise profile where the company field is limited to the name only, and the offer and industry fields provide detailed contextual insights.\n- The output will be used for further analysis and strategy development.\n- Replace any placeholders with the appropriate context details as necessary.\n- **ALWAYS USE THE TOOL PROVIDED** to pull relevant chunks from the vector database.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[784,272],"id":"6f6d0050-6c6f-44df-bf28-0e41c084a52d","name":"AI Agent","onError":"continueRegularOutput"},{"parameters":{"mode":"retrieve-as-tool","toolName":"company_information","toolDescription":"find relevant information in the vector db that relates to the companies name, offer, and industry","pineconeIndex":{"__rl":true,"value":"=onboarding","mode":"id"},"topK":10,"options":{"pineconeNamespace":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[768,752],"id":"d921362e-61af-4404-9702-405a3bec57bb","name":"Pinecone Vector Store","credentials":{"pineconeApi":{"id":"axuYyU6grhcC8CQp","name":"PineconeApi account"}}},{"parameters":{"model":"text-embedding-3-large","options":{"dimensions":3072}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[832,944],"id":"d41c1957-d656-4a4a-ab06-dd06420f2d4d","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"Company\": {\n      \"type\": \"string\",\n      \"description\": \"The name of the company.\"\n    },\n    \"Offer\": {\n      \"type\": \"string\",\n      \"description\": \"A detailed description of the products, services, or value proposition offered by the company.\"\n    },\n    \"Industry\": {\n      \"type\": \"string\",\n      \"description\": \"A detailed description of the industry in which the company operates, including market trends and positioning.\"\n    }\n  },\n  \"required\": [\"Company\", \"Offer\", \"Industry\"],\n  \"additionalProperties\": false\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1024,528],"id":"7ccaa457-a5b7-4eba-83b6-fefe4e4edbbc","name":"Structured Output Parser"},{"parameters":{"content":"## AI Model\nCurrently set\nto 4.1\n\n","height":140,"width":360,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[464,544],"id":"db41de93-ccfc-4eb1-a5ff-8577adfd518a","name":"Sticky Note3"},{"parameters":{"content":"## Prompt Notes\n","color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-48,64],"id":"24b2ecd4-0b1c-42be-9b36-ca6337d1dd00","name":"Sticky Note5"},{"parameters":{"content":"## Notes about run\n\nRun Time: not set\n"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-528,640],"id":"b210e724-5d75-42ff-b2c1-7951a5c8a78f","name":"Sticky Note6"},{"parameters":{"httpMethod":"POST","path":"b3c45e7f-ff23-4696-b662-df97453ce12b","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-320,224],"id":"439ee2d6-2f51-43a4-a2fe-c6b5c472a906","name":"Webhook","webhookId":"b3c45e7f-ff23-4696-b662-df97453ce12b"},{"parameters":{"tableId":"business_profiles","fieldsUi":{"fieldValues":[{"fieldId":"client_id","fieldValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"},{"fieldId":"offer","fieldValue":"={{ $('AI Agent').item.json.output.Offer }}"},{"fieldId":"industry","fieldValue":"={{ $('AI Agent').item.json.output.Industry }}"},{"fieldId":"company","fieldValue":"={{ $json.output.Company }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1408,272],"id":"7b4709fe-d055-4b6c-9861-1f396947717b","name":"Create a row","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}},"onError":"continueErrorOutput"},{"parameters":{"workflowInputs":{"values":[{"name":"client_id"},{"name":"Overwrite"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-80,304],"id":"ac69093f-f4f8-4fdb-9cd1-13347d3ed3d5","name":"When Executed by Another Workflow"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0b01e0ec-c766-4b22-9f4a-9c95f327539e","leftValue":"={{ $('When Executed by Another Workflow').item.json.Overwrite }}","rightValue":"no","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1136,272],"id":"501f6973-e073-4d9f-83ea-7d6cd513a12c","name":"If"},{"parameters":{"operation":"update","tableId":"business_profiles","filters":{"conditions":[{"keyName":"client_id","condition":"eq","keyValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"offer","fieldValue":"={{ $('AI Agent').item.json.output.Offer }}"},{"fieldId":"industry","fieldValue":"={{ $('AI Agent').item.json.output.Industry }}"},{"fieldId":"company","fieldValue":"={{ $json.output.Company }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1408,448],"id":"f7ec5d96-1f52-47ed-89b4-696618481c1b","name":"Update a row","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Pinecone Vector Store":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"AI Agent":{"main":[[{"node":"If","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Webhook":{"main":[[]]},"Create a row":{"main":[[],[{"node":"Update a row","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"If":{"main":[[{"node":"Create a row","type":"main","index":0}],[{"node":"Update a row","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"Say8YWSN0KVBjGyp"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"primary-production-cea5.up.railway.app","user-agent":"Bubble","content-length":"196","accept-encoding":"gzip, deflate","baggage":"bubblegroup.client.version=fe44c844cdb56e12ca2466917cec57a6fa1ca4c3,bubblegroup.client.commit_timestamp=1752780812000,bubblegroup.http.route=workflow%2Fstart,bubblegroup.http.host=lm-mvp-69101.bubbleapps.io,bubblegroup.workflow.appname=lm-mvp-69101,bubblegroup.workflow.app_version=test,bubblegroup.workflow.situation=page_wf,bubblegroup.workflow.id=cmOzP,bubblegroup.workflow.event.type=ButtonClicked,bubblegroup.workflow.action.id=cmQyv,bubblegroup.workflow.action.type=apiconnector2-cmOzg.cmQyu","content-type":"multipart/form-data; boundary=--------------------------887747092821450757174268","traceparent":"00-a75d31183839fbfaa434f476e2459afc-bb1f13ae5c579a74-01","x-bubble-depth":"1","x-forwarded-for":"54.200.227.203","x-forwarded-host":"primary-production-cea5.up.railway.app","x-forwarded-proto":"https","x-railway-edge":"railway/us-west1","x-railway-request-id":"gwCp6OW_QPOvaRXPbvHaJQ","x-real-ip":"54.200.227.203","x-request-start":"1752782477863"},"params":{},"query":{},"body":{"client_id":"1753942205561x678994654389678300"},"webhookUrl":"https://primary-production-cea5.up.railway.app/webhook/b3c45e7f-ff23-4696-b662-df97453ce12b","executionMode":"production"}}],"When Executed by Another Workflow":[{"json":{"client_id":"1650987991917x277951650850529760","Overwrite":"yes"}}]},"versionId":"9c6e7e35-a73c-4454-bd7b-8277ed1cbd16","triggerCount":1,"shared":[{"createdAt":"2025-06-05T16:09:42.007Z","updatedAt":"2025-06-05T16:09:42.007Z","role":"workflow:owner","workflowId":"xBe3hXikbunekn0K","projectId":"oeHwV8sNrbPNhUov"}],"tags":[{"createdAt":"2025-03-12T04:24:48.825Z","updatedAt":"2025-03-12T04:24:48.825Z","id":"cbWAfupX4mQCuSO9","name":"Set Up"},{"createdAt":"2025-03-12T16:30:43.704Z","updatedAt":"2025-03-12T16:30:43.704Z","id":"RriHGSU9VJgc7v6c","name":"MVP"},{"createdAt":"2025-05-15T00:55:08.917Z","updatedAt":"2025-05-15T00:55:08.917Z","id":"g2UpVZ4k6adJ2S36","name":"Production"}]}