slack-interaction-->-notion-aCwy2VEQhH5kXm6O.json
{"createdAt":"2025-04-04T09:06:06.423Z","updatedAt":"2025-08-29T19:49:51.773Z","id":"aCwy2VEQhH5kXm6O","name":"Slack Interaction -> Notion","active":true,"isArchived":false,"nodes":[{"parameters":{"content":"## Weekly: Pull Member Analytics Report from Slack \nMaybe this is a CSV \nMaybe we can get Slack to just connect directly in?\n\nExecute this every Friday AM \nDate Range: Last 7 days (Friday to Thursday)\nData to extract:\n- User's email address\n- User's name\n- Days active\n- Messages posted\n- Last Active\n ","height":560,"width":700},"type":"n8n-nodes-base.stickyNote","position":[-4000,-784],"typeVersion":1,"id":"8e8c90b5-38cc-40ff-8c81-d66ef6a1889e","name":"Sticky Note"},{"parameters":{"content":"## Map email address of each user to the Company Name \nAs in this sheet (Columns B & C) https://docs.google.com/spreadsheets/d/1mmVcdIyaz-jfaRseG97pFPeh1OVeT9T11p87k31oG5M/edit?gid=0#gid=0\n\n\nAdd 2 new columns to sheet \nRow 1, Column 1: \"Days Acctive\"\nRow 1, Column 2: \"Messages Posted\"\nRow 2, Column 1: Today's Date \n\nAdd the metrics to the columns, matched to the user.","height":780,"width":1220},"type":"n8n-nodes-base.stickyNote","position":[-3264,-784],"typeVersion":1,"id":"eb6489e3-80e0-4b8b-90b8-7e078b8a069c","name":"Sticky Note1"},{"parameters":{"content":"## Where more than one user per Company Name \nKeep only the users with the highest \"Days Active\" meetrics","height":540,"width":420},"type":"n8n-nodes-base.stickyNote","position":[-2000,-800],"typeVersion":1,"id":"5e0ad734-c072-4291-8f2f-be5567e5cd69","name":"Sticky Note2"},{"parameters":{"content":"## Update Notion Database\n- Database: All Clients\n- Field: \"Slack Interact?\" -> Mark as checked","height":520,"width":400},"type":"n8n-nodes-base.stickyNote","position":[-1296,-736],"typeVersion":1,"id":"88a95bd7-4442-4768-a60f-311316fb90a0","name":"Sticky Note3"},{"parameters":{"content":"## If/Then\nIf \"Days Active\" is >0\n\n(If =0, do nothing)","height":500},"type":"n8n-nodes-base.stickyNote","position":[-1568,-736],"typeVersion":1,"id":"ae4c5231-00db-48f2-8dca-692c9e203606","name":"Sticky Note4"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1yaOqCTZgWUOx3y4_G9trJqiOBiuMf_3c","mode":"list","cachedResultName":"n8n Analytics","cachedResultUrl":"https://drive.google.com/drive/folders/1yaOqCTZgWUOx3y4_G9trJqiOBiuMf_3c"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-3936,-448],"id":"2b995b82-4e81-45e9-8d08-70a3e4a11232","name":"Google Drive Trigger","credentials":{"googleDriveOAuth2Api":{"id":"3VzmfL5shCfEf9cg","name":"Google Drive account 2"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-2480,-288],"id":"b8d06ffe-088d-400b-9a34-ce08c2c67731","name":"Extract from File"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-2976,-272],"id":"6d743c55-1f41-48dd-9b41-f7ae4d43bb74","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"3VzmfL5shCfEf9cg","name":"Google Drive account 2"}}},{"parameters":{"mode":"combine","fieldsToMatchString":"Email","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[-2208,-528],"id":"9ea5f5cd-0dcc-4f8c-86af-d11a04708550","name":"Merge","alwaysOutputData":true},{"parameters":{"method":"POST","url":"=https://sheets.googleapis.com/v4/spreadsheets/1mmVcdIyaz-jfaRseG97pFPeh1OVeT9T11p87k31oG5M:batchUpdate","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"requests\": [\n    {\n      \"addSheet\": {\n        \"properties\": {\n          \"title\": \"WeeklySnapshot_{{ $json.message.content }}\",\n          \"gridProperties\": {\n            \"rowCount\": 2000,\n            \"columnCount\": 10\n          }\n        }\n      }\n    }\n  ]\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3232,-528],"id":"8be72bb4-a4ba-416b-b67f-c63715fb17ba","name":"Create New sheet","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"fDxpMWdEItte31h1","name":"Google Sheets account 2"}},"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"af979fb5-ad85-4a7e-a87d-e25498f7e620","name":"Email","value":"={{ $json.Email }}","type":"string"},{"id":"f692b427-2203-4331-b5ef-3e689927a26b","name":"Company as in Notion","value":"={{ $json['Company as in Notion'] }}","type":"string"},{"id":"5edfc9bd-f5f8-49ae-9ead-bcd257cbed22","name":"Notion ID","value":"={{ $json['Notion ID'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2464,-544],"id":"9612b310-5018-44d2-b1ec-2c16bb4dc89d","name":"Create Variables"},{"parameters":{"method":"PUT","url":"=https://sheets.googleapis.com/v4/spreadsheets/1mmVcdIyaz-jfaRseG97pFPeh1OVeT9T11p87k31oG5M/values/{{ $json.replies[0].addSheet.properties.title }}!A1:F1?valueInputOption=RAW","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"range\": \"{{ $json.replies[0].addSheet.properties.title }}!A1:F1\",\n  \"majorDimension\": \"ROWS\",\n  \"values\": [\n    [\n      \"Name\",\n      \"Email\",\n      \"Company as in Notion\",\n      \"Notion ID\",\n      \"Days Active | {{ $now.format('MM-dd-yyyy') }}\",\n      \"Messages posted | {{ $now.format('MM-dd-yyyy') }}\"\n    ]\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2912,-528],"id":"9c5e1130-f360-44b9-b55f-632cebfd8c50","name":"Add Headers to New Sheet","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"fDxpMWdEItte31h1","name":"Google Sheets account 2"}}},{"parameters":{"documentId":{"__rl":true,"value":"1mmVcdIyaz-jfaRseG97pFPeh1OVeT9T11p87k31oG5M","mode":"list","cachedResultName":"Slack User to Company Mapping","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1mmVcdIyaz-jfaRseG97pFPeh1OVeT9T11p87k31oG5M/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1mmVcdIyaz-jfaRseG97pFPeh1OVeT9T11p87k31oG5M/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-2672,-544],"id":"8741ebdb-16f5-48d1-a762-e7ff60c5a566","name":"Reads Slack Google Sheet","credentials":{"googleSheetsOAuth2Api":{"id":"fDxpMWdEItte31h1","name":"Google Sheets account 2"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"={{ $('Create New sheet').item.json.spreadsheetId }}","mode":"id"},"sheetName":{"__rl":true,"value":"={{ $('Create New sheet').item.json.replies[0].addSheet.properties.sheetId }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"Email":"={{ $json.Email }}","Company as in Notion":"={{ $json['Company as in Notion'] }}","Name":"={{ $json.Name }}","Notion ID":"={{ $json['Notion ID'] }}","Days Active | 08-29-2025":"={{ $json['Days active'] }}","Messages posted | 08-29-2025":"={{ $json['Messages posted'] }}"},"matchingColumns":[],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Company as in Notion","displayName":"Company as in Notion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Notion ID","displayName":"Notion ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Days Active | 08-29-2025","displayName":"Days Active | 08-29-2025","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Messages posted | 08-29-2025","displayName":"Messages posted | 08-29-2025","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-1824,-528],"id":"2e3b786a-835c-407a-b8f7-0ef2764ffa60","name":"Writes All Combined Data","credentials":{"googleSheetsOAuth2Api":{"id":"fDxpMWdEItte31h1","name":"Google Sheets account 2"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"GPT-4.1"},"messages":{"values":[{"content":"=output a the date range from this title:\n\ntitle:  {{ $json.name }}\n\nOutput the date range in the following format: MM-dd-yy - MM-dd-yy\n\nONLY OUT PUT THE DATE FORMAT AND NOTHING ELSE"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-3648,-544],"id":"ff9fd36c-33a7-47e5-a5bc-1a06586d136b","name":"Pull Date from Slack Analytic","credentials":{"openAiApi":{"id":"5Ods8kFLAhbAPcNj","name":"OpenAi account 2"}}},{"parameters":{"jsCode":"// 1) Pull in all incoming items as plain JSON\nconst rows = $input.all().map(item => item.json);\n\n// 2) Locate the dynamic \"Days Active\" field (e.g. \"Days Active | 06-06-2025\")\nconst dayKey = Object.keys(rows[0]).find(k => k.startsWith('Days Active')) || 'Days Active';\n\n// 3) Filter out any row with days ≤ 0\nconst positiveRows = rows.filter(row => {\n  const days = parseInt(row[dayKey].replace(/\\D/g, ''), 10) || 0;\n  return days > 0;\n});\n\n// 4) Reduce into a map: company → { days: <number>, row: <object> }\nconst bestPerCompany = positiveRows.reduce((acc, row) => {\n  const company = row['Company as in Notion'];\n  const days = parseInt(row[dayKey].replace(/\\D/g,''), 10);\n\n  // if unseen or this one has more days, keep it\n  if (!acc[company] || days > acc[company].days) {\n    acc[company] = { days, row };\n  }\n  return acc;\n}, {});\n\n// 5) Build your output array of just the winning rows\nconst output = Object.values(bestPerCompany).map(({ row }) => ({ json: row }));\n\n// 6) Return so downstream nodes see each as one item\nreturn output;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1504,-528],"id":"315268de-71bb-4e38-aef4-8886cb9af2fc","name":"Select Most Active User per Company"},{"parameters":{"resource":"databasePage","operation":"update","pageId":{"__rl":true,"value":"={{ $json['Notion ID'] }}","mode":"id","__regex":"^([0-9a-f]{8}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{12})"},"propertiesUi":{"propertyValues":[{"key":"Slack Interact?|checkbox","checkboxValue":true}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-1120,-528],"id":"6208b83b-d66b-4ac1-a800-e12901ccd48c","name":"Update a database page1","executeOnce":false,"credentials":{"notionApi":{"id":"l2nKJRGnfu2CHdp9","name":"Notion account"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"C07RM9242NA","mode":"list","cachedResultName":"automation"},"text":"Slack --> Notion Member Analytics WorkFlow Error: Google Sheets Page Already Exists","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[-3056,-432],"id":"70764c6b-1464-4541-b027-5180954952a3","name":"Send a message","webhookId":"e0b1cda9-d423-4ad4-aa6d-9726320c3d99","credentials":{"slackApi":{"id":"gfXOpaJn4CTfHtfV","name":"Slack account 2"}}}],"connections":{"Google Drive Trigger":{"main":[[{"node":"Google Drive","type":"main","index":0},{"node":"Pull Date from Slack Analytic","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Writes All Combined Data","type":"main","index":0}]]},"Create New sheet":{"main":[[{"node":"Add Headers to New Sheet","type":"main","index":0}],[{"node":"Send a message","type":"main","index":0}]]},"Create Variables":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Add Headers to New Sheet":{"main":[[{"node":"Reads Slack Google Sheet","type":"main","index":0}]]},"Reads Slack Google Sheet":{"main":[[{"node":"Create Variables","type":"main","index":0}]]},"Writes All Combined Data":{"main":[[{"node":"Select Most Active User per Company","type":"main","index":0}]]},"Pull Date from Slack Analytic":{"main":[[{"node":"Create New sheet","type":"main","index":0}]]},"Select Most Active User per Company":{"main":[[{"node":"Update a database page1","type":"main","index":0}]]},"Update a database page1":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Google Drive Trigger":{"lastTimeChecked":"2025-09-24T22:20:51Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9f08c513-2329-45df-bf04-b6a62b3ab479","triggerCount":1,"shared":[{"createdAt":"2025-04-04T09:06:06.423Z","updatedAt":"2025-04-04T09:06:06.423Z","role":"workflow:owner","workflowId":"aCwy2VEQhH5kXm6O","projectId":"rK7zA1bjW8OF89eO"}],"tags":[]}