test---backup-to-github-iNRjLCGI7L3SQSny.json
{"createdAt":"2025-09-16T20:24:43.858Z","updatedAt":"2025-09-16T20:24:43.858Z","id":"iNRjLCGI7L3SQSny","name":"Test - Backup to Github","active":false,"isArchived":false,"nodes":[{"parameters":{},"name":"Cron","type":"n8n-nodes-base.cron","typeVersion":1,"position":[0,0],"id":"082c2115-cb7c-4834-8c6a-f97f19b7c0fe"},{"parameters":{"authentication":"basicAuth","url":"http://10.0.0.230:5678/rest/workflows","allowUnauthorizedCerts":true,"options":{}},"name":"Get All Workflows","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[208,0],"id":"3cfbb8da-8515-4ca0-9130-d1e3b57adc89"},{"parameters":{"options":{}},"name":"Split Workflows","type":"n8n-nodes-base.itemLists","typeVersion":1,"position":[400,0],"id":"86bda403-2355-44fe-a9ec-f21f5a03f73c"},{"parameters":{"authentication":"basicAuth","url":"http://localhost:5678/rest/workflows/{{$json[\"id\"]}}","options":{}},"name":"Get Single Workflow JSON","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[608,0],"id":"6270ebcf-be8f-494c-b3ae-7d0d85c59bdf"},{"parameters":{"functionCode":"return [{\n  json: {\n    filename: `${$json.name}.json`,\n    content: Buffer.from(JSON.stringify($json)).toString('base64')\n  }\n}];"},"name":"Format for GitHub","type":"n8n-nodes-base.function","typeVersion":1,"position":[800,0],"id":"b4ffe03e-8b07-4fdb-94b1-49dd39c19909"},{"parameters":{"authentication":"headerAuth","url":"=https://api.github.com/repos/GITHUB_USERNAME/REPO_NAME/contents/n8n-backups/2025-05-24/{{$json[\"filename\"]}}","options":{}},"name":"Upload to GitHub","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[1008,0],"id":"323f9860-966d-4631-9038-daf9810b033f"}],"connections":{"Cron":{"main":[[{"node":"Get All Workflows","type":"main","index":0}]]},"Get All Workflows":{"main":[[{"node":"Split Workflows","type":"main","index":0}]]},"Split Workflows":{"main":[[{"node":"Get Single Workflow JSON","type":"main","index":0}]]},"Get Single Workflow JSON":{"main":[[{"node":"Format for GitHub","type":"main","index":0}]]},"Format for GitHub":{"main":[[{"node":"Upload to GitHub","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"a76c24c7-5b5e-45af-84c3-a8146ea4786e","triggerCount":0,"shared":[{"createdAt":"2025-09-16T20:24:43.858Z","updatedAt":"2025-09-16T20:24:43.858Z","role":"workflow:owner","workflowId":"iNRjLCGI7L3SQSny","projectId":"oeHwV8sNrbPNhUov"}],"tags":[]}