voiceflow---load-state-a7FFwGitgDjNefTn.json
{"createdAt":"2025-10-06T11:32:14.906Z","updatedAt":"2025-10-06T11:42:01.473Z","id":"a7FFwGitgDjNefTn","name":"VoiceFlow - Load State","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"PUT","path":"loadState","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-96,-16],"id":"1f02a692-971d-4461-832f-615b3e6bac5d","name":"Webhook","webhookId":"87571d80-c493-4772-88e3-cc02cc584539"},{"parameters":{"method":"PUT","url":"https://general-runtime.voiceflow.com/state/user/1757426002273x159287446145616860","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"VF.DM.68df79e67acb45b82dd40438.j1zajuKZ2ztObaQR"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"data_binary","value":"={{ JSON.stringify($json.state) }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[528,0],"id":"f8d1560c-7942-4878-9cca-8515c1e951ca","name":"Load state"},{"parameters":{"operation":"get","tableId":"nurture_email_chats","filters":{"conditions":[{"keyName":"client_id","keyValue":"={{ $json.body.clientId }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[176,0],"id":"4d9e00ac-1ff5-4cce-9633-ca7e5ff8b123","name":"Get a row","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}}],"connections":{"Webhook":{"main":[[{"node":"Get a row","type":"main","index":0}]]},"Get a row":{"main":[[{"node":"Load state","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9d959f14-ff12-412f-b45e-7f86802ff4dc","triggerCount":1,"shared":[{"createdAt":"2025-10-06T11:32:14.906Z","updatedAt":"2025-10-06T11:32:14.906Z","role":"workflow:owner","workflowId":"a7FFwGitgDjNefTn","projectId":"oeHwV8sNrbPNhUov"}],"tags":[]}