welcome-sequence-sO8CTnltr10uGV5J.json
{"createdAt":"2025-09-22T08:33:37.665Z","updatedAt":"2025-10-16T07:38:39.403Z","id":"sO8CTnltr10uGV5J","name":"Welcome Sequence","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"get","tableId":"v_complete_client_context","filters":{"conditions":[{"keyName":"client_id","keyValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-144,-224],"id":"ebb82472-01ed-4edc-ab98-d51408009c88","name":"Get Client Complete Profile","executeOnce":false,"alwaysOutputData":false,"credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"promptType":"define","text":"=You are an expert email-marketing strategist specialized in welcome sequences.  \nGenerate a complete, high-converting 5-email welcome sequence that strictly follows the provided Playbook and the client data.\n\n## Inputs\nPLAYBOOK_TEXT = {{ $json.text }}\nCLIENT_DATA_JSON = {{ JSON.stringify($('Get Client Complete Profile').item.json) }}\n\n## What to produce\nReturn a single JSON object with the complete 5-email sequence, each email containing subject, preview, timing (days after subscription), body, and CTAs.\n\n### Output JSON format\n{\n  \"sequence_meta\": {\n    \"business_name\": \"string\",\n    \"business_type\": \"string\",\n    \"industry\": \"string\",\n    \"target_summary\": \"string\",\n    \"primary_cta\": \"string\"\n  },\n  \"emails\": [\n    {\n      \"number\": 1,\n      \"purpose\": \"Problem acknowledgment & solution intro\",\n      \"subject\": \"string (<=50 chars)\",\n      \"preview\": \"string (~90–130 chars)\",\n      \"send_day_offset\": 0,\n      \"body_html\": \"<p>...</p>\",\n      \"cta\": {\n        \"text\": \"string\",\n        \"url\": \"string\",\n        \"reply_option_text\": \"string\"\n      }\n    },\n    { \"number\": 2, ... },\n    { \"number\": 3, ... },\n    { \"number\": 4, ... },\n    { \"number\": 5, ... }\n  ],\n  \"ab_testing\": {\n    \"subject_line_variations\": [[\"E1\",\"...\"],[\"E2\",\"...\"],[\"E3\",\"...\"],[\"E4\",\"...\"],[\"E5\",\"...\"]],\n    \"notes\": \"brief recommendations for A/B tests\"\n  },\n  \"qa_scorecard\": {\n    \"structural_validation\": true,\n    \"voice_consistency\": true,\n    \"objection_coverage\": true,\n    \"benefit_over_feature_ratio\": \">=1.5:1\",\n    \"mobile_readability\": true,\n    \"spam_safety_notes\": \"string\"\n  }\n}\n\n## Mandatory framework & rules (from Playbook)\n1. Sequence structure:\n   1) Problem acknowledgment & solution intro  \n   2) Social proof & transformation story  \n   3) Company intro & differentiation  \n   4) Process explanation & competitive advantage  \n   5) Strong CTA & appropriate urgency\n2. Voice & style: use CLIENT_DATA_JSON.voice, be conversational, mobile-friendly, avoid em-dashes, short paragraphs, every email has a CTA.\n3. Content specifics:  \n   - E1: pain amplification + soft CTA  \n   - E2: one crisp success story with a direct quote  \n   - E3: founder/company “why” + 3–4 differentiators  \n   - E4: numbered 4–6 step methodology, “Most do X, we do Y” contrast  \n   - E5: recap value, urgency (timing/capacity/market), clear next step + risk reducer\n4. Technical: subjects ≤50 chars, previews 90–130 chars, body length ~350–600 words, include link CTA + reply option.\n5. QA: validate structure, benefits > features, objections handled, mobile readability, spam-safe wording, timing offsets applied (or use CLIENT_DATA_JSON.sequence_config.timing_intervals if provided).\n\n## Process\n1. Internalize PLAYBOOK_TEXT.  \n2. Parse CLIENT_DATA_JSON. If info missing, make reasonable assumptions.  \n3. Classify business type/industry for tone and CTA strength.  \n4. Map pain points → emotional scenarios; pick best success story; translate features → outcomes.  \n5. Generate 5 emails following framework and style rules.  \n6. Run QA and output exactly in the JSON structure above (no extra commentary).\n\nReturn only the JSON object.","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[448,-240],"id":"ad7085d9-90f2-4515-9c4d-15b532a55e7e","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-5-mini","mode":"list","cachedResultName":"gpt-5-mini"},"options":{"timeout":300000}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[448,-32],"id":"4e632ba3-4a68-4b28-b880-482921e174ca","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{"operation":"update","tableId":"welcome_sequence","filters":{"conditions":[{"keyName":"client_id","condition":"eq","keyValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"emails","fieldValue":"={{ $json.output }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[928,128],"id":"377b2718-8c1c-4012-a3bd-4e25b4a1a642","name":"Update a row","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0b01e0ec-c766-4b22-9f4a-9c95f327539e","leftValue":"={{ $json.Overwrite }}","rightValue":"no","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-512,-192],"id":"fd425347-5533-4b19-8c18-5b5e9da9b9af","name":"If","alwaysOutputData":false},{"parameters":{"tableId":"welcome_sequence","fieldsUi":{"fieldValues":[{"fieldId":"client_id","fieldValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"},{"fieldId":"emails","fieldValue":"={{ $json.output }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[832,-256],"id":"a95f1f7b-a98f-4cf0-a312-d7fee6d21a44","name":"Create a row","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}},"onError":"continueErrorOutput"},{"parameters":{"workflowInputs":{"values":[{"name":"client_id"},{"name":"Overwrite"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-848,-208],"id":"e28b689b-4500-4a2b-8aa5-98ede1631d87","name":"When Executed by Another Workflow"},{"parameters":{"url":"=https://jwehqqyzlbpolkfkjhai.storage.supabase.co/storage/v1/object/welcomeSequence/playbook.pdf","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[64,-240],"id":"ea3f51d8-e939-425b-9e64-60ea7fb3c6a7","name":"Get PlayBook.pdf","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[256,-240],"id":"f3f156f8-1630-476e-82ac-a55786827ad6","name":"Extract from File"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"sequence_meta\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"business_name\": { \"type\": \"string\" },\n        \"business_type\": { \"type\": \"string\" },\n        \"industry\": { \"type\": \"string\" },\n        \"target_summary\": { \"type\": \"string\" },\n        \"primary_cta\": { \"type\": \"string\" }\n      },\n      \"required\": [\"business_name\", \"business_type\", \"industry\", \"primary_cta\"]\n    },\n    \"emails\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"number\": { \"type\": \"integer\" },\n          \"purpose\": { \"type\": \"string\" },\n          \"subject\": { \"type\": \"string\" },\n          \"preview\": { \"type\": \"string\" },\n          \"send_day_offset\": { \"type\": \"integer\" },\n          \"body_html\": { \"type\": \"string\" },\n          \"cta\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"text\": { \"type\": \"string\" },\n              \"url\": { \"type\": \"string\" },\n              \"reply_option_text\": { \"type\": \"string\" }\n            },\n            \"required\": [\"text\"]\n          }\n        },\n        \"required\": [\"number\", \"purpose\", \"subject\", \"preview\", \"send_day_offset\", \"body_html\", \"cta\"]\n      },\n      \"minItems\": 5\n    },\n    \"ab_testing\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"subject_line_variations\": {\n          \"type\": \"array\",\n          \"items\": {\n            \"type\": \"array\",\n            \"items\": { \"type\": \"string\" },\n            \"minItems\": 2,\n            \"maxItems\": 2\n          }\n        },\n        \"notes\": { \"type\": \"string\" }\n      },\n      \"required\": [\"subject_line_variations\"]\n    },\n    \"qa_scorecard\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"structural_validation\": { \"type\": \"boolean\" },\n        \"voice_consistency\": { \"type\": \"boolean\" },\n        \"objection_coverage\": { \"type\": \"boolean\" },\n        \"benefit_over_feature_ratio\": { \"type\": \"string\" },\n        \"mobile_readability\": { \"type\": \"boolean\" },\n        \"spam_safety_notes\": { \"type\": \"string\" }\n      },\n      \"required\": [\"structural_validation\", \"voice_consistency\", \"objection_coverage\"]\n    }\n  },\n  \"required\": [\"sequence_meta\", \"emails\", \"ab_testing\", \"qa_scorecard\"]\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[624,-32],"id":"2b6b5153-85c6-4154-a64a-a863ae3952ce","name":"Structured Output Parser"},{"parameters":{"method":"PATCH","url":"=https://lm-mvp-69101.bubbleapps.io/api/1.1/obj/user/{{ $('When Executed by Another Workflow').item.json.client_id }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"=emailSequenceCreated","value":"=yes"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1088,-256],"id":"73eb880d-a29c-496c-83da-f6ae0dc8e788","name":"PATCH Bubble | cheatSheetCreated","executeOnce":false,"credentials":{"httpBearerAuth":{"id":"HaB66UWZxLvho3WH","name":"Bubble API Key"}},"disabled":true},{"parameters":{"operation":"get","tableId":"v_complete_client_context","filters":{"conditions":[{"keyName":"client_id","keyValue":"={{ $('When Executed by Another Workflow').item.json.client_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-48,128],"id":"1cc9913c-8eab-4464-8651-18aec535353e","name":"Get Client Complete Profile1","executeOnce":false,"alwaysOutputData":false,"credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"promptType":"define","text":"=You are an expert email-marketing strategist specialized in welcome sequences.  \nGenerate a complete, high-converting 5-email welcome sequence that strictly follows the provided Playbook and the client data.\n\n## Inputs\nPLAYBOOK_TEXT = {{ $json.text }}\nCLIENT_DATA_JSON = {{ JSON.stringify($('Get Client Complete Profile1').item.json) }}\n\n## What to produce\nReturn a single JSON object with the complete 5-email sequence, each email containing subject, preview, timing (days after subscription), body, and CTAs.\n\n### Output JSON format\n{\n  \"sequence_meta\": {\n    \"business_name\": \"string\",\n    \"business_type\": \"string\",\n    \"industry\": \"string\",\n    \"target_summary\": \"string\",\n    \"primary_cta\": \"string\"\n  },\n  \"emails\": [\n    {\n      \"number\": 1,\n      \"purpose\": \"Problem acknowledgment & solution intro\",\n      \"subject\": \"string (<=50 chars)\",\n      \"preview\": \"string (~90–130 chars)\",\n      \"send_day_offset\": 0,\n      \"body_html\": \"<p>...</p>\",\n      \"cta\": {\n        \"text\": \"string\",\n        \"url\": \"string\",\n        \"reply_option_text\": \"string\"\n      }\n    },\n    { \"number\": 2, ... },\n    { \"number\": 3, ... },\n    { \"number\": 4, ... },\n    { \"number\": 5, ... }\n  ],\n  \"ab_testing\": {\n    \"subject_line_variations\": [[\"E1\",\"...\"],[\"E2\",\"...\"],[\"E3\",\"...\"],[\"E4\",\"...\"],[\"E5\",\"...\"]],\n    \"notes\": \"brief recommendations for A/B tests\"\n  },\n  \"qa_scorecard\": {\n    \"structural_validation\": true,\n    \"voice_consistency\": true,\n    \"objection_coverage\": true,\n    \"benefit_over_feature_ratio\": \">=1.5:1\",\n    \"mobile_readability\": true,\n    \"spam_safety_notes\": \"string\"\n  }\n}\n\n## Mandatory framework & rules (from Playbook)\n1. Sequence structure:\n   1) Problem acknowledgment & solution intro  \n   2) Social proof & transformation story  \n   3) Company intro & differentiation  \n   4) Process explanation & competitive advantage  \n   5) Strong CTA & appropriate urgency\n2. Voice & style: use CLIENT_DATA_JSON.voice, be conversational, mobile-friendly, avoid em-dashes, short paragraphs, every email has a CTA.\n3. Content specifics:  \n   - E1: pain amplification + soft CTA  \n   - E2: one crisp success story with a direct quote  \n   - E3: founder/company “why” + 3–4 differentiators  \n   - E4: numbered 4–6 step methodology, “Most do X, we do Y” contrast  \n   - E5: recap value, urgency (timing/capacity/market), clear next step + risk reducer\n4. Technical: subjects ≤50 chars, previews 90–130 chars, body length ~350–600 words, include link CTA + reply option.\n5. QA: validate structure, benefits > features, objections handled, mobile readability, spam-safe wording, timing offsets applied (or use CLIENT_DATA_JSON.sequence_config.timing_intervals if provided).\n\n## Process\n1. Internalize PLAYBOOK_TEXT.  \n2. Parse CLIENT_DATA_JSON. If info missing, make reasonable assumptions.  \n3. Classify business type/industry for tone and CTA strength.  \n4. Map pain points → emotional scenarios; pick best success story; translate features → outcomes.  \n5. Generate 5 emails following framework and style rules.  \n6. Run QA and output exactly in the JSON structure above (no extra commentary).\n\nReturn only the JSON object.","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[592,128],"id":"22aad5ed-b902-4450-b3e6-c71537b1af36","name":"AI Agent1"},{"parameters":{"model":{"__rl":true,"value":"gpt-5-mini","mode":"list","cachedResultName":"gpt-5-mini"},"options":{"timeout":300000}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[592,336],"id":"709c6e88-a217-43bd-9766-6f17f6e28713","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"wWUuB0CG0kTKBAtS","name":"OpenAi account | Lean Marketing"}}},{"parameters":{"url":"=https://jwehqqyzlbpolkfkjhai.storage.supabase.co/storage/v1/object/welcomeSequence/playbook.pdf","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[208,128],"id":"94c66d00-af4f-4228-b7a9-a70262ef7690","name":"Get PlayBook.pdf1","credentials":{"supabaseApi":{"id":"kTiEQ3ANtMyyNLPu","name":"Supabase account"}}},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[400,128],"id":"861b6082-ed62-45aa-81da-c9facde91d07","name":"Extract from File1"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"sequence_meta\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"business_name\": { \"type\": \"string\" },\n        \"business_type\": { \"type\": \"string\" },\n        \"industry\": { \"type\": \"string\" },\n        \"target_summary\": { \"type\": \"string\" },\n        \"primary_cta\": { \"type\": \"string\" }\n      },\n      \"required\": [\"business_name\", \"business_type\", \"industry\", \"primary_cta\"]\n    },\n    \"emails\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"number\": { \"type\": \"integer\" },\n          \"purpose\": { \"type\": \"string\" },\n          \"subject\": { \"type\": \"string\" },\n          \"preview\": { \"type\": \"string\" },\n          \"send_day_offset\": { \"type\": \"integer\" },\n          \"body_html\": { \"type\": \"string\" },\n          \"cta\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"text\": { \"type\": \"string\" },\n              \"url\": { \"type\": \"string\" },\n              \"reply_option_text\": { \"type\": \"string\" }\n            },\n            \"required\": [\"text\"]\n          }\n        },\n        \"required\": [\"number\", \"purpose\", \"subject\", \"preview\", \"send_day_offset\", \"body_html\", \"cta\"]\n      },\n      \"minItems\": 5\n    },\n    \"ab_testing\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"subject_line_variations\": {\n          \"type\": \"array\",\n          \"items\": {\n            \"type\": \"array\",\n            \"items\": { \"type\": \"string\" },\n            \"minItems\": 2,\n            \"maxItems\": 2\n          }\n        },\n        \"notes\": { \"type\": \"string\" }\n      },\n      \"required\": [\"subject_line_variations\"]\n    },\n    \"qa_scorecard\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"structural_validation\": { \"type\": \"boolean\" },\n        \"voice_consistency\": { \"type\": \"boolean\" },\n        \"objection_coverage\": { \"type\": \"boolean\" },\n        \"benefit_over_feature_ratio\": { \"type\": \"string\" },\n        \"mobile_readability\": { \"type\": \"boolean\" },\n        \"spam_safety_notes\": { \"type\": \"string\" }\n      },\n      \"required\": [\"structural_validation\", \"voice_consistency\", \"objection_coverage\"]\n    }\n  },\n  \"required\": [\"sequence_meta\", \"emails\", \"ab_testing\", \"qa_scorecard\"]\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[768,336],"id":"47cddb13-7f83-4591-bf81-2a9885f4876b","name":"Structured Output Parser1"}],"connections":{"Get Client Complete Profile":{"main":[[{"node":"Get PlayBook.pdf","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Create a row","type":"main","index":0}]]},"Update a row":{"main":[[]]},"If":{"main":[[{"node":"Get Client Complete Profile","type":"main","index":0}],[{"node":"Get Client Complete Profile1","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"If","type":"main","index":0}]]},"Get PlayBook.pdf":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Create a row":{"main":[[{"node":"PATCH Bubble | cheatSheetCreated","type":"main","index":0}],[{"node":"Update a row","type":"main","index":0}]]},"Get Client Complete Profile1":{"main":[[{"node":"Get PlayBook.pdf1","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Get PlayBook.pdf1":{"main":[[{"node":"Extract from File1","type":"main","index":0}]]},"Extract from File1":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"AI Agent1","type":"ai_outputParser","index":0}]]},"AI Agent1":{"main":[[{"node":"Update a row","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"Say8YWSN0KVBjGyp"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"client_id":"1650987991917x277951650850529760","Overwrite":"no"}}]},"versionId":"9813b63e-a59a-4e44-a608-3b8509208afa","triggerCount":1,"shared":[{"createdAt":"2025-09-22T08:33:37.665Z","updatedAt":"2025-09-22T08:33:37.665Z","role":"workflow:owner","workflowId":"sO8CTnltr10uGV5J","projectId":"oeHwV8sNrbPNhUov"}],"tags":[]}